<div id="basket-contents" class="clearfix">
	{% if basket.products|length > 0 %}
        <table class="data-table" width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <th class="tal" colspan="1">Product</th>
                <th class="tac">Qty</th>
                <th class="tac">Price</th>
            </tr>
            {% for product in basket.products %}
                <tr>
                    <td class="tal">
                        <span class="uppercase{% if (product.deliveryBand == 6) and (basket.delivery.service == '') %} class="background-red colour-white"{% endif %}">{{ product.header }}</span>
                        {% if product.selectedOptionLabels|length > 0 %}
                            <br />
                            {% for selectedOptionLabel in product.selectedOptionLabels %}
                                {{ selectedOptionLabel|raw }}{% if not loop.last %}<br />{% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                    <td width="1" class="tac{% if product.quantity > 1 %} gradient-turquoise colour-white{% endif %}">{{ product.quantity }}</td>
                    <td width="1" class="tac">{{ product.subTotal|currency('GBP', false, true, '')|raw }}</td>
                </tr>
                {% if (product.deliveryBand == 6) and (basket.delivery.service == '') %}
                    <tr>
                        <td colspan="8">
                            <div class="info-message ui-status-highlight no-margin">
                                <span class="info-message-icon ui-icon ui-icon-info"></span>
                                <p>Sorry, we are currently unable to deliver large worktop products to your selected delivery area. We can deliver all our other products to your selected delivery area. Please remove products highlighted in <span clas="red">RED</span> to continue with your order for delivery.</p>
                                <div class="clear"></div>
                            </div>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
	{% else %}
		<p>Sorry, you haven't added anything to your basket.</p>
	{% endif %}
</div>
<div class="clearfix mbm mts small colour-grey">
    [<a href="{{ path('basket_your_basket') }}" class="small colour-grey">Edit Order</a>]
</div>
<div id="basket-totals" class="clearfix">
    <table class="mbm" width="100%" cellpadding="0" cellspacing="0" border="0">
        <tr>
            <td class="tar"><strong>Subtotal (inc. VAT):</strong></td>
            <td width="1" class="colour-red tar"><strong>{{ basket.totals.subTotal|currency('GBP', false, true, '')|raw }}</strong></td>
        </tr>
        {% if basket.delivery.service != '' %}
            <tr>
                <td class="tar"><strong>Delivery Charge (inc. VAT):</strong><br /><div class="mts small colour grey">[<a class="action-change-delivery small colour-grey" href="Javascript:void(0);">Change Delivery</a>]</div></td>
                {% if basket.totals.deliveryCharge > 0 %}
                    <td width="1" class="vam colour-red tar">{{ basket.totals.deliveryCharge|currency('GBP', false, true, '')|raw }}<input type="hidden" id="delivery-charge" value="{{ basket.totals.deliveryCharge|currency('GBP', false, true, '')|raw }}" /></td>
                {% else %}
                    {% if basket.delivery.service == 'Collection' %}
                        <td width="1" class="vam colour-green tar">COLLECTION<input type="hidden" id="delivery-charge" value="COLLECTION" /></td>
                    {% else %}
                        <td width="1" class="vam colour-green tar">FREE<input type="hidden" id="delivery-charge" value="FREE" /></td>
                    {% endif %}
                {% endif %}
            </tr>
            <tr class="ui-helper-hidden">
                <td colspan="2">
                    <div id="delivery-options-container" class="ui-corner-all">
                        <div id="delivery-options-loading" class="tac ui-helper-hidden clearfix">
                            <img src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" />
                            <p>Loading your delivery options&hellip;</p>
                            <div class="clear"></div>
                        </div>
                        <div id="delivery-options" class="clearfix">
                            {% for deliveryOption in basket.delivery.deliveryOptions %}
                                <div data-delivery-option="{{ loop.index }}" class="form-element mlm delivery-option widget-group clearfix">
                                    <span title="{{ deliveryOption.description|raw }}" class="form-helper pbn ui-button-icon-primary ui-icon-small icon-small-763"></span>
                                    <div class="widget radio-group man widget-1-of-1">
                                        <div class="clearfix">
                                            <input{% if basket.delivery.service == deliveryOption.service %} checked="checked"{% endif %} type="radio" id="deliveryOption{{ loop.index }}" name="delivery-option" value="{{ deliveryOption.service }}" />
                                            <label for="deliveryOption{{ loop.index }}">
                                                <span class="delivery-service">{{ deliveryOption.service|replace({'FREE DELIVERY': '<span class="colour-green"><strong>FREE DELIVERY</strong></span>', 'Collection': 'Collection from Nottingham Shop'})|raw }}{% if deliveryOption.price != 0 %} - <span class="colour-red"><strong>{{ deliveryOption.price|currency('GBP', true, true, '')|raw }}</strong></span>{% endif %}</span>
                                                {% if deliveryOption.surcharge > 0 %}
                                                    <br /><span class="colour-red">{{ deliveryOption.surchargeDescription|raw }}</span>
                                                {% endif %}
                                                <br /><span class="small"><em>{% if deliveryOption.estimatedDeliveryDaysStart > 0 %}({{ deliveryOption.estimatedDeliveryDaysStart }} - {{ deliveryOption.estimatedDeliveryDaysEnd }} working days){% else %}(We will contact you when your order is ready){% endif %}</em></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            {% else %}
                                <div class="message message-warning">
                                    <span class="ui-button-icon-primary ui-icon icon-yellow icon-695"></span>
                                    <p>Sorry, there are no delivery options available.</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </td>
            </tr>
        {% endif %}
        {% if basket.donations|length > 0 %}
            {% for donationType, donation in basket.donations %}
                {% if donation.donation > 0 %}
                    <tr>
                        <td class="vam tar no-wrap">{% if donationType == 'customer' %}<img data-donation="0" class="pointer action-make-donation margin-right-10" src="{{ asset('/bundles/webilluminationshop/images/icons/error-small.png') }}" border="0" height="12" alt="remove Donation" />{% endif %}<img class="movember-offer margin-right-10" src="{{ asset('bundles/webilluminationshop/images/logos/movember-offer.png') }}" border="0" alt="Movember Offer" height="10" /><strong>{{ donation.description }}:</strong></td>
                        <td width="1" class="vam colour-green tar">{{ donation.donation|currency('GBP', false, true, '')|raw }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if basket.totals.discount > 0 %}
            <tr>
                <td class="vam tar"><strong>Today You are Saving:</strong></td>
                <td width="1" class="vam colour-green tar">{{ basket.totals.discount|currency('GBP', false, true, '')|raw }}</td>
            </tr>
        {% endif %}
        <tr class="product">
            <td class="tar vam"><strong>TOTAL TO PAY (inc. VAT):</strong></td>
            <td width="180" class="vam price colour-red no-wrap tar"><strong>{{ basket.totals.total|currency('GBP', true, true, '')|raw }}</strong></td>
        </tr>
    </table>
    <div class="clear"></div>
    {% if basket.delivery.service == '' %}
        <div class="message message-warning">
            <span class="ui-button-icon-primary ui-icon icon-white icon-695"></span>
            <p class="tal">Sorry, we are currently unable to deliver the selected items to your area.</p>
        </div>
    {% endif %}
    {% if 'Pallet' in basket.delivery.service %}
        <div class="delivery-information product">
            <img class="fr mbm mlm" width="100" src="{{ asset('/bundles/kacsite/images/pallet-delivery.png') }}" border="0" alt="Pallet Delivery" />
            <p>You have selected a <strong>PALLET</strong> delivery. Our pallet deliveries are subcontracted out to palletised carrier companies who use tail-lifts to lower pallets to ground level, before manoeuvring them into place with pallet trucks. In order to achieve this, you must ensure there is a hard flat surface outside your property free from grass, gravel or uneven paving. It is your responsibility to advise us of any delivery restrictions prior to goods being despatched.</p>
            <ul class="tick-list mtn pbm">
                <li>Is access to your property suitable; not just your drive but also any roads approaching your property (weight limit restrictions, narrow lanes, etc)? Can a refuse lorry or fire engine gain access to your property easily?</li>
                <li>Is the allocated drop off point on a flat level surface free from grass, gravel, uneven paving etc?</li>
                <li>If ground or access is unsuitable, pallets may be left on the roadside or kerbside at the drivers discretion.</li>
                <li>Will you (or a designated individual) be available to sign for the goods and be contactable on the contact number supplied?</li>
            </ul>
            <p>We do offer other delivery methods that you can select by <a class="action-change-delivery colour-grey" href="Javascript:void(0);">clicking here</a>.</p>
            <p>By placing the order you understand and agree that your order will be off-loaded using a tail-lift (not a crane) and you have a flat level surface free from grass or gravel as set out in our <a class="colour-grey" target="_blank" href="{{ path('content_terms_and_conditions') }}">Terms and Conditions</a>.</p>
        </div>
    {% endif %}
</div>