<div id="basket-contents" class="clearfix">
	{% if basket.products|length > 0 %}
		<table class="data-table mbm" width="100%" cellpadding="0" cellspacing="0" border="0">
			{% for product in basket.products %}
				<tr>
					<th colspan="6">
						<a href="{{ path('routing', {'url': product.url}) }}">{{ product.header }}</a>
						{% if product.selectedOptionLabels|length > 0 %}
							<br />
							{% for selectedOptionLabel in product.selectedOptionLabels %}
								{{ selectedOptionLabel|raw }}{% if not loop.last %}<br />{% endif %}
							{% endfor %}
						{% endif %}
					</th>
				</tr>
				<tr>
					<td class="tac{% if product.quantity > 1 %} gradient-turquoise colour-white{% endif %}">{{ product.quantity }}</td>
					<td class="tac">&times;</td>
					<td class="tac">{% if product.recommendedRetailPrice > product.unitCost %}<span class="colour-red strikethrough">{{ product.recommendedRetailPrice|currency('GBP', true, true, '')|raw }}</span><br /><span class="colour-green"><strong>{{ product.unitCost|currency('GBP', true, true, '')|raw }}</strong></span>{% else %}{{ product.unitCost|currency('GBP', true, true, '')|raw }}{% endif %}</td>
					<td class="tac">=</td>
					<td class="tar">{{ product.subTotal|currency('GBP', true, true, '')|raw }}</td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p>Sorry, you haven't added anything to your basket.</p>
	{% endif %}
</div>
<div id="basket-totals" class="clearfix">
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<td class="al"><strong>Subtotal before Delivery:</strong><br /><span class="small">(inc. VAT)</span></td>
			<td width="150" class="colour-red tar"><strong>{{ basket.totals.subTotal|currency('GBP', true, true, '')|raw }}</strong></td>
		</tr>
		{% if basket.delivery.service != '' %}
			<tr>
				<td class="al"><strong>Delivery Charge:</strong><br /><span class="small">(inc. VAT)</span></td>
				<td width="150" class="tar">&nbsp;</td>
			</tr>
			<tr>
				<td colspan="2">
					<div id="delivery-options-loading" class="tac ui-helper-hidden clearfix">
						<img src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" />
						<p>Loading your delivery options&hellip;</p>
						<div class="clear"></div>
					</div>					
					<div id="delivery-options" class="clearfix">
                        {% for deliveryOption in basket.delivery.deliveryOptions %}
                            <div data-delivery-option="{{ loop.index }}" class="form-element mlm delivery-option widget-group clearfix">
                                <span title="{{ deliveryOption.description|raw }}" class="form-helper pbn ui-button-icon-primary ui-icon-small icon-small-763"></span>
                                <div class="widget radio-group man widget-1-of-1">
                                    <div class="clearfix">
                                        <input{% if basket.delivery.service == deliveryOption.service %} checked="checked"{% endif %} type="radio" id="deliveryOption{{ loop.index }}" name="delivery-option" value="{{ deliveryOption.service }}" />
                                        <label for="deliveryOption{{ loop.index }}">
                                            <span class="delivery-service">{{ deliveryOption.service|replace({'FREE DELIVERY': '<span class="colour-green"><strong>FREE DELIVERY</strong></span>', 'Collection': 'Collection from Nottingham Shop'})|raw }}{% if deliveryOption.price != 0 %} - <span class="colour-red"><strong>{{ deliveryOption.price|currency('GBP', true, true, '')|raw }}</strong></span>{% endif %}</span>
                                            {% if deliveryOption.surcharge > 0 %}
                                                <br /><span class="colour-red">{{ deliveryOption.surchargeDescription|raw }}</span>
                                            {% endif %}
                                            <br /><span class="small"><em>{% if deliveryOption.estimatedDeliveryDaysStart > 0 %}({{ deliveryOption.estimatedDeliveryDaysStart }} - {{ deliveryOption.estimatedDeliveryDaysEnd }} working days){% else %}&nbsp;{% endif %}</em></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="message message-warning">
                                <span class="ui-button-icon-primary ui-icon icon-yellow icon-695"></span>
                                <p>Sorry, there are no delivery options available.</p>
                            </div>
                        {% endfor %}
					</div>
				</td>
			</tr>
		{% endif %}
		{% if basket.totals.discount > 0 %}
			<tr>
				<td class="tal"><strong>You Save:</strong></td>
				<td width="150" class="nowarp colour-green tar">{{ basket.totals.discount|currency('GBP', true, true, '')|raw }}</td>
			</tr>
		{% endif %}
		{% if basket.discounts|length > 0 %}
			{% for discount in basket.discounts %}
				{% if discount.discount > 0 %}
					<tr>
						<td class="tal small">{{ discount.description }}:</td>
						<td width="1" class="nowrap small tar colour-green">{{ discount.discount|currency('GBP', true, true, '')|raw }}</td>
					</tr>
				{% endif %}
			{% endfor %}
		{% endif %}
		<tr class="product">
			<td class="tal"><strong>TOTAL TO PAY:<br /></strong><span class="small">(inc. VAT)</span></td>
			<td width="150" class="nowrap price tar"><strong>{{ basket.totals.total|currency('GBP', true, true, '')|raw }}</strong></td>
		</tr>
	</table>
</div>