{% for deliveryOption in basket.delivery.deliveryOptions %}
    <div data-delivery-option="{{ loop.index }}" class="form-element mlm delivery-option widget-group clearfix">
        <span title="{{ deliveryOption.description|raw }}" class="form-helper pbn ui-button-icon-primary ui-icon-small icon-small-763"></span>
        <div class="widget radio-group man widget-1-of-1">
            <div class="clearfix">
                <input{% if basket.delivery.service == deliveryOption.service %} checked="checked"{% endif %} type="radio" id="deliveryOption{{ loop.index }}" name="delivery-option" value="{{ deliveryOption.service }}" />
                <label for="deliveryOption{{ loop.index }}">
                    <span class="delivery-service">{{ deliveryOption.service|replace({'FREE DELIVERY': '<span class="colour-green"><strong>FREE DELIVERY</strong></span>', 'Collection': 'Collection from Nottingham Shop'})|raw }}{% if deliveryOption.price != 0 %} - <span class="colour-red"><strong>{{ deliveryOption.price|currency('GBP', true, true, '')|raw }}</strong></span>{% endif %}</span>
                    {% if deliveryOption.surcharge > 0 %}
                        <br /><span class="colour-red">{{ deliveryOption.surchargeDescription|raw }}</span>
                    {% endif %}
                    <br /><span class="small"><em>{% if deliveryOption.estimatedDeliveryDaysStart > 0 %}({{ deliveryOption.estimatedDeliveryDaysStart }} - {{ deliveryOption.estimatedDeliveryDaysEnd }} working days){% else %}&nbsp;{% endif %}</em></span>
                </label>
            </div>
        </div>
    </div>
{% else %}
    <div class="message message-warning">
        <span class="ui-button-icon-primary ui-icon icon-yellow icon-695"></span>
        <p>Sorry, there are no delivery options available.</p>
    </div>
{% endfor %}
<script defer="defer" type="text/javascript">
	$(document).ready(function() {
        generateButtons($("#delivery-options"));
        generateFormElements($("#delivery-options"));
	});
</script>