<script defer="defer" type="text/javascript">

    function CapturePlusCallback(uid, response) {
        $.uniform.update();
    }

	{# Save order #}
	function saveOrder($paymentType)
	{
		var $sameDeliveryAddress = 0;
		if ($("#form-same-delivery-address-billing").is(":checked"))
		{
			$sameDeliveryAddress = 1;
            $("#form-delivery-first-name").removeAttr("required").removeAttr("data-message");
            $("#form-delivery-address-line-1").removeAttr("required").removeAttr("data-message");
            $("#form-delivery-town-city").removeAttr("required").removeAttr("data-message");
            $("#form-delivery-post-zip-code").removeAttr("required").removeAttr("data-message");
			$("#form-delivery-first-name").val($("#form-billing-first-name").val());
			$("#form-delivery-address-line-1").val($("#form-billing-address-line-1").val());
			$("#form-delivery-address-line-2").val($("#form-billing-address-line-2").val());
			$("#form-delivery-town-city").val($("#form-billing-town-city").val());
			$("#form-delivery-county-state").val($("#form-billing-county-state").val());
			$("#form-delivery-post-zip-code").val($("#form-billing-post-zip-code").val());
            $("#form-delivery-country-code").val($("#form-billing-country-code").val());
		}
		if (!$("#form-accept-terms-and-conditions").is(":checked"))
		{
			$("#message-error-text").html('To proceed you need to accept that you have read and agreed to our Terms and Conditions.');
			$("#message-error").slideDown(function() {
				setTimeout("resetMessages()", 5000);
			});
			$("html, body").animate({scrollTop: $("#form-accept-terms-and-conditions").offset().top - 50}, 'slow');
		} else {
			var saveOrderValidator = $("#checkout-details :input").validator({
                messageClass: 'inline-error'
			});
			if (saveOrderValidator.data("validator").checkValidity())
			{
				$.ajax({
	   				type: "POST",
	   				dataType: "json",
	   				url: "{{ path('checkout_ajax_save_order') }}",
	   				beforeSend: function() {
                        $("#order-processing-loading").show();
                        $("#proceeed-to-payment").removeClass("button-green icon-white").addClass("button-grey icon-black");
                        $("#proceeed-to-payment span.ui-button-text").html("Processing...");
					},
	   				data: {
	   					emailAddress: $("#form-email-address").val(),
	   					telephoneDaytime: $("#form-telephone-daytime").val(),
	   					telephoneEvening: $("#form-telephone-evening").val(),
	   					billingFirstName: $("#form-billing-first-name").val(),
	   					billingAddressLine1: $("#form-billing-address-line-1").val(),
	   					billingAddressLine2: $("#form-billing-address-line-2").val(),
	   					billingTownCity: $("#form-billing-town-city").val(),
						billingCountyState: $("#form-billing-county-state").val(),
	   					billingPostZipCode: $("#form-billing-post-zip-code").val(),
                        billingCountryCode: $("#form-billing-country-code").val(),
	   					deliveryFirstName: $("#form-delivery-first-name").val(),
	   					deliveryAddressLine1: $("#form-delivery-address-line-1").val(),
	   					deliveryAddressLine2: $("#form-delivery-address-line-2").val(),
	   					deliveryTownCity: $("#form-delivery-town-city").val(),
	   					deliveryCountyState: $("#form-delivery-county-state").val(),
	   					deliveryPostZipCode: $("#form-delivery-post-zip-code").val(),
                        deliveryCountryCode: $("#form-delivery-country-code").val(),
	   					sameDeliveryAddress: $sameDeliveryAddress,
	   					deliveryOption: $("input[name='delivery-option']:checked").val()
	   				},
	   				error: function(data) {
                        $("#order-processing-loading").hide();
                        $("#proceeed-to-payment").removeClass("button-grey icon-black").addClass("button-green icon-white");
                        $("#proceeed-to-payment span.ui-button-text").html("Proceed to Payment");
			      	},
	   				success: function(data) {
	   					updateOrderProcess(data, "");
	   					submitPayment($paymentType);
	   				}
	 			});
			} else {
				$("#message-error-text").html('Sorry, there was a problem with some of the information you entered. Please check the details and try again.');
				$("#message-error").slideDown(function() {
					setTimeout("resetMessages()", 5000);
				});
			}
		}
	}
	
	{# Get the basket contents #}
	function getOrderInformation()
	{
		$.ajax({
			type: "GET",
			url: "{{ path('checkout_ajax_get_order_information') }}",
			data: {
				countryCode: $("#form-delivery-country-code").val(),
				postZipCode: $("#form-delivery-post-zip-code").val(),
				deliveryOption: $("input[name='delivery-option']:checked").val()
			},
			beforeSend: function() {
				$("#order-information").hide();
				$("#order-information-loading").show();
				$("#order-information").html("");
			},
			error: function(data) {
	      		$("#order-information").html('<p>Sorry, there was a problem retrieving the details of your order.</p>');
				$("#order-information-loading").hide();
				$("#order-information").fadeIn();
	      	},
			success: function(data) {
				$("#order-information").html(data);
				$("#order-information tr").removeClass("even odd");
				$("#order-information tr:even").addClass("even");
				$("#order-information tr:odd").addClass("odd");
				$("#order-information-loading").hide();
                $("#order-information").fadeIn();
                generateButtons($("#order-information"));
                generateFormElements($("#order-information"));
                $("img[title], span[title], th[title], .button[title]").tooltip({
                    track: true,
                    content: function () {
                        return $(this).prop('title');
                    }
                });
			}
		});
	}
	
	{# Get the basket contents #}
	function submitPayment($paymentType)
	{		
		var saveOrderValidator = $("#checkout-details :input").validator({
            messageClass: 'inline-error'
		});
		if (saveOrderValidator.data("validator").checkValidity())
		{
			$.ajax({
   				type: "POST",
   				dataType: "json",
   				url: "{{ path('checkout_ajax_add_notes') }}",
   				beforeSend: function() {
   					$("#ajax-loading").show();
				},
   				data: {
   					requestedDeliveryDate: $("#form-requested-delivery-date").val(),
   					notes: $("#form-notes").val()
   				},
   				error: function(data) {
		      		$("#ajax-loading").hide();
		      	},
   				success: function(data) {
   					updateOrderProcess(data, $paymentType);
   				}
 			});
 		} else {
			$("#message-error-text").html('Sorry, there was a problem with some of the information you entered. Please check the details and try again.');
			$("#message-error").slideDown(function() {
				setTimeout("resetMessages()", 5000);
			});
//			$("html, body").animate({scrollTop: $(".form-error-3-5:first").offset().top - 50}, 'slow');
		}
	}
	
	{# Update order process #}
	function updateOrderProcess(data, $paymentType)
	{
		if (data.order.paymentProcesses.sagePay)
		{
			$("#sage-pay-vsp-protocol").val(data.order.paymentProcesses.sagePay.vspProtocol);
			$("#sage-pay-vendor").val(data.order.paymentProcesses.sagePay.vendor);
			$("#sage-pay-tx-type").val(data.order.paymentProcesses.sagePay.txType);
			$("#sage-pay-crypt").val(data.order.paymentProcesses.sagePay.crypt);
		}
		if ($paymentType != "")
		{
			$("#submit-payment-"+$paymentType).submit();
		}
	}
	
	function copyBillingAddressToDeliveryAddress()
	{
		resetDeliveryAddress();
		$("#form-delivery-country-code option:selected").removeAttr("selected");
		$("#form-delivery-country-code option[value='"+$("#form-billing-country-code").val()+"']").attr("selected", "selected");
		$("#uniform-form-delivery-country-code > span").html($("#form-delivery-country-code option[value='"+$("#form-billing-country-code").val()+"']").text());
		$("#form-delivery-first-name").val($("#form-billing-first-name").val());
		$("#form-delivery-last-name").val($("#form-billing-last-name").val());
		$("#form-delivery-organisation-name").val($("#form-billing-organisation-name").val());
		$("#form-delivery-address-line-1").val($("#form-billing-address-line-1").val());
		$("#form-delivery-address-line-2").val($("#form-billing-address-line-2").val());
		$("#form-delivery-town-city").val($("#form-billing-town-city").val());
		$("#form-delivery-county-state").val($("#form-billing-county-state").val());
		if ($("#form-billing-country-code").val() == 'IE')
		{
			$("#delivery-post-zip-code-container").hide();
			$("#form-delivery-post-zip-code").val('000');
			$("#republic-of-ireland-delivery-address-message").show();
			$("#same-address-delivery").hide();
            $("#checkout-delivery-address").hide();
		} else {
			$("#form-delivery-post-zip-code").val($("#form-billing-post-zip-code").val());
			$("#republic-of-ireland-delivery-address-message").hide();
			$("#delivery-post-zip-code-container").show();
            $("#checkout-delivery-address").show();
		}
		$("#form-same-delivery-address").attr("checked", false);
		$("#uniform-form-same-delivery-address > span").removeClass("checked");
        getOrderInformation();
	}

    function copyDeliveryAddressToBillingAddress()
    {
        resetBillingAddress();
        $("#form-billing-country-code option:selected").removeAttr("selected");
        $("#form-billing-country-code option[value='"+$("#form-delivery-country-code").val()+"']").attr("selected", "selected");
        $("#uniform-form-billing-country-code > span").html($("#form-billing-country-code option[value='"+$("#form-delivery-country-code").val()+"']").text());
        $("#form-billing-first-name").val($("#form-delivery-first-name").val());
        $("#form-billing-last-name").val($("#form-delivery-last-name").val());
        $("#form-billing-organisation-name").val($("#form-delivery-organisation-name").val());
        $("#form-billing-address-line-1").val($("#form-delivery-address-line-1").val());
        $("#form-billing-address-line-2").val($("#form-delivery-address-line-2").val());
        $("#form-billing-town-city").val($("#form-delivery-town-city").val());
        $("#form-billing-county-state").val($("#form-delivery-county-state").val());
        if ($("#form-delivery-country-code").val() == 'IE')
        {
            $("#billing-post-zip-code-container").hide();
            $("#form-billing-post-zip-code").val('000');
            $("#republic-of-ireland-delivery-address-message").show();
            $("#same-address-delivery").hide();
            $("#checkout-delivery-address").hide();
        } else {
            $("#form-billing-post-zip-code").val($("#form-billing-post-zip-code").val());
            $("#republic-of-ireland-delivery-address-message").hide();
            $("#billing-post-zip-code-container").show();
        }
        $("#form-same-delivery-address").attr("checked", false);
        $("#uniform-form-same-delivery-address > span").removeClass("checked");
        getOrderInformation();
    }
		
	function resetBillingAddress()
	{
		$("#form-billing-country-code option:selected").removeAttr("selected");
		$("#form-billing-country-code option:eq(0)").attr("selected", "selected");
		$("#uniform-form-billing-country-code > span").html($("#form-billing-country-code option:eq(0)").text());
		$("#form-billing-first-name").val($("#form-first-name").val());
		$("#form-billing-last-name").val($("#form-last-name").val());
		$("#form-billing-organisation-name").val("");
		$("#form-billing-address-line-1").val("");
		$("#form-billing-address-line-2").val("");
		$("#form-billing-town-city").val("");
		$("#form-billing-county-state").val("");
		$("#form-billing-post-zip-code").val("");
		$("#billing-post-zip-code-container").show();
		$("#republic-of-ireland-billing-address-message").hide();
		$("#same-address-billing").show();
		$("#pcainput_ym28te79te92mr9220037").focus();
        getOrderInformation();
	}
		
	function resetDeliveryAddress()
	{
		$("#form-delivery-country-code option:selected").removeAttr("selected");
		$("#form-delivery-country-code option:eq(0)").attr("selected", "selected");
		$("#uniform-form-delivery-country-code > span").html($("#form-delivery-country-code option:eq(0)").text());
		$("#form-delivery-first-name").val($("#form-first-name").val());
		$("#form-delivery-last-name").val($("#form-last-name").val());
		$("#form-delivery-organisation-name").val("");
		$("#form-delivery-address-line-1").val("");
		$("#form-delivery-address-line-2").val("");
		$("#form-delivery-town-city").val("");
		$("#form-delivery-county-state").val("");
		$("#form-delivery-post-zip-code").val("");
		$("#delivery-post-zip-code-container").show();
		$("#form-same-delivery-address").attr("checked", "checked");
		$("#uniform-form-same-delivery-address > span").addClass("checked");
		$("#republic-of-ireland-delivery-address-message").hide();
		$("#pcainput_ym28te79te92mr9220037").focus();
        getOrderInformation();
	}
	
	$(document).ready(function() {
		
		if ($("#checkout-continue-shopping"))
		{
			$("#checkout-continue-shopping").attr("href", "{{ backUrl }}")
		}

        $("#form-billing-first-name").focus();
		                		
		{# Set the datepicker up #}
		{% if basket.estimatedDeliveryDays.requestedDeliveryDateStart is defined %}
			$("#form-requested-delivery-date").datepicker({
				dateFormat: "DD d MM yy",
				changeMonth: true,
				changeYear: true,
				minDate: new Date("{{ basket.estimatedDeliveryDays.requestedDeliveryDateStart }}"),
				beforeShowDay: function(date) {
					var day = date.getDay(); 
					return [day == 1, ""];
				}
			});
		{% else %}
			$("#form-requested-delivery-date").datepicker({
				dateFormat: "DD d MM yy",
				changeMonth: true,
				changeYear: true,
				beforeShowDay: function(date) {
					var day = date.getDay(); 
					return [day == 1, ""];
				}
			});
		{% endif %}
		
		{# Get the order information #}
		getOrderInformation();
		
		{# Update the postcode #}
		$("#form-billing-country-code").on('change', function() {
			if ($(this).val() == 'IE')
			{
				$("#form-telephone-daytime").removeAttr("data-validation-type");
				$("#form-telephone-evening").removeAttr("data-validation-type");
				$("#billing-post-zip-code-container").hide();
				$("#same-address-billing").hide();
				$("#form-billing-post-zip-code").val('000');
				$("#republic-of-ireland-billing-address-message").fadeIn();
				copyBillingAddressToDeliveryAddress();
			} else {
				$("#form-telephone-daytime").attr("data-validation-type", "telephone");
				$("#form-telephone-evening").attr("data-validation-type", "telephone");
				$("#republic-of-ireland-billing-address-message").hide();
				$("#form-billing-post-zip-code").val("");
				$("#billing-post-zip-code-container").fadeIn();
				$("#same-address-billing").fadeIn();
				resetDeliveryAddress();
			}
		});
        $("#form-billing-post-zip-code").on('change', function() {
            if (($(this).val() != '000') && ($(this).val() != ''))
            {
                getOrderInformation();
            }
        });

		$("#form-delivery-country-code").on('change', function() {
			if ($(this).val() == 'IE')
			{
				$("#delivery-post-zip-code-container").hide();
				$("#same-address-delivery").hide();
				$("#form-delivery-post-zip-code").val('000');
				$("#republic-of-ireland-delivery-address-message").fadeIn();
				$("#form-same-delivery-address").removeAttr("checked");
				$("#uniform-form-same-delivery-address > span").removeClass("checked");
				copyDeliveryAddressToBillingAddress();
			} else {
				$("#republic-of-ireland-delivery-address-message").hide();
				$("#form-delivery-post-zip-code").val("");
				$("#form-same-delivery-address").removeAttr("checked");
				$("#uniform-form-same-delivery-address > span").removeClass("checked");
				$("#delivery-post-zip-code-container").fadeIn();
				$("#same-address-delivery").fadeIn();
				if ($("#form-billing-country-code").val() == 'IE')
				{
					resetBillingAddress();
				}
			}
		});
        $("#form-delivery-post-zip-code").on('change', function() {
            if (($(this).val() != '000') && ($(this).val() != ''))
            {
                getOrderInformation();
            }
        });

		{# Use the billing address for the delivery address #}
		$("#form-same-delivery-address-billing, #form-same-delivery-address-delivery").on('change', function() {
			$(".form-error-3-5").hide();
			$("#float-save-order-content").removeClass("float-save-order-sticky");
			if ($("#form-same-delivery-address-delivery").is(":checked"))
			{
				resetDeliveryAddress();
				$("#form-delivery-first-name").attr("required", "required").attr("data-message", "Enter your full name");
				$("#form-delivery-address-line-1").attr("required", "required").attr("data-message", "Enter the first line of your address");
				$("#form-delivery-town-city").attr("required", "required").attr("data-message", "Enter your Town or City");
				$("#form-delivery-post-zip-code").attr("required", "required").attr("data-message", "Enter a valid postcode");
				$("#checkout-delivery-address").show();
				$("html, body").animate({scrollTop: $("#checkout-delivery-address").offset().top - 50}, 'slow');
				$("#pcainput_ym28te79te92mr9220037").focus();
			} else {
				copyBillingAddressToDeliveryAddress();
				$("#form-delivery-first-name").removeAttr("required").removeAttr("data-message");
				$("#form-delivery-address-line-1").removeAttr("required").removeAttr("data-message");
				$("#form-delivery-town-city").removeAttr("required").removeAttr("data-message");
				$("#form-delivery-post-zip-code").removeAttr("required").removeAttr("data-message");
				$("#checkout-delivery-address").hide();
				$("html, body").animate({scrollTop: $("#checkout-billing-address").offset().top - 50}, 'slow');
			}
		});
		
		{# Update the delivery based on the delivery location #}
		$("input[name='delivery-option']").live('change', function() {
			if ($("input[name='delivery-option']:checked").val() == 'Collection')
			{
				$("#label-requested-delivery-date").html('Collection Date<small>Enter a requested collection date</small>');
				$("#form-requested-delivery-date").val("Collect ASAP");
				$("#checkout-delivery-address").fadeOut(function() {
					copyBillingAddressToDeliveryAddress();
					getOrderInformation();
				});
			} else {
				getOrderInformation();
				$("#label-requested-delivery-date").html('Delivery Date<small>Enter a requested delivery date</small>');
				$("#form-requested-delivery-date").val("Deliver ASAP");
			}
		});
		
		{# Show and hide the delivery option description #}
		$(document).on("mouseenter", ".action-show-delivery-option-description", function() {
			var $deliveryOption = $(this).attr("data-delivery-option");
			$(".delivery-option-description[data-delivery-option='"+$deliveryOption+"']").slideDown();
		});
		$(document).on("mouseleave", ".delivery-option", function() {
			var $deliveryOption = $(this).attr("data-delivery-option");
			$(".delivery-option-description[data-delivery-option='"+$deliveryOption+"']").slideUp();
		});
		
		{# Submit payment #}
		$(document).on("click", ".action-submit-payment", function() {
			var $paymentType = $(".action-submit-payment").attr("data-payment-type");
			saveOrder($paymentType);
		});

        $(document).on("click", ".action-change-delivery", function(){
            $("#delivery-options-container").closest("tr").toggle();
        });
	});
</script>