{% extends '::shop.html.twig' %}
{% block title %}Your Order Was Placed{% endblock %}
{% block body %}
	<header>
		<h1>Your Order Was Placed</h1>
	</header>
	<section class="container_6 clearfix">
		<div class="grid_6">
            <div class="portlet">
                <header>
                    <h2>Order: {{ order.orderNumber }} | {{ order.orderDate|date("l, jS F Y h:ia") }} | &pound;{{ order.total|number_format(2)|default('0.00') }} | {{ order.firstName }} {{ order.lastName }} | {{ order.status }}</h2>
                </header>
                <section>
                	{% if (order.paymentType == 'PayPal through SagePay') or (order.paymentType == 'SagePay') %}
	                	<div class="info-message ui-status-success">
							<span class="info-message-icon ui-icon ui-icon-circle-check"></span>
							<p><strong>{{ order.paymentResponse.Status }}:</strong> {{ order.paymentResponse.StatusDetail }}</p>
							<div class="clear"></div>
						</div>
					{% endif %}
                	<p>Thank you for ordering from Kitchen Appliance Centre.</p>
                	<p>The details of your order can be found below. Please take a quick look and check the details. If anything's wrong, please <a href="{{ path('content_contact_us') }}">contact us</a>.</p>
                	<p>We'll let you know what's happening with your order by email.</p>
                	{% if order.deliveryType == 'Collection' %}
                		<p class="separator important">PLEASE NOTE: You have chosen to collect your order.<br />We will contact you as soon as your order is ready for collection.</p>
                	{% else %}
	                	<h5>Estimated Delivery</h5>
	                	<p class="separator">We estimate that your items will be delivered between <strong>{{ order.estimatedDeliveryDaysStart }} - {{ order.estimatedDeliveryDaysEnd }}</strong>.<br /><span class="small-info">Any estimated delivery times are subject to availabilty.</span></p>
					{% endif %}
					<div class="clearfix no-margin-bottom">
						<a target="_blank" href="/uploads/documents/order/invoice-{{ order.orderNumber }}.pdf" data-icon-primary="ui-icon-document" class="fr left-button-margin button ui-button-green">Download Order</a>
						<a target="_blank" href="/uploads/documents/order/invoice-{{ order.orderNumber }}.pdf" data-icon-primary="ui-icon-print" class="fr left-button-margin button ui-button-green">Print Order</a>
						<p class="no-margin-bottom">We recommend keeping a copy of your order for your records.</p>
					</div>
                </section>
            </div>
        </div>
        {% include 'WebIlluminationShopBundle:Checkout:orderInformation.html.twig' with {'order': order} %}
	   	<div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationShopBundle:Checkout:tracker.js.twig' with {'order': order} %}
{% endblock %}