{# Function to update all guarantees #}
function updateGuarantees()
{
	$errorOccurred = false;
	$numberOfElementsToProcess = $("input.guarantee-requires-update[value='1']").length;
	$numberOfElementsProcessed = 0;
	if ($numberOfElementsToProcess > 0)
	{
		$("#ajax_loading").show();
		var guaranteesValidator = $("#guarantees :input").validator({
			position : 'bottom left', 
			offset : [0, 0], 
			messageClass : 'form-error', 
    		message : '<div><em/></div>'
		});
		if (guaranteesValidator.data("validator").checkValidity())
		{
			$("input.guarantee-requires-update[value='1']").each(function(index) {
				$elementIndex = String($(this).attr("data-index"));
				$.ajax({
			    	url: "{{ path('system_ajax_update_guarantee') }}",
			      	type: "GET",
			      	dataType: "json",
			      	data: {
			      		id: $("#form-guarantee-id-"+$elementIndex).val(),
			      		objectId: '{{ objectId }}',
			      		objectType: '{{ objectType }}',
			      		guaranteeTypeId: $("#form-guarantee-type-id-"+$elementIndex).val(),
			      		guaranteeLengthId: $("#form-guarantee-length-id-"+$elementIndex).val(),
			      		displayOrder: $("#form-guarantee-display-order-"+$elementIndex).val(),
			      		elementIndex: $elementIndex
			      	},
			      	error: function(data) {
			        	$errorOccurred = true;
			        	$("#guarantee-"+$elementIndex).addClass("ui-state-error");
			        	$numberOfElementsProcessed++;
			        	if ($numberOfElementsToProcess == $numberOfElementsProcessed)
			        	{
			        		if ($errorOccurred == true)
							{
								$("#guarantee-error-message-text").html('Problems occurred while trying to update your guarantees. Please try again.');
								$("#guarantee-error-message").fadeIn();
							} else {
								$("#guarantee-success-message-text").html('Your guarantees were successfully updated.');
								$("#guarantee-success-message").fadeIn();
							}
							$("html, body").animate({scrollTop: $("#guarantees").offset().top + 35},'slow');
							$("#ajax_loading").hide();
							if ($("#guarantees-tab-to-redirect-to").val() > -1)
							{
								$("#guarantees .message").hide();
								$(".sidebar-tabs").tabs("select", parseInt($("#guarantees-tab-to-redirect-to").val()));
							}
			        	}
			      	},
			      	success: function(data) {
		      			if (data.response == 'success')
		      			{
		      				$("#guarantee-"+data.elementIndex).removeClass("ui-state-error");
		      				$("#form-guarantee-id-"+data.elementIndex).val(data.id);
		      				$("#form-guarantee-requires-update-"+data.elementIndex).val("0");
		      			} else {
		      				$("#guarantee-"+data.elementIndex).addClass("ui-state-error");
		      				$errorOccurred = true;
		      			}
			        	$numberOfElementsProcessed++;
			        	if ($numberOfElementsToProcess == $numberOfElementsProcessed)
			        	{
			        		if ($errorOccurred == true)
							{
								$("#guarantee-error-message-text").html('Problems occurred while trying to update your guarantees. Please try again.');
								$("#guarantee-error-message").fadeIn();
							} else {
								$("#guarantee-success-message-text").html('Your guarantees were successfully updated.');
								$("#guarantee-success-message").fadeIn();
							}
							$("html, body").animate({scrollTop: $("#guarantees").offset().top + 35},'slow');
							$("#ajax_loading").hide();
							if ($("#guarantees-tab-to-redirect-to").val() > -1)
							{
								$("#guarantees .message").hide();
								$(".sidebar-tabs").tabs("select", parseInt($("#guarantees-tab-to-redirect-to").val()));
							}
			        	}
			      	}
			   	});
			});
		} else {
			$("#guarantee-error-message-text").html('Sorry, there was a problem saving. Please ensure all guarantees have been filled in and are valid. Please correct the highlighted guarantees and try again.');
        	$("#guarantee-error-message").fadeIn();
        	$("html, body").animate({scrollTop: $("#guarantees").offset().top + 35},'slow');
        	$("#ajax_loading").hide();
		}
	}
}

{# Function to load new guarantee #}
function loadNewGuarantee()
{
	$("#ajax_loading").show();
	$nextElement = parseInt($("#guarantee-count").val()) + 1;
	$("#guarantee-count").val($nextElement);
	$.ajax({
    	url: "{{ path('system_ajax_add_guarantee') }}",
      	type: "GET",
      	data: {
      		id: $nextElement,
      		objectId: '{{ objectId }}',
      		objectType: '{{ objectType }}'
      	},
      	error: function(data) {
        	$("#guarantee-error-message-text").html('Sorry, there was an error adding a new guarantee. Please try again.');
			$("#guarantee-error-message").fadeIn();
      	},
      	success: function(data) {
  			$("#form-guarantees-container").append(data);
				$("#guarantee-"+$nextElement.toString()+" :checkbox:not(.no-uniform), #guarantee-"+$nextElement.toString()+" :radio:not(.no-uniform), #guarantee-"+$nextElement.toString()+" select:not(.no-uniform), #guarantee-"+$nextElement.toString()+" :file:not(.no-uniform)").uniform();
				$("#guarantee-"+$nextElement.toString()).fadeIn();
				$("#guarantee-"+$nextElement+" .button").each(function () {
	            $(this).button({
	            	icons: {
	                	primary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-primary'):null, 
	                    secondary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-secondary'):null
	                }, 
	               	text: $(this).attr('data-icon-only') === 'true'?false:true
	        	});
	        });
	        reOrderGuarantees();
	        $(".selector, .uploader").addClass("full");
	        $("html, body").animate({scrollTop: $("#guarantee-"+$nextElement).offset().top - 100},'slow');
	        $("#ajax_loading").hide();
      	}
   	});
}

{# Function to re-order the guarantee indexes #}
function reOrderGuarantees()
{
	$("#guarantees .message").hide();
	$(".form-error").remove();
	$guaranteeCount = 1;
	$numberOfElementsToProcess = $("li.guarantee-container:visible").length;
	$numberOfElementsProcessed = 0;
	$("li.guarantee-container:visible").each(function(index) {
		$row = $(this);
		if ($row.find("input.guarantee-display-order").val() != $guaranteeCount)
		{
			if ($row.find("input.guarantee-id").val() > 0)
			{
				$row.find("input.guarantee-requires-update").val("1");
			}
		}
		$row.find("input.guarantee-display-order").val($guaranteeCount);
	    $guaranteeCount++;
	    $numberOfElementsProcessed++;
	    if ($numberOfElementsProcessed == $numberOfElementsToProcess)
	    {
	    	updateGuarantees();
	    }
	});
	$("li.guarantee-container:hidden").each(function(index) {
		$(this).remove();
	});
}