<li class="image-container" data-index="{{ index }}" id="image-{{ index }}">
	<div>
		<table width="100%">
			<tbody>
				{% if (objectType == 'product') %}
					<tr>
						<td width="9" rowspan="2">
							<img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
						</td>
						<td width="1" rowspan="2" class="select delete">
							<input data-index="{{ index }}" type="checkbox" class="image-select" id="form-image-select-{{ index }}" value="1" />
						</td>
						<td class="no-padding-bottom">
							<input type="text" class="image-title full" id="form-image-title-{{ index }}" placeholder="Enter a title" value="{% if data.title is defined %}{{ data.title }}{% endif %}" />
						</td>
						<td width="52" rowspan="2" class="ac">{% spaceless %}
				        	{% if data.thumbnailPath is defined %}
						    	<img id="form-image-preview-{{ index }}" alt="{% if data.title is defined %}{{ data.title }}{% endif %}" class="thumbnail action-image-popup"{% if data.largePath is defined %} data-image-size-width="{% if data.largeWidth is defined %}{{ data.largeWidth }}{% endif %}" data-image-size-height="{% if data.largeHeight is defined %}{{ data.largeHeight }}{% endif %}" data-image-large-path="{% if data.largePath is defined %}{{ data.largePath }}?version={{ "now"|date('dmYHis') }}{% endif %}"{% endif %} src="{{ asset(data.thumbnailPath) }}?version={{ "now"|date('dmYHis') }}" width="50" border="0" />
						    {% else %}
						    	<img id="form-image-preview-{{ index }}" width="50" src="{{ asset('bundles/webilluminationadmin/images/no-image-available.png') }}" border="0" alt="No Image Available" />
				        	{% endif %}
						{% endspaceless %}</td>
						<td width="1" rowspan="2" class="ac">
							<input type="hidden" class="image-display-order" id="form-image-display-order-{{ index }}" value="{{ index }}" />
							<input type="hidden" data-index="{{ index }}" class="image-requires-update" id="form-image-requires-update-{{ index }}" value="0" />
							<input type="hidden" class="image-id" id="form-image-id-{{ index }}" value="{% if data.id is defined %}{{ data.id }}{% else %}0{% endif %}" />
							<input type="hidden" class="image-description" id="form-image-description-{{ index }}" value="{% if data.description is defined %}{{ data.description }}{% endif %}" />
							<input type="hidden" class="image-link" id="form-image-link-{{ index }}" value="{% if data.link is defined %}{{ data.link }}{% endif %}" />
							<input type="hidden" class="image-alignment" id="form-image-alignment-{{ index }}" value="{% if data.alignment is defined %}{{ data.alignment }}{% endif %}" />
							<button data-index="{{ index }}" class="button ui-button-red action-confirm-delete-image" data-icon-primary="ui-icon-closethick">Delete</button>
						</td>								
					</tr>
					<tr>
						<td class="no-padding-top">
							<div class="image-file-upload" id="image-file-upload-{{ index }}"></div>
							<div class="image-file-uploading ui-helper-hidden" id="image-file-uploading-{{ index }}">
								<img class="fl" alt="Loading" width="16" height="11" src="{{ asset('bundles/webilluminationadmin/images/loaders/ajax-file-loader.gif') }}" />
								<p>Please wait, uploading file&hellip;</p>
							</div>
							<div id="image-upload-success-{{ index }}" class="ui-widget image-upload-success image-upload-message ui-helper-hidden">
							    <div class="ui-state-success no-margin ui-corner-all"> 
							        <p class="no-margin">
							            <span class="ui-icon ui-icon-circle-check"></span>
							            <span class="image-upload-success-text" id="image-upload-success-text-{{ index }}"></span>
							            <img class="fr action-cancel-image-upload action-cancel-image-upload-{{ index }}" alt="Cancel" width="14" height="14" src="{{ asset('bundles/webilluminationadmin/images/icons/close-small.png') }}" />
							        </p>
							    </div>
							</div>
							<div id="image-upload-error-{{ index }}" class="ui-widget image-upload-error image-upload-message ui-helper-hidden">
							    <div class="ui-state-error no-margin ui-corner-all"> 
							        <p class="no-margin">
							            <span class="ui-icon ui-icon-alert"></span>
							            <span class="image-upload-error-text" id="image-upload-error-text-{{ index }}"></span>
							            <img class="fr action-cancel-image-upload action-cancel-image-upload-{{ index }}" alt="Cancel" width="14" height="14" src="{{ asset('bundles/webilluminationadmin/images/icons/close-small.png') }}" />
							        </p>
							    </div>
							</div>
							<input type="hidden" id="form-image-file-{{ index }}" class="image-file" />		
						</td>
					</tr>
				{% else %}
					<tr>
						<td width="9" rowspan="4">
							<img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
						</td>
						<td width="1" rowspan="4" class="select delete">
							<input data-index="{{ index }}" type="checkbox" class="image-select" id="form-image-select-{{ index }}" value="1" />
						</td>
						<td colspan="2" class="no-padding-bottom">
							<input type="text" class="image-title full" id="form-image-title-{{ index }}" placeholder="Enter a title" value="{% if data.title is defined %}{{ data.title }}{% endif %}" />
						</td>
						<td width="78" rowspan="3" class="ac">{% spaceless %}
				        	{% if data.thumbnailPath is defined %}
						    	<img id="form-image-preview-{{ index }}" alt="{% if data.title is defined %}{{ data.title }}{% endif %}" class="thumbnail action-image-popup"{% if data.largePath is defined %} data-image-size-width="{% if data.largeWidth is defined %}{{ data.largeWidth }}{% endif %}" data-image-size-height="{% if data.largeHeight is defined %}{{ data.largeHeight }}{% endif %}" data-image-large-path="{% if data.largePath is defined %}{{ data.largePath }}?version={{ "now"|date('dmYHis') }}{% endif %}"{% endif %} src="{{ asset(data.thumbnailPath) }}?version={{ "now"|date('dmYHis') }}" width="76" border="0" />
						    {% else %}
						    	<img id="form-image-preview-{{ index }}" width="76" src="{{ asset('bundles/webilluminationadmin/images/no-image-available.png') }}" border="0" alt="No Image Available" />
				        	{% endif %}
						{% endspaceless %}</td>										
					</tr>
					<tr>
						<td colspan="2" class="no-padding-top no-padding-bottom">
							<input type="text" class="image-description full" id="form-image-description-{{ index }}" placeholder="Enter a description" value="{% if data.description is defined %}{{ data.description }}{% endif %}" />
						</td>
					</tr>
					<tr>
						<td colspan="2" class="no-padding-top no-padding-bottom">
							<input type="url" data-message="Please enter a valid web address that starts with http://" class="image-link url full" id="form-image-link-{{ index }}" placeholder="Enter a link" value="{% if data.link is defined %}{{ data.link }}{% endif %}" />
						</td>
					</tr>
					<tr>
						<td class="no-padding-top">
							<div class="image-file-upload" id="image-file-upload-{{ index }}"></div>
							<div class="image-file-uploading ui-helper-hidden" id="image-file-uploading-{{ index }}">
								<img class="fl" alt="Loading" width="16" height="11" src="{{ asset('bundles/webilluminationadmin/images/loaders/ajax-file-loader.gif') }}" />
								<p>Please wait, uploading file&hellip;</p>
							</div>
							<div id="image-upload-success-{{ index }}" class="ui-widget image-upload-success image-upload-message ui-helper-hidden">
							    <div class="ui-state-success no-margin ui-corner-all"> 
							        <p class="no-margin">
							            <span class="ui-icon ui-icon-circle-check"></span>
							            <span class="image-upload-success-text" id="image-upload-success-text-{{ index }}"></span>
							            <img class="fr action-cancel-image-upload action-cancel-image-upload-{{ index }}" alt="Cancel" width="14" height="14" src="{{ asset('bundles/webilluminationadmin/images/icons/close-small.png') }}" />
							        </p>
							    </div>
							</div>
							<div id="image-upload-error-{{ index }}" class="ui-widget image-upload-error image-upload-message ui-helper-hidden">
							    <div class="ui-state-error no-margin ui-corner-all"> 
							        <p class="no-margin">
							            <span class="ui-icon ui-icon-alert"></span>
							            <span class="image-upload-error-text" id="image-upload-error-text-{{ index }}"></span>
							            <img class="fr action-cancel-image-upload action-cancel-image-upload-{{ index }}" alt="Cancel" width="14" height="14" src="{{ asset('bundles/webilluminationadmin/images/icons/close-small.png') }}" />
							        </p>
							    </div>
							</div>
							<input type="hidden" id="form-image-file-{{ index }}" class="image-file" />		
						</td>
						<td width="120" class="no-padding-top no-padding-left">
							<select autocomplete="off" class="image-alignment full" id="form-image-alignment-{{ index }}">
				        		<option value="">No Alignment</option>
				        		<option value="left"{% if data.alignment is defined %}{% if data.alignment == 'left' %} selected="selected"{% endif %}{% endif %}>Left Align</option>
				        		<option value="right"{% if data.alignment is defined %}{% if data.alignment == 'right' %} selected="selected"{% endif %}{% endif %}>Right Align</option>
				        	</select>
						</td>
						<td width="78" class="ac no-padding-top">
							<input type="hidden" class="image-display-order" id="form-image-display-order-{{ index }}" value="{{ index }}" />
							<input type="hidden" data-index="{{ index }}" class="image-requires-update" id="form-image-requires-update-{{ index }}" value="0" />
							<input type="hidden" class="image-id" id="form-image-id-{{ index }}" value="{% if data.id is defined %}{{ data.id }}{% else %}0{% endif %}" />
							<button data-index="{{ index }}" class="button ui-button-red action-confirm-delete-image" data-icon-primary="ui-icon-closethick">Delete</button>
						</td>
					</tr>
				{% endif %}
			</tbody>
		</table>
		<script type="text/javascript">
			$(document).ready(function() {
				{# Cancel image upload #}
				$(".action-cancel-image-upload-{{ index }}").live('click', function() {
					$("#image-upload-error-{{ index }}, #image-upload-success-{{ index }}, #image-file-uploading-{{ index }}").hide();
					$("#image-file-upload-{{ index }} .qq-upload-list").html("");
					$("#image-file-upload-{{ index }} span.filename").html("No file selected");
					$("#form-image-file-{{ index }}").val("");
					$("#image-file-upload-{{ index }}").fadeIn();
				});
				
				{# File uploader #}
				var imageUploader{{ index }} = new qq.FileUploader({
				    element: document.getElementById('image-file-upload-{{ index }}'),
				    action: '{{ path('system_ajax_upload_file') }}',
				    onSubmit: function(id, fileName) {
				    	$("#form-image-file-{{ index }}").val("");
				    	$("#image-file-upload-{{ index }}").hide();
				    	var fileExtensions = fileName.toLowerCase().split(".");
	        			var fileExtension = fileExtensions[(fileExtensions.length - 1)];
	        			if ((fileExtension == 'jpg') || (fileExtension == 'jpeg') || (fileExtension == 'png') || (fileExtension == 'gif'))
	        			{
	        				$("#image-file-uploading-{{ index }}").fadeIn();
	        			} else {
	        				$("#image-upload-error-text-{{ index }}").html("jpg, png and gif files only.");
	        				$("#image-upload-error-{{ index }}").fadeIn();
	        				return false;
					    }
				    },
	        		onComplete: function(id, fileName, responseJSON) {
	        			$("#image-file-upload-{{ index }}, #image-file-uploading-{{ index }}, #image-upload-error-{{ index }}, #image-upload-success-{{ index }}").hide();
	        			if (responseJSON.response == 'success')
	        			{
	        				$("#form-image-requires-update-{{ index }}").val("1");
	        				$("#image-upload-success-text-{{ index }}").html("File Uploaded: "+responseJSON.fileSize);
	        				$("#form-image-file-{{ index }}").val(responseJSON.fileName);
	        				$("#image-upload-success-{{ index }}").fadeIn();
	        			} else {
	        				$("#image-upload-error-text-{{ index }}").html(responseJSON.message);
	        				$("#image-upload-error-{{ index }}").fadeIn();
	        			}
	        		}
				});
				
				$("#image-file-upload-{{ index }} :file:not(.no-uniform)").uniform();
			});
		</script>
	</div>
</li>