{% extends '::admin.html.twig' %}
{% block title %}Secure Login  | {{ parent() }}{% endblock %}
{% block header %}
	{{ parent() }}
	<h2>Secure Login</h2>
{% endblock %}
{% block body %}
    <section class="container_6 clearfix no-padding-top">
    	<div class="grid_6">
    		<div class="portlet">
				<header>
	                <h2>Secure Login</h2>
	            </header>
				<section>
					<div id="message-notice" class="ui-widget message">
					    <div class="ui-state-highlight ui-corner-all no-margin-top"> 
					        <p class="no-margin"><span class="ui-icon ui-icon-info"></span>To access the control panel please enter your email address and password and click the "Login Securely" button.</p>
					    </div>
					</div>
					<form id="form-login" class="form has-validation" action="{{ path('admin_security_login') }}" method="post">
						<div class="clearfix">
					        <label for="form-header" class="form-label"><em>*</em> Email Address<small>Enter your email address</small></label>
					        <div class="form-input"><input class="full" data-message="Please enter a valid email address." type="email" class="lowercase emai" id="form-email-address" name="email-address" required="required" value="{{ emailAddress|default('') }}" /></div>
					    </div>
						<div class="clearfix">
					        <label for="form-header" class="form-label"><em>*</em> Password<small>Enter your password</small></label>
					        <div class="form-input"><input class="full" data-message="Please enter your password." type="password" id="form-password" name="password" required="required" value="" /></div>
					    </div>
					    <div class="clearfix">
					        <div class="form-input buttons no-margin-bottom">
					    		<button class="button ui-button-green" data-icon-primary="ui-icon-key">Login Securely</button>
					        </div>
					    </div>
				    </form>
				</section>
	        </div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:Security:script.js.twig' %}
{% endblock %}