{% extends 'KACSiteBundle::base.html.twig' %}
{% block title %}Worktops, Cooker Hoods, Built-in Microwaves, Integrated Dishwashers, Integrated Washing Machines, Refrigeration, Cleaning Products, Glass Splashbacks, Waste Disposer, Sinks, Taps, Plinth Heaters, Range Cookers, Ducting, Hobs, Ovens, Coffee Machines, Solid Surface Worktops, Kitchen Appliances{% endblock %}
{% block slider %}
    <div class="widget-group flush-widget-group separator-widget mbl clearfix">
        <div class="widget widget-1-of-1">
            <div class="slider-wrapper slider-homepage">
                <ul class="slider">
                    <li>
                        <a href="{{ path('routing', {'url': 'maia'}) }}"><img width="980" height="250" src="{{ asset('/bundles/kacsite/images/adverts/maia-designer-solid-surface-worktops-advert.png') }}" alt="maia Designer Solid Surface Worktops: maia worktops are available in 15 stunning decors to complement any kitchen design" /></a>
                    </li>
                    <li>
                        <a href="{{ path('listing_search', {'q': 'minerva'}) }}"><img width="980" height="250" src="{{ asset('/bundles/kacsite/images/adverts/franke-minerva-tap-advert.png') }}" alt="Franke Minerva 3 in 1 Boiling Hot Water Tap: No more standing around waiting for the kettle to boil or using unnecessary energy. With the Minerva tap from Franke, you have 100°C water instantly at the twist of a lever. Save time and money today, In Stock for Fast Delivery." /></a>
                    </li>
                    <li>
                        <a href="{{ path('routing', {'url': 'cda'}) }}"><img width="980" height="250" src="{{ asset('/bundles/kacsite/images/adverts/cda-10pc-off-advert.png') }}" alt="10% Off All CDA Appliances: When you buy 3 or more CDA items. Simply add your items to the basket and your 10% will be taken off automatically. Spend more SAVE more..." /></a>
                    </li>
                    <li>
                        <a href="{{ path('routing', {'url': 'insinkerator'}) }}"><img width="980" height="250" src="{{ asset('/bundles/kacsite/images/adverts/in-sink-erator-waste-disposals-advert.png') }}" alt="In Sink Erator Waste Disposals from only £85: A food waste disposer is a simply must-have appliance for the modern kitchen. A waste disposer from InSinkErator doesn't just offer practical, contemporary convenience; it provides an environmentally responsible answer to the growing problem of food waste." /></a>
                    </li>
                    <li>
                        <a href="{{ path('routing', {'url': 'caple'}) }}"><img width="980" height="250" src="{{ asset('/bundles/kacsite/images/adverts/caple-10pc-off-advert.png') }}" alt="10% Off All Caple Appliances: Grab yourself a bargain on all Caple Appliances, no spending limit, no strings, no upto's just a straight 10% off! Don’t miss out, this offer will not be on forever..." /></a>
                    </li>
                    <li>
                        <a href="{{ path('listing_search', {'q': 'powerpod'}) }}"><img width="980" height="250" src="{{ asset('/bundles/kacsite/images/adverts/sensio-powerpod-advert.png') }}" alt="Sensio Powerpod: The Sensio Powerpod demonstrates Sensio's fresh approach to innovative kitchen power solutions, Offering far more than the average retractable socket the Sensio Powerpod boasts two USB ports in addition to three power sockets. It allows the user to charge their iPod or use other USB powered devices within the convenience of the kitchen." /></a>
                    </li>
                    <li>
                        <a href="{{ path('routing', {'url': 'electric-hobs'}) }}"><img width="980" height="250" src="{{ asset('/bundles/kacsite/images/adverts/stellar-pan-sets-30pc-off-advert.png') }}" alt="30% OFF STELLAR PAN SETS Buy any hob and Stellar Pan Set and get a huge 30% off the pans Simply add the two items to your basket to receive the discount" /></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block top_reviews %}
    {{ render_esi(url('reviews_trustpilot')) }}
{% endblock %}
{% block body %}
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <section class="ui-widget-content pbn ptn ui-corner-all">
                    <div class="widget-group clearfix ptl">
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'ovens-hobs'}) }}">Ovens</a></h5>
                                <a href="{{ path('routing', {'url': 'ovens-hobs'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/ovens.png') }}" border="0" alt="Ovens" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'built-in-single-ovens'}) }}">Built-in Single Ovens</a></li>
                                    <li><a href="{{ path('routing', {'url': 'built-in-double-ovens'}) }}">Built-in Double Ovens</a></li>
                                    <li><a href="{{ path('routing', {'url': 'built-in-steam-ovens-and-steam-combination-ovens'}) }}">Steam Ovens</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'kitchen-built-in-microwave-ovens-by-cda-appliances-capleaeg-neff-bosch-appliances-uk'}) }}">Microwaves</a></h5>
                                <a href="{{ path('routing', {'url': 'kitchen-built-in-microwave-ovens-by-cda-appliances-capleaeg-neff-bosch-appliances-uk'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/microwaves.png') }}" border="0" alt="Microwaves" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'ovens-and-hobs/microwave-ovens/built-in-microwave'}) }}">Built-in Microwaves</a></li>
                                    <li><a href="{{ path('routing', {'url': 'ovens-and-hobs/microwave-ovens/freestanding-microwave'}) }}">Freestanding Microwaves</a></li>
                                    <li><a href="{{ path('routing', {'url': 'ovens-and-hobs/microwave-ovens/wall-unit-microwave'}) }}">Wall Unit Microwaves</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'ovens-hobs'}) }}">Hobs</a></h5>
                                <a href="{{ path('routing', {'url': 'ovens-hobs'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/hobs.png') }}" border="0" alt="Hobs" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'gas-hobs'}) }}">Gas Hobs</a></li>
                                    <li><a href="{{ path('routing', {'url': 'ovens-and-hobs/electric-hobs/induction-hobs'}) }}">Induction Hobs</a></li>
                                    <li><a href="{{ path('routing', {'url': 'domino-hobs'}) }}">Domino Hobs</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'dishwashers-and-laundry'}) }}">Range Cookers</a></h5>
                                <a href="{{ path('routing', {'url': 'dishwashers-and-laundry'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/range-cookers.png') }}" border="0" alt="Range Cookers" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'range-cookers/range-cookers/dual-fuel-range-cooker'}) }}">Dual Fuel Range Cookers</a></li>
                                    <li><a href="{{ path('routing', {'url': 'range-cookers/range-cookers/gas-range-cooker'}) }}">Gas Range Cookers</a></li>
                                    <li><a href="{{ path('routing', {'url': 'range-cookers/range-cookers/electric-range-cooker'}) }}">Electric Range Cookers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'cooker-hoods'}) }}">Cooker Hoods</a></h5>
                                <a href="{{ path('routing', {'url': 'cooker-hoods'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/cooker-hoods.png') }}" border="0" alt="Cooker Hoods" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'cooker-hoods/cooker-hoods/chimney-hoods-chimney-cooker-hoods-chimney-hood-glass'}) }}">Chimney Hoods</a></li>
                                    <li><a href="{{ path('routing', {'url': 'cooker-hoods/cooker-hoods/under-canopy-hood'}) }}">Under Canopy Hoods</a></li>
                                    <li><a href="{{ path('routing', {'url': 'cooker-hoods/cooker-hoods/integrated-hood'}) }}">Integrated Hoods</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'refrigeration-and-wine-coolers'}) }}">Refrigeration</a></h5>
                                <a href="{{ path('routing', {'url': 'refrigeration-and-wine-coolers'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/refrigeration.png') }}" border="0" alt="Refrigeration" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'fridges'}) }}">Fridges</a></li>
                                    <li><a href="{{ path('routing', {'url': 'freezers'}) }}">Freezers</a></li>
                                    <li><a href="{{ path('routing', {'url': 'fridge-freezers'}) }}">Fridge Freezers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'refrigeration-and-wine-coolers'}) }}">Wine Coolers</a></h5>
                                <a href="{{ path('routing', {'url': 'refrigeration-and-wine-coolers'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/wine-coolers.png') }}" border="0" alt="Wine Coolers" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'refrigeration-and-wine-coolers/wine-coolers/under-counter-wine-cooler'}) }}">Under Counter Wine Coolers</a></li>
                                    <li><a href="{{ path('routing', {'url': 'built-in-wine-coolers'}) }}">Built-in Wine Coolers</a></li>
                                    <li><a href="{{ path('routing', {'url': 'accessories-1-2'}) }}">Wine Cooler Accessories</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'integrated-and-built-in-dishwashers-uk'}) }}">Dishwashers</a></h5>
                                <a href="{{ path('routing', {'url': 'integrated-and-built-in-dishwashers-uk'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/dishwashers.png') }}" border="0" alt="Dishwashers" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'dishwashers-and-laundry/integrated-and-built-in-dishwashers-uk/integrated-dishwasher-fully-integrated-and-built-in-dishwashers'}) }}">Integrated Dishwashers</a></li>
                                    <li><a href="{{ path('routing', {'url': 'dishwashers-and-laundry/dishwashers/semi-integrated-dishwasher'}) }}">Semi-integrated Dishwashers</a></li>
                                    <li><a href="{{ path('routing', {'url': 'dishwashers-and-laundry/dishwashers/slimline-integrated-dishwasher'}) }}">Slimline Integrated Dishwashers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'dishwashers-and-laundry'}) }}">Washers and Dryers</a></h5>
                                <a href="{{ path('routing', {'url': 'dishwashers-and-laundry'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/washers-and-dryers.png') }}" border="0" alt="Washers and Dryers" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'dishwashers-and-laundry/washing-machines/integrated-washer-dryer'}) }}">Integrated Washer Dryers</a></li>
                                    <li><a href="{{ path('routing', {'url': 'dishwashers-and-laundry/washing-machines/integrated-washing-machine'}) }}">Integrated Washing Machines</a></li>
                                    <li><a href="{{ path('routing', {'url': 'dishwashers-and-laundry/tumble-dryers/integrated-tumble-dryer'}) }}">Integrated Tumble Dryers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'compact-appliances'}) }}">Compact Appliances</a></h5>
                                <a href="{{ path('routing', {'url': 'compact-appliances'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/compact-appliances.png') }}" border="0" alt="Compact Appliances" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'compact-appliances/coffee-machines/built-in-coffee-machine'}) }}">Built-in Coffee Machines</a></li>
                                    <li><a href="{{ path('routing', {'url': 'compact-appliances/ice-makers/built-in-ice-maker'}) }}">Built-in Ice Makers</a></li>
                                    <li><a href="{{ path('routing', {'url': 'compact-appliances/warming-drawers/built-in-warming-drawer'}) }}">Built-in Warming Drawers</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'franke-sinks-taps-schock-sink-franke-sink-abode-tap-perrin-rowe-taps-franke-tap-uk'}) }}">Kitchen Sinks</a></h5>
                                <a href="{{ path('routing', {'url': 'franke-sinks-taps-schock-sink-franke-sink-abode-tap-perrin-rowe-taps-franke-tap-uk'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/kitchen-sinks.png') }}" border="0" alt="Kitchen Sinks" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'sinks-and-taps/kitchen-sinks/stainless-steel-kitchen-sinks'}) }}">Stainless Steel Sinks</a></li>
                                    <li><a href="{{ path('routing', {'url': 'sinks-and-taps/kitchen-sinks/ceramic-kitchen-sinks'}) }}">Ceramic Sinks</a></li>
                                    <li><a href="{{ path('routing', {'url': 'sinks-and-taps/kitchen-sinks/granite-kitchen-sinks'}) }}">Granite Sinks</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'kitchen-taps'}) }}">Kitchen Taps</a></h5>
                                <a href="{{ path('routing', {'url': 'kitchen-taps'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/kitchen-taps.png') }}" border="0" alt="Kitchen Taps" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'sinks-and-taps/kitchen-taps/water-filter-tap'}) }}">Water Filter Taps</a></li>
                                    <li><a href="{{ path('routing', {'url': 'sinks-and-taps/kitchen-taps/chilled-water-tap'}) }}">Chilled Water Taps</a></li>
                                    <li><a href="{{ path('routing', {'url': 'sinks-and-taps/kitchen-taps/boiling-hot-water-tap-kitchen-kettle-taps'}) }}">Boiling Hot Water Taps</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'kitchen-worktops-countertops-solid-surfaces-kitchen-worktops-uk'}) }}">Worktops &amp; Splashbacks</a></h5>
                                <a href="{{ path('routing', {'url': 'kitchen-worktops-countertops-solid-surfaces-kitchen-worktops-uk'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/worktops-and-splashbacks.png') }}" border="0" alt="Worktops &amp; Splashbacks" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'solid-surface-worktops-solid-surface-kitchen-worktop-apollo-slab-tech-solid-surface-uk'}) }}">Solid Surface Worktops</a></li>
                                    <li><a href="{{ path('routing', {'url': 'laminate-worktops'}) }}">Laminate Worktops</a></li>
                                    <li><a href="{{ path('routing', {'url': 'worktops-and-splashbacks/kitchen-splashbacks'}) }}">Kitchen Splashbacks</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'kitchen-ducting'}) }}">Kitchen Ducting</a></h5>
                                <a href="{{ path('routing', {'url': 'kitchen-ducting'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/kitchen-ducting.png') }}" border="0" alt="Kitchen Ducting" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'kitchen-ducting/ducting-kits'}) }}">Ducting Kits</a></li>
                                    <li><a href="{{ path('routing', {'url': 'kitchen-ducting/ducting-parts'}) }}">Ducting Parts</a></li>
                                    <li><a href="{{ path('routing', {'url': 'kitchen-ducting/tumble-dryer-kit'}) }}">Tumble Dryer Kits</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget-1-of-5">
                            <div class="popular-department">
                                <h5><a href="{{ path('routing', {'url': 'heating-and-lighting'}) }}">Heating &amp; Lighting</a></h5>
                                <a href="{{ path('routing', {'url': 'heating-and-lighting'}) }}">
                                    <img src="{{ asset('/bundles/kacsite/images/departments/heating-and-lighting.png') }}" border="0" alt="Heating &amp; Lighting" width="100%" />
                                </a>
                                <ul class="button-list">
                                    <li><a href="{{ path('routing', {'url': 'heating-and-lighting/plinth-heaters'}) }}">Plinth Heaters</a></li>
                                    <li><a href="{{ path('routing', {'url': 'heating-and-lighting/kitchen-lighting'}) }}">Kitchen Lighting</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="widget-group clearfix pbl ptm">
                        <div class="widget widget-1-of-8 popular-item popular-brand tac">
                            <a href="{{ path('routing', {'url': 'aeg'}) }}"><img src="{{ asset('/uploads/images/brand/logo/aeg-original-44961.png') }}" border="0" alt="AEG" width="100%" /></a>
                        </div>
                        <div class="widget widget-1-of-8 popular-item popular-brand tac">
                            <a href="{{ path('routing', {'url': 'neff'}) }}"><img src="{{ asset('/uploads/images/brand/logo/neff-original-44995.png') }}" border="0" alt="Neff" width="100%" /></a>
                        </div>
                        <div class="widget widget-1-of-8 popular-item popular-brand tac">
                            <a href="{{ path('routing', {'url': 'insinkerator'}) }}"><img src="{{ asset('/uploads/images/brand/logo/insinkerator-original-44982.png') }}" border="0" alt="Insinkerator" width="100%" /></a>
                        </div>
                        <div class="widget widget-1-of-8 popular-item popular-brand tac">
                            <a href="{{ path('routing', {'url': 'smiths'}) }}"><img src="{{ asset('/uploads/images/brand/logo/smiths-original-45030.png') }}" border="0" alt="Smiths heating" width="100%" /></a>
                        </div>
                        <div class="widget widget-1-of-8 popular-item popular-brand tac">
                            <a href="{{ path('routing', {'url': 'franke'}) }}"><img src="{{ asset('/uploads/images/brand/logo/franke-original-44978.png') }}" border="0" alt="Franke" width="100%" /></a>
                        </div>
                        <div class="widget widget-1-of-8 popular-item popular-brand tac">
                            <a href="{{ path('routing', {'url': 'cda'}) }}"><img src="{{ asset('/uploads/images/brand/logo/cda-original-44972.png') }}" border="0" alt="CDA" width="100%" /></a>
                        </div>
                        <div class="widget widget-1-of-8 popular-item popular-brand tac">
                            <a href="{{ path('routing', {'url': 'caple'}) }}"><img src="{{ asset('/uploads/images/brand/logo/caple-original-44969.png') }}" border="0" alt="Caple" width="100%" /></a>
                        </div>
                        <div class="widget widget-1-of-8 popular-item popular-brand tac">
                            <a href="{{ path('routing', {'url': 'maia'}) }}"><img src="{{ asset('/uploads/images/brand/logo/maia-original-44989.png') }}" border="0" alt="maia" width="100%" /></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
	</div>
{% endblock %}
{% block bottom_reviews %}{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script defer="defer" type="text/javascript">
		$(document).ready(function() {
            $(".popular-department .button-list").hide();
            $(".popular-department").mouseenter(function() {
                $(this).find(".button-list").slideDown('slow');
                $(this).find("img").animate({opacity: .5}, '1000');
            });
            $(".popular-department").mouseleave(function() {
                $(this).find(".button-list").slideUp('slow');
                $(this).find("img").animate({opacity: 1.0}, '1000');
            });

			$(".special-offer .features-link").click(function() {
				if ($(this).html() == '+ Show Features')
				{
					$(".special-offer .features-link").html('- Hide Features');
					$(".special-offer .features").slideDown();
				} else {
					$(".special-offer .features-link").html('+ Show Features');
					$(".special-offer .features").slideUp();
				}
			});
		});
	</script>
{% endblock %}