{% macro menuItem(parentId, departments) %}
    <ul>
        {% for department in departments %}
            {% if department.url %}
                <li>
                    <a href="{{ path('routing', {'url': department.url}) }}">{{ department.description.name|raw }}</a>
                    {% if department.children|length > 0 %}
                        {{ _self.menuItem(department.id, department.children) }}
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}

<div class="main-menu container">
    <nav class="pr clearfix">
        <ul class="sf-menu">
            {% for department in departments %}
                {% if department.url %}
                    <li>
                        <a class="{% if loop.last %}highlighted{% endif %}" href="{{ path('routing', {'url': department.url}) }}">{{ department.menuTitle|raw }}</a>
                        {{ _self.menuItem(department.id, department.children) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <a data-submenu="submenu-department-brands" class="ui-button button button-turquoise uppercase mrs" href="{{ path('listing_products') }}">Brands</a>
        <div class="submenu-container submenu-container-brands">
            <div id="submenu-department-brands">
                {% for brand in brands %}
                    {% if brand.images.0.publicPath is defined and brand.url %}
                        <a class="submenu-brand" href="{{ path('routing', {'url': brand.url}) }}"><img src="{{ asset(brand.images.0.publicPath | apply_filter('logo_medium')) }}" border="0" alt="{{ brand.description.name|raw }}" width="77" height="39" /></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </nav>
</div>