{% extends '::admin.html.twig' %}
{% block title %}Brands  | {{ parent() }}{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts '@WebIlluminationAdminBundle/Resources/public/js/tinymce/jquery.tinymce.js' output='js/tinymce.js' filter='yui_js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}
{% block leftmenu %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:Brands:leftMenu.html.twig' %}  
{% endblock %}
{% block header %}
	{{ parent() }}
	<h2>Brands</h2>
{% endblock %}
{% block body %}
    <section class="container_6 clearfix">
    	<div class="grid_6">
    		<table class="data-table" id="data-brands">
				<thead>
					<tr>
						<th width="1" class="center">&nbsp;</th>
						<th width="1" class="center">&nbsp;</th>
						<th class="left">Brand</th>
						<th width="1" class="center">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					{% for brand in brands %}	
						<tr id="brand-{{ brand.brand.id }}">
							<td width="1" class="center select delete"><input data-id="{{ brand.brand.id }}" type="checkbox" class="brand-select" id="brand-select-{{ brand.description.brand }}" value="1" /></td>
							<td width="1" class="center">{% if brand.logo.thumbnailPath is defined %}<img class="thumbnail action-image-popup" data-image-large-path="{{ brand.logo.largePath }}" data-image-size-width="300" data-image-size-height="150" src="{{ brand.logo.thumbnailPath }}" width="50" height="25" border="0" alt="{{ brand.description.brand }}" />{% else %}&nbsp;{% endif %}</td>
							<td class="left"><a class="link" href="{{ path('brands_edit', { 'id': brand.brand.id }) }}">{{ brand.description.brand }}</a></td>
							<td class="left small">
								
							</td>
							<td class="left small">
								{% if brand.contact.contactNumbers is defined %}
									{% for number in brand.contact.contactNumbers %}
										<em>{{ number.numberType.contactNumberType }}</em><br />
										{{ number.number.number }}<br />
										
									{% else %}
										&nbsp;-&nbsp;
									{% endfor %}
								{% else %}
									&nbsp;-&nbsp;
								{% endif %}
							</td>
							<td class="left small">
								{% if brand.contact.contactNumbers is defined %}
									{% for number in brand.contact.contactNumbers %}
										<em>{{ number.numberType.contactNumberType }}</em><br />
										{{ number.number.number }}<br />
										
									{% else %}
										&nbsp;-&nbsp;
									{% endfor %}
								{% else %}
									&nbsp;-&nbsp;
								{% endif %}
							</td>
							<td width="1" class="center no-wrap">
								<div id="contact-card{{ brand.brand.id }}" class="contact-card">
									<div class="contact-card-addresses">
										{% if brand.contact.contactAddresses is defined %}
											{% for address in brand.contact.contactAddresses %}
												<p>
													{% if address.address.displayName %}<strong>{{ address.address.displayName }}</strong>{% endif %}
													{% if address.address.addressLine1 %}<br />{{ address.address.addressLine1 }}{% endif %}
													{% if address.address.addressLine2 %}<br />{{ address.address.addressLine2 }}{% endif %}
													{% if address.address.addressLine3 %}<br />{{ address.address.addressLine3 }}{% endif %}
													{% if address.address.townCity %}<br />{{ address.address.townCity }}{% endif %}
													{% if address.address.countyState %}<br />{{ address.address.countyState }}{% endif %}
													{% if address.address.postZipCode %}<br />{{ address.address.postZipCode }}{% endif %}
												</p>
											{% endfor %}
										{% else %}
											<p>No addresses found for this contact.</p>
										{% endif %}
									</div>
									<div class="contact-card-numbers">
										{% if brand.contact.contactNumbers is defined %}
											<p>
											{% for number in brand.contact.contactNumbers %}
												<strong>{{ number.numberType.contactNumberType }}:</strong> {{ number.number.number }}{% if not loop.last %}<br />{% endif %}
											{% endfor %}
											</p>
										{% else %}
											<p>No contact numbers found for this contact.</p>
										{% endif %}
									</div>
									{% if brand.contact.contactEmailAddresses is defined %}
										<div class="contact-card-email-addresses">
										<p>
											{% for emailAddress in brand.contact.contactEmailAddresses %}
												<strong>{{ emailAddress.emailAddressType.contactEmailAddressType }}:</strong> <a target="_blank" href="mailto:{{ emailAddress.emailAddress.email }}">{{ emailAddress.emailAddress.displayName }}</a>{% if not loop.last %}<br />{% endif %}
											{% endfor %}
										</p>
										</div>
									{% endif %}
									{% if brand.contact.contactWebAddresses is defined %}
										<div class="contact-card-web-addresses">
										<p>
											{% for webAddress in brand.contact.contactWebAddresses %}
												<strong>{{ webAddress.webAddressType.contactWebAddressType }}:</strong> <a target="_blank" href="{{ webAddress.webAddress.url }}">{{ webAddress.webAddress.displayName }}</a>{% if not loop.last %}<br />{% endif %}
											{% endfor %}
										</p>
										</div>
									{% endif %}
									<div class="clear"></div>
								</div>
								<a href="{{ path('brands_edit', { 'id': brand.brand.id }) }}" class="button" data-icon-primary="ui-icon-search" data-icon-only="true">Preview</a>
								<a href="{{ path('brands_edit', { 'id': brand.brand.id }) }}" class="button" data-icon-primary="ui-icon-contact" data-icon-only="true">View Contact</a>
								<a href="{{ path('brands_edit', { 'id': brand.brand.id }) }}" class="button ui-button-default	" data-icon-primary="ui-icon-pencil" data-icon-only="true">Update</a>
								<a href="Javascript:void(0);" data-id="{{ brand.brand.id }}" class="button ui-button-delete action-confirm-delete-brand" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</a>
							</td>
						</tr>
			    	{% else %}
			    		
					{% endfor %}
				</tbody>
			</table>
		</div>
	</section>
	<script defer="defer" type="text/javascript">
		$(document).ready(function() {
			{# Load the table #}
			$("#data-brands").dataTable({
	            "bJQueryUI": true,
                "bRetrieve": true, 
                "bDestroy": true,
                "sPaginationType": "full_numbers",
	            "aoColumns": [
		            { "bSortable": false },
					{ "bSortable": false },
		            { "asSorting": [ "desc", "asc", "asc" ] },
					{ "asSorting": [ "desc", "asc", "asc" ] },
					{ "asSorting": [ "desc", "asc", "asc" ] },
					{ "asSorting": [ "desc", "asc", "asc" ] },
					{ "bSortable": false }
		        ],
				"bDestroy": true
	        });
		});
	</script>
{% endblock %}