{% for product in pagination %}
    {% block product_block %}
        <div itemscope itemtype="http://schema.org/Product" class="widget widget-1-of-3 product mtm">
            <div class="pr">
                {% set bullets = "" %}
                {% if product.attr_feature_Colour is defined and product.attr_feature_Colour|length > 0 %}
                    {% set bullets = bullets ~ "Colour: <strong>" ~ product.attr_feature_Colour[0] ~ "</strong><br />" %}
                {% endif %}
                {% for featureGroup in product.features|slice(0, 4) %}
                    {% set feature = product['attr_feature_'~featureGroup|replace({" ": ""})][0] %}
                    {% if feature != '' %}
                        {% set bullets = bullets ~ featureGroup ~ ": <strong>" ~ feature ~ "</strong><br />" %}
                    {% endif %}
                {% endfor %}
                <div class="product-image-container man pr">
                    <a href="{{ product.url != '' ? path('routing', {'url': product.url}) : '404' }}">
                        {% if product.thumbnail_path %}
                            <img title="{{ bullets }}" class="product-image" itemprop="image" src="{{ asset(product.thumbnail_path | apply_filter('product_thumbnail')) }}" border="0" alt="{{ product.header|raw }}" width="100%" />
                        {% else  %}
                            <img title="{{ bullets }}" class="product-image" itemprop="image" src="{{ asset('images/no-image.jpg' | apply_filter('product_thumbnail')) }}" border="0" alt="{{ product.header|raw }}" width="100%" />
                        {% endif  %}
                    </a>
                    {% if product.cheaper_alternative %}
                        {{ render_esi(controller('KACSiteBundle:Listing:cheaperAlternative', { 'productId': product.id })) }}
                    {% endif %}
                    <div class="small-basket-product-info" data-variantId="{{ product.variant_ids.0 }}">
                        {% include 'KACSiteBundle:Product:smallBasketInfo.html.twig' with {'productId': product.id, 'variantId': product.variant_ids.0} %}
                    </div>
                </div>
                <div class="{% if product.status == 'd' %}background-red-extra-extra-light {% elseif product.status == 'h' %}background-orange-extra-extra-light {% endif %}pts pr">
                    {% if not brand %}
                        {% if product.brand_logo != '' %}
                            <img class="small-brand-logo-image mts" src="{{ asset(product.brand_logo | apply_filter('logo_thumbnail')) }}" alt="{{ product.brand|raw }}" height="25" />
                        {% endif %}
                    {% endif %}
                    <div itemprop="offers" itemscope itemtype="{% if product.low_price == product.high_price %}http://schema.org/Offer{% else %}http://schema.org/AggregateOffer{% endif %}">
                        {% if product.hide_price == 0 %}
                            <a href="{{ product.url != '' ? path('routing', {'url': product.url}) : '404' }}">
                                {% if (product.low_price == product.high_price) and (product.low_price != product.low_rrp) and (product.low_rrp > 0) %}
                                    <span itemprop="price" class="price-small">{{ product.low_price|currency('GBP', true, true, '')|raw }}</span>
                                    <span itemprop="price" class="was-price-small">was <span class="strikethrough">{{ product.low_rrp|currency('GBP', true, true, '')|raw }}</span> save {{ (product.low_rrp - product.low_price)|currency('GBP', true, true, '')|raw }}</span>
                                {% else %}
                                    <span itemprop="price" class="price-small">
                                        {% if product.low_price != product.high_price %}
                                            <span class="currency-prefix">from </span>
                                        {% endif %}
                                        {{ product.low_price|currency('GBP', true, true, '')|raw }}
                                    </span>
                                    <span class="price-tax">
                                        <span class="currency-tax">(inc. VAT)</span>
                                    </span>
                                {% endif %}
                            </a>
                        {% else %}
                            <a href="{{ path('content_contact_us') }}">CONTACT US</a>
                        {% endif %}
                    </div>
                    <div class="product-listing-name">
                        <a itemprop="name" href="{{ product.url != '' ? path('routing', {'url': product.url}) : '404' }}">{{ product.header|raw }}</a>
                    </div>
                    <div class="product-listing-colour mbs">
                        {% if product.attr_feature_Colour is defined and product.attr_feature_Colour|length > 0 %}
                            {{ product.attr_feature_Colour[0] }}
                        {% endif %}
                    </div>
                    <div>
                        <button type="button" class="fl actionQuickAddToBasket button mbl mrs button-small button-green icon-white uppercase" data-quantity="1" data-product-id="{{ product.id }}" data-variant-id="{{ product.variant_ids.0 }}" data-basket-url="{{ path('basket_ajax_add_to_basket') }}" data-icon-secondary="icon-472">Buy</button>
                        <a class="button button-small fl icon-grey mbl" data-icon-secondary="icon-472" href="{{ product.url != '' ? path('routing', {'url': product.url}) : '404' }}">View</a>
                        <div id="purchasingLoading{{ product.variant_ids.0 }}" class="ui-helper-hidden fl pam tac"><img src="{{ asset('bundles/kacsite/images/loaders/ajax-loader.gif') }}" height="10" border="0" alt="loading" /></div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% else %}
    <p class="no-products">Sorry, there are currently no products in this department.</p>
{% endfor %}