<!DOCTYPE html>
<html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <title>{% block title %}Kitchen Appliance Centre{% endblock %}</title>
        {% block stylesheets %}
	        {% stylesheets
	        	'@KACAdminBundle/Resources/public/css/reset.css'
	        	'@KACAdminBundle/Resources/public/css/grid.css'
	        	'@KACAdminBundle/Resources/public/css/slider-navigation.css'
				'@KACAdminBundle/Resources/public/css/portlet.css'
				'@KACAdminBundle/Resources/public/css/uniform.css'
				'@KACAdminBundle/Resources/public/css/form.css'
				'@KACAdminBundle/Resources/public/css/ui.css'
				'@KACAdminBundle/Resources/public/css/styles.css'
	        	output='css/compressed.css' filter='yui_css' %}
				<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
			{% endstylesheets %}
			<!--[if IE]>
				{% stylesheets '@KACAdminBundle/Resources/public/css/ie.css' output='css/ie.css' filter='yui_css' %}
					<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
				{% endstylesheets %} 
			<![endif]-->
			<!--[if gte IE 9]>
				{% stylesheets '@KACAdminBundle/Resources/public/css/ie9.css' output='css/shop-ie9.css' filter='yui_css' %}
					<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
				{% endstylesheets %} 
			<![endif]-->
			<!--[if IE 8]>
				{% stylesheets '@KACAdminBundle/Resources/public/css/ie8.css' output='css/shop-ie8.css' filter='yui_css' %}
					<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
				{% endstylesheets %} 
			<![endif]-->
			<!--[if IE 7]>
				{% stylesheets '@KACAdminBundle/Resources/public/css/ie7.css' output='css/shop-ie7.css' filter='yui_css' %}
					<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
				{% endstylesheets %} 
			<![endif]-->
		{% endblock %}
		{% block headerscripts %}
			<!--[if lt IE 9]>
				{% javascripts '@KACAdminBundle/Resources/public/js/html5.js' output='js/html5.js' filter='yui_js' %}
					<script src="{{ asset_url }}" type="text/javascript"></script>
				{% endjavascripts %} 
			<![endif]-->
        	{% javascripts
	        	'@KACAdminBundle/Resources/public/js/jquery.js'
	        	'@KACAdminBundle/Resources/public/js/ui.js'
	        	'@KACAdminBundle/Resources/public/js/tools.js'
	        	'@KACAdminBundle/Resources/public/js/overlay.js'
	        	'@KACAdminBundle/Resources/public/js/uniform.js'
				'@KACAdminBundle/Resources/public/js/isotope.js'
				'@KACAdminBundle/Resources/public/js/superfish.js'
				'@KACAdminBundle/Resources/public/js/supersubs.js'
				'@KACAdminBundle/Resources/public/js/cookies.js'
				'@KACAdminBundle/Resources/public/js/global.js'
	        	output='js/compressed.js' filter='yui_js' %}
	        	<script src="{{ asset_url }}" type="text/javascript"></script>
			{% endjavascripts %}
			<!--[if lt IE 9]>
				{% javascripts '@KACAdminBundle/Resources/public/js/selectivizr.js' output='js/selectivizr.js' filter='yui_js' %}
					<script src="{{ asset_url }}" type="text/javascript"></script>
				{% endjavascripts %} 
			<![endif]-->
			<!--[if lt IE 8]>
				{% javascripts '@KACAdminBundle/Resources/public/js/ie.js' output='js/ie.js' filter='yui_js' %}
					<script src="{{ asset_url }}" type="text/javascript"></script>
				{% endjavascripts %} 
			<![endif]-->
		{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    	{#{% include '::adminLoading.html.twig' %}#}
    	<div id="exposeMask"></div>
    	<div id="wrapper" class="clearfix">
			{% include '::adminHeader.html.twig' %}
			{% include '::flashMessages.html.twig' %}
        	<section>
	            <div class="container_8 clearfix">                
	                <section class="main-section grid_8">
		                {% if is_granted('ROLE_ADMIN') %}
	    	                <nav class="collapsed">
	        	                <a class="chevron" href="Javascript:void(0);">&raquo;</a>
	            	            <ul>
	            	            	{% block leftmenu %}
	            	            		{#<li class="{% if ((app.request.attributes.get('_route') == 'homepage') or (app.request.attributes.get('_route') == '')) %}current{% endif %}"><a href="{{ path('homepage') }}" class="navicon-grid">Dashboard</a></li>#}
	            	            	{% endblock %}
	            	            </ul>
	                	    </nav>
	                	{% endif %}
	                    <div class="main-content">
	                    	<header>
	                    		{% block header %}{% endblock %}
	                    	</header>
    	                    {% block body %}{% endblock %}
        	            </div>
            	    </section>
	            </div>
	        </section>
		</div>
		{% if is_granted('ROLE_ADMIN') %}
			<div id="dialog-image-popup" title="Detailed View" class="ui-helper-hidden">
				<div class="ac">
					<img id="dialog-image-popup-image" src="" border="0" alt="" />
				</div>
			</div>
		{% endif %}
        {% include '::adminFooter.html.twig' %}
        {#{% include '::adminAjaxLoading.html.twig' %}#}
        {% block javascripts %}{% endblock %}
        {% include '::adminScript.js.twig' %}
    </body>
</html>