{% macro prices_widget(form) %}
    <td class="padding-top-5 padding-bottom-5">
        {{ form_widget(form.costPrice) }}
        {{ form_errors(form.costPrice) }}
    </td>
    <td class="padding-top-5 padding-bottom-5">
        {{ form_widget(form.recommendedRetailPrice) }}
        {{ form_errors(form.recommendedRetailPrice) }}
    </td>
    <td class="padding-top-5 padding-bottom-5">
        {{ form_widget(form.listPrice) }}
        {{ form_errors(form.listPrice) }}
    </td>
    <td></td>
{% endmacro %}
{% macro list_prices_widget(form) %}
    <div class="form-element widget-group clearfix {% if form.errors %}error{% endif %}">
        <div class="widget widget-1-of-3">
            {{ form_label(form.costPrice, 'Cost Price') }}
        </div>
        <div class="widget widget-2-of-3">
            {{ form_widget(form.costPrice) }}
            {{ form_errors(form.costPrice) }}
        </div>
    </div>
    <div class="form-element widget-group clearfix {% if form.errors %}error{% endif %}">
        <div class="widget widget-1-of-3">
            {{ form_label(form.recommendedRetailPrice, 'RRP') }}
        </div>
        <div class="widget widget-2-of-3">
            {{ form_widget(form.recommendedRetailPrice) }}
            {{ form_errors(form.recommendedRetailPrice) }}
        </div>
    </div>
    <div class="form-element widget-group clearfix {% if form.errors %}error{% endif %}">
        <div class="widget widget-1-of-3">
            {{ form_label(form.listPrice, 'List Price') }}
        </div>
        <div class="widget widget-2-of-3">
            {{ form_widget(form.listPrice) }}
            {{ form_errors(form.listPrice) }}
        </div>
    </div>
{% endmacro %}
{% macro product_departments_row(form) %}
    {{ form_widget(form.department) }}
    {{ form_widget(form.displayOrder) }}
    {% if form.isValid == false %}
        <small>
            {{ form_errors(form.department) }}
            {{ form_errors(form.displayOrder) }}
        </small>
    {% else %}
        {% if help is defined %}
            <small>{{ help }}</small>
        {% endif %}
    {% endif %}
{% endmacro %}
{% macro product_descriptions_widget(form) %}
    <td>
        {{ form_widget(form.locale) }}
        {{ form_errors(form.locale) }}
    </td>
    <td>
        {{ form_widget(form.description, {'attr': {'rows': 5, 'cols': '80'} }) }}
        {{ form_errors(form.description) }}
    </td>
    <td class="ac" width="65">
        <button type="button" class="fr small button icon-set-white ui-button-red delete-row">Delete</button>
    </td>
{% endmacro %}
{% macro variants_description_widget(form) %}
    <td>
        {{ form_widget(form.locale) }}
        {{ form_errors(form.locale) }}
    </td>
    <td>
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </td>
    <td class="ac" width="65">
        <button type="button" class="fr small button icon-set-white ui-button-red delete-row">Delete</button>
    </td>
{% endmacro %}
{% macro product_featureGroups_widget(form) %}
    <td class="padding-top-5 padding-bottom-5">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </td>
    <td class="ac" width="65">
        <button type="button" class="fr small button icon-set-white ui-button-red delete-row">Delete</button>
    </td>
    <td class="ac" width="20">
        <img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
    </td>
{% endmacro %}
{% macro product_features_widget(form) %}
    <td class="padding-top-5 padding-bottom-5" width="">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </td>
    <td class="padding-top-5 padding-bottom-5 ac" width="200">
        {{ form.get('value').productFeature }}
    </td>
{% endmacro %}
{% macro features_widget(form) %}
    <td>
        {{ form_widget(form.productFeature, {'attr': {'class': 'feature-group'}}) }}
        {{ form_errors(form.productFeature) }}
    </td>
    <td>
        {{ form_widget(form.defaultFeature, {'attr': {'class': 'feature'}}) }}
        {{ form_errors(form.defaultFeature) }}
    </td>
    <td>
        <button type="button" class="fr small button icon-set-white ui-button-red delete-row">Delete</button>
    </td>
{% endmacro %}
{% macro product_variants_widget(form) %}
    <tr>
        <td class="ac padding-top-5 padding-bottom-5" width="175">
            {{ form_widget(form.productCode) }}
        </td>
        <td class="ac padding-top-5 padding-bottom-5" width="175">
            {{ form_widget(form.status) }}
        </td>
        <td class="padding-top-5 padding-bottom-5">
            <ul>
                {% for feature in form.get('value').features %}
                    <li>({{ feature.productFeature }}) {{ feature.defaultFeature }}</li>
                {% endfor %}
            </ul>
        </td>
        <td class="ac padding-top-5 padding-bottom-5" width="225">
            {{ form_widget(form.prices) }}
        </td>
        <td>
            <button type="button" class="fr small button icon-set-white ui-button-red delete-row">Delete</button>
        </td>
    </tr>
{% endmacro %}