{% macro product_prices_widget(form) %}
    <td class="padding-top-5 padding-bottom-5">
        {{ form_widget(form.costPrice) }}
    </td>
    <td class="padding-top-5 padding-bottom-5">
        {{ form_widget(form.recommendedRetailPrice) }}
    </td>
    <td class="padding-top-5 padding-bottom-5">
        {{ form_widget(form.listPrice) }}
    </td>
{% endmacro %}
{% macro product_departments_widget(form) %}
    <td class="padding-top-5 padding-bottom-5">
        {{ form_widget(form) }}
    </td>
{% endmacro %}
{% macro product_descriptions_widget(form) %}
    <td>
        {{ form_widget(form.locale) }}
    </td>
    <td>
        {#{{ form_widget(form.description, {'attr': {'rows': 5, 'class': 'tinymce-basic'} }) }}#}
        {{ form_widget(form.description, {'attr': {'rows': 5, 'cols': '80'} }) }}
    </td>
    <td class="ac" width="65">
        <button type="button" class="fr small button icon-set-white ui-button-red delete-row" data-icon-primary="ui-icon-circle-cross">Delete</button>
    </td>
{% endmacro %}
{% macro variants_description_widget(form) %}
    <td>
        {{ form_widget(form.locale) }}
    </td>
    <td>
        {#{{ form_widget(form.description, {'attr': {'rows': 5, 'class': 'tinymce-basic'} }) }}#}
        {{ form_widget(form.description, {'attr': {'rows': 80} }) }}
    </td>
    <td class="ac" width="65">
        <button type="button" class="fr small button icon-set-white ui-button-red delete-row" data-icon-primary="ui-icon-circle-cross">Delete</button>
    </td>
{% endmacro %}
{% macro product_featureGroups_widget(form) %}
    <td class="padding-top-5 padding-bottom-5">
        {{ form_widget(form) }}
    </td>
    <td class="ac" width="65">
        <button type="button" class="fr small button icon-set-white ui-button-red delete-row" data-icon-primary="ui-icon-circle-cross">Delete</button>
    </td>
    <td class="ac" width="20">
        <img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
    </td>
{% endmacro %}
{% macro product_features_widget(form) %}
    <td class="padding-top-5 padding-bottom-5" width="">
        {{ form_widget(form) }}
    </td>
    <td class="padding-top-5 padding-bottom-5 ac" width="200">
        {{ form.get('value').productFeature }}
    </td>
{% endmacro %}
{% macro features_widget(form) %}
    <tr>
        <td>
            {{ form_widget(form.productFeature, {'attr': {'class': 'feature-group'}}) }}
        </td>
        <td>
            {{ form_widget(form.defaultFeature, {'attr': {'class': 'feature-group'}}) }}
        </td>
        <td>
            <button type="button" class="fr small button icon-set-white ui-button-red delete-row" data-icon-primary="ui-icon-circle-cross">Delete</button>
        </td>
    </tr>
{% endmacro %}
{% macro product_variants_widget(form) %}
    <tr>
        <td class="ac padding-top-5 padding-bottom-5" width="175">
            {{ form_widget(form.productCode) }}
        </td>
        <td class="padding-top-5 padding-bottom-5">
            <ul>
                {% for feature in form.get('value').features %}
                    <li>{{ feature }}</li>
                {% endfor %}
            </ul>
        </td>
    </tr>
    <tr class="sub-row">
        <td colspan="3">
            <table width="100%">
                <tr>
                    <td>
                        {{ form_label(form.prices, 'Descriptions', {'help': ''}) }}
                        <table class="data-table" id="description-list" width="100%" data-prototype="{{ form_widget(form.descriptions.vars.prototype) | e }}">
                            <thead>
                            <tr>
                                <th width="100">Locale</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in form.descriptions %}
                                <tr>
                                    {{ form_widget(row) }}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <button type="button" id="add-description" class="fr small button icon-set-white ui-button-green add-row margin-top-5" data-icon-primary="ui-icon-circle-plus">Add Another</button>
                        {% do form.descriptions.setRendered() %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_label(form.prices, 'Price', {'help': ''}) }}
                        <table class="data-table" id="price-list" width="100%">
                            <thead>
                            <tr>
                                <th>Cost Price</th>
                                <th>RRP</th>
                                <th>List Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in form.prices %}
                                <tr>
                                    {{ form_widget(row) }}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        {% do form.prices.setRendered() %}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
{% endmacro %}