{% macro prices_widget(form) %}
    <td>
        {{ form_widget(form.costPrice) }}
        {{ form_errors(form.costPrice) }}
    </td>
    <td>
        {{ form_widget(form.recommendedRetailPrice) }}
        {{ form_errors(form.recommendedRetailPrice) }}
    </td>
    <td>
        {{ form_widget(form.listPrice) }}
        {{ form_errors(form.listPrice) }}
    </td>
    <td></td>
{% endmacro %}
{% macro list_prices_widget(form) %}
    <td{% if form.costPrice.vars.valid is sameas(false) %} class="error"{% endif %}>
        {{ form_widget(form.costPrice) }}
        {{ form_errors(form.costPrice) }}
    </td>
    <td{% if form.recommendedRetailPrice.vars.valid is sameas(false) %} class="error"{% endif %}>
        {{ form_widget(form.recommendedRetailPrice) }}
    </td>
    <td{% if form.listPrice.vars.valid is sameas(false) %} class="error"{% endif %}>
        {{ form_widget(form.listPrice) }}
    </td>
{% endmacro %}
{% macro product_departments_row(form) %}
    {% if form|length == 1 %}
        <div class="form-element{% if form.0.vars.valid is sameas(false) %} form-element-error{% endif %} widget-group clearfix">
            <div class="widget widget-1-of-3">
                {{ form_label(form.0.department, 'Main Department') }}
            </div>
            <div class="widget widget-2-of-3">
                {{ form_widget(form.0.department) }}
                {{ form_widget(form.0.displayOrder) }}
                {% if form.0.vars.valid is sameas(false) %}
                    <small>
                        {{ form_errors(form.0.department) }}
                        {{ form_errors(form.0.displayOrder) }}
                    </small>
                {% else %}
                    <small>Select a main department.</small>
                {% endif %}
            </div>
        </div>
    {% else %}
        {# TODO: Add a row of tables to handle each row with add ability. #}
    {% endif %}
{% endmacro %}
{% macro product_descriptions_widget(form) %}
    <td>
        {{ form_widget(form.locale) }}
        {{ form_errors(form.locale) }}
    </td>
    <td>
        {{ form_widget(form.description, {'attr': {'rows': 5, 'cols': '80'} }) }}
        {{ form_errors(form.description) }}
    </td>
    <td class="ac" width="65">
        <button type="button" class="fr small button icon-set-white ui-button-red delete-row">Delete</button>
    </td>
{% endmacro %}
{% macro variants_description_widget(form) %}
    <td>
        {{ form_widget(form.locale) }}
        {{ form_errors(form.locale) }}
    </td>
    <td>
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </td>
    <td class="ac" width="65">
        <button type="button" class="fr small button icon-set-white ui-button-red delete-row">Delete</button>
    </td>
{% endmacro %}
{% macro product_featureGroups_widget(form) %}
    <td class="padding-top-5 padding-bottom-5">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </td>
    <td class="ac" width="65">
        <button type="button" class="fr small button icon-set-white ui-button-red delete-row">Delete</button>
    </td>
    <td class="ac" width="20">
        <img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
    </td>
{% endmacro %}
{% macro product_features_widget(form) %}
    <td class="padding-top-5 padding-bottom-5" width="">
        {{ form_widget(form) }}
        {{ form_errors(form) }}
    </td>
    <td class="padding-top-5 padding-bottom-5 ac" width="200">
        {{ form.get('value').productFeature }}
    </td>
{% endmacro %}
{% macro features_widget(form) %}
    <td>
        {{ form_widget(form.productFeature, {'attr': {'class': 'feature-group fill'}}) }}
        {{ form_errors(form.productFeature) }}
    </td>
    <td>
        {{ form_widget(form.defaultFeature, {'attr': {'class': 'feature fill'}}) }}
        {{ form_errors(form.defaultFeature) }}
    </td>
    <td width="1">
        {{ form_widget(form.displayOrder) }}
        <button type="button" class="actionDeleteFormRow button button-red icon-white" data-table-object="productFeatureList" data-icon-primary="icon-1117" data-icon-only="true">Delete</button>
    </td>
{% endmacro %}
{% macro product_variants_widget(form) %}
    <tr>
        <td class="fill">
            <ul>
                {% for feature in form.get('value').features %}
                    <li>{{ feature.productFeature }}: <strong>{{ feature.defaultFeature }}</strong></li>
                {% endfor %}
            </ul>
        </td>
        <td{% if form.productCode.vars.valid is sameas(false) %} class="error"{% endif %}>
            {{ form_widget(form.productCode) }}
        </td>
        {{ form_widget(form.prices) }}
        <td width="1">
            <button type="button" class="actionDeleteFormRow button button-red icon-white" data-table-object="productVariantList" data-icon-primary="icon-1117" data-icon-only="true">Delete</button>
        </td>
    </tr>
    <tr>

    </tr>
{% endmacro %}