<div class="ui-helper-hidden more-information-detail" id="delivery-information-{{ item.id }}">
	<h5 class="no-margin-top">Delivery Information</h5>
	{% if item.deliveryType == 'Collection' %}
		<p class="important padding-top-5 padding-bottom-5">Order for collection only</p>
	{% else %}
		<table width="100%">
			<tr>
				<td class="label" width="20%"><label>Estimated Delivery:</label></td>
				<td colspan="3" width="80%">Estimated delivery between <strong>{{ item.estimatedDeliveryDaysStart }}</strong> and <strong>{{ item.estimatedDeliveryDaysEnd }}</strong> subject to availability.</td>
			</tr>
			<tr>
				<td class="label" width="20%"><label>Delivery Type:</label></td>
				<td width="30%">{{ item.deliveryType }}</td>
				<td rowspan="3" class="label" width="20%"><label>Deliver To:</label></td>
				<td rowspan="3" width="30%" class="uppercase">{% spaceless %}
					{{ item.deliveryFirstName }} {{ item.deliveryLastName }}<br />
					{% if item.deliveryOrganisationName != '' %}
						{{ item.deliveryOrganisationName }}<br />
					{% endif %}
					{{ item.deliveryAddressLine1 }}<br />
					{% if item.deliveryAddressLine2 != '' %}
						{{ item.deliveryAddressLine2 }}<br />
					{% endif %}
					{{ item.deliveryTownCity }}<br />
					{% if item.deliveryCountyState != '' %}
						{{ item.deliveryCountyState }}<br />
					{% endif %}
					{{ item.deliveryPostZipCode }}
				{% endspaceless %}</td>
			</tr>
			<tr>
				<td class="label" width="20%"><label>Delivery Charge:</label></td>
				<td width="20%">&pound;{{ item.deliveryCharge|number_format(2) }}</td>
			</tr>
			<tr>
				<td class="label" width="20%"><label>Delivery Post Code:</label></td>
				<td width="20%">{{ item.deliveryPostZipCode }}</td>
			</tr>
		</table>
	{% endif %}
</div>