<div class="ui-helper-hidden more-information-detail" id="notes-{{ item.id }}">
	<div id="notes-confirm-delete-{{ item.id }}" class="ui-widget message ui-helper-hidden">
	    <div class="ui-state-highlight ui-corner-all"> 
	    	<div class="fl no-margin no-padding">
	    		<span class="ui-icon ui-icon-help"></span>
	    		<p class="small-message"><strong>WARNING:</strong> Are you sure you want to delete the highlighted note?</p>
	    	</div>
	        <div class="fr no-margin no-padding">
	        	<a href="Javascript:void(0);" data-note-id="" data-order-id="" id="notes-confirm-delete-button-{{ item.id }}" class="button ui-corner-none ui-corner-tr ui-corner-br ui-button-red action-delete-note" data-icon-primary="ui-icon-closethick">Confirm Delete</a>
	        	<a href="Javascript:void(0);" data-note-id="" data-order-id="" id="notes-cancel-delete-button-{{ item.id }}" class="button ui-corner-none ui-corner-tl ui-corner-bl ui-button-blue action-cancel-delete-note">Cancel</a>
	        </div>
	        <div class="clear"></div>
	    </div>
	</div>
	<div id="notes-success-message-{{ item.id }}" class="ui-helper-hidden ui-widget message closeable">
	    <div class="ui-state-success ui-corner-all no-margin">
	    	<span class="ui-icon ui-icon-circle-check"></span>
	        <p class="small-message"><strong>SUCCESS:</strong> <span id="notes-success-message-text-{{ item.id }}"></span></p>
	    </div>
	</div>
	<div id="notes-error-message-{{ item.id }}" class="ui-helper-hidden ui-widget message closeable">
	    <div class="ui-state-error ui-corner-all no-margin">
	    	<span class="ui-icon ui-icon-alert"></span>
	        <p class="small-message"><strong>ERROR:</strong> <span id="notes-error-message-text-{{ item.id }}"></span></p>
	    </div>
	</div>
	<h5 class="no-margin-top">Customer Notes<button data-id="{{ item.id }}" class="ui-corner-none ui-corner-tr button ui-button-green action-view-add-customer-note" data-icon-primary="ui-icon-plusthick" data-icon-only="true">Add</button></h5>
	<div class="ui-helper-hidden" id="add-customer-note-{{ item.id }}">
		<table width="100%">
			<tr>
				<td class="label" width="20%"><label>New Customer Note:</label></td>
				<td width="80%" class="no-padding"><textarea id="note-customer-note-{{ item.id }}" class="no-margin full"></textarea></td>
			</tr>
			<tr>
				<td class="label" width="20%"><label>Notify Customer?</label></td>
				<td width="80%" class="no-padding"><input id="note-notify-customer-{{ item.id }}" type="checkbox" value="1" /></td>
			</tr>
			<tr>
				<td width="20%" class="label">&nbsp;</td>
				<td width="80%" class="no-padding"><button data-id="{{ item.id }}" class="button no-float ui-button-green action-add-customer-note" data-icon-primary="ui-icon-comment">Add Customer Note</button></td>
			</tr>
		</table>
	</div>
	<div id="customer-notes-loading-{{ item.id }}" class="loading-container">
		<p class="ac"><img class="no-float" src="{{ asset('bundles/webilluminationadmin/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" /></p>
		<p class="ac">Loading&hellip;</p>
	</div>
	<div class="sub-table-data-container" id="customer-notes-{{ item.id }}">
		<p class="ac">There are no customer notes for this item.</p>
	</div>
	<h5>Staff Notes<button data-id="{{ item.id }}" class="ui-corner-none ui-corner-tr button ui-button-green action-view-add-staff-note" data-icon-primary="ui-icon-plusthick" data-icon-only="true">Add</button></h5>
	<div class="ui-helper-hidden" id="add-staff-note-{{ item.id }}">
		<table width="100%">
			<tr>
				<td class="label" width="20%"><label>New Staff Note:</label></td>
				<td width="80%" class="no-padding"><textarea id="note-staff-note-{{ item.id }}" class="no-margin full"></textarea></td>
			</tr>
			<tr>
				<td width="20%" class="label">&nbsp;</td>
				<td width="80%" class="no-padding"><button data-id="{{ item.id }}" class="button no-float ui-button-green action-add-staff-note" data-icon-primary="ui-icon-comment">Add Staff Note</button></td>
			</tr>
		</table>
	</div>
	<div id="staff-notes-loading-{{ item.id }}" class="loading-container">
		<p class="ac"><img class="no-float" src="{{ asset('bundles/webilluminationadmin/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" /></p>
		<p class="ac">Loading&hellip;</p>
	</div>
	<div class="sub-table-data-container" id="staff-notes-{{ item.id }}">
		<p class="ac">There are no staff notes for this item.</p>
	</div>
</div>