{% extends ':Old:email.html.twig' %}
{% block title %}You have a new Message from Kitchen Appliance Centre about your Order: {{ order.orderNumber }} | {{ parent() }}{% endblock %}
{% block body %}
	<table cellspacing="0" border="0" style="background-color: #DDDDDD;" cellpadding="0" width="100%">
		<tr>
			<td valign="top" style="padding: 20px 0;">
				<table cellspacing="0" border="0" align="center" style="background: #FFFFFF; border: 1px solid #CCCCCC;" cellpadding="0" width="600">
					<tr>
						<td valign="top">
							<table cellspacing="0" border="0" cellpadding="0" width="600">
								<tr>
									<td valign="top" style="padding: 20px;" width="560">
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 0 0 10px 0; margin: 0; line-height: 120%;">Hello {{ order.firstName }},</p>
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 0 0 10px 0; margin: 0; line-height: 120%;">You have received a message from Kitchen Appliance Centre regarding your order <strong>{{ order.orderNumber }}</strong>. The message is below:</p>
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 0 0 10px 0; margin: 0; line-height: 120%;">{{ note|nl2br }}</p>
										{% include ':Old:emailFooter.html.twig' %}
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}