<div id="listing-filter" class="no-padding-bottom listing-filter ui-helper-hidden">
	<div class="separator">
		<table width="100%">
			<tr>
				<td class="label" width="20%"><label for="form-membership-number">Membership Number:</label></td>
				<td width="50%"><input type="text" id="form-membership-number" value="" /></td>
				<td class="label" width="10%"><label for="form-active">Active:</label></td>
				<td width="10%">
					<div class="filter-checkbox"><input data-active="1" type="checkbox" class="membership-card-active" value="1" />Yes</div>
				</td>
				<td width="10%">
					<div class="filter-checkbox"><input data-active="0" type="checkbox" class="membership-card-active" value="1" />No</div>
					<input type="hidden" id="form-active" value="" />
				</td>
			</tr>
		</table>
	</div>
	<div class="separator">
		<table width="100%">
			<tr>
				<td rowspan="2" class="label" width="20%"><label>Customer</label></td>
				<td width="80%">
					<div class="position-relative">
						<input placeholder="Search for customer&hellip;" type="text" class="embedded-icon full" id="user-search" />
						<span class="icon-embedded ui-button-icon-primary ui-icon ui-icon-search no-margin"></span>
					</div>
				</td>
			</tr>
			<tr>
				<td width="80%">
					<div id="filter-users" class="filter filter-scrollable ui-corner-all">
						<ul>
							<li>
								<input class="user" data-id="0" type="checkbox" id="user-0" value="1" />
								<label for="user-0">Unassigned</label>
								<div class="clear"></div>
							</li>
							{% for contact in contacts %}	
								<li>
									<input class="user" data-id="{{ contact.objectId }}" type="checkbox" id="user-{{ contact.objectId }}" value="1" />
									<label for="user-{{ contact.objectId }}">{{ contact.firstName }} {% if contact.middleName != '' %}{{ contact.middleName }}{% endif %} {{ contact.lastName }}{% if contact.organisationName != '' %} ({{ contact.organisationName }}){% endif %}</label>
									<div class="clear"></div>
								</li>
							{% endfor %}
						</ul>
						<input type="hidden" value="" id="form-user-id" />
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<table width="100%">
			<tr>
				<td class="label" width="20%"><label for="form-valid-from-date-from">Valid From Date From:</label></td>
				<td width="30%"><input type="text" id="form-valid-from-date-from" value="" /><input type="hidden" id="form-valid-from-date-from-formatted" value="" /></td>
				<td class="label" width="20%"><label for="form-valid-from-date-to">Valid From To:</label></td>
				<td width="30%"><input type="text" id="form-valid-from-date-to" value="" /><input type="hidden" id="form-valid-from-date-to-formatted" value="" /></td>
			</tr>
		</table>
	</div>
	<div>
		<table width="100%">
			<tr>
				<td class="label" width="20%"><label for="form-expiry-date-from">Expiry Date From:</label></td>
				<td width="30%"><input type="text" id="form-expiry-date-from" value="" /><input type="hidden" id="form-expiry-date-from-formatted" value="" /></td>
				<td class="label" width="20%"><label for="form-expiry-date-to">Expiry Date To:</label></td>
				<td width="30%"><input type="text" id="form-expiry-date-to" value="" /><input type="hidden" id="form-expiry-date-to-formatted" value="" /></td>
			</tr>
		</table>
	</div>
	<div class="ac">
		<button class="button bottom-button ui-button-green action-update-your-results" data-icon-primary="ui-icon-refresh">Update Your Results</button>
		<button class="button bottom-button ui-button-red action-clear-filters" data-icon-primary="ui-icon-closethick">Clear Filters</button>
	</div>
</div>