{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Register | {{ parent() }}{% endblock %}
{% block page_header %}Register{% endblock %}

{% block fos_user_content %}
    <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form" id="form-register">
        <fieldset>
            {{ form_row(form.email, {'label': 'E-Mail Address', 'help': 'Enter a valid email address'}) }}
            {{ form_row(form.plainPassword.first, {'label': 'Password', 'help': 'Enter a password'}) }}
            {{ form_row(form.plainPassword.second, {'label' : 'Confirm Password', 'help': 'Confirm your password'}) }}
            {{ form_rest(form) }}
        </fieldset>

        <div class="clearfix">
            <button class="button button-green fr">Create Your Account</button>
        </div>
    </form>
{% endblock %}