<h3 class="no-margin-top">Orders</h3>
<table width="100%" class="data-table">
	<thead>
		<tr>
			<th width="15%" class="blank">&nbsp;</th>
			<th width="17%">Today</th>
			<th width="17%">This Week</th>
			<th width="17%">This Month</th>
			<th width="17%">This Quarter</th>
			<th width="17%">This Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td width="15%" class="ar small sub-header"><strong>Successful Orders</strong></td>
			<td width="17%" class="ac small">{{ data.statistics.today.count|number_format(0) }}</td>
			<td width="17%" class="ac small">{{ data.statistics.week.count|number_format(0) }}</td>
			<td width="17%" class="ac small">{{ data.statistics.month.count|number_format(0) }}</td>
			<td width="17%" class="ac small">{{ data.statistics.quarter.count|number_format(0) }}</td>
			<td width="17%" class="ac small">{{ data.statistics.year.count|number_format(0) }}</td>
		</tr>
		<tr>
			<td width="15%" class="ar small sub-header"><strong>Orders Total</strong></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.today.total|number_format(0) }} <em>(&pound;{{ data.statistics.today.totalNett|number_format(0) }})</em></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.week.total|number_format(0) }} <em>(&pound;{{ data.statistics.week.totalNett|number_format(0) }})</em></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.month.total|number_format(0) }} <em>(&pound;{{ data.statistics.month.totalNett|number_format(0) }})</em></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.quarter.total|number_format(0) }} <em>(&pound;{{ data.statistics.quarter.totalNett|number_format(0) }})</em></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.year.total|number_format(0) }} <em>(&pound;{{ data.statistics.year.totalNett|number_format(0) }})</em></td>
		</tr>
		<tr>
			<td width="15%" class="ar small sub-header"><strong>Average Order</strong></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.today.averageOrderValue|number_format(0) }} <em>(&pound;{{ data.statistics.today.averageOrderValueNett|number_format(0) }})</em></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.week.averageOrderValue|number_format(0) }} <em>(&pound;{{ data.statistics.week.averageOrderValueNett|number_format(0) }})</em></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.month.averageOrderValue|number_format(0) }} <em>(&pound;{{ data.statistics.month.averageOrderValueNett|number_format(0) }})</em></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.quarter.averageOrderValue|number_format(0) }} <em>(&pound;{{ data.statistics.quarter.averageOrderValueNett|number_format(0) }})</em></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.year.averageOrderValue|number_format(0) }} <em>(&pound;{{ data.statistics.year.averageOrderValueNett|number_format(0) }})</em></td>
		</tr>
		<tr>
			<td width="15%" class="ar small sub-header"><strong>Projected Total</strong></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.today.projectedTotal|number_format(0) }} <em>(&pound;{{ data.statistics.today.projectedTotalNett|number_format(0) }})</em></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.week.projectedTotal|number_format(0) }} <em>(&pound;{{ data.statistics.week.projectedTotalNett|number_format(0) }})</em></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.month.projectedTotal|number_format(0) }} <em>(&pound;{{ data.statistics.month.projectedTotalNett|number_format(0) }})</em></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.quarter.projectedTotal|number_format(0) }} <em>(&pound;{{ data.statistics.quarter.projectedTotalNett|number_format(0) }})</em></td>
			<td width="17%" class="ac small">&pound;{{ data.statistics.year.projectedTotal|number_format(0) }} <em>(&pound;{{ data.statistics.year.projectedTotalNett|number_format(0) }})</em></td>
		</tr>
	</tbody>
</table>
<h3>Top Brands by Quantity Ordered</h3>
<table width="100%" class="data-table">
	<thead>
		<tr>
			<th width="5%" class="blank">&nbsp;</th>
			<th width="19%">Today</th>
			<th width="19%">This Week</th>
			<th width="19%">This Month</th>
			<th width="19%">This Quarter</th>
			<th width="19%">This Year</th>
		</tr>
	</thead>
	<tbody>
		{% for count in 1..5 %}
			<tr>
				<td width="5%" class="ar small sub-header"><strong>{{ count }}</strong></td>
				<td width="19%" class="ac small">
					{% if data.statistics.today.topBrandsByQuantity[count] is defined %}
						{{ data.statistics.today.topBrandsByQuantity[count]['brand'] }}<br /><em>({{ data.statistics.today.topBrandsByQuantity[count]['quantity']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.week.topBrandsByQuantity[count] is defined %}
						{{ data.statistics.week.topBrandsByQuantity[count]['brand'] }}<br /><em>({{ data.statistics.week.topBrandsByQuantity[count]['quantity']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.month.topBrandsByQuantity[count] is defined %}
						{{ data.statistics.month.topBrandsByQuantity[count]['brand'] }}<br /><em>({{ data.statistics.month.topBrandsByQuantity[count]['quantity']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.quarter.topBrandsByQuantity[count] is defined %}
						{{ data.statistics.quarter.topBrandsByQuantity[count]['brand'] }}<br /><em>({{ data.statistics.quarter.topBrandsByQuantity[count]['quantity']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.year.topBrandsByQuantity[count] is defined %}
						{{ data.statistics.year.topBrandsByQuantity[count]['brand'] }}<br /><em>({{ data.statistics.year.topBrandsByQuantity[count]['quantity']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<h3>Top Brands by Total Ordered</h3>
<table width="100%" class="data-table">
	<thead>
		<tr>
			<th width="5%" class="blank">&nbsp;</th>
			<th width="19%">Today</th>
			<th width="19%">This Week</th>
			<th width="19%">This Month</th>
			<th width="19%">This Quarter</th>
			<th width="19%">This Year</th>
		</tr>
	</thead>
	<tbody>
		{% for count in 1..5 %}
			<tr>
				<td width="5%" class="ar small sub-header"><strong>{{ count }}</strong></td>
				<td width="19%" class="ac small">
					{% if data.statistics.today.topBrandsByTotal[count] is defined %}
						{{ data.statistics.today.topBrandsByTotal[count]['brand'] }}<br /><em>(&pound;{{ data.statistics.today.topBrandsByTotal[count]['total']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.week.topBrandsByTotal[count] is defined %}
						{{ data.statistics.week.topBrandsByTotal[count]['brand'] }}<br /><em>(&pound;{{ data.statistics.week.topBrandsByTotal[count]['total']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.month.topBrandsByTotal[count] is defined %}
						{{ data.statistics.month.topBrandsByTotal[count]['brand'] }}<br /><em>(&pound;{{ data.statistics.month.topBrandsByTotal[count]['total']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.quarter.topBrandsByTotal[count] is defined %}
						{{ data.statistics.quarter.topBrandsByTotal[count]['brand'] }}<br /><em>(&pound;{{ data.statistics.quarter.topBrandsByTotal[count]['total']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.year.topBrandsByTotal[count] is defined %}
						{{ data.statistics.year.topBrandsByTotal[count]['brand'] }}<br /><em>(&pound;{{ data.statistics.year.topBrandsByTotal[count]['total']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<h3>Top Products by Quantity Ordered</h3>
<table width="100%" class="data-table">
	<thead>
		<tr>
			<th width="5%" class="blank">&nbsp;</th>
			<th width="19%">Today</th>
			<th width="19%">This Week</th>
			<th width="19%">This Month</th>
			<th width="19%">This Quarter</th>
			<th width="19%">This Year</th>
		</tr>
	</thead>
	<tbody>
		{% for count in 1..5 %}
			<tr>
				<td width="5%" class="ar small sub-header"><strong>{{ count }}</strong></td>
				<td width="19%" class="ac small">
					{% if data.statistics.today.topProductsByQuantity[count] is defined %}
						{{ data.statistics.today.topProductsByQuantity[count]['product'] }}<br /><em>({{ data.statistics.today.topProductsByQuantity[count]['quantity']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.week.topProductsByQuantity[count] is defined %}
						{{ data.statistics.week.topProductsByQuantity[count]['product'] }}<br /><em>({{ data.statistics.week.topProductsByQuantity[count]['quantity']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.month.topProductsByQuantity[count] is defined %}
						{{ data.statistics.month.topProductsByQuantity[count]['product'] }}<br /><em>({{ data.statistics.month.topProductsByQuantity[count]['quantity']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.quarter.topProductsByQuantity[count] is defined %}
						{{ data.statistics.quarter.topProductsByQuantity[count]['product'] }}<br /><em>({{ data.statistics.quarter.topProductsByQuantity[count]['quantity']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.year.topProductsByQuantity[count] is defined %}
						{{ data.statistics.year.topProductsByQuantity[count]['product'] }}<br /><em>({{ data.statistics.year.topProductsByQuantity[count]['quantity']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<h3>Top Products by Total Ordered</h3>
<table width="100%" class="data-table">
	<thead>
		<tr>
			<th width="5%" class="blank">&nbsp;</th>
			<th width="19%">Today</th>
			<th width="19%">This Week</th>
			<th width="19%">This Month</th>
			<th width="19%">This Quarter</th>
			<th width="19%">This Year</th>
		</tr>
	</thead>
	<tbody>
		{% for count in 1..5 %}
			<tr>
				<td width="5%" class="ar small sub-header"><strong>{{ count }}</strong></td>
				<td width="19%" class="ac small">
					{% if data.statistics.today.topProductsByTotal[count] is defined %}
						{{ data.statistics.today.topProductsByTotal[count]['product'] }}<br /><em>(&pound;{{ data.statistics.today.topProductsByTotal[count]['total']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.week.topProductsByTotal[count] is defined %}
						{{ data.statistics.week.topProductsByTotal[count]['product'] }}<br /><em>(&pound;{{ data.statistics.week.topProductsByTotal[count]['total']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.month.topProductsByTotal[count] is defined %}
						{{ data.statistics.month.topProductsByTotal[count]['product'] }}<br /><em>(&pound;{{ data.statistics.month.topProductsByTotal[count]['total']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.quarter.topProductsByTotal[count] is defined %}
						{{ data.statistics.quarter.topProductsByTotal[count]['product'] }}<br /><em>(&pound;{{ data.statistics.quarter.topProductsByTotal[count]['total']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
				<td width="19%" class="ac small">
					{% if data.statistics.year.topProductsByTotal[count] is defined %}
						{{ data.statistics.year.topProductsByTotal[count]['product'] }}<br /><em>(&pound;{{ data.statistics.year.topProductsByTotal[count]['total']|number_format(0) }})</em>
					{% else %}
						-
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>