{% extends '::admin.html.twig' %}
{% block title %}Order {{ data.item.id }} - Products | {{ parent() }}{% endblock %}
{% block leftmenu %}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemLeftMenu.html.twig' with {'data': data} %}
{% endblock %}
{% block header %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemHeader.html.twig' with {'data': data} %}
{% endblock %}
{% block body %}
    <section class="container_6 clearfix">
    	<form class="form has-validation" id="form-update" method="post" action="{{ data.formAction }}">
	    	<div class="grid_6">
				<div id="confirm-multiple-delete" class="info-message ui-helper-hidden">
	    			<div class="fr no-margin no-padding">
			        	<button class="fl button ui-corner-left ui-button-black action-cancel-multiple-delete">Cancel</button>
			        	<button class="fl button ui-corner-right icon-set-white ui-button-red action-multiple-delete" data-icon-primary="ui-icon-circle-cross">Confirm Delete</button>
			        </div>
					<span class="info-message-icon ui-icon ui-icon-help"></span>
					<p><strong class="important">WARNING:</strong> Are you sure you want to delete the selected products below?</p>
					<div class="clear"></div>
				</div>
				<div id="new" class="portlet margin-bottom-15 ui-helper-hidden">
					<header>
	           			<h2>Add a product</h2>
	                </header>
					<section class="no-padding">
                        <table class="data-table" id="data-new" width="100%">
                            <thead>
                            <tr>
                                <th class="ac">Quantity</th>
                                <th class="al">Product</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td width="70" class="ac">
                                    <table class="no-border" align="center">
                                        <tr>
                                            <td class="no-padding"><input name="new-product-quantity" id="new-product-quantity" class="ui-corner-none ui-corner-left number quantity" width="20" type="text" value="1" /></td>
                                            <td class="no-padding">
                                                <div class="quantity-buttons-container no-padding">
                                                    <div class="ui-corner-tr action-increase-quantity" data-quantity-object="new-product-quantity">+</div>
                                                    <div class="ui-corner-br action-decrease-quantity" data-quantity-object="new-product-quantity">-</div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <script type="text/javascript" defer="defer">
                                        $(document).ready(function() {
                                            $("#search-product").autocomplete({
                                                source: {{ data.productsJson|json_encode()|raw }},
                                                focus: function (event, ui) {
                                                    $("search-product").val(ui.item.label);

                                                    return false;
                                                },
                                                select: function (event, ui) {
                                                    $("#search-product").val(ui.item.label);
                                                    $("#new-product-id").val(ui.item.value);

                                                    return false;
                                                }
                                            });
                                        });
                                    </script>
                                    <div class="position-relative">
                                        <input type="hidden" id="new-item" value="0" />
                                        <input type="hidden" id="new-product-id" name="new-product-id" />
                                        <input placeholder="Find a product&hellip;" type="text" id="search-product" class="embedded-icon no-margin full" value="" />
                                        <span class="icon-embedded ui-button-icon-primary ui-icon ui-icon-search no-margin"></span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="clear"></div>
                        <div class="clearfix padding-10">
                            <button type="button" class="fr small button icon-set-white ui-corner-right ui-button-black action-close-new" data-icon-primary="ui-icon-arrow-up">Close</button>
                            <button id="button-listing-new" type="button" class="fr small button icon-set-white ui-corner-left ui-button-green" data-icon-primary="ui-icon-circle-tick">Save</button>
                        </div>
					</section>
		        </div>
	    		<div class="portlet">
					<header>
						<button type="button" class="portlet-header-button button ui-button-grey icon-set-black fr action-new" data-icon-primary="ui-icon-circle-plus">Add a Product</button>
	           			<h2 id="listing-title-products">Products ({{ data.items|length }})</h2>
	                </header>
					<section class="no-padding">
						<div id="listing" class="position-relative">
							{% if data.items|length > 0 %}
								<table class="data-table" id="listing-products" width="100%">
									<thead>
										<tr>
											<th width="19" class="ac"><input type="checkbox" class="action-select-all-new" value="1" /></th>
											<th width="1" class="ar">&nbsp;</th>
											<th width="1" class="ac">Quantity</th>
											<th class="ac">Product</th>
											<th class="ac">Code</th>
                                            <th class="ac" width="1" colspan="3">Price</th>
										</tr>
									</thead>
									<tbody>
										{% for item in data.items %}
											<tr class="item{% if item.noteType == 'staff' %} blue{% endif %}" id="item-{{ item.id }}" data-note-type="{{ item.noteType }}">
												<td width="19" class="ac select">
													<input data-id="{{ item.id }}" type="checkbox" class="action-select" name="select[{{ item.id }}]" id="listing-select-{{ item.id }}" value="1" />
												</td>
												<td width="1" class="ar small">{{ loop.index }}</td>
                                                <td class="ac {% if item.quantity > 1 %} gradient-background-red{% endif %}" width="70">
                                                    <table class="no-border" align="center">
                                                        <tr>
                                                            <td class="no-padding"><input name="listing-product-quantity[{{ item.id }}]" id="form-listing-product-quantity-{{ item.id }}" data-id="{{ item.id }}" class="ui-corner-none ui-corner-left number quantity" width="20" type="text" value="{{ item.quantity }}" /></td>
                                                            <td class="no-padding">
                                                                <div class="quantity-buttons-container no-padding">
                                                                    <div class="ui-corner-tr action-increase-quantity" data-quantity-object="form-listing-product-quantity-{{ item.id }}">+</div>
                                                                    <div class="ui-corner-br action-decrease-quantity" data-quantity-object="form-listing-product-quantity-{{ item.id }}">-</div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="ac">{{ item.header }}</td>
                                                <td class="ac" width="1">{{ item.productCode }}</td>
                                                <td class="ac" width="1">&pound;{{ item.unitCost|number_format(2) }}</td>
                                                <td class="ac" width="1">=</td>
                                                <td class="ac" width="1"><strong>&pound;{{ item.subTotal|number_format(2) }}</strong></td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							{% else %}
								<p class="no-results">Sorry, no products were found.</p>found.</p>
							{% endif %}
						</div>

                        <div id="listing-totals" class="position-relative">
                            <table class="data-table margin-top-10" width="100%" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td class="ar label">Subtotal before Delivery Charges (inc. VAT):</td>
                                        <td width="1">&pound;{{ data.item.subTotal|number_format(2) }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ar label">Delivery Charge (inc. VAT):</td>
                                        {% if data.item.deliveryType == 'Collection' %}
                                            <td width="1" class="gradient-background-red">COLLECTION</td>
                                        {% else %}
                                            {% if data.item.deliveryCharge == 0 %}
                                                <td width="1" class="gradient-background-green">FREE</td>
                                            {% else %}
                                                <td width="1">&pound;{{ data.item.deliveryCharge|number_format(2) }}</td>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                    {% for donation in data.donations %}
                                        {% if donation.donation > 0 %}
                                            <tr>
                                                <td class="ar label"><img class="margin-right-10" src="{{ asset('bundles/webilluminationshop/images/logos/movember-offer.png') }}" border="0" alt="Movember Offer" height="10" />{{ donation.description }}:</td>
                                                <td width="1" class="gradient-background-green">&pound;{{ donation.donation|number_format(2) }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    {% if data.item.discount > 0 %}
                                        <tr>
                                            <td class="ar label">Discount:</td>
                                            <td width="1" class="gradient-background-green">&pound;{{ data.item.discount|number_format(2) }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td class="ar label">VAT (20%):</td>
                                        <td width="1">&pound;{{ data.item.vat|number_format(2) }}</td>
                                    </tr>
                                    <tr>
                                        <td class="ar label">Total Paid (inc. VAT):</td>
                                        <td width="1"><strong>&pound;{{ data.item.total|number_format(2) }}</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

			        	<div class="clear"></div>
		        		<div id="float-buttons" class="clearfix padding-15">
					        <div id="float-buttons-content" class="float-buttons clearfix buttons no-margin">
					        	<input type="hidden" value="" id="form-extra-action" name="extra-action" />
					        	<input type="hidden" value="0" id="form-delete" name="delete" />
				        		<input type="hidden" value="0" id="form-go-back" name="go-back" />
				        		<input type="hidden" value="0" id="form-new-item" name="new-item" />
				        		<a href="{{ path('admin_'~data.settings.multiplePath) }}" id="button-go-back" class="fr icon-set-white ui-corner-right button ui-button-black" data-icon-primary="ui-icon-circle-arrow-left">Go Back</a>
                                <button class="fr button icon-set-white ui-corner-none ui-button-red action-confirm-multiple-delete" data-icon-primary="ui-icon-circle-cross">Delete Selected</button>
                                <button id="button-update-go-back" type="submit" class="fr button icon-set-white ui-corner-none ui-button-green" data-icon-primary="ui-icon-circle-tick">Update Selected &amp; Go Back</button>
                                <button id="button-update" type="submit" class="fr button icon-set-white ui-corner-left ui-button-green" data-icon-primary="ui-icon-circle-tick">Update Selected</button>
						    </div>
						</div>
					</section>
		        </div>
			</div>
		</form>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemScript.js.twig' with {'data': data} %}
{% endblock %}