{% extends 'WebIlluminationSiteBundle::base.html.twig' %}

{% block title %}Features | {{ variant.description.pageTitle }}{% endblock %}

{% block header %}
    <header>
        {{ parent() }}
        <h1>{{ variant.description.header }}</h1>
        <ul>
            <li><a href="{{ path('variants_edit_overview', {'productId': variant.product.id, 'variantId': variant.id}) }}">Overview</a></li>
            <li><a href="{{ path('variants_edit_descriptions', {'productId': variant.product.id, 'variantId': variant.id}) }}">Descriptions</a></li>
            <li><a href="{{ path('variants_edit_features', {'productId': variant.product.id, 'variantId': variant.id}) }}">Features</a></li>
            <li><a href="{{ path('variants_edit_dimensions', {'productId': variant.product.id, 'variantId': variant.id}) }}">Dimensions</a></li>
            <li><a href="{{ path('variants_edit_prices', {'productId': variant.product.id, 'variantId': variant.id}) }}">Prices</a></li>
        </ul>
    </header>
{% endblock %}
{% block body %}
    <section>
        <form class="form" id="form-edit" method="post" action="{{ path(app.request.attributes.get('_route'), {'productId': variant.product.id, 'variantId': variant.id}) }}" {{ form_enctype(form) }}>
            <div class="widget-group clearfix">
                <div class="widget widget-1-of-1">
                    <div class="ui-widget mbl">
                        <header class="ui-widget-header ui-corner-top">
                            <h2>Features</h2>
                        </header>
                        <section class="ui-widget-content ui-corner-bottom">
                            {% if form.errors %}
                                <div class="message error">
                                    <p>You have <strong>{{ form.errors|length }}</strong> errors. Please fix the following errors before continuing:</p>
                                    {{ form_errors(form) }}
                                </div>
                            {% endif %}
                            <fieldset>
                                <table class="data" id="feature-list" width="100%" data-prototype="{{ form_widget(form.features.vars.prototype) | e }}">
                                    <thead>
                                    <tr>
                                        <th>Group</th>
                                        <th>Feature</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for row in form.features %}
                                        <tr>{{ form_widget(row) }}</tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <button type="button" id="add-feature" class="fr small button icon-set-white ui-button-green add-row margin-top-5" data-icon-primary="ui-icon-circle-plus">Add Another</button>
                                {% do form.features.setRendered() %}
                            </fieldset>

                            <div class="form-element widget-group clearfix">
                                <div class="widget widget-1-of-3">&nbsp;</div>
                                <div class="widget widget-2-of-3">
                                    <button class="button" data-icon-primary="medium-black-icon-1">Submit</button>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {
            var count = {{ form.features | length }};

            jQuery(document).ready(function() {
                $(document).on("click", ".delete-row", function() {
                    $(this).parent().parent().remove();
                });
                jQuery('#add-feature').click(function() {
                    var list = jQuery("#feature-list");

                    var newItem = list.attr('data-prototype');
                    newItem = newItem.replace(/__name__/g, count);
                    count++;

                    var newRow = jQuery('<tr></tr>').html(newItem);
                    newRow.appendTo(list);
                    $('select', newRow).uniform();

                    return false;
                });
            });
            $(document).on('change', '.feature-group', function() {
                var groupId = $(this).val(),
                        that = this;
                $.getJSON('{{ path('api_features', {'groupId': '-1'}) }}'.replace(/-1/, groupId), function(data) {
                    var select = $(that).parents("tr").find(".feature"),
                            options = [];
                    // Clear old features
                    select.val([]).empty();
                    // Add new features
                    for(var i=0; i<data.features.length; i++) {
                        var o = $('<option/>', { value: data.features[i]['id'] })
                                .text(data.features[i]['product_feature'])
                                .prop('selected', i == 0);
                        o.appendTo(select);
                    }
                    $.uniform.update(select);
                });
            });
        });
    </script>
{% endblock %}