<form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge ({'productId': product.id, }) | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget mbl">
                <header class="ui-widget-header ui-corner-top">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-white icon-700"></span>
                    <h2>5. Dimensions</h2>
                </header>
                <section class="ui-widget-content ui-corner-bottom">
                    {% include 'WebIlluminationSiteBundle:Variant:newErrors.html.twig' %}

                    <fieldset>
                        {{ form_row(form.weight, {'label': 'Weight', 'help': ''}) }}
                        {{ form_row(form.length, {'label': 'Length', 'help': ''}) }}
                        {{ form_row(form.width, {'label': 'Width', 'help': ''}) }}
                        {{ form_row(form.height, {'label': 'Height', 'help': ''}) }}
                    </fieldset>

                    {{ form_rest(form) }}
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
                    {% include 'WebIlluminationSiteBundle:Variant:newControls.html.twig' %}
                </section>
            </div>
        </div>
    </div>
</form>