{% extends "KACSiteBundle::base.html.twig" %}


{% block header %}
    <header>
        {{ parent() }}
        <h1><a href="{{ path('profile_overview') }}">Your Account</a> > Orders</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
        <div class="widget-group clearfix">
            <div class="widget widget-1-of-1">
                <div class="ui-widget mbl">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Edit Address - {{ address.displayName }}</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom">
                        <form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all) }}" {{ form_enctype(form) }}>
                            {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                            <fieldset>
                                {{ form_row(form.displayName) }}
                            </fieldset>
                            <fieldset>
                                {{ form_row(form.firstName) }}
                                {{ form_row(form.lastName) }}
                                {{ form_row(form.organisationName) }}
                                {{ form_row(form.addressLine1) }}
                                {{ form_row(form.addressLine2) }}
                                {{ form_row(form.townCity) }}
                                {{ form_row(form.countyState) }}
                                {{ form_row(form.postZipCode) }}
                                {{ form_row(form.countryCode) }}
                            </fieldset>
                            <div class="clearfix">
                                <a href="{{ path('profile_addresses') }}" class="button button-small mrm fl">Back</a>
                                <button type="submit" class="button button-turquoise icon-white mlm fr" data-icon-secondary="icon-471">Create</button>
                            </div>

                            {{ form_rest(form) }}
                        </form>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}