{% extends "KACSiteBundle::base.html.twig" %}


{% block header %}
    <header>
        {{ parent() }}
        <h1>Your Account</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
        <div class="widget-group clearfix">
            <div class="widget widget-1-of-1">
                <div class="ui-widget mbl">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Orders</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom">
                        {% if orders|length > 0 %}
                            <table class="data-table">
                                <thead>
                                    <tr>
                                        <th>Order ID</th>
                                        <th>Order Placed</th>
                                        <th>Num Items</th>
                                        <th>Status</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                        <tr>
                                            <td><a href="{{ path('orders_customer_view', {'id': order.id}) }}">{{ order.id }}</a></td>
                                            <td>{{ order.createdAt|date('d/m/y') }}</td>
                                            <td>{{ order.products|length }}</td>
                                            <td>{{ order.status }}</td>
                                            <td>{{ order.total|currency }}</td>
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="5"><a href="{{ path('profile_orders') }}" class="fr">View all</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        {% else %}
                            <p>No orders found</p>
                        {% endif %}
                    </section>
                </div>
            </div>
            <div class="widget widget-1-of-1">
                <div class="ui-widget mbl">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Account Details</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom">
                        <ul>
                            <li><a href="{{ path('profile_edit') }}">Account Details</a></li>
                            <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="widget widget-1-of-1">
                <div class="ui-widget mbl">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Address Book</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom">
                        <ul>
                            <li><a href="{{ path('profile_addresses') }}">Manage Addresses</a></li>
                            <li><a href="{{ path('profile_new_address') }}">Add Address</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}