{% import _self as helpers %}

{% macro getStatusIconColour(route) %}{% spaceless %}
    {% if app.request.get('_route') == route %}
        white
    {% else %}
        grey
    {% endif %}
{% endspaceless %}{% endmacro %}

{% macro getIconColour(route) %}{% spaceless %}
    {% if app.request.get('_route') == route %}
        turquoise
    {% else %}
        grey
    {% endif %}
{% endspaceless %}{% endmacro %}

{% macro getButtonClass(route) %}{% spaceless %}
    {% if app.request.get('_route') == route %}
        button-turquoise
    {% endif %}
{% endspaceless %}{% endmacro %}

<div class="ui-widget mbl">
    <header class="ui-widget-header ui-corner-top">
        <h2>Edit</h2>
    </header>
    <section class="ui-widget-content ui-corner-bottom">
        <nav class="left-menu">
            <ul class="clearfix">
                <li class="clearfix grey">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-{{ helpers.getIconColour('departments_edit_overview') }} icon-944"></span>
                    <a data-icon-secondary="icon-471" class="fl ui-button button {{ helpers.getButtonClass('departments_edit_overview') }} icon-{{ helpers.getStatusIconColour('departments_edit_overview') }}" href="{{ path('departments_edit_overview', {'departmentId': department.id}) }}">
                        Overview
                    </a>
                </li>
                <li class="clearfix grey">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-{{ helpers.getIconColour('departments_edit_seo') }} icon-369"></span>
                    <a data-icon-secondary="icon-471" class="fl ui-button button {{ helpers.getButtonClass('departments_edit_seo') }} icon-{{ helpers.getStatusIconColour('departments_edit_seo') }}" href="{{ path('departments_edit_seo', {'departmentId': department.id}) }}">
                        SEO
                    </a>
                </li>
                <li class="clearfix grey">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-{{ helpers.getIconColour('departments_edit_delivery') }} icon-1305"></span>
                    <a data-icon-secondary="icon-471" class="fl ui-button button {{ helpers.getButtonClass('departments_edit_delivery') }} icon-{{ helpers.getStatusIconColour('departments_edit_delivery') }}" href="{{ path('departments_edit_delivery', {'departmentId': department.id}) }}">
                        Delivery
                    </a>
                </li>
                <li class="clearfix grey">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-{{ helpers.getIconColour('departments_edit_features') }} icon-51"></span>
                    <a data-icon-secondary="icon-471" class="fl ui-button button {{ helpers.getButtonClass('departments_edit_features') }} icon-{{ helpers.getStatusIconColour('departments_edit_features') }}" href="{{ path('departments_edit_features', {'departmentId': department.id}) }}">
                        Feature Templates
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</div>