{% macro menuItem(parentId, departments) %}
    <ul id="submenu-department-{{ parentId }}" class="menu-vertical">
        {% for department in departments %}
            <li {% if department.children|length > 0 %}data-submenu="submenu-department-{{ department.id }}"{% endif %}>
                <a class="dropdown-toggle" href="{{ path('routing', {'url': department.url}) }}">
                    {{ department.description.name|raw }}
                </a>
                {% if department.children|length > 0 %}
                    {{ _self.menuItem(department.id, department.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

<div class="main-menu">
    <nav class="container clearfix">
        <div class="brands-button">
            <a class="ui-button button button-turquoise uppercase" data-submenu="submenu-brands" href="#">Brands</a>
            <div class="submenu-brands padding-top-10 padding-bottom-10">
                {% for brand in brands %}
                    <div class="brand {% if ((loop.index % 4) == 1) %} brand-first{% endif %}{% if ((loop.index % 4) == 0) %} brand-last{% endif %}">
                        <h4>
                            {% if brand.logo.thumbnailPath is defined %}<a href="{{ path('page_request', {'url': brand.url}) }}"><img class="fl" src="{{ asset(brand.logo.thumbnailPath) }}" border="0" alt="{{ brand.description.name|raw }}" width="48" height="23" /></a>{% endif %}
                            <a class="text" href="{{ path('routing', {'url': brand.url}) }}">{{ brand.description.name|raw }}</a>
                        </h4>
                    </div>
                    {% if ((loop.index % 4) == 0) %}
                        <div class="clear"></div>
                    {% endif %}
                {% endfor %}
                <div class="clear"></div>
            </div>
        </div>
        <ul class="clearfix menu-horizontal">
            {% for department in departments %}
                <li data-submenu="submenu-department-{{ department.id }}">
                    <a class="{% if loop.last %}highlighted{% endif %} dropdown-toggle" href="{{ path('routing', {'url': department.url}) }}">
                        {{ department.menuTitle|raw }}
                    </a>
                    {{ _self.menuItem(department.id, department.children) }}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>