{% macro menuItem(parentId, departments) %}
    <ul id="submenu-department-{{ parentId }}" class="menu-vertical">
        {% for department in departments %}
            <li {% if department.children|length > 0 %}data-submenu="submenu-department-{{ department.id }}"{% endif %}>
                <a class="dropdown-toggle" href="{{ path('routing', {'url': department.url}) }}">
                    {{ department.description.name|raw }}
                </a>
                {% if department.children|length > 0 %}
                    {{ _self.menuItem(department.id, department.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

<div class="main-menu">
    <nav class="container clearfix">
        <a class="ui-button button button-turquoise uppercase" href="#">Brands</a>
        <ul class="clearfix menu-horizontal">
            {% for department in departments %}
                <li data-submenu="submenu-department-{{ department.id }}">
                    <a class="{% if loop.last %}highlighted{% endif %} dropdown-toggle" href="{{ path('routing', {'url': department.url}) }}">
                        {{ department.menuTitle|raw }}
                    </a>
                    {{ _self.menuItem(department.id, department.children) }}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>