<form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <span class="ui-button-icon-primary ui-icon icon-white icon-276"></span>
                    <h2>1. Overview</h2>
                </header>
                <section class="ui-widget-content ui-corner-all">
                    {% include 'KACSiteBundle:Department:newErrors.html.twig' %}
                    <fieldset>
                        {{ form_row(form.parent, {'label': 'Department', 'help': 'Select the department you want this department to fall under'}) }}
                        {{ form_row(form.status, {'label': 'Status', 'help': 'Is the department available?'}) }}
                        {{ form_row(form.descriptions) }}
                    </fieldset>
                    {{ form_rest(form) }}
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
                    {% include 'KACSiteBundle:Product:newControls.html.twig' %}
                </section>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        $("select.select-department").prepend('<option value="">- Select a Department -</option>');
        $("select.select-department:selected").removeAttr("selected");
        $("select.select-department :nth-child(1)").attr("selected", "selected");
        $("select.select-department").select2({
            matcher: function(term, text) {
                return text.replace(/^[\s&nbsp;]+/,'').toUpperCase().indexOf(term.toUpperCase()) >= 0;
            }
        });
        $(".select2-highlighted").each(function() {
            $(this).removeClass("select2-highlighted");
        });
        $(".select-department > .select2-choice > span").html("- Select a Department -");
    })
</script>