{% extends '::shop.html.twig' %}
{% block title %}UK Built-in Kitchen Appliances AEG, NEFF, Bosch, CDA | {{ parent() }}{% endblock %}
{% block slider %}
	<div class="container_8 clearfix">
		<header>
			<div class="slider-gallery-container">
				<div class="slider-gallery">
					<div class="slider-element">
						<a href="#"><img src="{{ asset('/bundles/webilluminationshop/images/headers/neff-dishwashers.jpg') }}" alt="Neff Dishwashers" /></a>
						<h3 class="left">Neff Dishwashers</h3>
						<p class="left">A full scale dinner party or a meal for one, a Neff dishwasher can handle anything you need it to. And that includes bulky pans and casserole dishes. Innovations like our unique VarioFlex baskets give you the complete flexibility you need for the way we cook today.</p>
						<a href="#" class="button left ui-button-yellow">More Details</a>
					</div>
			    	<div class="slider-element">
			    		<a href="#"><img src="{{ asset('/bundles/webilluminationshop/images/headers/franke-sinks.jpg') }}" alt="Franke Sinks" /></a>
			    		<h3 class="right">Franke Sinks</h3>
			    		<p class="right">This superb choice of state-of-the-art new sink designs is offered in a wide range of durable materials, shapes and sizes.</p>
			    		<a href="#" class="button right ui-button-yellow">More Details</a>
			    	</div>
			    	<div class="slider-element">
				    	<a href="#"><img src="{{ asset('/bundles/webilluminationshop/images/headers/bosch-dishwashers.jpg') }}" alt="Bosch Dishwashers" /></a>
				    	<h3 class="left">Bosch Dishwashers</a></h3>
				    	<p class="left">ActiveWater dishwashers use less water. With water consumption at an all time high, it is important to choose a dishwasher that helps preserve this precious resource.</p>
				    	<a href="#" class="button left ui-button-yellow">More Details</a>
				    </div>
				    <div class="slider-element">
				    	<a href="#"><img src="{{ asset('/bundles/webilluminationshop/images/headers/abode-taps.jpg') }}" alt="Abode Taps" /></a>
				    	<h3 class="right">Abode Taps</h3>
				    	<p class="right">The Abode contemporary kitchen mixer range combines precision perfect engineering with stunning design. Clean lines and effortless control epitomise style and quality… beautifully.</p>
				    	<a href="#" class="button right ui-button-yellow">More Details</a>
				    </div>
				</div>
				<div class="slider-navigation-container">
					<div id="slider_gallery_navigation" class="slider-navigation"></div>
				</div>
			</div>
		</header>
	</div>
{% endblock %}
{% block body %}
	<section class="container_6 clearfix">
		<div class="grid_6"> 
			<div class="portlet">
				<header>
	                <h2>Latest Special Offers...</h2>
	            </header>
				<section class="no-padding">
					<div class="slider-products-container">
						<div class="slider-products">
					        <div class="special-offer-container">
					        	<div class="special-offer">
					        		<h4><a href="#">Sensio PowerPod Pop-up Sockets with 2 &times; USB Ports</a></h4>
					        		<div class="product-information">
						        		<a href="#"><img src="{{ asset('/uploads/images/products/sensio-powerpod-pop-up-sockets-with-2-usb-ports.jpg') }}" border="0" alt="Sensio PowerPod Pop-up Sockets with 2 x USB Ports" width="100" height="100" /></a>
						        		<div class="product-description">
						        			<p class="product-code"><a href="#">Code: <strong>SE80050AL</strong></a></p>
											<p class="product-was-price"><span>&pound;100.00</span> save &pound;43.01</p>
					        				<p class="product-price"><a href="#">&pound;56.99</a></p>
					        				<p class="product-tax">(incl. VAT)</p>
					        				<div class="buy-now">
					        					<input class="quantity" width="10" type="text" value="1" />
					        					<button class="fr button ui-button-green">Add to Basket</button>
					        				</div>
						        		</div>
					        			<div class="clear"></div>
					        			<p class="features-link">+ Show Features</p>
					        			<div class="features">
					        				<dl>
					        					<dt class="odd">Brand</dt>
					        						<dd class="odd"><a href="#">Sensio</a></dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<div class="clear"></div>
					        				</dl>
					        			</div>
					        			<div class="product-compare"><input type="checkbox" value="1" /> Compare Products (up to 4)</div>
					        		</div>
					        		<div class="clear"></div>
					        		<a href="#" class="button fr ui-button-blue">More Info</a>
					        	</div>
					        	<div class="special-offer">
					        		<h4><a href="#">Sensio PowerPod Pop-up Sockets with 2 &times; USB Ports</a></h4>
					        		<div class="product-information">
						        		<a href="#"><img src="{{ asset('/uploads/images/products/sensio-powerpod-pop-up-sockets-with-2-usb-ports.jpg') }}" border="0" alt="Sensio PowerPod Pop-up Sockets with 2 x USB Ports" width="100" height="100" /></a>
						        		<div class="product-description">
						        			<p class="product-code"><a href="#">Code: <strong>SE80050AL</strong></a></p>
											<p class="product-was-price"><span>&pound;100.00</span> save &pound;43.01</p>
					        				<p class="product-price"><a href="#">&pound;56.99</a></p>
					        				<p class="product-tax">(incl. VAT)</p>
					        				<div class="buy-now">
					        					<input class="quantity" width="10" type="text" value="1" />
					        					<button class="fr button ui-button-green">Add to Basket</button>
					        				</div>
						        		</div>
					        			<div class="clear"></div>
					        			<p class="features-link">+ Show Features</p>
					        			<div class="features">
					        				<dl>
					        					<dt class="odd">Brand</dt>
					        						<dd class="odd"><a href="#">Sensio</a></dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<div class="clear"></div>
					        				</dl>
					        			</div>
					        			<div class="product-compare"><input type="checkbox" value="1" /> Compare Products (up to 4)</div>
					        		</div>
					        		<div class="clear"></div>
					        		<a href="#" class="button fr ui-button-blue">More Info</a>
					        	</div>
					        	<div class="special-offer no-margin">
					        		<h4><a href="#">Sensio PowerPod Pop-up Sockets with 2 &times; USB Ports</a></h4>
					        		<div class="product-information">
						        		<a href="#"><img src="{{ asset('/uploads/images/products/sensio-powerpod-pop-up-sockets-with-2-usb-ports.jpg') }}" border="0" alt="Sensio PowerPod Pop-up Sockets with 2 x USB Ports" width="100" height="100" /></a>
						        		<div class="product-description">
						        			<p class="product-code"><a href="#">Code: <strong>SE80050AL</strong></a></p>
											<p class="product-was-price"><span>&pound;100.00</span> save &pound;43.01</p>
					        				<p class="product-price"><a href="#">&pound;56.99</a></p>
					        				<p class="product-tax">(incl. VAT)</p>
					        				<div class="buy-now">
					        					<input class="quantity" width="10" type="text" value="1" />
					        					<button class="fr button ui-button-green">Add to Basket</button>
					        				</div>
						        		</div>
					        			<div class="clear"></div>
					        			<p class="features-link">+ Show Features</p>
					        			<div class="features">
					        				<dl>
					        					<dt class="odd">Brand</dt>
					        						<dd class="odd"><a href="#">Sensio</a></dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<div class="clear"></div>
					        				</dl>
					        			</div>
					        			<div class="product-compare"><input type="checkbox" value="1" /> Compare Products (up to 4)</div>
					        		</div>
					        		<div class="clear"></div>
					        		<a href="#" class="button fr ui-button-blue">More Info</a>
					        	</div>
					        	<div class="clear"></div>
					        </div>
					        <div class="special-offer-container">
					        	<div class="special-offer">
					        		<h4><a href="#">Sensio PowerPod Pop-up Sockets with 2 &times; USB Ports</a></h4>
					        		<div class="product-information">
						        		<a href="#"><img src="{{ asset('/uploads/images/products/sensio-powerpod-pop-up-sockets-with-2-usb-ports.jpg') }}" border="0" alt="Sensio PowerPod Pop-up Sockets with 2 x USB Ports" width="100" height="100" /></a>
						        		<div class="product-description">
						        			<p class="product-code"><a href="#">Code: <strong>SE80050AL</strong></a></p>
											<p class="product-was-price"><span>&pound;100.00</span> save &pound;43.01</p>
					        				<p class="product-price"><a href="#">&pound;56.99</a></p>
					        				<p class="product-tax">(incl. VAT)</p>
					        				<div class="buy-now">
					        					<input class="quantity" width="10" type="text" value="1" />
					        					<button class="fr button ui-button-green">Add to Basket</button>
					        				</div>
						        		</div>
					        			<div class="clear"></div>
					        			<p class="features-link">+ Show Features</p>
					        			<div class="features">
					        				<dl>
					        					<dt class="odd">Brand</dt>
					        						<dd class="odd"><a href="#">Sensio</a></dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<div class="clear"></div>
					        				</dl>
					        			</div>
					        			<div class="product-compare"><input type="checkbox" value="1" /> Compare Products (up to 4)</div>
					        		</div>
					        		<div class="clear"></div>
					        		<a href="#" class="button fr ui-button-blue">More Info</a>
					        	</div>
					        	<div class="special-offer">
					        		<h4><a href="#">Sensio PowerPod Pop-up Sockets with 2 &times; USB Ports</a></h4>
					        		<div class="product-information">
						        		<a href="#"><img src="{{ asset('/uploads/images/products/sensio-powerpod-pop-up-sockets-with-2-usb-ports.jpg') }}" border="0" alt="Sensio PowerPod Pop-up Sockets with 2 x USB Ports" width="100" height="100" /></a>
						        		<div class="product-description">
						        			<p class="product-code"><a href="#">Code: <strong>SE80050AL</strong></a></p>
											<p class="product-was-price"><span>&pound;100.00</span> save &pound;43.01</p>
					        				<p class="product-price"><a href="#">&pound;56.99</a></p>
					        				<p class="product-tax">(incl. VAT)</p>
					        				<div class="buy-now">
					        					<input class="quantity" width="10" type="text" value="1" />
					        					<button class="fr button ui-button-green">Add to Basket</button>
					        				</div>
						        		</div>
					        			<div class="clear"></div>
					        			<p class="features-link">+ Show Features</p>
					        			<div class="features">
					        				<dl>
					        					<dt class="odd">Brand</dt>
					        						<dd class="odd"><a href="#">Sensio</a></dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<div class="clear"></div>
					        				</dl>
					        			</div>
					        			<div class="product-compare"><input type="checkbox" value="1" /> Compare Products (up to 4)</div>
					        		</div>
					        		<div class="clear"></div>
					        		<a href="#" class="button fr ui-button-blue">More Info</a>
					        	</div>
					        	<div class="special-offer no-margin">
					        		<h4><a href="#">Sensio PowerPod Pop-up Sockets with 2 &times; USB Ports</a></h4>
					        		<div class="product-information">
						        		<a href="#"><img src="{{ asset('/uploads/images/products/sensio-powerpod-pop-up-sockets-with-2-usb-ports.jpg') }}" border="0" alt="Sensio PowerPod Pop-up Sockets with 2 x USB Ports" width="100" height="100" /></a>
						        		<div class="product-description">
						        			<p class="product-code"><a href="#">Code: <strong>SE80050AL</strong></a></p>
											<p class="product-was-price"><span>&pound;100.00</span> save &pound;43.01</p>
					        				<p class="product-price"><a href="#">&pound;56.99</a></p>
					        				<p class="product-tax">(incl. VAT)</p>
					        				<div class="buy-now">
					        					<input class="quantity" width="10" type="text" value="1" />
					        					<button class="fr button ui-button-green">Add to Basket</button>
					        				</div>
						        		</div>
					        			<div class="clear"></div>
					        			<p class="features-link">+ Show Features</p>
					        			<div class="features">
					        				<dl>
					        					<dt class="odd">Brand</dt>
					        						<dd class="odd"><a href="#">Sensio</a></dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<div class="clear"></div>
					        				</dl>
					        			</div>
					        			<div class="product-compare"><input type="checkbox" value="1" /> Compare Products (up to 4)</div>
					        		</div>
					        		<div class="clear"></div>
					        		<a href="#" class="button fr ui-button-blue">More Info</a>
					        	</div>
					        	<div class="clear"></div>
					        </div>
					        <div class="special-offer-container">
					        	<div class="special-offer">
					        		<h4><a href="#">Sensio PowerPod Pop-up Sockets with 2 &times; USB Ports</a></h4>
					        		<div class="product-information">
						        		<a href="#"><img src="{{ asset('/uploads/images/products/sensio-powerpod-pop-up-sockets-with-2-usb-ports.jpg') }}" border="0" alt="Sensio PowerPod Pop-up Sockets with 2 x USB Ports" width="100" height="100" /></a>
						        		<div class="product-description">
						        			<p class="product-code"><a href="#">Code: <strong>SE80050AL</strong></a></p>
											<p class="product-was-price"><span>&pound;100.00</span> save &pound;43.01</p>
					        				<p class="product-price"><a href="#">&pound;56.99</a></p>
					        				<p class="product-tax">(incl. VAT)</p>
					        				<div class="buy-now">
					        					<input class="quantity" width="10" type="text" value="1" />
					        					<button class="fr button ui-button-green">Add to Basket</button>
					        				</div>
						        		</div>
					        			<div class="clear"></div>
					        			<p class="features-link">+ Show Features</p>
					        			<div class="features">
					        				<dl>
					        					<dt class="odd">Brand</dt>
					        						<dd class="odd"><a href="#">Sensio</a></dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<div class="clear"></div>
					        				</dl>
					        			</div>
					        			<div class="product-compare"><input type="checkbox" value="1" /> Compare Products (up to 4)</div>
					        		</div>
					        		<div class="clear"></div>
					        		<a href="#" class="button fr ui-button-blue">More Info</a>
					        	</div>
					        	<div class="special-offer">
					        		<h4><a href="#">Sensio PowerPod Pop-up Sockets with 2 &times; USB Ports</a></h4>
					        		<div class="product-information">
						        		<a href="#"><img src="{{ asset('/uploads/images/products/sensio-powerpod-pop-up-sockets-with-2-usb-ports.jpg') }}" border="0" alt="Sensio PowerPod Pop-up Sockets with 2 x USB Ports" width="100" height="100" /></a>
						        		<div class="product-description">
						        			<p class="product-code"><a href="#">Code: <strong>SE80050AL</strong></a></p>
											<p class="product-was-price"><span>&pound;100.00</span> save &pound;43.01</p>
					        				<p class="product-price"><a href="#">&pound;56.99</a></p>
					        				<p class="product-tax">(incl. VAT)</p>
					        				<div class="buy-now">
					        					<input class="quantity" width="10" type="text" value="1" />
					        					<button class="fr button ui-button-green">Add to Basket</button>
					        				</div>
						        		</div>
					        			<div class="clear"></div>
					        			<p class="features-link">+ Show Features</p>
					        			<div class="features">
					        				<dl>
					        					<dt class="odd">Brand</dt>
					        						<dd class="odd"><a href="#">Sensio</a></dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<div class="clear"></div>
					        				</dl>
					        			</div>
					        			<div class="product-compare"><input type="checkbox" value="1" /> Compare Products (up to 4)</div>
					        		</div>
					        		<div class="clear"></div>
					        		<a href="#" class="button fr ui-button-blue">More Info</a>
					        	</div>
					        	<div class="special-offer no-margin">
					        		<h4><a href="#">Sensio PowerPod Pop-up Sockets with 2 &times; USB Ports</a></h4>
					        		<div class="product-information">
						        		<a href="#"><img src="{{ asset('/uploads/images/products/sensio-powerpod-pop-up-sockets-with-2-usb-ports.jpg') }}" border="0" alt="Sensio PowerPod Pop-up Sockets with 2 x USB Ports" width="100" height="100" /></a>
						        		<div class="product-description">
						        			<p class="product-code"><a href="#">Code: <strong>SE80050AL</strong></a></p>
											<p class="product-was-price"><span>&pound;100.00</span> save &pound;43.01</p>
					        				<p class="product-price"><a href="#">&pound;56.99</a></p>
					        				<p class="product-tax">(incl. VAT)</p>
					        				<div class="buy-now">
					        					<input class="quantity" width="10" type="text" value="1" />
					        					<button class="fr button ui-button-green">Add to Basket</button>
					        				</div>
						        		</div>
					        			<div class="clear"></div>
					        			<p class="features-link">+ Show Features</p>
					        			<div class="features">
					        				<dl>
					        					<dt class="odd">Brand</dt>
					        						<dd class="odd"><a href="#">Sensio</a></dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<dt class="odd">Feature</dt>
					        						<dd class="odd">Description</dd>
					        					<dt class="even">Feature</dt>
					        						<dd class="even">Description</dd>
					        					<div class="clear"></div>
					        				</dl>
					        			</div>
					        			<div class="product-compare"><input type="checkbox" value="1" /> Compare Products (up to 4)</div>
					        		</div>
					        		<div class="clear"></div>
					        		<a href="#" class="button fr ui-button-blue">More Info</a>
					        	</div>
					        	<div class="clear"></div>
					        </div>
						</div>
						<div class="slider-navigation-container">
							<div id="slider_products_navigation" class="slider-navigation"></div>
						</div>
					</div>
	            </section>
	        </div>
	    </div>
	   	<div class="clear"></div>
	   	<script type="text/javascript">
	   		$(document).ready(function() {
	   			$(".special-offer .features-link").click(function() {
	   				if ($(this).html() == '+ Show Features')
	   				{
	   					$(".special-offer .features-link").html('- Hide Features');
	   					$(".special-offer .features").slideDown();
	   				} else {
	   					$(".special-offer .features-link").html('+ Show Features');
	   					$(".special-offer .features").slideUp();
	   				}
	   			});
	   		});
	   	</script>
	</section>
{% endblock %}