<div class="unique-selling-points-container">
	<div class="container_8">
		<div class="unique-selling-point">
			<a href="{#{{ path('content_contact_us') }}#}"><img src="{{ asset('/bundles/webilluminationshop/images/icons/uk-telephone-box.png') }}" width="20" height="30" border="0" alt="Call 01159 385 111 - For any advice call our UK call centre" /></a>
			<h3><a href="{#{{ path('content_contact_us') }}#}">Call 01159 385 111</a></h3>
			<p><a href="{#{{ path('content_contact_us') }}#}">For any advice call our UK call centre</a></p>
		</div>
		<div class="unique-selling-point">
			<a href="{#{{ path('content_delivery') }}#}"><img src="{{ asset('/bundles/webilluminationshop/images/icons/delivery-van.png') }}" width="60" height="30" border="0" alt="Free UK Delivery - Find out more about our delivery" /></a>
			<h3><a href="{#{{ path('content_delivery') }}#}">Free Delivery <span class="red">*</span></a></h3>
			<p><a href="{#{{ path('content_delivery') }}#}"><span class="red">*</span> To set areas on selected items</a></p>
		</div>
		<div class="last-unique-selling-point no-padding-right">
			<a href="{#{{ path('content_contact_us') }}#}"><img src="{{ asset('/bundles/webilluminationshop/images/icons/delivery-box.png') }}" width="44" height="30" border="0" alt="Package Deal" /></a>
			<h3><a href="{#{{ path('content_contact_us') }}#}">Save with our Package Deals</a></h3>
			<p><a href="{#{{ path('content_contact_us') }}#}">Need 3+ large appliances? Contact us</a></p>
		</div>
	</div>
</div>