<table class="data-table" id="data" width="100%">
	<thead>
		<tr>
			<th width="19" class="ac"><input type="checkbox" class="action-select-all" value="1" /></th>
			<th width="22" class="ac">VIP</th>
			<th class="ac">Name</th>
			<th class="ac">Membership Number</th>
			<th class="ac">Contact Details</th>
			<th class="ac">Age</th>
			<th class="ac">Day</th>
			<th class="ac">Bike Make, Model and CC</th>
			<th class="ac">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for practiceDayRegistration in practiceDayRegistrations %}	
			<tr class="practice-day-registration{% if practiceDayRegistration.vip > 0 %} green{% endif %}" id="practice-day-registration-{{ practiceDayRegistration.id }}">
				<td width="19" class="ac select"><input data-id="{{ practiceDayRegistration.id }}" type="checkbox" class="action-select" id="practice-day-registration-id-{{ practiceDayRegistration.id }}" value="1" autocomplete="off" /></td>
				<td width="22" class="ac small">{% if practiceDayRegistration.vip > 0 %}<span class="icon-embedded ui-button-icon-primary ui-icon ui-icon-check no-margin no-float"></span>{% else %}&nbsp;{% endif %}</td>
				<td class="ac small"><strong>{{ practiceDayRegistration.name }}</strong></td>
				<td class="ac small">{{ practiceDayRegistration.membershipNumber }}</td>
				<td class="ac small"><a href="mailto:{{ practiceDayRegistration.emailAddress }}">{{ practiceDayRegistration.emailAddress }}</a><br />{{ practiceDayRegistration.contactNumber }}<br />{{ practiceDayRegistration.postZipCode }}</td>
				<td class="ac small">{{ practiceDayRegistration.age }}</td>
				<td class="ac small">{{ practiceDayRegistration.day }}</td>
				<td class="ac small">{{ practiceDayRegistration.bike }}</td>
				<td class="ac no-wrap">
					<img class="action-buttons-spacer" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="1" height="0" alt="" />
					<div class="clear"></div>
					<button data-id="{{ practiceDayRegistration.id }}" class="ui-corner-none ui-corner-tr ui-corner-br button ui-button-red action-confirm-delete-practice-day-registration" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</button>
					<button data-id="{{ practiceDayRegistration.id }}" class="ui-corner-none ui-corner-tl ui-corner-bl action-view-practice-day-registration button" data-icon-primary="ui-icon-gear" data-icon-only="true">Practice Day Registration</button>
				</td>
			</tr>
			<tr class="ui-helper-hidden more-information" id="more-information-{{ practiceDayRegistration.id }}">
				<td colspan="10" class="no-padding">
					<div class="more-information-container no-padding-top">
						<div class="spacer">
							<button class="action-close-more-information button ui-button-blue full ui-corner-none ui-corner-bl ui-corner-br" data-icon-primary="ui-icon-triangle-1-n" data-icon-secondary="ui-icon-triangle-1-n">CLOSE INFORMATION PANEL</button>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						{% include 'WebIlluminationAdminBundle:PracticeDayRegistrations:listingPracticeDayRegistration.html.twig' with {'practiceDayRegistration': practiceDayRegistration} %}
						{% include 'WebIlluminationAdminBundle:PracticeDayRegistrations:listingConfirmDelete.html.twig' with {'practiceDayRegistration': practiceDayRegistration} %}
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
	$(document).ready(function() {
		$("#data :checkbox:not(.no-uniform), #data :radio:not(.no-uniform), #data select:not(.no-uniform), #data :file:not(.no-uniform)").uniform();
			$("#data .button").each(function () {
            $(this).button({
            	icons: {
                	primary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-primary'):null, 
                    secondary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-secondary'):null
                }, 
               	text: $(this).attr('data-icon-only') === 'true'?false:true
        	});
        	var $dataNotification = $(this).attr("data-notification");
        	if (($(this).attr("data-notification") != "") && ($(this).attr("data-notification") != undefined))
        	{
        		$(this).prepend('<div class="button-notification">'+$(this).attr("data-notification")+'</div>');
        	}
        });
        $(".message.closeable").prepend('<span class="message-close ui-icon ui-icon-circle-close"></span>').find('.message-close').click(function () {
	    	$(this).parent().fadeOut();
	    });
	    
	    {# Set the widths of the action buttons #}
		var $actionButtonsWidth = 0;
		$actionButtonsWidth = $actionButtonsWidth + $("tr.order button.action-confirm-delete-practice-day-registration:eq(0)").outerWidth(true);
		$actionButtonsWidth = $actionButtonsWidth + $("tr.order button.action-view-action-view-practice-day-registration:eq(0)").outerWidth(true);
		$(".action-buttons-spacer").width($actionButtonsWidth).attr("width", $actionButtonsWidth);
	});
</script>