<script type="text/javascript" defer="defer">
	{# Check all elements are loaded #}
	var $listingCountLoaded = false;
	var $listingLoaded = false;
	var $listingPaginationLoaded = false;
			
	$(document).ready(function() {
		
		{# Clear the filters #}
		$(".action-clear-filters").live('click', function() {
			$("input[type='checkbox']").removeAttr("checked");
			$("div.checker span").removeClass("checked");
			$("#form-name, #form-membership-number, #form-email-address, #form-contact-number, #form-post-zip-code, #form-day, #form-age, #form-vip").val("");
			$("#form-current-page").val('1');
			loadResults();
		});
		
		{# Show the add form #}
		$(".action-view-add").live('click', function() {
			$("#add").slideDown(function() {
				$("html, body").animate({scrollTop: $("#add").offset().top - 50},'slow');
			});
		});
		
		{# Hide the add form #}
		$(".action-cancel-add").live('click', function() {
			$(".form-error").hide();
			$("input, textarea, select").removeClass("invalid");
			$("#add").slideUp(function() {
				$("#add input, #add textarea, #add select").val("");
				$("#add select option").removeAttr("selected");
				$("#add input[type='radio'], #add input[type='checkbox']").removeAttr("checkbox");
				$("#add div.checker span, #add div.radio span").removeClass("checked");
				
				
				var select = $('#someSelect');
 
$('#someSelect').val($('options:first', $('#someSelect')).val());
				
				$("#practice-day-registration-name, #practice-day-registration-membership-number, #practice-day-registration-email-address, #practice-day-registration-contact-number, #practice-day-registration-post-zip-code, #practice-day-registration-bike, #practice-day-registration-notes").val("");
			});
		});
		
		{# Add #}
        $(".action-add").live('click', function() {
        	var addValidator = $("#add :input").validator({
    			position : 'bottom left', 
    			offset : [0, 0], 
    			messageClass : 'form-error', 
        		message : '<div><em/></div>'
			});
			if (addValidator.data("validator").checkValidity())
			{			
	        	$("#ajax_loading").show();
	        	$("#flash_messages .message").hide();
	        	$.ajax({
					type: "POST",
					dataType: "json",
					url: "{{ path('admin_practice_day_registrations_ajax_add') }}",
					data: {
						vip: $(".practice-day-registration-vip:checked").val(),
						name: $("#practice-day-registration-name").val(),
						membershipNumber: $("#practice-day-registration-membership-number").val(),
						emailAddress: $("#practice-day-registration-email-address").val(),
						contactNumber: $("#practice-day-registration-contact-number").val(),
						postZipCode: $("#practice-day-registration-post-zip-code").val(),
						age: $("#practice-day-registration-age").val(),
						day: $("#practice-day-registration-day").val(),
						bike: $("#practice-day-registration-bike").val(),
						notes: $("#practice-day-registration-notes").val()
					},
					error: function(data) {
						$("#message-error-text").html('Sorry, there was a problem adding the practice day registration. Make sure you have filled in all fields and try again.');
			      		$("#message-error").fadeIn();
			      		$("html, body").animate({scrollTop: $("#message-error").offset().top - 50},'slow');
						$("#ajax_loading").hide();
			      	},
					success: function(data) {
						if (data.response == 'error')
						{
							$("#message-error-text").html('Sorry, there was a problem adding the practice day registration. Make sure you have filled in all fields and try again.');
			      			$("#message-error").fadeIn();
			      			$("html, body").animate({scrollTop: $("#message-error").offset().top - 50},'slow');
							$("#ajax_loading").hide();
						} else {
							$("#membership-card-add").slideUp(function() {
								$("#practice-day-registration-name, #practice-day-registration-membership-number, #practice-day-registration-email-address, #practice-day-registration-contact-number, #practice-day-registration-post-zip-code, #practice-day-registration-bike, #practice-day-registration-notes").val("");
							});
				      		loadResults();
    						$("#message-success-text").html('The practice day registration was successfully added.');
				      		$("#message-success").fadeIn();
    						$("html, body").animate({scrollTop: $("#message-success").offset().top - 50},'slow');
							$("#ajax_loading").hide();
						}
					}
				});
			}
        });
        
        {# Show the practice day registration #}
        $(".action-view-practice-day-registration").live('click', function() {
        	showMoreInformation($(this).attr("data-id"), 'practice-day-registration', $("tr#practice-day-registration-"+$(this).attr("data-id")+" button.action-view-practice-day-registration"));
        });
                
        {# Save the practice day registration #}
        $(".action-save-practice-day-registration").live('click', function() {
        	var $id = $(this).attr("data-id");
        	var savePracticeDayRegistrationValidator = $("#practice-day-registration-practice-day-registration-"+$id+" :input").validator({
    			position : 'bottom left', 
    			offset : [0, 0], 
    			messageClass : 'form-error', 
        		message : '<div><em/></div>'
			});
			if (savePracticeDayRegistrationValidator.data("validator").checkValidity())
			{			
	        	$("#ajax_loading").show();
	        	$("#flash_messages .message").hide();
	        	$.ajax({
					type: "GET",
					dataType: "json",
					url: "{{ path('admin_practice_day_registrations_ajax_save_practice_day_registration') }}",
					data: {
						id: $id,
						vip: $(".practice-day-registration-vip-"+$id+":checked").val(),
						name: $("#practice-day-registration-name-"+$id).val(),
						membershipNumber: $("#practice-day-registration-membership-number-"+$id).val(),
						emailAddress: $("#practice-day-registration-email-address-"+$id).val(),
						contactNumber: $("#practice-day-registration-contact-number-"+$id).val(),
						postZipCode: $("#practice-day-registration-post-zip-code-"+$id).val(),
						age: $("#practice-day-registration-age-"+$id).val(),
						day: $("#practice-day-registration-day-"+$id).val(),
						bike: $("#practice-day-registration-bike-"+$id).val(),
						notes: $("#practice-day-registration-notes-"+$id).val()
					},
					error: function(data) {
						$("#practice-day-registration-error-message-text-"+$id).html('Sorry, there was a problem saving the practice day registration. Make sure you have filled in all fields and try again.');
			      		$("#practice-day-registration-error-message-"+$id).fadeIn();
			      		$.mask.close();
						$("#ajax_loading").hide();
			      	},
					success: function(data) {
						if (data.response == 'error')
						{
							$("#practice-day-registration-error-message-text-"+$id).html('Sorry, there was a problem saving the practice day registration. Make sure you have filled in all fields and try again.');
				      		$("#practice-day-registration-error-message-"+$id).fadeIn();
							$("#ajax_loading").hide();
						} else {
				      		loadResults();
				      		$.mask.close();
    						$("#more-information-"+$id).hide();
    						$("#more-information-"+$id+" .more-information-detail").hide();
    						$("#message-success-text").html('The practice day registration was successfully saved.');
				      		$("#message-success").fadeIn();
    						$("html, body").animate({scrollTop: $("#message-success").offset().top - 50},'slow');
							$("#ajax_loading").hide();
						}
					}
				});
			}
        });
        
        {# Confirm the practice day registration deletion #}
        $(".action-confirm-delete-practice-day-registration").live('click', function() {
        	showMoreInformation($(this).attr("data-id"), 'confirm-delete', $("tr#practice-day-registration-"+$(this).attr("data-id")+" button.action-confirm-delete-practice-day-registration"));
        });
        $(".action-delete-practice-day-registration").live('click', function() {
        	$("#flash_messages .message").hide();
        	$("#ajax_loading").show();
        	var $id = $(this).attr("data-id");
			$.ajax({
		    	url: "{{ path('admin_practice_day_registrations_ajax_delete_practice_day_registration') }}",
		      	type: "GET",
		      	dataType: "json",
		      	data: {
		      		id: $id
		      	},
		      	error: function(data) {
		      		$("#message-error-text").html('Sorry, there was a problem deleting the practice day registration. Please try again.');
			      	$("#message-error").fadeIn();
			      	$("html, body").animate({scrollTop: $("#message-error").offset().top - 50},'slow');
			      	$.mask.close();
					$("#ajax_loading").hide();
		      	},
		      	success: function(data) {
		      		$("#form-current-page").val('1');
		      		$(".more-information, .more-information-detail").hide();
					$("tr.practice-day-registration td").removeAttr("style");
					$("tr.practice-day-registration button").removeClass("ui-button-blue");
					$.mask.close();
					loadResults();
					$("#message-success-text").html('The practice day registration has been successfully deleted.');
			      	$("#message-success").fadeIn();
			      	$("html, body").animate({scrollTop: $("#message-success").offset().top - 50},'slow');
					$("#ajax_loading").hide();
		      	}
		   	});
        });
        $(".action-confirm-delete-practice-day-registrations").live('click', function() {
        	if ($(".action-select:checked").length > 0)
			{
	    		$("#practice-day-registration-confirm-delete-practice-day-registrations").fadeIn();
	    		$("html, body").animate({scrollTop: $("#practice-day-registration-confirm-delete-practice-day-registrations").offset().top - 50},'slow');
	    	}
        });
        $(".action-cancel-delete-practice-day-registrations").live('click', function() {
        	$("#practice-day-registration-confirm-delete-practice-day-registrations").fadeOut();
        });
        $(".action-delete-practice-day-registrations").live('click', function() {
        	$("#flash_messages .message").hide();
        	if ($(".action-select:checked").length > 0)
			{
	        	$("#ajax_loading").show();
	        	$("#practice-day-registration-confirm-delete-practice-day-registrations").hide();
				var $numberOfPracticeDayRegistrationsToDelete = $(".action-select:checked").length;
				var $numberOfPracticeDayRegistrationsDeleted = 0;
				if ($numberOfPracticeDayRegistrationsToDelete > 0)
				{
					$(".action-select:checked").each(function() {
						var $id = $(this).attr("data-id");
						$.ajax({
							type: "GET",
							url: "{{ path('admin_practice_day_registrations_ajax_delete_practice_day_registration') }}",
							data: {
								id: $id
							},
							error: function(data) {
								$numberOfPracticeDayRegistrationsDeleted = $numberOfPracticeDayRegistrationsDeleted + 1;
								$("#message-error-text").html('Sorry, there was a problem deleting the selected practice day registrations. Please try again.');
						      	$("#message-error").fadeIn();
						      	if ($numberOfPracticeDayRegistrationsDeleted >= $numberOfPracticeDayRegistrationsToDelete)
						      	{
						      		$("html, body").animate({scrollTop: $("#flash_messages").offset().top - 50},'slow');
									$("#ajax_loading").hide();
									$("#form-current-page").val('1');
									$.mask.close();
									loadResults();
								}
				      		},
							success: function(data) {
								$numberOfPracticeDayRegistrationsDeleted = $numberOfPracticeDayRegistrationsDeleted + 1;
								$("#message-success-text").html('The practice day registrations were successfully deleted.');
						      	$("#message-success").fadeIn();
								if ($numberOfPracticeDayRegistrationsDeleted >= $numberOfPracticeDayRegistrationsToDelete)
						      	{
						      		$("html, body").animate({scrollTop: $("#flash_messages").offset().top - 50},'slow');
									$("#ajax_loading").hide();
									$("#form-current-page").val('1');
									loadResults();
								}
							}
						});
					});
				} else {
					$("#flash_messages .message").hide();
					$("#message-error-text").html('Sorry, you did not select any practice day registrations to delete.');
			      	$("#message-error").fadeIn();
			      	$("html, body").animate({scrollTop: $("#message-error").offset().top - 50},'slow');
					$("#ajax_loading").hide();
				}
			}
        });
        
        $(".vip").live('click change', function() {
			var $valuesToCollect = $(".vip:checked").length;
			var $valuesCollected = 0;
			var $values = new Array();
			$(".vip:checked").each(function(index) {
				$values[$values.length] = $(this).attr("data-vip");
				$valuesCollected = $valuesCollected + 1;
				if ($valuesCollected == $valuesToCollect)
				{
					$("#form-vip").val($values.join("|"));
					loadResults();
				}
			});
			if ($valuesToCollect == 0)
			{
				$("#form-vip").val("");
				loadResults();
			}
		});
		$(".day").live('click change', function() {
			var $valuesToCollect = $(".day:checked").length;
			var $valuesCollected = 0;
			var $values = new Array();
			$(".day:checked").each(function(index) {
				$values[$values.length] = $(this).attr("data-day");
				$valuesCollected = $valuesCollected + 1;
				if ($valuesCollected == $valuesToCollect)
				{
					$("#form-day").val($values.join("|"));
					loadResults();
				}
			});
			if ($valuesToCollect == 0)
			{
				$("#form-day").val("");
				loadResults();
			}
		});
        $(".age").live('click change', function() {
			var $valuesToCollect = $(".age:checked").length;
			var $valuesCollected = 0;
			var $values = new Array();
			$(".age:checked").each(function(index) {
				$values[$values.length] = $(this).attr("data-age");
				$valuesCollected = $valuesCollected + 1;
				if ($valuesCollected == $valuesToCollect)
				{
					$("#form-age").val($values.join("|"));
					loadResults();
				}
			});
			if ($valuesToCollect == 0)
			{
				$("#form-age").val("");
				loadResults();
			}
		});
    		
		{# Select practice day registrations #}
		$(".action-select-all").live('click', function() {
			if ($(".action-select-all").is(":checked"))
			{
				$(".action-select").attr("checked", "checked");
				$(".action-select").parent().addClass("checked");
				$("tr.practice-day-registration").addClass("selected");
			} else {
				$(".action-select").attr("checked", false);
				$(".action-select").parent().removeClass("checked");
				$("tr.practice-day-registration").removeClass("selected");
			}
		});
        $(".action-select").live('click', function() {
        	var $id = $(this).attr("data-id");
        	if ($(this).is(":checked"))
        	{
        		$("#practice-day-registration-"+$id).addClass("selected");
        	} else {
        		$("#practice-day-registration-"+$id).removeClass("selected");
        	}
        });
				
		{# Close the more information panels #}
		$(".action-close-more-information").live('click', function() {
			$(".more-information, .more-information-detail").hide();
			$("tr.practice-day-registration td").removeAttr("style");
			$("tr.practice-day-registration button").removeClass("ui-button-blue");
			$.mask.close();
		});
				
		{# Show/Hide filters #}
		$(".action-filter-results").live('click', function() {
			if ($("#listing-filter").is(":hidden"))
			{
				$("#listing-filter").slideDown();
				$("#filter-results-button > span.ui-button-icon-primary").removeClass("ui-icon-triangle-1-s").addClass("ui-icon-triangle-1-n");
			} else {
				$("#listing-filter").slideUp();
				$("#filter-results-button > span.ui-button-icon-primary").removeClass("ui-icon-triangle-1-n").addClass("ui-icon-triangle-1-s");
			}
		});
					
		{# Update filters #}
		$(".action-update-your-results").live('click', function() {
			$("#form-current-page").val('1');
			loadResults();
		});
		$("#form-name, #form-membership-number, #form-email-address, #form-contact-number, #form-post-zip-code, #form-day, #form-age, #form-vip").live('change', function() {
			$("#form-current-page").val('1');
			loadResults();
		});
		
		$("#form-current-page").val('1');
		loadResults();
		
		$("#form-sort-order, #form-max-results").live('change', function() {
			$("#form-current-page").val('1');
			loadResults();
		});
		
		{# Change the page number #}
		$(".page, .page-navigation").live('click', function() {
			$("#form-current-page").val($(this).attr("data-page"));
			loadResults();
		});
	});
			
	{# Show the more information #}
	function showMoreInformation($id, $moreInformation, $button)
	{
		$(".form-error").hide();
    	$("tr#practice-day-registration-"+$id+" button").removeClass("ui-button-blue");
    	if ($("#practice-day-registration-"+$moreInformation+"-"+$id).is(":hidden"))
    	{
    		$("#more-information-"+$id+" .more-information-detail").hide();
    		$("#more-information-"+$id).show();
    		$("#practice-day-registration-"+$moreInformation+"-"+$id).fadeIn();
    		$("#more-information-"+$id+" td, #practice-day-registration-"+$id+" td").expose({
    			color: "#042F4F",
    			loadSpeed: 2000,
    			opacity: "0.6",
    			onClose: function() {
    				$(".form-error").hide();
    				$(".more-information, .more-information-detail").fadeOut();
    				$("#more-information-"+$id).fadeOut();
    				$("#practice-day-registration-"+$id+" td").removeAttr("style");
    				$("#more-information-"+$id+" .more-information-detail").fadeOut();
    				$("tr#practice-day-registration-"+$id+" button").removeClass("ui-button-blue");
    			}
    		});
    		if (!$button.hasClass("ui-button-red"))
    		{
    			$button.addClass("ui-button-blue");
    		}
    	} else {
    		$.mask.close();
    		$("#more-information-"+$id).fadeOut();
    		$("#more-information-"+$id+" .more-information-detail").fadeOut();
    	}
    	$("html, body").animate({scrollTop: $button.offset().top - 50},'slow');
	}
		
	{# Load the results #}
	function loadResults()
	{
		$("#ajax_loading").show();
		$listingCountLoaded = false;
		$listingLoaded = false;
		$listingPaginationLoaded = false;
		loadListingCount();
		loadListing();
		loadListingPagination();
	}
	
	{# Check all elements have been loaded #}
	function checkResultsLoaded()
	{
		if ($listingCountLoaded && $listingLoaded && $listingPaginationLoaded)
		{
			$("#ajax_loading").hide();
		}
	}
	
	{# Load listing count #}
	function loadListingCount()
	{
		$("#listing-count").html('<img src="{{ asset('bundles/webilluminationadmin/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" /> Loading&hellip;');
		$.ajax({
			type: "GET",
			dataType: "json",
			url: "{{ path('admin_practice_day_registrations_ajax_get_listing_count') }}",
			data: {
    			name: $("#form-name").val(),
				membershipNumber: $("#form-membership-number").val(),
				emailAddress: $("#form-email-address").val(),
				contactNumber: $("#form-contact-number").val(),
				postZipCode: $("#form-post-zip-code").val(),
	    		age: $("#form-age").val(),
	    		day: $("#form-day").val(),
    			vip: $("#form-vip").val()
			},
			error: function(data) {
				$("#listing-count").html('No Practice Day Registrations Found');
				$listingCountLoaded = true;
				checkResultsLoaded();
	      	},
			success: function(data) {
				if (data.response == 'success')
    	    	{
        			var $listingCount = parseInt(data.listingCount);
        			if (($listingCount > 1) || ($listingCount < 1))
        			{
        				if ($listingCount < 1)
	        			{
    	    				$("#listing-count").html('No Practice Day Registrations Found');
        				} else {
	        				$("#listing-count").html('Found '+$listingCount+' Practice Day Registrations');
	        			}
	        		} else {
    	    			$("#listing-count").html('Found 1 Practice Day Registration');
        			}	
	        	} else {
    	    		$("#listing-count").html('No Practice Day Registrations Found');
        		}
        		$listingCountLoaded = true;
	        	checkResultsLoaded();
			}
		});
	}
	
	{# Load listing #}
	function loadListing()
	{
		if ($("#listing").height() > 0)
		{
			$("#listing-loading").height($("#listing").height() - 12);
		}
		$("#listing-loading").show();
		$("#listing").hide().html("");
		$.ajax({
			type: "GET",
			url: "{{ path('admin_practice_day_registrations_ajax_get_listing') }}",
			data: {
				name: $("#form-name").val(),
				membershipNumber: $("#form-membership-number").val(),
				emailAddress: $("#form-email-address").val(),
				contactNumber: $("#form-contact-number").val(),
				postZipCode: $("#form-post-zip-code").val(),
	    		age: $("#form-age").val(),
	    		day: $("#form-day").val(),
    			vip: $("#form-vip").val(),
	    		sortOrder: $("#form-sort-order").val(),
	    		page: $("#form-current-page").val(),
   				maxResults: $("#form-max-results").val()
   			},
			error: function(data) {
				$("#listing-loading").hide();
				$("#listing").html('<p class="ac">Sorry, no results were found.</p>').fadeIn();
				$listingLoaded = true;
				checkResultsLoaded();
      		},
			success: function(data) {
				$("#listing-loading").hide();
				$("#listing").html(data).fadeIn();
        		$listingLoaded = true;
        		checkResultsLoaded();
			}
		});
	}
	
	{# Load listing pagination #}
	function loadListingPagination()
	{
		$("#listing-pagination-top, #listing-pagination-bottom").hide().html("");
		$.ajax({
			type: "GET",
			url: "{{ path('admin_practice_day_registrations_ajax_get_listing_pagination') }}",
			data: {
   				name: $("#form-name").val(),
				membershipNumber: $("#form-membership-number").val(),
				emailAddress: $("#form-email-address").val(),
				contactNumber: $("#form-contact-number").val(),
				postZipCode: $("#form-post-zip-code").val(),
	    		age: $("#form-age").val(),
	    		day: $("#form-day").val(),
    			vip: $("#form-vip").val(),
	    		page: $("#form-current-page").val(),
   				maxResults: $("#form-max-results").val()
   			},
			error: function(data) {
				$("#listing-pagination-top, #listing-pagination-bottom").hide().html("");
				$listingPaginationLoaded = true;
				checkResultsLoaded();
	      	},
			success: function(data) {
				$("#listing-pagination-top, #listing-pagination-bottom").html(data).fadeIn();
	        	$listingPaginationLoaded = true;
	        	checkResultsLoaded();
			}
		});
	}
</script>