{% extends ':Old:email.html.twig' %}
{% block title %}Ride Direct Practice Day{% endblock %}
{% block body %}
	<table cellspacing="0" border="0" style="background-color: #FFF;" cellpadding="0" width="100%">
		<tr>
			<td valign="top" style="padding: 5px 0;">
				<table cellspacing="0" border="0" align="center" style="background: #FFFFFF; border: 1px solid #CCCCCC;" cellpadding="0" width="900">
					<tr>
						<td valign="top">
							<table cellspacing="0" border="0" cellpadding="0" width="900">
								<tr>
									<td valign="top" style="padding: 20px;" width="860">
										<p style="padding: 0; margin: 0; text-align: center;"><img width="500" height="150" alt="Committed to Giving Riders More" border="0" src="http://www.ridedirect.co.uk/bundles/webilluminationshop/images/logos/ride-direct-email-logo-and-slogan.gif" /></p>
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 10px 0 10px 0; margin: 0; line-height: 120%;"><strong>Registrants for the Ride Direct Practice Day on Saturday 3rd March 2012.</strong></p>
										<table style="border-collapse: collapse; border: 1px solid #CCC;" cellspacing="0" border="0" cellpadding="0" width="860">
											<tr>
												<td valign="middle" align="center" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Name</strong></td>
												<td valign="middle" align="center" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Membership No.</strong></td>
												<td valign="middle" align="center" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Number</strong></td>
												<td valign="middle" align="center" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Post Code</strong></td>
												<td valign="middle" align="center" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Age</strong></td>
												<td valign="middle" align="center" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Bike</strong></td>
												<td valign="middle" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="250"><strong>Notes</strong></td>
											</tr> 
											{% for practiceDayRegistration in practiceDayRegistrations %}
												<tr>
													<td valign="middle" align="center" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; text-transform: uppercase;">{{ practiceDayRegistration.name }}</td>
													<td valign="middle" align="center" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; text-transform: uppercase;">{% if practiceDayRegistration.membershipNumber > 1 %}{{ practiceDayRegistration.membershipNumber }}{% else %}-{% endif %}</td>
													<td valign="middle" align="center" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; text-transform: uppercase;">{{ practiceDayRegistration.contactNumber|default('-') }}</td>
													<td valign="middle" align="center" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; text-transform: uppercase;">{{ practiceDayRegistration.postZipCode|default('-') }}</td>
													<td valign="middle" align="center" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; text-transform: uppercase;">{{ practiceDayRegistration.age }}</td>
													<td valign="middle" align="center" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; text-transform: uppercase;">{{ practiceDayRegistration.bike|default('-') }}</td>
													<td valign="middle" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; text-transform: uppercase;" width="250">{{ practiceDayRegistration.notes|default(' ') }}</td>
												</tr>
											{% endfor %}
										</table>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}