{% macro list(item, index, settings) %}
	{% spaceless %}
		<li class="item-container" data-index="{{ index }}" id="item-{{ index }}">
			<table width="100%">
				<tbody>
					<tr>
						<td width="9" class="ac">
							<img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
						</td>
						<td width="1" class="ac select delete">
							<input data-index="{{ index }}" type="checkbox" class="item-select" id="form-item-select-{{ index }}" value="1" />
						</td>
						<td class="no-padding-bottom">
							<input type="text" class="file-display-name full" id="form-file-display-name-{{ index }}" placeholder="Enter a department" value="{{ item.department }}" />
						</td>
						<td width="1" class="buttons-container ac no-wrap">
							<img id="buttons-spacer" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="0" alt="" />
							<div class="clear"></div>
							<a href="{{ path('admin_'~settings.multipleItemsPath~'_update', {'id': item.id}) }}" class="ui-corner-none ui-corner-tl ui-corner-bl button" data-icon-primary="ui-icon-pencil" data-icon-only="true">Update</a>
							<button data-id="{{ item.id }}" class="ui-corner-none ui-corner-tr ui-corner-br button ui-button-red action-confirm-delete" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		    {% if item.departments is defined %}
		    	<div>
			        <ul class="list-fields">
				        {% for department in item.departments %}
				            {{ _self.list(department, loop.index, settings) }}
				        {% endfor %}
			        </ul>
		        </div>
		    {% endif %}
	    </li>
	{% endspaceless %}
{% endmacro %}
<div class="clearfix">
    <div class="form-input-long">
		<div id="listing" class="departments-container">
			<input type="hidden" id="items-count" value="{% if items|length > 1 %}{{ items|length }}{% else %}1{% endif %}" />
			<ul class="list-fields">
				{% for item in items %}
			   		{{ _self.list(item, loop.index, settings) }}
			   	{% endfor %}
			</ul>
		</div>
	</div>
</div>
<table class="data-table" id="data" width="100%">
	<thead>
		<tr>
			<th width="9" class="ac">&nbsp;</th>
			<th width="19" class="ac"><input type="checkbox" class="action-select-all" value="1" /></th>
			<th class="al">Department</th>
			<th class="ac">Status</th>
			<th class="ac">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for item in items %}	
			<tr class="item" id="item-{{ item.id }}">
				<td width="9" class="ac"><img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" /></td>
				<td width="19" class="ac select"><input data-id="{{ item.id }}" type="checkbox" class="action-select" id="listing-select-{{ item.id }}" value="1" /></td>
				<td class="al small"><a href="{{ path('admin_'~settings.multipleItemsPath~'_update', {'id': item.id}) }}" data-id="{{ item.id }}">{{ item.department }}</a></td>
				<td width="85" class="ac small ">
					<select id="listing-status-{{ item.id }}" data-id="{{ item.id }}" class="listing-status full">
						<option{% if item.status == 'a' %} selected="selected"{% endif %} value="a">Active</option>
						<option{% if item.status == 'h' %} selected="selected"{% endif %} value="h">Hidden</option>
						<option{% if item.status == 'd' %} selected="selected"{% endif %} value="d">Disabled</option>
					</select>
				</td>
				<td width="1" class="buttons-container ac no-wrap">
					<img id="buttons-spacer" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="0" alt="" />
					<div class="clear"></div>
					<button data-id="{{ item.id }}" class="ui-corner-none ui-corner-tr ui-corner-br button ui-button-red action-confirm-delete" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</button>
					<a href="{{ path('admin_'~settings.multipleItemsPath~'_update', {'id': item.id}) }}" class="ui-corner-none ui-corner-tl ui-corner-bl button" data-icon-primary="ui-icon-pencil" data-icon-only="true">Update</a>
				</td>
			</tr>
			
			<tr class="ui-helper-hidden more-information" id="more-information-{{ item.id }}">
				<td colspan="9" class="no-padding">
					<div class="more-information-container no-padding-top">
						<div class="spacer">
							<button class="action-close-more-information button ui-button-blue full ui-corner-none ui-corner-bl ui-corner-br" data-icon-primary="ui-icon-triangle-1-n" data-icon-secondary="ui-icon-triangle-1-n">CLOSE INFORMATION PANEL</button>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						{% include 'WebIlluminationAdminBundle:'~settings.multipleItemsModel~':listingConfirmDelete.html.twig' with {'settings': settings, 'item': item} %}
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
	$(document).ready(function() {
		{# Dragabble sorting #}
		$(".list-fields").sortable({
			placeholder: "highlighted-row",
			update: function(event, ui) {
				//reOrderFiles();
			}
		});
		
		
		{# Initialise Unifrom #}
		initialiseUniform("listing");
	    
	    {# Set the widths of the action buttons #}
		var $actionButtonsWidth = 0;
		$("td.buttons-container:eq(0) .button").each(function() {
			$actionButtonsWidth = $actionButtonsWidth + $(this).outerWidth(true) + 2;
		});
		$("#buttons-spacer").width($actionButtonsWidth).attr("width", $actionButtonsWidth);
	});
</script>