<div class="widget-group clearfix mbl">
    <div class="widget widget-1-of-1">
        <div class="ui-widget">
            <header class="ui-widget-header ui-corner-top">
                <h2>2. Select Your Worktops</h2>
            </header>
            <section class="ui-widget-content ui-corner-bottom clearfix">
            <table class="data-table">
                <thead>
                    <tr>
                        <th colspan="3">Worktops</th>
                        <th class="tac">Price</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody class="updatable">
                    <tr class="odd" data-worktop-thickness="28">
                        <td width="1" rowspan="4" class="pam image">
                            <a href="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" alt="Worktop (square corners)" /></a>
                        </td>
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        {% set currentId = currentId + 1 %}
                        {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 285, 'productCode': 'AMM28/18600', 'deliveryBand': 6, 'header': '1800mm × 600mm × 28mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                    </tr>
                    <tr class="even" data-worktop-thickness="28">
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        {% set currentId = currentId + 1 %}
                        {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 289, 'productCode': 'AMM28/18650', 'deliveryBand': 6, 'header': '1800mm × 650mm × 28mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                    </tr>
                    <tr class="odd" data-worktop-thickness="28">
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        {% set currentId = currentId + 1 %}
                        {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 485, 'productCode': 'AMM28/36600', 'deliveryBand': 6, 'header': '3600mm × 600mm × 28mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                    </tr>
                    <tr class="even" data-worktop-thickness="28">
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM28/36650</strong><br />3600mm × 650mm × 28mm Worktop (square corners)</p></td>
                        <td width="1" class="nowrap price">{{ 489|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="odd" data-worktop-thickness="28">
                        <td width="1" rowspan="2" class="pam image">
                            <a href="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-worktops-240mm-radius.jpg') }}" alt="Worktop (240mm radius)" /></a>
                        </td>
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM28/18CR650</strong><br />1800mm × 650mm × 28mm "C-End" Worktop (240mm radius)</p></td>
                        <td width="1" class="nowrap price">{{ 349|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="even" data-worktop-thickness="28">
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM28/36CR650</strong><br />3600mm × 650mm × 28mm "C-End" Worktop (240mm radius)</p></td>
                        <td width="1" class="nowrap price">{{ 535|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="odd" data-worktop-thickness="42">
                        <td width="1" rowspan="4" class="pam image">
                            <a href="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" alt="Worktop (square corners)" /></a>
                        </td>
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM/18600</strong><br />1800mm × 600mm × 42mm Worktop (square corners)</p></td>
                        <td width="1" class="nowrap price">{{ 295|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="even" data-worktop-thickness="42">
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM/18650</strong><br />1800mm × 650mm × 42mm Worktop (square corners)</p></td>
                        <td width="1" class="nowrap price">{{ 299|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="odd" data-worktop-thickness="42">
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM/36600</strong><br />3600mm × 600mm × 42mm Worktop (square corners)</p></td>
                        <td width="1" class="nowrap price">{{ 495|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="even" data-worktop-thickness="42">
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM/36650</strong><br />3600mm × 650mm × 42mm Worktop (square corners)</p></td>
                        <td width="1" class="nowrap price">{{ 499|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="odd" data-worktop-thickness="42">
                        <td width="1" rowspan="2" class="pam image">
                            <a href="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-worktops-240mm-radius.jpg') }}" alt="Worktop (240mm radius)" /></a>
                        </td>
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM/18CR650</strong><br />1800mm × 650mm × 42mm "C-End" Worktop (240mm radius)</p></td>
                        <td width="1" class="nowrap price">{{ 329|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="even" data-worktop-thickness="42">
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM/36CR650</strong><br />3600mm × 650mm × 42mm "C-End" Worktop (240mm radius)</p></td>
                        <td width="1" class="nowrap price">{{ 525|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="odd" data-worktop-thickness="54">
                        <td width="1" rowspan="4" class="pam image">
                            <a href="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" alt="Worktop (square corners)" /></a>
                        </td>
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM54/18600</strong><br />1800mm × 600mm × 54mm Worktop (square corners)</p></td>
                        <td width="1" class="nowrap price">{{ 355|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="even" data-worktop-thickness="54">
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM54/18650</strong><br />1800mm × 650mm × 54mm Worktop (square corners)</p></td>
                        <td width="1" class="nowrap price">{{ 359|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="odd" data-worktop-thickness="54">
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM/36600</strong><br />3600mm × 600mm × 54mm Worktop (square corners)</p></td>
                        <td width="1" class="nowrap price">{{ 615|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="even" data-worktop-thickness="54">
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM54/36650</strong><br />3600mm × 650mm × 54mm Worktop (square corners)</p></td>
                        <td width="1" class="nowrap price">{{ 619|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="odd" data-worktop-thickness="54">
                        <td width="1" rowspan="2" class="pam image">
                            <a href="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-worktops-240mm-radius.jpg') }}" alt="Worktop (240mm radius)" /></a>
                        </td>
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM54/18CR650</strong><br />1800mm × 650mm × 54mm "C-End" Worktop (240mm radius)</p></td>
                        <td width="1" class="nowrap price">{{ 399|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
                    <tr class="even" data-worktop-thickness="54">
                        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                        <td><p><strong>Ammonite AMM54/36CR650</strong><br />3600mm × 650mm × 54mm "C-End" Worktop (240mm radius)</p></td>
                        <td width="1" class="nowrap price">{{ 599|currency('GBP', true, true, '')|raw }}</td>
                        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
                    </tr>
    </tbody>
    <thead>
    <tr>
        <th colspan="3">Breakfast Bars</th>
        <th class="tac">Price</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody class="updatable">
    <tr class="odd" data-worktop-thickness="28">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-breakfast-bars-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-breakfast-bars-square-corners.jpg') }}" alt="Breakfast Bars (square corners)" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/189</strong><br />1800mm × 900mm × 28mm Breakfast Bar (square corners)</p></td>
        <td width="1" class="nowrap price">{{ 389|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="28">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/369</strong><br />3600mm × 900mm × 28mm Breakfast Bar (square corners)</p></td>
        <td width="1" class="nowrap price">{{ 599|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="42">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-breakfast-bars-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-breakfast-bars-square-corners.jpg') }}" alt="Breakfast Bars (square corners)" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/189</strong><br />1800mm × 900mm × 42mm Breakfast Bar (square corners)</p></td>
        <td width="1" class="nowrap price">{{ 399|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="42">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/369</strong><br />3600mm × 900mm × 42mm Breakfast Bar (square corners)</p></td>
        <td width="1" class="nowrap price">{{ 659|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="54">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-breakfast-bars-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-breakfast-bars-square-corners.jpg') }}" alt="Breakfast Bars (square corners)" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/189</strong><br />1800mm × 900mm × 54mm Breakfast Bar (square corners)</p></td>
        <td width="1" class="nowrap price">{{ 459|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="54">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/369</strong><br />3600mm × 900mm × 54mm Breakfast Bar (square corners)</p></td>
        <td width="1" class="nowrap price">{{ 739|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="28">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-breakfast-bars-240mm-radius.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-breakfast-bars-240mm-radius.jpg') }}" alt="Breakfast Bars (square corners)" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/9DR18</strong><br />1800mm × 900mm × 28mm "D-Radius" Breakfast Bar (240mm radius)</p></td>
        <td width="1" class="nowrap price">{{ 396|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="28">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/9DR36</strong><br />3600mm × 900mm × 28mm "D-Radius" Breakfast Bar (240mm radius)</p></td>
        <td width="1" class="nowrap price">{{ 716|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="42">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-breakfast-bars-240mm-radius.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-breakfast-bars-240mm-radius.jpg') }}" alt="Breakfast Bars (square corners)" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/9DR18</strong><br />1800mm × 900mm × 42mm "D-Radius" Breakfast Bar (240mm radius)</p></td>
        <td width="1" class="nowrap price">{{ 410|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="42">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/9DR36</strong><br />3600mm × 900mm × 42mm "D-Radius" Breakfast Bar (240mm radius)</p></td>
        <td width="1" class="nowrap price">{{ 739|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="54">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-breakfast-bars-240mm-radius.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-breakfast-bars-240mm-radius.jpg') }}" alt="Breakfast Bars (square corners)" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/9DR18</strong><br />1800mm × 900mm × 54mm "D-Radius" Breakfast Bar (240mm radius)</p></td>
        <td width="1" class="nowrap price">{{ 479|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="54">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/9DR36</strong><br />3600mm × 900mm × 54mm "D-Radius" Breakfast Bar (240mm radius)</p></td>
        <td width="1" class="nowrap price">{{ 896|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    </tbody>
    <thead>
    <tr>
        <th colspan="3">Island Worktops</th>
        <th class="tac">Price</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody class="updatable">
    <tr class="odd" data-worktop-thickness="28">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-island-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-island-square-corners.jpg') }}" alt="Islands (square corners)" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/1812</strong><br />1800mm × 1200mm × 28mm Island Worktop (square corners)</p></td>
        <td width="1" class="nowrap price">{{ 545|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="42">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-island-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-island-square-corners.jpg') }}" alt="Islands (square corners)" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/1812</strong><br />1800mm × 1200mm × 42mm Island Worktop (square corners)</p></td>
        <td width="1" class="nowrap price">{{ 595|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="54">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-island-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-island-square-corners.jpg') }}" alt="Islands (square corners)" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/1812</strong><br />1800mm × 1200mm × 54mm Island Worktop (square corners)</p></td>
        <td width="1" class="nowrap price">{{ 715|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="28">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-island-240mm-radius.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-island-240mm-radius.jpg') }}" alt="Islands (square corners)" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/12DR18</strong><br />1800mm × 1200mm × 28mm "D-Radius" Island Worktop (240mm radius)</p></td>
        <td width="1" class="nowrap price">{{ 615|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="42">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-island-240mm-radius.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-island-240mm-radius.jpg') }}" alt="Islands (square corners)" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/12DR18</strong><br />1800mm × 1200mm × 42mm "D-Radius" Island Worktop (240mm radius)</p></td>
        <td width="1" class="nowrap price">{{ 675|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="54">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-island-240mm-radius.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-island-240mm-radius.jpg') }}" alt="Islands (square corners)" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/12DR18</strong><br />1800mm × 1200mm × 54mm "D-Radius" Island Worktop (240mm radius)</p></td>
        <td width="1" class="nowrap price">{{ 795|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    </tbody>
    <thead>
    <tr>
        <th colspan="3">Sink Modules</th>
        <th class="tac">Price</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody class="updatable">
    <tr class="odd" data-worktop-thickness="28">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-single-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-single-bowl.jpg') }}" alt="Sink Module - Single Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSingleBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SM1B2/6</strong><br />1800mm × 600mm × 28mm Sink Module - Single Bowl</p></td>
        <td width="1" class="nowrap price">{{ 885|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="28">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSingleBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SM1B2/36</strong><br />3600mm × 600mm × 28mm Sink Module - Single Bowl</p></td>
        <td width="1" class="nowrap price">{{ 1110|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="42">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-single-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-single-bowl.jpg') }}" alt="Sink Module - Single Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSingleBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SM1B2/6</strong><br />1800mm × 600mm × 42mm Sink Module - Single Bowl</p></td>
        <td width="1" class="nowrap price">{{ 895|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="42">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSingleBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SM1B2/36</strong><br />3600mm × 600mm × 42mm Sink Module - Single Bowl</p></td>
        <td width="1" class="nowrap price">{{ 1120|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="54">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-single-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-single-bowl.jpg') }}" alt="Sink Module - Single Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSingleBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SM1B2/6</strong><br />1800mm × 600mm × 54mm Sink Module - Single Bowl</p></td>
        <td width="1" class="nowrap price">{{ 925|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="54">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SM1B2/36</strong><br />3600mm × 600mm × 54mm Sink Module - Single Bowl</p></td>
        <td width="1" class="nowrap price">{{ 1150|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="28">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-super-large-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-super-large-bowl.jpg') }}" alt="Sink Module - Super Large Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSuperLargeBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SMSUP/6</strong><br />1800mm × 600mm × 28mm Sink Module - Super Large Bowl</p></td>
        <td width="1" class="nowrap price">{{ 919|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="28">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSuperLargeBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SMSUP/36</strong><br />3600mm × 600mm × 28mm Sink Module - Super Large Bowl</p></td>
        <td width="1" class="nowrap price">{{ 1144|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="42">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-super-large-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-super-large-bowl.jpg') }}" alt="Sink Module - Super Large Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSuperLargeBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SMSUP/6</strong><br />1800mm × 600mm × 42mm Sink Module - Super Large Bowl</p></td>
        <td width="1" class="nowrap price">{{ 929|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="42">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSuperLargeBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SMSUP/36</strong><br />3600mm × 600mm × 42mm Sink Module - Super Large Bowl</p></td>
        <td width="1" class="nowrap price">{{ 1154|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="54">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-super-large-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-super-large-bowl.jpg') }}" alt="Sink Module - Super Large Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSuperLargeBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SMSUP/6</strong><br />1800mm × 600mm × 54mm Sink Module - Super Large Bowl</p></td>
        <td width="1" class="nowrap price">{{ 919|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="54">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSuperLargeBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SMSUP/36</strong><br />3600mm × 600mm × 54mm Sink Module - Super Large Bowl</p></td>
        <td width="1" class="nowrap price">{{ 1144|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="28">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-bowl.jpg') }}" alt="Sink Module - Duo 1.5 Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDuo15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SM15B2/6</strong><br />1800mm × 600mm × 28mm Sink Module - Duo 1.5 Bowl</p></td>
        <td width="1" class="nowrap price">{{ 929|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="28">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDuo15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SM15B2/36</strong><br />3600mm × 600mm × 28mm Sink Module - Duo 1.5 Bowl</p></td>
        <td width="1" class="nowrap price">{{ 1154|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="42">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-bowl.jpg') }}" alt="Sink Module - Duo 1.5 Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDuo15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SM15B2/6</strong><br />1800mm × 600mm × 42mm Sink Module - Duo 1.5 Bowl</p></td>
        <td width="1" class="nowrap price">{{ 939|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="42">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDuo15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SM15B2/36</strong><br />3600mm × 600mm × 42mm Sink Module - Duo 1.5 Bowl</p></td>
        <td width="1" class="nowrap price">{{ 1164|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="54">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-bowl.jpg') }}" alt="Sink Module - Duo 1.5 Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDuo15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SM15B2/6</strong><br />1800mm × 600mm × 54mm Sink Module - Duo 1.5 Bowl</p></td>
        <td width="1" class="nowrap price">{{ 969|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="54">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDuo15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SM15B2/36</strong><br />3600mm × 600mm × 54mm Sink Module - Duo 1.5 Bowl</p></td>
        <td width="1" class="nowrap price">{{ 1194|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="28">
        <td width="1" rowspan="4" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-designer-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-designer-bowl.jpg') }}" alt="Sink Module - Designer 1.5 Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SM15DLH/65</strong><br />1800mm × 650mm × 28mm Sink Module - Designer 1.5 Bowl (Left Hand Bowl)</p></td>
        <td width="1" class="nowrap price">{{ 959|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="28">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SM15DLH/365</strong><br />3600mm × 650mm × 28mm Sink Module - Designer 1.5 Bowl (Left Hand Bowl)</p></td>
        <td width="1" class="nowrap price">{{ 1184|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="28">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SM15DRH/65</strong><br />1800mm × 650mm × 28mm Sink Module - Designer 1.5 Bowl (Right Hand Bowl)</p></td>
        <td width="1" class="nowrap price">{{ 959|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="28">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SM15DRH/365</strong><br />3600mm × 650mm × 28mm Sink Module - Designer 1.5 Bowl (Right Hand Bowl)</p></td>
        <td width="1" class="nowrap price">{{ 1184|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="42">
        <td width="1" rowspan="4" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-designer-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-designer-bowl.jpg') }}" alt="Sink Module - Designer 1.5 Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SM15DLH/65</strong><br />1800mm × 650mm × 42mm Sink Module - Designer 1.5 Bowl (Left Hand Bowl)</p></td>
        <td width="1" class="nowrap price">{{ 969|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="42">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SM15DLH/365</strong><br />3600mm × 650mm × 42mm Sink Module - Designer 1.5 Bowl (Left Hand Bowl)</p></td>
        <td width="1" class="nowrap price">{{ 1194|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="42">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SM15DRH/65</strong><br />1800mm × 650mm × 42mm Sink Module - Designer 1.5 Bowl (Right Hand Bowl)</p></td>
        <td width="1" class="nowrap price">{{ 969|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="42">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SM15DRH/365</strong><br />3600mm × 650mm × 42mm Sink Module - Designer 1.5 Bowl (Right Hand Bowl)</p></td>
        <td width="1" class="nowrap price">{{ 1194|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="54">
        <td width="1" rowspan="4" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-designer-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-designer-bowl.jpg') }}" alt="Sink Module - Designer 1.5 Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SM15DLH/65</strong><br />1800mm × 650mm × 54mm Sink Module - Designer 1.5 Bowl (Left Hand Bowl)</p></td>
        <td width="1" class="nowrap price">{{ 1017|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="54">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SM15DLH/365</strong><br />3600mm × 650mm × 54mm Sink Module - Designer 1.5 Bowl (Left Hand Bowl)</p></td>
        <td width="1" class="nowrap price">{{ 1242|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="54">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SM15DRH/65</strong><br />1800mm × 650mm × 54mm Sink Module - Designer 1.5 Bowl (Right Hand Bowl)</p></td>
        <td width="1" class="nowrap price">{{ 1017|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="54">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SM15DRH/365</strong><br />3600mm × 650mm × 54mm Sink Module - Designer 1.5 Bowl (Right Hand Bowl)</p></td>
        <td width="1" class="nowrap price">{{ 1242|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="28">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-large-flush-mount-sink@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-large-flush-mount-sink.jpg') }}" alt="Sink Module - Large Flush Mount Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesLargeFlushMountBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SMF1B/6</strong><br />1800mm × 600mm × 28mm Sink Module - Large Flush Mount Bowl</p></td>
        <td width="1" class="nowrap price">{{ 590|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="28">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesLargeFlushMountBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SMF1B/36</strong><br />3600mm × 600mm × 28mm Sink Module - Large Flush Mount Bowl</p></td>
        <td width="1" class="nowrap price">{{ 779|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="42">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-large-flush-mount-sink@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-large-flush-mount-sink.jpg') }}" alt="Sink Module - Large Flush Mount Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesLargeFlushMountBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SMF1B/6</strong><br />1800mm × 600mm × 42mm Sink Module - Large Flush Mount Bowl</p></td>
        <td width="1" class="nowrap price">{{ 579|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="42">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesLargeFlushMountBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SMF1B/36</strong><br />3600mm × 600mm × 42mm Sink Module - Large Flush Mount Bowl</p></td>
        <td width="1" class="nowrap price">{{ 795|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="54">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-large-flush-mount-sink@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-large-flush-mount-sink.jpg') }}" alt="Sink Module - Large Flush Mount Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesLargeFlushMountBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SMF1B/6</strong><br />1800mm × 600mm × 54mm Sink Module - Large Flush Mount Bowl</p></td>
        <td width="1" class="nowrap price">{{ 665|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="54">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesLargeFlushMountBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SMF1B/36</strong><br />3600mm × 600mm × 54mm Sink Module - Large Flush Mount Bowl</p></td>
        <td width="1" class="nowrap price">{{ 899|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="28">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-flush-mount-sink@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-flush-mount-sink.jpg') }}" alt="Sink Module - Flush Mount 1.5 Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesFlushMount15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SMF15B/6</strong><br />1800mm × 600mm × 28mm Sink Module - Flush Mount 1.5 Bowl</p></td>
        <td width="1" class="nowrap price">{{ 605|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="28">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesFlushMount15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/SMF15B/36</strong><br />3600mm × 600mm × 28mm Sink Module - Flush Mount 1.5 Bowl</p></td>
        <td width="1" class="nowrap price">{{ 779|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="42">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-flush-mount-sink@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-flush-mount-sink.jpg') }}" alt="Sink Module - Flush Mount 1.5 Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesFlushMount15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SMF15B/6</strong><br />1800mm × 600mm × 42mm Sink Module - Flush Mount 1.5 Bowl</p></td>
        <td width="1" class="nowrap price">{{ 595|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="42">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesFlushMount15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/SMF15B/36</strong><br />3600mm × 600mm × 42mm Sink Module - Flush Mount 1.5 Bowl</p></td>
        <td width="1" class="nowrap price">{{ 815|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="54">
        <td width="1" rowspan="2" class="pam image">
            <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-flush-mount-sink@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-flush-mount-sink.jpg') }}" alt="Sink Module - Flush Mount 1.5 Bowl" /></a>
        </td>
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesFlushMount15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SMF15B/6</strong><br />1800mm × 600mm × 54mm Sink Module - Flush Mount 1.5 Bowl</p></td>
        <td width="1" class="nowrap price">{{ 680|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even" data-worktop-thickness="54">
        <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesFlushMount15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/SMF15B/36</strong><br />3600mm × 600mm × 54mm Sink Module - Flush Mount 1.5 Bowl</p></td>
        <td width="1" class="nowrap price">{{ 925|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    </tbody>
    <thead>
    <tr>
        <th colspan="3">Edging</th>
        <th class="tac">Price</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody class="updatable">
    <tr class="odd" data-worktop-thickness="28">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/edging-strip@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/edging-strip.jpg') }}" alt="Edging Strip" /></a>
        </td>
        <td width="1" class="nowrap"><span title="Additional length of edging 1200mm x 3mm. Available in 3 depths to suit different depths of worktop - 57mm edging is for the 54mm worktop, 45mm edging is for the 42mm worktop and 31mm edging is for the 28mm worktop. Please note that adhesive will also be required to complete the installation." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM28/EDG</strong><br />1200mm × 31mm (for 28mm) Edging Strip</p></td>
        <td width="1" class="nowrap price">{{ 18|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="42">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/edging-strip@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/edging-strip.jpg') }}" alt="Edging Strip" /></a>
        </td>
        <td width="1" class="nowrap"><span title="Additional length of edging 1200mm x 3mm. Available in 3 depths to suit different depths of worktop - 57mm edging is for the 54mm worktop, 45mm edging is for the 42mm worktop and 31mm edging is for the 28mm worktop. Please note that adhesive will also be required to complete the installation." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/EDG</strong><br />1200mm × 45mm (for 42mm) Edging Strip</p></td>
        <td width="1" class="nowrap price">{{ 18|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd" data-worktop-thickness="54">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/edging-strip@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/edging-strip.jpg') }}" alt="Edging Strip" /></a>
        </td>
        <td width="1" class="nowrap"><span title="Additional length of edging 1200mm x 3mm. Available in 3 depths to suit different depths of worktop - 57mm edging is for the 54mm worktop, 45mm edging is for the 42mm worktop and 31mm edging is for the 28mm worktop. Please note that adhesive will also be required to complete the installation." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM54/EDG</strong><br />1200mm × 57mm (for 54mm) Edging Strip</p></td>
        <td width="1" class="nowrap price">{{ 25|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    </tbody>
    <thead>
    <tr>
        <th colspan="3">Accessories</th>
        <th class="tac">Price</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/maia-installation-dvd@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/maia-installation-dvd.jpg') }}" alt="Maia Installation DVD" /></a>
        </td>
        <td width="1" class="nowrap"><span title="This 20 minute DVD covers the full installation of maia worktop blanks and accessories. Care & maintenance is also explained with handy tips for installers and users." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>MAIADVD</strong><br />Maia Installation DVD</p></td>
        <td width="1" class="nowrap price">{{ 1.99|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/jointing-kit@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/jointing-kit.jpg') }}" alt="Jointing Kit" /></a>
        </td>
        <td width="1" class="nowrap"><span title="All materials required for the completion of one maia joint. Kit contains 75ml adhesive sachet, 3 tongues, 3 jointing bolts, 2 isopropyl alcohol wipes, 3 grades of sandpaper (120 grit, 240 grit & 320 grit), red abrasive pad." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/JKIT</strong><br />Jointing Kit</p></td>
        <td width="1" class="nowrap price">{{ 33|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/75ml-adhesive-sachet@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/75ml-adhesive-sachet.jpg') }}" alt="75ml Adhesive Sachet" /></a>
        </td>
        <td width="1" class="nowrap"><span title="Two part sachet of adhesive sufficient for the application of up to 1.2m of additional edging." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/GLUE</strong><br />75ml Adhesive Sachet</p></td>
        <td width="1" class="nowrap price">{{ 20.00|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/250ml-cartridge-gun@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/250ml-cartridge-gun.jpg') }}" alt="250ml Cartridge Gun" /></a>
        </td>
        <td width="1" class="nowrap"><span title="Durable construction, trigger action gun for use with 250ml adhesive cartridges." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>MAIAGUN250</strong><br />250ml Cartridge Gun</p></td>
        <td width="1" class="nowrap price">{{ 119.00|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="odd">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/250ml-adhesive-cartridge@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/250ml-adhesive-cartridge.jpg') }}" alt="250ml Adhesive Cartridge" /></a>
        </td>
        <td width="1" class="nowrap"><span title="For larger installations or regular users, this convenient cartridge can save time and money on site. Should be used in conjunction with 250ml cartridge gun." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>Ammonite AMM/250GLUE</strong><br />50ml Adhesive Cartridge</p></td>
        <td width="1" class="nowrap price">{{ 45|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    <tr class="even">
        <td width="1" class="pam image">
            <a href="{{ asset('/uploads/demo/care-kit@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/care-kit.jpg') }}" alt="Care Kit" /></a>
        </td>
        <td width="1" class="nowrap"><span title="A boxed set of items to help maintain your maia worksurfaces. The kit consists of: 414ml Countertop Magic – 1 x Ergonomic Foam Sanding Block – 2 x Sanding Discs – 1 x Microfibre Cleaning Cloth – 2 x red abrasive pads – Instructions" class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
        <td><p><strong>MAIA/CAREKIT</strong><br />Care Kit</p></td>
        <td width="1" class="nowrap price">{{ 30.00|currency('GBP', true, true, '')|raw }}</td>
        <td width="1" class="nowrap">{{ helpers.addToBasket() }}</td>
    </tr>
    </tbody>
    </table>
    </section>
    </div>
    </div>
</div>