<div class="widget-group clearfix mbl">
    <div class="widget widget-1-of-1">
        <div class="ui-widget">
            <section class="ui-widget-content ui-corner-all clearfix">
                <div class="slider-wrapper slider-gallery">
                    <ul class="slider">
                        <li><img src="{{ asset('/uploads/demo/maia-gallery-1.jpg') }}" alt="maia Worktops" /></li>
                        <li><img src="{{ asset('/uploads/demo/maia-gallery-2.jpg') }}" alt="maia Worktops" /></li>
                        <li><img src="{{ asset('/uploads/demo/maia-gallery-3.jpg') }}" alt="maia Worktops" /></li>
                        <li><img src="{{ asset('/uploads/demo/maia-gallery-4.jpg') }}" alt="maia Worktops" /></li>
                        <li><img src="{{ asset('/uploads/demo/maia-gallery-5.jpg') }}" alt="maia Worktops" /></li>
                        <li><img src="{{ asset('/uploads/demo/maia-gallery-6.jpg') }}" alt="maia Worktops" /></li>
                    </ul>
                    <h1>maia Worktops in {{ worktopColour }}</h1>
                </div>
                <div class="widget-group clearfix">
                    <div class="widget widget-1-of-1">
                        <div class="widget-group clearfix">
                            <div class="widget widget-2-of-7">
                                <ul class="etalage-inset">
                                    <li><img class="etalage_source_image" src="{{ asset('/uploads/demo/maia-' ~ worktopColour|lower ~ '@2x.jpg') }}" alt="Maia Worktops in {{ worktopColour }}" /></li>
                                </ul>
                            </div>
                            <div class="widget widget-5-of-7">
                                <div class="widget-group clearfix">
                                    <div class="widget widget-1-of-1 pll">
                                        <div class="widget-group clearfix">
                                            <div class="widget widget-1-of-1"><img class="logo" src="{{ asset('/uploads/images/brand/logo/maia-original-44989.png') }}" alt="maia Worktops" /></div>
                                        </div>
                                        <p class="summary man">{{ worktopDescription }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>