{% extends 'KACSiteBundle::base.html.twig' %}
{% block title %}maia Worktops | maia Kitchen and Bathroom Worktops{% endblock %}
{% block metatags %}
    <meta name="description" content="Discover the functionality and beauty of maia worktops, available for both the kitchen and bathroom with a ten year guarantee.">
    <meta name="keywords" content="worktops, cooker hoods, built-in microwaves, integrated dishwashers, integrated washing machines, refrigeration, cleaning products, glass splashbacks, waste disposer, sinks, taps, plinth heaters, range cookers, ducting, hobs, ovens, coffee machines, solid surface worktops, kitchen appliances">
{% endblock %}
{% block body %}
    <section class="product">
        {% include 'KACSiteBundle:Maia:maiaBreadcrumbs.html.twig' %}
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <section class="ui-widget-content ui-corner-all clearfix">
                        <div class="slider-wrapper slider-gallery">
                            <ul class="slider">
                                <li><img src="{{ asset('/uploads/demo/maia-gallery-1.jpg') }}" alt="maia Worktops" /></li>
                                <li><img src="{{ asset('/uploads/demo/maia-gallery-2.jpg') }}" alt="maia Worktops" /></li>
                                <li><img src="{{ asset('/uploads/demo/maia-gallery-3.jpg') }}" alt="maia Worktops" /></li>
                                <li><img src="{{ asset('/uploads/demo/maia-gallery-4.jpg') }}" alt="maia Worktops" /></li>
                                <li><img src="{{ asset('/uploads/demo/maia-gallery-5.jpg') }}" alt="maia Worktops" /></li>
                                <li><img src="{{ asset('/uploads/demo/maia-gallery-6.jpg') }}" alt="maia Worktops" /></li>
                            </ul>
                            <h1>maia Worktops</h1>
                        </div>
                        <div class="widget-group clearfix">
                            <div class="widget widget-1-of-1">
                                <section>
                                    <div class="tabs">
                                        <ul>
                                            <li><a href="#maiaWorktopColours">maia Worktop Colours</a></li>
                                            <li><a href="#overview">Overview</a></li>
                                            <li><a href="#maiaCare">maia Care</a></li>
                                            <li><a href="#maiaTechnology">maia Technology</a></li>
                                        </ul>
                                        <div id="maiaWorktopColours">
                                            {% include 'KACSiteBundle:Maia:maiaColours.html.twig' %}
                                        </div>
                                        <div id="overview">
                                            {% include 'KACSiteBundle:Maia:maiaOverview.html.twig' %}
                                        </div>
                                        <div id="maiaCare">
                                            {% include 'KACSiteBundle:Maia:maiaCare.html.twig' %}
                                        </div>
                                        <div id="maiaTechnology">
                                            {% include 'KACSiteBundle:Maia:maiaTechnology.html.twig' %}
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
