<h3 class="separator">The NEW Solid Surface Range from maia!</h3>
<div class="widget-group product pbn clearfix">
    <div class="widget widget-1-of-1 pbl">
        <img class="content-image fr" height="57" src="{{ asset('/uploads/images/brand/logo/maia-original-44989.png') }}" alt="maia Worktops" />
        <p class="summary mbn">With six new colours inspired by the very latest in kitchen designs, all maia worksurfaces are highly heat resistant, impenetrable to dust, dirt and bacteria and are easy to clean. With a variety of modular options, there's no limit to the flexibility of maia's comprehensive worksurface range. Select a colour below.</p>
    </div>
    <div class="widget mbl widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_ammonite') }}">
                <img src="{{ asset('/uploads/demo/maia-ammonite.jpg') }}" width="100%" alt="maia Ammonite" />
                <span class="name">Ammonite</span>
                <span class="new">NEW</span>
            </a>
        </div>
    </div>
    <div class="widget mbl widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_calcite') }}">
                <img src="{{ asset('/uploads/demo/maia-calcite.jpg') }}" width="100%" alt="maia Calcite" />
                <span class="name">Calcite</span>
                <span class="new">NEW</span>
            </a>
        </div>
    </div>
    <div class="widget mbl widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_fossil') }}">
                <img src="{{ asset('/uploads/demo/maia-fossil.jpg') }}" width="100%" alt="maia Fossil" />
                <span class="name">Fossil</span>
                <span class="new">NEW</span>
            </a>
        </div>
    </div>
    <div class="widget mbl widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_meteorite') }}">
                <img src="{{ asset('/uploads/demo/maia-meteorite.jpg') }}" width="100%" alt="maia Meteorite" />
                <span class="name">Meteorite</span>
                <span class="new">NEW</span>
            </a>
        </div>
    </div>
    <div class="widget mbl widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_pearlstone') }}">
                <img src="{{ asset('/uploads/demo/maia-pearlstone.jpg') }}" width="100%" alt="maia Pearlstone" />
                <span class="name">Pearlstone</span>
                <span class="new">NEW</span>
            </a>
        </div>
    </div>
    <div class="widget mbl widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_sandstone') }}">
                <img src="{{ asset('/uploads/demo/maia-sandstone.jpg') }}" width="100%" alt="maia Sandstone" />
                <span class="name">Sandstone</span>
                <span class="new">NEW</span>
            </a>
        </div>
    </div>
    <div class="widget mbl widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_cappuccino') }}">
                <img src="{{ asset('/uploads/demo/maia-cappuccino.jpg') }}" width="100%" alt="maia Cappuccino" />
                <span class="name">Cappuccino</span>
            </a>
        </div>
    </div>
    <div class="widget mbl widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_cristallo') }}">
                <img src="{{ asset('/uploads/demo/maia-cristallo.jpg') }}" width="100%" alt="maia Cristallo" />
                <span class="name">Cristallo</span>
            </a>
        </div>
    </div>
    <div class="widget mbl widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_galaxy') }}">
                <img src="{{ asset('/uploads/demo/maia-galaxy.jpg') }}" width="100%" alt="maia Galaxy" />
                <span class="name">Galaxy</span>
            </a>
        </div>
    </div>
    <div class="widget mbl widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_iceberg') }}">
                <img src="{{ asset('/uploads/demo/maia-iceberg.jpg') }}" width="100%" alt="maia Iceberg" />
                <span class="name">Iceberg</span>
            </a>
        </div>
    </div>
    <div class="widget mbl widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_latte') }}">
                <img src="{{ asset('/uploads/demo/maia-latte.jpg') }}" width="100%" alt="maia Latte" />
                <span class="name">Latte</span>
            </a>
        </div>
    </div>
    <div class="widget mbl widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_lava') }}">
                <img src="{{ asset('/uploads/demo/maia-lava.jpg') }}" width="100%" alt="maia Lava" />
                <span class="name">Lava</span>
            </a>
        </div>
    </div>
    <div class="widget widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_mocha') }}">
                <img src="{{ asset('/uploads/demo/maia-mocha.jpg') }}" width="100%" alt="maia Mocha" />
                <span class="name">Mocha</span>
            </a>
        </div>
    </div>
    <div class="widget widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_vanilla') }}">
                <img src="{{ asset('/uploads/demo/maia-vanilla.jpg') }}" width="100%" alt="maia Vanilla" />
                <span class="name">Vanilla</span>
            </a>
        </div>
    </div>
    <div class="widget widget-1-of-8">
        <div class="product-listing">
            <a href="{{ path('maia_vulcano') }}">
                <img src="{{ asset('/uploads/demo/maia-vulcano.jpg') }}" width="100%" alt="maia Vulcano" />
                <span class="name">Vulcano</span>
            </a>
        </div>
    </div>
</div>