<div class="widget-group clearfix mbl">
    <div class="widget widget-1-of-1">
        <div class="ui-widget">
            <header class="ui-widget-header ui-corner-top">
                <h2>2. Select Your Worktops</h2>
            </header>
            <section class="ui-widget-content ui-corner-bottom clearfix">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th colspan="3">Worktops</th>
                            <th class="tac">Price</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="updatable">
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" rowspan="4" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" alt="Worktop (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 265, 'productCode': 'CAP28/18600', 'deliveryBand': 6, 'header': '1800mm × 600mm × 28mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 290, 'productCode': 'CAP28/18650', 'deliveryBand': 6, 'header': '1800mm × 650mm × 28mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 440, 'productCode': 'CAP28/36600', 'deliveryBand': 6, 'header': '3600mm × 600mm × 28mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 489, 'productCode': 'CAP28/36650', 'deliveryBand': 6, 'header': '3600mm × 650mm × 28mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-worktops-240mm-radius.jpg') }}" alt="Worktop (240mm radius)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 355, 'productCode': 'CAP28/18CR650', 'deliveryBand': 6, 'header': '1800mm × 650mm × 28mm "C-End" Worktop (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 535, 'productCode': 'CAP28/36CR650', 'deliveryBand': 6, 'header': '3600mm × 650mm × 28mm "C-End" Worktop (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" rowspan="4" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" alt="Worktop (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 285, 'productCode': 'CAP/18600', 'deliveryBand': 6, 'header': '1800mm × 600mm × 42mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 310, 'productCode': 'CAP/18650', 'deliveryBand': 6, 'header': '1800mm × 650mm × 42mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 480, 'productCode': 'CAP/36600', 'deliveryBand': 6, 'header': '3600mm × 600mm × 42mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 535, 'productCode': 'CAP/36650', 'deliveryBand': 6, 'header': '3600mm × 650mm × 42mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-worktops-240mm-radius.jpg') }}" alt="Worktop (240mm radius)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 380, 'productCode': 'CAP/18CR650', 'deliveryBand': 6, 'header': '1800mm × 650mm × 42mm "C-End" Worktop (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 575, 'productCode': 'CAP/36CR650', 'deliveryBand': 6, 'header': '3600mm × 650mm × 42mm "C-End" Worktop (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" rowspan="4" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" alt="Worktop (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 358, 'productCode': 'CAP54/18600', 'deliveryBand': 6, 'header': '1800mm × 600mm × 54mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 365, 'productCode': 'CAP54/18650', 'deliveryBand': 6, 'header': '1800mm × 650mm × 54mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 480, 'productCode': 'CAP/36600', 'deliveryBand': 6, 'header': '3600mm × 600mm × 54mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 665, 'productCode': 'CAP54/36650', 'deliveryBand': 6, 'header': '3600mm × 650mm × 54mm Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-worktops-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-worktops-240mm-radius.jpg') }}" alt="Worktop (240mm radius)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 435, 'productCode': 'CAP54/18CR650', 'deliveryBand': 6, 'header': '1800mm × 650mm × 54mm "C-End" Worktop (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 705, 'productCode': 'CAP54/36CR650', 'deliveryBand': 6, 'header': '3600mm × 650mm × 54mm "C-End" Worktop (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="3">Breakfast Bars</th>
                            <th class="tac">Price</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="updatable">
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-breakfast-bars-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-breakfast-bars-square-corners.jpg') }}" alt="Breakfast Bars (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 355, 'productCode': 'CAP28/189', 'deliveryBand': 6, 'header': '1800mm × 900mm × 28mm Breakfast Bar (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 589, 'productCode': 'CAP28/369', 'deliveryBand': 6, 'header': '3600mm × 900mm × 28mm Breakfast Bar (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-breakfast-bars-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-breakfast-bars-square-corners.jpg') }}" alt="Breakfast Bars (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 380, 'productCode': 'CAP/189', 'deliveryBand': 6, 'header': '1800mm × 900mm × 42mm Breakfast Bar (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 629, 'productCode': 'CAP/369', 'deliveryBand': 6, 'header': '3600mm × 900mm × 42mm Breakfast Bar (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-breakfast-bars-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-breakfast-bars-square-corners.jpg') }}" alt="Breakfast Bars (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 485, 'productCode': 'CAP54/189', 'deliveryBand': 6, 'header': '1800mm × 900mm × 54mm Breakfast Bar (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 815, 'productCode': 'CAP54/369', 'deliveryBand': 6, 'header': '3600mm × 900mm × 54mm Breakfast Bar (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-breakfast-bars-240mm-radius.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-breakfast-bars-240mm-radius.jpg') }}" alt="Breakfast Bars (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 425, 'productCode': 'CAP28/9DR18', 'deliveryBand': 6, 'header': '1800mm × 900mm × 28mm "D-Radius" Breakfast Bar (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 665, 'productCode': 'CAP28/9DR36', 'deliveryBand': 6, 'header': '3600mm × 900mm × 28mm "D-Radius" Breakfast Bar (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-breakfast-bars-240mm-radius.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-breakfast-bars-240mm-radius.jpg') }}" alt="Breakfast Bars (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 435, 'productCode': 'CAP/9DR18', 'deliveryBand': 6, 'header': '1800mm × 900mm × 42mm "D-Radius" Breakfast Bar (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 650, 'productCode': 'CAP/9DR36', 'deliveryBand': 6, 'header': '3600mm × 900mm × 42mm "D-Radius" Breakfast Bar (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-breakfast-bars-240mm-radius.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-breakfast-bars-240mm-radius.jpg') }}" alt="Breakfast Bars (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 565, 'productCode': 'CAP54/9DR18', 'deliveryBand': 6, 'header': '1800mm × 900mm × 54mm "D-Radius" Breakfast Bar (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationBreakfastBars" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 885, 'productCode': 'CAP54/9DR36', 'deliveryBand': 6, 'header': '3600mm × 900mm × 54mm "D-Radius" Breakfast Bar (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="3">Island Worktops</th>
                            <th class="tac">Price</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="updatable">
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-island-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-island-square-corners.jpg') }}" alt="Islands (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 545, 'productCode': 'CAP28/1812', 'deliveryBand': 6, 'header': '1800mm × 1200mm × 28mm Island Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="42">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-island-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-island-square-corners.jpg') }}" alt="Islands (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 595, 'productCode': 'CAP/1812', 'deliveryBand': 6, 'header': '1800mm × 1200mm × 42mm Island Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-island-square-corners.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-island-square-corners.jpg') }}" alt="Islands (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 715, 'productCode': 'CAP54/1812', 'deliveryBand': 6, 'header': '1800mm × 1200mm × 54mm Island Worktop (square corners)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="28">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-island-240mm-radius.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-island-240mm-radius.jpg') }}" alt="Islands (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 615, 'productCode': 'CAP28/12DR18', 'deliveryBand': 6, 'header': '1800mm × 1200mm × 28mm "D-Radius" Island Worktop (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-island-240mm-radius.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-island-240mm-radius.jpg') }}" alt="Islands (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 675, 'productCode': 'CAP/12DR18', 'deliveryBand': 6, 'header': '1800mm × 1200mm × 42mm "D-Radius" Island Worktop (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="54">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-island-240mm-radius.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-island-240mm-radius.jpg') }}" alt="Islands (square corners)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 795, 'productCode': 'CAP54/12DR18', 'deliveryBand': 6, 'header': '1800mm × 1200mm × 54mm "D-Radius" Island Worktop (240mm radius)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="3">Sink Modules</th>
                            <th class="tac">Price</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="updatable">
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-single-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-single-bowl.jpg') }}" alt="Sink Module - Single Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSingleBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 749, 'productCode': 'CAP28/SM1B2/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 28mm Sink Module - Single Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSingleBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 945, 'productCode': 'CAP28/SM1B2/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 28mm Sink Module - Single Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-single-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-single-bowl.jpg') }}" alt="Sink Module - Single Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSingleBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 774, 'productCode': 'CAP/SM1B2/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 42mm Sink Module - Single Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSingleBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 975, 'productCode': 'CAP/SM1B2/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 42mm Sink Module - Single Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-single-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-single-bowl.jpg') }}" alt="Sink Module - Single Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSingleBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 820, 'productCode': 'CAP54/SM1B2/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 54mm Sink Module - Single Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationIslandWorktops" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 1085, 'productCode': 'CAP54/SM1B2/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 54mm Sink Module - Single Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-super-large-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-super-large-bowl.jpg') }}" alt="Sink Module - Super Large Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSuperLargeBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 789, 'productCode': 'CAP28/SMSUP/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 28mm Sink Module - Super Large Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSuperLargeBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 980, 'productCode': 'CAP28/SMSUP/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 28mm Sink Module - Super Large Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-super-large-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-super-large-bowl.jpg') }}" alt="Sink Module - Super Large Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSuperLargeBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 813, 'productCode': 'CAP/SMSUP/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 42mm Sink Module - Super Large Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSuperLargeBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 1015, 'productCode': 'CAP/SMSUP/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 42mm Sink Module - Super Large Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-super-large-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-super-large-bowl.jpg') }}" alt="Sink Module - Super Large Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSuperLargeBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 860, 'productCode': 'CAP54/SMSUP/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 54mm Sink Module - Super Large Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesSuperLargeBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 1119, 'productCode': 'CAP54/SMSUP/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 54mm Sink Module - Super Large Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-bowl.jpg') }}" alt="Sink Module - Duo 1.5 Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDuo15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 815, 'productCode': 'CAP28/SM15B2/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 28mm Sink Module - Duo 1.5 Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDuo15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 995, 'productCode': 'CAP28/SM15B2/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 28mm Sink Module - Duo 1.5 Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-bowl.jpg') }}" alt="Sink Module - Duo 1.5 Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDuo15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 838, 'productCode': 'CAP/SM15B2/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 42mm Sink Module - Duo 1.5 Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDuo15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 1045, 'productCode': 'CAP/SM15B2/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 42mm Sink Module - Duo 1.5 Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-bowl.jpg') }}" alt="Sink Module - Duo 1.5 Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDuo15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 885, 'productCode': 'CAP54/SM15B2/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 54mm Sink Module - Duo 1.5 Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDuo15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 1145, 'productCode': 'CAP54/SM15B2/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 54mm Sink Module - Duo 1.5 Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" rowspan="4" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-designer-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-designer-bowl.jpg') }}" alt="Sink Module - Designer 1.5 Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 835, 'productCode': 'CAP28/SM15DLH/65', 'deliveryBand': 6, 'header': '1800mm × 650mm × 28mm Sink Module - Designer 1.5 Bowl (Left Hand Bowl)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 1045, 'productCode': 'CAP28/SM15DLH/365', 'deliveryBand': 6, 'header': '3600mm × 650mm × 28mm Sink Module - Designer 1.5 Bowl (Left Hand Bowl)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 835, 'productCode': 'CAP28/SM15DRH/65', 'deliveryBand': 6, 'header': '1800mm × 650mm × 28mm Sink Module - Designer 1.5 Bowl (Right Hand Bowl)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 1045, 'productCode': 'CAP28/SM15DRH/365', 'deliveryBand': 6, 'header': '3600mm × 650mm × 28mm Sink Module - Designer 1.5 Bowl (Right Hand Bowl)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" rowspan="4" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-designer-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-designer-bowl.jpg') }}" alt="Sink Module - Designer 1.5 Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 858, 'productCode': 'CAP/SM15DLH/65', 'deliveryBand': 6, 'header': '1800mm × 650mm × 42mm Sink Module - Designer 1.5 Bowl (Left Hand Bowl)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 1085, 'productCode': 'CAP/SM15DLH/365', 'deliveryBand': 6, 'header': '3600mm × 650mm × 42mm Sink Module - Designer 1.5 Bowl (Left Hand Bowl)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 858, 'productCode': 'CAP/SM15DRH/65', 'deliveryBand': 6, 'header': '1800mm × 650mm × 42mm Sink Module - Designer 1.5 Bowl (Right Hand Bowl)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 1085, 'productCode': 'CAP/SM15DRH/365', 'deliveryBand': 6, 'header': '3600mm × 650mm × 42mm Sink Module - Designer 1.5 Bowl (Right Hand Bowl)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" rowspan="4" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-designer-bowl@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-designer-bowl.jpg') }}" alt="Sink Module - Designer 1.5 Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 905, 'productCode': 'CAP54/SM15DLH/65', 'deliveryBand': 6, 'header': '1800mm × 650mm × 54mm Sink Module - Designer 1.5 Bowl (Left Hand Bowl)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 1195, 'productCode': 'CAP54/SM15DLH/365', 'deliveryBand': 6, 'header': '3600mm × 650mm × 54mm Sink Module - Designer 1.5 Bowl (Left Hand Bowl)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 905, 'productCode': 'CAP54/SM15DRH/65', 'deliveryBand': 6, 'header': '1800mm × 650mm × 54mm Sink Module - Designer 1.5 Bowl (Right Hand Bowl)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesDesigner15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 1195, 'productCode': 'CAP54/SM15DRH/365', 'deliveryBand': 6, 'header': '3600mm × 650mm × 54mm Sink Module - Designer 1.5 Bowl (Right Hand Bowl)', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-large-flush-mount-sink@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-large-flush-mount-sink.jpg') }}" alt="Sink Module - Large Flush Mount Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesLargeFlushMountBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 590, 'productCode': 'CAP28/SMF1B/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 28mm Sink Module - Large Flush Mount Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesLargeFlushMountBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 779, 'productCode': 'CAP28/SMF1B/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 28mm Sink Module - Large Flush Mount Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-large-flush-mount-sink@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-large-flush-mount-sink.jpg') }}" alt="Sink Module - Large Flush Mount Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesLargeFlushMountBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 579, 'productCode': 'CAP/SMF1B/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 42mm Sink Module - Large Flush Mount Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesLargeFlushMountBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 795, 'productCode': 'CAP/SMF1B/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 42mm Sink Module - Large Flush Mount Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-large-flush-mount-sink@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-large-flush-mount-sink.jpg') }}" alt="Sink Module - Large Flush Mount Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesLargeFlushMountBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 665, 'productCode': 'CAP54/SMF1B/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 54mm Sink Module - Large Flush Mount Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesLargeFlushMountBowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 899, 'productCode': 'CAP54/SMF1B/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 54mm Sink Module - Large Flush Mount Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-flush-mount-sink@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-flush-mount-sink.jpg') }}" alt="Sink Module - Flush Mount 1.5 Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesFlushMount15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 605, 'productCode': 'CAP28/SMF15B/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 28mm Sink Module - Flush Mount 1.5 Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="28">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesFlushMount15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 799, 'productCode': 'CAP28/SMF15B/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 28mm Sink Module - Flush Mount 1.5 Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-flush-mount-sink@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-flush-mount-sink.jpg') }}" alt="Sink Module - Flush Mount 1.5 Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesFlushMount15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 595, 'productCode': 'CAP/SMF15B/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 42mm Sink Module - Flush Mount 1.5 Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="42">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesFlushMount15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 815, 'productCode': 'CAP/SMF15B/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 42mm Sink Module - Flush Mount 1.5 Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" rowspan="2" class="pam image">
                                <a href="{{ asset('/uploads/demo/diagram-sink-modules-1-5-flush-mount-sink@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/diagram-sink-modules-1-5-flush-mount-sink.jpg') }}" alt="Sink Module - Flush Mount 1.5 Bowl" /></a>
                            </td>
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesFlushMount15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 680, 'productCode': 'CAP54/SMF15B/6', 'deliveryBand': 6, 'header': '1800mm × 600mm × 54mm Sink Module - Flush Mount 1.5 Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even" data-worktop-thickness="54">
                            <td width="1" class="nowrap"><span data-dialog-width="800" data-dialog-object="#dialogInformationSinkModulesFlushMount15Bowl" class="actionLoadDialog form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 925, 'productCode': 'CAP54/SMF15B/36', 'deliveryBand': 6, 'header': '3600mm × 600mm × 54mm Sink Module - Flush Mount 1.5 Bowl', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="3">Edging</th>
                            <th class="tac">Price</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody class="updatable">
                        <tr class="odd" data-worktop-thickness="28">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/edging-strip@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/edging-strip.jpg') }}" alt="Edging Strip" /></a>
                            </td>
                            <td width="1" class="nowrap"><span title="Additional length of edging 1200mm x 3mm. Available in 3 depths to suit different depths of worktop - 57mm edging is for the 54mm worktop, 45mm edging is for the 42mm worktop and 31mm edging is for the 28mm worktop. Please note that adhesive will also be required to complete the installation." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 18, 'productCode': 'CAP28/EDG', 'deliveryBand': 1, 'header': '1200mm × 31mm (for 28mm) Edging Strip', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="42">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/edging-strip@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/edging-strip.jpg') }}" alt="Edging Strip" /></a>
                            </td>
                            <td width="1" class="nowrap"><span title="Additional length of edging 1200mm x 3mm. Available in 3 depths to suit different depths of worktop - 57mm edging is for the 54mm worktop, 45mm edging is for the 42mm worktop and 31mm edging is for the 28mm worktop. Please note that adhesive will also be required to complete the installation." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 18, 'productCode': 'CAP/EDG', 'deliveryBand': 1, 'header': '1200mm × 45mm (for 42mm) Edging Strip', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd" data-worktop-thickness="54">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/edging-strip@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/edging-strip.jpg') }}" alt="Edging Strip" /></a>
                            </td>
                            <td width="1" class="nowrap"><span title="Additional length of edging 1200mm x 3mm. Available in 3 depths to suit different depths of worktop - 57mm edging is for the 54mm worktop, 45mm edging is for the 42mm worktop and 31mm edging is for the 28mm worktop. Please note that adhesive will also be required to complete the installation." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 20, 'productCode': 'CAP54/EDG', 'deliveryBand': 1, 'header': '1200mm × 57mm (for 54mm) Edging Strip', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="3">Accessories</th>
                            <th class="tac">Price</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/maia-installation-dvd@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/maia-installation-dvd.jpg') }}" alt="Maia Installation DVD" /></a>
                            </td>
                            <td width="1" class="nowrap"><span title="This 20 minute DVD covers the full installation of maia worktop blanks and accessories. Care & maintenance is also explained with handy tips for installers and users." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 1.99, 'productCode': 'MAIADVD', 'deliveryBand': 1, 'header': 'Maia Installation DVD', 'worktopColour': '', 'id': 20000} %}
                        </tr>
                        <tr class="even">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/jointing-kit@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/jointing-kit.jpg') }}" alt="Jointing Kit" /></a>
                            </td>
                            <td width="1" class="nowrap"><span title="All materials required for the completion of one maia joint. Kit contains 75ml adhesive sachet, 3 tongues, 3 jointing bolts, 2 isopropyl alcohol wipes, 3 grades of sandpaper (120 grit, 240 grit & 320 grit), red abrasive pad." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 33, 'productCode': 'CAP/JKIT', 'deliveryBand': 1, 'header': 'Jointing Kit', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/75ml-adhesive-sachet@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/75ml-adhesive-sachet.jpg') }}" alt="75ml Adhesive Sachet" /></a>
                            </td>
                            <td width="1" class="nowrap"><span title="Two part sachet of adhesive sufficient for the application of up to 1.2m of additional edging." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 20, 'productCode': 'CAP/GLUE', 'deliveryBand': 1, 'header': '75ml Adhesive Sachet', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/250ml-cartridge-gun@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/250ml-cartridge-gun.jpg') }}" alt="250ml Cartridge Gun" /></a>
                            </td>
                            <td width="1" class="nowrap"><span title="Durable construction, trigger action gun for use with 250ml adhesive cartridges." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 119, 'productCode': 'MAIAGUN250', 'deliveryBand': 1, 'header': '250ml Cartridge Gun', 'worktopColour': '', 'id': 20001} %}
                        </tr>
                        <tr class="odd">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/250ml-adhesive-cartridge@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/250ml-adhesive-cartridge.jpg') }}" alt="250ml Adhesive Cartridge" /></a>
                            </td>
                            <td width="1" class="nowrap"><span title="For larger installations or regular users, this convenient cartridge can save time and money on site. Should be used in conjunction with 250ml cartridge gun." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 45, 'productCode': 'CAP/250GLUE', 'deliveryBand': 1, 'header': '50ml Adhesive Cartridge', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="even">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/care-kit@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/care-kit.jpg') }}" alt="Care Kit" /></a>
                            </td>
                            <td width="1" class="nowrap"><span title="A boxed set of items to help maintain your maia worksurfaces. The kit consists of: 414ml Countertop Magic – 1 x Ergonomic Foam Sanding Block – 2 x Sanding Discs – 1 x Microfibre Cleaning Cloth – 2 x red abrasive pads – Instructions" class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 30, 'productCode': 'MAIA/CAREKIT', 'deliveryBand': 1, 'header': 'Care Kit', 'worktopColour': '', 'id': 20002} %}
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="3">Finishing Touch</th>
                            <th class="tac">Price</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="even">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/chopping-board@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/chopping-board.jpg') }}" alt="Chopping Board" /></a>
                            </td>
                            <td width="1" class="nowrap"><span title="Protect your worksurface using this matching chopping board. 375mm x 290mm x 10mm" class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 59, 'productCode': 'CAP/CB', 'deliveryBand': 1, 'header': 'Chopping Board', 'worktopColour': worktopColour, 'id': currentId} %}
                        </tr>
                        <tr class="odd">
                            <td width="1" class="pam image">
                                <a href="{{ asset('/uploads/demo/hot-rods@2x.jpg') }}" class="lightbox"><img width="180" src="{{ asset('/uploads/demo/hot-rods.jpg') }}" alt="Hot Rods (Worktop Protector)" /></a>
                            </td>
                            <td width="1" class="nowrap"><span title="These stainless steel finish worktop protectors are a convenient way to enable you to remove a hot pan from the hob without extreme heat damaging your worktop. The half round rods have a self adhesive backing so they are easy to apply, no cutting or routing is required." class="form-helper ui-button-icon-primary ui-icon-small icon-small-763"></span></td>
                            {% set currentId = currentId + 1 %}
                            {% include 'KACSiteBundle:Maia:maiaProduct.html.twig' with {'price': 38, 'productCode': 'MAIA/HROD', 'deliveryBand': 1, 'header': 'Hot Rods (Worktop Protector)', 'worktopColour': '', 'id': 20003} %}
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
</div>
