<div class="ui-helper-hidden" id="dialogInformationWorktops" title="maia Worktops">
    <section class="ui-widget-content ui-corner-all clearfix">
        <div class="slider-wrapper slider-dialog-gallery">
            <ul class="slider">
                <li><img src="{{ asset('/uploads/demo/information-gallery-worktops-1.jpg') }}" title="<strong>maia Ammonite Worktop</strong><br />Ammonite's metallic flecks bring sparkle to your worktop - metallic particles catch the light and complement the deep black background." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-worktops-2.jpg') }}" title="<strong>maia Iceberg Worktop</strong><br />Iceberg's beauty lies in its purity. White has become a strong trend for worksurfaces - team with matching doors for a simple, calm style, or with splashes of colour to make a statement." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-worktops-3.jpg') }}" title="<strong>maia Sandstone Worktop</strong><br />Bringing natural warmth, Sandstone will complement both light and dark coloured kitchens." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-worktops-4.jpg') }}" title="<strong>maia Calcite Worktop</strong><br />Delivering a fresher look than Vanilla, Calcite contains light grey particles suspended in a creamy white background. Works well with light and medium oaks as well as black. A youthful take on a traditional classic." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-worktops-5.jpg') }}" title="<strong>maia Lava Worktop</strong><br />Lava is grey with small speckles of brown to create a natural stone effect. Stunning in a blue kitchen with glass, wood and white accessories, or stylishly industrial with glossy black or metallic doors." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-worktops-6.jpg') }}" title="<strong>maia Meteorite Worktop</strong><br />Gorgeous browns and olives combine with copper metallic particles to deliver luxurious warmth. Not as stark as black, Meteorite works well with cream, white and light coloured woods." /></li>
            </ul>
            <h1>maia Worktops</h1>
        </div>
        <p>The modular worktop blanks in the maia solid surface range are designed to be simple to plan and install. They are pre-edged and the surface is factory finished so there is no need to re-sand the top once it is installed (except in the area around a joint or if you apply edging). The choice of 1.8m and 3.6m lengths helps to eliminate wastage as you only have to order as much as you need. The 600mm depth is an industry standard – the 650mm depth can be useful if you have deeper cabinets or appliances or if there is pipework to run behind the units.</p>
        <p>In addition to the standard range, maia also offers worktops with a curve at each end. These curved surfaces have radiused ends to match the growing trend for curved kitchen doors to create a softer look. The standard 240mm radius complements the majority of new style kitchen doors.</p>
        <p class="mbn">All worktops are wrapped in heavy duty shrink-wrap then boxed. Each is supplied with an additional 1200mm length of additional edging and a 3m length of heat reflective tape that is used for hob cut outs.</p>
    </section>
</div>
<div class="ui-helper-hidden" id="dialogInformationBreakfastBars" title="maia Breakfast Bars">
    <section class="ui-widget-content ui-corner-all clearfix">
        <div class="slider-wrapper slider-dialog-gallery">
            <ul class="slider">
                <li><img src="{{ asset('/uploads/demo/information-gallery-breakfast-bars-1.jpg') }}" title="<strong>maia Iceberg Breakfast Bar</strong><br />Iceberg's beauty lies in its purity. White has become a strong trend for worksurfaces - team with matching doors for a simple, calm style, or with splashes of colour to make a statement." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-breakfast-bars-2.jpg') }}" title="<strong>Cappuccino Curved Breakfast Bar</strong><br />Cappuccino is a stylish choice to complement woods and plain doors. Add dark doors, cream and brown for a relaxed feel, or vibrant zebrano doors to make an impact." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-breakfast-bars-3.jpg') }}" title="<strong>Mocha Breakfast Bar</strong><br />Mocha brings a deep brown to the maia range. As neutral door colours such as latte and cream grow in popularity, so Mocha really comes into its own." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-breakfast-bars-4.jpg') }}" title="<strong>Vanilla Breakfast Bar</strong>Vanilla is an elegant colour which complements many kitchen designs. Its coloured flecks make it the perfect match for a range of door colours. Contrast with black for added drama." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-breakfast-bars-5.jpg') }}" title="<strong>maia Cristallo Curved Breakfast Bar</strong>Cristallo is a crisp, solid white with contrasting grey granules. Perfect with silver doors for a modern, industrial feel, or with walnut for classic style." /></li>
            </ul>
            <h1>maia Breakfast Bars</h1>
        </div>
        <p>Breakfast bars are supplied in two sizes in the maia solid surface range and are again designed to be simple to plan and install. They are pre-edged on both long edges and the surface is hand finished in our factory. There is no need to re-sand the top once it is installed (except in the area around a joint or if you apply edging).</p>
        <p>In addition to the standard range, maia also offers worktops with a curve at each end and breakfast bar islands with a curve at all corners. These curved products have radiused ends to match the growing trend for curved kitchen doors to create a softer look. The 240mm radius on maia’s curved products complements the majority of new style kitchen doors.</p>
        <p class="mbn">maia breakfast bars are wrapped in heavy duty shrink-wrap then boxed. Each breakfast bar package includes 3 metre length of heat resistant tape to be used around hob cut outs. We also include a spare 1200mm edging strip.</p>
    </section>
</div>
<div class="ui-helper-hidden" id="dialogInformationIslandWorktops" title="maia Island Worktops">
    <section class="ui-widget-content ui-corner-all clearfix">
        <div class="slider-wrapper slider-dialog-gallery">
            <ul class="slider">
                <li><img src="{{ asset('/uploads/demo/information-gallery-island-worktops-1.jpg') }}" title="<strong>maia Ammonite Curved Island Worktop</strong><br />Ammonite is the most popular colour in the maia range. Its sophisticated black background is interspersed with contrasting white flecks and subtle hints of yellow." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-island-worktops-2.jpg') }}" title="<strong>maia Pearlstone Island Worktop</strong><br />Bright and crisp with the look of stone, Pearlstone is a pearl white colour with clear granular particles. Works well with truffle, taupe, blacks and browns." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-island-worktops-3.jpg') }}" title="<strong>maia Calcite Island Worktop</strong><br />Delivering a fresher look than Vanilla, Calcite contains light grey particles suspended in a creamy white background. Works well with light and medium oaks as well as black. A youthful take on a traditional classic." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-island-worktops-4.jpg') }}" title="<strong>maia Calcite Island Worktop</strong><br />Delivering a fresher look than Vanilla, Calcite contains light grey particles suspended in a creamy white background. Works well with light and medium oaks as well as black. A youthful take on a traditional classic." /></li>
            </ul>
            <h1>maia Island Worktops</h1>
        </div>
        <p class="mbn">If your kitchen includes an island unit, maia's island worktops can help to make a perfect centrepiece to your design. The 1200mm width is designed for two cabinet widths and the 1800mm length can easily be adapted to your required length. It’s not quite a thousand islands but with curved or square corners, three thickness options and a choice of 15 décors, you can choose from any one of our 90 islands.</p>
    </section>
</div>
<div class="ui-helper-hidden" id="dialogInformationSinkModulesSingleBowl" title="maia Sink Modules - Single Bowl">
    <section class="ui-widget-content ui-corner-all clearfix">
        <div class="slider-wrapper slider-dialog-gallery">
            <ul class="slider">
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-single-bowl-1.jpg') }}" title="<strong>maia Single Bowl Sink Module</strong>maia's single bowl is edged front and back, reversible left or right handed." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-single-bowl-2.jpg') }}" title="<strong>maia Lava Single Bowl Sink Module</strong>The recessed area around the sink area helps prevent water overflowing. Pop up waste kit included." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-single-bowl-3.jpg') }}" title="<strong>maia Iceberg Single Bowl Sink Module</strong><br />Iceberg's beauty lies in its purity. White has become a strong trend for worksurfaces - team with matching doors for a simple, calm style, or with splashes of colour to make a statement." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-single-bowl-4.jpg') }}" title="<strong>maia Sandstone Single Bowl Sink Module</strong><br />Bringing natural warmth, Sandstone will complement both light and dark coloured kitchens." /></li>
            </ul>
            <h1>maia Sink Modules - Single Bowl</h1>
        </div>
        <p class="mbn">maia's single bowl...edged front and back, reversible left or right handed. Pre drilled for tap and pop-up waste. Will fit into 500mm base cabinet. Includes brushed stainless steel bowl, pop-up waste, fitting clips and sealant.</p>
    </section>
</div>
<div class="ui-helper-hidden" id="dialogInformationSinkModulesSuperLargeBowl" title="maia Sink Modules - Super Large Bowl">
    <section class="ui-widget-content ui-corner-all clearfix">
        <div class="slider-wrapper slider-dialog-gallery">
            <ul class="slider">
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-super-large-bowl-1.jpg') }}" title="<strong>maia Super Large Bowl Sink Module</strong><br />maia's super large bowl is edged front and back, reversible left or right handed." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-super-large-bowl-2.jpg') }}" title="<strong>maia Ammonite Super Large Bowl Sink Module</strong><br />Ammonite's metallic flecks bring sparkle to your worktop – metallic particles catch the light and complement the deep black background." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-super-large-bowl-3.jpg') }}" title="<strong>maia Ammonite Super Large Bowl Sink Module</strong><br />Ammonite's metallic flecks bring sparkle to your worktop – metallic particles catch the light and complement the deep black background." /></li>
            </ul>
            <h1>maia Sink Modules - Super Large Bowl</h1>
        </div>
        <p class="mbn">maia's super large bowl…edged front and back, reversible left or right handed. Pre drilled for tap and pop-up waste. Will fit into 600mm base cabinet. Includes brushed stainless steel bowl, pop-up waste, fitting clips and sealant.</p>
    </section>
</div>
<div class="ui-helper-hidden" id="dialogInformationSinkModulesDuo15Bowl" title="maia Sink Modules - Duo 1.5 Bowl">
    <section class="ui-widget-content ui-corner-all clearfix">
        <div class="slider-wrapper slider-dialog-gallery">
            <ul class="slider">
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-duo-1-5-1.jpg') }}" title="<strong>maia 1.5 Bowl 'Duo' Sink Module</strong><br />maia's 1.5 bowl is edged front and back, reversible left or right handed." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-duo-1-5-2.jpg') }}" title="<strong>maia Ammonite Duo 1.5 Bowl Sink Module</strong><br />Ammonite’s metallic flecks bring sparkle to your worktop – metallic particles catch the light and complement the deep black background." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-duo-1-5-3.jpg') }}" title="<strong>maia Ammonite 'Duo' 1.5 Bowl Sink Module</strong></br />Ammonite is the most popular colour in the maia range. Its sophisticated black background is interspersed with contrasting white flecks and subtle hints of yellow." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-duo-1-5-4.jpg') }}" title="<strong>maia Sandstone Duo 1.5 Bowl Sink Module</strong><br />Bringing natural warmth, Sandstone will complement both light and dark coloured kitchens." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-duo-1-5-5.jpg') }}" title="<strong>maia Cristallo Duo 1.5 Bowl Sink Module</strong><br />Cristallo is a crisp, solid white with contrasting grey granules. Perfect with silver doors for a modern, industrial feel, or with walnut for classic style." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-duo-1-5-6.jpg') }}" title="<strong>maia Duo Sink Module in Ammonite</strong>The duo offers two separate bowls. The recessed drainer area retains spillages." /></li>
            </ul>
            <h1>maia Sink Modules - Duo 1.5 Bowl</h1>
        </div>
        <p class="mbn">maia's 1.5 bowl duo sink module is edged front and back, reversible left or right handed. Pre drilled for tap and pop-up waste. Will fit into 600mm base cabinet. Includes brushed stainless steel main bowl and separate small bowl, basket strainer, pop-up waste, fitting clips and sealant.</p>
    </section>
</div>
<div class="ui-helper-hidden" id="dialogInformationSinkModulesDesigner15Bowl" title="maia Sink Modules - Designer 1.5 Bowl">
    <section class="ui-widget-content ui-corner-all clearfix">
        <div class="slider-wrapper slider-dialog-gallery">
            <ul class="slider">
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-designer-1-5-1.jpg') }}" title="<strong>maia Designer 1.5 Bowl Sink Module</strong><br />maia's 1.5 designer bowl is edged front, left or right bowl options." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-designer-1-5-2.jpg') }}" title="<strong>maia Meteorite Designer 1.5 Bowl Sink Module</strong><br />Gorgeous browns and olives combine with copper metallic particles to deliver luxurious warmth. Not as stark as black, Meteorite works well with cream, white and light coloured woods." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-designer-1-5-3.jpg') }}" title="<strong>maia Meteorite Designer 1.5 Bowl Sink Module</strong><br />Gorgeous browns and olives combine with copper metallic particles to deliver luxurious warmth. Not as stark as black, Meteorite works well with cream, white and light coloured woods." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-designer-1-5-4.jpg') }}" title="<strong>maia Sandstone Designer 1.5 Bowl Sink Module</strong><br />Bringing natural warmth, Sandstone will complement both light and dark coloured kitchens." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-designer-1-5-5.jpg') }}" title="<strong>maia Iceberg Designer 1.5 Bowl Sink Module</strong><br />Iceberg's beauty lies in its purity. White has become a strong trend for worksurfaces - team with matching doors for a simple, calm style, or with splashes of colour to make a statement." /></li>
            </ul>
            <h1>maia Sink Modules - Designer 1.5 Bowl</h1>
        </div>
        <p class="mbn">maia's 1.5 designer bowl...edged front, left or right bowl options. Pre-drilled for tap. Will fit into 600mm base cabinet. Includes combined 1.5 bowl brushed stainless steel sink, basket strainers, fitting clips and sealant.</p>
    </section>
</div>
<div class="ui-helper-hidden" id="dialogInformationSinkModulesLargeFlushMountBowl" title="maia Sink Modules - Large Flush Mount Bowl">
    <section class="ui-widget-content ui-corner-all clearfix">
        <div class="slider-wrapper slider-dialog-gallery">
            <ul class="slider">
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-large-flush-mount-1.jpg') }}" title="<strong>maia Large Flush Mount Bowl Sink Module</strong><br />maia's large flush mount sink is edged front and back, reversible left or right handed." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-large-flush-mount-2.jpg') }}" title="<strong>maia Calcite Large Flush Mount Bowl Sink Module</strong><br />Delivering a fresher look than Vanilla, Calcite contains light grey particles suspended in a creamy white background. Works well with light and medium oaks as well as black. A youthful take on a traditional classic." /></li>
            </ul>
            <h1>maia Sink Modules - Large Flush Mount Bowl</h1>
        </div>
        <p class="mbn">maia's large flush mount sink...edged front and back, reversible left or right handed. Pre drilled for tap and pop-up waste. Will fit into 600mm base cabinet. Includes brushed flush mounted stainless steel sink, pop-up waste, fitting clips and sealant.</p>
    </section>
</div>
<div class="ui-helper-hidden" id="dialogInformationSinkModulesFlushMount15Bowl" title="maia Sink Modules - Flush Mount 1.5 Bowl">
    <section class="ui-widget-content ui-corner-all clearfix">
        <div class="slider-wrapper slider-dialog-gallery">
            <ul class="slider">
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-flush-mount-1-5-1.jpg') }}" title="<strong>maia Large Flush Mount Bowl Sink Module</strong><br />maia's large flush mount sink is edged front and back, reversible left or right handed." /></li>
                <li><img src="{{ asset('/uploads/demo/information-gallery-sink-modules-flush-mount-1-5-2.jpg') }}" title="<strong>maia Calcite Flush Mount 1.5 Bowl Sink Module</strong><br />Delivering a fresher look than Vanilla, Calcite contains light grey particles suspended in a creamy white background. Works well with light and medium oaks as well as black. A youthful take on a traditional classic." /></li>
            </ul>
            <h1>maia Sink Modules - Flush Mount 1.5 Bowl</h1>
        </div>
        <p class="mbn">maia's 1.5 flush mount bowl...edged front, left or right bowl options. Pre-drilled for tap. Will fit into 600mm base cabinet. Includes combined 1.5 bowl brushed stainless steel sink, basket strainers, fitting clips and sealant.</p>
    </section>
</div>