{% extends 'WebIlluminationSiteBundle::base.html.twig' %}

{% block title %}Variants | {{ product.description.pageTitle }}{% endblock %}

{% block header %}
    <header>
        {{ parent() }}
        <h1>{{ product.description.header }}</h1>
        <ul>
            <li><a href="{{ path('products_edit_overview', {'productId': product.id}) }}">Overview</a></li>
            <li><a href="{{ path('products_edit_descriptions', {'productId': product.id}) }}">Descriptions</a></li>
            <li><a href="{{ path('products_edit_variants', {'productId': product.id}) }}">Variants</a></li>
        </ul>
    </header>
{% endblock %}
{% block body %}
    <section>
        <div class="widget-group clearfix">
            <div class="widget widget-1-of-1">
                <div class="ui-widget mbl">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Variants</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom">
                        <div id="variant-listing">
                            {% for variant in product.variants %}
                                <div class="variant-item">
                                    <div class="variant-options">
                                        {% block variant_prices %}
                                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                <p class="ar product-price">
                                                    <span itemprop="price">&pound;{{ variant.prices[0].list_price|number_format(2) }}</span>
                                                </p>
                                            </div>
                                        {% endblock %}

                                        <ul>
                                            {% for feature in variant.features %}
                                                <li>{{ feature.productFeature }}: <strong>{{ feature.defaultFeature }}</strong></li>
                                            {% endfor %}
                                        </ul>

                                        <a href="{{ path('variants_delete', {'variantId': variant.id}) }}" class="button ui-button-red margin-bottom-5">Delete</a>
                                        <a href="{{ path('variants_edit', {'variantId': variant.id}) }}" class="fr button ui-button-blue margin-bottom-5">Edit</a>
                                    </div>

                                    {% block variant_description %}
                                        <div class="variant-information">
                                            {% if (variant.description) %}
                                                {{ variant.description.description|raw }}
                                            {% endif %}
                                        </div>
                                    {% endblock %}
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}