<form class="form" id="form-add" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget mbl">
                <header class="ui-widget-header ui-corner-top">
                    <h2>Variants</h2>
                </header>
                <section class="ui-widget-content ui-corner-bottom">
                    {% if form.errors %}
                        <div class="message error">
                            <p>You have <strong>{{ form.errors|length }}</strong> errors. Please fix the following errors before continuing:</p>
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}
                    <fieldset>
                        <table class="data-table" id="product-variant-list" width="100%" data-prototype="{{ form_widget(form.variants.vars.prototype) | e }}">
                            <thead>
                            <tr>
                                <th>Cost Price</th>
                                <th>RRP</th>
                                <th>List Price</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in form.variants %}
                                {{ form_widget(row) }}
                            {% endfor %}
                            </tbody>
                            {% do form.variants.setRendered() %}
                        </table>
                    </fieldset>

                    {{ form_rest(form) }}
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}

                    <div class="form-element widget-group clearfix">
                        <div class="widget widget-1-of-3">&nbsp;</div>
                        <div class="widget widget-2-of-3">
                            {% include 'WebIlluminationSiteBundle:Product:newControls.html.twig' %}
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</form>