<form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <span class="ui-button-icon-primary ui-icon icon-white icon-276"></span>
                    <h2>1. Product Information</h2>
                </header>
                <section class="ui-widget-content ui-corner-all">
                    {% include 'WebIlluminationSiteBundle:Product:newErrors.html.twig' %}
                    <fieldset>
                        {{ form_row(form.brand, {'label': 'Brand', 'help': 'Select a brand'}) }}
                        {{ form_row(form.departments) }}
                        {{ form_row(form.status, {'label': 'Status', 'help': 'Is the product available?'}) }}
                        <div class="form-element{% if errors %} form-element-error{% endif %} widget-group clearfix">
                            <div class="widget widget-1-of-3">
                                <label>Listing Options</label>
                            </div>
                            <div class="widget checker-group widget-2-of-3">
                                {{ form_row(form.availableForPurchase, {'label': 'Available', 'help': 'Is the product available to purchase?'}) }}
                                {{ form_row(form.featureComparison, {'label': 'Feature Comparison', 'help': 'Include in feature comparison?'}) }}
                                {{ form_row(form.downloadable, {'label': 'Downloadable', 'help': 'Is the product a download?'}) }}
                                {{ form_row(form.specialOffer, {'label': 'Special Offer', 'help': 'Is the product a special offer?'}) }}
                                {{ form_row(form.recommended, {'label': 'Recommended', 'help': 'Do you want to recommend?'}) }}
                                {{ form_row(form.accessory, {'label': 'Accessory', 'help': 'Is the product an accessory?'}) }}
                                {{ form_row(form.new, {'label': 'New', 'help': 'Is the product new?'}) }}
                            </div>
                        </div>
                        <div class="form-element{% if errors %} form-element-error{% endif %} widget-group clearfix">
                            <div class="widget widget-1-of-3">
                                <label>Price Options</label>
                            </div>
                            <div class="widget checker-group widget-2-of-3">
                                {{ form_row(form.hidePrice, {'label': 'Hide Price', 'help': 'Hide price for this product?'}) }}
                                {{ form_row(form.showPriceOutOfHours, {'label': 'Show Price Out Of Hours', 'help': 'Show price out of hours?'}) }}
                            </div>
                        </div>
                    </fieldset>
                    {{ form_rest(form) }}
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
                    {% include 'WebIlluminationSiteBundle:Product:newControls.html.twig' %}
                </section>
            </div>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        $("#site_new_product_brand").select2();
        $("select.select-department").prepend('<option value="">- Select a Department -</option>');
        $("select.select-department:selected").removeAttr("selected");
        $("select.select-department :nth-child(1)").attr("selected", "selected");
        $("select.select-department").select2({
            matcher: function(term, text) {
                return text.replace(/^[\s&nbsp;]+/,'').toUpperCase().indexOf(term.toUpperCase())>=0;
            }
        });
    })
</script>