<form class="form" id="form-add" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget mbl">
                <section class="ui-widget-content ui-corner-all">
                    {% if form.vars.valid is sameas(false) %}
                        <div class="message message-error">
                            <span class="ui-button-icon-primary ui-icon icon-white icon-850"></span>
                            <p>There was a problem saving. Please, check the information below and try again.</p>
                        </div>
                    {% endif %}
                    <fieldset>
                        {{ form_row(form.brand, {'label': 'Brand', 'help': 'Select a brand'}) }}
                        {{ form_row(form.departments) }}
                        {{ form_row(form.status, {'label': 'Status', 'help': 'Is the product available?'}) }}
                        <div class="form-element{% if errors %} form-element-error{% endif %} widget-group clearfix">
                            <div class="widget widget-1-of-3">
                                <label>Listing Options</label>
                            </div>
                            <div class="widget checker-group widget-2-of-3">
                                {{ form_row(form.availableForPurchase, {'label': 'Available', 'help': 'Is the product available to purchase?'}) }}
                                {{ form_row(form.featureComparison, {'label': 'Feature Comparison', 'help': 'Include in feature comparison?'}) }}
                                {{ form_row(form.downloadable, {'label': 'Downloadable', 'help': 'Is the product a download?'}) }}
                                {{ form_row(form.specialOffer, {'label': 'Special Offer', 'help': 'Is the product a special offer?'}) }}
                                {{ form_row(form.recommended, {'label': 'Recommended', 'help': 'Do you want to recommend?'}) }}
                                {{ form_row(form.accessory, {'label': 'Accessory', 'help': 'Is the product an accessory?'}) }}
                                {{ form_row(form.new, {'label': 'New', 'help': 'Is the product new?'}) }}
                            </div>
                        </div>
                        <div class="form-element{% if errors %} form-element-error{% endif %} widget-group clearfix">
                            <div class="widget widget-1-of-3">
                                <label>Price Options</label>
                            </div>
                            <div class="widget checker-group widget-2-of-3">
                                {{ form_row(form.hidePrice, {'label': 'Hide Price', 'help': 'Hide price for this product?'}) }}
                                {{ form_row(form.showPriceOutOfHours, {'label': 'Show Price Out Of Hours', 'help': 'Show price out of hours?'}) }}
                            </div>
                        </div>
                    </fieldset>
                    {{ form_rest(form) }}
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
                    <div class="button-group clearfix">
                        {% include 'WebIlluminationSiteBundle:Product:newControls.html.twig' %}
                    </div>
                </section>
            </div>
        </div>
    </div>
</form>