{% extends 'WebIlluminationSiteBundle::base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@WebIlluminationSiteBundle/Resources/public/css/components/forms/forms.scss'
        '@WebIlluminationSiteBundle/Resources/public/plugins/ui/css/ui.scss'
        '@WebIlluminationSiteBundle/Resources/public/css/components/icons/icons.scss'
        output='css/components-compressed.css'
        filter='compass,yui_css'
    %}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" xmlns="http://www.w3.org/1999/html"
          xmlns="http://www.w3.org/1999/html"/>
    {% endstylesheets %}
{% endblock %}
{% block scripts %}
    {{ parent() }}
    {% javascripts
        '@WebIlluminationSiteBundle/Resources/public/plugins/ui/js/ui.js'
        output='js/components-compressed.js'
        filter='yui_js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
{% block body %}
    <script type="text/javascript">
        $(document).ready(function() {
            $(".button").each(function () {
                $(this).button({
                    icons : {
                        primary : $(this).attr("data-icon-primary") ? $(this).attr("data-icon-primary") : null,
                        secondary : $(this).attr("data-icon-secondary") ? $(this).attr("data-icon-secondary") : null
                    },
                    text : $(this).attr("data-icon-only") === "true" ? false : true
                });
                var $dataNotification = $(this).attr("data-notification");
                if (($(this).attr("data-notification") != "") && ($(this).attr("data-notification") != undefined))
                {
                    $(this).prepend('<div class="button-notification">'+$(this).attr("data-notification")+'</div>');
                }
            });
        });
    </script>
    <header>
        <h1>Grid System &amp; Portlets</h1>
    </header>
    <section>
        <div class="widget-group clearfix">
            {% for i in 0..14 %}
                {% for j in 1..100 %}
                    <button style="float: left;" class="button" data-icon-primary="black-{{ (i * 100) + 1 }}-{{ (i * 100) + 100 }}-icon-{{ (i * 100) + j }}" data-icon-only="true"></button>
                {% endfor %}
            {% endfor %}
        </div>
        <div class="widget-group clearfix">
            <div class="widget widget-4-of-7">
                <div class="ui-widget mbl">
                    <section class="ui-widget-content ui-corner-all">
                        <div class="form-element widget-group clearfix">
                            <div class="widget widget-1-of-3">
                                <label>Message</label>
                            </div>
                            <div class="widget widget-2-of-3">
                                <textarea class="fill" rows="5"></textarea>
                            </div>
                        </div>
                        <div class="form-element widget-group clearfix">
                            <div class="widget widget-1-of-3">
                                <label>Your Name</label>
                            </div>
                            <div class="widget widget-2-of-3">
                                <input class="fill" type="text" value="John Doe"/>
                            </div>
                        </div>
                        <div class="form-element widget-group clearfix">
                            <div class="widget widget-1-of-3">
                                <label>Your Email</label>
                            </div>
                            <div class="widget widget-2-of-3">
                                <input class="fill" type="email" value="mr_hotshot0357@example.com" />
                            </div>
                        </div>
                        <div class="form-element widget-group clearfix">
                            <div class="widget widget-1-of-3">&nbsp;</div>
                            <div class="widget widget-2-of-3">
                                <button class="button" data-icon-primary="medium-black-icon-1">Test</button>
                            </div>
                        </div>
                        <div class="form-element">
                            <label>Unstyled:</label>
                            <input class="skipThese" type="text" value="This is unstyled on purpose" />
                        </div>
                        <div class="form-element">
                            <label>Your Name:</label>
                            <input type="text" value="John Doe"/>
                        </div>
                        <div class="form-element">
                            <label>Your Email:</label>
                            <input type="email" value="mr_hotshot0357@example.com" />
                        </div>
                        <div class="form-element">
                            <label>Search:</label>
                            <input type="search" />
                        </div>
                        <div>
                            <label>Phone:</label>
                            <input type="tel" />
                        </div>
                        <div>
                            <label>URL:</label>
                            <input type="url" size="40"/>
                        </div>
                        <div>
                            <label>Datetime:</label>
                            <input type="datetime" size="40"/>
                        </div>
                        <div>
                            <label>Date:</label>
                            <input type="date" size="40"/>
                        </div>
                        <div>
                            <label>Month:</label>
                            <input type="month" size="40"/>
                        </div>
                        <div>
                            <label>Week:</label>
                            <input type="week" size="40"/>
                        </div>
                        <div>
                            <label>Time:</label>
                            <input type="time" size="40"/>
                        </div>
                        <div>
                            <label>Datetime-local:</label>
                            <input type="datetime-local" size="40"/>
                        </div>
                    </section>
                </div>
            </div>
            <div class="widget widget-3-of-7">
                <div class="ui-widget mbl">
                    <section class="ui-widget-content ui-corner-all">
                        <p class="mbn">Vestibulum mattis eros ut mauris adipiscing tincidunt. In ligula enim, egestas nec varius ultricies, rhoncus vel enim. Pellentesque turpis erat, faucibus in bibendum sit amet, pretium vel est.</p>
                    </section>
                </div>
            </div>
        </div>

        <div class="widget-group clearfix">
            <div class="widget widget-3-of-5">
                <div class="ui-widget mbl">
                    <section class="ui-widget-content ui-corner-all">
                        <p class="mbn">Vestibulum mattis eros ut mauris adipiscing tincidunt. In ligula enim, egestas nec varius ultricies, rhoncus vel enim. Pellentesque turpis erat, faucibus in bibendum sit amet, pretium vel est.</p>
                    </section>
                </div>
            </div>
            <div class="widget widget-2-of-5">
                <div class="ui-widget mbl">
                    <section class="ui-widget-content ui-corner-all">
                        <p class="mbn">Vestibulum mattis eros ut mauris adipiscing tincidunt. In ligula enim, egestas nec varius ultricies, rhoncus vel enim. Pellentesque turpis erat, faucibus in bibendum sit amet, pretium vel est.</p>
                    </section>
                </div>
            </div>
        </div>
        
        
        <form class="styleThese">
            <table width="100%">
                <tr>
                    <td width="50%">
                        <div>
                            <label>Message:</label>
                            <textarea cols="40" rows="5"></textarea>
                        </div>
                        <div>
                            <label>Unstyled:</label>
                            <input class="skipThese" type="text" size="40" value="This is unstyled on purpose" />
                        </div>
                        <div>
                            <label>Your Name:</label>
                            <input type="text" size="40" value="John Doe"/>
                        </div>
                        <div>
                            <label>Your Email:</label>
                            <input type="email" size="40" value="mr_hotshot0357@example.com" />
                        </div>
                        <div>
                            <label>Search:</label>
                            <input type="search" size="40"/>
                        </div>
                        <div>
                            <label>Phone:</label>
                            <input type="tel" size="40"/>
                        </div>
                        <div>
                            <label>URL:</label>
                            <input type="url" size="40"/>
                        </div>
                        <div>
                            <label>Datetime:</label>
                            <input type="datetime" size="40"/>
                        </div>
                        <div>
                            <label>Date:</label>
                            <input type="date" size="40"/>
                        </div>
                        <div>
                            <label>Month:</label>
                            <input type="month" size="40"/>
                        </div>
                        <div>
                            <label>Week:</label>
                            <input type="week" size="40"/>
                        </div>
                        <div>
                            <label>Time:</label>
                            <input type="time" size="40"/>
                        </div>
                        <div>
                            <label>Datetime-local:</label>
                            <input type="datetime-local" size="40"/>
                        </div>
                    </td>
                    <td>
                        <div>
                            <label>Number:</label>
                            <input type="number" size="40"/>
                        </div>
                        <div>
                            <label>Range:</label>
                            <input type="range" size="40"/>
                        </div>
                        <div>
                            <label>Color:</label>
                            <input type="color" size="40"/>
                        </div>
                        <div>
                            <label>Some Password:</label>
                            <input type="password" size="40"/>
                        </div>
                        <div>
                            <label>I found your site:</label>
                            <select id="demoFoundSite">
                                <option value="google">Through Google</option>
                                <option value="twitter">Through Twitter</option>
                                <option value="other">Other&hellip;</option>
                                <option value="hi">&lt;Hi&gt;</option>
                            </select>
                        </div>
                        <div>
                            <label>How do you feel?</label>
                            <select id="demoFeeling" multiple="multiple" size=4>
                                <option value="elated">Elated</option>
                                <option value="happy">Happy</option>
                                <option value="content">Content</option>
                                <option value="ok">Ok</option>
                                <option value="unhappy">Unhappy</option>
                                <option value="frustrated">Frustrated</option>
                                <option value="cranky">Cranky</option>
                                <option value="mad">Mad</option>
                                <option value="unlisted">Anything else</option>
                            </select>
                        </div>
                        <div>
                            <label>
                                <input type="radio" name="radio" value="hi" /> Saying hi
                            </label>
                            <label>
                                <input type="radio" name="radio" value="feedback" /> Sending feedback
                            </label>
                            <label>
                                <input type="radio" name="radio" value="default" checked="CHECKED" /> Default Seleted Radio
                            </label>
                        </div>
                        <div>
                            <label>
                                <input type="checkbox" id="contactBack" /> Please contact me back
                            </label>
                            <label>
                                <input type="checkbox" checked="CHECKED" id="goodDay" /> Today is a good day
                            </label>
                        </div>
                        <div>
                            <label>Upload a file:</label>
                            <input type="file" />
                        </div>
                    </td>
                </tr>
            </table>
            <div class="error">
                <!-- Here are some fields with "display: none" on them.
                When Uniform wraps them, the surrounding div should also get
                the "display: none" style applied. -->
                <input type="text" value="You should not see this." class="hide" />
                <select id="demoHide" class="hide">
                    <option>If you can see this, it's an error</option>
                </select>
                <input type="checkbox" class="hide" />
                <input type="radio" name="radio" class="hide" value="hidden" />
                <input type="file" class="hide" />
            </div>
            <div>
                <input type="submit" />
                <input type="reset" />
            </div>
        </form>
        <p class="styleThese">
            <a href="http://google.com/">Normal link</a>,
            <a href="http://google.com" class="uniformTest">uniformed link (self)</a> and
            <a href="http://google.com" class="uniformTest" target="newWindow">uniformed link (new window)</a>.
        </p>
    </section>
{% endblock %}