{% extends 'KACSiteBundle:Product:base.html.twig' %}

{% block title %}Product Combinations | {{ product.description.pageTitle }}{% endblock %}

{% block body %}
    <div class="widget-group clearfix">
        <div class="widget widget-2-of-7">
            {% include 'KACSiteBundle:Product:editLeftMenu.html.twig' %}
        </div>
        <div class="widget widget-5-of-7">
            <section>
                <div class="widget-group clearfix">
                    <div class="widget widget-1-of-1">
                        <div class="ui-widget">
                            <header class="ui-widget-header ui-corner-top">
                                <span class="ui-button-icon-primary ui-icon icon-white icon-276"></span>
                                <h2>1. Product Combinations</h2>
                            </header>
                            <section class="ui-widget-content ui-corner-all">
                                <div id="variant-listing">
                                    {% for variant in product.variants %}
                                        <div itemscope itemtype="http://schema.org/Product" class="variant product relative" data-product-id="{{ product.id }}" data-variant-id="{{ variant.id }}" id="variant-{{ variant.id }}">
                                            <div>
                                                <div>
                                                    <h4><a itemprop="name" href="{{ path('variants_edit', {'productId': product.id, 'variantId': variant.id}) }}">{{ variant.description.header }}</a></h4>
                                                    {% for feature in variant.features %}
                                                        {% if 'COLOUR' == feature.featureGroup|upper %}
                                                            {% spaceless %}
                                                                <p class="colour">
                                                                    <strong>{{ feature.feature|upper }}</strong>
                                                                </p>
                                                            {% endspaceless %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>

                                                <div class="product-options">
                                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                        <p class="ar product-price">
                                                            {% spaceless %}
                                                                <span itemprop="price">&pound;{{ variant.prices[0].list_price|number_format(2) }}</span>
                                                                <span class="product-tax"> (inc. VAT)</span>
                                                            {% endspaceless %}
                                                        </p>
                                                    </div>

                                                    <a href="{{ path('variants_delete', {'productId': product.id, 'variantId': variant.id}) }}" class="fr button button-red">Delete</a>
                                                    <a href="{{ path('variants_edit', {'productId': product.id, 'variantId': variant.id}) }}" class="fr button button-blue">Edit</a>
                                                </div>


                                                {% if variant.features|length > 0 %}
                                                    <div class="product-information">
                                                        <ul>
                                                            {% for feature in variant.features %}
                                                                {% set featureValue = feature.feature %}
                                                                {% set featureGroup = feature.featureGroup %}

                                                                {% if featureValue != '' %}
                                                                    {% if featureValue == 'Yes' %}
                                                                        {% set className = 'green-tick' %}
                                                                    {% elseif feature == 'No' %}
                                                                        {% set className = 'red-cross' %}
                                                                    {% else %}
                                                                        {% set className = 'bullet' %}
                                                                    {% endif %}
                                                                    <li class="{{ className }}">{{ featureGroup }}: <strong>{{ featureValue }}</strong></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    {% endfor %}
                                </div>

                                <div class="clearfix">

                                    <a href="{{ path('variants_new', {'productId': product.id}) }}" class="button">New Variant</a>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}