<form class="form" id="formStep11" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget mbl">
                <header class="ui-widget-header ui-corner-top">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-white icon-51"></span>
                    <h2>11. Product Documents</h2>
                </header>
                <section class="ui-widget-content ui-corner-bottom">
                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                    <fieldset>
                        <div class="accordion mbm">
                            <div class="accordion-item documentupload">
                                <h3>Documents for Product</h3>
                                <div>
                                    <table class="form-table sortable files mbm">
                                        <tbody>
                                            <tr class="no-files">
                                                <td colspan="4">
                                                    <div class="message message-help mas">
                                                        <span class="ui-button-icon-primary ui-icon-small icon-small-yellow icon-small-383"></span>
                                                        <p>There are no documents currently uploaded. Go back and upload a document.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    {{ form_widget(form.documents) }}
                                </div>
                            </div>
                            {% for variant in form.variants %}
                                <div class="accordion-item documentupload">
                                    <h3>Documents for {{ variant.vars.value.productCode }} ({{ variant.vars.value.prices.0.listPrice|currency(variant.vars.value.prices.0.currencyCode, false, true, '') }})</h3>
                                    <div>
                                        <table class="form-table sortable files mbm">
                                            <tbody>
                                                <tr class="no-files">
                                                    <td colspan="4">
                                                        <div class="message message-help mas">
                                                            <span class="ui-button-icon-primary ui-icon-small icon-small-yellow icon-small-383"></span>
                                                            <p>There are no documents currently uploaded. Go back and upload a document.</p>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        {{ form_rest(variant) }}
                                    </div>
                                </div>
                            {% endfor %}
                            {% do form.variants.setRendered() %}
                        </div>
                        {{ form_rest(form) }}
                    </fieldset>
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
                    {% include 'KACSiteBundle:Product:newControls.html.twig' %}
                </section>
            </div>
        </div>
    </div>
</form>
{% raw %}
    <script id="templateDocumentRow" type="text/x-template">
        {% for (var i = 0, file; file = o.files[i]; i++) { %}
            <tr class="document-row" data-id="{%=file.id %}">
                <td width="1"><img class="handle" src="/bundles/kacsite/images/icons/handle.png" border="0" /></td>
                <td width="1"><input type="checkbox" name="select[{%=file.id %}]" data-id="{%=file.id %}" /></td>
                <td width="1" class="name">
                    <a href="{%=file.url%}" target="_blank"><span class="fn image-preview ui-button-icon-primary ui-icon icon-turquoise icon-53"></span></a>
                </td>
                <td class="title">{%=file.title%}</td>
            </tr>
        {% } %}
    </script>
{% endraw %}
<script>
    $(function () {
        "use strict";
        var $documents = "{{ form.vars.value.documentUploads }}";
        if ($documents) {
            var $documentData = $.getJSON('{{ path('api_documents_get_multiple', {'ids': '-1'}) }}'.replace('-1', $documents), function(data) {
                var template = tmpl("templateDocumentRow");
                var result = template({
                    files: data.files,
                    formatFileSize: this._formatFileSize,
                    options: this.options
                });
                $(".files tbody").append(result);
                $(".files tbody").find(".no-files").remove();
            });
        }
        $("#formStep11").submit(function() {
            $(".documentupload").each(function() {
                var $documents = [];
                var $documentsHiddenInputObject = $(this).find("input[type='hidden']");
                $(this).find(".files tbody tr").each(function() {
                    var $checkBoxObject = $(this).find("input");
                    if($checkBoxObject.is(":checked")) {
                        $documents.push($checkBoxObject.attr("data-id"));
                    }
                });
                $documentsHiddenInputObject.val($documents.join(","));
            });
            return true;
        });
        $(document).bind('drop dragover', function (e) {
            e.preventDefault();
        });
    });
    $(window).load(function() {
        $(".imageupload").each(function() {
            var $documentsHiddenInputObject = $(this).find("input[type='hidden']");
            var $tableBodyObject = $(this).find(".files tbody");
            var $documents = $documentsHiddenInputObject.val().split(",");
            var $reOrderedRows = new Array();
            for (var $index = 0; $index < $documents.length; $index++) {
                var $row = $tableBodyObject.find("tr[data-id='"+$documents[$index]+"']");
                $reOrderedRows.push($row);
                $row.remove();
            }
            $tableBodyObject.find("tr").each(function() {
                $reOrderedRows.push($(this));
                $(this).remove();
            });
            $tableBodyObject.empty();
            for (var $index = 0; $index < $reOrderedRows.length; $index++) {
                $tableBodyObject.append($reOrderedRows[$index]);
            }
            generateButtons($tableBodyObject);
            generateFormElements($tableBodyObject);
            for (var $index = 0; $index < $documents.length; $index++) {
                $tableBodyObject.find("input[type='checkbox'][data-id='"+$documents[$index]+"']").attr("checked", "checked");
            }
        });
        $.uniform.update();
    });
</script>