<form class="form" id="form-add" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget mbl">
                <header class="ui-widget-header ui-corner-top">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-white icon-69"></span>
                    <h2>4. Features</h2>
                </header>
                <section class="ui-widget-content ui-corner-bottom">
                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                    <fieldset>
                        <div class="accordion mbm">
                            {% for variant in form.variants %}
                                <div class="accordion-item">
                                    <h3>Features for {{ variant.vars.value.productCode }} ({{ variant.vars.value.prices.0.listPrice|currency(variant.vars.value.prices.0.currencyCode, false, true, '') }})</h3>
                                    <div>
                                        <table class="form-table mbm">
                                            <thead>
                                            <tr>
                                                <th width="1">&nbsp;</th>
                                                <th title="The selected feature group.">Group</th>
                                                <th title="Select a corresponding feature.">Feature</th>
                                                <th width="1">&nbsp;</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for row in variant.features %}
                                                <tr>
                                                    <td width="1" class="row-count tar">{{ loop.index }}</td>
                                                    <td>{{ form_widget(row.featureGroup) }}</td>
                                                    <td>{{ form_widget(row.feature) }}</td>
                                                    <td width="1" class="tar"><button type="button" title="Click to apply the selected feature across all other variants." class="actionApplyFeatureToAll button icon-grey" data-icon-primary="icon-751" data-icon-only="true">Apply to All</button></td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endfor %}
                            {% do form.variants.setRendered() %}
                        </div>
                        {{ form_rest(form) }}
                    </fieldset>
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
                    {% include 'KACSiteBundle:Product:newControls.html.twig' %}
                </section>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $(document).on("click", ".actionApplyFeatureToAll", function() {
            $("body").css("cursor", "progress");
            var $selectedValue = $(this).parent().prev().find("select:eq(0)").val();
            var $tableIndex = $("table.form-table").index($(this).closest("table.form-table"));
            var $selectedIndex = $("table.form-table:eq("+$tableIndex+") tbody tr td .actionApplyFeatureToAll").index(this);
            $("table.form-table").each(function() {
                $(this).find("tbody tr:eq("+$selectedIndex+") td:eq(2) select option:selected").removeAttr("selected");
                $(this).find("tbody tr:eq("+$selectedIndex+") td:eq(2) select option[value='"+$selectedValue+"']").attr("selected", "selected");
            });
            $.uniform.update();
            $("body").css("cursor", "default");
        });
    });
</script>