2<form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget mbl">
                <header class="ui-widget-header ui-corner-top">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-white icon-700"></span>
                    <h2>{{ flow.getCurrentStepLabel() }}</h2>
                </header>
                <section class="ui-widget-content ui-corner-bottom">
                    <div class="message message-help">
                        <span class="ui-button-icon-primary ui-icon-small icon-top icon-small-yellow icon-small-762"></span>
                        <p><strong>NOTE:</strong> The first combination will be the default combination displayed in a product, so it is important that you order the combinations below to reflect this.</p>
                    </div>
                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                    <fieldset class="pbm">
                        <table class="form-table sortable">
                            <thead>
                                <tr>
                                    <th width="1">&nbsp;</th>
                                    <th width="1">&nbsp;</th>
                                    <th class="tal" title="The features that make up the combination.">Combination</th>
                                    <th title="Enter the unique product code supplied by the manufacturer or supplier.">Product Code</th>
                                    <th title="Enter the price of the product at the cost we but it in at.">Cost Price</th>
                                    <th title="Enter the recommended retail price (RRP) of the product. Leave it blank if you want the RRP to be the list price.">RRP</th>
                                    <th title="Enter the list price. This is the price the product will sell for.">List Price</th>
                                    <th width="1">&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for variant in form.variants %}
                                    <tr>
                                        <td><img class="handle" src="{{ asset('bundles/kacsite/images/icons/handle.png') }}" border="0" />{{ form_widget(variant.displayOrder) }}</td>
                                        <td class="row-count tar">{{ loop.index }}</td>
                                        <td>
                                            <ul>
                                                {% for feature in variant.get('value').features %}
                                                    <li>{{ feature.featureGroup }}: <strong>{{ feature.feature }}</strong></li>
                                                {% else %}
                                                    <li>Single Combination</li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        {{ form_widget(variant) }}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {{ form_rest(form) }}
                    </fieldset>
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
                    {% include 'KACSiteBundle:Product:newControls.html.twig' %}
                </section>
            </div>
        </div>
    </div>
</form>