<form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <header class="ui-widget-header ui-corner-top">
                    <span class="ui-button-icon-primary ui-icon icon-white icon-946"></span>
                    <h2>1. Overview</h2>
                </header>
                <section class="ui-widget-content ui-corner-all">
                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                    <fieldset>
                        {{ form_row(form.brand) }}
                        {{ form_row(form.departments) }}
                        {{ form_row(form.status) }}
                        <div class="form-element widget-group clearfix">
                            <div class="widget widget-1-of-3">
                                <label>Listing Options</label>
                            </div>
                            <div class="widget checker-group widget-2-of-3">
                                {{ form_row(form.availableForPurchase) }}
                                {{ form_row(form.featureComparison) }}
                                {{ form_row(form.downloadable) }}
                                {{ form_row(form.specialOffer) }}
                                {{ form_row(form.recommended) }}
                                {{ form_row(form.accessory) }}
                                {{ form_row(form.new) }}
                            </div>
                        </div>
                        <div class="form-element widget-group clearfix">
                            <div class="widget widget-1-of-3">
                                <label>Price Options</label>
                            </div>
                            <div class="widget checker-group widget-2-of-3">
                                {{ form_row(form.hidePrice) }}
                                {{ form_row(form.showPriceOutOfHours) }}
                            </div>
                        </div>
                        {{ form_rest(form) }}
                    </fieldset>
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
                    {% include 'KACSiteBundle:Product:newControls.html.twig' %}
                </section>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript">
    $(document).ready(function() {
        $("select.select-brand").select2();
        $("select.select-department").prepend('<option value="">- Select a Department -</option>').select2();
        if ($("select.select-department option[value!=''][selected='selected']").length == 0) {
            $("select.select-department").select2('val', ['- Select a Department -']);
        }
    })
</script>