{% set departmentName = form.vars.value.department.department.name %}
{% if form.vars.value.department.department.deliveryBand > 0 %}
    {% set departmentDeliveryBand = form.vars.value.department.department.deliveryBand %}
{% elseif form.vars.value.department.department.inheritedDeliveryBand > 0 %}
    {% set departmentDeliveryBand = form.vars.value.department.department.inheritedDeliveryBand %}
{% endif %}
<form class="form" id="form-add" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget mbl">
                <header class="ui-widget-header ui-corner-top">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-white icon-874"></span>
                    <h2>{{ flow.getCurrentStepLabel() }}</h2>
                </header>
                <section class="ui-widget-content ui-corner-bottom">
                    {% if departmentDeliveryBand %}
                        <div class="message message-help">
                            <span class="ui-button-icon-primary ui-icon-small icon-top icon-small-yellow icon-small-762"></span>
                            <p>The default delivery band set is <strong>"{{ departmentDeliveryBand|number_format(0) }}"</strong>, which has been set by default from the department <strong>"{{ departmentName }}"</strong>.</p>
                        </div>
                    {% else %}
                        <div class="message message-help">
                            <span class="ui-button-icon-primary ui-icon-small icon-top icon-small-yellow icon-small-694"></span>
                            <p>The default delivery band cannot be set as the department <strong>"{{ departmentName }}"</strong> has no default delivery band set.</p>
                            <p><strong>Please check the delivery bands below and make sure you set them.</strong></p>
                        </div>
                    {% endif %}
                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                    <fieldset>
                        <div class="accordion mbm">
                            {% for variant in form.variants %}
                                <div class="accordion-item">
                                    <h3>Delivery for {{ variant.vars.value.productCode }} ({{ variant.vars.value.prices.0.listPrice|currency(variant.vars.value.prices.0.currencyCode, false, true, '') }})</h3>
                                    <div class="pbm">
                                        {{ form_rest(variant) }}
                                    </div>
                                </div>
                            {% endfor %}
                            {% do form.variants.setRendered() %}
                        </div>
                        {{ form_rest(form) }}
                    </fieldset>
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
                    {% include 'KACSiteBundle:Product:newControls.html.twig' %}
                </section>
            </div>
        </div>
    </div>
</form>