<style>
    .accordion-item {
        position: relative;
    }
    .accordion-header-buttons {
        position: absolute;
        top: 4px;
        right: 52px;
        z-index: 1;
    }
    .accordion-header-buttons button {
        padding: 0 3px;
    }
</style>
<form class="form" id="form-add" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget mbl">
                <header class="ui-widget-header ui-corner-top">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-white icon-69"></span>
                    <h2>7. Images</h2>
                </header>
                <section class="ui-widget-content ui-corner-bottom">
                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                    <fieldset>
                        <div class="accordion mbm">
                            {% for variant in form.vars.value.variants %}
                                <div class="accordion-item fileupload">
                                    <div class="accordion-header-buttons">
                                        <button type="button" class="fileinput-button fr mlm button button-dark-grey icon-white" data-icon-secondary="icon-1121">Add Images<input class="no-uniform" type="file" name="file" multiple></button>
                                    </div>
                                    <h3>Images for {{ variant.vars.value.productCode }} ({{ variant.vars.value.prices.0.listPrice|currency(variant.vars.value.prices.0.currencyCode, false, true, '') }})</h3>
                                    <div>
                                        <table class="form-table files mbm">
                                            <thead>
                                            <tr>
                                                <th colspan="6"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                {% for variant in form.vars.value.variants %}
                                                    {{ variant|dump }}
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endfor %}
                            {{ form_widget(form.images) }}
                        </div>
                        {{ form_rest(form) }}
                    </fieldset>
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
                    {% include 'KACSiteBundle:Product:newControls.html.twig' %}
                </section>
            </div>
        </div>
    </div>
</form>

<script>
    $(function () {
        'use strict';
        

        $(document).bind('drop dragover', function (e) {
            e.preventDefault();
        });
    });
</script>
