{% extends 'KACSiteBundle::base.html.twig' %}

{% block title %}Add New Feature Group | {{ parent() }}{% endblock %}

{% block header %}
    <header>
        {{ parent() }}
        <h1>Add New Feature Group</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
        <div class="widget-group clearfix">
            <div class="widget widget-1-of-1">
                <form class="form" id="form-add" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all) }}" {{ form_enctype(form) }}>
                    <div class="widget-group clearfix">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget mbl">
                                <section class="ui-widget-content ui-corner-all">
                                    {% include 'KACSiteBundle:Product:newErrors.html.twig' %}
                                    <table class="form-table sortable mbm" id="featureGroupList" data-prototype="{% filter escape %}{% include 'KACSiteBundle::newFieldRow.html.twig' with {'form': form.features.vars.prototype} %}{% endfilter %}">
                                        <thead>
                                            <tr>
                                                <th title="Select a feature group." class="tal">Group</th>
                                                <th title="Select the default feature a product will automatically be assigned with. Leave this as 'No Default Feature' if you want to set the feature." class="tal">Default Feature</th>
                                                <th title="Do you want this feature to show up on the product filter in the listings?">Filter?</th>
                                                <th title="Do you want the feature to display on the bullets of a product on the product listings?">Listing?</th>
                                                <th title="Do you want the feature to display in the features section on the product page?">Product?</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="no-data ui-helper-hidden">
                                                <td colspan="8">
                                                    <div class="message message-help mas">
                                                        <span class="ui-button-icon-primary ui-icon icon-yellow icon-383"></span>
                                                        <p>There are no features currently setup. Add a feature using the "Add Feature" button below.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{ form_rest(form) }}
                                        </tbody>
                                    </table>
                                    <fieldset>
                                        <legend class="fill clearfix">Apply to Department</legend>
                                        <div class="clear"></div>
                                        {{ form_rest(form) }}
                                    </fieldset>
                                    <div class="clearfix">
                                        <button type="button" data-table-object="featureGroupList" class="actionAddFormRow mlm fr button icon-green" data-icon-secondary="icon-1121">Add</button>
                                        <button type="submit" class="button button-green icon-white fr" data-icon-secondary="icon-1118">Save</button>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function() {
            $("select.select-department").select2({
                placeholder: "- Apply to Department -"
            });
        })
    </script>
{% endblock %}