{% extends 'KACSiteBundle::base.html.twig' %}

{% block title %}Add New Feature Groups | {{ parent() }}{% endblock %}

{% block header %}
    <header>
        {{ parent() }}
        <h1>Add New Feature Groups</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
        <div class="widget-group clearfix">
            <div class="widget widget-1-of-1">
                <form class="form" id="form-add" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all) }}" {{ form_enctype(form) }}>
                    <div class="widget-group clearfix">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget mbl">
                                <section class="ui-widget-content ui-corner-all">
                                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                                    <table class="form-table sortable mbm" id="featureGroupList" data-prototype="{% filter escape %}{% include 'KACSiteBundle::newFieldRow.html.twig' with {'form': form.features.vars.prototype} %}{% endfilter %}">
                                        <thead>
                                            <tr>
                                                <th width="1">&nbsp;</th>
                                                <th title="Enter the name of the product feature group." class="tal">Name</th>
                                                <th width="1" title="Is the feature group active?">Active?</th>
                                                <th width="1" title="Can you filter by the feature group?">Filter?</th>
                                                <th width="1">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="no-data ui-helper-hidden">
                                                <td colspan="8">
                                                    <div class="message message-help mas">
                                                        <span class="ui-button-icon-primary ui-icon-small icon-small-yellow icon-small-383"></span>
                                                        <p>There are no feature groups currently setup. Add a feature group using the "Add" button below.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                            {{ form_row(form.features) }}
                                        </tbody>
                                    </table>
                                    <fieldset>
                                        {{ form_row(form.department) }}
                                        {{ form_row(form.product) }}
                                        {{ form_rest(form) }}
                                    </fieldset>
                                    <div class="clearfix">
                                        <button type="submit" class="button button-green icon-white mlm fr" data-icon-secondary="icon-1118">Save</button>
                                        <button type="button" data-table-object="featureGroupList" class="actionAddFormRow mlm fr button icon-green" data-icon-secondary="icon-1121">Add</button>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script type="text/javascript">
        $(document).ready(function() {
            $(".select-department").select2();

            var productsUrl = "{{ path('api_products_get') }}";
            var productUrl = "{{ path('api_products_get_product', {'id': -1}) }}";
            $(".select-product").select2({
                minimumInputLength: 1,
                quietMillis: 100,
                ajax: {
                    url: productsUrl,
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            q: term,
                            page: page
                        };
                    },
                    results: function (data, page) {
                        var more = (page * 10) < data.total;
                        return {results: data.products, more: more};
                    }
                },
                initSelection: function(element, callback) {
                    var id = $(element).val();
                    if (id !== "") {
                        $.ajax(productUrl.replace(/-1/, id), {
                            dataType: "json"
                        }).done(function(data) { callback(data); });
                    }
                },
                formatResult: function(product) {
                    if (product.descriptions.length > 0) {
                        return product.descriptions[0].page_title;
                    }
                    return "";
                },
                formatSelection: function(product) {
                    if (product.descriptions.length > 0) {
                        return product.descriptions[0].page_title;
                    }
                    return "";
                }
            });
            {% if app.request.query.get('productId') > 0 %}
                $(".select-product").select2('val', {{ app.request.query.get('productId') }});
            {% endif %}
        })
    </script>
{% endblock %}