<div class="pam">
    <h3 class="separator">You may also be interested in</h3>
    <div class="widget-group product clearfix">
        {% for product in products %}
            <div itemscope itemtype="http://schema.org/Product" class="widget widget-1-of-5 product">
                <div class="pr">
                    <div class="product-image-container man pr">
                        <a href="{{ product.url != '' ? path('routing', {'url': product.url}) : '' }}">
                            <img class="product-image" itemprop="image" src="{{ asset(product.images[0].publicPath | apply_filter('product_thumbnail')) }}" border="0" alt="{{ product.description.header|raw }}" width="100%" />
                        </a>
                        {% if product.cheaperAlternative %}
                            {{ render_esi(controller('KACSiteBundle:Listing:cheaperAlternative', { 'productId': product.id })) }}
                        {% endif %}
                    </div>
                    <div class="pts pr">
                        {% if not brand %}
                            {% if product.brand.description.logoImage.publicPath != '' %}
                                <img class="small-brand-logo-image" src="{{ asset(product.brand.description.logoImage.publicPath | apply_filter('logo_thumbnail')) }}" alt="{{ product.brand.description.name }}" height="25" />
                            {% endif %}
                        {% endif %}
                        <div itemprop="offers" itemscope itemtype="{% if product.priceRange.low == product.priceRange.high %}http://schema.org/Offer{% else %}http://schema.org/AggregateOffer{% endif %}">
                            {% if product.hidePrices == 0 %}
                                <a href="{{ path('routing', {'url': product.url}) }}">
                                    {% if (product.priceRange.low == product.priceRange.high) and (product.priceRange.low != product.recommendedRetailPriceRange.low) and (product.recommendedRetailPriceRange.low > 0) %}
                                        <span itemprop="price" class="price-small">{{ product.priceRange.low|currency('GBP', true, true, '')|raw }}</span>
                                        <span itemprop="price" class="was-price-small">was <span class="strikethrough">{{ product.recommendedRetailPriceRange.low|currency('GBP', true, true, '')|raw }}</span> save {{ (product.recommendedRetailPriceRange.low - product.priceRange.low)|currency('GBP', true, true, '')|raw }}</span>
                                    {% else %}
                                        <span itemprop="price" class="price-small">
                                            {% if product.priceRange.low != product.priceRange.high %}
                                                <span class="currency-prefix">from </span>
                                            {% endif %}
                                            {{ product.priceRange.low|currency('GBP', true, true, '')|raw }}
                                        </span>
                                        <span class="price-tax">
                                            <span class="currency-tax">(inc. VAT)</span>
                                        </span>
                                    {% endif %}
                                </a>
                            {% else %}
                                <a href="{{ path('content_contact_us') }}">CONTACT US</a>
                            {% endif %}
                        </div>
                        <div class="product-listing-name mbs">
                            <a itemprop="name" href="{{ path('routing', {'url': product.url}) }}">{{ product.description.header|raw }}</a>
                        </div>
                        <div class="product-listing-colour">
                            {% for feature in product.variants[0].features %}
                                {% if feature.featureGroup.name == 'Colour' %}
                                    {{ feature.feature.name }}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>