{% extends 'KACSiteBundle:Product:base.html.twig' %}
{% import 'KACSiteBundle:Product/Includes:helpers.html.twig' as helpers %}

{% block title %}{{ product.description.pageTitle }} | {{ parent() }}{% endblock %}

{% block admin_submenu %}
    {{ parent() }}
    <div class="widget widget-1-of-4">
        <a class="fl" href="{{ path('departments_index') }}"><span class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-95"></span></a>
        <h3 class="pts pbs"><a href="{{ path('products_edit', {'productId': product.id}) }}">Edit Product</a></h3>
    </div>
    <div class="widget widget-1-of-4">
        <a class="fl" href="{{ path('departments_index') }}"><span class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-1117"></span></a>
        <h3 class="pts pbs"><a href="{{ path('products_delete', {'productId': product.id}) }}">Delete Product</a></h3>
    </div>
{% endblock %}

{% block body %}
    <style>
        .summary-specification li {
            margin: 0 0 0 20px !important;
            font-size: 12px !important;
            font-size: 1.2rem !important;
            line-height: 150% !important;
        }

        img.etalage_thumb_image {
            display: block;
        }

        ul.etalage {
            margin: 0;
        }

        .etalage_small_thumbs ul {
            margin: 0;
        }
    </style>
    <script>
        $(document).ready(function() {
            $(".actionViewFullTechnicalSpecification").on("click", function() {
                $(".tabs").tabs("option", "active", 1);
            });
        });
    </script>
    <section class="product">
        <div itemscope itemtype="http://schema.org/Brand">
            <meta itemprop="name" content = "{{ product.brand.description.header }}"/>
            <meta itemprop="url" content = "{{ product.brand.url }}"/>
            <meta itemprop="logo" content = "{{ asset(product.brand.description.logoImage.publicPath | apply_filter('logo_medium')) }}"/>
            <meta itemprop="description" content = "{{ product.brand.description.metaDescription }}"/>
        </div>

        {% block product_block %}
            {% block department_breadcrumb %}
                <div class="widget-group clearfix mbm">
                    <div class="widget widget-7-of-8">
                        <ul class="breadcrumbs" itemprop="breadcrumb">
                            <li style="z-index: {{ departments|length }};"><a href="{{ path('homepage') }}">Kitchen Appliances</a></li>
                            {% for department in departments|reverse %}
                                {% if department.level != 0  %}
                                    <li style="z-index: {{ loop.revindex }};" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                        <a href="{{ path('routing', {'url': department.url}) }}" itemprop="url"><span itemprop="title">{{ department.description.header }}</span></a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endblock %}
            {% block product_info %}
                <div itemscope itemtype="http://schema.org/Product">
                    <div class="widget-group clearfix product mbl">
                        <div class="widget widget-3-of-5">
                            <div class="ui-widget">
                                <section class="ui-widget-content ui-corner-all clearfix">
                                    <h1 itemprop="name">{{ product.description.header }}</h1>
                                    <div>
                                        {% if product_images | length > 0 %}
                                            <ul class="etalage">
                                                {% for image in product_images %}
                                                    <li>
                                                        <img class="etalage_thumb_image" src="{{ asset(image.publicPath | apply_filter('product_large')) }}" data-src="{{ asset(image.publicPath | apply_filter('product_large')) }}" alt="{{ product.description.header }}" />
                                                        <img class="etalage_source_image" src="{{ asset(image.publicPath | apply_filter('product_large')) }}" alt="{{ product.description.header }}" />
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="widget widget-2-of-5">
                            <div class="ui-widget">
                                <section class="ui-widget-content pan ui-corner-all clearfix">
                                    <div class="border-bottom-separator">
                                        <div class="pam">
                                            {% if product.variants|length > 1 %}
                                                <a href="#buyNow" class="button uppercase button-green icon-white fr mas" data-icon-secondary="icon-465">Buy Now</a>
                                                <div class="fr prl mts mbs" itemprop="offers" itemscope itemtype="{% if lowest_price is null %}http://schema.org/Offer{% else %}http://schema.org/AggregateOffer{% endif %}">
                                                    <div class="price">
                                                        <span class="currency-prefix">from only</span>
                                                    </div>
                                                    <div class="price">
                                                        {% if lowest_price is null %}
                                                            <span itemprop="price">{{ highest_price.listPrice | currency(highest_price.currencyCode, true) | raw }}</span>
                                                            <meta itemprop="priceCurrency" content="{{ highest_price.currencyCode | raw }}"/>
                                                        {% else %}
                                                            <span itemprop="lowPrice">{{ lowest_price.listPrice | currency(lowest_price.currencyCode, true) | raw }}</span>
                                                            <meta itemprop="highPrice" content="{{ highest_price.listPrice | currency(highest_price.currencyCode) | raw }}"/>
                                                            <meta itemprop="priceCurrency" content="{{ lowest_price.currencyCode | raw }}"/>
                                                        {% endif %}
                                                    </div>
                                                    <div class="price pbm">
                                                        <span class="currency-tax">(inc. VAT)</span>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {{ helpers.addToBasket(product.variants[0]) }}
                                                <div class="fr" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                    <div class="price">
                                                        {% if lowest_price is null %}
                                                            <span itemprop="price">{{ highest_price.listPrice | currency(highest_price.currencyCode, true) | raw }}</span>
                                                            <meta itemprop="priceCurrency" content="{{ highest_price.currencyCode | raw }}"/>
                                                        {% else %}
                                                            <span itemprop="price">{{ lowest_price.listPrice | currency(lowest_price.currencyCode, true) | raw }}</span>
                                                            <meta itemprop="priceCurrency" content="{{ lowest_price.currencyCode | raw }}"/>
                                                        {% endif %}
                                                    </div>
                                                    <div class="price pbm">
                                                        <span class="currency-tax">(inc. VAT)</span>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <p class="fr summary man">Product Code: <strong>{{ product.variants[0].productCode }}</strong></p>
                                                <div class="clear"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="border-bottom-separator">
                                            <div class="pam">
                                                <a href="{{ path('products_delete', {'productId': product.id}) }}" class="fr button button-red mls mts mbs">Delete</a>
                                                <a href="{{ path('products_clone', {'productId': product.id}) }}" class="fr button button-blue mls mts mbs">Clone</a>
                                                <a href="{{ path('products_edit', {'productId': product.id}) }}" class="fr button button-blue mts mbs">Edit</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="pam">
                                        <img src="{{ asset(product.brand.description.logoImage.publicPath | apply_filter('logo_medium')) }}" alt="{{ product.brand.description.name }}" />
                                        <div class="clear"></div>
                                        <ul class="summary-specification">
                                            {% for feature in product.departments[0].department.features %}
                                                {% if feature.displayOnListing %}
                                                    <li>{{ feature.featureGroup.name }}: <strong>{{ common_features[feature.featureGroup.name] }}</strong></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        <p class="mtm"><a class="actionViewFullTechnicalSpecification" href="#tabs">View full technical specification</a></p>
                                        {% if guarantees|length > 0 %}
                                            {% for guarantee in guarantees %}
                                                <button type="button" class="fill button icon-turquoise" data-icon-primary="icon-826"><strong>{{ guarantee.length.displayName }}:</strong> {{ guarantee.type.guaranteeType }}</button>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="widget-group clearfix product">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget">
                                <section class="ui-widget-content ui-corner-all clearfix">
                                    <div class="widget-group clearfix">
                                        <a name="tabs"></a>
                                        {% if common_features|length > 0 %}
                                        <div class="widget widget-1-of-1">
                                            <section>
                                                <div class="tabs">
                                                    <ul>
                                                        <li><a href="#overview">Overview</a></li>
                                                        {% if common_features|length > 0 %}<li><a href="#technicalSpecification">Technical Specification</a></li>{% endif %}
                                                    </ul>
                                                    {% if common_features|length > 0 %}
                                                    <div id="overview">
                                                        <section>
                                                            <p class="summary man" itemprop="description">{{ (product.description.description ? product.description.description : product.description.metaDescription) }}</p>
                                                        </section>
                                                    </div>
                                                    <div id="technicalSpecification">
                                                        <section>
                                                            <table class="data-table">
                                                                <thead>
                                                                <tr>
                                                                    <th>Feature</th>
                                                                    <th></th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                {% for group, feature in common_features %}
                                                                    <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                                                                        <td width="1" class="nowrap tar">{{ group }}</td>
                                                                        <td><strong>{{ feature }}</strong></td>
                                                                    </tr>
                                                                {% endfor %}
                                                                </tbody>
                                                            </table>
                                                        </section>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                            </section>
                                        </div>
                                        {% endif %}
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block product_variants%}
                {% if product.variants|length > 1 %}
                    <a name="buynow_variants"></a>
                    <div class="widget-group clearfix variants">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget">
                                <header class="ui-widget-header ui-corner-top">
                                    <h2>Variations</h2>
                                </header>
                                <section class="ui-widget-content ui-corner-bottom clearfix">
                                    <table class="data-table">
                                        <thead>
                                        <tr>
                                            <th colspan="1">Product</th>
                                            <th colspan="1">Features</th>
                                            <th colspan="2">Price</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for variant in product.variants %}
                                            <tr class="{{ cycle(['odd', 'even'], loop.index) }}" itemscope itemtype="http://schema.org/ProductModel">
                                                <td>
                                                    <span itemprop="name">{{ variant.description|length <= 0 ? product.description.header : variant.description.header }}</span>
                                                    <meta itemprop="model" content="{{ variant.productCode }}" />
                                                    <meta itemprop="productId" content="mpn:{{ variant.productCode }}" />
                                                    <meta itemprop="description" content="{{ variant.description.metaDescription }}"/>
                                                    <meta itemprop="brand" content="{{ variant.product.brand.description.header }}"/>
                                                </td>
                                                <td>
                                                    <ul>
                                                        {% for group, feature in variant_features[variant.id] %}
                                                            {% if feature == 'Yes' %}
                                                                {% set className = 'green-tick' %}
                                                            {% elseif feature.feature.name == 'No' %}
                                                                {% set className = 'red-cross' %}
                                                            {% else %}
                                                                {% set className = 'bullet' %}
                                                            {% endif %}
                                                            <li class="{{ className }}">{{ group }}: <strong>{{ feature }}</strong></li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td width="1" class="nowrap price">
                                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                        <span itemprop="price">{{ variant.prices[0].listPrice | currency('GBP', true, true, '')|raw }}</span>
                                                        <meta itemprop="priceCurrency" content="{{ variant.prices[0].currencyCode | raw }}"/>
                                                    </div>

                                                </td>
                                                <td width="1" class="nowrap">
                                                    {{ helpers.addToBasket(variant) }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </section>
                            </div>
                        </div>
                    </div>
                {% else %}
                    {% set variant = product.variant %}
                    <div itemscope itemtype="http://schema.org/Product">
                        <meta itemprop="name" content="{{ variant.description|length <= 0 ? product.description.header : variant.description.header }}" />
                        <meta itemprop="model" content="{{ variant.productCode }}" />
                        <meta itemprop="productId" content="mpn:{{ variant.productCode }}" />
                        <meta itemprop="description" content="{{ variant.description.metaDescription }}"/>
                        <meta itemprop="brand" content="{{ variant.product.brand.description.header }}"/>
                        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                            <meta itemprop="price" content="{{ variant.prices[0].listPrice }}"/>
                            <meta itemprop="priceCurrency" content="{{ variant.prices[0].currencyCode | raw }}"/>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </section>
{% endblock %}
