{% extends 'KACSiteBundle:Product:base.html.twig' %}
{% import 'KACSiteBundle:Product/Includes:helpers.html.twig' as helpers %}

{% if variant is null %}
    {% set description = product.description.description %}
    {% if description == '' %}
        {% set description = product.description.metaDescription %}
    {% endif %}
    {% set pageTitle = product.description.pageTitle %}
    {% set header = product.description.header %}
    {% set brandDescription = product.description.brandDescription %}
    {% set features = common_features %}
{% else %}
    {% set description = variant.description.description %}
    {% if description == '' %}
        {% set description = variant.description.metaDescription %}
    {% endif %}
    {% set pageTitle = variant.description.pageTitle %}
    {% set header = variant.description.header %}
    {% set brandDescription = variant.brandDescription.description %}
    {% set features = [] %}
    {% for vtf in variant.features %}
        {% set features = features|merge({(vtf.featureGroup.name): (vtf.feature.name)}) %}
    {% endfor %}
{% endif %}

{% block title %}{{ pageTitle }} | {{ parent() }}{% endblock %}

{% block admin_submenu %}
    <a class="button button-small icon-grey mrs" data-icon-primary="icon-473" href="Javascript:history.go(-1);">Back</a>
    <a class="button button-small icon-grey mrs" data-icon-primary="icon-278" href="{{ path('listing_products') }}">Products</a>
    <a class="button button-small icon-grey mrs" data-icon-primary="icon-1122" href="{{ path('products_new') }}">New Product</a>
    <a class="button button-small icon-grey mrs" data-icon-primary="icon-94" href="{{ path('products_edit', {'productId': product.id}) }}">Edit Product</a>
    <a class="button button-small icon-grey mrs" data-icon-primary="icon-51" href="{{ path('products_clone', {'productId': product.id}) }}">Clone Product</a>
    <a class="button button-small icon-red mrs" data-icon-primary="icon-851" href="{{ path('products_delete', {'productId': product.id}) }}">Delete Product</a>
{% endblock %}

{% block body %}
    <style>
        .summary-specification li {
            margin: 0 0 0 20px !important;
            font-size: 12px !important;
            font-size: 1.2rem !important;
            line-height: 150% !important;
        }

        img.etalage_thumb_image {
            display: block;
        }

        ul.etalage {
            margin: 0;
        }

        .etalage_small_thumbs ul {
            margin: 0;
        }
    </style>
    <script>
        $(document).ready(function() {
            $(".actionViewFullTechnicalSpecification").on("click", function() {
                $(".tabs").tabs("option", "active", 1);
            });
        });
    </script>
    <section class="product">
        <div itemscope itemtype="http://schema.org/Brand">
            <meta itemprop="name" content = "{{ product.brand.description.header }}"/>
            <meta itemprop="url" content = "{{ product.brand.url }}"/>
            <meta itemprop="logo" content = "{{ asset(product.brand.description.logoImage.publicPath | apply_filter('logo_medium')) }}"/>
            <meta itemprop="description" content = "{{ product.brand.description.metaDescription }}"/>
        </div>

        {% block product_block %}
            {% block department_breadcrumb %}
                <div class="widget-group mbs clearfix">
                    <a class="fr button button-small icon-grey mrm mts" data-icon-primary="icon-473" href="Javascript:history.go(-1);">Back</a>
                    <div class="widget widget-1-of-1">
                        <ul class="breadcrumbs" itemprop="breadcrumb">
                            <li style="z-index: {{ departments|length }};"><a href="{{ path('homepage') }}">Kitchen Appliances</a></li>
                            {% for department in departments|reverse %}
                                {% if department.level != 0  %}
                                    <li style="z-index: {{ loop.revindex }};" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                        <a href="{{ path('routing', {'url': department.url}) }}" itemprop="url"><span itemprop="title">{{ department.description.header }}</span></a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            {% endblock %}
            {% block product_info %}
                {% if features['Colour'] is defined %}
                    {% set colour = features['Colour'] %}
                {% endif %}
                <div itemscope itemtype="http://schema.org/Product">
                    <div class="widget-group clearfix product mbl">
                        <div class="widget widget-3-of-5">
                            <div class="ui-widget">
                                <section class="ui-widget-content ui-corner-all clearfix">
                                    <h1 itemprop="name">{{ header ~ (colour ? ' - ' ~ colour : '') }}</h1>
                                    <div class="product-images pr">
                                        {% if product_images | length > 0 %}
                                            <ul class="etalage">
                                                {% for image in product_images %}
                                                    <li>
                                                        <img class="etalage_thumb_image" src="{{ asset(image.publicPath | apply_filter('product_large')) }}" data-src="{{ asset(image.publicPath | apply_filter('product_large')) }}" alt="{{ product.description.header }}" />
                                                        <img class="etalage_source_image" src="{{ asset(image.publicPath | apply_filter('product_large')) }}" alt="{{ product.description.header }}" />
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                        {% if product.cheaperAlternative %}
                                            {{ render_esi(controller('KACSiteBundle:Listing:cheaperAlternative', { 'productId': product.id })) }}
                                        {% endif %}
                                        <div class="clear"></div>
                                    </div>
                                </section>
                            </div>
                        </div>
                        <div class="widget widget-2-of-5">
                            <div class="ui-widget">
                                <section class="ui-widget-content pan ui-corner-all clearfix">
                                    <div class="border-bottom-separator">
                                        <div class="pam">
                                            {% if variant is not null %}
                                                {{ helpers.addToBasket(variant) }}
                                                <div class="fr" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                    <div class="price">
                                                        <span itemprop="price">{{ variant.price.listPrice | currency(variant.price.currencyCode, true) | raw }}</span>
                                                        <meta itemprop="priceCurrency" content="{{ variant.price.currencyCode | raw }}"/>
                                                    </div>
                                                    <div class="price pbm">
                                                        <span class="currency-tax">(inc. VAT)</span>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <p class="fr summary man">Product Code: <strong>{{ variant.productCode }}</strong></p>
                                                <div class="clear"></div>
                                                <div id="purchasingLoading{{ variant.id }}" class="pas tac ui-helper-hidden "><img src="{{ asset('bundles/kacsite/images/loaders/ajax-loader.gif') }}" border="0" alt="loading" /></div>
                                                <div class="basket-product-info" data-variantId="{{ variant.id }}">
                                                    {% include 'KACSiteBundle:Product:basketInfo.html.twig' with {'productId': product.id, 'variantId': variant.id} %}
                                                </div>
                                                <div class="clear"></div>
                                            {% elseif product.variants|length > 1 %}
                                                <a href="#buyNow" class="button uppercase button-green icon-white fr mas" data-icon-secondary="icon-465">Buy Now</a>
                                                <div class="fr prl mts mbs" itemprop="offers" itemscope itemtype="{% if lowest_price is null %}http://schema.org/Offer{% else %}http://schema.org/AggregateOffer{% endif %}">
                                                    <div class="price">
                                                        <span class="currency-prefix">from only</span>
                                                    </div>
                                                    <div class="price">
                                                        {% if lowest_price is null %}
                                                            <span itemprop="price">{{ highest_price.listPrice | currency(highest_price.currencyCode, true) | raw }}</span>
                                                            <meta itemprop="priceCurrency" content="{{ highest_price.currencyCode | raw }}"/>
                                                        {% else %}
                                                            <span itemprop="lowPrice">{{ lowest_price.listPrice | currency(lowest_price.currencyCode, true) | raw }}</span>
                                                            <meta itemprop="highPrice" content="{{ highest_price.listPrice | currency(highest_price.currencyCode) | raw }}"/>
                                                            <meta itemprop="priceCurrency" content="{{ lowest_price.currencyCode | raw }}"/>
                                                        {% endif %}
                                                    </div>
                                                    <div class="price pbm">
                                                        <span class="currency-tax">(inc. VAT)</span>
                                                    </div>
                                                </div>
                                            {% else %}
                                                {{ helpers.addToBasket(product.variants[0]) }}
                                                <div class="fr" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                    <div class="price">
                                                        {% if lowest_price is null %}
                                                            <span itemprop="price">{{ highest_price.listPrice | currency(highest_price.currencyCode, true) | raw }}</span>
                                                            <meta itemprop="priceCurrency" content="{{ highest_price.currencyCode | raw }}"/>
                                                        {% else %}
                                                            <span itemprop="price">{{ lowest_price.listPrice | currency(lowest_price.currencyCode, true) | raw }}</span>
                                                            <meta itemprop="priceCurrency" content="{{ lowest_price.currencyCode | raw }}"/>
                                                        {% endif %}
                                                    </div>
                                                    <div class="price pbm">
                                                        <span class="currency-tax">(inc. VAT)</span>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                                <p class="fr summary man">Product Code: <strong>{{ product.variants[0].productCode }}</strong></p>
                                                <div class="clear"></div>
                                                <div id="purchasingLoading{{ product.variants[0].id }}" class="pas tac ui-helper-hidden "><img src="{{ asset('bundles/kacsite/images/loaders/ajax-loader.gif') }}" border="0" alt="loading" /></div>
                                                <div class="basket-product-info" data-variantId="{{ product.variants[0].id }}">
                                                    {% include 'KACSiteBundle:Product:basketInfo.html.twig' with {'productId': product.id, 'variantId': product.variants[0].id} %}
                                                </div>
                                                <div class="clear"></div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if product.variants|length > 0 and differentiating_features|length > 0 %}
                                        <div class="variant-filters border-bottom-separator">
                                            <div class="pam">
                                                {% for featureGroup, features in differentiating_features %}
                                                    <div class="form-element widget-group clearfix">
                                                        <div class="widget widget-1-of-3">
                                                            <label for="formTime">{{ featureGroup }}</label>
                                                        </div>
                                                        <div class="widget widget-2-of-3">
                                                            <select name="variant_filter_feature_group[{{ featureGroup }}]" class="variant-filter fill" data-group="{{ featureGroup }}">
                                                                {% for feature in features %}
                                                                    <option value="{{ feature }}" {% if variant_features[variant.id][featureGroup] == feature %}selected="selected"{% endif %}>{{ feature }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    {% endif %}
                                    <div class="pam">
                                        <img src="{{ asset(product.brand.description.logoImage.publicPath | apply_filter('logo_medium')) }}" alt="{{ product.brand.description.name }}" />
                                        <div class="clear"></div>
                                        <ul class="summary-specification">
                                            {% for feature in product.departments[0].department.features %}
                                                {% if feature.displayOnListing and common_features[feature.featureGroup.name] is defined and common_features[feature.featureGroup.name] != '*** NOT SET ***' %}
                                                    <li>{{ feature.featureGroup.name }}: <strong>{{ common_features[feature.featureGroup.name] }}</strong></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        <p class="mtm"><a class="actionViewFullTechnicalSpecification" href="#tabs">View full technical specification</a></p>
                                        {% if guarantees|length > 0 %}
                                            {% for guarantee in guarantees %}
                                                <button type="button" class="fill button icon-turquoise" data-icon-primary="icon-826"><strong>{{ guarantee.length.displayName }}:</strong> {{ guarantee.type.guaranteeType }}</button>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="widget-group clearfix product mbl">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget">
                                <section class="ui-widget-content ui-corner-all clearfix">
                                    <div class="widget-group clearfix">
                                        <a name="tabs"></a>
                                        <div class="widget widget-1-of-1">
                                            <section>
                                                <div class="tabs">
                                                    <ul>
                                                        <li><a href="#overview">Overview</a></li>
                                                        {% if common_features|length > 0 %}<li><a href="#technicalSpecification">Technical Specification</a></li>{% endif %}
                                                        {% if brandDescription != "" %}<li><a href="#brandDescription">Full Description</a></li>{% endif %}
                                                    </ul>
                                                    <div id="overview">
                                                        <section>
                                                            {%  if '</p>' in description %}
                                                                {{ description|raw }}
                                                            {% else %}
                                                                <p class="summary man" itemprop="description">{{ description|raw }}</p>
                                                            {% endif %}
                                                        </section>
                                                    </div>
                                                    {% if features|length > 0 %}
                                                        <div id="technicalSpecification">
                                                            <section>
                                                                <table class="data-table">
                                                                    <thead>
                                                                    <tr>
                                                                        <th>Feature</th>
                                                                        <th></th>
                                                                    </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                    {% for index, value in features %}
                                                                        {% if value.featureGroup is defined %}
                                                                            {% if value.feature.name != '*** NOT SET ***' %}
                                                                                <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                                                                                    <td width="1" class="nowrap tar">{{ value.featureGroup.name }}</td>
                                                                                    <td><strong>{{ value.feature.name }}</strong></td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% else %}
                                                                            {% if value != '*** NOT SET ***' %}
                                                                                <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                                                                                    <td width="1" class="nowrap tar">{{ index }}</td>
                                                                                    <td><strong>{{ value }}</strong></td>
                                                                                </tr>
                                                                            {% endif %}
                                                                        {% endif %}
                                                                    {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </section>
                                                        </div>
                                                    {% endif %}
                                                    {% if brandDescription != '' %}
                                                        <div id="brandDescription">
                                                            <section>
                                                                {{ brandDescription|raw }}
                                                            </section>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </section>
                                        </div>
                                        {% if product.relatedProducts|length > 0 %}
                                            {% include 'KACSiteBundle:Product:relatedProducts.html.twig' with {'products': product.relatedProducts} %}
                                        {% endif %}
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var variants = JSON.parse('{{ variants|json_encode|raw }}');
            var currentVariant = null;

            // Get the current variant
            for(var i=0; i<variants.length; i++) {
                if(variants[i].variantId == '{{ variant.id }}') {
                    currentVariant = variants[i];
                }
            }

            $(".variant-filter").change(function() {
                var possibleVariants = variants.slice(0);

                for (var index = 0; index<possibleVariants.length; index++)
                {
                    var variant = possibleVariants[index];
                    if(variant)
                    {
                        for (var featureGroup in variant.features) {
                            var feature = variant.features[featureGroup];

                            // Attempt to find filter field
                            var $input = $('.variant-filter[data-group="'+featureGroup+'"]');
                            if($input && $input.length > 0) {
                                var value = $input.find(':selected').val();
                                if (value != feature) {
                                    delete possibleVariants[index];
                                }
                            }
                        }
                    }
                }

                // Remove any empty elements from array
                var undef;
                var temp = [];
                for (var i=0; i < possibleVariants.length; i++) {
                    if ( possibleVariants[i] !== undef) {
                        temp.push(possibleVariants[i])
                    }
                }
                possibleVariants = temp;

                $(".variant-filters .form-element").removeClass("error");

                if(possibleVariants.length === 1) {
                    if(currentVariant !== null && currentVariant.variantId != possibleVariants[0].variantId) {
                        window.location = routes['routing'].replace('-1', possibleVariants[0].url);
                    }
                } else if(possibleVariants.length > 1) {
                    $.each($('.variant-filter'), function(i, filter) {
                        var variantExists = false;
                        $.each(possibleVariants, function(j, variant) {
                            var group = $(filter).data("group");
                            if(variant.features[group] == $(this).val()) {
                                variantExists = true;
                            }
                        });

                        if(variantExists) {
                            $(filter).parent().parent().parent().addClass('error');
                        }
                    });
                } else {
                    $(this).parent().parent().parent().addClass('error');
                }

            });
        });
    </script>
{% endblock %}