{% extends 'KACSiteBundle::base.html.twig' %}

{% block title %}{{ product.description.pageTitle }} | {{ parent() }}{% endblock %}

{% block body %}
    <style>
        .add-to-basket {
            width: 110px;
            height: 40px;

            display: block;
            position: relative;
        }

        .add-to-basket input.quantity {
            width: 40px;

            position: absolute;
            top: 0;
            left: 0;

            text-align: center;
            border-radius: 4px 0 0 4px;
        }

        .add-to-basket .buy {
            position: absolute;
            top: 0;
            right: 0;
        }

        .add-to-basket .increase-quantity,
        .add-to-basket .decrease-quantity {
            position: absolute;
            left: 40px;
        }

        .add-to-basket .increase-quantity .ui-button-text,
        .add-to-basket .decrease-quantity .ui-button-text {
            width: 10px;
            height: 12px;
            padding: 0 2px;

            display: block;

            line-height: 12px;
            text-align: center;
        }

        .add-to-basket .increase-quantity {
            top: 0;
            border-radius: 0 4px 0 0;
        }

        .add-to-basket .decrease-quantity {
            bottom: 0;
            border-radius: 0 0 4px 0;
        }

        .add-to-basket .buy .ui-button-text {
            padding: 0 2px;
        }

        .product .form-helper {
            position: relative;
            top: auto;
            left: auto;
            right: auto;
        }

        .product td p {
            line-height: 150%;
            margin: 0;
        }

        .ui-widget-content p {
            line-height: 150%;
        }
    </style>
    <script>
        $(document).ready(function() {
            $(".actionIncreaseQuantity").on("click", function() {
                var $quantityInput = $(this).parent().find("input.quantity");
                $quantityInput.val(parseInt($quantityInput.val()) + 1);
            });

            $(".actionDecreaseQuantity").on("click", function() {
                var $quantityInput = $(this).parent().find("input.quantity");
                if (parseInt($quantityInput.val()) > 1) {
                    $quantityInput.val(parseInt($quantityInput.val()) - 1);
                }
            });

            $(".actionAddToBasket").on("click", function() {
                $(this).closest("tr").find("td:not(.image)").css("background", "#ebf7eb");
            });
        });
    </script>
    {% macro addToBasket(variant) %}
        <div class="add-to-basket" data-product-id="{{ variant.product.id }}" data-variant-id="{{ variant.id }}" data-basket-url="{{ path('basket_ajax_add_to_basket') }}">
            <input class="quantity integer" type="number" value="1" />
            <button class="actionIncreaseQuantity increase-quantity button button-small uppercase">+</button>
            <button class="actionDecreaseQuantity decrease-quantity button button-small uppercase">-</button>
            <button class="actionAddToBasket buy button button-green uppercase">Buy</button>
        </div>
    {% endmacro %}
    <section class="product">
        {% block product_block %}
            {% block department_breadcrumb %}
                <div class="widget-group clearfix mbm">
                    <div class="widget widget-7-of-8">
                        <ul class="breadcrumbs" itemprop="breadcrumb">
                            {% for department in departments %}
                                {% if department.level != 0  %}
                                    <li><a href="{{ path('listing_department', {'departmentId': department.id}) }}">{{ department.description.header }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endblock %}

            {% block product_info %}
                <div class="widget-group clearfix mbl">
                    <div class="widget widget-1-of-1">
                        <div class="ui-widget">
                            <section class="ui-widget-content ui-corner-all clearfix">
                                <div class="slider-wrapper  slider-gallery {% if gallery_images | length < 0 %}slider-filler{% endif %}">
                                    {% if gallery_images | length > 0 %}
                                        <ul class="slider {% if gallery_images | length > 0 %}nivoSlider{% endif %}">
                                            {% for image in gallery_images %}
                                                <img src="{{ image.publicPath | apply_filter('gallery_large') }}" data-thumb="{{ image.publicPath | apply_filter('gallery_thumbnail') }}" alt="{{ product.description.header }}" />
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    <h1>{{ product.description.header }}</h1>
                                </div>
                                <div class="widget-group clearfix">
                                    <div class="widget widget-1-of-1 border-bottom-separator pbl mbl">
                                        <div class="widget-group clearfix">
                                            <div class="widget widget-2-of-7">
                                                {% if thumbnail_image %}
                                                    <ul class="etalage etalage-inset">
                                                        <li><img class="etalage_source_image" src="{{ thumbnail_image.publicPath | apply_filter('product_medium') }}" alt="{{ product.description.header }}" /></li>
                                                    </ul>
                                                {% endif %}
                                            </div>

                                            <div class="widget widget-5-of-7">
                                                <div class="widget-group clearfix">
                                                    <div class="widget widget-3-of-4 pll prl border-right-separator">
                                                        <div class="widget-group clearfix">
                                                            <div class="widget widget-1-of-3">
                                                                {% if product.brand.description.logoImage %}
                                                                    <img class="logo" src="{{ product.brand.description.logoImage.publicPath | apply_filter('logo_medium') }}" alt="{{ product.brand.description.name }}" />
                                                                {% endif %}
                                                            </div>
                                                            <div class="widget widget-2-of-3 clearfix">
                                                                {#<div class="review-rating-small review-rating-small-4-5 fr"></div>#}
                                                                {#<div class="clear"></div>#}
                                                                {#<div class="fr review-summary"><strong>4.7</strong> out of <strong>5</strong> Customer Rating</div>#}
                                                                {#<div class="clear"></div>#}
                                                                {#<div class="fr review-summary"><a href="#">Read Reviews</a> (0) | <a href="#">Read Questions</a> (0)</div>#}
                                                            </div>
                                                        </div>
                                                        <p class="summary man">{{ product.description.metaDescription }}</p>
                                                    </div>
                                                    <div class="widget widget-1-of-4">
                                                        <div class="price">
                                                            <span class="currency-prefix">from only</span>
                                                        </div>
                                                        <div class="price">
                                                            {% if lowest_price is null %}
                                                                {{ highest_price.listPrice | currency(lowest_price.currencyCode, true) | raw }}
                                                            {% else %}
                                                                {{ lowest_price.listPrice | currency(lowest_price.currencyCode, true) | raw }}
                                                            {% endif %}
                                                        </div>
                                                        <div class="price pbm">
                                                            <span class="currency-tax">(inc. VAT)</span>
                                                        </div>
                                                        {% if product.variants | length > 1 %}
                                                            <a href="#buyNow" class="button uppercase button-green icon-white fr" data-icon-secondary="icon-465">Buy Now</a>
                                                        {% else %}
                                                            {{ _self.addToBasket(product.variants[0]) }}
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget widget-1-of-1">
                                        <section>
                                            <div class="tabs">
                                                <ul>
                                                    <li><a href="#overview">Overview</a></li>
                                                    <li><a href="#technicalSpecification">Technical Specification</a></li>
                                                </ul>
                                                <div id="overview">
                                                    <section>
                                                        <p class="summary">
                                                        {{ product.description.description }}
                                                        </p>
                                                    </section>
                                                </div>
                                                <div id="technicalSpecification">
                                                    <section>
                                                        <table class="data-table">
                                                            <thead>
                                                            <tr>
                                                                <th>Feature</th>
                                                                <th></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                                {% for group, feature in common_features %}
                                                                    <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                                                                        <td width="1" class="nowrap tar">{{ group }}</td>
                                                                        <td><strong>{{ feature }}</strong></td>
                                                                    </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block product_variants%}
                {% if product.variants|length > 1 %}
                    <div class="widget-group clearfix">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget">
                                <header class="ui-widget-header ui-corner-top">
                                    <a name="buynow"></a>
                                    <h2>Variations</h2>
                                </header>
                                <section class="ui-widget-content ui-corner-bottom clearfix">
                                    <table class="data-table">
                                        <thead>
                                        <tr>
                                            <th colspan="1">Product</th>
                                            <th colspan="1">Features</th>
                                            <th colspan="2">Price</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for variant in product.variants %}
                                            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                                                <td>{{ variant.description|length <= 0 ? product.description.header : variant.description.header }}</td>
                                                <td>
                                                    <ul>
                                                        {% for group, feature in variant_features[variant.id] %}
                                                            {% if feature == 'Yes' %}
                                                                {% set className = 'green-tick' %}
                                                            {% elseif feature.feature.name == 'No' %}
                                                                {% set className = 'red-cross' %}
                                                            {% else %}
                                                                {% set className = 'bullet' %}
                                                            {% endif %}
                                                            <li class="{{ className }}">{{ group }}: <strong>{{ feature }}</strong></li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td width="1" class="nowrap price">{{ variant.prices[0].listPrice | currency('GBP', true, true, '')|raw }}</td>
                                                <td width="1" class="nowrap">
                                                    {{ _self.addToBasket(variant) }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </section>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </section>
{% endblock %}
