{% extends 'KACSiteBundle::base.html.twig' %}
{% import 'KACSiteBundle:Product/Includes:helpers.html.twig' as helpers %}

{% block title %}{{ product.description.pageTitle }} | {{ parent() }}{% endblock %}

{% block body %}
    <style>
        .etalage, .etalage ul, .etalage li {
            margin: 0 !important;
        }
        .etalage_small_thumbs {
            padding-top: 5px !important;
        }
        .summary-specification li {
            margin: 0 0 0 20px !important;
            font-size: 12px !important;
            font-size: 1.2rem !important;
            line-height: 150% !important;
        }
    </style>
    <script>
        $(document).ready(function() {
            $(".actionViewFullTechnicalSpecification").on("click", function() {
                $(".tabs").tabs("option", "active", 0);
            });
        });
    </script>
    <section class="product">
        {% block product_block %}
            {% block department_breadcrumb %}
                <div class="widget-group clearfix mbm">
                    <div class="widget widget-7-of-8">
                        <ul class="breadcrumbs" itemprop="breadcrumb">
                            {% for department in departments %}
                                {% if department.level != 0  %}
                                    <li><a href="{{ path('routing', {'url': department.url}) }}">{{ department.description.header }}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endblock %}
            {% block product_info %}
                <div class="widget-group clearfix">
                    <div class="widget widget-1-of-1">
                        <div class="ui-widget">
                            <section class="ui-widget-content ui-corner-all clearfix">
                                <div class="widget-group clearfix">
                                    <div class="widget widget-1-of-1 border-bottom-separator mbl">
                                        <h1>{{ product.description.header }}</h1>
                                    </div>
                                    <div class="widget widget-1-of-1 border-bottom-separator pbl mbl">
                                        <div class="widget-group clearfix">
                                            <div class="widget widget-2-of-7">
                                                {% if product_images | length > 0 %}
                                                    <ul class="etalage">
                                                        {% for image in product_images %}
                                                            <li>
                                                                <img class="etalage_thumb_image" src="{{ asset(image.publicPath | apply_filter('product_medium')) }}" data-src="{{ asset(image.publicPath | apply_filter('product_large')) }}" alt="{{ product.description.header }}"  width="238"/>
                                                                <img class="etalage_source_image" src="{{ asset(image.publicPath | apply_filter('product_large')) }}" alt="{{ product.description.header }}" width="238" />
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                            <div class="widget widget-5-of-7 pll">
                                                <div class="widget-group clearfix">
                                                    <div class="widget widget-1-of-4">
                                                        <img class="logo man" src="{{ asset(product.brand.description.logoImage.publicPath | apply_filter('logo_medium')) }}" alt="{{ product.brand.description.name }}" />
                                                    </div>
                                                    <div class="widget widget-3-of-4">
                                                        {% if product.variants|length > 1 %}
                                                            <a href="#buyNow" class="button uppercase button-green icon-white fr" data-icon-secondary="icon-465">Buy Now</a>
                                                            <div class="fr prl">
                                                                <div class="price">
                                                                    <span class="currency-prefix">from only</span>
                                                                </div>
                                                                <div class="price">
                                                                    {% if lowest_price is null %}
                                                                        {{ highest_price.listPrice | currency(lowest_price.currencyCode, true) | raw }}
                                                                    {% else %}
                                                                        {{ lowest_price.listPrice | currency(lowest_price.currencyCode, true) | raw }}
                                                                    {% endif %}
                                                                </div>
                                                                <div class="price pbm">
                                                                    <span class="currency-tax">(inc. VAT)</span>
                                                                </div>
                                                            </div>
                                                        {% else %}
                                                            {{ helpers.addToBasket(product.variants[0]) }}
                                                            <div class="fr">
                                                                <div class="price">
                                                                    {% if lowest_price is null %}
                                                                        {{ highest_price.listPrice | currency(lowest_price.currencyCode, true) | raw }}
                                                                    {% else %}
                                                                        {{ lowest_price.listPrice | currency(lowest_price.currencyCode, true) | raw }}
                                                                    {% endif %}
                                                                </div>
                                                                <div class="price pbm">
                                                                    <span class="currency-tax">(inc. VAT)</span>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="widget-group clearfix">
                                                    <div class="widget widget-1-of-1 mtl">
                                                        <p class="summary man">{{ product.description.metaDescription }}</p>
                                                        <ul class="summary-specification">
                                                            {% for feature in product.departments[0].department.features %}
                                                                {% if feature.displayOnListing %}
                                                                    <li>{{ feature.featureGroup.name }}: <strong>{{ common_features[feature.featureGroup.name] }}</strong></li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                        <p class="mtm"><a class="actionViewFullTechnicalSpecification" href="#tabs">View full technical specification</a></p>
                                                        {% if guarantees|length > 0 %}
                                                            <div class="widget-group clearfix">
                                                                <div class="widget widget-2-of-5">
                                                                    {% for guarantee in guarantees %}
                                                                       <button type="button" class="mbs fill button icon-turquoise" data-icon-primary="icon-826"><strong>{{ guarantee.length.displayName }}:</strong> {{ guarantee.type.guaranteeType }}</button>
                                                                    {% endfor %}
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <a name="tabs"></a>
                                    <div class="widget widget-1-of-1">
                                        <section>
                                            <div class="tabs">
                                                <ul>
                                                    <li><a href="#technicalSpecification">Technical Specification</a></li>
                                                </ul>
                                                <div id="technicalSpecification">
                                                    <section>
                                                        <table class="data-table">
                                                            <thead>
                                                            <tr>
                                                                <th>Feature</th>
                                                                <th></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for group, feature in common_features %}
                                                                <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                                                                    <td width="1" class="nowrap tar">{{ group }}</td>
                                                                    <td><strong>{{ feature }}</strong></td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </section>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            {% endblock %}
            {% block product_variants%}
                {% if product.variants|length > 1 %}
                    <a name="buynow_variants"></a>
                    <div class="widget-group clearfix">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget">
                                <header class="ui-widget-header ui-corner-top">
                                    <h2>Variations</h2>
                                </header>
                                <section class="ui-widget-content ui-corner-bottom clearfix">
                                    <table class="data-table">
                                        <thead>
                                        <tr>
                                            <th colspan="1">Product</th>
                                            <th colspan="1">Features</th>
                                            <th colspan="2">Price</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for variant in product.variants %}
                                            <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                                                <td>{{ variant.description|length <= 0 ? product.description.header : variant.description.header }}</td>
                                                <td>
                                                    <ul>
                                                        {% for group, feature in variant_features[variant.id] %}
                                                            {% if feature == 'Yes' %}
                                                                {% set className = 'green-tick' %}
                                                            {% elseif feature.feature.name == 'No' %}
                                                                {% set className = 'red-cross' %}
                                                            {% else %}
                                                                {% set className = 'bullet' %}
                                                            {% endif %}
                                                            <li class="{{ className }}">{{ group }}: <strong>{{ feature }}</strong></li>
                                                        {% endfor %}
                                                    </ul>
                                                </td>
                                                <td width="1" class="nowrap price">{{ variant.prices[0].listPrice | currency('GBP', true, true, '')|raw }}</td>
                                                <td width="1" class="nowrap">
                                                    {{ helpers.addToBasket(variant) }}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </section>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        {% endblock %}
    </section>
{% endblock %}
