{% extends 'KACSiteBundle:Product:base.html.twig' %}
{% import 'KACSiteBundle:Product/Includes:helpers.html.twig' as helpers %}

{% if variant is null %}
    {% set description = product.description.description %}
    {% if description == '' %}
        {% set description = product.description.metaDescription %}
    {% endif %}
    {% set pageTitle = product.description.pageTitle %}
    {% set header = product.description.header %}
    {% set brandDescription = product.description.brandDescription %}
    {% set metaDescription = product.description.metaDescription %}
    {% set metaKeywords = product.description.metaKeywords %}
    {% set features = common_features %}
{% else %}
    {% set description = variant.description.description %}
    {% if description == '' %}
        {% set description = variant.description.metaDescription %}
    {% endif %}
    {% set pageTitle = variant.description.pageTitle %}
    {% set header = variant.description.header %}
    {% set brandDescription = variant.brandDescription.description %}
    {% set metaDescription = variant.description.metaDescription %}
    {% set metaKeywords = variant.description.metaKeywords %}
    {% set features = [] %}
    {% for vtf in variant.features %}
        {% set features = features|merge({(vtf.featureGroup.name): (vtf.feature.name)}) %}
    {% endfor %}
{% endif %}

{% block title %}{{ pageTitle }} | {{ parent() }}{% endblock %}

{% block metatags %}
    <meta name="description" content="{{ metaDescription }}">
    <meta name="keywords" content="{{ metaKeywords }}">
{% endblock %}

{% block admin_submenu %}
    <a class="button button-small icon-grey mrs" data-icon-primary="icon-473" href="Javascript:history.go(-1);">Back</a>
    <a class="button button-small icon-grey mrs" data-icon-primary="icon-278" href="{{ path('listing_products') }}">Products</a>
    <a class="button button-small icon-grey mrs" data-icon-primary="icon-1122" href="{{ path('products_new') }}">New Product</a>
    <a class="button button-small icon-grey mrs" data-icon-primary="icon-94" href="{{ path('products_edit', {'productId': product.id}) }}">Edit Product</a>
    <a class="button button-small icon-grey mrs" data-icon-primary="icon-51" href="{{ path('products_clone', {'productId': product.id}) }}">Clone Product</a>
    <a class="button button-small icon-red mrs" data-icon-primary="icon-851" href="{{ path('products_delete', {'productId': product.id}) }}">Delete Product</a>
{% endblock %}

{% block body %}
    <script>
        $(document).ready(function() {
            $(".actionViewFullTechnicalSpecification").on("click", function() {
                $(".tabs").tabs("option", "active", 1);
            });
        });
    </script>
    <section class="product">
        <div itemscope itemtype="http://schema.org/Brand">
            <meta itemprop="name" content = "{{ product.brand.description.header }}"/>
            <meta itemprop="url" content = "{{ product.brand.url }}"/>
            <meta itemprop="logo" content = "{{ asset(product.brand.description.logoImage.publicPath | apply_filter('logo_medium')) }}"/>
            <meta itemprop="description" content = "{{ product.brand.description.metaDescription }}"/>
        </div>
        {% block product_block %}
            {% block department_breadcrumb %}
                <div class="widget-group mbs clearfix">
                    <a class="fr button button-small icon-grey mrm mts" data-icon-primary="icon-473" href="{{ (product.department.department.url ? path('routing', {'url': product.department.department.url}) : path('homepage')) }}">Continue Shopping</a>
                    <div class="widget widget-1-of-1">
                        <ul class="breadcrumbs" itemprop="breadcrumb">
                            <li style="z-index: {{ departments|length }};"><a href="{{ path('homepage') }}">Kitchen Appliances</a></li>
                            {% for department in departments|reverse %}
                                {% if department.level != 0  %}
                                    <li style="z-index: {{ loop.revindex }};" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                        <a href="{{ path('routing', {'url': department.url}) }}" itemprop="url"><span itemprop="title">{{ department.description.header }}</span></a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            {% endblock %}
            {% block product_info %}
                {% if features['Colour'] is defined %}
                    {% set colour = features['Colour'] %}
                {% endif %}
                <div itemscope itemtype="http://schema.org/Product">
                    <div class="widget-group clearfix product">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget">
                                <section class="ui-widget-content ui-corner-all clearfix">
                                    <div class="widget-group clearfix">
                                        <div class="widget widget-1-of-3">
                                            <div class="product-images pr">
                                                {% if product_images | length > 0 %}
                                                    <ul class="etalage">
                                                        {% for image in product_images %}
                                                            <li>
                                                                <img class="etalage_thumb_image" src="{{ asset(image.publicPath | apply_filter('product_large')) }}" data-src="{{ asset(image.publicPath | apply_filter('product_large')) }}" alt="{{ product.description.header }}" />
                                                                <img class="etalage_source_image" src="{{ asset(image.publicPath | apply_filter('product_large')) }}" alt="{{ product.description.header }}" />
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                                {% if product.cheaperAlternative %}
                                                    {{ render_esi(controller('KACSiteBundle:Listing:cheaperAlternative', { 'productId': product.id })) }}
                                                {% endif %}
                                                <div class="clear"></div>
                                            </div>
                                            <p class="mtm colour-turquoise">+ Click images to enlarge</p>
                                            <p class="pbn">
                                                &lt; <a href="{{ path('routing', {'url': product.brand.url}) }}"">View All {{ product.brand.description.name }}</a><br />
                                                &lt; <a href="{{ path('routing', {'url': product.department.department.url}) }}">View All {{ product.department.department.description.name }} Range</a><br />
                                                {% set url = get_listing_url('brand_with_department', product.brand.id, product.department.id) %}
                                                {% if not url %}
                                                    &lt; <a href="{{ path('listing_department_brand', {'departmentId': product.department.id, 'brandId': product.brand.id}) }}">View All {{ product.brand.description.name }} {{ product.department.department.description.name }} Range</a>
                                                {% else %}
                                                    &lt; <a href="{{ path('routing', {'url': url}|merge(app.request.query.all)) }}">View All {{ product.brand.description.name }} {{ product.department.department.description.name }} Range</a>
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="widget widget-1-of-2">
                                            <h1 itemprop="name">{{ header ~ (colour ? ' - ' ~ colour : '') }}</h1>
                                            {% if variant is null %}
                                                {% set variant = product.variants[0] %}
                                            {% endif %}
                                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                <div class="price tal">
                                                    {% if (variant.priceRange.low == variant.priceRange.high) and (variant.priceRange.low != variant.recommendedRetailPriceRange.low) and (variant.recommendedRetailPriceRange.low > 0) %}
                                                        <span itemprop="price" class="price">{{ variant.priceRange.low|currency('GBP', true, true, '')|raw }}</span>
                                                        <div class="clear"></div>
                                                        <span itemprop="price" class="was-price">was <span class="strikethrough">{{ variant.recommendedRetailPriceRange.low|currency('GBP', false, true, '')|raw }}</span> save {{ (variant.recommendedRetailPriceRange.low - variant.priceRange.low)|currency('GBP', false, true, '')|raw }} ({{ (((variant.recommendedRetailPriceRange.low - variant.priceRange.low) / variant.recommendedRetailPriceRange.low) * 100)|number_format(0) }}%)</span>
                                                    {% else %}
                                                        <span itemprop="price" class="price">
                                                            {% if variant.priceRange.low != variant.priceRange.high %}
                                                                <span class="currency-prefix">from </span>
                                                                <div class="clear"></div>
                                                            {% endif %}
                                                            {{ variant.priceRange.low|currency('GBP', true, true, '')|raw }}
                                                        </span>
                                                        <span class="price-tax">
                                                            <span class="currency-tax">(inc. VAT)</span>
                                                        </span>
                                                        <meta itemprop="priceCurrency" content="{{ variant.price.currencyCode | raw }}"/>
                                                    {% endif %}
                                                </div>
                                                <div class="price tal">
                                                    <span class="currency-tax">(inc. VAT)</span>
                                                </div>
                                            </div>
                                            <p class="pts pbs man">Item in Stock&nbsp;&nbsp;|&nbsp;&nbsp;<strong>FREE Delivery</strong> to most UK areas</p>
                                            <p class="summary man pbs">Product Code: <strong>{{ variant.productCode }}</strong></p>
                                            <div id="purchasingLoading{{ variant.id }}" class="pas tac ui-helper-hidden "><img src="{{ asset('bundles/kacsite/images/loaders/ajax-loader.gif') }}" height="20" border="0" alt="loading" /></div>
                                            <div class="basket-product-info pbm" data-variantId="{{ variant.id }}">
                                                {% include 'KACSiteBundle:Product:basketInfo.html.twig' with {'productId': product.id, 'variantId': variant.id} %}
                                            </div>
                                            {{ helpers.addToBasket(variant) }}
                                            <img src="{{ asset('bundles/kacsite/images/icons/small-cards.png') }}" class="mbs mts" border="0" alt="Cards we accept" />
                                            <section>
                                                <div class="tabs pbn">
                                                    <ul>
                                                        <li><a href="#overview">Overview</a></li>
                                                        {% if features|length > 0 %}<li><a href="#specification">Specification</a></li>{% endif %}
                                                        <li><a href="#delivery">Delivery</a></li>
                                                        <li><a href="#security">Security</a></li>
                                                        <li><a href="#reviews">Reviews</a></li>
                                                    </ul>
                                                    <div id="overview">
                                                        <section>
                                                            {%  if '</p>' in description %}
                                                                {{ description|raw }}
                                                            {% else %}
                                                                <p class="summary man" itemprop="description">{{ description|raw }}</p>
                                                            {% endif %}
                                                            {% if brandDescription != '' %}
                                                                <h5 class="mtm">Manufacturers Description</h5>
                                                                {{ brandDescription|raw }}
                                                            {% endif %}
                                                            {% if guarantees|length > 0 %}
                                                                <div class="pbm">
                                                                    <h5 class="mtm mbn">Manufacturers Guarantees</h5>
                                                                    {% for guarantee in guarantees %}
                                                                        <button type="button" class="fill mts button button-small icon-turquoise" data-icon-primary="icon-826"><strong>{{ guarantee.length.displayName }}:</strong> {{ guarantee.type.guaranteeType }}</button>
                                                                    {% endfor %}
                                                                </div>
                                                            {% endif %}
                                                        </section>
                                                    </div>
                                                    {% if features|length > 0 %}
                                                        <div id="specification">
                                                            <section class="pbm">
                                                                <table class="data-table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Feature</th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        {% for index, value in features %}
                                                                            {% if value.featureGroup is defined %}
                                                                                {% if value.feature.name != '*** NOT SET ***' %}
                                                                                    <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                                                                                        <td width="1" class="nowrap tar">{{ value.featureGroup.name }}</td>
                                                                                        <td><strong>{{ value.feature.name }}</strong></td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% else %}
                                                                                {% if value != '*** NOT SET ***' %}
                                                                                    <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                                                                                        <td width="1" class="nowrap tar">{{ index }}</td>
                                                                                        <td><strong>{{ value }}</strong></td>
                                                                                    </tr>
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </tbody>
                                                                </table>
                                                            </section>
                                                        </div>
                                                    {% endif %}
                                                    <div id="delivery">
                                                        <section>
                                                            <h5>Delivery</h5>
                                                            <ul class="pll pbm">
                                                                <li>Once the product(s) have been checked to your satisfaction we require you to sign for the delivery. Unless otherwise stated the delivered price includes a one-man ground floor, street level, drop off delivery.</li>
                                                                <li>Deliveries are booked on the condition that there is reasonable access for the safe and prompt delivery of the products(s). Any special requirements should be reported to us when ordering (for example, if you require a delivery to a flat that is not on the ground floor).</li>
                                                                <li>We endeavour to meet all delivery bookings but cannot be held responsible for situations beyond our control.</li>
                                                                <li>It is your responsibility to ensure that you have signed for the correct products(s) and number of products(s) delivered.</li>
                                                                <li>Any delivery issues will be resolved by our Customer Services team at the point of delivery.</li>
                                                                <li>We recommend that you organise the fitting date of your products(s) once they have been delivered and inspected to your satisfaction.</li>
                                                                <li>If your billing address and delivery address differ, we will need to validate the information provided with our Identity Verification partner. In addition, we may require a copy of a utility bill to verify invoice address details. This will help to protect you and us against fraudulent transactions.</li>
                                                                <li>When purchasing large items such as Worktops, American Fridge Freezers or Range Cookers, please ensure that you have measured the relevant doorways in your home to make sure that the product(s) will fit through when delivered. Unfortunately if the delivery fails due to this reason the actual cost of the distribution will be charged to you.</li>
                                                                <li>Failed deliveries will incur an additional delivery charge if you are not present on the agreed delivery date and the actual cost of distribution will be charged to you.</li>
                                                                <li>Should you wish to cancel your order after we have dispatched your goods, an additional delivery charge would be levied. (Please refer to the Cancellations and Returns section below)</li>
                                                                <li>Cancellation at the point of delivery will incur a collection charge. (Please refer to the Cancellations and Returns section below)</li>
                                                            </ul>
                                                            <h5 class="mtm">Availability</h5>
                                                            <p>All products are subject to availability. We can only guarantee availability while stocks last. If the products ordered are unavailable we will contact you and give you the option of a suitable alternative or an estimated date for the ordered items.  We will endeavour to deliver your order within the times stated but products are subject to availability. A delay in delivery of products is sometimes beyond our control. Any delivery dates specified are approximate and we cannot take responsibility for any losses, costs, damages, charges or expenses caused by any delay.</p>
                                                            <h5 class="mtm">Damages</h5>
                                                            <p>No claims for visible damage will be accepted after the product(s) have been signed for as checked. Any visible damage should be reported to our Customer Service department at the point of delivery. Please do not fit or use a product that is incorrect or different to that which was ordered. Failure to comply with these guidelines will deem that you have accepted the product(s) and we would be unable to return or replace them.</p>
                                                            <h5 class="mtm">Faulty Goods</h5>
                                                            <p>The guarantee will not apply if the fault arises from excessive wear and tear in our reasonable opinion, deliberate damage, accidental damage, negligence, abnormal working conditions, failure to follow manufacturers instructions, misuse or alteration or repair of the products(s) without manufacturers approval. Claims regarding faulty goods will be subject to the terms and conditions of the manufacturer’s warranty but this does not affect your statutory rights. If your product(s) appears not to be functioning correctly please first check the manufacturer’s instruction book and follow the fault-finding guide. If a product(s) has been installed we will require a manufacturer approved service engineer to inspect the product to establish the nature of the fault. Please remember if a product(s) is found to be installed incorrectly we reserve the right to charge for the service call.</p>
                                                            <h5 class="mtm">Cancellations and Returns</h5>
                                                            <p>You are entitled to withdraw from this contract under the Distance Selling Regulations up to 7 days from the receipt of delivery for a full credit or refund less any applicable collection/delivery costs. If you do wish to withdraw from the contract you must notify us either in writing or by e-mail within the said time period. The refund will be made within 30 days of the cancellation date. <strong>These terms do not apply to 'Special Order Items'.</strong> Under the same regulations you have a duty to take reasonable care of the good(s). If you cancel an order after the goods have been dispatched, you will be charged the <strong>actual cost</strong> of collecting the item(s). The cost will be deducted from any refund that is due to you. Should you wish to cancel your order within 7 days of delivery we can arrange the safe return of your product(s) provided they have not been removed from their original packaging, installed or used. Alternatively you can return the products(s) at your own cost.</p>
                                                            <h5 class="mtm">Please Note:</h5>
                                                            <ul class="pll pbm">
                                                                <li>Please do not install any damaged or unwanted product/appliance(s). This would be viewed as acceptance of goods and any return would be rejected.</li>
                                                                <li>We reserve the right to request photographic evidence of the products(s) and/or packaging prior to collection.</li>
                                                                <li>Upon receipt of the returned products(s), these will be inspected to ensure they are in perfect condition (in the original packaging) and meet our satisfaction and are including all relevant accessories, manuals & components.</li>
                                                                <li>We reserve the right to claim for any damage to the products(s) that may have occurred whilst in your possession or reject them outright. This does not affect your statutory rights.</li>
                                                                <li>If the packaging has been removed or tampered with, we can no longer be held responsible for transporting the products(s) safely and you must arrange the return of the products(s) to our warehouse within 14 days of delivery.</li>
                                                                <li>If you return the product(s) to us yourself, you are required to take reasonable care and ensure that these are not damaged in transit. If you do not exercise reasonable care and the product(s) are damaged, we will reject the product(s) or make a claim against you for a breach of this statutory duty.</li>
                                                                <li>On conclusion your order will be processed for reimbursement of monies paid less any applicable delivery or collection costs & or costs in respect of missing accessories, manuals & components.</li>
                                                                <li>Should you wish to cancel any items off an order where a package deal/discount has been allowed on multiple products, we reserve the right to recalculate the total price according to the new value of the order. In the event of a product(s) being cancelled where a free or discounted item applies, we reserve the right to either charge you for the product(s) at the current price or collect the product(s), collection charges apply.</li>
                                                                <li>We will not accept the return of any <strong>Special Order Items</strong>.</li>
                                                            </ul>
                                                        </section>
                                                    </div>
                                                    <div id="security">
                                                        <section>
                                                            <h5>For your security</h5>
                                                            <ul class="pll pbm">
                                                                <li>Kitchen Appliance Centre are aware of the concerns customers have about entering their card details when carrying out a transaction. We have therefore implemented the very best and latest measures to ensure that paying via our Website is as safe as possible.</li>
                                                                <li>All your credit card and personal information is encrypted and held on a secure SSL (Secure Socket Layer) server. This protects data during online transactions.</li>
                                                                <li>We use 128-bit encryption; this technology scrambles the data relating to your account to ensure that your information cannot be read by anyone else.</li>
                                                                <li>We use 3D secure within the checkout which fully protects both you and ourselves against fraud. 3D secure is when your own bank requires you to enter your unique code to confirm it is you paying for online orders.</li>
                                                            </ul>
                                                        </section>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                        <div class="widget widget-1-of-6">
                                            <img width="100%" src="{{ asset(product.brand.description.logoImage.publicPath | apply_filter('logo_large')) }}" alt="{{ product.brand.description.name }}" />
                                            <div class="ksp">
                                                <span class="fr ui-button-icon-primary ui-icon-small icon-small-turquoise icon-small-1368"></span>
                                                <h4>Trustpilot</h4>
                                                <p>Rated 5 out of 5 by our customers!</p>
                                            </div>
                                            <div class="ksp">
                                                <span class="fr ui-button-icon-primary ui-icon-small icon-small-turquoise icon-small-874"></span>
                                                <h4>Free Delivery</h4>
                                                <p>To most UK areas on selected items</p>
                                            </div>
                                            <div class="ksp">
                                                <span class="fr ui-button-icon-primary ui-icon-small icon-small-turquoise icon-small-999"></span>
                                                <h4>Low Prices</h4>
                                                <p>Our prices are already discounted for you!</p>
                                            </div>
                                            <div class="ksp">
                                                <span class="fr ui-button-icon-primary ui-icon-small icon-small-turquoise icon-small-1158"></span>
                                                <h4>Easy Returns</h4>
                                                <p>Online shopping made simple</p>
                                            </div>
                                            <div class="ksp">
                                                <span class="fr ui-button-icon-primary ui-icon-small icon-small-turquoise icon-small-518"></span>
                                                <h4>Save More</h4>
                                                <p>Buy more items and save even more</p>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    {% if related_products|length > 0 %}
                                        {% include 'KACSiteBundle:Product:relatedProducts.html.twig' with {'products': related_products} %}
                                    {% endif %}
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        {% endblock %}
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            var variants = JSON.parse('{{ variants|json_encode|raw }}');
            var currentVariant = null;

            // Get the current variant
            for(var i=0; i<variants.length; i++) {
                if(variants[i].variantId == '{{ variant.id }}') {
                    currentVariant = variants[i];
                }
            }

            $(".variant-filter").change(function() {
                var possibleVariants = variants.slice(0);

                for (var index = 0; index<possibleVariants.length; index++)
                {
                    var variant = possibleVariants[index];
                    if(variant)
                    {
                        for (var featureGroup in variant.features) {
                            var feature = variant.features[featureGroup];

                            // Attempt to find filter field
                            var $input = $('.variant-filter[data-group="'+featureGroup+'"]');
                            if($input && $input.length > 0) {
                                var value = $input.find(':selected').val();
                                if (value != feature) {
                                    delete possibleVariants[index];
                                }
                            }
                        }
                    }
                }

                // Remove any empty elements from array
                var undef;
                var temp = [];
                for (var i=0; i < possibleVariants.length; i++) {
                    if ( possibleVariants[i] !== undef) {
                        temp.push(possibleVariants[i])
                    }
                }
                possibleVariants = temp;

                $(".variant-filters .form-element").removeClass("error");

                if(possibleVariants.length === 1) {
                    if(currentVariant !== null && currentVariant.variantId != possibleVariants[0].variantId) {
                        window.location = routes['routing'].replace('-1', possibleVariants[0].url);
                    }
                } else if(possibleVariants.length > 1) {
                    $.each($('.variant-filter'), function(i, filter) {
                        var variantExists = false;
                        $.each(possibleVariants, function(j, variant) {
                            var group = $(filter).data("group");
                            if(variant.features[group] == $(this).val()) {
                                variantExists = true;
                            }
                        });

                        if(variantExists) {
                            $(filter).parent().parent().parent().addClass('error');
                        }
                    });
                } else {
                    $(this).parent().parent().parent().addClass('error');
                }

            });
        });
    </script>
{% endblock %}