{# CONFIRMED MACROS IN USE IN ORDER THEY ARE USED #}

{% macro product_departments_widget(choices) %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% for group_label, choice in choices %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|raw }}</option>
        {% endfor %}
    </select>
{% endmacro %}

{% macro table_features_widget(form) %}
    <td{% if form.featureGroup.vars.valid is sameas(false) %} class="error"{% endif %}>
        {{ form_widget(form.featureGroup, {'attr': {'class': 'feature-group fill'}}) }}
    </td>
    <td{% if form.feature.vars.valid is sameas(false) %} class="error"{% endif %}>
        {{ form_widget(form.feature, {'attr': {'class': 'feature fill'}}) }}
    </td>
    <td width="1">
        {{ form_widget(form.displayOrder) }}
        <button type="button" class="actionDeleteFormRow button button-red icon-white" data-table-object="feature-list" data-icon-primary="icon-1117" data-icon-only="true">Delete</button>
    </td>
{% endmacro %}

{% macro product_variants_overview_widget(form) %}
    <td{% if form.productCode.vars.valid is sameas(false) %} class="error"{% endif %}>{{ form_widget(form.productCode) }}</td>
    {{ form_widget(form.prices) }}
    <td width="1">
        <button type="button" class="actionDeleteFormRow button button-red icon-white" data-table-object="productVariantList" data-icon-primary="icon-1117" data-icon-only="true">Delete</button>
    </td>
{% endmacro %}

{% macro table_prices_widget(form) %}
    {% if form|length == 1 %}
        {% for child in form %}
            <td{% if child.recommendedRetailPrice.vars.valid is sameas(false) %} class="error"{% endif %}>
                {{ form_widget(child.recommendedRetailPrice) }}
            </td>
            <td{% if child.listPrice.vars.valid is sameas(false) %} class="error"{% endif %}>
                {{ form_widget(child.listPrice) }}
            </td>
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro table_prices_row(form) %}
    <td{% if form.recommendedRetailPrice.vars.valid is sameas(false) %} class="error"{% endif %}>
        {{ form_widget(form.recommendedRetailPrice) }}
    </td>
    <td{% if form.listPrice.vars.valid is sameas(false) %} class="error"{% endif %}>
        {{ form_widget(form.listPrice) }}
    </td>
    <td>
        {{ form_widget(form.displayOrder) }}
        <button type="button" class="actionDeleteFormRow button button-red icon-white" data-table-object="price-list" data-icon-primary="icon-1117" data-icon-only="true">Delete</button>
    </td>
{% endmacro %}

{% macro table_links_widget(form) %}
    <td{% if form.linkedProduct.vars.valid is sameas(false) %} class="error"{% endif %}>
        {{ form_widget(form.linkedProduct, {'attr': {'class': 'linked-product fill no-uniform'}}) }}
    </td>
    <td{% if form.linkType.vars.valid is sameas(false) %} class="error"{% endif %}>
        {{ form_widget(form.linkType, {'attr': {'class': 'link-type fill'}}) }}
    </td>
    <td width="1">
        {{ form_widget(form.displayOrder) }}
        <button type="button" class="actionDeleteFormRow button button-red icon-white" data-table-object="link-list" data-icon-primary="icon-1117" data-icon-only="true">Delete</button>
    </td>
{% endmacro %}

{#{% macro prices_widget(form) %}#}
    {#<td>#}
        {#{{ form_widget(form.costPrice) }}#}
        {#{{ form_errors(form.costPrice) }}#}
    {#</td>#}
    {#<td>#}
        {#{{ form_widget(form.recommendedRetailPrice) }}#}
        {#{{ form_errors(form.recommendedRetailPrice) }}#}
    {#</td>#}
    {#<td>#}
        {#{{ form_widget(form.listPrice) }}#}
        {#{{ form_errors(form.listPrice) }}#}
    {#</td>#}
    {#<td></td>#}
{#{% endmacro %}#}

{#{% macro product_descriptions_widget(form) %}#}
    {#<td>#}
        {#{{ form_widget(form.locale) }}#}
        {#{{ form_errors(form.locale) }}#}
    {#</td>#}
    {#<td>#}
        {#{{ form_widget(form.description, {'attr': {'rows': 5, 'cols': '80'} }) }}#}
        {#{{ form_errors(form.description) }}#}
    {#</td>#}
    {#<td class="ac" width="65">#}
        {#<button type="button" class="fr small button icon-set-white ui-button-red delete-row">Delete</button>#}
    {#</td>#}
{#{% endmacro %}#}
{#{% macro variants_description_widget(form) %}#}
    {#<td>#}
        {#{{ form_widget(form.locale) }}#}
        {#{{ form_errors(form.locale) }}#}
    {#</td>#}
    {#<td>#}
        {#{{ form_widget(form.description) }}#}
        {#{{ form_errors(form.description) }}#}
    {#</td>#}
    {#<td class="ac" width="65">#}
        {#<button type="button" class="fr small button icon-set-white ui-button-red delete-row">Delete</button>#}
    {#</td>#}
{#{% endmacro %}#}
{#{% macro product_featureGroups_widget(form) %}#}
    {#<td class="padding-top-5 padding-bottom-5">#}
        {#{{ form_widget(form) }}#}
        {#{{ form_errors(form) }}#}
    {#</td>#}
    {#<td class="ac" width="65">#}
        {#<button type="button" class="fr small button icon-set-white ui-button-red delete-row">Delete</button>#}
    {#</td>#}
    {#<td class="ac" width="20">#}
        {#<img class="draggable" width="9" height="17" src="{{ asset('bundles/kacadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />#}
    {#</td>#}
{#{% endmacro %}#}
{#{% macro product_features_widget(form) %}#}
    {#<td class="padding-top-5 padding-bottom-5" width="">#}
        {#{{ form_widget(form) }}#}
        {#{{ form_errors(form) }}#}
    {#</td>#}
    {#<td class="padding-top-5 padding-bottom-5 ac" width="200">#}
        {#{{ form.get('value').productFeature }}#}
    {#</td>#}
{#{% endmacro %}#}

{% macro product_variants_images_widget(form) %}
    {{ form_widget(form.images) }}
{% endmacro %}
{#{% macro product_variants_prices_widget(form) %}#}
    {#<tr>#}
        {#{{ form_widget(form.prices) }}#}
    {#</tr>#}
{#{% endmacro %}#}
