<div class="top-menu-links">
	<a title="Start shopping for kitchen appliances" href="{{ path('homepage') }}">Shopping</a>&nbsp;|&nbsp;
	<a class="action-scroll-to-bottom" title="Do you need any help or advice on your kitchen appliances?" href="Javascript:void(0);">Help &amp; Advice</a>&nbsp;|&nbsp;
	<a target="_blank" title="Check out the latest kitchen appliance news and articles at our blog" href="http://www.kitchenappliancecentre.co.uk/blog/">Read our Blog</a>&nbsp;|&nbsp;
    {% if is_granted("ROLE_USER") %}
		<a title="Click here if you would like to securely logout." class="account" href="{{ path('fos_user_registration_register') }}"><strong>Securely Logout</strong></a>&nbsp;|&nbsp;
		<a title="Click here to update your account." class="account" href="{{ path('fos_user_registration_register') }}"><strong>Your Account</strong></a>
	{% else %}
		<a title="If you already have an account log in here" class="account" href="{{ path('fos_user_security_login') }}"><strong>Secure Login</strong></a>&nbsp;|&nbsp;
		<a title="If you don't already have an account and would like to register one click here" class="account" href="{{ path('fos_user_registration_register') }}"><strong>Register</strong></a>
	{% endif %}
</div>