{# Cancel image upload #}
$(".action-cancel-logo-image-upload").live('click', function() {
	$("#logo-image-upload-error, #logo-image-upload-success, #logo-image-file-uploading").hide();
	$("#logo-image-file-upload .qq-upload-list").html("");
	$("#logo-image-file-upload span.filename").html("No file selected");
	$("#form-logo-image-file").val("");
	$("#logo-image-file-upload").fadeIn();
});

{# File uploader #}
var logoUploader = new qq.FileUploader({
    element: document.getElementById('logo-image-file-upload'),
    action: '{{ path('system_ajax_upload_file') }}',
    onSubmit: function(id, fileName) {
    	$("#form-logo-image-file").val("");
    	$("#logo-image-file-upload").hide();
    	var fileExtensions = fileName.toLowerCase().split(".");
		var fileExtension = fileExtensions[(fileExtensions.length - 1)];
		if ((fileExtension == 'jpg') || (fileExtension == 'jpeg') || (fileExtension == 'png') || (fileExtension == 'gif'))
		{
			$("#logo-image-file-uploading").fadeIn();
		} else {
			$("#logo-image-upload-error-text").html("jpg, png and gif files only.");
			$("#logo-image-upload-error").fadeIn();
			return false;
	    }
    },
	onComplete: function(id, fileName, responseJSON) {
		$("#logo-image-file-upload, #logo-image-file-uploading, #logo-image-upload-error, #logo-image-upload-success").hide();
		if (responseJSON.response == 'success')
		{
			$("#general-requires-update").val("1");
			$("#logo-image-upload-success-text").html("File Uploaded: "+responseJSON.fileSize);
			$("#form-logo-image-file").val(responseJSON.fileName);
			$("#logo-image-upload-success").fadeIn();
		} else {
			$("#logo-image-upload-error-text").html(responseJSON.message);
			$("#logo-image-upload-error").fadeIn();
		}
	}
});
$("#logo-image-file-upload :file:not(.no-uniform)").uniform();

{# Confirm delete of an image #}
$(".action-confirm-delete-logo-image").live('click', function() {
	resetInteractions();
	$("#ajax_loading").show();
	$("#logo-image-confirm-delete").fadeIn();
	$("#ajax_loading").hide();
});

{# Cancel delete of an image #}
$(".action-cancel-delete-logo-image").live('click', function() {
	resetInteractions();
	$("#ajax_loading").show();
	$("#logo-image-confirm-delete").hide();
	$("#ajax_loading").hide();
});

{# Delete an image #}
$(".action-delete-logo-image").live('click', function() {
	$logoImageId = $(this).attr("data-id");				
	$.ajax({
    	url: "{{ path('admin_brands_ajax_delete_logo_image') }}",
    	beforeSend: function() {
			resetInteractions();
			$("#ajax_loading").show();
		},
      	type: "GET",
      	dataType: "json",
      	data: {
      		id: $logoImageId
       	},
      	error: function(data) {
      		loadNotificationMessage("message-error", "Sorry, there was a problem deleting the logo. Please try again.");
      		finishInteractions();
      	},
      	success: function(data) {
        	if (data.response == 'success')
        	{
        		$("#form-logo-image-preview").attr("alt", "No Image Available");
  				$("#form-logo-image-preview").removeAttr("data-image-size-width");
  				$("#form-logo-image-preview").removeAttr("data-image-size-height");
  				$("#form-logo-image-preview").removeAttr("data-image-large-path");
  				$("#form-logo-image-preview").attr("src", "{{ asset('bundles/webilluminationadmin/images/no-image-available.png') }}");
  				$("#form-logo-image-preview").removeAttr("class");
  				$("#logo-image-upload-error, #logo-image-upload-success, #logo-image-file-uploading").hide();
				$("#logo-image-file-upload .qq-upload-list").html("");
				$("#logo-image-file-upload span.filename").html("No file selected");
				$("#form-logo-image-file").val("");
				$("#logo-image-file-upload").fadeIn();
				$("#delete-logo-image-container").hide();
				loadNotificationMessage("message-success", "The logo was successfully deleted.");
        	} else {
        		loadNotificationMessage("message-error", "Sorry, there was a problem deleting the logo. Please try again.");
        	}
        	$("#logo-image-confirm-delete").hide();
        	finishInteractions();
      	}
   	});
});

{# Update the section #}
$(".action-update-general-section").live('click', function() {
	var updateGeneralValidator = $("#general :input").validator({
		position : 'bottom left', 
		offset : [0, 0], 
		messageClass : 'form-error', 
		message : '<div><em/></div>'
	});
	if (updateGeneralValidator.data("validator").checkValidity())
	{
    	$.ajax({
			type: "POST",
			dataType: "json",
			url: "{{ path('admin_'~settings.multipleItemsPath~'_ajax_update_general_section') }}",
			beforeSend: function() {
				resetInteractions();
				$("#ajax_loading").show();
			},
			data: {
				id: {{ data.brand.id }},
				status: $("input[name='status']:checked").val(),
    			brand: $("#form-brand").val(),
    			logoImage: $("#form-logo-image-file").val()
			},
			error: function(data) {
				loadNotificationMessage("message-error", "Sorry, there was a problem saving the {{ settings.singleItemDescription }}. Please try again.");
				finishInteractions();
	      	},
			success: function(data) {
				if (data.response == 'success')
				{
					if (data.logo)
					{
						$("#logo-image-confirm-delete-button").attr("data-id", data.logo.id);
	      				$("#form-logo-image-preview").attr("alt", data.logo.title);
	      				$("#form-logo-image-preview").attr("data-image-size-width", data.logo.largeWidth);
	      				$("#form-logo-image-preview").attr("data-image-size-height", data.logo.largeHeight);
	      				$("#form-logo-image-preview").attr("data-image-large-path", data.logo.large);
	      				$("#form-logo-image-preview").attr("src", data.logo.thumbnail);
	      				$("#form-logo-image-preview").addClass("action-image-popup");
	      				$("#form-logo-image-preview").addClass("thumbnail");
	      				$("#logo-image-upload-error, #logo-image-upload-success, #logo-image-file-uploading").hide();
						$("#logo-image-file-upload .qq-upload-list").html("");
						$("#logo-image-file-upload span.filename").html("No file selected");
						$("#form-logo-image-file").val("");
						$("#logo-image-file-upload").fadeIn();
						$("#delete-logo-image-container").fadeIn();
					}
					loadNotificationMessage("message-success", "The {{ settings.singleItemDescription }} was successfully updated.");
					if (data.resetSeo == true)
					{
						resetSeo();
					}
				} else {
					loadNotificationMessage("message-error", "Sorry, there was a problem saving the {{ settings.singleItemDescription }}. Please try again.");
				}
				finishInteractions();
				if ($("#general-tab-to-redirect-to").val() > -1)
				{
					$("#general-requires-update").val(0);
					$("#general-confirm-leave").hide();
					$(".sidebar-tabs").tabs("select", parseInt($("#general-tab-to-redirect-to").val()));
					$("#general-tab-to-redirect-to").val(-1);
				} else {
					$("#general-requires-update").val(0);
					$("#general-tab-to-redirect-to").val(-1);
				}
			}
		});
	}
});

{# Detect if an update is required #}
$("#general input, #general select, #general textarea").live("change", function() {
	$("#general-requires-update").val(1);
});

{# Check if section needs updating #}
$(".sidebar-tabs").bind("tabsselect", function(event, ui) {
	if ($("#general-requires-update").val() > 0)
	{
		$("#general-tab-to-redirect-to").val(ui.index);
		$("#general-confirm-leave").fadeIn();
		$("html, body").animate({scrollTop: $("#general").offset().top + 35},'slow');
		return false;
	}
	return true;
});

{# Leave section without saving #}
$(".action-leave-general").live('click', function() {
	$("#general-requires-update").val(0);
	$(".sidebar-tabs").tabs("select", parseInt($("#general-tab-to-redirect-to").val()));
	$("#general-tab-to-redirect-to").val(-1);
	$("#general-confirm-leave").hide();
	$("html, body").animate({scrollTop: $("#general").offset().top + 35},'slow');
});