{% if data.item is defined %}
	{% if data.mode == 'update' %}
		{% if data.item.parentId > 0 %}
			<p class="breadcrumbs no-margin-top">{% spaceless %}
				<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': 0}) }}">Start Again</a>&nbsp;&gt;&nbsp;
				{% for breadcrumb in data.breadcrumbs %}
					<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': breadcrumb.departmentId}) }}">{{ breadcrumb.name }}</a>{% if not loop.last %}&nbsp;&gt;&nbsp;{% endif %}
				{% endfor %}
			{% endspaceless %}</p>
		{% endif %}
	{% else %}
		{% if data.item.parentId > 0 %}
			<p class="breadcrumbs no-margin-top">{% spaceless %}
				<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': 0}) }}">Start Again</a>&nbsp;&gt;&nbsp;
				{% for breadcrumb in data.breadcrumbs %}
					<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': breadcrumb.departmentId}) }}">{{ breadcrumb.name }}</a>{% if not loop.last %}&nbsp;&gt;&nbsp;{% endif %}
				{% endfor %}
			{% endspaceless %}</p>
		{% endif %}
	{% endif %}
{% else %}
	{% if data.parentId > 0 %}
		<p class="breadcrumbs no-margin-top">{% spaceless %}
			<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': 0}) }}">Start Again</a>&nbsp;&gt;&nbsp;
			{% for breadcrumb in data.breadcrumbs %}
				<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': breadcrumb.departmentId}) }}">{{ breadcrumb.name }}</a>{% if not loop.last %}&nbsp;&gt;&nbsp;{% endif %}
			{% endfor %}
		{% endspaceless %}</p>
	{% endif %}
{% endif %}