{% extends '::admin.html.twig' %}
{% block title %}{{ data.settings.multipleTitle }}  | {{ parent() }}{% endblock %}
{% block leftmenu %}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':leftMenu.html.twig' with {'data': data} %}  
{% endblock %}
{% block header %}
	{{ parent() }}
	{% if data.parentId > 0 %}
		<p class="breadcrumbs no-margin-top">{% spaceless %}
			<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': 0}) }}">Start Again</a>&nbsp;&gt;&nbsp;
			{% for breadcrumb in data.breadcrumbs %}
				<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': breadcrumb.departmentId}) }}">{{ breadcrumb.name }}</a>{% if not loop.last %}&nbsp;&gt;&nbsp;{% endif %}
			{% endfor %}
		{% endspaceless %}</p>
	{% endif %}
	{% if data.parentId > 0 %}
    	<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': data.department.parentId}) }}" id="button-go-back" class="fr button ui-button-black icon-set-white" data-icon-primary="ui-icon-circle-arrow-left">Go Back</a>
    {% endif %}
    <div class="quick-search-container fr">
		<span class="fl padding-right-10">Quick Search</span>
		<input class="fl ui-corner-left no-margin" type="text" id="form-quick-search" value="{{ data.listing.search }}" />
		{% if data.listing.search %}
			<button type="button" class="fl ui-button button ui-corner-none ui-button-red icon-set-white action-clear-quick-search" data-icon-primary="ui-icon-circle-cross" data-icon-only="true">Clear</button>
		{% endif %}
		<button type="button" id="quick-search-button" class="fl ui-corner-right ui-button button icon-set-white ui-button-black action-quick-search" data-icon-primary="ui-icon-magnifying-glass">Search</button>
	</div>
	<h2>{% if data.parentId > 0 %}{{ data.department.name }}{% else %}{{ data.settings.multipleTitle }}{% endif %}</h2>
	<div class="clear"></div>
{% endblock %}
{% block body %}
    <section class="container_6 clearfix no-padding-top">
    	<div class="grid_6">
    		<div id="confirm-multiple-delete" class="info-message ui-helper-hidden">
    			<div class="fr no-margin no-padding">
		        	<button class="fl button ui-corner-none ui-corner-tl ui-corner-bl ui-button-blue action-cancel-multiple-delete">Cancel</button>
		        	<button class="fl button ui-corner-none ui-corner-tr ui-corner-br ui-button-red action-multiple-delete" data-icon-primary="ui-icon-closethick">Confirm Delete</button>
		        </div>
				<span class="info-message-icon ui-icon ui-icon-help"></span>
				<p><strong>WARNING:</strong> Are you sure you want to delete the selected {{ data.settings.multipleDescription }} below? This will also delete any {{ data.settings.multipleDescription }} within the selected {{ data.settings.multipleDescription }}.</p>
				<div class="clear"></div>
			</div>
			{% if data.statistics|length > 0 %}
				<div class="clearfix">
		    		<ul class="isotope-widgets isotope-container">
		    			{% for statistic in data.statistics %}
			                <li>
			                    <a data-update-object="{{ statistic.filterUpdateObject }}" data-filter-value="{{ statistic.filterValue }}" class="statistic-filter button-{{ statistic.colour }} ui-corner-all" href="Javascript:void(0);">
			                        <strong>{{ statistic.statistic }}</strong>
			                        <span>{{ statistic.description }}</span>
			                    </a>
			                </li>
			            {% endfor %}
		            </ul>
				</div>
			{% endif %}
    		<div class="portlet">
				<header>
					<button type="button" id="filter-button" class="button ui-button icon-set-black fr action-show-hide-filter" data-icon-primary="ui-icon-arrow-{% if data.filter.empty > 0 %}down{% else %}up{% endif %}">Filter Results</button>
	                <h2>{{ data.settings.multipleTitle }} Found ({{ data.listing.itemCount }})</h2>
	            </header>
				<section class="no-padding">
					<form id="form-update-listing" class="form" action="{{ path('admin_'~data.settings.multiplePath~'_update_listing', {'parentId': data.parentId}) }}" method="post">
						<input type="hidden" id="update-listing-search" name="search" value="{{ data.listing.search }}" />
						<input type="hidden" id="update-listing-sort-order" name="sort-order" value="{{ data.listing.sortOrder }}" />
						<input type="hidden" id="update-listing-max-results" name="max-results" value="{{ data.listing.maxResults }}" />
						<input type="hidden" id="update-listing-current-page" name="current-page" value="{{ data.listing.currentPage }}" />
						<input type="hidden" id="update-listing-pagination" name="pagination" value="{{ data.listing.pagination }}" />
						<input type="hidden" id="update-listing-name" name="filters[name]" value="{{ data.filter.name }}" />
						<input type="hidden" id="update-listing-statuses" name="filters[statuses]" value="{{ data.filter.statuses }}" />
						<input type="hidden" id="update-listing-filter-empty" name="filters[empty]" value="{{ data.filter.empty }}" />
					</form>
					<div id="listing-filter" class="no-padding-bottom listing-filter{% if data.filter.empty > 0 %} ui-helper-hidden{% endif %}">
						<div class="separator">
							<table width="100%">
								<tr>
									<td class="label" width="20%"><label for="filter-name">Name:</label></td>
									<td width="80%"><input class="filter-text-box" type="text" id="filter-name" data-update-object="update-listing-name" value="{{ data.filter.name }} " /></td>
								</tr>
							</table>
						</div>
						<div class="separator">
							<table width="100%">
								<tr>
									<td class="label"><label class="al" for="filter-status">Status:</label></td>
								</tr>
								<tr>
									<td class="vat checkboxes">
										<div class="filter-checkbox">
											<input{% if '|a|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="a" type="checkbox" class="filter-status" value="1" />Active
										</div>
										<div class="filter-checkbox">
											<input{% if '|h|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="h" type="checkbox" class="filter-status" value="1" />Hidden
										</div>
										<div class="filter-checkbox">
											<input{% if '|d|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="d" type="checkbox" class="filter-status" value="1" />Disabled
										</div>
									</td>
								</tr>
							</table>
						</div>
						<div class="ac">
							<button class="button bottom-button icon-set-white ui-button-green action-update-your-results" data-icon-primary="ui-icon-refresh">Update Your Results</button>
							<button class="button bottom-button icon-set-white ui-button-red action-clear-filters" data-icon-primary="ui-icon-circle-cross">Clear Filters</button>
						</div>
					</div>
					<form id="form-update" class="form" action="{{ path('admin_'~data.settings.multiplePath, {'parentId': data.parentId}) }}" method="post">
						<div id="listing-settings">
							<div class="fl">
								<div class="listing-settings-title fl">Sort By</div>
								<select id="listing-sort-order" class="fl">
									<option{% if data.listing.sortOrder == 'displayOrder:ASC' %} selected="selected"{% endif %} value="displayOrder:ASC">Set Order</option>
									<option{% if data.listing.sortOrder == 'createdAt:DESC' %} selected="selected"{% endif %} value="createdAt:DESC">Latest</option>
									<option{% if data.listing.sortOrder == 'name:ASC' %} selected="selected"{% endif %} value="name:ASC">Alphabetically: A-Z</option>
									<option{% if data.listing.sortOrder == 'name:DESC' %} selected="selected"{% endif %} value="name:DESC">Alphabetically: Z-A</option>
								</select>
							</div>
						    <div class="fr">
						    	<div class="listing-settings-title fl">Per Page</div>
						        <select class="fl" id="listing-max-results">
						        	{% if data.listing.sortable == false %}
										<option{% if data.listing.maxResults == '10' %} selected="selected"{% endif %} value="10">10</option>
										<option{% if data.listing.maxResults == '20' %} selected="selected"{% endif %} value="20">20</option>
										<option{% if data.listing.maxResults == '50' %} selected="selected"{% endif %} value="50">50</option>
										<option{% if data.listing.maxResults == '100' %} selected="selected"{% endif %} value="100">100</option>
									{% endif %}
									<option{% if data.listing.maxResults == '99999999' %} selected="selected"{% endif %} value="99999999">All</option>
								</select>
							</div>
						    <div class="clear"></div>
						</div>
						{% include 'WebIlluminationAdminBundle:System:listingPagination.html.twig' with {'data': data} %}
						<div class="clear"></div>
						<div id="listing" class="position-relative">
							{% if data.items|length > 0 %}
								<table class="data-table{% if data.listing.sortable %} sortable{% endif %}" id="data" width="100%">
									<thead>
										<tr>
											{% if data.listing.sortable %}
												<th>&nbsp;</th>
											{% endif %}
											<th width="19" class="ac"><input type="checkbox" class="action-select-all" value="1" /></th>
											<th class="al">Department</th>
											<th class="ac" width="90">Delivery</th>
											<th class="ac" width="90">Status</th>
											<th width="1" class="ac">&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										{% for item in data.items %}
											<tr class="item {{ item.statusColour }}" id="item-{{ item.departmentId }}">
												{% if data.listing.sortable %}
													<td width="17" class="ac"><img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" /></td>
												{% endif %}
												<td width="19" class="ac select"><input data-id="{{ item.departmentId }}" type="checkbox" class="action-select" name="select[{{ item.departmentId }}]" id="listing-select-{{ item.departmentId }}" value="1" /></td>
												<td class="al small">
													<a class="tooltip-preview-left" data-tooltip-id="#tooltip-description-{{ item.departmentId }}" href="{% if item.departmentCount > 0 %} {{ path('admin_'~data.settings.multiplePath, {'parentId': item.departmentId}) }}{% else %}{{ path('admin_'~data.settings.multiplePath~'_update', {'id': item.departmentId}) }}{% endif %}"><strong>{{ item.name }}</strong></a>
												</td>
												<td width="90" class="ac{% if item.deliveryBand < 1 %} red{% endif %}">
													<select name="delivery-band[{{ item.departmentId }}]" id="listing-delivery-band-{{ item.departmentId }}" data-id="{{ item.departmentId }}" class="delivery-band full">
														<option value="0">- Not Set -</option>
														<option{% if item.deliveryBand == '1' %} selected="selected"{% endif %} value="1">Band 1</option>
														<option{% if item.deliveryBand == '2' %} selected="selected"{% endif %} value="2">Band 2</option>
														<option{% if item.deliveryBand == '3' %} selected="selected"{% endif %} value="3">Band 3</option>
														<option{% if item.deliveryBand == '4' %} selected="selected"{% endif %} value="4">Band 4</option>
														<option{% if item.deliveryBand == '5' %} selected="selected"{% endif %} value="5">Band 5</option>
														<option{% if item.deliveryBand == '6' %} selected="selected"{% endif %} value="6">Band 6</option>
													</select>
												</td>
												<td width="90" class="ac {{ item.statusColour }}">
													<select name="status[{{ item.departmentId }}]" id="listing-status-{{ item.departmentId }}" data-id="{{ item.departmentId }}" class="listing-status full">
														<option{% if item.status == 'a' %} selected="selected"{% endif %} value="a">Active</option>
														<option{% if item.status == 'h' %} selected="selected"{% endif %} value="h">Hidden</option>
														<option{% if item.status == 'd' %} selected="selected"{% endif %} value="d">Disabled</option>
													</select>
												</td>
												<td width="1" class="buttons-container ac no-wrap">
													{% if item.displayOrder is defined %}
														<input type="hidden" class="listing-display-order" name="display-order[{{ item.departmentId }}]" id="display-order-{{ item.departmentId }}" data-id="{{ item.departmentId }}" value="{{ item.displayOrder }}" />
													{% endif %}
													<img class="buttons-spacer" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="0" alt="" />
													<div class="clear"></div>
													<a href="{{ path('admin_'~data.settings.multiplePath~'_update', {'id': item.departmentId}) }}" class="button icon-set-white ui-button-black ui-corner-right" data-icon-primary="ui-icon-pencil" data-icon-only="true">Edit</a>
													<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': item.departmentId}) }}" class="button icon-set-white ui-button-black ui-corner-none"{% if item.productCount > 0 %} data-notification="{{ item.productCount }}"{% endif %} data-icon-primary="ui-icon-barcode" data-icon-only="true">Products</a>
													<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': item.departmentId}) }}" class="button icon-set-white ui-button-black ui-corner-none tooltip-preview-right"{% if item.departmentCount > 0 %} data-notification="{{ item.departmentCount }}"{% endif %} data-icon-primary="ui-icon-tree-directory" data-tooltip-id="#tooltip-departments-{{ item.departmentId }}" data-icon-only="true">Departments</a>
													<a href="{{ path('admin_'~data.settings.multiplePath~'_update_search_engine_optimisation', {'id': item.departmentId}) }}" class="button icon-set-white ui-button-black ui-corner-left tooltip-preview-right" data-tooltip-id="#tooltip-seo-{{ item.departmentId }}" data-icon-primary="ui-icon-magnifying-glass" data-icon-only="true">Search Engine Optimisation (SEO)</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								{% for item in data.items %}
									{% if item.metaDescription != '' %}
										<div id="tooltip-description-{{ item.departmentId }}" class="tooltip">
											<p class="no-margin">{{ item.metaDescription|raw }}</p>
										</div>
									{% endif %}
									<div id="tooltip-seo-{{ item.departmentId }}" class="tooltip">
										<h3>Search Engine Optimisation (SEO)</h3>
										<table cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td class="label">Page Title</td>
												<td>{{ item.pageTitle }}</td>
											</tr>
											<tr>
												<td class="label">Meta Description</td>
												<td>{{ item.metaDescription }}</td>
											</tr>
											<tr>
												<td class="label">Meta Keywords</td>
												<td>{{ item.metaKeywords }}</td>
											</tr>
											{% if item.googleDepartment %}
												<tr>
													<td class="label">Google Department</td>
													<td>{{ item.googleDepartment }}</td>
												</tr>
											{% endif %}
											{% if item.ebayDepartment %}
												<tr>
													<td class="label">eBay Department</td>
													<td>{{ item.ebayDepartment }}</td>
												</tr>
											{% endif %}
											{% if item.amazonDepartment %}
												<tr>
													<td class="label">Amazon Department</td>
													<td>{{ item.amazonDepartment }}</td>
												</tr>
											{% endif %}
											<tr>
												<td class="label">Web Address</td>
												<td>/{{ item.url }}.html</td>
											</tr>
										</table>
									</div>
									{% if item.departmentCount > 0 %}
										<div id="tooltip-departments-{{ item.departmentId }}" class="tooltip">
											<h3>Departments</h3>
											<ul>
												{% for department in item.departments|explode('|') %}
													{% if department != '' %}
														<li>{{ department }}</li>
													{% endif %}
												{% endfor %}
											</ul>
											</table>
										</div>
									{% endif %}
								{% endfor %}
							{% else %}
								<p class="no-results">Sorry, no {{ data.settings.multipleDescription }} were found.</p>
							{% endif %}
						</div>
						<div class="clear"></div>
						{% include 'WebIlluminationAdminBundle:System:listingPagination.html.twig' with {'data': data} %}
			        	<div class="clear"></div>
			        	<div class="padding-15 padding-top-5">
				        	<div id="float-buttons" class="clearfix">
						        <div id="float-buttons-content" class="float-buttons clearfix buttons">
						        	<input type="hidden" value="0" id="form-delete" name="delete" />
						        	{% if data.parentId > 0 %}
							        	<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': data.department.parentId}) }}" id="button-go-back" class="fr ui-corner-right button icon-set-white ui-button-black" data-icon-primary="ui-icon-circle-arrow-left">Go Back</a>
							        {% endif %}
							        {% if data.items|length > 0 %}
							        	<button class="fr button ui-corner-{% if data.parentId == 0 %}right{% else %}none{% endif %} icon-set-white ui-button-red action-confirm-multiple-delete" data-icon-primary="ui-icon-circle-cross">Delete Selected</button>
							        	<button type="submit" class="fr button ui-corner-none icon-set-white ui-button-green" data-icon-primary="ui-icon-circle-tick">Update Selected</button>
						        	{% endif %}
						        	<a href="{{ path('admin_'~data.settings.multiplePath~'_add', {'parentId': data.parentId}) }}" class="fr button ui-corner-left icon-set-white ui-button-green" data-icon-primary="ui-icon-circle-plus">Add a {{ data.settings.singleTitle }}</a>
							    </div>
							</div>
			        	</div>
					</form>
				</section>
	        </div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':indexScript.js.twig' with {'data': data} %}
{% endblock %}