{% extends '::admin.html.twig' %}
{% block title %}{{ data.item.name }} - Product Features | {{ parent() }}{% endblock %}
{% block leftmenu %}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemLeftMenu.html.twig' with {'data': data} %}  
{% endblock %}
{% block header %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemHeader.html.twig' with {'data': data} %}
{% endblock %}
{% block body %}
    <section class="container_6 clearfix">
    	<form class="form has-validation" id="form-update" method="post" action="{{ data.formAction }}">
	    	<div class="grid_6">
				<div id="confirm-multiple-delete" class="info-message ui-helper-hidden">
	    			<div class="fr no-margin no-padding">
			        	<button class="fl button ui-corner-left ui-button-black action-cancel-multiple-delete">Cancel</button>
			        	<button class="fl button ui-corner-right icon-set-white ui-button-red action-multiple-delete" data-icon-primary="ui-icon-circle-cross">Confirm Delete</button>
			        </div>
					<span class="info-message-icon ui-icon ui-icon-help"></span>
					<p><strong>WARNING:</strong> Are you sure you want to delete the selected product features below?</p>
					<div class="clear"></div>
				</div>
				{% if data.productsUpdated %}
                	{% if data.productUpdates|length > 0 %}
                		<div id="product-updates">
							<div class="success-message">
								<span class="ui-icon ui-icon-circle-check"></span>
								<p>The products for this department have been updated:</p>
								<div class="clear"></div>
							</div>
							<div class="update-list">
								<button type="button" data-object-to-hide="product-updates" class="fr small action-hide button ui-corner-none ui-button-red icon-set-white" data-icon-primary="ui-icon-circle-cross" data-icon-only="true">Delete</button>
								<h5>Product Updates</h5>
								<div class="scrollable">
									{% for productUpdate in data.productUpdates %}
										{{ productUpdate|raw }}
									{% endfor %}
								</div>
							</div>
                		</div>
					{% endif %}
				{% endif %}
				<div class="info-message">
					<span class="info-message-icon ui-icon ui-icon-info"></span>
					<p>Setup what product features you want this department to include. Any product directly added to this department will then automatically include these product features.</p>
					<div class="clear"></div>
				</div>
				<div id="add" class="portlet margin-bottom-15 ui-helper-hidden">
					<header>
	           			<h2>Add a Product Feature</h2>
	                </header>
					<section class="no-padding">
						<div id="listing" class="position-relative">
							<table class="data-table" id="data-add" width="100%">
								<thead>
									<tr>
										<th width="19" class="ac"><input type="checkbox" class="action-select-all-add" value="1" /></th>
										<th class="al">Product Feature Group</th>
										<th class="ac">Default Product Feature</th>
										<th class="ac">Filter?</th>
										<th class="ac">Listing?</th>
										<th class="ac">Product?</th>
									</tr>
								</thead>
								<tbody>
									<tr id="add-row" class="item-add ui-helper-hidden">
										<td width="19" class="ac select-add">
											<input type="checkbox" class="no-uniform action-select-add" data-id="listing-add-select" id="listing-add-select-1" data-name="add-select" name="add-select[1]" value="1" />
											<input type="hidden" data-id="listing-add-item" id="listing-add-item-1" data-name="add-item" name="add-item[1]" value="1" />
										</td>
										<td class="al">
											<select data-add-required="required" data-message="Select Product Feature Group" data-id="listing-add-product-feature-group-id" id="listing-add-product-feature-group-id-1" data-name="add-product-feature-group-id" name="add-product-feature-group-id[1]" class="product-feature-group no-uniform full">
												<option value="">- PLEASE SELECT -</option>
												{% for productFeatureGroup in data.productFeatureGroups %}
													{% if '|'~productFeatureGroup.id~'|' not in data.existingProductFeatureGroupIds %}
														<option value="{{ productFeatureGroup.id }}">{{ productFeatureGroup.productFeatureGroup }}</option>
													{% endif %}
												{% endfor %}
											</select>
										</td>
										<td class="ac">
											<select data-id="listing-add-default-product-feature-id" id="listing-add-default-product-feature-id-1" data-name="add-default-product-feature-id" name="add-default-product-feature-id[1]" class="no-uniform full">
												<option value="0">- SELECT A PRODUCT FEATURE GROUP -</option>
											</select>
										</td>
										<td width="19" class="ac">
											<input type="checkbox" class="no-uniform" data-id="listing-add-display-on-filter" id="listing-add-display-on-filter-1" data-name="add-display-on-filter" name="add-display-on-filter[1]" value="1" />
										</td>
										<td width="19" class="ac">
											<input type="checkbox" class="no-uniform" data-id="listing-add-display-on-listing" id="listing-add-display-on-listing-1" data-name="add-display-on-listing" name="add-display-on-listing[1]" value="1" />
										</td>
										<td width="19" class="ac">
											<input type="checkbox" class="no-uniform" data-id="listing-add-display-on-product" id="listing-add-display-on-product-1" data-name="add-display-on-product" name="add-display-on-product[1]" value="1" checked="checked" />
										</td>
									</tr>
								</tbody>
							</table>
						</div>
			        	<div class="clear"></div>
		        		<div class="clearfix padding-10">
		        			<button type="button" class="fr small button icon-set-white ui-corner-right ui-button-black action-close-add" data-icon-primary="ui-icon-arrow-up">Close</button>
		        			<button type="button" class="fr small button icon-set-white ui-corner-none ui-button-red action-multiple-delete-add" data-icon-primary="ui-icon-circle-cross">Delete Selected</button>
			        		<button type="button" class="fr small button icon-set-white ui-corner-none ui-button-green action-add-another" data-icon-primary="ui-icon-circle-plus">Add Another</button>
			        		<button id="button-listing-add-go-back" type="button" class="fr small button icon-set-white ui-corner-none ui-button-green" data-icon-primary="ui-icon-circle-tick">Save &amp; Go Back</button>
			        		<button id="button-listing-add" type="button" class="fr small button icon-set-white ui-corner-left ui-button-green" data-icon-primary="ui-icon-circle-tick">Save</button>
						</div>
					</section>
		        </div>
	    		<div class="portlet">
					<header>
						<button type="button" class="portlet-header-button button ui-button-grey icon-set-black fr action-add" data-icon-primary="ui-icon-circle-plus">Add a Product Feature</button>
	           			<h2>Product Features</h2>
	                </header>
					<section class="no-padding">
						<div class="form-element clearfix no-margin-top">
                			<span data-help-container="get-templates-from-department" class="info-message-icon ui-icon ui-icon-help"></span>
					        <label for="form-parent-id" class="form-label">Get from Department</label>
					        <div class="form-input">
					        	<table width="100%" class="no-padding">
									<tr>
										<td>
											<select id="form-get-product-features-from-department" class="extra-action no-margin full">
												<option value="">- Select Department -</option>
												{% for department in data.departments %}
													<option value="getProductFeaturesFromDepartment|{{ department.id }}">{% if department.level > 0 %}{% for level in 1..department.level %}&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}{% endif %}{{ department.name }}</option>
												{% endfor %}
											</select>
										</td>
										<td width="10">&nbsp;</td>
										<td width="200">
											<div class="position-relative margin-right-10">
												<input placeholder="Find a department&hellip;" type="text" id="search-department" class="embedded-icon no-margin full" value="" />
												<span class="icon-embedded ui-button-icon-primary ui-icon ui-icon-search no-margin"></span>
											</div>
										</td>
									</tr>
								</table>
					        </div>
					    </div>
					    <div id="form-help-get-templates-from-department" class="form-help ui-helper-hidden">
					    	<p>If you want to copy the product features used by another department find and select the department you want to copy the product features from.</p>
					    </div>
						<div id="listing" class="position-relative">
							<div class="listing-settings">
								<div class="fr filter-listing-container">
									<button type="button" class="button ui-button-black ui-corner-right icon-set-white fr extra-action" data-extra-action="updateProductsFromTemplates" data-icon-primary="ui-icon-refresh">Update Products from Templates</button>
									<button type="button" class="button ui-button-black ui-corner-left icon-set-white fr" data-icon-primary="ui-icon-shopping-basket">View Products</button>
								</div>
							    <div class="clear"></div>
							</div>
							{% if data.items|length > 0 %}
								<table class="data-table sortable" id="data" width="100%">
									<thead>
										<tr>
											<th>&nbsp;</th>
											<th width="19" class="ac"><input type="checkbox" class="action-select-all" value="1" /></th>
											<th class="ar" width="1">&nbsp;</th>
											<th class="al">Product Feature Group</th>
											<th class="ac">Default Product Feature</th>
											<th class="ac">Filter?</th>
											<th class="ac">Listing?</th>
											<th class="ac">Product?</th>
										</tr>
									</thead>
									<tbody>
										{% for item in data.items %}
											<tr class="item" id="item-{{ item.id }}">
												<td width="17" class="ac">
													<img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
													<input type="hidden" class="listing-display-order" name="display-order[{{ item.id }}]" id="display-order-{{ item.id }}" data-id="{{ item.id }}" value="{{ item.displayOrder }}" />
												</td>
												<td width="19" class="ac select">
													<input data-id="{{ item.id }}" type="checkbox" class="action-select" name="select[{{ item.id }}]" id="listing-select-{{ item.id }}" value="1" />
												</td>
												<td width="1" class="ar">{{ loop.index }}</td>
												<td class="al">
													<select data-id="{{ item.id }}" required="required" data-message="Select Product Feature Group" id="listing-product-feature-group-id-{{ item.id }}" name="product-feature-group-id[{{ item.id }}]" class="product-feature-group full">
														<option value="">- PLEASE SELECT -</option>
														{% for productFeatureGroup in data.productFeatureGroups %}
															<option{% if item.productFeatureGroupId == productFeatureGroup.id %} selected="selected"{% endif %} value="{{ productFeatureGroup.id }}">{{ productFeatureGroup.productFeatureGroup }}</option>
														{% endfor %}
													</select>
												</td>
												<td class="al">
													<select data-id="{{ item.id }}" id="listing-default-product-feature-id-{{ item.id }}" name="default-product-feature-id[{{ item.id }}]" class="full">
														<option value="0">- NOT SET -</option>
														{% for productFeature in data.productFeatures %}
															{% if item.productFeatureGroupId == productFeature.productFeatureGroupId %}
																<option{% if item.defaultProductFeatureId == productFeature.id %} selected="selected"{% endif %} value="{{ productFeature.id }}">{{ productFeature.productFeature }}</option>
															{% endif %}
														{% endfor %}
													</select>
												</td>
												<td width="19" class="ac">
													<input data-id="{{ item.id }}" type="checkbox" name="display-on-filter[{{ item.id }}]" id="listing-display-on-filter-{{ item.id }}"{% if item.displayOnFilter == 1 %} checked="checked"{% endif %} value="1" />
												</td>
												<td width="19" class="ac">
													<input data-id="{{ item.id }}" type="checkbox" name="display-on-listing[{{ item.id }}]" id="listing-display-on-listing-{{ item.id }}"{% if item.displayOnListing == 1 %} checked="checked"{% endif %} value="1" />
												</td>
												<td width="19" class="ac">
													<input data-id="{{ item.id }}" type="checkbox" name="display-on-product[{{ item.id }}]" id="listing-display-on-product-{{ item.id }}"{% if item.displayOnProduct == 1 %} checked="checked"{% endif %} value="1" />
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
							{% else %}
								<p class="no-results">Sorry, no product features were found.</p>
							{% endif %}
						</div>
			        	<div class="clear"></div>
		        		<div id="float-buttons" class="clearfix padding-15">
					        <div id="float-buttons-content" class="float-buttons clearfix buttons no-margin">
					        	<input type="hidden" value="" id="form-extra-action" name="extra-action" />
					        	<input type="hidden" value="0" id="form-delete" name="delete" />
				        		<input type="hidden" value="0" id="form-go-back" name="go-back" />
				        		<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': data.item.parentId}) }}" id="button-go-back" class="fr icon-set-white ui-corner-right button ui-button-black" data-icon-primary="ui-icon-circle-arrow-left">Go Back</a>
				        		<button class="fr button icon-set-white ui-corner-none ui-button-red action-confirm-multiple-delete" data-icon-primary="ui-icon-circle-cross">Delete Selected</button>
				        		<button id="button-update-go-back" type="submit" class="fr button icon-set-white ui-corner-none ui-button-green" data-icon-primary="ui-icon-circle-tick">Update Selected &amp; Go Back</button>
				        		<button id="button-update" type="submit" class="fr button icon-set-white ui-corner-left ui-button-green" data-icon-primary="ui-icon-circle-tick">Update Selected</button>
						    </div>
						</div>
					</section>
		        </div>
			</div>
		</form>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemScript.js.twig' with {'data': data} %}
{% endblock %}