{% extends '::admin.html.twig' %}
{% block title %}{{ data.item.name }} - Delivery | {{ parent() }}{% endblock %}
{% block leftmenu %}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemLeftMenu.html.twig' %}  
{% endblock %}
{% block header %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemHeader.html.twig' with {'data': data} %}
{% endblock %}
{% block body %}
	<section class="container_6 clearfix">
    	<div class="grid_6">
        	<div class="portlet">
            	<header>
           			<h2>Delivery</h2>
                </header>
                <section>
                	<form class="form has-validation" id="form-update" method="post" action="{{ data.formAction }}">
                		<div class="form-element clearfix no-margin-top">
                			<span data-help-container="delivery-band" class="info-message-icon-left ui-icon ui-icon-help"></span>
					        <label for="form-delivery-band" class="form-label">Delivery</label>
					        <div class="form-input{% if data.item.deliveryBand < 1 %} red{% endif %}">
					        	<select class="delivery-band" id="form-delivery-band" name="delivery-band">
					        		<option value="0"{% if data.item.deliveryBand == 0 %} selected="selected"{% endif %}>- Not Set -</option>
					        		<option value="1"{% if data.item.deliveryBand == 1 %} selected="selected"{% endif %}>Band 1</option>
							        <option value="2"{% if data.item.deliveryBand == 2 %} selected="selected"{% endif %}>Band 2</option>
							        <option value="3"{% if data.item.deliveryBand == 3 %} selected="selected"{% endif %}>Band 3</option>
							        <option value="4"{% if data.item.deliveryBand == 4 %} selected="selected"{% endif %}>Band 4</option>
							        <option value="5"{% if data.item.deliveryBand == 5 %} selected="selected"{% endif %}>Band 5</option>
					        	</select>
					        </div>
					    </div>
					    <div id="form-help-delivery-band" class="form-help ui-helper-hidden">
					    	<p>The delivery band is the default delivery band setting for the department. Each sub department and any product associated with this department will use this delivery band setting unless the sub department or product has their own delivery band set, which will override this setting.</p>
					    </div>
					    <div class="form-element clearfix no-margin-top">
                			<span data-help-container="check-delivery-band" class="info-message-icon-left ui-icon ui-icon-help"></span>
					        <label for="form-check-delivery-band" class="form-label">Check Delivery Bands</label>
					        <div class="form-input">
					        	<label><input type="radio" name="check-delivery-band" id="form-check-delivery-band-1" value="1"{% if data.item.checkDeliveryBand == 1 %} checked="checked"{% endif %} /> Yes</label>
					        	<label><input type="radio" name="check-delivery-band" id="form-check-delivery-band-0" value="0"{% if data.item.checkDeliveryBand == 0 %} checked="checked"{% endif %} /> No</label>
					        </div>
					    </div>
					    <div id="form-help-check-delivery-band" class="form-help ui-helper-hidden">
					    	<p>The delivery band is automatically applied to new products from the department. In certain situations there may be a number of products in a department where the delivery band may vary. In this scenario you may want the delivery band checked to ensure the products weight and dimensions have been accounted for and the product has the correct delivery band.</p>
					    </div>
					    <div class="tabs margin-top-10">
                            <ul>
                            	<li><a id="listing-title-brands" href="#tab-brands">Brands ({{ data.brands|length }})</a></li>
                            	<li><a id="listing-title-products" href="#tab-products">Products ({{ data.products|length }})</a></li>
                            </ul>
                        	<section id="tab-brands" class="listing no-padding">
                        		{% if data.brands|length > 0 %}
									<table class="data-table" width="100%">
										<thead>
											<tr>
												<th class="al">Brand</th>
												<th class="ac">Delivery</th>
											</tr>
										</thead>
										<tbody>
											{% for brand in data.brands %}
					                        	{% for brandToDepartment in data.brandToDepartments %}
					                        		{% if brandToDepartment.brandId == brand.brandId %}
														<tr class="item">
															<td class="al small">
																<a href="{{ path('admin_brands_update', {'id': brand.brandId}) }}">{{ brand.brand }}</a>
															</td>
															<td width="1" class="ac{% if brandToDepartment.deliveryBand < 1 %} red{% endif %}">
																<select class="delivery-band" id="form-brand-delivery-band-{{ brandToDepartment.id }}" name="brand-delivery-bands[{{ brandToDepartment.id }}]">
													        		<option value="0"{% if brandToDepartment.deliveryBand == 0 %} selected="selected"{% endif %}>- Not Set -</option>
													        		<option value="1"{% if brandToDepartment.deliveryBand == 1 %} selected="selected"{% endif %}>Band 1</option>
															        <option value="2"{% if brandToDepartment.deliveryBand == 2 %} selected="selected"{% endif %}>Band 2</option>
															        <option value="3"{% if brandToDepartment.deliveryBand == 3 %} selected="selected"{% endif %}>Band 3</option>
															        <option value="4"{% if brandToDepartment.deliveryBand == 4 %} selected="selected"{% endif %}>Band 4</option>
															        <option value="5"{% if brandToDepartment.deliveryBand == 5 %} selected="selected"{% endif %}>Band 5</option>
													        	</select>
															</td>
														</tr>
													{% endif %}
					                            {% endfor %}
					                        {% endfor %}
										</tbody>
									</table>
								{% endif %}
                            </section>
                            <section id="tab-products" class="listing no-padding">
                            	<div class="listing-settings">
									<div class="fl">
										<div class="listing-settings-title fl">Filter By Brand</div>
										<select class="fl filter-listing" data-listing-title="Products" data-listing-object="products" data-filter="brand-id">
											<option value="">All Brands</option>
											{% for brand in data.brands %}
					                        	<option value="{{ brand.brandId }}">{{ brand.brand }}</option>
					                        {% endfor %}
										</select>
									</div>
								    <div class="clear"></div>
								</div>
                            	{% if data.products|length > 0 %}
									<table class="data-table" id="listing-products" width="100%">
										<thead>
											<tr>
												<th class="al">Product</th>
												<th class="ac">Brand</th>
												<th class="ac">Delivery</th>
											</tr>
										</thead>
										<tbody>
											{% for product in data.products %}
												<tr class="item" data-brand-id="{{ product.brandId }}">
													<td class="al small">
														<a href="{{ path('admin_products_update', {'id': product.productId}) }}">{{ product.pageTitle }}</a>
													</td>
													<td class="ac small">{{ product.brand }}</td>
													<td width="1" class="ac{% if product.deliveryBand < 1 %} red{% endif %}">
														<select class="delivery-band" id="form-product-delivery-band-{{ product.productId }}" name="product-delivery-bands[{{ product.productId }}]">
											        		<option value="0"{% if product.deliveryBand == 0 %} selected="selected"{% endif %}>- Not Set -</option>
											        		<option value="1"{% if product.deliveryBand == 1 %} selected="selected"{% endif %}>Band 1</option>
													        <option value="2"{% if product.deliveryBand == 2 %} selected="selected"{% endif %}>Band 2</option>
													        <option value="3"{% if product.deliveryBand == 3 %} selected="selected"{% endif %}>Band 3</option>
													        <option value="4"{% if product.deliveryBand == 4 %} selected="selected"{% endif %}>Band 4</option>
													        <option value="5"{% if product.deliveryBand == 5 %} selected="selected"{% endif %}>Band 5</option>
											        	</select>
													</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								{% endif %}
                            </section>
                        </div>
					    <div id="float-buttons" class="clearfix">
					        <div id="float-buttons-content" class="float-buttons clearfix buttons">
				        		<input type="hidden" value="0" id="form-go-back" name="go-back" />
				        		<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': data.item.parentId}) }}" id="button-go-back" class="fr ui-corner-none ui-corner-tr ui-corner-br button ui-button-blue" data-icon-primary="ui-icon-triangle-1-w">Go Back</a>			        		
				        		<button id="button-update-go-back" type="submit" class="fr button ui-corner-none ui-button-green" data-icon-primary="ui-icon-check">Update &amp; Go Back</button>
				        		<button id="button-update" type="submit" class="fr button ui-corner-none ui-corner-tl ui-corner-bl ui-button-green" data-icon-primary="ui-icon-check">Update</button>
						    </div>
						</div>
					</form>
                </section>
            </div>
        </div>
	    <div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemScript.js.twig' with {'data': data} %}
{% endblock %}