<script type="text/javascript" defer="defer">
	
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemFunctions.js.twig' with {'data': data} %}
	
	$(document).ready(function() {
		{# Setup the product feature list #}
		{% if data.productFeatures is defined %}
			var productFeatures = [
				{% for productFeature in data.productFeatures %}
					{
						id:  "{{ productFeature.id }}",
						productFeatureGroupId: "{{ productFeature.productFeatureGroupId }}",
						productFeature: "{{ productFeature.productFeature|raw }}"
					}{% if not loop.last %},{% endif %}
				{% endfor %}
			];
			$(".product-feature-group").live('change', function() {
				var $productFeatureGroupId = $(this).val();
				var $productFeatureObject = $(this).parent().parent().next().find("select");
				$productFeatureObject.find("option").remove();
				$productFeatureObject.append('<option value="0" selected="selected">- NOT SET -</option>');
				$productFeatureObject.prev().html('- NOT SET -');
				for (var $loopCount = 0; $loopCount < productFeatures.length; $loopCount++)
				{
					if (productFeatures[$loopCount]['productFeatureGroupId'] == $productFeatureGroupId)
					{
						$productFeatureObject.append('<option value="'+productFeatures[$loopCount]['id']+'">'+productFeatures[$loopCount]['productFeature']+'</option>');
					}
				}
			});
		{% endif %}
		
		{# Setup the department list #}
		{% if data.departments is defined %}
			var departments = [
				{% for department in data.departments %}
					{
						value: "{{ department.id }}",
						label: "{{ department.name|raw }}"
					}{% if not loop.last %},{% endif %}
				{% endfor %}
			];
		{% endif %}
		
		{# Setup the taxonomy list #}
		{% if data.taxonomy.google is defined %}
			var googleDepartments = [
				{% for googleDepartment in data.taxonomy.google %}
					{
						value: "{{ googleDepartment.name|raw }}",
						label: "{{ googleDepartment.name|raw }}"
					}{% if not loop.last %},{% endif %}
				{% endfor %}
			];
		{% endif %}
		
		{# Setup the searches #}
		{% if data.departments is defined %}
			$("#search-department").autocomplete({
				source: departments,
				select: function(event, ui) {
					$("#form-parent-id").val(ui.item.label);
					$("#uniform-form-parent-id span").html($("#form-parent-id option[value='"+ui.item.value+"']").text());
					$("#form-parent-id option").removeAttr("selected");
					$("#form-parent-id option[value='"+ui.item.value+"']").attr("selected", "selected");
					$("#search-department").val("");
					return false;
				}
			});
		{% endif %}
		{% if data.taxonomy.google is defined %}
			$("#search-google-department").autocomplete({
				source: googleDepartments,
				select: function(event, ui) {
				$("#form-google-department").val(ui.item.label);
					$("#uniform-form-google-department span").html($("#form-google-department option[value='"+ui.item.value+"']").text());
					$("#form-google-department option").removeAttr("selected");
					$("#form-google-department option[value='"+ui.item.value+"']").attr("selected", "selected");
					$("#search-google-department").val("");
					return false;
				}
			});
		{% endif %}
		
		{# Update the colours of the status #}
		$("#form-status").live('change', function() {
			var $status = $(this).val();
			var $statusColour = '';
			switch ($status)
			{
				case 'a':
					$statusColour = 'green';
					break;
				case 'h':
					$statusColour = 'yellow';
					break;
				case 'd':
					$statusColour = 'red';
					break;
			}
			$(this).parent().parent().removeClass("green yellow red").addClass($statusColour);
		});
		
		{# Update the colours of the delivery band #}
		$(".delivery-band").live('change', function() {
			if ($(this).val() < 1)
			{
				$(this).parent().parent().removeClass("red").addClass("red");
			} else {
				$(this).parent().parent().removeClass("red");
			}
			
		});
		
		{# Show prices out of hours #}
		$("input[name=hide-prices]").change(function() {
		    if ($(this).val() === '1') {
		        $("#show-prices-out-of-hours-container").fadeIn();
		    } else {
		        $("#show-prices-out-of-hours-container").fadeOut();
		    }
		});
		
		{# Show maximum membership card discount #}
		$("input[name=membership-card-discount-available]").change(function() {
		    if ($(this).val() === '1') {
		        $("#maximum-membership-card-discount-container").fadeIn();
		    } else {
		        $("#maximum-membership-card-discount-container").fadeOut();
		    }
		});
	});
</script>