{% extends '::admin.html.twig' %}
{% block title %}{{ data.item.name }} - Templates | {{ parent() }}{% endblock %}
{% block leftmenu %}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemLeftMenu.html.twig' %}  
{% endblock %}
{% block header %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemHeader.html.twig' with {'data': data} %}
{% endblock %}
{% block body %}
	<section class="container_6 clearfix">
    	<div class="grid_6">
        	<div class="portlet">
            	<header>
           			<h2>Product Templates</h2>
                </header>
                <section>
                	<form class="form has-validation" id="form-update" method="post" action="{{ data.formAction }}">
                    	<div class="info-message">
							<span class="info-message-icon ui-icon ui-icon-info"></span>
							<p>The product templates allow you to build page title, header and meta description templates for the products in this department. These templates ensure the SEO for the products are relevant, consistent and more importantly set. The template is followed for all new products added to this department.</p>
							<p>Any updates you make to the templates automatically update the products unless the products are manually overridden.</p>
							<div class="clear"></div>
						</div>
                        <div class="clearfix">
                            <div class="form-element clearfix no-margin-top">
						    	<span data-help-container="page-title-template" class="info-message-icon-right ui-icon ui-icon-help"></span>
						        <label for="form-page-title-template" class="al form-label">Page Title Text in Browser Template</label>
						        <div class="clear"></div>
						        <div class="form-input no-margin">
						        	<div class="margin-top-5 margin-bottom-5">
							        	<table width="100%">
											<tr>
												<td>
													<select data-flat-sortable-list-object="page-title-template" class="flat-sortable-list-parts no-margin full">
														<option value="">- Add New Part -</option>
														<option value="freeText">Free Text</option>
														<option value="brand">Brand</option>
														<option value="productCode">Product Code</option>
														<option value="department">Department</option>
														<option value="productExtraKeyword">Product Extra Keyword</option>
														<option value="keyMessage">Key Message</option>
														<optgroup label="Symbols">
															<option value="freeText">×</option>
															<option value="freeText">⌀</option>
															<option value="freeText">°</option>
															<option value="freeText">²</option>
															<option value="freeText">³</option>
														</optgroup>
														{% if data.productFeatureGroups|length > 0 %}
															<optgroup label="Feature Groups">
															{% for productFeatureGroup in data.productFeatureGroups %}
																<option value="productFeatureGroup|{{ productFeatureGroup.id }}">Feature Group: {{ productFeatureGroup.productFeatureGroup }}</option>
															{% endfor %}
															</optgroup>
														{% endif %}
													</select>
												</td>
												<td width="10">&nbsp;</td>
												<td width="200">
													<input class="full free-text" disabled="disabled" placeholder="Enter free text&hellip;" type="text" data-flat-sortable-list-object="page-title-template" value="" />
												</td>
												<td width="10">&nbsp;</td>
												<td width="1">
													<button type="button" data-flat-sortable-list-object="page-title-template" class="button action-add-flat-sortable-list-item ui-button-green icon-set-white" data-icon-primary="ui-icon-circle-plus">Add</button>
												</td>
											</tr>
										</table>
						        	</div>
						        	<div class="clear"></div>
						        	<div class="flat-sortable-list">
						        		<ul id="flat-sortable-list-page-title-template">
						        			{% if data.pageTitleTemplate %}
						        				{{ data.pageTitleTemplate|raw }}
						        			{% else %}
							        			<li data-flat-sortable-list-object="page-title-template" id="flat-sortable-list-page-title-item-1" data-value="brand">Brand<a class="action-delete-flat-sortable-list-item button ui-button-red ui-corner-right icon-set-white" data-icon-primary="ui-icon-circle-cross" data-icon-only="true">Delete</a></li>
							        			<li data-flat-sortable-list-object="page-title-template" id="flat-sortable-list-page-title-item-2" data-value="productCode">Product Code<a class="action-delete-flat-sortable-list-item button ui-button-red ui-corner-right icon-set-white" data-icon-primary="ui-icon-circle-cross" data-icon-only="true">Delete</a></li>
							        			<li data-flat-sortable-list-object="page-title-template" id="flat-sortable-list-page-title-item-3" data-value="department">Department<a class="action-delete-flat-sortable-list-item button ui-button-red ui-corner-right icon-set-white" data-icon-primary="ui-icon-circle-cross" data-icon-only="true">Delete</a></li>
							        			<li data-flat-sortable-list-object="page-title-template" id="flat-sortable-list-page-title-item-4" data-value="extraProductKeyword">Extra Product Keyword<a class="action-delete-flat-sortable-list-item button ui-button-red ui-corner-right icon-set-white" data-icon-primary="ui-icon-circle-cross" data-icon-only="true">Delete</a></li>
							        		{% endif %}
						        		</ul>
						        		<div class="clear"></div>
						        	</div>
						        	<input class="flat-sortable-list-values" type="hidden" data-flat-sortable-list-object="page-title-template" id="form-page-title-template" name="page-title-template" value="{{ data.item.pageTitleTemplate }}" />
						        </div>
						        {% if data.pageTitleTemplateProductPreviews|length > 0 %}
							        <div class="preview-list">
							        	<h5>Previews</h5>
							        	<div class="scrollable">
							        		<table width="100%">
							        			{% for pageTitleTemplateProductPreview in data.pageTitleTemplateProductPreviews %}
									        		{% if pageTitleTemplateProductPreview != '' %}
									        			<tr>
									        				<td>{{ pageTitleTemplateProductPreview }}</td>
									        			</tr>
													{% endif %}
												{% endfor %}
							        		</table>								        	
							        	</div>
							        </div>
							    {% endif %}
						    </div>
						    <div id="form-help-page-title-template" class="form-help ui-helper-hidden">
						    	<p>The page title template is the template used by the products that are directly within this department to automatically generate the page title. Please note this template is only used by products that are in this department. If a product is in a sub department that is within this department then the template from the sub department will be used instead.</p>
						    </div>
						    <div class="form-element clearfix">
						    	<span data-help-container="header-template" class="info-message-icon-right ui-icon ui-icon-help"></span>
						        <label for="form-header-template" class="al form-label">Product Listing Text Header Template</label>
						        <div class="form-input no-margin">
						        	<div class="margin-top-5 margin-bottom-5">
							        	<table width="100%">
											<tr>
												<td>
													<select data-flat-sortable-list-object="header-template" class="flat-sortable-list-parts no-margin full">
														<option value="">- Add New Part -</option>
														<option value="freeText">Free Text</option>
														<option value="brand">Brand</option>
														<option value="productCode">Product Code</option>
														<option value="department">Department</option>
														<option value="productExtraKeyword">Product Extra Keyword</option>
														<option value="keyMessage">Key Message</option>
														<optgroup label="Symbols">
															<option value="freeText">×</option>
															<option value="freeText">⌀</option>
															<option value="freeText">°</option>
															<option value="freeText">²</option>
															<option value="freeText">³</option>
														</optgroup>
														{% if data.productFeatureGroups|length > 0 %}
															<optgroup label="Feature Groups">
															{% for productFeatureGroup in data.productFeatureGroups %}
																<option value="productFeatureGroup|{{ productFeatureGroup.id }}">Feature Group: {{ productFeatureGroup.productFeatureGroup }}</option>
															{% endfor %}
															</optgroup>
														{% endif %}
													</select>
												</td>
												<td width="10">&nbsp;</td>
												<td width="200">
													<input class="full free-text" disabled="disabled" placeholder="Enter free text&hellip;" type="text" data-flat-sortable-list-object="header-template" value="" />
												</td>
												<td width="10">&nbsp;</td>
												<td width="1">
													<button type="button" data-flat-sortable-list-object="header-template" class="button action-add-flat-sortable-list-item ui-button-green icon-set-white" data-icon-primary="ui-icon-circle-plus">Add</button>
												</td>
											</tr>
										</table>
						        	</div>
						        	<div class="flat-sortable-list">
						        		<ul id="flat-sortable-list-header-template">
						        			{% if data.headerTemplate %}
						        				{{ data.headerTemplate|raw }}
							        		{% endif %}
						        		</ul>
						        		<div class="clear"></div>
						        	</div>
						        	<input class="flat-sortable-list-values" type="hidden" data-flat-sortable-list-object="header-template" id="form-header-template" name="header-template" value="{{ data.item.headerTemplate }}" />
						        </div>
						        {% if (data.headerTemplateProductPreviews|length > 0) and (data.item.headerTemplate != '') %}
							        <div class="preview-list">
							        	<h5>Previews</h5>
							        	<div class="scrollable">
							        		<table width="100%">
							        			{% for headerTemplateProductPreview in data.headerTemplateProductPreviews %}
									        		{% if headerTemplateProductPreview != '' %}
									        			<tr>
									        				<td>{{ headerTemplateProductPreview }}</td>
									        			</tr>
													{% endif %}
												{% endfor %}
							        		</table>								        	
							        	</div>
							        </div>
							    {% endif %}
						    </div>
						    <div id="form-help-header-template" class="form-help ui-helper-hidden">
						    	<p>The header template is the template used by the products that are directly within this department to automatically generate the header text that is displayed on the product listings. Please note this template is only used by products that are in this department. If a product is in a sub department that is within this department then the template from the sub department will be used instead.</p>
						    </div>
						    <div class="form-element clearfix">
						    	<span data-help-container="meta-description-template" class="info-message-icon-right ui-icon ui-icon-help"></span>
						        <label for="form-meta-description-template" class="al form-label">Meta Description Text Template</label>
						        <div class="form-input no-margin">
						        	<div class="margin-top-5 margin-bottom-5">
							        	<table width="100%">
											<tr>
												<td>
													<select data-flat-sortable-list-object="meta-description-template" class="flat-sortable-list-parts no-margin full">
														<option value="">- Add New Part -</option>
														<option value="freeText">Free Text</option>
														<option value="brand">Brand</option>
														<option value="productCode">Product Code</option>
														<option value="department">Department</option>
														<option value="productExtraKeyword">Product Extra Keyword</option>
														<option value="keyMessage">Key Message</option>
														<optgroup label="Symbols">
															<option value="freeText">×</option>
															<option value="freeText">⌀</option>
															<option value="freeText">°</option>
															<option value="freeText">²</option>
															<option value="freeText">³</option>
														</optgroup>
														{% if data.productFeatureGroups|length > 0 %}
															<optgroup label="Feature Groups">
															{% for productFeatureGroup in data.productFeatureGroups %}
																<option value="productFeatureGroup|{{ productFeatureGroup.id }}">Feature Group: {{ productFeatureGroup.productFeatureGroup }}</option>
															{% endfor %}
															</optgroup>
														{% endif %}
													</select>
												</td>
												<td width="10">&nbsp;</td>
												<td width="200">
													<input class="full free-text" disabled="disabled" placeholder="Enter free text&hellip;" type="text" data-flat-sortable-list-object="meta-description-template" value="" />
												</td>
												<td width="10">&nbsp;</td>
												<td width="1">
													<button type="button" data-flat-sortable-list-object="meta-description-template" class="button action-add-flat-sortable-list-item ui-button-green icon-set-white" data-icon-primary="ui-icon-circle-plus">Add</button>
												</td>
											</tr>
										</table>
						        	</div>
						        	<div class="flat-sortable-list">
						        		<ul id="flat-sortable-list-meta-description-template">
						        			{% if data.metaDescriptionTemplate %}
						        				{{ data.metaDescriptionTemplate|raw }}
							        		{% endif %}
						        		</ul>
						        		<div class="clear"></div>
						        	</div>
						        	<input class="flat-sortable-list-values" type="hidden" data-flat-sortable-list-object="meta-description-template" id="form-meta-description-template" name="meta-description-template" value="{{ data.item.metaDescriptionTemplate }}" />
						        </div>
						        {% if (data.metaDescriptionTemplateProductPreviews|length > 0) and (data.item.metaDescriptionTemplate != '') %}
							        <div class="preview-list">
							        	<h5>Previews</h5>
							        	<div class="scrollable">
							        		<table width="100%">
							        			{% for metaDescriptionTemplateProductPreview in data.metaDescriptionTemplateProductPreviews %}
									        		{% if metaDescriptionTemplateProductPreview != '' %}
									        			<tr>
									        				<td>{{ metaDescriptionTemplateProductPreview }}</td>
									        			</tr>
													{% endif %}
												{% endfor %}
							        		</table>								        	
							        	</div>
							        </div>
							    {% endif %}
						    </div>
						    <div id="form-help-meta-description-template" class="form-help ui-helper-hidden">
						    	<p>The meta description template is the template used by the products that are directly within this department to automatically generate the meta description. Please note this template is only used by products that are in this department. If a product is in a sub department that is within this department then the template from the sub department will be used instead.</p>
						    </div>
                        </div>
					    <div id="float-buttons" class="clearfix">
					        <div id="float-buttons-content" class="float-buttons clearfix buttons">
				        		<input type="hidden" value="0" id="form-go-back" name="go-back" />
				        		<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': data.item.parentId}) }}" id="button-go-back" class="fr ui-corner-right button ui-button-black icon-set-white" data-icon-primary="ui-icon-circle-arrow-left">Go Back</a>			        		
				        		<button id="button-update-go-back" type="submit" class="fr button ui-corner-none ui-button-green icon-set-white" data-icon-primary="ui-icon-circle-tick">Update &amp; Go Back</button>
				        		<button id="button-update" type="submit" class="fr button ui-corner-left ui-button-green icon-set-white" data-icon-primary="ui-icon-circle-tick">Update</button>
						    </div>
						</div>						
					</form>
                </section>
            </div>
        </div>
	    <div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemScript.js.twig' with {'data': data} %}
{% endblock %}