{% if items|length > 0 %}
	<table class="data-table" id="data" width="100%">
		<thead>
			<tr>
				<th width="19" class="ac"><input type="checkbox" class="action-select-all" value="1" /></th>
				<th class="al" colspan="2">Product</th>
				<th class="ac">Code</th>
				<th class="ac">Brand</th>
				<th class="ac">Price</th>
				<th class="ac">Status</th>
				<th class="ac">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for item in items %}	
				<tr class="item {{ item.statusColour }}" id="item-{{ item.productId }}">
					<td width="19" class="ac select"><input data-id="{{ item.productId }}" type="checkbox" class="action-select" id="listing-select-{{ item.productId }}" value="1" /></td>
					<td width="50" class="al small white"><a href="{{ path('admin_'~settings.multipleItemsPath~'_update', {'id': item.productId}) }}"><img src="{{ asset(item.thumbnailPath) }}" border="0" alt="{{ item.header }}" width="50" height="50"></a></td>
					<td class="al small"><a href="{{ path('admin_'~settings.multipleItemsPath~'_update', {'id': item.productId}) }}" data-id="{{ item.productId }}">{{ item.header }}</a><br /><span class="small">{{ item.departmentPaths|replace({' |': '<br />', '|': '<br />'})|raw }}</span></td>
					<td class="ac small">{{ item.productCode }}</td>
					<td class="ac small">{{ item.brand }}</td>
					<td class="ac small no-wrap">{% spaceless %}
						{% if item.recommendedRetailPrice > item.listPrice %}
							<span class="small strikethrough">&pound;{{ item.recommendedRetailPrice|number_format(2) }}</span><br /><span class="small">(-&pound;{{ item.savings|number_format(2) }})</span><br />
						{% endif %}
						&pound;{{ item.listPrice|number_format(2) }}
					{% endspaceless %}</td>
					<td width="85" class="ac small {{ item.statusColour }}">
						<select id="listing-status-{{ item.productId }}" data-id="{{ item.productId }}" class="listing-status full">
							<option{% if item.status == 'a' %} selected="selected"{% endif %} value="a">Active</option>
							<option{% if item.status == 'h' %} selected="selected"{% endif %} value="h">Hidden</option>
							<option{% if item.status == 'd' %} selected="selected"{% endif %} value="d">Disabled</option>
						</select>
					</td>
					<td width="1" class="buttons-container ac no-wrap">
						<img id="buttons-spacer" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="0" alt="" />
						<div class="clear"></div>
						<button data-id="{{ item.productId }}" class="ui-corner-none ui-corner-tr ui-corner-br button ui-button-red action-confirm-delete" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</button>
						<a href="{{ path('admin_'~settings.multipleItemsPath~'_update', {'id': item.productId}) }}" class="ui-corner-none ui-corner-tl ui-corner-bl button" data-icon-primary="ui-icon-pencil" data-icon-only="true">Update</a>
					</td>
				</tr>
				<tr class="ui-helper-hidden more-information" id="more-information-{{ item.productId }}">
					<td colspan="9" class="no-padding">
						<div class="more-information-container no-padding-top">
							<button class="action-close-more-information button ui-button-red ui-corner-none ui-corner-bl ui-corner-br fr" data-icon-primary="ui-icon-closethick" data-icon-only="true">Close</button>
							{% include 'WebIlluminationAdminBundle:'~settings.multipleItemsModel~':listingConfirmDelete.html.twig' with {'settings': settings, 'item': item} %}
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<script type="text/javascript">
		$(document).ready(function() {
			{# Initialise Unifrom #}
			initialiseUniform("data");
		    
		    {# Set the widths of the action buttons #}
			var $actionButtonsWidth = 0;
			$("td.buttons-container:eq(0) .button").each(function() {
				$actionButtonsWidth = $actionButtonsWidth + $(this).outerWidth(true) + 2;
			});
			$("#buttons-spacer").width($actionButtonsWidth).attr("width", $actionButtonsWidth);
		});
	</script>
{% else %}
	<p class="ac">Sorry, no results were found.</p>
{% endif %}