<li class="product-option-container ui-state-highlight" data-index="{{ optionGroupId }}-{{ id }}" id="option-{{ optionGroupId }}-{{ id }}">
	<table width="100%">
		<tbody>
			<tr>
				<td width="9">
					<img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
				</td>
				<td width="1" class="select delete">
					<input data-option-group-id="{{ optionGroupId }}" data-index="{{ optionGroupId }}-{{ id }}" type="checkbox" class="option-select option-select-{{ optionGroupId }}" id="form-option-select-{{ optionGroupId }}-{{ id }}" value="1" />
				</td>
				<td width="140" class="al no-padding-left no-padding-top no-padding-bottom">
					{% if productOptionObjects|length > 0 %}
						<select id="form-option-product-option-id-{{ optionGroupId }}-{{ id }}" class="full option-product-option-id">
							<option value="">- Please Select -</option>
							{% for productOptionObject in productOptionObjects %}
								<option value="{{ productOptionObject.id }}">{{ productOptionObject.productOption }}</option>
							{% endfor %}
						</select>
					{% else %}
						No options found.
					{% endif %}
				</td>
				<td class="ac no-padding-top no-padding-bottom">
					<input data-index="{{ optionGroupId }}-{{ id }}" type="text" class="ac" id="form-option-price-{{ optionGroupId }}-{{ id }}" value="0.00" />
				</td>
				<td width="130" class="ac no-padding-top no-padding-bottom" width="100">
					<select data-index="{{ optionGroupId }}-{{ id }}" id="form-option-price-type-{{ optionGroupId }}-{{ id }}" class="full">
						<option value="a">Fixed (&pound;)</option>
						<option value="p">Percentage (%)</option>
						<option value="r">Replace</option>
					</select>
				</td>
				<td width="110" class="ac no-padding-top no-padding-bottom" width="100">
					<select data-index="{{ optionGroupId }}-{{ id }}" id="form-option-price-use-{{ optionGroupId }}-{{ id }}" class="full">
						<option value="i">Increase (+)</option>
						<option value="d">Decrease (-)</option>
					</select>
				</td>
				<td width="1">
					<input type="hidden" class="option-id" id="form-option-id-{{ optionGroupId }}-{{ id }}" value="0" />
					<input type="hidden" class="option-product-option-group-id" id="form-option-product-option-group-id-{{ optionGroupId }}-{{ id }}" value="{{ optionGroupId }}" />
					<input type="hidden" class="option-display-order" id="form-option-display-order-{{ optionGroupId }}-{{ id }}" value="" />
					<input type="hidden" data-index="{{ optionGroupId }}-{{ id }}" class="option-requires-update" id="form-option-requires-update-{{ optionGroupId }}-{{ id }}" value="1" />
					<button data-option-group-id="{{ optionGroupId }}" data-index="{{ optionGroupId }}-{{ id }}" class="button ui-button-red action-confirm-delete-option" data-icon-only="true" data-icon-primary="ui-icon-closethick">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
</li>