{% block form_step %}
<div class="portlet">
    <header>
        <h2>{{ flow.getCurrentStepDescription() }}</h2>
    </header>
    <section>
        <form class="form has-validation" id="form-add" method="post" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
            {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
            <div class="clearfix">
                {{ form_errors(form) }}
            </div>
            <div class="clearfix">
                <div class="form-input" style="margin-left: 0;">
                    <table class="sortable data-table" id="feature-groups-list" width="100%">
                        <thead>
                            <tr>
                                <th>Feature</th>
                                <th>Group</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in form.features %}
                                <tr>
                                    {{ form_widget(row) }}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% do form.features.setRendered() %}
            </div>

            {{ form_rest(form) }}
            {% include 'WebIlluminationAdminBundle:Product:stepControls.html.twig' %}
        </form>
    </section>
</div>
<script type="text/javascript">
    var count = '{{ form.featureGroups | length }}';

    jQuery(document).ready(function() {
        jQuery('.delete-row').live('click', function() {
            $(this).parent().parent().remove();
        });
        jQuery('.add-row').click(function() {
            var list = jQuery('#feature-groups-list');

            var newItem = list.attr('data-prototype');
            newItem = newItem.replace(/__name__/g, count);
            count++;

            var newRow = jQuery('<tr></tr>').html(newItem);
            newRow.appendTo(list);
            $('select', newRow).uniform();
            $('.button', newRow).button({
                icons: {
                    primary: 'ui-icon-circle-cross'
                },
                text: $(this).attr('data-icon-only') !== 'true'
            });

            return false;
        });
    })
</script>
{% endblock %}