{% for stepDescription in flow.getStepDescriptions() %}
    <li {%- if loop.index == flow.getCurrentStep() -%}{{ ' class="flow_step_current"' }}{%- endif -%}>
        {%- if flow.isAllowDynamicStepNavigation() and (loop.index != flow.getCurrentStep()) and flow.isStepDone(loop.index) and (not flow.hasSkipStep(loop.index)) -%}
            <a class="navicon-set-white navicon-list" href="{{ path(app.request.attributes.get('_route'), app.request.query.all
            | merge(app.request.attributes.get('_route_params'))
            | craue_addDynamicStepNavigationParameter(flow, loop.index)) }}">
                {{- stepDescription | trans -}}
            </a>
        {%- else -%}
            <a class="{%- if loop.index > flow.getCurrentStep() -%}navicon-set-black{% else %}navicon-set-white{% endif %} navicon-list disabled" href="#">{{- stepDescription | trans -}}</a>
        {%- endif -%}
        <div class="button-notification">{{ loop.index }}</div>
    </li>
{% endfor %}