{# Forms #}
{% extends 'WebIlluminationAdminBundle::admin.html.twig' %}
{% block title %}Add New Product | {{ parent() }}{% endblock %}
{% block headerscripts %}
    {{ parent() }}
    {% javascripts '@WebIlluminationAdminBundle/Resources/public/js/tinymce/jquery.tinymce.js' output='js/tinymce.js' filter='yui_js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}
{% block leftmenu %}
    {{ parent() }}
    {% include 'WebIlluminationAdminBundle:Product:newLeftMenu.html.twig' %}
{% endblock %}
{% block header %}
    {{ parent() }}
    <h2>Add New Product</h2>
{% endblock %}
{% block body %}
    <section class="container_6 clearfix add" id="add-product">
        <div class="grid_6">
            {% if flow.getCurrentStep() == 1 %}
                {% include 'WebIlluminationAdminBundle:Product:new_Step1.html.twig' %}
            {% elseif flow.getCurrentStep() == 2 %}
                {% include 'WebIlluminationAdminBundle:Product:new_Step2.html.twig' %}
            {% elseif flow.getCurrentStep() == 3 %}
                {% include 'WebIlluminationAdminBundle:Product:new_Step3.html.twig' %}
            {% elseif flow.getCurrentStep() == 4 %}
                {% include 'WebIlluminationAdminBundle:Product:new_Step4.html.twig' %}
            {% elseif flow.getCurrentStep() == 5 %}
                {% include 'WebIlluminationAdminBundle:Product:new_Step5.html.twig' %}
            {% elseif flow.getCurrentStep() == 6 %}
                {% include 'WebIlluminationAdminBundle:Product:new_Step6.html.twig' %}
            {% endif %}
        </div>
        <div class="clear"></div>
    </section>
{% endblock %}