<!DOCTYPE html>
<html class="no-js{% if app.request.query.get('modal') == true %} modal{% endif %}">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
        {% if app.request.query.get('modal') != true %}
            <meta name="google-site-verification" content="iEztzaBnI5VsikHe3OXqS_r3RpPyiwtCKLQnacqFu8A" />
            <title>{% block title %}Kitchen Appliance Centre{% endblock %}</title>
            {% block metatags %}
                <meta name="description" content="Kitchen Appliance Centre - A wide selection of kitchen appliances including Kitchen Sinks, Range Cookers, Fridges, Freezers, Dishwashers, Washing Machines, Worktops, Ovens and Hobs, all at low affordable prices.">
                <meta name="keywords" content="worktops, charcoal filters, cooker hoods, built-in microwaves, integrated dishwashers, integrated washing machines, refrigeration, cleaning products, glass splashbacks, waste disposer, sinks, taps, plinth heaters, range cookers, ducting, hobs, ovens, coffee machines, solid surface worktops, kitchen appliances">
            {% endblock %}
            {%  if (app.request.server.get('HTTP_HOST') != 'www.kitchenappliancecentre.co.uk') %}
                <meta name="robots" content="noindex,nofollow">
            {% endif %}
        {% endif %}
        {% block stylesheets %}
            {% include 'KACSiteBundle:Includes:stylesheets.html.twig' %}
        {% endblock %}
        {% block scripts %}
            {% include 'KACSiteBundle:Includes:scripts.html.twig' %}
        {% endblock %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}">
        {% include 'KACSiteBundle:Includes:tracking.html.twig' %}
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        {% if app.request.query.get('modal') != true %}
            <div class="document clearfix">
                <header class="clearfix">
                    <div class="top-menu">
                        <div class="container">
                            {{ render_esi(controller('KACSiteBundle:System:socialMediaInteractions')) }}
                            {% include 'KACSiteBundle:Includes:topMenu.html.twig' %}
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="header">
                        <div class="header-contents">
                            {% include 'KACSiteBundle:Includes:logo.html.twig' %}
                            {% include 'KACSiteBundle:Includes:search.html.twig' %}
                            <div id="basket-summary" data-url="{{ path('basket_summary') }}">
                                {% render(controller('KACSiteBundle:Basket:summary')) %}
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    {{ render_esi(controller('KACSiteBundle:System:mainMenu')) }}
                    <div class="sub-menu{% if is_granted('ROLE_ADMIN') %} sticky{% endif %}">
                        <div class="container">
                            <div class="widget-group clearfix">
                                {% block submenu %}
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <div class="widget widget-1-of-8">
                                            <h3>Admin Mode:</h3>
                                        </div>
                                        <div class="widget widget-7-of-8">
                                            {% block admin_submenu %}
                                                <a class="button button-small icon-grey mrs" data-icon-primary="icon-701" href="{{ path('admin_orders') }}">Orders</a>
                                                <a class="button button-small icon-grey mrs" data-icon-primary="icon-399" href="{{ path('departments_index') }}">Departments</a>
                                                <a class="button button-small icon-grey mrs" data-icon-primary="icon-1370" href="{{ path('admin_brands') }}">Brands</a>
                                                <a class="button button-small icon-grey mrs" data-icon-primary="icon-278" href="{{ path('listing_products') }}">Products</a>
                                            {% endblock %}
                                        </div>
                                    {% else %}
                                        <div class="widget widget-1-of-4">
                                            <a class="fl" href="{{ path('content_contact_us') }}"><span title="If you need any help or advice we are on hand to help you" class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-297"></span></a>
                                            <h3><a href="{{ path('content_contact_us') }}">Need Help or Advice?</a></h3>
                                            <p><a href="{{ path('content_contact_us') }}">For any advice call our UK call centre</a></p>
                                        </div>
                                        <div class="widget widget-1-of-4">
                                            <a class="fl" href="{{ path('content_delivery') }}"><span title="Free UK Delivery - Find out more about our delivery" class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-543"></span></a>
                                            <h3><a href="{{ path('content_delivery') }}">Free Delivery Offer <span class="colour-red">*</span></a></h3>
                                            <p><a href="{{ path('content_delivery') }}"><span class="colour-red">*</span> To most UK areas on selected items</a></p>
                                        </div>
                                        <div class="widget widget-1-of-4">
                                            <a class="fl" href="{{ path('content_contact_us') }}"><span title="Save with our package deals" class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-1114"></span></a>
                                            <h3><a href="{{ path('content_contact_us') }}">Save with our Packages</a></h3>
                                            <p><a href="{{ path('content_contact_us') }}">Need 3+ large appliances? Contact us</a></p>
                                        </div>
                                        <div class="widget widget-1-of-4">
                                            <a class="fl" href="{{ path('content_contact_us') }}"><span title="Call 01159 385 111 - For any advice call our UK call centre" class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-318"></span></a>
                                            <h2><a href="{{ path('content_contact_us') }}">01159 385 111</a></h2>
                                        </div>
                                    {% endif %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </header>
                {% include 'KACSiteBundle:Includes:flashMessages.html.twig' %}
                {% include 'KACSiteBundle:Includes:leftAdvertisingBoard.html.twig' %}
                <section class="container">
                    <div class="content">
                        {% block slider %}{% endblock %}
                        {% block header %}{% endblock %}
        {% endif %}
            {% block body %}{% endblock %}
            {#% include 'KACSiteBundle:Includes:loading.html.twig' %#}
        {% if app.request.query.get('modal') != true %}
                    </div>
                </section>
                {% include 'KACSiteBundle:Includes:rightAdvertisingBoard.html.twig' %}
            </div>
        {% endif %}
        {% include 'KACSiteBundle:Includes:footer.html.twig' %}
        {#{% include '::flashMessages.html.twig' %}#}
        {#{% include '::shopAjaxLoading.html.twig' %}#}
        {#{% include '::shopLargeImage.html.twig' %}#}
        {#{% include '::shopShoppingBasketPopup.html.twig' %}#}
        {#{% include '::shopCookiePolicy.html.twig' %}#}
        {% block javascripts %}{% endblock %}
        {#{% include '::shopScript.js.twig' %}#}
        <script type="text/javascript">
            adroll_adv_id = "PTOPQDWVCJERNN7S27MW7B";
            adroll_pix_id = "OAYWNSM635DXJGZ7SEQUDY";
            (function () {
                var oldonload = window.onload;
                window.onload = function() {
                    __adroll_loaded=true;
                    var scr = document.createElement("script");
                    var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
                    scr.setAttribute('async', 'true');
                    scr.type = "text/javascript";
                    scr.src = host + "/j/roundtrip.js";
                    ((document.getElementsByTagName('head') || [null])[0] || document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
                    if (oldonload) { oldonload(); }
                };
            }());
        </script>
    </body>
</html>
