{% extends 'form_div_layout.html.twig' %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {% if required %}
                    <em class="required" title="This field is required">*</em>&nbsp;
                {% endif %}
                {{ label|trans({}, translation_domain)|raw }}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_row %}
    {% spaceless %}
        <div class="form-element{% if errors %} form-element-error{% endif %} widget-group clearfix">
            {% if help is defined %}
                <span title="{{ help }}" class="form-helper ui-button-icon-primary ui-icon-small icon-small-762"></span>
            {% elseif form.vars.attr.help is defined %}
                <span title="{{ form.vars.attr.help }}" class="form-helper ui-button-icon-primary ui-icon-small icon-small-762"></span>
            {% endif %}
            <div class="widget widget-1-of-3">
                {{ form_label(form) }}
            </div>
            <div class="widget widget-2-of-3">
                {{ form_widget(form) }}
                {% if errors %}
                    <small>{{ form_errors(form) }}</small>
                {% endif %}
                {% if form.vars.attr.characterHelp is defined %}
                    <small data-recommended-characters="{{ form.vars.attr.characterHelp }}" class="recommended-characters">Updating...</small>
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block checkbox_row %}
    {% spaceless %}
        <div class="clearfix{% if errors %} error{% endif %}">
            {{ form_widget(form) }}{{ form_label(form) }}
            {% if help is defined %}
                <small>{{ help }}</small>
            {% elseif form.vars.attr.help is defined %}
                <small>{{ form.vars.attr.help }}</small>
            {% endif %}
            {% if errors %}
                <div class="clear"></div>
                <small>{{ form_errors(form) }}</small>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_rows %}
    {% spaceless %}
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows %}

{% block collection_row %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': prototype }) %}
            {% for row in form %}
                <tr>
                    {% for child in row %}
                        {% if child.vars.name == 'displayOrder' %}
                            <td><img class="handle" src="{{ asset('bundles/kacsite/images/icons/handle.png') }}" border="0" /></td>
                        {% endif %}
                    {% endfor %}
                    <td class="row-count">{{ loop.index }}</td>
                    {% for child in row %}
                        {% if child.vars.block_prefixes.2 != 'hidden' %}
                            {% set containerClass = [] %}
                            {% if child.vars.valid is sameas(false) %}
                                {% set containerClass = containerClass|merge(['error']) %}
                            {% endif %}
                            {% if child.vars.attr.containerClass is defined %}
                                {% set containerClass = containerClass|merge([child.vars.attr.containerClass]) %}
                            {% endif %}
                            <td{% if containerClass|length > 0 %} class="{{ containerClass|join(' ') }}"{% endif %}>{{ form_widget(child) }}</td>
                        {% endif %}
                    {% endfor %}
                    <td class="tac" width="1">
                        {{ form_rest(row) }}
                        <button type="button" class="actionDeleteFormRow button button-red icon-white" data-icon-primary="icon-1117" data-icon-only="true">Delete</button>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            {% for row in form %}
                {% for child in row %}
                    {% if child.vars.block_prefixes.2 != 'hidden' %}
                        <div class="form-element{% if child.vars.valid is sameas(false) %} form-element-error{% endif %} widget-group clearfix">
                            {% if help is defined %}
                                <span title="{{ help }}" class="form-helper ui-button-icon-primary ui-icon-small icon-small-762"></span>
                            {% elseif child.vars.attr.help is defined %}
                                <span title="{{ child.vars.attr.help }}" class="form-helper ui-button-icon-primary ui-icon-small icon-small-762"></span>
                            {% endif %}
                            <div class="widget widget-1-of-3">
                                {{ form_label(child) }}
                            </div>
                            <div class="widget widget-2-of-3">
                                {{ form_widget(child) }}
                                {% if child.vars.valid is sameas(false) %}
                                    <small>
                                        {{ form_errors(child) }}
                                    </small>
                                {% endif %}
                                {% if child.vars.attr.characterHelp is defined %}
                                    <small data-recommended-characters="{{ child.vars.attr.characterHelp }}" class="recommended-characters">Updating...</small>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        {{ form_widget(child) }}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock collection_row %}

{# CONFIRMED BLOCKS IN USE IN ORDER THEY ARE USED #}
{# This block needs to be in this file so that it has access to the widget attributes block #}
{% block _site_new_product_departments_entry_department_widget %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% for group_label, choice in choices %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|raw }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block _site_new_product_features_entry_widget %}
    {% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.table_features_widget(form) }}
{% endblock %}

{% block _site_new_product_variants_overview_entry_widget %}
    {% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.product_variants_overview_widget(form) }}
{% endblock %}

{% block _site_new_product_variants_overview_entry_prices_widget %}
    {% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.table_prices_widget(form) }}
{% endblock %}

{% block _site_new_product_variants_images_entry_widget %}
    {% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.product_variants_images_widget(form) }}
{% endblock %}

{% block _site_new_product_links_entry_widget %}
    {% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.table_links_widget(form) }}
{% endblock %}


{# Edit Product Blocks #}
{% block _site_edit_product_overview_departments_row %}
    {% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.product_departments_row(form) }}
{% endblock %}
{% block _site_edit_product_links_links_entry_widget %}
    {% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.table_links_widget(form) }}
{% endblock %}

{# New Variant Blocks #}
{% block _site_new_variant_prices_entry_widget %}
    {% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.table_prices_row(form) }}
{% endblock %}
{% block _site_new_variant_features_entry_widget %}
    {% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.table_features_widget(form) }}
{% endblock %}

{# Edit Variant Blocks #}
{% block _site_edit_variant_features_features_entry_widget %}
    {% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.table_features_widget(form) }}
{% endblock %}
{% block _site_edit_product_prices_prices_entry_widget %}
    {% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.table_prices_row(form) }}
{% endblock %}





{#{% block _site_new_product_variants_features_entry_widget %}#}
    {#<tr><td>xxx</td></tr>#}
{#{% endblock %}#}


{#{% block department_widget %}#}
    {#<select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>#}
        {#{% for group_label, choice in choices %}#}
            {#<option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|raw }}</option>#}
        {#{% endfor %}#}
    {#</select>#}
{#{% endblock %}#}

{#{% block _site_new_product_prices_entry_widget %}#}
{#<div>***_site_new_product_prices_entry_widget***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields.prices_widget(form) }}#}
{#{% endblock %}#}

{#{% block _site_new_product_featureGroups_entry_widget %}#}
{#<div>***_site_new_product_featureGroups_entry_widget***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields.product_featureGroups_widget(form) }}#}
{#{% endblock %}#}

{#{% block _site_edit_product_overview_departments_row %}#}
{#<div>***_site_edit_product_overview_departments_row***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields.product_departments_row(form) }}#}
{#{% endblock %}#}
{#{% block _site_new_product_descriptions_entry_widget %}#}
{#<div>***_site_new_product_descriptions_entry_widget***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields.product_descriptions_widget(form) }}#}
{#{% endblock %}#}
{#{% block _site_edit_product_description_descriptions_entry_widget %}#}
{#<div>***_site_edit_product_description_descriptions_entry_widget***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields.product_descriptions_widget(form) }}#}
{#{% endblock %}#}
{#{% block _site_new_product_variants_entry_widget %}#}
{#<div>***_site_new_product_variants_entry_widget***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields.product_variants_widget(form) }}#}
{#{% endblock %}#}

{#{% block _site_edit_product_prices_prices_entry_widget %}#}
{#<div>***_site_edit_product_prices_prices_entry_widget***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields.prices_widget(form) }}#}
{#{% endblock %}#}

{# New product fields #}
{#{% block _site_new_product_variants_images_entry_widget %}#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields.product_variants_images_widget(form) }}#}
{#{% endblock %}#}
{#{% block _site_new_product_variants_prices_entry_widget %}#}
{#<div>***_site_new_product_prices_entry_widget***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields._site_new_product_prices_entry_widget(form) }}#}
{#{% endblock %}#}
{#{% block _site_new_product_variants_prices_entry_variants_prices_price_entry_widget %}#}
{#<div>***_site_new_product_variants_prices_entry_variants_prices_price_entry_widget***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields.prices_widget(form) }}#}
{#{% endblock %}#}
{#{% block _site_new_product_variants_images_entry_images_widget %}#}
{#<div>***_site_new_product_variants_images_entry_images_widget***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#<tr class="fileupload">#}
{#<td class="padding-top-5 padding-bottom-5">#}
{#<div class="fileupload-buttonbar">#}
{#<!-- The fileinput-button span is used to style the file input field as button -->#}
{#<span class="button fileinput-button">#}
{#<i class="icon-plus icon-white"></i>#}
{#<span>Add files...</span>#}
{#<input class="no-uniform" type="file" name="file" multiple>#}
{#</span>#}
{#<button type="submit" class="button start">#}
{#<span>Start upload</span>#}
{#</button>#}
{#<button type="reset" class="button cancel">#}
{#<span>Cancel upload</span>#}
{#</button>#}
{#<button type="button" class="button delete">#}
{#<span>Delete</span>#}
{#</button>#}
{#<input type="checkbox" class="toggle">#}
{#</div>#}
{#<div class="fileupload-progress">#}
{#<!-- The global progress bar -->#}
{#<div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">#}
{#<div class="bar" style="width:0%;"></div>#}
{#</div>#}
{#<!-- The extended global progress information -->#}
{#<div class="progress-extended">&nbsp;</div>#}
{#</div>#}
{#<!-- The loading indicator is shown during file processing -->#}
{#<div class="fileupload-loading"></div>#}
{#<br>#}
{#<!-- The table listing the files available for upload/download -->#}
{#<table role="presentation" class="table table-striped">#}
{#<tbody class="files">#}

{#</tbody>#}
{#</table>#}
{#{{ form_widget(form) }}#}
{#</td>#}
{#</tr>#}
{#{% endblock %}#}

{# New variant fields #}
{#{% block _site_new_variant_descriptions_entry_widget %}#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#&#123;&#35;{{ fields.test(form) }}&#35;&#125;#}
{#{% endblock %}#}
{#{% block _site_new_variant_descriptions_entry_widget %}#}
{#<div>***_site_new_variant_descriptions_entry_widget***</div>#}
{#<td>#}
{#{{ form_widget(form.locale) }}#}
{#{{ form_errors(form.locale) }}#}
{#</td>#}
{#<td>#}
{#{{ form_widget(form.description) }}#}
{#{{ form_errors(form.description) }}#}
{#</td>#}
{#<td class="ac" width="65">#}
{#<button type="button" class="fr small button icon-set-white ui-button-red delete-row" data-icon-primary="ui-icon-circle-cross">Delete</button>#}
{#</td>#}
{#{% endblock %}#}
{#{% block _site_new_variant_prices_entry_widget %}#}
{#<div>***_site_new_variant_prices_entry_widget***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields.prices_widget(form) }}#}
{#{% endblock %}#}
{#{% block _site_new_variant_features_entry_widget %}#}
{#<div>***_site_new_variant_features_entry_widget***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields.features_widget(form) }}#}
{#{% endblock %}#}

{#&#123;&#35; Edit variant fields &#35;&#125;#}
{#{% block _site_new_product_variants_entry_descriptions_entry_widget %}#}
{#&#123;&#35;{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}&#35;&#125;#}
{#&#123;&#35;{{ fields.variant_descriptions_widget(form) }}&#35;&#125;#}
{#{% endblock %}#}
{#{% block _site_edit_variant_features_features_entry_widget %}#}
{#<div>***_site_edit_variant_features_features_entry_widget***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields.features_widget(form) }}#}
{#{% endblock %}#}
{#{% block _site_new_product_variants_entry_prices_entry_widget %}#}
{#<div>***_site_new_product_variants_entry_prices_entry_widget***</div>#}
{#{% import "KACSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
{#{{ fields.list_prices_widget(form) }}#}
{#{% endblock %}#}
