{% extends ':Old:admin.html.twig' %}
{% block title %}Voucher Codes  | {{ parent() }}{% endblock %}
{% block leftmenu %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:Brands:leftMenu.html.twig' %}  
{% endblock %}
{% block header %}
	{{ parent() }}
	<h2>Voucher Codes</h2>
{% endblock %}
{% block body %}
    <section class="container_6 clearfix no-padding-top">
    	<div class="grid_6">
    		<div id="voucher-code-confirm-delete-voucher-codes" class="ui-helper-hidden ui-widget following message confirmation-message no-margin no-padding">
			    <div class="ui-state-highlight ui-corner-all no-margin no-padding"> 
			    	<div class="fl no-margin no-padding">
			    		<span class="ui-icon ui-icon-help"></span>
			    		<p class="small-message"><strong>WARNING:</strong> Are you sure you want to delete the selected voucher codes below?</p>
			    	</div>
			        <div class="fr no-margin no-padding">
			        	<a href="Javascript:void(0);" class="fl button ui-corner-none ui-corner-tl ui-corner-bl ui-button-blue action-cancel-delete-voucher-codes">Cancel</a>
			        	<a href="Javascript:void(0);" class="fl button ui-corner-none ui-corner-tr ui-corner-br ui-button-red action-delete-voucher-codes" data-icon-primary="ui-icon-closethick">Confirm Delete</a>
			        </div>
			        <div class="clear"></div>
			    </div>
			</div>
    		<div class="portlet">
				<header>
					<button id="filter-results-button" class="button ui-button-blue fr action-filter-results" data-icon-primary="ui-icon-triangle-1-s">Filter Results</button>
	                <h2 id="listing-count"><img src="{{ asset('bundles/webilluminationadmin/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" />Loading&hellip;</h2>
	            </header>
				<section class="no-padding">
					{% include 'WebIlluminationAdminBundle:VoucherCodes:listingFilter.html.twig' %}
					{% include 'WebIlluminationAdminBundle:VoucherCodes:listingAddVoucherCode.html.twig' with {'validFromDate': validFromDate, 'expiryDate': expiryDate} %}
					{% include 'WebIlluminationAdminBundle:VoucherCodes:listingSettings.html.twig' with {'settings': settings} %}
					<div id="listing-pagination-top" class="listing-pagination ui-helper-hidden"></div>
					<div class="clear"></div>
					<div id="listing-loading">
						<p class="ac"><img src="{{ asset('bundles/webilluminationadmin/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" /></p>
						<p class="ac">Loading&hellip;</p>
					</div>
					<div id="listing" class="ui-helper-hidden"></div>
					<div class="clear"></div>
					<div id="listing-pagination-bottom" class="listing-pagination ui-helper-hidden"></div>
		        	<div class="clear"></div>
		        	{% include 'WebIlluminationAdminBundle:VoucherCodes:listingToolbar.html.twig' %}
				</section>
	        </div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:VoucherCodes:indexScript.js.twig' with {'brands': brands, 'departments': departments, 'products': products, 'validFromDate': validFromDate, 'expiryDate': expiryDate} %}
{% endblock %}