<div id="contact-number-success-message-{{ contactId }}" class="ui-widget message closeable ui-helper-hidden">
    <div class="ui-state-success ui-corner-all">
    	<span class="ui-icon ui-icon-circle-check"></span>
        <p><strong>SUCCESS:</strong> <span id="contact-number-success-message-text-{{ contactId }}"></span></p>
    </div>
</div>
<div id="contact-number-error-message-{{ contactId }}" class="ui-widget message closeable ui-helper-hidden">
    <div class="ui-state-error ui-corner-all">
    	<span class="ui-icon ui-icon-alert"></span>
        <p><strong>ERROR:</strong> <span id="contact-number-error-message-text-{{ contactId }}"></span></p>
    </div>
</div>
<div id="contact-number-confirm-delete-{{ contactId }}" class="ui-widget message ui-helper-hidden">
    <div class="ui-state-error ui-corner-all"> 
        <span class="ui-icon ui-icon-help"></span>
        <p><strong>WARNING:</strong> Are you sure you want to delete the highlighted contact number?</p>
        <p>
        	<button data-contact-id="{{ contactId }}" data-index="" id="contact-number-confirm-delete-button-{{ contactId }}" class="button ui-button-red action-delete-contact-number" data-icon-primary="ui-icon-closethick">Confirm Delete</button>
        	<button data-contact-id="{{ contactId }}" data-index="" id="contact-number-cancel-delete-button-{{ contactId }}" class="button ui-button-blue action-cancel-delete-contact-number">Cancel</button>
        </p>
    </div>
</div>
<div id="contact-number-confirm-deletes-{{ contactId }}" class="ui-widget message ui-helper-hidden">
    <div class="ui-state-error ui-corner-all">
    	<span class="ui-icon ui-icon-help"></span>
        <p><strong>WARNING:</strong> Are you sure you want to delete the selected contact numbers?</p>
        <p>
        	<button data-contact-id="{{ contactId }}" id="contact-number-confirm-deletes-button-{{ contactId }}" class="button ui-button-red action-delete-contact-numbers" data-icon-primary="ui-icon-closethick">Confirm Delete</button>
        	<button data-contact-id="{{ contactId }}" id="contact-number-cancel-deletes-button-{{ contactId }}" class="button ui-button-blue action-cancel-delete-contact-numbers">Cancel</button>
        </p>
    </div>
</div>
<div class="clearfix">
    <div class="form-input-long">
		<div class="contact-numbers-container">
			<input type="hidden" id="contact-number-count-{{ contactId }}" value="{% if contactNumbers|length > 1 %}{{ contactNumbers|length }}{% else %}1{% endif %}" />
			<ul class="list-fields contact-numbers-container" id="form-contact-numbers-container-{{ contactId }}">
				{% for contactNumber in contactNumbers %}
					{% include 'WebIlluminationAdminBundle:System:contactNumber.html.twig' with {'contactId': contactId, 'index': loop.index, 'data': contactNumber, 'contactNumberTypes': contactNumberTypes} %}
			    {% else %}
			    	{% include 'WebIlluminationAdminBundle:System:contactNumber.html.twig' with {'contactId': contactId, 'index': "1", 'contactNumberTypes': contactNumberTypes} %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<div class="clearfix">
    <div class="form-input-long buttons no-margin-bottom">
    	<button data-contact-id="{{ contactId }}" class="button ui-button-green action-update-contact-numbers" data-icon-primary="ui-icon-check">Update</button>
    	<button data-contact-id="{{ contactId }}" class="button ui-button-red action-confirm-delete-contact-numbers ui-helper-hidden" data-icon-primary="ui-icon-closethick">Delete</button>
    	<button data-contact-id="{{ contactId }}" class="button ui-button-blue action-add-new-contact-number" data-icon-primary="ui-icon-plusthick">Add</button>
    	<button data-contact-id="{{ contactId }}" class="button ui-button-blue action-select-all-contact-numbers" data-icon-primary="ui-icon-radio-on">Select All</button>
    	<button data-contact-id="{{ contactId }}" class="button ui-button-blue action-unselect-all-contact-numbers ui-helper-hidden" data-icon-primary="ui-icon-bullet">Unselect All</button>
    </div>
</div>