{# Function to update all redirects #}
function updateRedirects()
{
	$errorOccurred = false;
	$numberOfElementsToProcess = $("input.redirect-requires-update[value='1']").length;
	$numberOfElementsProcessed = 0;
	if ($numberOfElementsToProcess > 0)
	{
		$("#ajax_loading").show();
		var redirects_validator = $("#redirects :input").validator({
			position : 'bottom left', 
			offset : [0, 0], 
			messageClass : 'form-error', 
    		message : '<div><em/></div>'
		});
		if (redirects_validator.data("validator").checkValidity())
		{
			$("input.redirect-requires-update[value='1']").each(function(index) {
				$elementIndex = String($(this).attr("data-index"));
				$.ajax({
			    	url: "{{ path('system_ajax_update_redirect') }}",
			      	type: "POST",
			      	dataType: "json",
			      	data: {
			      		id: $("#form-redirect-id-"+$elementIndex).val(),
			      		objectId: '{{ objectId }}',
			      		objectType: '{{ objectType }}',
			      		redirectFrom: $("#form-redirect-from-"+$elementIndex).val(),
			      		redirectTo: '{{ routing.url }}',
			      		redirectCode: $("#form-redirect-code-"+$elementIndex).val(),
			      		elementIndex: $elementIndex
			      	},
			      	error: function(data) {
			        	$errorOccurred = true;
			        	$("#redirect-"+$elementIndex).addClass("ui-state-error");
			        	$numberOfElementsProcessed++;
			        	if ($numberOfElementsToProcess == $numberOfElementsProcessed)
			        	{
			        		if ($errorOccurred == true)
							{
								$("#redirect-error-message-text").html('Problems occurred while trying to update your redirects. Please ensure all fields have been filled in and are valid and try again.');
								$("#redirect-error-message").fadeIn();
							} else {
								$("#redirect-success-message-text").html('Your redirects were successfully updated.');
								$("#redirect-success-message").fadeIn();
							}
							$("html, body").animate({scrollTop: $("#redirects").offset().top + 35},'slow');
							$("#ajax_loading").hide();
							if ($("#redirects-tab-to-redirect-to").val() > -1)
							{
								$("#redirects .message").hide();
								$(".sidebar-tabs").tabs("select", parseInt($("#redirects-tab-to-redirect-to").val()));
							}
			        	}
			      	},
			      	success: function(data) {
		      			if (data.response == 'success')
		      			{
		      				$("#redirect-"+data.elementIndex).removeClass("ui-state-error");
		      				$("#form-redirect-id-"+data.elementIndex).val(data.id);
		      				$("#form-redirect-requires-update-"+data.elementIndex).val("0");
		      				$("#redirects-to-update").val(String(parseInt($("#redirects-to-update").val()) - 1));
		      			} else {
		      				$("#redirect-"+data.elementIndex).addClass("ui-state-error");
		      				$errorOccurred = true;
		      			}
			        	$numberOfElementsProcessed++;
			        	if ($numberOfElementsToProcess == $numberOfElementsProcessed)
			        	{
			        		if ($errorOccurred == true)
							{
								$("#redirect-error-message-text").html('Problems occurred while trying to update your redirects. Please ensure all fields have been filled in and are valid and try again.');
								$("#redirect-error-message").fadeIn();
							} else {
								$("#redirect-success-message-text").html('Your redirects were successfully updated.');
								$("#redirect-success-message").fadeIn();
							}
			        		$("html, body").animate({scrollTop: $("#redirects").offset().top + 35},'slow');
							$("#ajax_loading").hide();
							if ($("#redirects-tab-to-redirect-to").val() > -1)
							{
								$("#redirects .message").hide();
								$(".sidebar-tabs").tabs("select", parseInt($("#redirects-tab-to-redirect-to").val()));
							}
			        	}
			      	}
			   	});
			});
		} else {
			$("#redirect-error-message-text").html('Sorry, there was a problem saving. Please ensure all redirects have been filled in and are valid. Please correct the highlighted redirects and try again.');
        	$("#redirect-error-message").fadeIn();
        	$("html, body").animate({scrollTop: $("#redirects").offset().top + 35},'slow');
        	$("#ajax_loading").hide();
		}
	}
}

{# Function to load new redirect #}
function loadNewRedirect()
{
	$("#ajax_loading").show();
	$nextElement = parseInt($("#redirect-count").val()) + 1;
	$("#redirect-count").val($nextElement);
	$.ajax({
    	url: "{{ path('system_ajax_add_redirect') }}",
      	type: "GET",
      	data: {
      		id: $nextElement,
      		objectId: '{{ objectId }}',
      		objectType: '{{ objectType }}'
      	},
      	error: function(data) {
        	$("#image-error-message-text").html('Sorry, there was an error adding a new redirect. Please try again.');
			$("#image-error-message").fadeIn();
      	},
      	success: function(data) {
  			$("#form-redirects-container").append(data);
				$("#redirect-"+$nextElement.toString()+" :checkbox:not(.no-uniform), #redirect-"+$nextElement.toString()+" :radio:not(.no-uniform), #redirect-"+$nextElement.toString()+" select:not(.no-uniform), #redirect-"+$nextElement.toString()+" :file:not(.no-uniform)").uniform();
				$("#redirect-"+$nextElement.toString()).fadeIn();
				$("#redirect-"+$nextElement+" .button").each(function () {
	            $(this).button({
	            	icons: {
	                	primary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-primary'):null, 
	                    secondary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-secondary'):null
	                }, 
	               	text: $(this).attr('data-icon-only') === 'true'?false:true
	        	});
	        });
	        $(".selector, .uploader").addClass("full");
	        $("html, body").animate({scrollTop: $("#redirect-"+$nextElement).offset().top - 100},'slow');
	        $("#ajax_loading").hide();
      	}
   	});
}