<li class="contact-address-container" data-contact-id="{{ contactId }}" data-index="{{ index }}" id="contact-address-{{ contactId }}-{{ index }}">
	<div>
		<table width="100%">
			<tbody>
				<tr>
					<td rowspan="4" width="9">
						<img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
					</td>
					<td rowspan="4" width="1" class="delete">
						<input data-contact-id="{{ contactId }}" data-index="{{ index }}" type="checkbox" class="contact-address-select" id="form-contact-address-select-{{ contactId }}-{{ index }}" value="1" />
					</td>
					<td colspan="2" width="200" class="no-padding-bottom">
						<select data-contact-id="{{ contactId }}" data-index="{{ index }}" autocomplete="off" class="contact-address-field contact-address-contact-address-type-id full" id="form-contact-address-contact-address-type-id-{{ contactId }}-{{ index }}">
			        		<option value="">- Select Address Type -</option>
			        		{% for contactAddressType in contactAddressTypes %}
		                		<option value="{{ contactAddressType.id }}"{% if data.contactAddressTypeID is defined %}{% if contactAddressType.id == data.contactAddressTypeId %} selected="selected"{% endif %}{% endif %}>{{ contactAddressType.contactAddressType|raw }}</option>
		            		{% endfor %}
			        	</select>
					</td>
					<td colspan="2" class="no-padding-bottom">
			        	<input data-contact-id="{{ contactId }}" data-index="{{ index }}" type="text" class="contact-address-field contact-address-organisation-name full" placeholder="Company" id="form-contact-address-organisation-name-{{ contactId }}-{{ index }}" value="{% if data.organisationName is defined %}{{ data.organisationName }}{% endif %}" />
					</td>
					<td rowspan="4" width="1">
						<input type="hidden" class="contact-address-display-order" id="form-contact-address-display-order-{{ contactId }}-{{ index }}" value="{{ index }}" />
						<input type="hidden" data-contact-id="{{ contactId }}" data-index="{{ index }}" class="contact-address-requires-update" id="form-contact-address-requires-update-{{ contactId }}-{{ index }}" value="0" />
						<input type="hidden" data-contact-id="{{ contactId }}" data-index="{{ index }}" class="contact-address-id" id="form-contact-address-id-{{ contactId }}-{{ index }}" value="{% if data.id is defined %}{{ data.id }}{% else %}0{% endif %}" />
						<button data-contact-id="{{ contactId }}" data-index="{{ index }}" class="button ui-button-red action-confirm-delete-contact-address" data-icon-only="true" data-icon-primary="ui-icon-closethick">Delete</button>
					</td>
				</tr>
				<tr>
					<td width="80" class="no-padding-top no-padding-bottom">
						<select data-contact-id="{{ contactId }}" data-index="{{ index }}" autocomplete="off" class="contact-address-field contact-address-contact-title-id full" id="form-contact-address-contact-title-id-{{ contactId }}-{{ index }}">
			        		<option value="0">No Title</option>
			        		{% for contactTitle in contactTitles %}
		                		<option value="{{ contactTitle.id }}"{% if data.contactTitleId is defined %}{% if contactTitle.id == data.contactTitleId %} selected="selected"{% endif %}{% endif %}>{{ contactTitle.contactTitle|raw }}</option>
		            		{% endfor %}
			        	</select>
					</td>
					<td width="120" class="no-padding-top no-padding-bottom">
			        	<input data-contact-id="{{ contactId }}" data-index="{{ index }}" type="text" class="contact-address-field contact-address-first-name full" placeholder="First Name" id="form-contact-address-first-name-{{ contactId }}-{{ index }}" value="{% if data.firstName is defined %}{{ data.firstName }}{% endif %}" />
					</td>
					<td class="no-padding-top no-padding-bottom">
			        	<input data-contact-id="{{ contactId }}" data-index="{{ index }}" type="text" class="contact-address-middle-name full" placeholder="Middle Names" id="form-contact-address-middle-name-{{ contactId }}-{{ index }}" value="{% if data.middleName is defined %}{{ data.middleName }}{% endif %}" />
					</td>
					<td width="120" class="no-padding-top no-padding-bottom">
			        	<input data-contact-id="{{ contactId }}" data-index="{{ index }}" type="text" class="contact-address-field contact-address-last-name full" placeholder="Last Name" id="form-contact-address-last-name-{{ contactId }}-{{ index }}" value="{% if data.lastName is defined %}{{ data.lastName }}{% endif %}" />
					</td>
				</tr>
				<tr>
					<td colspan="2" width="200" class="no-padding-top no-padding-bottom">
			        	<input data-contact-id="{{ contactId }}" data-index="{{ index }}" type="text" class="contact-address-field contact-address-address-line-1 full" placeholder="Address Line 1" id="form-contact-address-address-line-1-{{ contactId }}-{{ index }}" value="{% if data.addressLine1 is defined %}{{ data.addressLine1 }}{% endif %}" />
					</td>
					<td class="no-padding-top no-padding-bottom">
			        	<input data-contact-id="{{ contactId }}" data-index="{{ index }}" type="text" class="contact-address-field contact-address-address-line-2 full" placeholder="Address Line 2" id="form-contact-address-address-line-2-{{ contactId }}-{{ index }}" value="{% if data.addressLine2 is defined %}{{ data.addressLine2 }}{% endif %}" />
					</td>
					<td width="120" class="no-padding-top no-padding-bottom">
			        	<input data-contact-id="{{ contactId }}" data-index="{{ index }}" type="text" class="contact-address-field contact-address-address-line-3 full" placeholder="Address Line 3" id="form-contact-address-address-line-3-{{ contactId }}-{{ index }}" value="{% if data.addressLine3 is defined %}{{ data.addressLine3 }}{% endif %}" />
					</td>
				</tr>
				<tr>
					<td width="80" class="no-padding-top">
						<input data-contact-id="{{ contactId }}" data-index="{{ index }}" type="text" class="contact-address-field contact-address-post-zip-code full" placeholder="Post Code" id="form-contact-address-post-zip-code-{{ contactId }}-{{ index }}" value="{% if data.postZipCode is defined %}{{ data.postZipCode }}{% endif %}" />
					</td>
					<td width="120" class="no-padding-top">
			        	<input data-contact-id="{{ contactId }}" data-index="{{ index }}" type="text" class="contact-address-field contact-address-town-city full" placeholder="Town/City" id="form-contact-address-town-city-{{ contactId }}-{{ index }}" value="{% if data.townCity is defined %}{{ data.townCity }}{% endif %}" />
					</td>
					<td class="no-padding-top">
			        	<input data-contact-id="{{ contactId }}" data-index="{{ index }}" type="text" class="contact-address-field contact-address-county-state full" placeholder="County" id="form-contact-address-county-state-{{ contactId }}-{{ index }}" value="{% if data.countyState is defined %}{{ data.countyState }}{% endif %}" />
					</td>
					<td width="120" class="no-padding-top">
			        	<select data-contact-id="{{ contactId }}" data-index="{{ index }}" autocomplete="off" class="contact-address-field contact-address-country-code full" id="form-contact-address-country-code-{{ contactId }}-{{ index }}">
			        		<option value="">- Country -</option>
			        		<option value="GB"{% if data.countryCode is defined %}{% if data.countryCode == 'GB' %} selected="selected"{% endif %}{% endif %}>United Kingdom</option>
			        	</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</li>