<li class="contact-email-address-container" data-contact-id="{{ contactId }}" data-index="{{ index }}" id="contact-email-address-{{ contactId }}-{{ index }}">
	<div>
		<table width="100%">
			<tbody>
				<tr>
					<td width="9">
						<img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
					</td>
					<td width="1" class="delete">
						<input data-contact-id="{{ contactId }}" data-index="{{ index }}" type="checkbox" class="contact-email-address-field contact-email-address-select" id="form-contact-email-address-select-{{ contactId }}-{{ index }}" value="1" />
					</td>
					<td width="210">
						<select data-contact-id="{{ contactId }}" data-index="{{ index }}" autocomplete="off" class="contact-email-address-field contact-email-address-contact-email-address-type-id full" id="form-contact-email-address-contact-email-address-type-id-{{ contactId }}-{{ index }}">
			        		<option value="">- Select Email Address Type -</option>
			        		{% for contactEmailAddressType in contactEmailAddressTypes %}
		                		<option value="{{ contactEmailAddressType.id }}"{% if data.contactEmailAddressTypeId is defined %}{% if contactEmailAddressType.id == data.contactEmailAddressTypeId %} selected="selected"{% endif %}{% endif %}>{{ contactEmailAddressType.contactEmailAddressType|raw }}</option>
		            		{% endfor %}
			        	</select>
					</td>
					<td>
			        	<input data-contact-id="{{ contactId }}" data-index="{{ index }}" type="email" class="lowercase contact-email-address-field contact-email-address-email full" placeholder="Email Address" id="form-contact-email-address-email-{{ contactId }}-{{ index }}" value="{% if data.email is defined %}{{ data.email }}{% endif %}" />
					</td>
					<td width="1">
						<input type="hidden" class="contact-email-address-display-order" id="form-contact-email-address-display-order-{{ contactId }}-{{ index }}" value="{{ index }}" />
						<input type="hidden" data-contact-id="{{ contactId }}" data-index="{{ index }}" class="contact-email-address-requires-update" id="form-contact-email-address-requires-update-{{ contactId }}-{{ index }}" value="0" />
						<input type="hidden" data-contact-id="{{ contactId }}" data-index="{{ index }}" class="contact-email-address-id" id="form-contact-email-address-id-{{ contactId }}-{{ index }}" value="{% if data.id is defined %}{{ data.id }}{% else %}0{% endif %}" />
						<button data-contact-id="{{ contactId }}" data-index="{{ index }}" class="button ui-button-red action-confirm-delete-contact-email-address" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</li>