<li class="guarantee-container" data-index="{{ id }}" id="guarantee-{{ id }}">
	<table width="100%">
		<tbody>
			<tr>
				<td width="9">
					<img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
				</td>
				<td width="1" class="delete">
					<input data-index="{{ id }}" type="checkbox" class="guarantee-delete" id="form-guarantee-delete-{{ id }}" value="1" />
				</td>
				<td>
					<select autocomplete="off" class="guarantee-type" id="form-guarantee-type-id-{{ id }}">
		        		<option value="">- Select Type -</option>
		        		{% for guarantee_type in guarantee_types %}
	                		<option value="{{ guarantee_type.id }}">{{ guarantee_type.guaranteeType|raw }}</option>
	            		{% endfor %}
		        	</select>
				</td>
				<td width="140">
		        	<select autocomplete="off" class="guarantee-length" id="form-guarantee-length-id-{{ id }}">
		        		<option value="">- Select Length -</option>
		        		{% for guarantee_length in guarantee_lengths %}
	                		<option value="{{ guarantee_length.id }}">{{ guarantee_length.guaranteeLength|raw }}</option>
	            		{% endfor %}
		        	</select>
				</td>
				<td width="1">
					<input type="hidden" class="guarantee-display-order" id="form-guarantee-display-order-{{ id }}" value="{{ id }}" />
					<input type="hidden" data-index="{{ id }}" class="guarantee-requires-update" id="form-guarantee-requires-update-{{ id }}" value="1" />
					<input type="hidden" class="guarantee-id" id="form-guarantee-id-{{ id }}" value="0" />
					<a href="Javascript:void(0);" data-index="{{ id }}" class="button ui-button-delete action-delete-guarantee" data-icon-primary="ui-icon-closethick">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</li>