<section id="general">
	<div class="clearfix">
        <label for="form-status" class="form-label"><em>*</em> Status<small>Is the brand available?</small></label>
        <div class="form-input status" id="form-status"><label><input type="radio" name="status" id="form-status-a" value="a"{% if brand.status == 'a' %} checked="checked"{% endif %} /> Active</label> <label><input type="radio" name="status" id="form-status-h" value="h"{% if brand.status == 'h' %} checked="checked"{% endif %} /> Hidden</label> <label><input type="radio" name="status" id="form-status-d" value="d"{% if brand.status == 'd' %} checked="checked"{% endif %} /> Disabled</label></div>
    </div>
	<div class="clearfix">
        <label for="form-name" class="form-label"><em>*</em> Name<small>Enter the brand name</small></label>
	    <div class="form-input"><input type="text" id="form-brand-name" name="brand-name" required="required" value="{{ brand_description.brand }}" /></div>
    </div>
    <div class="clearfix">
        <label for="form-header" class="form-label"><em>*</em> Header<small>Main header on the page</small></label>
        <div class="form-input"><input type="text" id="form-header" name="header" required="required" value="{{ brand_description.header }}" /></div>
    </div>
    <div class="clearfix">
        <label for="form-logo-image" class="form-label">Logo Image<small>Format: jpg, png or gif</small></label>
        <div class="form-input">
        	<input type="file" id="form-logo-image" name="logo-image" />
        	{% if logo_image.largePath is defined %}
	        	<div class="image-container" id="logo-image-container">
	        		<img class="fr action-delete-image" rel="{{ logo_image.id }}" width="20" src="{{ asset('/bundles/webilluminationadmin/images/navicons/delete-object.png') }}" border="0" />
	        		<img alt="{{ brand_description.brand }}" class="fr thumbnail action-image-popup" data-image-large-path="{{ logo_image.largePath }}" data-image-size-width="300" data-image-size-height="150" src="{{ asset(logo_image.largePath) }}" width="100" height="50" border="0" />
	        		<div class="clear"></div>
	        	</div>
        	{% endif %}
        </div>
    </div>
	<div class="clearfix">
        <label for="form-request-a-brochure" class="form-label">Request a Brochure<small>Available through the site?</small></label>
        <div class="form-input"><label><input type="radio" name="request-a-brochure" id="form-request-a-brochure-1" value="1"{% if brand.requestABrochure == 1 %} checked="checked"{% endif %} /> Yes</label> <label><input type="radio" name="request-a-brochure" id="form-request-a-brochure-0" value="0"{% if brand.requestABrochure == 0 %} checked="checked"{% endif %} /> No</label></div>
    </div>
    <div id="brochure-web-address-container" class="clearfix">
        <label for="form-brochure-web-address" class="form-label">Brochure Web Address<small>Include the "http://"</small></label>
        <div class="form-input"><input class="url" type="url" id="form-brochure-web-address" name="brochure-web-address" value="{{ brand.brochureWebAddress }}" /></div>
    </div>
    <div class="clearfix">
        <label for="form-request-a-sample" class="form-label">Request a Sample<small>Available through the site?</small></label>
        <div class="form-input" id="form-request-a-sample-container"><label><input type="radio" name="request-a-sample" id="form-request-a-sample-1" value="1"{% if brand.requestASample == 1 %} checked="checked"{% endif %} /> Yes</label> <label><input type="radio" name="request-a-sample" id="form-request-a-sample-0" value="0"{% if brand.requestASample == 0 %} checked="checked"{% endif %} /> No</label></div>
    </div>
    <div id="sample-web-address-container" class="clearfix">
        <label for="form-sample-web-address" class="form-label">Sample Web Address<small>Include the "http://"</small></label>
        <div class="form-input"><input class="url" type="url" id="form-sample-web-address" name="sample-web-address" value="{{ brand.sampleWebAddress }}" /></div>
    </div>
    <div class="clearfix">
        <div class="form-input buttons no-margin-bottom">
    		<button class="button ui-button-default" data-icon-primary="ui-icon-check">Save</button>
        </div>
    </div>
    <script type="text/javascript">
		$(document).ready(function() {
		
			{# Status colours #}
			{% if brand.status == 'a' %}
				$("#form-status, #tab-general").addClass("ui-status-success");
			{% elseif brand.status == 'h' %}
				$("#form-status, #tab-general").addClass("ui-status-highlight");
			{% else %}
				$("#form-status, #tab-general").addClass("ui-status-error");
			{% endif %}
			$("input[name='status']").change(function() {
				$("#form-status, #tab-general").removeClass("ui-status-success").removeClass("ui-status-highlight").removeClass("ui-status-error");
				if ($("#form-status-a").is(":checked"))
				{
					$("#form-status, #tab-general").addClass("ui-status-success");
				} else if ($("#form-status-h").is(":checked")) {
					$("#form-status, #tab-general").addClass("ui-status-highlight");
				} else {
					$("#form-status, #tab-general").addClass("ui-status-error");
				}
			});
			
			{# Brochure web address #}
			{% if brand.requestABrochure == 0 %}			
		        $("#brochure-web-address-container").hide();
		    {% endif %}
			$("input[name=request-a-brochure]").change(function() {
		        if ($(this).val()==='1') {
		            $("#brochure-web-address-container").show();
		        } else {
		            $("#brochure-web-address-container").hide();
		        }
		    });
		    
		    {# Sample web address #}
		    {% if brand.requestASample == 0 %}			
		        $("#sample-web-address-container").hide();
		    {% endif %}
			$("input[name=request-a-sample]").change(function() {
		        if ($(this).val()==='1') {
		            $("#sample-web-address-container").show();
		        } else {
		            $("#sample-web-address-container").hide();
		        }
		    });
			
		});
	</script>
</section>