{% extends 'form_div_layout.html.twig' %}

{% block department_widget %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% for group_label, choice in choices %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|raw }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block form_label %}
    {% set label_attr = label_attr|merge({'class': label_attr['class'] ~ " form-label"}) %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if required %}
                <em class="required" title="This field is required">*</em>
            {% endif %}
            {{ label|trans({}, translation_domain) }}
            {% if help is defined %}
                <small class="help">{{ help|raw }}</small>
            {% endif %}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_row %}
    <div class="clearfix">
        {{ form_label(form) }}
        <div class="form-input">
            <table width="100%">
                <tr>
                    <td>
                        {{ form_widget(form) }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}

{% block form_rows %}
    {% spaceless %}
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows %}


{% block _admin_new_product_prices_entry_widget %}
    {% import "WebIlluminationAdminBundle:Includes:fields.html.twig" as fields %}
    {{ fields.product_prices_widget(form) }}
{% endblock %}
{% block _admin_new_product_variants_entry_prices_entry_widget %}
    {% import "WebIlluminationAdminBundle:Includes:fields.html.twig" as fields %}
    {{ fields.product_prices_widget(form) }}
{% endblock %}
{% block _admin_new_product_featureGroups_entry_widget %}
    {% import "WebIlluminationAdminBundle:Includes:fields.html.twig" as fields %}
    {{ fields.product_featureGroups_widget(form) }}
{% endblock %}
{% block _admin_new_product_features_entry_widget %}
    {% import "WebIlluminationAdminBundle:Includes:fields.html.twig" as fields %}
    {{ fields.product_features_widget(form) }}
{% endblock %}
{% block _admin_new_product_departments_entry_widget %}
    {% import "WebIlluminationAdminBundle:Includes:fields.html.twig" as fields %}
    {{ fields.product_departments_widget(form) }}
{% endblock %}
{% block _admin_edit_product_overview_departments_entry_widget %}
    {% import "WebIlluminationAdminBundle:Includes:fields.html.twig" as fields %}
    {{ fields.product_departments_widget(form) }}
{% endblock %}
{% block _admin_new_product_descriptions_entry_widget %}
    {% import "WebIlluminationAdminBundle:Includes:fields.html.twig" as fields %}
    {{ fields.product_descriptions_widget(form) }}
{% endblock %}
{% block _admin_new_product_variants_entry_widget %}
    {% import "WebIlluminationAdminBundle:Includes:fields.html.twig" as fields %}
    {{ fields.product_variants_widget(form) }}
{% endblock %}
{% block _admin_new_product_variants_entry_descriptions_entry_widget %}
    {% import "WebIlluminationAdminBundle:Includes:fields.html.twig" as fields %}
    {{ fields.variant_descriptions_widget(form) }}
{% endblock %}