<table cellspacing="0" border="0" style="background-color: #FFFFFF;" cellpadding="0" width="100%">
	<tr>
		<td valign="top">
			<table width="100%" cellspacing="0" border="0" align="center" style="background: #FFFFFF; border: 1px solid #CCCCCC;" cellpadding="0">
				<tr>
					<td valign="top">
						<table width="100%" cellspacing="0" border="0" cellpadding="0">
							<tr>
								<td width="100%" valign="top" style="padding: 20px;">
									<table width="100%" style="border-collapse: collapse;" cellspacing="0" border="0" cellpadding="0">
										<tr>
											<td width="300" valign="top" align="left" style="background: #FFFFFF;"><img height="50" alt="Kitchen Appliance Centre" border="0" src="http://www.kitchenappliancecentre.co.uk/bundles/webilluminationshop/images/logos/kitchen-appliance-centre-email-logo.png" /></td>
											<td valign="top" align="right" style="line-height: 120%; background: #FFFFFF; font-weight: bold; color: #000000; font-size: 24px; font-family: Arial;">INVOICE: <span style="line-height: 120%; font-weight: normal; color: #444444; font-size: 24px; font-family: Arial;">{{ order.orderNumber }}</span><br /><span style="line-height: 120%; font-weight: normal; color: #676767; font-size: 16px; font-family: Arial;">{{ order.orderDate|date('d/m/Y h:iA') }}</span></</td>
										</tr>
									</table>
									<table width="100%" style="border-collapse: collapse;" cellspacing="0" border="0" cellpadding="0">
										<tr>
											<td width="330" valign="top" align="left" style="background: #FFFFFF; padding: 0 20px 0 0;">
												<table width="100%" style="border-collapse: collapse;" cellspacing="0" border="0" cellpadding="0">
													<tr>
														<td valign="top" align="left" style="background: #FFFFFF;">
															<h3 style="border-bottom: 1px dotted #676767; line-height: 100%; color: #000; font-size: 14px; font-family: Arial; padding: 20px 0px 5px 0px; margin: 0px 0px 10px 0px;">Billing Address</h3>
														</td>
													</tr>
													<tr>
														<td valign="top" align="left" style="padding: 50px 0 0 30px; line-height: 120%; background: #FFFFFF; font-weight: normal; color: #000000; text-transform: uppercase; font-size: 12px; font-family: Arial;">{% spaceless %}
															{{ order.billingFirstName }} {{ order.billingLastName }}<br />
															{% if order.billingOrganisationName != '' %}
																{{ order.billingOrganisationName }}<br />
															{% endif %}
															{{ order.billingAddressLine1 }}<br />
															{% if order.billingAddressLine2 != '' %}
																{{ order.billingAddressLine2 }}<br />
															{% endif %}
															{{ order.billingTownCity }}<br />
															{% if order.billingCountyState != '' %}
																{{ order.billingCountyState }}<br />
															{% endif %}
															{% if order.billingCountryCode == 'GB' %}
																{{ order.billingPostZipCode }}<br />
															{% endif %}
															{% if order.billingCountryCode == 'IE' %}
																Republic of Ireland
															{% endif %}
														{% endspaceless %}</td>
													</tr>
												</table>
											</td>
											<td valign="top">
												<table width="100%" style="border-collapse: collapse;" cellspacing="0" border="0" cellpadding="0">
													<tr>
														<td valign="top" align="left" style="background: #FFFFFF;">
															<h3 style="border-bottom: 1px dotted #676767; line-height: 100%; color: #000; font-size: 14px; font-family: Arial; padding: 20px 0px 5px 0px; margin: 0px 0px 10px 0px;">Details</h3>
														</td>
													</tr>
													<tr>
														<td valign="top" align="left" style="background: #FFFFFF;">
															<table width="100%" style="border-collapse: collapse; border: 1px solid #CCC;" cellspacing="0" border="0" cellpadding="0">
																<tr>
																	<td width="100" valign="top" align="left" style="white-space: nowrap; border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Payment Type:</strong></td>
																	<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px;">{{ order.paymentType }}</td>
																</tr>
																<tr>
																	<td width="100" valign="top" align="left" style="white-space: nowrap; border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Delivery Type:</strong></td>
																	<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px;">{{ order.deliveryType }}</td>
																</tr>
																<tr>
																	<td width="100" valign="top" align="left" style="white-space: nowrap; border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Order Status:</strong></td>
																	<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px;">{{ order.status }}</td>
																</tr>
																<tr>
																	<td width="100" valign="top" align="left" style="white-space: nowrap; border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Telephone (Daytime):</strong></td>
																	<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px;">{{ order.telephoneDaytime }}</td>
																</tr>
																{% if order.telephoneEvening %}
																	<tr>
																		<td width="100" valign="top" align="left" style="white-space: nowrap; border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Telephone (Evening):</strong></td>
																		<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px;">{{ order.telephoneEvening }}</td>
																	</tr>
																{% endif %}
																{% if order.mobile %}
																	<tr>
																		<td width="100" valign="top" align="left" style="white-space: nowrap; border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Mobile:</strong></td>
																		<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px;">{{ order.mobile }}</td>
																	</tr>
																{% endif %}
																<tr>
																	<td width="100" valign="top" align="left" style="white-space: nowrap; border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Email Address:</strong></td>
																	<td valign="top" align="left" style="border: 1px solid #CCC; text-transform: lowercase; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px;">{{ order.emailAddress }}</td>
																</tr>
																<tr>
																	<td width="100" valign="top" align="left" style="white-space: nowrap; border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Delivery{% if order.deliveryType != 'Collection' %} Address{% endif %}:</strong></td>
																	{% if order.deliveryType == 'Collection' %}
																		<td valign="top" align="left" style="text-transform: uppercase; border: 1px solid #CCC; line-height: 120%; background: #CC0000; color: #FFF; font-size: 12px; font-weight: bold; font-family: 'Arial Black', Arial; padding: 5px 10px;">COLLECTION</td>
																	{% else %}
																		<td valign="top" align="left" style="text-transform: uppercase; border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px;">{% spaceless %}
																			{{ order.deliveryFirstName }} {{ order.deliveryLastName }}<br />
																			{% if order.deliveryOrganisationName != '' %}
																				{{ order.deliveryOrganisationName }}<br />
																			{% endif %}
																			{{ order.deliveryAddressLine1 }}<br />
																			{% if order.deliveryAddressLine2 != '' %}
																				{{ order.deliveryAddressLine2 }}<br />
																			{% endif %}
																			{{ order.deliveryTownCity }}<br />
																			{% if order.deliveryCountyState != '' %}
																				{{ order.deliveryCountyState }}<br />
																			{% endif %}
																			{% if order.deliveryCountryCode == 'GB' %}
																				{{ order.deliveryPostZipCode }}<br />
																			{% endif %}
																			{% if order.deliveryCountryCode == 'IE' %}
																				Republic of Ireland
																			{% endif %}
																		{% endspaceless %}</td>
																	{% endif %}
																</tr>
																{% if order.deliveryType != 'Collection' %}
																	<tr>
																		<td width="100" valign="top" align="left" style="white-space: nowrap; border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 10px; font-family: Arial; padding: 5px 10px; font-weight: bold;"><strong>Estimated Delivery:</strong></td>
																		<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #4EC0E3; font-size: 10px; font-family: Arial; padding: 5px 10px; text-transform: uppercase;"><strong>{{ order.estimatedDeliveryDaysStart }}<br />{{ order.estimatedDeliveryDaysEnd }}</strong></td>
																	</tr>
																{% endif %}
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
									{% if order.deliveryType != 'Collection' %}
										<p style="font-family: Arial; font-weight: bold; font-size: 11px; color: #CC0000; padding: 20px 0 0 0; margin: 0; line-height: 120%;">PLEASE NOTE: Estimated delivery times are subject to availability.</p>
									{% endif %}
									{% if order.deliveryType == 'Collection' %}
										<p style="font-family: Arial; font-weight: bold; font-size: 11px; color: #CC0000; padding: 20px 0 0 0; margin: 0; line-height: 120%;">PLEASE NOTE: YOU HAVE CHOSEN TO COLLECT YOUR ORDER. WE WILL CONTACT YOU AS SOON AS YOUR ORDER IS READY FOR COLLECTION.</p>
									{% endif %}
									{% if order.customerNotes|length > 0 %}
										<h3 style="border-bottom: 1px dotted #676767; line-height: 100%; color: #000; font-size: 14px; font-family: Arial; padding: 20px 0px 5px 0px; margin: 0px 0px 0px 0px;">Notes</h3>
										{% for note in order.customerNotes %}
											<p style="font-family: Arial; font-size: 11px; color: #CC0000; padding: 10px 0 0 0; margin: 0; line-height: 100%;"><em>{{ note.note }}</em></p>
										{% endfor %}
									{% endif %}
									<h3 style="border-bottom: 1px dotted #676767; line-height: 100%; color: #000; font-size: 14px; font-family: Arial; padding: 20px 0px 5px 0px; margin: 0px 0px 10px 0px;">Order</h3>
									<table style="border-collapse: collapse; border: 1px solid #CCC;" cellspacing="0" border="0" cellpadding="0" width="100%">
										<tr>
											<td width="1" colspan="2" valign="top" align="left" style="border: 1px solid #CCC; text-align: center; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" align="center" width="180"><strong>Qty</strong></td>
											<td valign="top" align="left" style="border: 1px solid #CCC; text-align: center; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" align="center" width="180"><strong>Product</strong></td>
											<td width="1" valign="top" align="left" style="border: 1px solid #CCC; text-align: center; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" align="center" width="180"><strong>Code</strong></td>
											<td width="1" colspan="3" valign="top" align="left" style="border: 1px solid #CCC; text-align: center; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" align="center" width="180"><strong>Price</strong></td>
										</tr>
										{% for product in order.products %}
											<tr>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: center;" align="center" width="1">{{ product.quantity }}</td>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: center;" align="center" width="1">&times;</td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">{% spaceless %}
													<strong>{{ product.header }}</strong>
													{% if product.selectedOptionLabels|length > 0 %}
														<br />
														{% for selectedOptionLabel in product.selectedOptionLabels %}
															{% if selectedOptionLabel != '' %}
																&nbsp;&nbsp;-&nbsp;&nbsp;{{ selectedOptionLabel|raw }}{% if not loop.last %}<br />{% endif %}
															{% endif %}
														{% endfor %}
													{% endif %}
												{% endspaceless %}</td>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: center;" align="center" width="1">{{ product.productCode }}</td>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: center;" align="center" width="1">&pound;{{ product.unitCost|number_format(2) }}</td>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: center;" align="center" width="1">=</td>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: center;" align="center" width="1">&pound;{{ product.subTotal|number_format(2) }}</td>
											</tr>
										{% endfor %}
										{% if order.membershipCardPurchased > 0 %}
											<tr>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: center;" align="center" width="1">1</td>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: center;" align="center" width="1">&times;</td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">Ride Direct Privilege Card</td>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: center;" align="center" width="1"><strong>PRIVILEGE</strong></td>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: center;" align="center" width="1">&pound;1.00</td>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: center;" align="center" width="1">=</td>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: center;" align="center" width="1">&pound;1.00</td>
											</tr>
										{% endif %}
									</table>
									<table style="border-collapse: collapse; border: 1px solid #CCC;" width="100%" cellspacing="0" border="0" cellpadding="0">
										<tr>
											<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: right;" align="right"><strong>Subtotal before Delivery Charges (inc. VAT):</strong></td>
											<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #CC0000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: right;" align="right" width="1"><strong>&pound;{{ order.subTotal|number_format(2) }}</strong></td>
										</tr>
										<tr>
											<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: right;" align="right"><strong>Delivery Charge (inc. VAT):</strong></td>
											{% if order.deliveryType == 'Collection' %}
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #CC0000; color: #FFFFFF; font-weight: bold; font-size: 11px; font-family: 'Arial Black', Arial; padding: 5px 10px; text-align: right;" align="right" width="1">COLLECTION</td>
											{% else %}
												{% if order.deliveryCharge == 0 %}
													<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #009900; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: right;" align="right" width="1">FREE</td>
												{% else %}
													<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #CC0000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: right;" align="right" width="1">&pound;{{ order.deliveryCharge|number_format(2) }}</td>
												{% endif %}
											{% endif %}
										</tr>
										{% if order.discount > 0 %}
											<tr>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: right;" align="right"><strong>You Saved:</strong></td>
												<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #009900; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: right;" align="right" width="1">&pound;{{ order.discount|number_format(2) }}</td>
											</tr>
										{% endif %}
										<tr>
											<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: right;" align="right"><strong>VAT (20%):</strong></td>
											<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #CC0000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: right;" align="right" width="1"><strong>&pound;{{ order.vat|number_format(2) }}</strong></td>
										</tr>
										<tr>
											<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: right;" align="right"><strong>Total Paid (inc. VAT):</strong></td>
											<td valign="top" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #CC0000; font-size: 11px; font-family: Arial; padding: 5px 10px; text-align: right;" align="right" width="1"><strong>&pound;{{ order.total|number_format(2) }}</strong></td>
										</tr>
									</table>
									<table cellspacing="0" border="0" cellpadding="0" width="100%">
										<tr>
											<td valign="top" style="padding: 10px 0 0 0;" align="left">
												<p style="font-family: Arial; font-size: 12px; color: #000000; padding: 0 0 5px 0; margin: 0; line-height: 100%;">Thank you for placing your order with Kitchen Appliance Centre.</p>
												<p style="font-family: Arial; font-size: 16px; color: #83939C; padding: 0 0 5px 0; margin: 0; line-height: 100%;"><strong>Kitchen Appliance Centre</strong> Sales Team</p>
												<p style="font-family: Arial; font-size: 12px; color: #83939C; padding: 0 0 5px 0; margin: 0; line-height: 100%;"><strong style="color: #59C6F2">t:</strong> 01159 385 111</p>
												<p style="font-family: Arial; font-size: 12px; color: #83939C; padding: 0 0 5px 0; margin: 0; line-height: 100%;"><strong style="color: #59C6F2">e:</strong>  <a style="font-family: Arial; font-size: 12px; color: #59C6F2;" href="mailto:sales@kitchenappliancecentre.co.uk">sales@kitchenappliancecentre.co.uk</a></p>
												<p style="font-family: Arial; font-size: 12px; color: #83939C; padding: 0; margin: 0; line-height: 100%;"><strong style="color: #59C6F2">w:</strong> <a style="font-family: Arial; font-size: 12px; color: #59C6F2;" href="http://www.kitchenappliancecentre.co.uk/">www.kitchenappliancecentre.co.uk</a></p>
											</td>
										</tr>
									</table>
									<p style="font-family: Arial; font-size: 10px; color: #98A7B3; padding: 10px 0; margin: 10px 0 0 0; line-height: 100%; border-top: 2px dotted #98A7B3;">Kitchen Appliance Centre is a trading company of Onefit Ltd. Incorporated in England and Wales. Company Number: 4605369. VAT Number: 728345716. Registered Office: Unit 3 Pentrich Road, Giltbrook Industrial Park, Giltbrook, Nottinghamshire, NG16 2UZ.</p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>