{% extends ':Old:admin.html.twig' %}
{% block title %}Report a {{ data.settings.singleTitle }} | {{ parent() }}{% endblock %}
{% block headerscripts %}
	{{ parent() }}
	{% javascripts '@WebIlluminationAdminBundle/Resources/public/js/tinymce/jquery.tinymce.js' output='js/tinymce.js' filter='yui_js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}
{% block leftmenu %}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':leftMenu.html.twig' %}  
{% endblock %}
{% block header %}
	{{ parent() }}
	<h2>Report a {{ data.settings.singleTitle }}</h2>
{% endblock %}
{% block body %}
	<section class="container_6 clearfix">
    	<div class="grid_6">
    		<div class="info-message">
				<span class="info-message-icon ui-icon ui-icon-info"></span>
				<p>If you have encountered a bug on the site please report it using the form below.</p>
				<p><strong>PLEASE NOTE:</strong> This tool is for reporting bugs only. If you want to request an enhancement or a feature you need to use the Request a Feature tool.</p>
				<div class="clear"></div>
			</div>
        	<div class="portlet">
            	<header>
                	<h2>Report a {{ data.settings.singleTitle }}</h2>
                </header>
                <section>
                	<form class="form has-validation" id="form-add" method="post" action="{{ path('admin_'~data.settings.multiplePath~'_add') }}">
                		<div class="form-element clearfix no-margin-top">
                			<span data-help-container="bug" class="info-message-icon ui-icon ui-icon-help"></span>
					        <label for="form-bug" class="form-label"><em>*</em> Bug</label>
					        <div class="form-input"><textarea id="form-bug" name="bug" rows="3" required="required" data-message="Enter details of the bug encountered"></textarea></div>
					    </div>
					    <div id="form-help-bug" class="form-help ui-helper-hidden">
					    	<p>Enter as much detail as possible what the bug was that you encountered. This shouldn't be something like "It's not working!". Detail what steps you went through to get to the bug.</p>
					    </div>
	                	<div class="form-element clearfix">
		                	<span data-help-container="test-scenario" class="info-message-icon ui-icon ui-icon-help"></span>
					    	<label for="form-test-scenario" class="form-label">Test Scenario</label>
					        <div class="form-input">
					        	<div class="ac">
					            	<div class="buttonset no-margin-right">
					                	<input type="radio" class="show-tinymce" rel="#form-test-scenario" name="tinymce-test-scenario" value="1" id="tinymce-test-scenario-1" checked="checked" /><label for="tinymce-test-scenario-1">Visual</label>
					                    <input type="radio" class="show-tinymce" rel="#form-test-scenario" name="tinymce-test-scenario" value="0" id="tinymce-test-scenario-0" /><label for="tinymce-test-scenario-0">HTML</label>
					                    <hr class="inset" />
					                </div>
					                <div class="leading">
					                	<textarea id="form-test-scenario" name="test-scenario" rows="3" class="tinymce-basic"></textarea>
					                </div>
					            </div>
					        </div>
					    </div>
					    <div id="form-help-test-scenario" class="form-help ui-helper-hidden">
					    	<p>Enter what you would expect to happen if the bug was resolved. What outcome would you expect and what steps would be required in order to replicate the steps to a successful outcome.</p>
					    </div>
					    <div class="form-element clearfix">
					    	<span data-help-container="operating-system-internet-browser" class="info-message-icon ui-icon ui-icon-help"></span>
					        <label for="form-operating-system" class="form-label"><em>*</em> Operating System</label>
					        <div class="form-input">
						        <select id="form-operating-system" name="operating-system" required="required" data-message="Select the Operating System">
							        <option value="">- Please Select -</option>
									<optgroup label="Microsoft">
										<option data-operating-system="Windows" value="Windows 7">Windows 7</option>
										<option data-operating-system="Windows" value="Windows Vista">Windows Vista</option>
										<option data-operating-system="Windows" value="Windows XP">Windows XP</option>
									</optgroup>
									<optgroup label="Apple">
										<option data-operating-system="Mac" value="Mac OS X">Mac OS X</option>
										<option data-operating-system="Mac" value="Mac OS 9">Mac OS 9</option>
										<option data-operating-system="Mac" value="Mac OS 8">Mac OS 8</option>
									</optgroup>
						        </select>
					        </div>
					        <div class="clear"></div>
					        <label for="form-internet-browser" class="form-label"><em>*</em> Internet Browser</label>
					        <div class="form-input">
						        <select id="form-internet-browser" name="internet-browser" required="required" data-message="Select the Internet Browser">
							        <option value="">- Please Select Operating System -</option>
							        <option data-operating-system="Windows" value="Google Chrome">Google Chrome</option>
							        <option data-operating-system="Windows" value="Microsoft Internet Explorer">Microsoft Internet Explorer</option>
							        <option data-operating-system="Windows" value="Mozilla Firefox">Mozilla Firefox</option>
									<option data-operating-system="Windows" value="Opera">Opera</option>
									<option data-operating-system="Mac" value="Google Chrome">Google Chrome</option>
							        <option data-operating-system="Mac" value="Mozilla Firefox">Mozilla Firefox</option>
									<option data-operating-system="Mac" value="Opera">Opera</option>
						        </select>
					        </div>
					    </div>
					    <div id="form-help-operating-system-internet-browser" class="form-help ui-helper-hidden">
					    	<p>Select the operating system and Internet browser you used when you encountered the problem. This is required, so we can try and replicate the issue in order to resolve it.</p>
					    </div>
					    <div class="form-element clearfix">
					    	<span data-help-container="url" class="info-message-icon ui-icon ui-icon-help"></span>
					        <label for="form-url" class="form-label">Web Address</label>
					        <div class="form-input"><input type="text" id="form-url" class="url" name="url" value="" /></div>
					    </div>
					    <div id="form-help-url" class="form-help ui-helper-hidden">
					    	<p>Enter the web address of the page you encountered the problem on.</p>
					    </div>
					    <div class="form-element clearfix">
					    	<span data-help-container="priority" class="info-message-icon ui-icon ui-icon-help"></span>
					        <label for="form-priority" class="form-label"><em>*</em> Priority</label>
					        <div class="form-input">
						        <select id="form-priority" name="priority" required="required" data-message="Select a priority">
							        <option value="">- Please Select -</option>
							        <option value="1">Trivial</option>
							        <option value="2">Minor</option>
							        <option value="3">Major</option>
							        <option value="4">Critical</option>
						        </select>
					        </div>
					    </div>
					    <div id="form-help-priority" class="form-help ui-helper-hidden">
					    	<p>Enter the priority of the bug. How serious is the issue?</p>
					    </div>
					    <div class="form-element clearfix">
					    	<span data-help-container="owner-contact-id" class="info-message-icon ui-icon ui-icon-help"></span>
					        <label for="form-owner-contact-id" class="form-label"><em>*</em> Owner</label>
					        <div class="form-input">
						        <select id="form-owner-contact-id" name="owner-contact-id" required="required" data-message="Select an owner">
							        <option value="">- Please Select -</option>
							        {% for administrator in data.administrators %}
								        <option{% if data.administrator.user.contactId == administrator.id %} selected="selected"{% endif %} value="{{ administrator.id }}">{{ administrator.firstName }} {{ administrator.lastName }}</option>
								    {% endfor %}
						        </select>
					        </div>
					    </div>
					    <div id="form-help-owner-contact-id" class="form-help ui-helper-hidden">
					    	<p>If the bug was encountered by someone else select the person who encountered the bug. If you encountered the bug select your name. By default your name should already be selected.</p>
					    </div>
					    <div id="float-buttons" class="clearfix">
					        <div id="float-buttons-content" class="float-buttons clearfix buttons">
					        	<input type="hidden" value="0" id="form-add-another" name="add-another" />
						        <button id="button-add" type="submit" class="button ui-button-green" data-icon-primary="ui-icon-check">Report {{ data.settings.singleTitle }} &amp; Go Back</button>
						        <button id="button-add-another" type="submit" class="button ui-button-green" data-icon-primary="ui-icon-check">Report {{ data.settings.singleTitle }} &amp; Report Another {{ data.settings.singleTitle }}</button>
						    </div>
						</div>
					</form>
                </section>
            </div>
        </div>
	    <div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':addScript.js.twig' with {'data': data} %}
{% endblock %}