{% extends '::admin.html.twig' %}
{% block title %}{% if data.mode == 'update' %}Bug #{{ data.item.id }}{% else %}Report a {{ data.settings.singleTitle }}{% endif %} | {{ parent() }}{% endblock %}
{% block headerscripts %}
	{{ parent() }}
	{% javascripts '@WebIlluminationAdminBundle/Resources/public/js/tinymce/jquery.tinymce.js' output='js/tinymce.js' filter='yui_js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}
{% block leftmenu %}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':leftMenu.html.twig' %}  
{% endblock %}
{% block header %}
	{{ parent() }}
	<a href="{{ path('admin_bugs') }}" id="button-go-back" class="fr button ui-button-blue" data-icon-primary="ui-icon-triangle-1-w">Go Back</a>
	{% if data.mode == 'update' %}
		<h2>Bug #{{ data.item.id }}</h2>
	{% else %}
    	<h2>Report a {{ data.settings.singleTitle }}</h2>
    {% endif %}
{% endblock %}
{% block body %}
	<section class="container_6 clearfix">
    	<div class="grid_6">
    		{% if data.mode == 'add' %}
	    		<div class="info-message">
					<span class="info-message-icon ui-icon ui-icon-info"></span>
					<p>If you have encountered a bug on the site please report it using the form below.</p>
					<p><strong>PLEASE NOTE:</strong> This tool is for reporting bugs only. If you want to request an enhancement or a feature you need to use the Request a Feature tool.</p>
					<div class="clear"></div>
				</div>
			{% endif %}
        	<div class="portlet">
            	<header>
            		{% if data.mode == 'update' %}
            			<h2>Bug #{{ data.item.id }}</h2>
            		{% else %}
	                	<h2>Report a {{ data.settings.singleTitle }}</h2>
	                {% endif %}
                </header>
                <section>
                	<form class="form has-validation" id="form-add" method="post" action="{{ data.formAction }}">
                		<div class="form-element clearfix no-margin-top">
                			<span data-help-container="bug" class="info-message-icon ui-icon ui-icon-help"></span>
					        <label for="form-bug" class="form-label"><em>*</em> Bug</label>
					        <div class="form-input"><textarea id="form-bug" name="bug" rows="3" required="required" data-message="Enter details of the bug encountered">{{ data.item.bug|default('') }}</textarea></div>
					    </div>
					    <div id="form-help-bug" class="form-help ui-helper-hidden">
					    	<p>Enter as much detail as possible what the bug was that you encountered. This shouldn't be something like "It's not working!". Detail what steps you went through to get to the bug.</p>
					    </div>
	                	<div class="form-element clearfix">
		                	<span data-help-container="test-scenario" class="info-message-icon ui-icon ui-icon-help"></span>
					    	<label for="form-test-scenario" class="form-label">Test Scenario</label>
					        <div class="form-input">
					        	<div class="ac">
					            	<div class="buttonset no-margin-right">
					                	<input type="radio" class="show-tinymce" rel="#form-test-scenario" name="tinymce-test-scenario" value="1" id="tinymce-test-scenario-1" checked="checked" /><label for="tinymce-test-scenario-1">Visual</label>
					                    <input type="radio" class="show-tinymce" rel="#form-test-scenario" name="tinymce-test-scenario" value="0" id="tinymce-test-scenario-0" /><label for="tinymce-test-scenario-0">HTML</label>
					                    <hr class="inset" />
					                </div>
					                <div class="leading">
					                	<textarea id="form-test-scenario" name="test-scenario" rows="3" class="tinymce-basic">{{ data.item.testScenario|default('') }}</textarea>
					                </div>
					            </div>
					        </div>
					    </div>
					    <div id="form-help-test-scenario" class="form-help ui-helper-hidden">
					    	<p>Enter what you would expect to happen if the bug was resolved. What outcome would you expect and what steps would be required in order to replicate the steps to a successful outcome.</p>
					    </div>
					    <div class="form-element clearfix">
					    	<span data-help-container="operating-system-internet-browser" class="info-message-icon ui-icon ui-icon-help"></span>
					        <label for="form-operating-system" class="form-label"><em>*</em> Operating System</label>
					        <div class="form-input">
						        <select id="form-operating-system" name="operating-system" required="required" data-message="Select the Operating System">
							        <option value="">- Please Select -</option>
									<optgroup label="Microsoft">
										<option{% if data.item is defined %}{% if data.item.operatingSystem == 'Windows 7' %} selected="selected"{% endif %}{% endif %} data-operating-system="Windows" value="Windows 7">Windows 7</option>
										<option{% if data.item is defined %}{% if data.item.operatingSystem == 'Windows Vista' %} selected="selected"{% endif %}{% endif %} data-operating-system="Windows" value="Windows Vista">Windows Vista</option>
										<option{% if data.item is defined %}{% if data.item.operatingSystem == 'Windows XP' %} selected="selected"{% endif %}{% endif %} data-operating-system="Windows" value="Windows XP">Windows XP</option>
									</optgroup>
									<optgroup label="Apple">
										<option{% if data.item is defined %}{% if data.item.operatingSystem == 'Mac OS X' %} selected="selected"{% endif %}{% endif %} data-operating-system="Mac" value="Mac OS X">Mac OS X</option>
										<option{% if data.item is defined %}{% if data.item.operatingSystem == 'Mac OS 9' %} selected="selected"{% endif %}{% endif %} data-operating-system="Mac" value="Mac OS 9">Mac OS 9</option>
										<option{% if data.item is defined %}{% if data.item.operatingSystem == 'Mac OS 8' %} selected="selected"{% endif %}{% endif %} data-operating-system="Mac" value="Mac OS 8">Mac OS 8</option>
									</optgroup>
						        </select>
					        </div>
					        <div class="clear"></div>
					        <label for="form-internet-browser" class="form-label"><em>*</em> Internet Browser</label>
					        <div class="form-input">
						        <select id="form-internet-browser" name="internet-browser" required="required" data-message="Select the Internet Browser">
						        	{% if data.mode == 'add' %}
								        <option value="">- Please Select Operating System -</option>
								    {% endif %}
								    {% if data.item is defined %}
									    {% if (data.item.operatingSystem == 'Windows 7') or (data.item.operatingSystem == 'Windows Vista') or (data.item.operatingSystem == 'Windows XP') %}
									        <option value="">- Please Select -</option>
									        <option{% if data.item.internetBrowser == 'Google Chrome' %} selected="selected"{% endif %} data-operating-system="Windows" value="Google Chrome">Google Chrome</option>
									        <option{% if data.item.internetBrowser == 'Microsoft Internet Explorer' %} selected="selected"{% endif %} data-operating-system="Windows" value="Microsoft Internet Explorer">Microsoft Internet Explorer</option>
									        <option{% if data.item.internetBrowser == 'Mozilla Firefox' %} selected="selected"{% endif %} data-operating-system="Windows" value="Mozilla Firefox">Mozilla Firefox</option>
											<option{% if data.item.internetBrowser == 'Opera' %} selected="selected"{% endif %} data-operating-system="Windows" value="Opera">Opera</option>
										{% endif %}
										{% if (data.item.operatingSystem == 'Mac OS X') or (data.item.operatingSystem == 'Mac OS 9') or (data.item.operatingSystem == 'Mac OS 8') %}
											<option value="">- Please Select -</option>
											<option{% if data.item.internetBrowser == 'Google Chrome' %} selected="selected"{% endif %} data-operating-system="Mac" value="Google Chrome">Google Chrome</option>
									        <option{% if data.item.internetBrowser == 'Mozilla Firefox' %} selected="selected"{% endif %} data-operating-system="Mac" value="Mozilla Firefox">Mozilla Firefox</option>
											<option{% if data.item.internetBrowser == 'Opera' %} selected="selected"{% endif %} data-operating-system="Mac" value="Opera">Opera</option>
										{% endif %}
									{% endif %}
						        </select>
					        </div>
					    </div>
					    <div id="form-help-operating-system-internet-browser" class="form-help ui-helper-hidden">
					    	<p>Select the operating system and Internet browser you used when you encountered the problem. This is required, so we can try and replicate the issue in order to resolve it.</p>
					    </div>
					    <div class="form-element clearfix">
					    	<span data-help-container="url" class="info-message-icon ui-icon ui-icon-help"></span>
					        <label for="form-url" class="form-label">Web Address</label>
					        <div class="form-input"><input type="text" id="form-url" class="url" name="url" value="{{ data.item.url|default('') }}" /></div>
					    </div>
					    <div id="form-help-url" class="form-help ui-helper-hidden">
					    	<p>Enter the web address of the page you encountered the problem on.</p>
					    </div>
					    {% if data.mode == 'update' %}
						    <div class="form-element clearfix">
						    	<span data-help-container="status" class="info-message-icon ui-icon ui-icon-help"></span>
						        <label for="form-status" class="form-label"><em>*</em> Status</label>
						        <div class="form-input {{ data.item.statusColour|default('') }}">
							        <select id="form-status" name="status" required="required" data-message="Select a status">
								        <option value="">- Please Select -</option>
								        <option{% if data.item is defined %}{% if data.item.status == '1' %} selected="selected"{% endif %}{% endif %} value="1">Not Started</option>
								        <option{% if data.item is defined %}{% if data.item.status == '2' %} selected="selected"{% endif %}{% endif %} value="2">More Information Required</option>
								        <option{% if data.item is defined %}{% if data.item.status == '3' %} selected="selected"{% endif %}{% endif %} value="3">In Progress</option>
								        <option{% if data.item is defined %}{% if data.item.status == '4' %} selected="selected"{% endif %}{% endif %} value="4">Ready for Testing</option>
								        <option{% if data.item is defined %}{% if data.item.status == '5' %} selected="selected"{% endif %}{% endif %} value="5">Closed</option>
							        </select>
						        </div>
						    </div>
						    <div id="form-help-priority" class="form-help ui-helper-hidden">
						    	<p>Enter the priority of the bug. How serious is the issue?</p>
						    </div>
						{% endif %}
					    <div class="form-element clearfix">
					    	<span data-help-container="priority" class="info-message-icon ui-icon ui-icon-help"></span>
					        <label for="form-priority" class="form-label"><em>*</em> Priority</label>
					        <div class="form-input {{ data.item.priorityColour|default('') }}">
						        <select id="form-priority" name="priority" required="required" data-message="Select a priority">
							        <option value="">- Please Select -</option>
							        <option{% if data.item is defined %}{% if data.item.priority == '1' %} selected="selected"{% endif %}{% endif %} value="1">Trivial</option>
							        <option{% if data.item is defined %}{% if data.item.priority == '2' %} selected="selected"{% endif %}{% endif %} value="2">Minor</option>
							        <option{% if data.item is defined %}{% if data.item.priority == '3' %} selected="selected"{% endif %}{% endif %} value="3">Major</option>
							        <option{% if data.item is defined %}{% if data.item.priority == '4' %} selected="selected"{% endif %}{% endif %} value="4">Critical</option>
						        </select>
					        </div>
					    </div>
					    <div id="form-help-priority" class="form-help ui-helper-hidden">
					    	<p>Enter the priority of the bug. How serious is the issue?</p>
					    </div>
					    <div class="form-element clearfix">
					    	<span data-help-container="owner-contact-id" class="info-message-icon ui-icon ui-icon-help"></span>
					        <label for="form-owner-contact-id" class="form-label"><em>*</em> Owner</label>
					        <div class="form-input">
						        <select id="form-owner-contact-id" name="owner-contact-id" required="required" data-message="Select an owner">
							        <option value="">- Please Select -</option>
							        {% for administrator in data.administrators %}
							        	{% if data.mode == 'update' %}
							        		<option{% if data.item is defined %}{% if data.item.ownerContactId == administrator.id %} selected="selected"{% endif %}{% endif %} value="{{ administrator.id }}">{{ administrator.firstName }} {{ administrator.lastName }}</option>
							        	{% else %}
									        <option{% if data.item is defined %}{% if data.administrator.user.contactId == administrator.id %} selected="selected"{% endif %}{% endif %} value="{{ administrator.id }}">{{ administrator.firstName }} {{ administrator.lastName }}</option>
									    {% endif %}
								    {% endfor %}
						        </select>
					        </div>
					    </div>
					    <div id="form-help-owner-contact-id" class="form-help ui-helper-hidden">
					    	<p>If the bug was encountered by someone else select the person who encountered the bug. If you encountered the bug select your name. By default your name should already be selected.</p>
					    </div>
					    {% if data.mode == 'update' %}
						    <div class="form-element clearfix">
						    	<span data-help-container="assigned-to-contact-id" class="info-message-icon ui-icon ui-icon-help"></span>
						        <label for="form-assigned-to-contact-id" class="form-label"><em>*</em> Assigned To</label>
						        <div class="form-input">
							        <select id="form-assigned-to-contact-id" name="assigned-to-contact-id" required="required" data-message="Select a developer">
								        <option value="">- Please Select -</option>
								        {% for administrator in data.administrators %}
								        	<option{% if data.item is defined %}{% if data.item.assignedToContactId == administrator.id %} selected="selected"{% endif %}{% endif %} value="{{ administrator.id }}">{{ administrator.firstName }} {{ administrator.lastName }}</option>
									    {% endfor %}
							        </select>
						        </div>
						    </div>
						    <div id="form-help-owner-contact-id" class="form-help ui-helper-hidden">
						    	<p>Select a developer to assign the bug to.</p>
						    </div>
						{% endif %}
					    <div id="float-buttons" class="clearfix">
					        <div id="float-buttons-content" class="float-buttons clearfix buttons">
					        	{% if data.mode == 'update' %}
					        		<input type="hidden" value="0" id="form-go-back" name="go-back" />
					        		<a href="{{ path('admin_bugs') }}" id="button-go-back" class="fr ui-corner-none ui-corner-tr ui-corner-br button ui-button-blue" data-icon-primary="ui-icon-triangle-1-w">Go Back</a>
					        		<button id="button-update-go-back" type="submit" class="fr button ui-corner-none ui-button-green" data-icon-primary="ui-icon-check">Update {{ data.settings.singleTitle }} &amp; Go Back</button>
					        		<button id="button-update" type="submit" class="fr button ui-corner-none ui-corner-tl ui-corner-bl ui-button-green" data-icon-primary="ui-icon-check">Update {{ data.settings.singleTitle }}</button>
					        	{% elseif data.mode == 'add' %}
						        	<input type="hidden" value="0" id="form-add-another" name="add-another" />
						        	<a href="{{ path('admin_bugs') }}" id="button-go-back" class="fr ui-corner-none ui-corner-tr ui-corner-br button ui-button-blue" data-icon-primary="ui-icon-triangle-1-w">Go Back</a>
						        	<button id="button-add-another" type="submit" class="fr button ui-corner-none ui-button-green" data-icon-primary="ui-icon-check">Report {{ data.settings.singleTitle }} &amp; Report Another {{ data.settings.singleTitle }}</button>
						        	<button id="button-add" type="submit" class="fr button ui-corner-none ui-corner-tl ui-corner-bl ui-button-green" data-icon-primary="ui-icon-check">Report {{ data.settings.singleTitle }} &amp; Go Back</button>
						        {% endif %}
						    </div>
						</div>
					</form>
                </section>
            </div>
        </div>
	    <div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemScript.js.twig' with {'data': data} %}
{% endblock %}