{% extends 'KACSiteBundle::base.html.twig' %}
{% block title %}Kitchen Appliance Centre Installation Guides{% endblock %}
{% block metatags %}
	<meta name="description" content="We have put together an extensive video library to help you work with our products. As well as installation guides there are a number of videos that demonstrate in more detail the products and their uses and benefits.">
	<meta name="keywords" content="kitchen appliance centre, video, products, demonstration, demo, guide, installation guide">
{% endblock %}
{% block slider %}
	<div class="container_8 clearfix">
		<header>
			<div class="slider-gallery-container">
				<div class="slider-gallery">
					<div class="slider-element">
						<img src="{{ asset('/bundles/webilluminationshop/images/headers/kitchen-being-fitted.png') }}" alt="A kitchen being fitted" />
						<h3 class="right">Kitchen Appliance Centre Installation Guides</h3>
					</div>
				</div>
			</div>
		</header>
	</div>
{% endblock %}
{% block body %}
	<header>
		<h1>Installation Guides</h1>
	</header>
	<section class="container_6 clearfix">
		<div class="grid_6"> 
			<div class="portlet">
				<header>
	                <h2>Kitchen Appliance Centre Installation Guides</h2>
	            </header>
				<section>
					<div class="clearfix">
						<p class="no-margin-top"><strong>Welcome to the Kitchen Appliance Centre installation guide area.</strong></p>
						<p class="no-margin-bottom">We have put together an extensive video library to help you work with our products. As well as installation guides there are a number of videos that demonstrate in more detail the products and their uses and benefits.</p>
					</div>
				</section>
	        </div>
	    </div>
	   	<div class="clear"></div>
	   	<div class="grid_6 leading">
            <div class="portlet">
                <header>
                    <h2>Video Guides</h2>
                </header>
                <section>
                    <div class="sidebar-tabs">
                        <ul>
                            <li id="tab-apollo-slab-tech"><a href="#apollo-slab-tech">Apollo Slab Tech</a></li>
                            <li id="tab-encore"><a href="#encore">Encore</a></li>
                            <li id="tab-ise"><a href="#ise">In-Sink-Erator (ISE)</a></li>
                            <li id="tab-maia"><a href="#maia">Maia</a></li>
                            <li id="tab-mistral"><a href="#mistral">Mistral</a></li>
                            <li id="tab-smartstone"><a href="#smartstone">Smartstone</a></li>
                            <li id="tab-smiths"><a href="#smiths">Smiths</a></li>
                        </ul>
                        <section id="apollo-slab-tech" class="form ui-helper-hidden">
                        	<img class="fr border margin-left-15 margin-bottom-15" src="{{ asset('/bundles/webilluminationshop/images/logos/apollo-slab-tech.jpg') }}" alt="Apollo Slab Tech" />
                        	<p class="no-margin-top"><strong>Welcome to our installation guide area for Apollo Slab Tech Solid Surface Worktops.</strong></p>
							<p>We have put together an extensive video library to help you work with our products. As well as installation guides there are a number of videos that demonstrate in more detail the products and their uses and benefits.</p>
							<div class="clear"></div>
							
							<div class="video">
                        		<h4 class="youtube-title">Currently Playing: <i><span>Solid Surface Worktops: Before you Start</span></i></h4>
                        		<iframe class="youtube-video" width="695" height="391" src="https://www.youtube.com/embed/87dLmqQaZsM" frameborder="0" allowfullscreen></iframe>
                        	</div>
							
							<div class="clear"></div>
							
							<div class="video-gallery">
							<h4>Apollo Slab Tech Videos - <i>Click to play</i></h4>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="87dLmqQaZsM" src="http://img.youtube.com/vi/87dLmqQaZsM/0.jpg" data-youtube-title="Solid Surface Worktops: Before you Start" width="160" border="0" /><p>Solid Surface Worktops: <br/> Before you Start</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="0-VOX_BT41w" src="http://img.youtube.com/vi/0-VOX_BT41w/0.jpg" data-youtube-title="Solid Surface Worktops: Tools Required" width="160" border="0" /><p>Solid Surface Worktops: <br/> Tools Required</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="XW0i7lNC6jM" src="http://img.youtube.com/vi/XW0i7lNC6jM/0.jpg" data-youtube-title="Solid Surface Worktops: Planning and Design" width="160" border="0" /><p>Solid Surface Worktops: <br/> Planning and Design</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="b2pKxSBmhqM" src="http://img.youtube.com/vi/b2pKxSBmhqM/0.jpg" data-youtube-title="Solid Surface Worktops: Cutting to Size" width="160" border="0" />
							<p>Solid Surface Worktops: <br/> Cutting to Size</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="WFO1wKE8gDU" src="http://img.youtube.com/vi/WFO1wKE8gDU/0.jpg" data-youtube-title="Solid Surface Worktops: Cutouts" width="160" border="0" />
							<p>Solid Surface Worktops: <br/> Cutouts</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="6SR7ukHxFV4" src="http://img.youtube.com/vi/6SR7ukHxFV4/0.jpg" data-youtube-title="Solid Surface Worktops: Upstands" width="160" border="0" />
							<p>Solid Surface Worktops: <br/> Upstands</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="HN47oRSm5J4" src="http://img.youtube.com/vi/HN47oRSm5J4/0.jpg" data-youtube-title="Solid Surface Worktops: Tap Holes" width="160" border="0" />
							<p>Solid Surface Worktops: <br/> Tap Holes</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="HWOjSPTX8Q8" src="http://img.youtube.com/vi/HWOjSPTX8Q8/0.jpg" data-youtube-title="Solid Surface Worktops: Scribing Worktops" width="160" border="0" />
							<p>Solid Surface Worktops: <br/> Scribing Worktops</p></div>
							
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="ZjiGfOQopOQ" src="http://img.youtube.com/vi/ZjiGfOQopOQ/0.jpg" data-youtube-title="Solid Surface Worktops: Edge Detail" width="160" border="0" />
							<p>Solid Surface Worktops: <br/> Edge Detail</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="gWRkurPqjyA" src="http://img.youtube.com/vi/gWRkurPqjyA/0.jpg" data-youtube-title="Solid Surface Worktops: Adding Curves" width="160" border="0" />
							<p>Solid Surface Worktops: <br/> Adding Curves</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="RATXYcDGUXc" src="http://img.youtube.com/vi/RATXYcDGUXc/0.jpg" data-youtube-title="Solid Surface Worktops: Preparing Joints" width="160" border="0" />
							<p>Solid Surface Worktops: <br/> Preparing Joints</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="nmeoLrzxuCQ" src="http://img.youtube.com/vi/nmeoLrzxuCQ/0.jpg" data-youtube-title="Solid Surface Worktops: Bonding Joints" width="160" border="0" />
							<p>Solid Surface Worktops: <br/> Bonding Joints</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="7TITBD3-gnY" src="http://img.youtube.com/vi/7TITBD3-gnY/0.jpg" data-youtube-title="Solid Surface Worktops: Finishing Joints" width="160" border="0" />
							<p>Solid Surface Worktops: <br/> Finishing Joints</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="cWpAjbb5szE" src="http://img.youtube.com/vi/cWpAjbb5szE/0.jpg" data-youtube-title="Solid Surface Worktops: Health and Safety" width="160" border="0" />
							<p>Solid Surface Worktops: <br/> Health and Safety</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="rKP_i_Z-SFs" src="http://img.youtube.com/vi/rKP_i_Z-SFs/0.jpg" data-youtube-title="Solid Surface Worktops: Care and Maintenance" width="160" border="0" />
							<p>Solid Surface Worktops: <br/> Care and Maintenance</p></div>
							
							</div>
							
                        	<div class="clear"></div>
                        	
                        </section>
                        
                        <section id="encore" class="form ui-helper-hidden">
                        	<img class="fr border margin-left-15 margin-bottom-15" src="{{ asset('/bundles/webilluminationshop/images/logos/encore.jpg') }}" alt="Encore" />
                        	<p class="no-margin-top"><strong>Welcome to our installation guide area for Encore.</strong></p>
							<p>We have put together an extensive video library to help you work with our products. As well as installation guides there are a number of videos that demonstrate in more detail the products and their uses and benefits.</p>
							<div class="clear"></div>
							
							<div class="video">
                        		<h4 class="youtube-title">Currently Playing: <i><span>Solid Surface Worktops: Introduction</span></i></h4>
                        		<iframe class="youtube-video" width="695" height="391" src="https://www.youtube.com/embed/UdjPMuok9m4" frameborder="0" allowfullscreen></iframe>
                        	</div>
							
							<div class="clear"></div>
							
							<div class="video-gallery">
							<h4>Encore Videos - <i>Click to play</i></h4>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="UdjPMuok9m4" src="http://img.youtube.com/vi/UdjPMuok9m4/0.jpg" data-youtube-title="Solid Surface Worktops: Introduction" width="160" border="0" /><p>Solid Surface Worktops: <br/> Introduction</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="XpoHWViKipQ" src="http://img.youtube.com/vi/XpoHWViKipQ/0.jpg" data-youtube-title="Solid Surface Worktops: Before You Start" width="160" border="0" /><p>Solid Surface Worktops: <br/> Before You Start</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="pPm1Lx-O7F4" src="http://img.youtube.com/vi/pPm1Lx-O7F4/0.jpg" data-youtube-title="Solid Surface Worktops: Cutting - Sizing" width="160" border="0" /><p>Solid Surface Worktops: <br/> Cutting - Sizing</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="zmiy23pZnWM" src="http://img.youtube.com/vi/zmiy23pZnWM/0.jpg" data-youtube-title="Solid Surface Worktops: Cutting - Mason's Mitre" width="160" border="0" /><p>Solid Surface Worktops: <br/> Cutting - Mason's Mitre</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="U2K1RiNAckk" src="http://img.youtube.com/vi/U2K1RiNAckk/0.jpg" data-youtube-title="Solid Surface Worktops: Cutting - Diagonal Mitre" width="160" border="0" /><p>Solid Surface Worktops: <br/> Cutting - Diagonal Mitre</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="u81Tlatye7Y" src="http://img.youtube.com/vi/u81Tlatye7Y/0.jpg" data-youtube-title="Solid Surface Worktops: Using Bolts and Biscuits" width="160" border="0" /><p>Solid Surface Worktops: <br/> Using Bolts and Biscuits</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="XK7ODi41mvY" src="http://img.youtube.com/vi/XK7ODi41mvY/0.jpg" data-youtube-title="Solid Surface Worktops: Sink and Hob Cut-outs" width="160" border="0" /><p>Solid Surface Worktops: <br/> Sink and Hob Cut-outs</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="1SWV4vmsKek" src="http://img.youtube.com/vi/1SWV4vmsKek/0.jpg" data-youtube-title="Solid Surface Worktops: Undermounted Sinks" width="160" border="0" /><p>Solid Surface Worktops: <br/> Undermounted Sinks</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="k1M1LhR8_vs" src="http://img.youtube.com/vi/k1M1LhR8_vs/0.jpg" data-youtube-title="Solid Surface Worktops: Sealing Cut Edge" width="160" border="0" /><p>Solid Surface Worktops: <br/> Sealing Cut Edge</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="UMLKYbCnv3Y" src="http://img.youtube.com/vi/UMLKYbCnv3Y/0.jpg" data-youtube-title="Solid Surface Worktops: Radius Ends" width="160" border="0" /><p>Solid Surface Worktops: <br/> Radius Ends</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="jRePMbYGrvs" src="http://img.youtube.com/vi/jRePMbYGrvs/0.jpg" data-youtube-title="Solid Surface Worktops: Slab Ends" width="160" border="0" /><p>Solid Surface Worktops: <br/> Slab Ends</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="JugsYbsCqJs" src="http://img.youtube.com/vi/JugsYbsCqJs/0.jpg" data-youtube-title="Solid Surface Worktops: Sealant" width="160" border="0" /><p>Solid Surface Worktops: <br/> Sealant</p></div>
							
							</div>
							
                        	<div class="clear"></div>
                        </section>
                        <section id="ise" class="form ui-helper-hidden">
                        	<img class="fr border margin-left-15 margin-bottom-15" src="{{ asset('/bundles/webilluminationshop/images/logos/insinkerator.jpg') }}" alt="In-Sink-Erator" />
                        	<p class="no-margin-top"><strong>Welcome to our installation guide area for In-Sink Erator.</strong></p>
							<p>We have put together an extensive video library to help you work with our products. As well as installation guides there are a number of videos that demonstrate in more detail the products and their uses and benefits.</p>
							<div class="clear"></div>
							
							<div class="video">
                        		<h4 class="youtube-title">Currently Playing: <i><span>Steaming Hot Water Tap: Introduction</span></i></h4>
                        		<iframe class="youtube-video" width="695" height="391" src="https://www.youtube.com/embed/bQPRZLCx_II" frameborder="0" allowfullscreen></iframe>
                        	</div>

							
								<div class="video-gallery">
							<h4>In-Sink Erator Videos - <i>Click to play</i></h4>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="bQPRZLCx_II" src="http://img.youtube.com/vi/bQPRZLCx_II/0.jpg" data-youtube-title="Steaming Hot Water Tap: Introduction" width="160" border="0" /><p>Steaming Hot Water Tap: <br/> Introduction</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="fBn6ZfSxgHg" src="http://img.youtube.com/vi/fBn6ZfSxgHg/0.jpg" data-youtube-title="Steaming Hot Water Tap: Installation Guide" width="160" border="0" /><p>Steaming Hot Water Tap: <br/> Installation Guide</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="CIQaIjFA-oM" src="http://img.youtube.com/vi/CIQaIjFA-oM/0.jpg" data-youtube-title="Food Waste Disposer: Introduction" width="160" border="0" /><p>Food Waste Disposer: <br/> Introduction</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="RATXYcDGUXc" src="http://img.youtube.com/vi/RATXYcDGUXc/0.jpg" data-youtube-title="Food Waste Disposer: Installation Guid" width="160" border="0" /><p>Solid Food Waste Disposer: <br/> Installation Guide</p></div>
							
							</div>
                       	<div class="clear"></div>
                        </section>
                        
                        <section id="maia" class="form ui-helper-hidden">
                        	<img class="fr border margin-left-15 margin-bottom-15" src="{{ asset('/bundles/webilluminationshop/images/logos/maia.jpg') }}" alt="Maia" />
                        	<p class="no-margin-top"><strong>Welcome to our installation guide area for Maia Worktops.</strong></p>
							<p>We have put together an extensive video library to help you work with our products. As well as installation guides there are a number of videos that demonstrate in more detail the products and their uses and benefits.</p>
							<div class="clear"></div>
							
							<div class="video">
                        		<h4 class="youtube-title">Currently Playing: <i><span>Solid Surface Worktops: Getting Started</span></i></h4>
                        		<iframe class="youtube-video" width="695" height="391" src="https://www.youtube.com/embed/Gekc96dZWow" frameborder="0" allowfullscreen></iframe>
                        	</div>
							
							<div class="video-gallery">
							<h4>Maia Videos - <i>Click to play</i></h4>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="Gekc96dZWow" src="http://img.youtube.com/vi/Gekc96dZWow/0.jpg" data-youtube-title="Solid Surface Worktops: Getting Started" width="160" border="0" /><p>Solid Surface Worktops: <br/> Getting Started</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="9hcjOXrrhlI" src="http://img.youtube.com/vi/9hcjOXrrhlI/0.jpg" data-youtube-title="Solid Surface Worktops: Gluing and Finishing" width="160" border="0" /><p>Solid Surface Worktops: <br/> Gluing and Finishing</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="HuItfPDtjNM" src="http://img.youtube.com/vi/HuItfPDtjNM/0.jpg" data-youtube-title="Solid Surface Worktops: Edging" width="160" border="0" /><p>Solid Surface Worktops: <br/> Edging</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="73i6efJhONs" src="http://img.youtube.com/vi/73i6efJhONs/0.jpg" data-youtube-title="Solid Surface Worktops: Sink Module Installation" width="160" border="0" /><p>Solid Surface Worktops: <br/> Sink Module Installation</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="ST7PzCuKcBY" src="http://img.youtube.com/vi/ST7PzCuKcBY/0.jpg" data-youtube-title="Solid Surface Worktops: Fitting Maia Accessories" width="160" border="0" /><p>Solid Surface Worktops: <br/> Fitting Maia Accessories</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="Lhsjdr4OxJw" src="http://img.youtube.com/vi/Lhsjdr4OxJw/0.jpg" data-youtube-title="Solid Surface Worktops: Care and Maintenance" width="160" border="0" /><p>Solid Surface Worktops: <br/> Care and Maintenance</p></div>
							
							
							</div>

                      	<div class="clear"></div>
                        </section>
                        <section id="mistral" class="form ui-helper-hidden">
                        	<img class="fr border margin-left-15 margin-bottom-15" src="{{ asset('/bundles/webilluminationshop/images/logos/mistral.jpg') }}" alt="Mistral" />
                        	<p class="no-margin-top"><strong>Welcome to our installation guide area for Mistral Solid Surface Worktops.</strong></p>
							<p>We have put together an extensive video library to help you work with our products. As well as installation guides there are a number of videos that demonstrate in more detail the products and their uses and benefits.</p>
							<div class="clear"></div>
							
							<div class="video">
                        		<h4 class="youtube-title">Currently Playing: <i><span>Solid Surface Worktops: Introduction to Mistral</span></i></h4>
                        		<iframe class="youtube-video" width="695" height="391" src="https://www.youtube.com/embed/5ZlsY2iwg58" frameborder="0" allowfullscreen></iframe>
                        	</div>
							
							<div class="video-gallery">
							<h4>Mistral Videos - <i>Click to play</i></h4>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="5ZlsY2iwg58" src="http://img.youtube.com/vi/5ZlsY2iwg58/0.jpg" data-youtube-title="Solid Surface Worktops: Introduction to Mistral" width="160" border="0" /><p>Solid Surface Worktops: <br/> Introduction to Mistral</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="lXMxSfy2N0Y" src="http://img.youtube.com/vi/lXMxSfy2N0Y/0.jpg" data-youtube-title="Solid Surface Worktops: Getting Started" width="160" border="0" /><p>Solid Surface Worktops: <br/> Getting Started</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="kdi_sysGIqk" src="http://img.youtube.com/vi/kdi_sysGIqk/0.jpg" data-youtube-title="Solid Surface Worktops: Cutting" width="160" border="0" /><p>Solid Surface Worktops: <br/> Cutting</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="0quHtYKoA7w" src="http://img.youtube.com/vi/0quHtYKoA7w/0.jpg" data-youtube-title="Solid Surface Worktops: Routing" width="160" border="0" /><p>Solid Surface Worktops: <br/> Routing</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="YAqwp9jrj3o" src="http://img.youtube.com/vi/YAqwp9jrj3o/0.jpg" data-youtube-title="Solid Surface Worktops: Adhesive Set-up" width="160" border="0" /><p>Solid Surface Worktops: <br/> Adhesive Set-up</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="-dD-l_foOhY" src="http://img.youtube.com/vi/-dD-l_foOhY/0.jpg" data-youtube-title="Solid Surface Worktops: Jointing Preparation" width="160" border="0" /><p>Solid Surface Worktops: <br/> Jointing Preparation</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="ehC9cCFIf3w" src="http://img.youtube.com/vi/ehC9cCFIf3w/0.jpg" data-youtube-title="Solid Surface Worktops: Jointing Procedure" width="160" border="0" /><p>Solid Surface Worktops: <br/> Jointing Procedure</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="NQSPOW2uLtc" src="http://img.youtube.com/vi/NQSPOW2uLtc/0.jpg" data-youtube-title="Solid Surface Worktops: Jointing Smoothing" width="160" border="0" /><p>Solid Surface Worktops: <br/> Jointing Smoothing</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="pwerHtmqwsU" src="http://img.youtube.com/vi/pwerHtmqwsU/0.jpg" data-youtube-title="Solid Surface Worktops: Shaping and Edging" width="160" border="0" /><p>Solid Surface Worktops: <br/> Shaping and Edging</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="2b0cHo8m5V8" src="http://img.youtube.com/vi/2b0cHo8m5V8/0.jpg" data-youtube-title="Solid Surface Worktops: Undermount Cut Outs" width="160" border="0" /><p>Solid Surface Worktops: <br/> Undermount Cut Outs</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="yf5iJh0rkXM" src="http://img.youtube.com/vi/yf5iJh0rkXM/0.jpg" data-youtube-title="Solid Surface Worktops: Overmount Cut Outs" width="160" border="0" /><p>Solid Surface Worktops: <br/> Overmount Cut Outs</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="KZAJqcdGHyQ" src="http://img.youtube.com/vi/KZAJqcdGHyQ/0.jpg" data-youtube-title="Solid Surface Worktops: Drainer Grooves" width="160" border="0" /><p>Solid Surface Worktops: <br/> Drainer Grooves</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="HJJ9omcFaVA" src="http://img.youtube.com/vi/HJJ9omcFaVA/0.jpg" data-youtube-title="Solid Surface Worktops: Finishing" width="160" border="0" /><p>Solid Surface Worktops: <br/> Finishing</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="wAh6tbo-j6I" src="http://img.youtube.com/vi/wAh6tbo-j6I/0.jpg" data-youtube-title="Solid Surface Worktops:  Care and Maintenance" width="160" border="0" /><p>Solid Surface Worktops: <br/>  Care and Maintenance</p></div>
							
							</div>
							
                       	<div class="clear"></div>
                        </section>
                        <section id="smartstone" class="form ui-helper-hidden">
                        	<img class="fr border margin-left-15 margin-bottom-15" src="{{ asset('/bundles/webilluminationshop/images/logos/smartstone.jpg') }}" alt="Smartstone" />
                        	<p class="no-margin-top"><strong>Welcome to our installation guide area for Artis Smartstone.</strong></p>
							<p>We have put together an extensive video library to help you work with our products. As well as installation guides there are a number of videos that demonstrate in more detail the products and their uses and benefits.</p>
							<div class="clear"></div>
							
							<div class="video">
                        		<h4 class="youtube-title">Currently Playing: <i><span>Solid Surface Worktops: Surfaces</span></i></h4>
                        		<iframe class="youtube-video" width="695" height="391" src="https://www.youtube.com/embed/9Qn_d9eFI8U" frameborder="0" allowfullscreen></iframe>
                        	</div>
							
							<div class="video-gallery">
							<h4>Smartstone Videos - <i>Click to play</i></h4>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="9Qn_d9eFI8U" src="http://img.youtube.com/vi/9Qn_d9eFI8U/0.jpg" data-youtube-title="Solid Surface Worktops: Surfaces" width="160" border="0" /><p>Solid Surface Worktops: <br/> Surfaces</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="arb0euu0v6Q" src="http://img.youtube.com/vi/arb0euu0v6Q/0.jpg" data-youtube-title="Solid Surface Worktops: Designing" width="160" border="0" /><p>Solid Surface Worktops: <br/> Designing</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="GCTw1Vov_dw" src="http://img.youtube.com/vi/GCTw1Vov_dw/0.jpg" data-youtube-title="Solid Surface Worktops: Smartstone Preparation" width="160" border="0" /><p>Solid Surface Worktops: <br/> Smartstone Preparation</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="ge9iUjSAImg" src="http://img.youtube.com/vi/ge9iUjSAImg/0.jpg" data-youtube-title="Solid Surface Worktops: Smartstone Installation" width="160" border="0" /><p>Solid Surface Worktops: <br/> Smartstone Installation</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="yvAWB0t5fiI" src="http://img.youtube.com/vi/yvAWB0t5fiI/0.jpg" data-youtube-title="Solid Surface Worktops: Measuring and Machining" width="160" border="0" /><p>Solid Surface Worktops: <br/> Measuring and Machining</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="MLzkfUlKjVM" src="http://img.youtube.com/vi/MLzkfUlKjVM/0.jpg" data-youtube-title="Solid Surface Worktops: Inconspicuous Seams" width="160" border="0" /><p>Solid Surface Worktops: <br/> Inconspicuous Seams</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="XJUIyKhYico" src="http://img.youtube.com/vi/XJUIyKhYico/0.jpg" data-youtube-title="Solid Surface Worktops: Hob and Sink Cut-outs" width="160" border="0" /><p>Solid Surface Worktops: <br/> Hob and Sink Cut-outs</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="oxgCVSEZ350" src="http://img.youtube.com/vi/oxgCVSEZ350/0.jpg" data-youtube-title="Solid Surface Worktops: Edging Smartstone" width="160" border="0" /><p>Solid Surface Worktops: <br/> Edging Smartstone</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="UjmM3Q1ZQ0k" src="http://img.youtube.com/vi/UjmM3Q1ZQ0k/0.jpg" data-youtube-title="Solid Surface Worktops: Finishing Smartstone" width="160" border="0" /><p>Solid Surface Worktops: <br/> Finishing Smartstone</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="OKqpAgGkMSU" src="http://img.youtube.com/vi/OKqpAgGkMSU/0.jpg" data-youtube-title="Solid Surface Worktops: Vertical Smartstone" width="160" border="0" /><p>Solid Surface Worktops: <br/> Vertical Smartstone</p></div>
							
							<div class="video-thumb"><img class="youtube-thumbnail" data-youtube-id="VV3sXTW_TcA" src="http://img.youtube.com/vi/VV3sXTW_TcA/0.jpg" data-youtube-title="Solid Surface Worktops: Repairing Smartstone" width="160" border="0" /><p>Solid Surface Worktops: <br/> Repairing Smartstone</p></div>
							
							<div class="video-thumb no-margin-right"><img class="youtube-thumbnail" data-youtube-id="nlhj01cntSs" src="http://img.youtube.com/vi/nlhj01cntSs/0.jpg" data-youtube-title="Solid Surface Worktops: Care and Maintenance" width="160" border="0" /><p>Solid Surface Worktops: <br/> Care and Maintenance</p></div>
							
							</div>

                        	<div class="clear"></div>
                        </section>
                        <section id="smiths" class="form ui-helper-hidden">
                        	<img class="fr border margin-left-15 margin-bottom-15" src="http://cdn.kitchen-appliance-centre.co.uk/uploads/images/brand/logo/smiths-large-45030.jpg" alt="Apollo Slab Tech" />
                        	<p class="no-margin-top"><strong>Welcome to our installation guide area for Smith's.</strong></p>
							<p>We have put together an extensive video library to help you work with our products. As well as installation guides there are a number of videos that demonstrate in more detail the products and their uses and benefits.</p>
							<div class="clear"></div>
							<div class="video">
                        		<h4 class="youtube-title">Currently Playing: <i><span>Space Saver</span></i></h4>
                        		<iframe class="youtube-video" width="695" height="391" src="https://www.youtube.com/embed/cftstZ3J2tQ" frameborder="0" allowfullscreen></iframe>
                        	</div>
                        	
                        	<div class="clear"></div>
                        </section>
                    </div>
				</section>
			</div>
		</div>
		<div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script defer="defer" type="text/javascript">
		$(document).ready(function() {
			$(".youtube-thumbnail").live('click', function() {
				var $youtubeId = $(this).attr("data-youtube-id");
				var $youtubeTitle = $(this).attr("data-youtube-title");
				var $videoObject = $(this).parent("div").parent("div").parent("section").find(".youtube-video");
				$(this).parent("div").parent("div").parent("section").find(".youtube-title span").html($youtubeTitle);
				$videoObject.attr("src", "https://www.youtube.com/embed/"+$youtubeId);
				$("html, body").animate({scrollTop: $videoObject.offset().top - 50}, 'slow');
			});
		});
	</script>
{% endblock %}