{% extends 'form_div_layout.html.twig' %}

{% block department_widget %}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {% for group_label, choice in choices %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice.label|raw }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block form_label %}
    {% spaceless %}
        {% if label is not sameas(false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {% if required %}
                <em class="required" title="This field is required">*</em>
            {% endif %}
            {{ label|trans({}, translation_domain) }}
            </label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block form_row %}
    {% spaceless %}
        <div class="form-element{% if errors %} form-element-error{% endif %} widget-group clearfix">
            <div class="widget widget-1-of-3">
                {{ form_label(form) }}
            </div>
            <div class="widget widget-2-of-3">
                {{ form_widget(form) }}
                {% if errors %}
                    <small>{{ form_errors(form) }}</small>
                {% else %}
                    {% if help is defined %}
                        <small>{{ help }}</small>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    {% endspaceless %}
{% endblock form_row %}

{% block checkbox_row %}
    {% spaceless %}
        <div class="clearfix{% if errors %} error{% endif %}">
            {{ form_widget(form) }}{{ form_label(form) }}
            {% if help %}
                <small>{{ help }}</small>
            {% endif %}
            {% if errors %}
                <div class="clear"></div>
                <small>{{ form_errors(form) }}</small>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block form_rows %}
    {% spaceless %}
        {% for child in form %}
            {{ form_widget(child) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows %}


{% block _site_new_product_prices_entry_widget %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.prices_widget(form) }}
{% endblock %}
{% block _site_new_product_variants_entry_prices_entry_widget %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.list_prices_widget(form) }}
{% endblock %}
{% block _site_new_product_featureGroups_entry_widget %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.product_featureGroups_widget(form) }}
{% endblock %}
{% block _site_new_product_features_entry_widget %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.features_widget(form) }}
{% endblock %}
{% block _site_new_product_departments_row %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.product_departments_row(form) }}
{% endblock %}
{% block _site_edit_product_overview_departments_row %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.product_departments_row(form) }}
{% endblock %}
{% block _site_new_product_descriptions_entry_widget %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.product_descriptions_widget(form) }}
{% endblock %}
{% block _site_edit_product_description_descriptions_entry_widget %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.product_descriptions_widget(form) }}
{% endblock %}
{% block _site_new_product_variants_entry_widget %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.product_variants_widget(form) }}
{% endblock %}

{% block _site_edit_product_prices_prices_entry_widget %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.prices_widget(form) }}
{% endblock %}

{# New variant fields #}
{#{% block _site_new_variant_descriptions_entry_widget %}#}
    {#{% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}#}
    {#&#123;&#35;{{ fields.test(form) }}&#35;&#125;#}
{#{% endblock %}#}
{% block _site_new_variant_descriptions_entry_widget %}
    <td>
        {{ form_widget(form.locale) }}
        {{ form_errors(form.locale) }}
    </td>
    <td>
        {{ form_widget(form.description) }}
        {{ form_errors(form.description) }}
    </td>
    <td class="ac" width="65">
        <button type="button" class="fr small button icon-set-white ui-button-red delete-row" data-icon-primary="ui-icon-circle-cross">Delete</button>
    </td>
{% endblock %}
{% block _site_new_variant_prices_entry_widget %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.prices_widget(form) }}
{% endblock %}
{% block _site_new_variant_features_entry_widget %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.features_widget(form) }}
{% endblock %}

{# Edit variant fields #}
{% block _site_new_product_variants_entry_descriptions_entry_widget %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.variant_descriptions_widget(form) }}
{% endblock %}
{% block _site_edit_variant_features_features_entry_widget %}
    {% import "WebIlluminationSiteBundle:Includes:fieldMacros.html.twig" as fields %}
    {{ fields.features_widget(form) }}
{% endblock %}

