<div id="listing-filter" class="no-padding-bottom listing-filter ui-helper-hidden">
	<div class="separator">
		<table width="100%">
			<tr>
				<td width="13%" class="label">
					<label>Status</label>
				</td>
				<td>
					<div class="filter-checkbox fl"><input{% for status in filters.status|explode("|") %}{% if status == 'a' %} checked="checked"{% endif %}{% endfor %} type="checkbox" data-field="filter-status" value="a" />Active</div>
					<div class="filter-checkbox fl"><input{% for status in filters.status|explode("|") %}{% if status == 'd' %} checked="checked"{% endif %}{% endfor %} type="checkbox" data-field="filter-status" value="d" />Disabled</div>
					<div class="filter-checkbox fl"><input{% for status in filters.status|explode("|") %}{% if status == 'h' %} checked="checked"{% endif %}{% endfor %} type="checkbox" data-field="filter-status" value="h" />Hidden</div>
					<input type="hidden" id="filter-status" value="{{ filters.status|default("") }}" />
				</td>
			</tr>
		</table>
	</div>
	<div class="separator">
		<table width="100%">
			<tr>
				<td class="label" width="13%">
					<label for="filter-name">Name</label>
				</td>
				<td width="17%">
					<input type="text" id="filter-name" value="{{ filters.name|default("") }}" />
				</td>
				<td class="label" width="13%">
					<label for="filter-description">Description</label>
				</td>
				<td width="57%">
					<input type="text" id="filter-description" value="{{ filters.description|default("") }}" />
				</td>
			</tr>
		</table>
	</div>
	<h5 class="no-margin-top margin-bottom-5">Filter Flags<button class="fr ui-corner-none ui-corner-tr button ui-button-blue action-show-hide-filter-section" data-filter-section="flags" data-icon-primary="ui-icon-triangle-1-s" data-icon-only="true">Filter Flags</button></h5>
	<div id="filter-section-flags" class="filter-section ui-helper-hidden">
		<div class="separator">
			<table width="100%">
				<tr>
					<td class="label" width="13%"><label>Hide Prices</label></td>
					<td width="20%">
						<div class="filter-checkbox"><input{% for hidePrices in filters.hidePrices|explode("|") %}{% if hidePrices == '1' %} checked="checked"{% endif %}{% endfor %} type="checkbox" data-field="filter-hide-prices" value="1" />Yes</div>
						<div class="filter-checkbox"><input{% for hidePrices in filters.hidePrices|explode("|") %}{% if hidePrices == '0' %} checked="checked"{% endif %}{% endfor %} type="checkbox" data-field="filter-hide-prices" value="0" />No</div>
						<input type="hidden" id="filter-hide-prices" value="{{ filters.hidePrices|default("") }}" />
					</td>
					<td class="label" width="14%"><label>Show Prices Out of Hours</label></td>
					<td width="20%">
						<div class="filter-checkbox"><input{% for showPricesOutOfHours in filters.showPricesOutOfHours|explode("|") %}{% if showPricesOutOfHours == '1' %} checked="checked"{% endif %}{% endfor %} type="checkbox" data-field="filter-show-prices-out-of-hours" value="1" />Yes</div>
						<div class="filter-checkbox"><input{% for showPricesOutOfHours in filters.showPricesOutOfHours|explode("|") %}{% if showPricesOutOfHours == '0' %} checked="checked"{% endif %}{% endfor %} type="checkbox" data-field="filter-show-prices-out-of-hours" value="0" />No</div>
						<input type="hidden" id="filter-show-prices-out-of-hours" value="{{ filters.showPricesOutOfHours|default("") }}" />
					</td>
					<td class="label" width="13%"><label>Available to Members</label></td>
					<td width="20%">
						<div class="filter-checkbox"><input{% for membershipCardDiscountAvailable in filters.membershipCardDiscountAvailable|explode("|") %}{% if membershipCardDiscountAvailable == '1' %} checked="checked"{% endif %}{% endfor %} type="checkbox" data-field="filter-membership-card-discount-available" value="1" />Yes</div>
						<div class="filter-checkbox"><input{% for membershipCardDiscountAvailable in filters.membershipCardDiscountAvailable|explode("|") %}{% if membershipCardDiscountAvailable == '0' %} checked="checked"{% endif %}{% endfor %} type="checkbox" data-field="filter-membership-card-discount-available" value="0" />No</div>
						<input type="hidden" id="filter-membership-card-discount-available" value="{{ filters.membershipCardDiscountAvailable|default("") }}" />
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div>
		<table width="100%">
			<tr>
				<td rowspan="2" class="label" width="13%"><label>Department</label></td>
				<td width="87%">
					<div class="position-relative">
						<input placeholder="Search for department&hellip;" type="text" class="embedded-icon full" id="filter-department-search" />
						<span class="icon-embedded ui-button-icon-primary ui-icon ui-icon-search no-margin"></span>
					</div>
				</td>
			</tr>
			<tr>
				<td width="87%">
					<div id="filter-departments" class="filter filter-scrollable ui-corner-all">
						<ul>
							{% for department in data.departments %}	
								<li class="filter-checkbox">
									<input{% for selectedDepartment in filters.department|explode("|") %}{% if selectedDepartment == department.id %} checked="checked"{% endif %}{% endfor %} data-field="filter-department" type="checkbox" id="department-{{ department.id }}" value="{{ department.id }}" />
									<label for="department-{{ department.id }}">{% if department.level > 0 %}{% for level in 1..department.level %}&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}{% endif %}{{ department.department }} ({{ department.productCount }})</label>
									<div class="clear"></div>
								</li>
							{% endfor %}
						</ul>
						<input type="hidden" id="filter-department" value="{{ filters.department|default("") }}" />
					</div>
				</td>
			</tr>
		</table>
	</div>
	<div class="ac">
		<button class="button bottom-button ui-button-green action-update-results" data-icon-primary="ui-icon-refresh">Update Your Results</button>
		<button class="button bottom-button ui-button-red action-clear-filters" data-icon-primary="ui-icon-closethick">Clear Filters</button>
	</div>
</div>