{# Update the section #}
$(".action-update-general-section").live('click', function() {
	var updateGeneralValidator = $("#general :input").validator({
		position : 'bottom left', 
		offset : [0, 0], 
		messageClass : 'form-error', 
		message : '<div><em/></div>'
	});
	if (updateGeneralValidator.data("validator").checkValidity())
	{
    	$.ajax({
			type: "POST",
			dataType: "json",
			url: "{{ path('admin_'~settings.multipleItemsPath~'_ajax_update_general_section') }}",
			beforeSend: function() {
				resetInteractions();
				$("#ajax_loading").show();
			},
			data: {
				id: {{ data.department.id }},
				status: $("input[name='status']:checked").val(),
    			department: $("#form-department").val()
			},
			error: function(data) {
				loadNotificationMessage("message-error", "Sorry, there was a problem saving the {{ settings.singleItemDescription }}. Please try again.");
				finishInteractions();
	      	},
			success: function(data) {
				if (data.response == 'success')
				{
					loadNotificationMessage("message-success", "The {{ settings.singleItemDescription }} was successfully updated.");
					if (data.resetSeo == true)
					{
						resetSeo();
					}
				} else {
					loadNotificationMessage("message-error", "Sorry, there was a problem saving the {{ settings.singleItemDescription }}. Please try again.");
				}
				finishInteractions();
				if ($("#general-tab-to-redirect-to").val() > -1)
				{
					$("#general-requires-update").val(0);
					$("#general-confirm-leave").hide();
					$(".sidebar-tabs").tabs("select", parseInt($("#general-tab-to-redirect-to").val()));
					$("#general-tab-to-redirect-to").val(-1);
				} else {
					$("#general-requires-update").val(0);
					$("#general-tab-to-redirect-to").val(-1);
				}
			}
		});
	}
});

{# Detect if an update is required #}
$("#general input, #general select, #general textarea").live("change", function() {
	$("#general-requires-update").val(1);
});

{# Check if section needs updating #}
$(".sidebar-tabs").bind("tabsselect", function(event, ui) {
	if ($("#general-requires-update").val() > 0)
	{
		$("#general-tab-to-redirect-to").val(ui.index);
		$("#general-confirm-leave").fadeIn();
		$("html, body").animate({scrollTop: $("#general").offset().top + 35},'slow');
		return false;
	}
	return true;
});

{# Leave section without saving #}
$(".action-leave-general").live('click', function() {
	$("#general-requires-update").val(0);
	$(".sidebar-tabs").tabs("select", parseInt($("#general-tab-to-redirect-to").val()));
	$("#general-tab-to-redirect-to").val(-1);
	$("#general-confirm-leave").hide();
	$("html, body").animate({scrollTop: $("#general").offset().top + 35},'slow');
});