{# Update the maximum characters #}
$(".maximum-characters").each(function() {
	var $object = $(this);
	var $maximumCharacters = $(this).attr("data-maximum-characters");
	var $maximumCharactersObject = $("#"+$(this).attr("data-maximum-characters-object"));
	$maximumCharactersObject.html(checkMaximumCharcaters($object, $maximumCharacters));
});
$(".maximum-characters").live('keyup', function() {
	var $object = $(this);
	var $maximumCharacters = $(this).attr("data-maximum-characters");
	var $maximumCharactersObject = $("#"+$(this).attr("data-maximum-characters-object"));
	$maximumCharactersObject.html(checkMaximumCharcaters($object, $maximumCharacters));
});

{# Update the seo section #}
$(".action-update-seo-section").live('click', function() {
	$("#flash_messages .message").hide();
	var checkSeoSectionValidator = $("#description :input").validator({
			position : 'bottom left', 
			offset : [0, 0], 
			messageClass : 'form-error', 
   		message : '<div><em/></div>'
	});
	if (checkSeoSectionValidator.data("validator").checkValidity())
	{
    	$.ajax({
			type: "POST",
			dataType: "json",
			url: "{{ path('admin_'~settings.multipleItemsPath~'_ajax_update_seo_section') }}",
			beforeSend: function() {
				$("#ajax_loading").show();
			},
			data: {
				id: {{ data.department.id }},
				url: $("#form-url").val(),
    			pageTitle: $("#form-page-title").val(),
    			header: $("#form-header").val(),
    			metaDescription: $("#form-meta-description").val(),
    			metaKeywords: $("#form-meta-keywords").val(),
    			searchWords: $("#form-search-words").val()
			},
			error: function(data) {
				loadNotificationMessage("message-error", "Sorry, there was a problem saving the {{ settings.singleItemDescription }}. Please try again.");
				finishInteractions();
		    },
			success: function(data) {
				$("#form-url").val(data.seo.url);
    			$("#form-page-title").val(data.seo.pageTitle);
    			$("#form-header").val(data.seo.header);
    			$("#form-meta-description").val(data.seo.metaDescription);
    			$("#form-meta-keywords").val(data.seo.metaKeywords);
    			$("#form-search-words").val(data.seo.searchWords);
				if (data.response == 'success')
				{
					loadNotificationMessage("message-success", "The {{ settings.singleItemDescription }} was successfully updated.");
				} else {	
					loadNotificationMessage("message-error", "Sorry, there was a problem saving the {{ settings.singleItemDescription }}. Please try again.");
				}
				finishInteractions();
				if ($("#seo-tab-to-redirect-to").val() > -1)
				{
					$("#seo-requires-update").val(0);
					$("#seo-confirm-leave").hide();
					$(".sidebar-tabs").tabs("select", parseInt($("#seo-tab-to-redirect-to").val()));
					$("#seo-tab-to-redirect-to").val(-1);
				}
			}
		});
	}
});

{# Detect if an update is required #}
$("#seo input, #seo select, #seo textarea").live("change", function() {
	$("#seo-requires-update").val(1);
});

{# Check if section needs updating #}
$(".sidebar-tabs").bind("tabsselect", function(event, ui) {
	if ($("#seo-requires-update").val() > 0)
	{
		$("#seo-tab-to-redirect-to").val(ui.index);
		$("#seo-confirm-leave").fadeIn();
		$("html, body").animate({scrollTop: $("#seo").offset().top + 35},'slow');
		return false;
	}
	return true;
});

{# Leave section without saving #}
$(".action-leave-seo").live('click', function() {
	$("#seo-requires-update").val(0);
	$(".sidebar-tabs").tabs("select", parseInt($("#seo-tab-to-redirect-to").val()));
	$("#seo-tab-to-redirect-to").val(-1);
	$("#seo-confirm-leave").hide();
	$("html, body").animate({scrollTop: $("#seo").offset().top + 35},'slow');
});

{# Reset the SEO #}
$(".action-reset-seo").live('click', function() {
	resetSeo();
});