{% stylesheets
	'@WebIlluminationAdminBundle/Resources/public/css/designer.css' 
	output='css/designer.css' filter='yui_css' %}
	<link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
{% endstylesheets %}

<div id="designer_main_toolbar_{{ id }}" class="designer-main-toolbar">
	<div class="designer-main-toolbar-icon" rel="designer_toolbar_page_size_{{ id }}">
		<img src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/page-size.png') }}" border="0" width="40" height="32" alt="Page Size" />
		<p>Page Size</p>
	</div>
	<div class="designer-main-toolbar-icon" rel="designer_toolbar_page_margins_{{ id }}">
		<img src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/page-margins.png') }}" border="0" width="40" height="32" alt="Page Margins" />
		<p>Page Margins</p>
	</div>
	<div class="designer-main-toolbar-icon" rel="designer_toolbar_text_box_{{ id }}">
		<img src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/text-box.png') }}" border="0" width="40" height="32" alt="Text Box" />
		<p>Text Box</p>
	</div>
	<div class="designer-main-toolbar-icon" rel="designer_toolbar_shape_{{ id }}">
		<img src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/shape.png') }}" border="0" width="40" height="32" alt="Shape" />
		<p>Shape</p>
	</div>
	<div class="designer-main-toolbar-icon" rel="designer_toolbar_picture_{{ id }}">
		<img src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/picture.png') }}" border="0" width="40" height="32" alt="Picture" />
		<p>Picture</p>
	</div>
	<div class="designer-main-toolbar-icon delete" rel="designer_toolbar_delete_{{ id }}">
		<img src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/delete.png') }}" border="0" width="40" height="32" alt="Delete" />
		<p>Delete</p>
	</div>
</div>
<div id="designer_toolbar_{{ id }}" class="designer-toolbar-container">
	<div id="designer_toolbar_page_size_{{ id }}" class="designer-toolbar hide">
		<div class="designer-toolbar-size">
			<p>Width (mm)</p>
		</div>
		<div class="designer-toolbar-size-input">
			<input type="text" name="canvas_width" id="designer_canvas_width_{{ id }}" value="{{ design_data.canvas_width }}" />
		</div>
		<div class="designer-toolbar-size">
			<p>Height (mm)</p>
		</div>
		<div class="designer-toolbar-size-input">
			<input type="text" name="canvas_height" id="designer_canvas_height_{{ id }}" value="{{ design_data.canvas_height }}" />
		</div>
	</div>
	<div id="designer_toolbar_page_margins_{{ id }}" class="designer-toolbar hide">
		<div class="designer-toolbar-size">
			<p>Top (mm)</p>
		</div>
		<div class="designer-toolbar-size-input">
			<input type="text" name="canvas_margin_top" id="designer_canvas_margin_top_{{ id }}" value="{{ design_data.canvas_margin_top }}" />
		</div>
		<div class="designer-toolbar-size">
			<p>Right (mm)</p>
		</div>
		<div class="designer-toolbar-size-input">
			<input type="text" name="canvas_margin_right" id="designer_canvas_margin_right_{{ id }}" value="{{ design_data.canvas_margin_right }}" />
		</div>
		<div class="designer-toolbar-size">
			<p>Bottom (mm)</p>
		</div>
		<div class="designer-toolbar-size-input">
			<input type="text" name="canvas_margin_bottom" id="designer_canvas_margin_bottom_{{ id }}" value="{{ design_data.canvas_margin_bottom }}" />
		</div>
		<div class="designer-toolbar-size">
			<p>Left (mm)</p>
		</div>
		<div class="designer-toolbar-size-input">
			<input type="text" name="canvas_margin_left" id="designer_canvas_margin_left_{{ id }}" value="{{ design_data.canvas_margin_left }}" />
		</div>
	</div>
	<div id="designer_toolbar_text_box_{{ id }}" class="designer-toolbar">
		<div class="designer-toolbar-icon" id="designer_text_container_{{ id }}"><input type="text" style="width: 180px;" id="designer_text_{{ id }}" name="text" /><img id="designer_add_text_{{ id }}" title="Add Text" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/add-text.png') }}" alt="Add Text" width="24" height="24" /></div>
		<div class="designer-toolbar-icon">
			<img class="designer-font-style-{{ id }} designer-bold-{{ id }}" rel="bold" title="Bold" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/bold.png') }}" alt="Bold" width="26" height="24" />
			<img class="designer-font-style-{{ id }} designer-italic-{{ id }}" rel="italic" title="Italic" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/italic.png') }}" alt="Italic" width="29" height="24" />
			<img class="designer-font-style-{{ id }} designer-underline-{{ id }}" rel="underline" title="Underline" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/underline.png') }}" alt="Underline" width="29" height="24" />
		</div>
		<div class="designer-toolbar-icon">
			<select id="designer_text_font_{{ id }}">
				<option value="arial">Arial</option>
				<option value="comic-sans-ms">Comic Sans</option>
				<option value="courier-new">Courier New</option>
				<option value="optima">Optima</option>
				<option value="tahoma">Tahoma</option>
				<option value="times-new-roman">Times New Roman</option>
				<option value="trebuchet">Trebuchet</option>
				<option value="verdana">Verdana</option>
			</select>
		</div>
		<div class="designer-toolbar-icon">
			<select id="designer_text_size_{{ id }}">
				<option value="10">10</option>
				<option value="12">12</option>
				<option value="13">13</option>
				<option value="14">14</option>
				<option value="16">16</option>
				<option value="18">18</option>
				<option value="24">24</option>
				<option value="36">36</option>
			</select>
		</div>
		<div class="designer-toolbar-icon">
			<div title="Text Colour" id="designer_text_colour_{{ id }}" class="colour-picker" style="background-color: #000000;"></div>
			<input type="hidden" id="designer_text_colour_value_{{ id }}" value="#000000" />
		</div>
		<div class="designer-toolbar-icon rotate-right"><img title="Rotate Text Right" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/rotate-right.png') }}" alt="Rotate Text Right" width="24" height="24" /></div>
		<div class="designer-toolbar-icon rotate-left"><img title="Rotate Text Left" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/rotate-left.png') }}" alt="Rotate Text Left" width="24" height="24" /></div>
		<div class="designer-toolbar-icon rotate-right-90"><img title="Rotate Text Right 90&deg;" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/rotate-right-90.png') }}" alt="Rotate Text Right 90&deg;" width="24" height="24" /></div>
		<div class="designer-toolbar-icon rotate-left-90"><img title="Rotate Text Left 90&deg;" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/rotate-left-90.png') }}" alt="Rotate Text Left 90&deg;" width="24" height="24" /></div>
		<div class="designer-toolbar-icon flip-horizontal"><img title="Flip Text Horizontal" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/flip-horizontal.png') }}" alt="Flip Text Horizontal" width="24" height="24" /></div>
		<div class="designer-toolbar-icon flip-vertical"><img title="Flip Text Vertical" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/flip-vertical.png') }}" alt="Flip Text Vertical" width="24" height="24" /></div>
		<div class="designer-toolbar-icon bring-to-front"><img title="Bring Text to Front" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/bring-to-front.png') }}" alt="Bring Text to Front" width="24" height="24" /></div>
		<div class="designer-toolbar-icon send-to-back"><img title="Send Text to Back" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/send-to-back.png') }}" alt="Send Text to Back" width="24" height="24" /></div>
	</div>
	<div id="designer_toolbar_shape_{{ id }}" class="designer-toolbar hide">
		<div class="designer-toolbar-icon rectangle"><img title="Rectangle" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/rectangle.png') }}" alt="Rectangle" width="24" height="24" /></div>
		<div class="designer-toolbar-icon ellipse"><img title="Ellipse" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/ellipse.png') }}" alt="Ellipse" width="24" height="24" /></div>
		<div class="designer-toolbar-icon">
			<div title="Border Colour" id="designer_shape_fill_colour_{{ id }}" class="colour-picker" style="background-color: #FFF;"></div>
		</div>
		<div class="designer-toolbar-icon">
			<select id="designer_shape_stroke_width_{{ id }}">
		        <option value="1">1</option>
		        <option value="2">2</option>
		        <option value="4">4</option>
		        <option value="8">8</option>
		        <option value="10">10</option>
			</select>
			<div title="Border Colour" id="designer_shape_border_colour_{{ id }}" class="colour-picker" style="background-color: #000;"></div>
		</div>
		<div class="designer-toolbar-icon enlarge"><img title="Enlarge Picture" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/enlarge.png') }}" alt="Enlarge Picture" width="24" height="24" /></div>
		<div class="designer-toolbar-icon reduce"><img title="Reduce Picture" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/reduce.png') }}" alt="Reduce Picture" width="24" height="24" /></div>
		<div class="designer-toolbar-icon stretch-horizontal"><img title="Stretch Picture Horizontal" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/stretch-horizontal.png') }}" alt="Stretch Picture Horizontal" width="24" height="24" /></div>
		<div class="designer-toolbar-icon shrink-horizontal"><img title="Shrink Picture Horizontal" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/shrink-horizontal.png') }}" alt="Shrink Picture Horizontal" width="24" height="24" /></div>
		<div class="designer-toolbar-icon stretch-vertical"><img title="Stretch Picture Vertcical" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/stretch-vertical.png') }}" alt="Stretch Picture Vertcical" width="24" height="24" /></div>
		<div class="designer-toolbar-icon shrink-vertical"><img title="Shrink Picture Vertcical" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/shrink-vertical.png') }}" alt="Shrink Picture Vertcical" width="24" height="24" /></div>
		<div class="designer-toolbar-icon rotate-right"><img title="Rotate Picture Right" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/rotate-right.png') }}" alt="Rotate Picture Right" width="24" height="24" /></div>
		<div class="designer-toolbar-icon rotate-left"><img title="Rotate Picture Left" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/rotate-left.png') }}" alt="Rotate Picture Left" width="24" height="24" /></div>
		<div class="designer-toolbar-icon rotate-right-90"><img title="Rotate Picture Right 90&deg;" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/rotate-right-90.png') }}" alt="Rotate Picture Right 90&deg;" width="24" height="24" /></div>
		<div class="designer-toolbar-icon rotate-left-90"><img title="Rotate Picture Left 90&deg;" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/rotate-left-90.png') }}" alt="Rotate Picture Left 90&deg;" width="24" height="24" /></div>
		<div class="designer-toolbar-icon flip-horizontal"><img title="Flip Picture Horizontal" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/flip-horizontal.png') }}" alt="Flip Picture Horizontal" width="24" height="24" /></div>
		<div class="designer-toolbar-icon flip-vertical"><img title="Flip Picture Vertical" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/flip-vertical.png') }}" alt="Flip Picture Vertical" width="24" height="24" /></div>
		<div class="designer-toolbar-icon bring-to-front"><img title="Bring Picture to Front" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/bring-to-front.png') }}" alt="Bring Picture to Front" width="24" height="24" /></div>
		<div class="designer-toolbar-icon send-to-back"><img title="Send Picture to Back" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/send-to-back.png') }}" alt="Send Picture to Back" width="24" height="24" /></div>
	</div>
	<div id="designer_toolbar_picture_{{ id }}" class="designer-toolbar hide">
		<div class="designer-toolbar-icon enlarge"><img title="Enlarge Picture" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/enlarge.png') }}" alt="Enlarge Picture" width="24" height="24" /></div>
		<div class="designer-toolbar-icon reduce"><img title="Reduce Picture" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/reduce.png') }}" alt="Reduce Picture" width="24" height="24" /></div>
		<div class="designer-toolbar-icon stretch-horizontal"><img title="Stretch Picture Horizontal" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/stretch-horizontal.png') }}" alt="Stretch Picture Horizontal" width="24" height="24" /></div>
		<div class="designer-toolbar-icon shrink-horizontal"><img title="Shrink Picture Horizontal" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/shrink-horizontal.png') }}" alt="Shrink Picture Horizontal" width="24" height="24" /></div>
		<div class="designer-toolbar-icon stretch-vertical"><img title="Stretch Picture Vertcical" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/stretch-vertical.png') }}" alt="Stretch Picture Vertcical" width="24" height="24" /></div>
		<div class="designer-toolbar-icon shrink-vertical"><img title="Shrink Picture Vertcical" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/shrink-vertical.png') }}" alt="Shrink Picture Vertcical" width="24" height="24" /></div>
		<div class="designer-toolbar-icon rotate-right"><img title="Rotate Picture Right" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/rotate-right.png') }}" alt="Rotate Picture Right" width="24" height="24" /></div>
		<div class="designer-toolbar-icon rotate-left"><img title="Rotate Picture Left" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/rotate-left.png') }}" alt="Rotate Picture Left" width="24" height="24" /></div>
		<div class="designer-toolbar-icon rotate-right-90"><img title="Rotate Picture Right 90&deg;" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/rotate-right-90.png') }}" alt="Rotate Picture Right 90&deg;" width="24" height="24" /></div>
		<div class="designer-toolbar-icon rotate-left-90"><img title="Rotate Picture Left 90&deg;" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/rotate-left-90.png') }}" alt="Rotate Picture Left 90&deg;" width="24" height="24" /></div>
		<div class="designer-toolbar-icon flip-horizontal"><img title="Flip Picture Horizontal" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/flip-horizontal.png') }}" alt="Flip Picture Horizontal" width="24" height="24" /></div>
		<div class="designer-toolbar-icon flip-vertical"><img title="Flip Picture Vertical" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/flip-vertical.png') }}" alt="Flip Picture Vertical" width="24" height="24" /></div>
		<div class="designer-toolbar-icon bring-to-front"><img title="Bring Picture to Front" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/bring-to-front.png') }}" alt="Bring Picture to Front" width="24" height="24" /></div>
		<div class="designer-toolbar-icon send-to-back"><img title="Send Picture to Back" src="{{ asset('/bundles/webilluminationadmin/images/designer/toolbar/send-to-back.png') }}" alt="Send Picture to Back" width="24" height="24" /></div>
		<div class="designer-toolbar-icon">
			<select id="designer_image_stroke_width_{{ id }}" class="designer-stroke-width">
		    	<option value="0">None</option>
		        <option value="1">1</option>
		        <option value="2">2</option>
		        <option value="4">4</option>
		        <option value="8">8</option>
		        <option value="10">10</option>
			</select>
			<div title="Border Colour" id="designer_image_border_colour_{{ id }}" class="colour-picker" style="background-color: #000;"></div>
		</div>
		<div class="designer-toolbar-size-input">
    		<input id="designer_upload_picture_{{ id }}" name="upload_picture" type="file" />
    	</div>
	</div>
</div>
<div class="designer-canvas" id="designer_canvas_{{ id }}">
	<div class="designer-card" id="designer_card_{{ id }}" style="background: #FFF; width: {{ design_data.canvas_width }}px; height: {{ design_data.canvas_height }}px;">
		<div class="designer-design" id="designer_design_{{ id }}" style="width: {{ design_data.canvas_width - design_data.canvas_margin_left - design_data.canvas_margin_right - 2 }}px; height: {{ design_data.canvas_height - design_data.canvas_margin_top - design_data.canvas_margin_bottom - 2 }}px; margin: {{ design_data.canvas_margin_top }}px {{ design_data.canvas_margin_right }}px {{ design_data.canvas_margin_bottom }}px {{ design_data.canvas_margin_left }}px;"></div>
	</div>    
	<form action="<?php echo url_for('designs/createProof'); ?>" method="post" id="designer_save_form_{{ id }}" class="hide">
		<input id="designer_canvas_width_hidden_{{ id }}" name="canvas_width" type="hidden" value="{{ design_data.canvas_width }}" />
		<input id="designer_canvas_height_hidden_{{ id }}" name="canvas_height" type="hidden" value="{{ design_data.canvas_height }}" />
		<input id="designer_canvas_margin_top_hidden_{{ id }}" name="canvas_margin_top" type="hidden" value="{{ design_data.canvas_margin_top }}" />
		<input id="designer_canvas_margin_right_hidden_{{ id }}" name="canvas_margin_right" type="hidden" value="{{ design_data.canvas_margin_right }}" />
		<input id="designer_canvas_margin_bottom_hidden_{{ id }}" name="canvas_margin_bottom" type="hidden" value="{{ design_data.canvas_margin_bottom }}" />
		<input id="designer_canvas_margin_left_hidden_{{ id }}" name="canvas_margin_left" type="hidden" value="{{ design_data.canvas_margin_left }}" />
		<input id="designer_selected_element_{{ id }}" name="selected_element" type="hidden" value="" />
	    <input id="designer_element_count_{{ id }}" name="element_count" type="hidden" value="0" />
	    <input type="hidden" name="design_id" id="designer_design_id_{{ id }}" value="<?php echo session_id(); ?>" />
	</form>
</div>
{% include 'WebIlluminationAdminBundle:Designer:script.html.twig' with {'id': id, 'design_data': design_data} %}