<ul>
	{% for featureGroup, features in featureGroups %}
		{% if features|length > 0 %}
			{% if featureGroup != 'COLOUR' %}
				<li data-feature-group="{{ loop.index }}" class="filter-feature-group"><span class="ui-button-icon-primary ui-icon ui-icon-triangle-1-n"></span>{{ featureGroup }}</li>
				{% for feature in features %}
					<li data-feature-group="feature-group-{{ loop.parent.loop.index }}" class="filter-feature"><input class="filter-feature" data-feature-id="{{ featureGroup }}:{{ feature.productFeature }}" type="checkbox" id="filter-feature-{{ loop.parent.loop.index }}-{{ loop.index }}" name="feature-{{ loop.parent.loop.index }}-{{ loop.index }}" value="1" /><label for="filter-feature-{{ loop.parent.loop.index }}-{{ loop.index }}"><span class="fr">({{ feature.productCount }})</span>{{ feature.productFeature }}</label></li>
				{% endfor %}
			{% endif %}
		{% endif %}
	{% endfor %}
</ul>
<script type="text/javascript">
	$(document).ready(function() {
		$("#filter-feature :checkbox:not(.no-uniform)").uniform();
	});
</script>