<div class="buy-now">
	{% if (product.availableForPurchase == 1) and (product.hidePrice == 0) %}
		<table class="fr no-padding no-border" align="right" cellpadding="0" cellspacing="0" border="0">
			<tr>
				{# if (product.productCode == 'KHCH') or (product.productCode == 'EVOLUTION200') or (product.productCode == 'SE80050SS') or (product.productCode == 'C95030') or (product.productCode == '119.0179.532') or (product.productCode == 'PH01SS') or (product.productCode == 'FWC302SS') %}
						<td class="no-padding no-border"><img class="movember-offer margin-right-5" src="{{ asset('bundles/webilluminationshop/images/logos/movember-offer.png') }}" border="0" alt="Movember Offer" width="100" height="27" /></td>
				{% endif #}
				<td class="no-padding no-border"><input id="quantity-{{ product.productId }}" data-product-id="{{ product.productId }}" class="ui-corner-none ui-corner-left number quantity" width="20" type="text" value="1" /></td>
				<td class="no-padding no-border">
					<div class="quantity-buttons-container no-padding">
						<div class="ui-corner-none ui-corner-tr action-increase-quantity" data-quantity-object="quantity-{{ product.productId }}">+</div>
						<div class="ui-corner-none ui-corner-br action-decrease-quantity" data-quantity-object="quantity-{{ product.productId }}">-</div>
					</div>
				</td>
				<td>
					<button data-product-id="{{ product.productId }}" class="action-add-to-basket button margin-left-5 ui-button-green">Add to Basket</button>
				</td>
			</tr>
		</table>
		<input type="hidden" value="" id="selected-options-{{ product.productId }}">
	{% else %}
		<a href="{{ path('content_contact_us') }}" class="fr button ui-button-green">Contact Us to Buy</a>
	{% endif %}
</div>