{% if productPagination > 1 %}
	<div class="pagination-container">
		<div class="fr">
			<ul class="pagination clearfix">
				{% if page > 1 %}
					<li class="page-navigation" data-page="1"><a href="Javascript:void(0);">First</a></li>
					<li class="page-navigation" data-page="{{ previousPage }}"><a href="Javascript:void(0);">&laquo;</a></li>
				{% endif %}
				{% for productPage in 1..productPagination %}
			    	<li data-page="{{ productPage }}" class="page{% if page == productPage %} current{% endif %}"><a href="Javascript:void(0);">{{ productPage }}</a></li>
			    {% endfor %}
			    {% if page < productPagination %}
				    <li class="page-navigation" data-page="{{ nextPage }}"><a href="Javascript:void(0);">&raquo;</a></li>
					<li class="page-navigation" data-page="{{ productPagination }}"><a href="Javascript:void(0);">&hellip;{{ productPagination }}</a></li>
				{% endif %}
				{% if brandId > 0 %}
					<li><a href="{{ asset(path('department_with_brand_view_all', {'url': url, 'brand': brand}), 'nocdn') }}">View All</a></li>
				{% else %}
					<li><a href="{{ asset(path('department_view_all', {'url': url}), 'nocdn') }}">View All</a></li>
				{% endif %}
			</ul>
		</div>	
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
	<script type="text/javascript">
		$(document).ready(function() {
			{% if productPagination > 5 %}
				var $currentPage = {{ page }};
				var $pageNumbersDisplayed = 1;
				var $pageNumbersToDisplay = 5;
				var $pageRound = 1;
				$("li.page").hide();
				$("li.page[data-page='"+$currentPage.toString()+"']").show();
				while ($pageNumbersDisplayed < $pageNumbersToDisplay)
				{
					var $previousPage = $currentPage - $pageRound;
					var $nextPage = $currentPage + $pageRound;
					if ($("li.page[data-page='"+$previousPage.toString()+"']").length > 0)
					{
						if ($pageNumbersDisplayed < $pageNumbersToDisplay)
						{
							$("li.page[data-page='"+$previousPage.toString()+"']").show();
							$pageNumbersDisplayed++;
						}
					}
					if ($("li.page[data-page='"+$nextPage.toString()+"']").length > 0)
					{
						if ($pageNumbersDisplayed < $pageNumbersToDisplay)
						{
							$("li.page[data-page='"+$nextPage.toString()+"']").show();
							$pageNumbersDisplayed++;
						}
					}
					$pageRound++;
				}
			{% endif %}
			$(".pagination :checkbox:not(.no-uniform), .pagination :radio:not(.no-uniform), .pagination select:not(.no-uniform), .pagination :file:not(.no-uniform)").uniform();
				$(".pagination .button").each(function () {
	            $(this).button({
	            	icons: {
	                	primary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-primary'):null, 
	                    secondary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-secondary'):null
	                }, 
	               	text: $(this).attr('data-icon-only') === 'true'?false:true
	        	});
	        });
		});
	</script>
{% endif %}