{% extends ':Old:shop.html.twig' %}
{% block title %}{{ product.pageTitle|raw }}{% endblock %}
{% block metatags %}
	<meta name="description" content="{{ product.metaDescription }}">
	<meta name="keywords" content="{{ product.metaKeywords }}">
{% endblock %}
{% block body %}
	<div class="breadcrumb-trail padding-left-20 padding-right-20 padding-top-10 padding-bottom-5" itemprop="breadcrumb">
		{% for departmentPath in product.departments.0.path %}
			<a href="{{ asset(path('page_request', {'url': departmentPath.routing}), 'nocdn') }}">{{ departmentPath.name }}</a>{% if not loop.last %}&nbsp;&nbsp;&gt;&nbsp;&nbsp;{% endif %}
		{% endfor %}
	</div>
	<div itemscope itemtype="http://schema.org/Product">
		<header>
			<a href="{{ backUrl }}" class="margin-left-15 button ui-button-blue fr" data-icon-primary="ui-icon-arrowthick-1-w">Go Back</a>
			<h1 itemprop="name" class="no-padding-top no-margin-bottom{">{{ product.header|raw }}</h1>
			<h2 class="no-margin blue uppercase">{% spaceless %}
				{% for productFeature in product.productFeatures %}
					{% if 'COLOUR' in productFeature.0.productFeatureGroup|upper %}
						{% if productFeature.0.productFeature != 'N/A' %}
							{{ productFeature.0.productFeature|raw }}&nbsp;
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endspaceless %}&nbsp;</h2>
			{% if product.tagline %}<h2 class="uppercase tagline">{{ product.tagline|raw }}</h2>{% endif %}
		</header>
		<section class="container_6 clearfix" id="product-info">
			<div>
				<div class="grid_3"> 
					<div class="portlet">
						<section class="relative">
							<div class="product-image-container">
								<button rel="#large-image-container" class="action-larger-view button ui-corner-tl ui-corner-none" data-icon-primary="ui-icon-search">Zoom In</button>
								<img itemprop="image" id="product-image" rel="#large-image-container" data-large-path="{{ product.images.0.largePath }}" data-large-width="{{ product.images.0.largeWidth }}" data-large-height="{{ product.images.0.largeHeight }}" class="product-image" src="{{ product.images.0.mediumPath }}" border="0" alt="{{ product.images.0.title }}" width="300" height="300">
								<div class="clear"></div>
							</div>
							<div class="ac product-thumbnail-container">
								{% for image in product.images %}
									<img itemprop="image" rel="#large-image-container" class="product-thumbnail{% if loop.first %} selected{% endif %}" data-large-path="{{ image.largePath }}" data-large-width="{{ image.largeWidth }}" data-large-height="{{ image.largeHeight }}" data-medium-path="{{ image.mediumPath }}" data-medium-width="{{ image.mediumWidth }}" data-medium-height="{{ image.mediumHeight }}" src="{{ image.thumbnailPath }}" border="0" alt="{{ image.title }}" width="50" height="50">
								{% endfor %}
							</div>
							{% for department in product.departments %}
								{% if '1034|1122|69' in department.pathIds %}
									<div class="large-floating-offer large-floating-offer-top-left">
										<p class="large-floating-offer-title">40% OFF</p>
										<p class="large-floating-offer-description">Stellar<br />Pans</p>
									</div>
								{% endif %}
							{% endfor %}
							{% if product.brand.id == '7' %}
								<div class="large-floating-offer large-floating-offer-middle-left">
									<p class="large-floating-offer-title">10% OFF</p>
									<p class="large-floating-offer-description">All CDA<br />Items</p>
								</div>
							{% endif %}				
						</section>
			        </div>
			    </div>
			    <div class="grid_3"> 
					<div class="portlet">
						<section>
							<div>
								<p class="ar product-code">
									<span itemprop="model">Product Code: <strong>{{ product.productCode }}</strong></span>
								</p>
								{% if product.bullets != '' %}
									<div class="product-bullets">
										{{ product.bullets|raw }}
										<div class="clear"></div>
									</div>
								{% endif %}
								<div id="product-price-loading" class="loading-container ui-helper-hidden">
									<p><img src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" /></p>
									<p>Updating Prices&hellip;</p>
								</div>
								<div id="product-price">
									{% include 'WebIlluminationShopBundle:Products:price.html.twig' with {'url': "",'productCode': product.productCode, 'recommendedRetailPrice': product.prices.0.recommendedRetailPrice, 'listPrice': product.prices.0.listPrice, 'savings': product.prices.0.savings, 'membershipCardPrice': product.prices.0.membershipCardPrice, 'hidePrice': product.hidePrice} %}
								</div>
								{% for productOptionGroup, productOptions in product.productOptions %}
									<div class="product-option-group-container">
										<label>{{ productOptionGroup }}</label>
										<select class="product-option-group">
											{% for productOption in productOptions %}
												<option value="{{ productOption.id }}">{{ productOption.productOption }}
													{% if productOption.price > 0 %}
														{% if productOption.priceType == 'a' %}
															{% if productOption.priceUse == 'i' %}
																(+ &pound;{{ productOption.price|number_format(2) }})
															{% elseif productOption.priceUse == 'd' %}
																(- &pound;{{ productOption.price|number_format(2) }})
															{% endif %}
														{% elseif productOption.priceType == 'p' %}
															{% if productOption.priceUse == 'i' %}
																(+ {{ productOption.price|number_format(2) }}%)
															{% elseif productOption.priceUse == 'd' %}
																(- {{ productOption.price|number_format(2) }}%)
															{% endif %}
														{% elseif productOption.priceType == 'r' %}
															(&pound;{{ productOption.price|number_format(2) }})
														{% endif %}
													{% endif %}
												</option>
											{% endfor %}
										</select>
										<div class="clear"></div>
									</div>
								{% endfor %}
								<div id="buy-now" class="ar buy-now ui-helper-hidden">
									{% if product.availableForPurchase == 1 %}										
										<table cellpadding="0" cellspacing="0" border="0" align="right">
											<tr>
												{% if product.productCode == '' %}
													<td class="out-of-stock">Out of Stock Until Further Notice</td>
												{% else %}
													<td><span class="quantity-label">Quantity:</span></td>
													<td><input id="quantity-{{ product.id }}" class="quantity ui-corner-none ui-corner-left" width="20" type="text" value="1" /></td>
													<td>
														<div class="quantity-buttons-container">
															<div class="ui-corner-none ui-corner-tr action-increase-quantity" data-quantity-object="quantity-{{ product.id }}">+</div>
															<div class="ui-corner-none ui-corner-br action-decrease-quantity" data-quantity-object="quantity-{{ product.id }}">-</div>
														</div>
													</td>
													<td>
														<button data-product-id="{{ product.id }}" class="action-add-to-basket button ui-button-green">Add to Basket</button>
														<input type="hidden" value="" id="selected-options-{{ product.id }}" />
													</td>
												{% endif %}
											</tr>
										</table>
									{% else %}
										<input id="quantity-{{ product.id }}" class="quantity" type="hidden" value="1" />
										<a href="{{ path('content_contact_us') }}" data-product-id="{{ product.id }}" class="button ui-button-green">Contact Us To Buy</a>
										<input type="hidden" value="" id="selected-options-{{ product.id }}" />
									{% endif %}
									<div class="clear"></div>
								</div>
								{% if product.cheaperAlternatives|length > 0 %}
									{% for cheaperAlternative in product.cheaperAlternatives %}
										{% if loop.first %}
											<a class="cheaper-alternative" href="{{ path('page_request', {'url': cheaperAlternative.url}) }}">Cheaper Alternative Only <strong>&pound;{{ cheaperAlternative.listPrice|number_format(2) }}</strong></a>
										{% endif %}
									{% endfor %}
								{% endif %}
								<div class="clear"></div>
							</div>
						</section>
			        </div>
			        {% for department in product.departments %}
						{% if '1034|1122|69' in department.pathIds %}
							<div class="special-offer-banner">40% Off Stellar Pans when you buy any induction hob<br /><span>Simply add an induction hob and a Stellar Pan Set to your basket</span></div>
					        <div itemscope="" itemtype="http://schema.org/Product" class="product small-product" data-product-id="5068" id="product-5068">
								<h4 class="no-margin"><a itemprop="name" href="{{ path('page_request', {'url': '7000-3-piece-induction-saucepan-set-s7a1d-s7a1d-3-piece-pan-sets-stellar'}) }}">Stellar 7000 3 Piece Sauce Pan Set </a></h4>
								<p class="no-margin no-padding uppercase">Lifetime Warranty</p>
								<p class="no-margin no-padding uppercase blue"><strong>STAINLESS STEEL</strong></p>
								<div class="clear"></div>
								<div class="product-information relative">
									<a href="{{ path('page_request', {'url': '7000-3-piece-induction-saucepan-set-s7a1d-s7a1d-3-piece-pan-sets-stellar'}) }}"><img itemprop="image" src="{{ asset('/uploads/images/product/product/stellar-7000-3-piece-induction-saucepan-set-s7a1d-thumbnail-44764.jpg') }}" border="0" alt="Stellar 7000 3 Piece INDUCTION COMPATIBLE Sauce Pan Set " width="90" height="90" class="fl" /></a>
									<div class="fr">
										<p class="ar product-code uppercase"><a itemprop="model" class="ellipsis uppercase" href="{{ path('page_request', {'url': '7000-3-piece-induction-saucepan-set-s7a1d-s7a1d-3-piece-pan-sets-stellar'}) }}">CODE: <strong>S7A1D</strong></a></p>
										<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
											<p class="ar product-was-price uppercase">was <span>&pound;99.00</span></p>
											<p class="ar product-price uppercase"><a href="{{ path('page_request', {'url': '7000-3-piece-induction-saucepan-set-s7a1d-s7a1d-3-piece-pan-sets-stellar'}) }}"><span itemprop="price">&pound;59.40</span></a><span class="product-tax"> (inc. VAT)</span></p>
										</div>
										<div class="buy-now">
											<button data-product-id="5068" class="fr action-add-to-basket button ui-button-green">Buy Now</button>
										</div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
							</div>
							<div itemscope="" itemtype="http://schema.org/Product" class="product small-product" data-product-id="5069" id="product-5069">
								<h4 class="no-margin"><a itemprop="name" href="{{ path('page_request', {'url': '7000-5-piece-induction-saucepan-set-s7c1d-s7c1d-5-piece-pan-sets-stellar'}) }}">Stellar 7000 5 Piece Sauce Pan Set </a></h4>
								<p class="no-margin no-padding uppercase">Lifetime Warranty</p>
								<p class="no-margin no-padding uppercase blue"><strong>STAINLESS STEEL</strong></p>
								<div class="clear"></div>
								<div class="product-information relative">
									<a href="{{ path('page_request', {'url': '7000-5-piece-induction-saucepan-set-s7c1d-s7c1d-5-piece-pan-sets-stellar'}) }}"><img itemprop="image" src="{{ asset('/uploads/images/product/product/stellar-7000-5-piece-induction-saucepan-set-s7c1d-thumbnail-44765.jpg') }}" border="0" alt="Stellar 7000 5 Piece INDUCTION COMPATIBLE Sauce Pan Set" width="90" height="90" class="fl" /></a>
									<div class="fr">
										<p class="ar product-code uppercase"><a itemprop="model" class="ellipsis uppercase" href="{{ path('page_request', {'url': '7000-5-piece-induction-saucepan-set-s7c1d-s7c1d-5-piece-pan-sets-stellar'}) }}">CODE: <strong>S7C1D</strong></a></p>
										<div itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
											<p class="ar product-was-price uppercase">was <span>&pound;125.00</span></p>
											<p class="ar product-price uppercase"><a href="{{ path('page_request', {'url': '7000-5-piece-induction-saucepan-set-s7c1d-s7c1d-5-piece-pan-sets-stellar'}) }}"><span itemprop="price">&pound;75.00</span></a><span class="product-tax"> (inc. VAT)</span></p>
										</div>
										<div class="buy-now">
											<button data-product-id="5069" class="fr action-add-to-basket button ui-button-green">Buy Now</button>
										</div>
									</div>
									<div class="clear"></div>
								</div>
								<div class="clear"></div>
							</div>
						{% endif %}
					{% endfor %}
					{% if product.brand.id == '7' %}
						<div class="special-offer-banner">10% Off All CDA Appliances when you buy 3 or more<br /><span>Simply add your items to the basket and your 10% will be taken off</span></div>
					{% endif %}
			    </div>
			</div>
		   	{% if product.relatedProducts|length > 0 %}
		   		<div class="clear"></div>
			   	<div class="grid_6 leading">
			   		<div class="portlet">
						<header>
							<h2>Related Products</h2>
						</header>
						<section class="no-padding-bottom no-padding-right">
							{% for relatedProduct in product.relatedProducts %}
								{% include 'WebIlluminationShopBundle:Products:productListing.html.twig' with {'product': relatedProduct} %}
							{% endfor %}
							<div class="clear"></div>
						</section>
			        </div>
			    </div>
			    <div class="clear"></div>
			{% endif %}
			{% if product.description or (product.productFeatures|length > 0) %}
				<div class="clear"></div>
				<div class="grid_6 leading">
		            <div class="portlet">
		                <header>
		                    <h2>Product Information</h2>
		                </header>
		                <section>
		                    <div class="sidebar-tabs">
		                        <ul>
		                        	{% if product.productFeatures|length > 0 %}<li id="tab-features"><a href="#features">Features</a></li>{% endif %}
		                        	{% if product.description %}<li id="tab-description"><a href="#description">Description</a></li>{% endif %}
		                            {% if product.brand.guarantees|length > 0 %}<li id="tab-guarantees"><a href="#guarantees">Guarantees</a></li>{% endif %}
		                            {% if product.videos|length > 0 %}<li id="tab-videos"><a href="#videos">Videos</a></li>{% endif %}
		                        </ul>
		                        {% if product.productFeatures|length > 0 %}
			                        <section id="features" class="form ui-helper-hidden">
			                        	<dl>
			                        		{% if productFeature.0.productFeature != '*** NOT SET ***' %}
				                        		{% for productFeature in product.productFeatures %}
				                        			<dt>{{ productFeature.0.productFeatureGroup|raw }}</dt>
	    												<dd>{{ productFeature.0.productFeature|raw }}</dd>
				                        		{% endfor %}
				                        	{% endif %}
										</dl>
										<div class="clear"></div>
			                        </section>
			                    {% endif %}
		                        {% if product.description %}
			                        <section id="description" class="form ui-helper-hidden">
			                        	<div itemprop="description" class="product-description">{{ product.description|raw }}</div>
			                        </section>
			                    {% endif %}
			                    {% if product.guarantees|length > 0 %}
			                    	<section id="guarantees" class="form ui-helper-hidden">
			                        	{% for guarantee in product.guarantees %}
											<div class="brand-guarantee">
												<div class="brand-guarantee-year-number">{{ guarantee.guaranteeLength|raw }}</div>
												<div class="brand-guarantee-years">{{ guarantee.guaranteeTitle|raw }}</div>
												<div class="brand-guarantee-description-background"></div>
												<div class="brand-guarantee-description">{{ guarantee.guaranteeType|raw }}</div>
											</div>
										{% else %}
											<p>There is not a standard guarantee for this product.</p>
										{% endfor %}
										<p><strong>Please Note:</strong> All guarantees must be registered with the manufacturer within 30 days of the purchase date.</p>
										<div class="clear"></div>
			                        </section>
			                    {% endif %}
			                    {% if product.guarantees|length > 0 %}
			                    	<section id="videos" class="form ui-helper-hidden">
			                        	{% for video in product.videos %}
			                        		{% if 'youtube' in video.path %}
			                        			<div{% if not loop.last %} class="margin-bottom-10"{% endif %}>
			                        				{% if 'youtube' in video.path %}
					                        			<iframe width="695" height="391" src="http://www.youtube-nocookie.com/embed/{{ video.path|replace({'http://www.youtube.com/watch?v=': ''}) }}" frameborder="0" allowfullscreen></iframe>
					                        		{% endif %}
			                        			</div>
			                        		{% endif %}
										{% endfor %}
										<div class="clear"></div>
			                        </section>
			                    {% endif %}
							</div>
						</section>
					</div>
				</div>
			{% endif %}		  
		   	<div class="clear"></div>
		</section>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationShopBundle:Products:indexScript.js.twig' with {'product': product} %}
{% endblock %}