<p class="ar product-code uppercase">{% spaceless %}
	{% if url != '' %}
		<a itemprop="model" class="ellipsis uppercase" href="{{ path('page_request', {'url': url}) }}">
	{% endif %}
	CODE: <strong>{{ productCode }}</strong>
	{% if url != '' %}
		</a>
	{% endif %}
{% endspaceless %}</p>
<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
	<p class="ar product-was-price uppercase">{% spaceless %}
		{% if (recommendedRetailPrice > listPrice) and (hidePrice == 0) %}
			was&nbsp;<span>&pound;{{ recommendedRetailPrice|number_format(2) }}</span>
			{% if savings > 0 %}
				&nbsp;save &pound;{{ savings|number_format(2) }}
			{% endif %}
		{% else %}
			&nbsp;
		{% endif %}
	{% endspaceless %}</p>
	<p class="ar product-price uppercase">{% spaceless %}
		{% if hidePrice == 0 %}
			{% if url != '' %}
				<a href="{{ path('page_request', {'url': url}) }}">
			{% endif %}
			<span itemprop="price">&pound;{{ listPrice|number_format(2) }}</span>
			{% if url != '' %}
				</a>
			{% endif %}
			<span class="product-tax"> (inc. VAT)</span>
		{% else %}
			<a itemprop="price" href="{{ path('content_contact_us') }}">CONTACT US</a>
		{% endif %}
	{% endspaceless %}</p>
	{#<p class="ar membership-card-price uppercase">{% spaceless %}
		{% if (membershipCardPrice < listPrice) and (membershipCardPrice > 0) and (hidePrice == 0) %}
			<strong>&pound;{{ membershipCardPrice|number_format(2) }}</strong> with Privilege Card
		{% else %}
			&nbsp;
		{% endif %}
	{% endspaceless %}</p>#}
</div>