<div itemscope itemtype="http://schema.org/Product" class="product" data-product-id="{{ product.productId }}" id="product-{{ product.productId }}">
	<h4 class="no-margin"><a itemprop="name" href="{{ path('page_request', {'url': product.url}) }}">{{ product.header|raw }}</a></h4>
	<p class="no-margin uppercase">{{ product.tagline|default('&nbsp;')|raw }}</p>
	<p class="no-margin uppercase blue">{% spaceless %}
		{% for productFeature in product.productFeatures|explode('|') %}
			{% if 'COLOUR:' in productFeature %}
				<strong>{{ productFeature|replace({'COLOUR:': ''}) }}</strong>&nbsp;
			{% endif %}
		{% endfor %}
	{% endspaceless %}&nbsp;</p>
	<div class="clear"></div>
	<div class="product-information relative">
		{% if '|1034|1122|69|' in product.departmentIds %}
			<div class="small-floating-offer small-floating-offer-top-left">
				<p class="small-floating-offer-title">40% OFF</p>
				<p class="small-floating-offer-description">Stellar<br />Pans</p>
			</div>
		{% endif %}
		{% if product.brandId == '7' %}
			<div class="medium-floating-offer medium-floating-offer-bottom-left">
				<p class="medium-floating-offer-title">10% OFF</p>
				<p class="medium-floating-offer-description">When you buy 3 or more CDA items</p>
			</div>
		{% endif %}
		<a href="{{ path('page_request', {'url': product.url}) }}"><img itemprop="image" src="{{ asset(product.thumbnailPath) }}" border="0" alt="{{ product.header|raw }}" width="100" height="100"></a>
		<div class="product-description">
			{% include 'WebIlluminationShopBundle:Products:price.html.twig' with {'url': product.url,'productCode': product.productCode, 'recommendedRetailPrice': product.recommendedRetailPrice, 'listPrice': product.listPrice, 'savings': product.savings, 'membershipCardPrice': product.membershipCardPrice, 'hidePrice': product.hidePrice} %}
			{% include 'WebIlluminationShopBundle:Products:buyNow.html.twig' with {'product': product} %}
			{% if (app.request.attributes.get('_route') == 'products_ajax_get_product_listing') or (noAjax > 0) %}
				{% if not group %}
					{% if product.productGroupCode %}
						<a href="{{ path('department_with_group', {'group': product.productGroupId, 'url': url}) }}" class="fr margin-top-2 padding-left-5 padding-right-5 button ui-button-blue small">View Other Options</a>
					{% endif %}
				{% endif %}
			{% endif %}
		</div>
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>