<a title="View your basket" href="{#{{ path('basket_your_basket') }}#}"><img class="fr" src="{{ asset('/bundles/kacshop/images/icons/shopping-basket.png') }}" width="39" height="38" border="0" alt="Your Shopping Basket" /></a>
<h2>Your basket</h2>
<div id="basket-summary-content">
    <p class="fl">Items: <strong>{{ basket.totals.items }}</strong><br />Total: <strong>&pound;{{ basket.totals.subTotal|number_format(2) }}</strong></p>
    {% if basket.totals.items > 0 %}
        {% if basket.delivery.service != '' %}<a title="Go to checkout" href="{{ path('checkout_secure_checkout') }}" class="button ui-button-green">Pay Now</a>{% endif %}
        <a title="View your basket" href="{{ path('basket_your_basket') }}" class="button ui-button-blue">View</a>
    {% endif %}
</div>