<div class="basket-summary-header">
    <a href="#"><span class="fr ui-button-icon-primary ui-icon-small icon-small-grey icon-small-252"></span></a>
    <h2>Your basket</h2>
    <p>Items: <strong>{{ basket.totals.items|default(0) }}</strong></p>
    <p>Total: <strong>&pound;{{ basket.totals.subTotal|number_format(2) }}</strong></p>
    <div class="dropdown-summary ui-helper-hidden" data-items="{{ basket.products|length }}">
        {% if basket.products|length > 0 %}
            <table class="data-table basket-items-table">
                <tr>
                    <th class="al">Product</th>
                    <th class="ac">Code</th>
                    <th class="ac">Qty</th>
                    <th class="ac">Price</th>
                    <th class="ac">&nbsp;</th>
                </tr>
                {% for product in basket.products %}
                    <tr{% if (product.deliveryBand == 6) and (basket.delivery.service == '') %} class="red"{% endif %}>
                        <td>
                            <a class="uppercase" href="{{ path('routing', {'url': product.url}) }}">{{ product.header }}</a>
                            {% if product.selectedOptionLabels|length > 0 %}
                                <br />
                                {% for selectedOptionLabel in product.selectedOptionLabels %}
                                    {{ selectedOptionLabel|raw }}{% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td class="ac"><strong>{{ product.productCode }}</strong></td>
                        <td class="ac">{{ product.quantity }}</td>
                        <td class="ac">&pound;{{ product.subTotal|number_format(2) }}</td>
                        <td class="ac"><img data-basket-item-id="{{ product.basketItemId }}" class="link action-delete-basket-item" src="{{ asset('/bundles/webilluminationshop/images/icons/error-small.png') }}" border="0" alt="Delete Item" /></td>
                    </tr>
                {% endfor %}
            </table>
            <div class="basket-buttons clearfix">
                <a href="{{ path('checkout_secure_checkout') }}" class="button button-small uppercase button-green icon-white fr">Buy Now</a>
                <a href="{{ path('basket_your_basket') }}" class="button button-small uppercase button-blue icon-white fr">View Basket</a>
                <a href="#" data-url="{{ path('basket_ajax_clear_basket') }}" class="action-clear-basket button button-small uppercase button-blue icon-white fl">Clear Basket</a>
            </div>
        {% endif %}
    </div>
</div>