<div class="basket-summary-header">
    <span class="fr ui-button-icon-primary ui-icon-small icon-small-grey icon-small-252"></span>
    <h2>Your basket</h2>
    <p>Items: <strong>{{ basket.totals.items|default(0) }}</strong></p>
    <p>Total: <strong>{{ basket.totals.subTotal|currency('GBP', true, true, '')|raw }}</strong></p>
    <div class="dropdown-summary ui-helper-hidden" data-items="{{ basket.products|length }}">
        {% if basket.products|length > 0 %}
            <table class="mtm data-table basket-items-table">
                <tr>
                    <th class="tal">Product</th>
                    <th width="1" class="tac">Qty</th>
                    <th width="1" class="tac">Price</th>
                    <th width="62" class="ac">&nbsp;</th>
                </tr>
                {% for product in basket.products %}
                    <tr{% if (product.deliveryBand == 6) and (basket.delivery.service == '') %} class="red"{% endif %}>
                        <td class="tal">
                            <a class="uppercase" href="{{ path('routing', {'url': product.url}) }}">{{ product.header }}</a>
                            {% if product.selectedOptionLabels|length > 0 %}
                                <br />
                                {% for selectedOptionLabel in product.selectedOptionLabels %}
                                    {{ selectedOptionLabel|raw }}{% if not loop.last %}<br />{% endif %}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td width="1" class="tac{% if product.quantity > 1 %} gradient-turquoise colour-white {% endif %}">{{ product.quantity }}</td>
                        <td width="1" class="tac">{{ product.subTotal|currency('GBP', true, true, '')|raw }}</td>
                        <td width="62" class="tac"><button type="button" data-basket-item-id="{{ product.basketItemId }}" data-url="{{ path('basket_ajax_delete_basket_item') }}" class="button button-small link action-delete-basket-item">Remove</button></td>
                    </tr>
                {% endfor %}
            </table>
            <div class="mtm mbs clearfix">
                <a href="{{ path('checkout_secure_checkout') }}" class="button button-green uppercase icon-white fr" data-icon-secondary="icon-472">Pay Now</a>
                <a href="{{ path('basket_your_basket') }}" class="button button-small button-grey mrm fr">View Basket</a>
                <button type="button" data-url="{{ path('basket_ajax_clear_basket') }}" class="action-clear-basket button button-small button-grey fl">Clear Basket</button>
            </div>
        {% endif %}
    </div>
</div>