<div class="pagination-container">
    <div class="fr">
        {% if pageCount > 1 %}
            <ul class="pagination clearfix">
                {% if first is defined and current != first %}
                    <li class="first page-navigation">
                        <a href="{{ path(route, query|merge({(pageParameterName): first})) }}">First</a>
                    </li>
                {% endif %}

                {% if previous is defined %}
                <li class="previous page-navigation">
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">«</a>
                </li>
                {% endif %}

                {% for page in pagesInRange %}
                    {% if page != current %}
                        <li class="page">
                            <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                        </li>
                    {% else %}
                        <li class="page current">
                            <a href="#">{{ page }}</a>
                        </li>
                    {% endif %}

                {% endfor %}

                {% if next is defined %}
                    <li class="next page-navigation">
                        <a href="{{ path(route, query|merge({(pageParameterName): next})) }}">»</a>
                    </li>
                {% endif %}

                {% if last is defined and current != last %}
                    <li class="last page-navigation">
                        <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">Last</a>
                    </li>
                {% endif %}
            </div>
        {% endif %}
    </div>
    <div class="clear"></div>
</div>