{% extends ':Old:admin.html.twig' %}
{% block title %}{{ data.item.name }} - Settings | {{ parent() }}{% endblock %}
{% block leftmenu %}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemLeftMenu.html.twig' %}  
{% endblock %}
{% block header %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemHeader.html.twig' with {'data': data} %}
{% endblock %}
{% block body %}
	<section class="container_6 clearfix">
    	<div class="grid_6">
        	<div class="portlet">
            	<header>
           			<h2>Settings</h2>
                </header>
                <section>
                	<form class="form has-validation" id="form-update" method="post" action="{{ data.formAction }}">
                		<div class="tabs">
                            <ul>
                                <li><a href="#tab-search-engine-optimisation">Search Engine Optimisation (SEO)</a></li>
                                <li><a href="#tab-pricing">Pricing</a></li>
                            </ul>
                            <section id="tab-search-engine-optimisation">
                            	<div class="info-message">
									<span class="info-message-icon ui-icon ui-icon-info"></span>
									<p>The Search engine optimisation (SEO) settings allow you to build page title and meta description templates for the products in this department. These templates ensure the SEO for the products are relevant, consistent and more importantly set. The template is followed for all new products added to this department.</p>
									<p>Any updates you make to the templates automatically update the products unless the products are manually overridden.</p>
									<div class="clear"></div>
								</div>
                                <div class="clearfix">
                                    <div class="form-element clearfix no-margin-top">
								    	<span data-help-container="page-title-template" class="info-message-icon-right ui-icon ui-icon-help"></span>
								        <label for="form-page-title-template" class="al form-label">Page Title Template</label>
								        <div class="clear"></div>
								        <div class="form-input no-margin">
								        	<div class="margin-top-5 margin-bottom-5">
									        	<table width="100%">
													<tr>
														<td>
															<select data-flat-sortable-list-object="page-title-template" class="flat-sortable-list-parts no-margin full">
																<option value="">- Add New Part -</option>
																<option value="freeText">Free Text</option>
																<option value="brand">Brand</option>
																<option value="productCode">Product Code</option>
																<option value="department">Department</option>
																<option value="productExtraKeyword">Product Extra Keyword</option>
																<option value="keyMessage">Key Message</option>
																<optgroup label="Symbols">
																	<option value="freeText">×</option>
																	<option value="freeText">⌀</option>
																	<option value="freeText">°</option>
																	<option value="freeText">²</option>
																	<option value="freeText">³</option>
																</optgroup>
																{% if data.productFeatureGroups|length > 0 %}
																	<optgroup label="Feature Groups">
																	{% for productFeatureGroup in data.productFeatureGroups %}
																		<option value="productFeatureGroup|{{ productFeatureGroup.id }}">Feature Group: {{ productFeatureGroup.productFeatureGroup }}</option>
																	{% endfor %}
																	</optgroup>
																{% endif %}
															</select>
														</td>
														<td width="10">&nbsp;</td>
														<td width="200">
															<input class="full free-text" disabled="disabled" placeholder="Enter free text&hellip;" type="text" data-flat-sortable-list-object="page-title-template" value="" />
														</td>
														<td width="10">&nbsp;</td>
														<td width="1">
															<button type="button" data-flat-sortable-list-object="page-title-template" class="button action-add-flat-sortable-list-item ui-button-green small" data-icon-primary="ui-icon-plusthick">Add</button>
														</td>
													</tr>
												</table>
								        	</div>
								        	<div class="clear"></div>
								        	<div class="flat-sortable-list">
								        		<ul id="flat-sortable-list-page-title-template">
								        			{% if data.pageTitleTemplate %}
								        				{{ data.pageTitleTemplate|raw }}
								        			{% else %}
									        			<li data-flat-sortable-list-object="page-title-template" id="flat-sortable-list-item-1" data-value="brand">Brand<a class="action-delete-flat-sortable-list-item button ui-button-red ui-corner-none ui-corner-tr ui-corner-br" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</a></li>
									        			<li data-flat-sortable-list-object="page-title-template" id="flat-sortable-list-item-2" data-value="productCode">Product Code<a class="action-delete-flat-sortable-list-item button ui-button-red ui-corner-none ui-corner-tr ui-corner-br" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</a></li>
									        			<li data-flat-sortable-list-object="page-title-template" id="flat-sortable-list-item-3" data-value="department">Department<a class="action-delete-flat-sortable-list-item button ui-button-red ui-corner-none ui-corner-tr ui-corner-br" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</a></li>
									        			<li data-flat-sortable-list-object="page-title-template" id="flat-sortable-list-item-4" data-value="extraProductKeyword">Extra Product Keyword<a class="action-delete-flat-sortable-list-item button ui-button-red ui-corner-none ui-corner-tr ui-corner-br" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</a></li>
									        		{% endif %}
								        		</ul>
								        		<div class="clear"></div>
								        	</div>
								        	<input class="flat-sortable-list-values" type="hidden" data-flat-sortable-list-object="page-title-template" id="form-page-title-template" name="page-title-template" value="{{ data.item.pageTitleTemplate }}" />
								        </div>
								        <div class="preview-list">
								        	{% for pageTitleTemplateProductPreview in data.pageTitleTemplateProductPreviews %}
								        		{% if pageTitleTemplateProductPreview != '' %}
													<p>{{ pageTitleTemplateProductPreview }}</p>
												{% endif %}
											{% endfor %}
								        </div>
								    </div>
								    <div id="form-help-page-title-template" class="form-help ui-helper-hidden">
								    	<p>The page title template is the template used by the products that are directly within this department to automatically generate the page title. Please note this template is only used by products that are in this department. If a product is in a sub department that is within this department then the template from the sub department will be used instead.</p>
								    </div>
								    <div class="form-element clearfix">
								    	<span data-help-container="meta-description-template" class="info-message-icon-right ui-icon ui-icon-help"></span>
								        <label for="form-meta-description-template" class="al form-label">Meta Description Template</label>
								        <div class="form-input no-margin">
								        	<div class="margin-top-5 margin-bottom-5">
									        	<table width="100%">
													<tr>
														<td>
															<select data-flat-sortable-list-object="meta-description-template" class="flat-sortable-list-parts no-margin full">
																<option value="">- Add New Part -</option>
																<option value="freeText">Free Text</option>
																<option value="brand">Brand</option>
																<option value="productCode">Product Code</option>
																<option value="department">Department</option>
																<option value="productExtraKeyword">Product Extra Keyword</option>
																<option value="keyMessage">Key Message</option>
																<optgroup label="Symbols">
																	<option value="freeText">×</option>
																	<option value="freeText">⌀</option>
																	<option value="freeText">°</option>
																	<option value="freeText">²</option>
																	<option value="freeText">³</option>
																</optgroup>
																{% if data.productFeatureGroups|length > 0 %}
																	<optgroup label="Feature Groups">
																	{% for productFeatureGroup in data.productFeatureGroups %}
																		<option value="productFeatureGroup|{{ productFeatureGroup.id }}">Feature Group: {{ productFeatureGroup.productFeatureGroup }}</option>
																	{% endfor %}
																	</optgroup>
																{% endif %}
															</select>
														</td>
														<td width="10">&nbsp;</td>
														<td width="200">
															<input class="full free-text" disabled="disabled" placeholder="Enter free text&hellip;" type="text" data-flat-sortable-list-object="meta-description-template" value="" />
														</td>
														<td width="10">&nbsp;</td>
														<td width="1">
															<button type="button" data-flat-sortable-list-object="meta-description-template" class="button action-add-flat-sortable-list-item ui-button-green small" data-icon-primary="ui-icon-plusthick">Add</button>
														</td>
													</tr>
												</table>
								        	</div>
								        	<div class="flat-sortable-list">
								        		<ul id="flat-sortable-list-meta-description-template">
								        			{% if data.metaDescriptionTemplate %}
								        				{{ data.metaDescriptionTemplate|raw }}
								        			{% else %}
									        			<li data-flat-sortable-list-object="meta-description-template" id="flat-sortable-list-item-1" data-value="brand">Brand<a class="action-delete-flat-sortable-list-item button ui-button-red ui-corner-none ui-corner-tr ui-corner-br" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</a></li>
									        			<li data-flat-sortable-list-object="meta-description-template" id="flat-sortable-list-item-2" data-value="productCode">Product Code<a class="action-delete-flat-sortable-list-item button ui-button-red ui-corner-none ui-corner-tr ui-corner-br" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</a></li>
									        			<li data-flat-sortable-list-object="meta-description-template" id="flat-sortable-list-item-2" data-value="department">Department<a class="action-delete-flat-sortable-list-item button ui-button-red ui-corner-none ui-corner-tr ui-corner-br" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</a></li>
									        			<li data-flat-sortable-list-object="meta-description-template" id="flat-sortable-list-item-2" data-value="extraProductKeyword">Extra Product Keyword<a class="action-delete-flat-sortable-list-item button ui-button-red ui-corner-none ui-corner-tr ui-corner-br" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</a></li>
									        		{% endif %}
								        		</ul>
								        		<div class="clear"></div>
								        	</div>
								        	<input class="flat-sortable-list-values" type="hidden" data-flat-sortable-list-object="meta-description-template" id="form-meta-description-template" name="meta-description-template" value="{{ data.item.metaDescriptionTemplate }}" />
								        </div>
								    </div>
								    <div id="form-help-meta-description-template" class="form-help ui-helper-hidden">
								    	<p>The meta description template is the template used by the products that are directly within this department to automatically generate the meta description. Please note this template is only used by products that are in this department. If a product is in a sub department that is within this department then the template from the sub department will be used instead.</p>
								    </div>
                                </div>
                            </section>
                            <section id="tab-pricing">
                            	<div class="info-message">
									<span class="info-message-icon ui-icon ui-icon-info"></span>
									<p>The pricing settings allow you to set how the prices of the products in this department are affected.</p>
									<div class="clear"></div>
								</div>
                                <div class="form-element clearfix no-margin-top">
		                			<span data-help-container="hide-prices" class="info-message-icon ui-icon ui-icon-help"></span>
							        <label for="form-hide-prices" class="form-label"><em>*</em> Hide Prices</label>
							        <div class="form-input">
							        	<label><input type="radio" name="hide-prices" id="form-hide-prices-1" value="1"{% if data.item.hidePrices == 1 %} checked="checked"{% endif %} /> Yes</label>
							        	<label><input type="radio" name="hide-prices" id="form-hide-prices-0" value="0"{% if data.item.hidePrices == 0 %} checked="checked"{% endif %} /> No</label>
							        </div>
							    </div>
							    <div id="form-help-hide-prices" class="form-help ui-helper-hidden">
							    	<p>This setting allows you to hide the prices for all products in this department.</p>
							    </div>
							    <div class="form-element clearfix no-margin-top{% if data.item.hidePrices == 0 %} ui-helper-hidden{% endif %}" id="show-prices-out-of-hours-container">
		                			<span data-help-container="show-prices-out-of-hours" class="info-message-icon ui-icon ui-icon-help"></span>
							        <label for="form-show-prices-out-of-hours" class="form-label">Show Out of Hours</label>
							        <div class="form-input">
							        	<label><input type="radio" name="show-prices-out-of-hours" id="form-show-prices-out-of-hours-1" value="1"{% if data.item.showPricesOutOfHours == 1 %} checked="checked"{% endif %} /> Yes</label>
							        	<label><input type="radio" name="show-prices-out-of-hours" id="form-show-prices-out-of-hours-0" value="0"{% if data.item.showPricesOutOfHours == 0 %} checked="checked"{% endif %} /> No</label>
							        </div>
							    </div>
							    <div id="form-help-show-prices-out-of-hours" class="form-help ui-helper-hidden">
							    	<p>If you have set the hide prices settings to hide the prices for all products in this department this setting allows you to override this by showing the prices out of office hours. This is useful if you want to advertise your products out of office hours when the offices and help lines are closed.</p>
							    </div>
							    <div class="form-element clearfix">
		                			<span data-help-container="membership-card-discount-available" class="info-message-icon ui-icon ui-icon-help"></span>
							        <label for="form-membership-card-discount-available" class="form-label"><em>*</em> Membership Card Use</label>
							        <div class="form-input">
							        	<label><input type="radio" name="membership-card-discount-available" id="form-membership-card-discount-available-1" value="1"{% if data.item.membershipCardDiscountAvailable == 1 %} checked="checked"{% endif %} /> Yes</label>
							        	<label><input type="radio" name="membership-card-discount-available" id="form-membership-card-discount-available-0" value="0"{% if data.item.membershipCardDiscountAvailable == 0 %} checked="checked"{% endif %} /> No</label>
							        </div>
							    </div>
							    <div id="form-help-membership-card-discount-available" class="form-help ui-helper-hidden">
							    	<p>This setting allows you to accept discounts on products in this department by the use of a registered and activated membership card.</p>
							    </div>
							    <div class="form-element clearfix no-margin-top{% if data.item.membershipCardDiscountAvailable == 0 %} ui-helper-hidden{% endif %}" id="maximum-membership-card-discount-container">
		                			<span data-help-container="maximum-membership-card-discount" class="info-message-icon ui-icon ui-icon-help"></span>
							        <label for="form-maximum-membership-card-discount" class="form-label">Membership Discount (%)</label>
							        <div class="form-input"><input type="text" id="form-maximum-membership-card-discount" name="maximum-membership-card-discount" value="{{ data.item.maximumMembershipCardDiscount|number_format(2) }}" /></div>
							    </div>
							    <div id="form-help-membership-card-discount-available" class="form-help ui-helper-hidden">
							    	<p>This setting allows you to set the maximum discount that can be applied to products in this department when a customer uses a registered and activated membership card.</p>
							    </div>
                            </section>
                        </div>
					    <div id="float-buttons" class="clearfix">
					        <div id="float-buttons-content" class="float-buttons clearfix buttons">
				        		<input type="hidden" value="0" id="form-go-back" name="go-back" />
				        		<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': data.item.parentId}) }}" id="button-go-back" class="fr ui-corner-none ui-corner-tr ui-corner-br button ui-button-blue" data-icon-primary="ui-icon-triangle-1-w">Go Back</a>			        		
				        		<button id="button-update-go-back" type="submit" class="fr button ui-corner-none ui-button-green" data-icon-primary="ui-icon-check">Update &amp; Go Back</button>
				        		<button id="button-update" type="submit" class="fr button ui-corner-none ui-corner-tl ui-corner-bl ui-button-green" data-icon-primary="ui-icon-check">Update</button>
						    </div>
						</div>						
					</form>
                </section>
            </div>
        </div>
	    <div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemScript.js.twig' with {'data': data} %}
{% endblock %}