<h4>Available Locations</h4>
<div class="clearfix separator">
	<div class="clearfix">
		<div class="form-input">
			<select class="fill" name="delivery-country-code" id="form-delivery-country-code">
				<option{% if basket.delivery.countryCode == 'GB' %} selected="selected"{% endif %} value="GB">United Kingdom</option>
				<option{% if basket.delivery.countryCode == 'IE' %} selected="selected"{% endif %} value="IE">Republic of Ireland</option>
			</select>
		</div>
	</div>
    <div id="delivery-post-zip-code-container" class="clearfix{% if basket.delivery.countryCode != 'GB' %} ui-helper-hidden{% endif %}">
        <div class="form-input"><input class="fill" data-validation-type="postcode" placeholder="Postcode..." data-message="Invalid postcode" type="text" id="form-delivery-post-zip-code" name="delivery-post-zip-code" required="required" value="{% if basket.delivery.countryCode == 'IE' %}000{% else %}{{ basket.delivery.postZipCode|default('') }}{% endif %}" /></div>
    </div>
    <div class="clearfix tac mts mbl">
    	<button type="button" class="action-update-delivery-options button button-small icon-grey" data-icon-primary="icon-1113">Update Delivery Options</button>
    </div>
</div>
<h4>Available Options</h4>
<div class="clearfix separator">
	{% if basket.delivery.postZipCode == '' %}
        <div class="message message-help">
            <span class="ui-button-icon-primary ui-icon icon-yellow icon-763"></span>
            <p>Your options are currently based on delivery to our <a href="{{ path('content_delivery') }}">standard area</a>.</p>
        </div>
	{% endif %}
	{% for deliveryOption in basket.delivery.deliveryOptions %}
        <div data-delivery-option="{{ loop.index }}" class="form-element mlm delivery-option widget-group clearfix">
            <span title="{{ deliveryOption.description|raw }}" class="form-helper pbn ui-button-icon-primary ui-icon-small icon-small-763"></span>
            <div class="widget radio-group man widget-1-of-1">
                <div class="clearfix">
                    <input{% if basket.delivery.service == deliveryOption.service %} checked="checked"{% endif %} type="radio" id="deliveryOption{{ loop.index }}" name="delivery-option" value="{{ deliveryOption.service }}" />
                    <label for="deliveryOption{{ loop.index }}">
                        <span class="delivery-service">{{ deliveryOption.service|replace({'FREE DELIVERY': '<span class="colour-green"><strong>FREE DELIVERY</strong></span>', 'Collection': 'Collection from Nottingham Shop'})|raw }}{% if deliveryOption.price != 0 %} - <span class="colour-red"><strong>{{ deliveryOption.price|currency('GBP', true, true, '')|raw }}</strong></span>{% endif %}</span>
                        {% if deliveryOption.surcharge > 0 %}
                            <br /><span class="colour-red">{{ deliveryOption.surchargeDescription|raw }}</span>
                        {% endif %}
                        <br /><span class="small"><em>{% if deliveryOption.estimatedDeliveryDaysStart > 0 %}({{ deliveryOption.estimatedDeliveryDaysStart }} - {{ deliveryOption.estimatedDeliveryDaysEnd }} working days){% else %}&nbsp;{% endif %}</em></span>
                    </label>
                </div>
            </div>
        </div>
	{% else %}
		<div class="form-input delivery-option"><label><span class="service"><strong>There are no delivery options available.</strong></span></label></div>
	{% endfor %}
</div>
{% if (basket.estimatedDeliveryDays.start is defined) and (basket.estimatedDeliveryDays.end is defined) %}
	<h4>Estimated Delivery Between</h4>
	<div class="clearfix">
		<p class="tac">
            <span class="colour-red"><strong>{{ basket.estimatedDeliveryDays.start }}</strong></span><br /><span class="colour-red"><strong>{{ basket.estimatedDeliveryDays.end }}</strong></span>
        </p>
		<p class="tac small">Estimated delivery times are subject to availability, selected delivery options and locations.</p>
	</div>
{% endif %}
<script defer="defer" type="text/javascript">
	$(document).ready(function() {
        generateButtons($("#basket-delivery-options"));
        generateFormElements($("#basket-delivery-options"));
        $("#form-delivery-post-zip-code").bind('keyup', function() {
			var $currentCaretPosition = $(this).caret();
	    	$(this).val($(this).val().toUpperCase());
	    	$(this).caret($currentCaretPosition);
		});
	});
</script>