<div id="basket-message-error" class="info-message ui-status-error ui-helper-hidden margin-bottom-5">
	<span class="info-message-icon ui-icon ui-icon-alert"></span>
	<p id="basket-message-error-text"></p>
	<div class="clear"></div>
</div>
<div id="basket-message-notice" class="info-message ui-status-highlight ui-helper-hidden margin-bottom-5">
	<span class="info-message-icon ui-icon ui-icon-info"></span>
	<p id="basket-message-notice-text"></p>
	<div class="clear"></div>
</div>
<div id="basket-message-success" class="info-message ui-status-success ui-helper-hidden margin-bottom-5">
	<span class="info-message-icon ui-icon ui-icon-circle-check"></span>
	<p id="basket-message-success-text"></p>
	<div class="clear"></div>
</div>
{% if basket.products|length > 0 %}
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<th class="al">Product</th>
			<th class="ac">Code</th>
			<th class="ac" colspan="2">Qty</th>
			<th class="ac" colspan="3">Price</th>
			<th class="ac">&nbsp;</th>
		</tr>
		{% for product in basket.products %}
			<tr{% if (product.deliveryBand == 6) and (basket.delivery.service == '') %} class="red"{% endif %}>
				<td>
					<a class="uppercase" href="{{ path('page_request', {'url': product.url}) }}">{{ product.header }}</a>
					{% if product.selectedOptionLabels|length > 0 %}
						<br />
						{% for selectedOptionLabel in product.selectedOptionLabels %}
							{{ selectedOptionLabel|raw }}{% if not loop.last %}<br />{% endif %}
						{% endfor %}
					{% endif %}
				</td>
				<td class="ac"><strong>{{ product.productCode }}</strong></td>
				<td>
					<table class="no-padding no-border" cellpadding="0" cellspacing="0" border="0">
						<tr>
							<td class="no-padding no-border"><input id="quantity-{{ product.productId }}" data-selected-options="{{ product.selectedOptions }}" data-product-id="{{ product.productId }}" class="ui-corner-none ui-corner-left number quantity" width="20" type="text" value="{{ product.quantity }}" /></td>
							<td class="no-padding no-border">
								<div class="quantity-buttons-container no-padding">
									<div class="ui-corner-none ui-corner-tr action-increase-quantity" data-quantity-object="quantity-{{ product.productId }}">+</div>
									<div class="ui-corner-none ui-corner-br action-decrease-quantity" data-quantity-object="quantity-{{ product.productId }}">-</div>
								</div>
							</td>
						</tr>
					</table>
				</td>
				<td class="ac">&times;</td>
				<td class="ac">{% if product.recommendedRetailPrice > product.unitCost %}<span class="red strikethrough">&pound;{{ product.recommendedRetailPrice|number_format(2) }}</span><br /><span class="green"><strong>&pound;{{ product.unitCost|number_format(2) }}</strong></span>{% else %}&pound;{{ product.unitCost|number_format(2) }}{% endif %}</td>
				<td class="ac">=</td>
				<td class="ac">&pound;{{ product.subTotal|number_format(2) }}</td>
				<td class="ac"><img data-basket-item-id="{{ product.basketItemId }}" class="link action-delete-basket-item" src="{{ asset('/bundles/webilluminationshop/images/icons/error-small.png') }}" border="0" alt="Delete Item" /></td>
			</tr>
			{% if (product.deliveryBand == 6) and (basket.delivery.service == '') %}
				<tr>
					<td colspan="8">
						<div class="info-message ui-status-highlight no-margin">
							<span class="info-message-icon ui-icon ui-icon-info"></span>
							<p>Sorry, we are currently unable to deliver large worktop products to your selected delivery area. We can deliver all our other products to your selected delivery area. Please remove products highlighted in <span clas="red">RED</span> to continue with your order for delivery.</p>
							<div class="clear"></div>
						</div>
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
{% else %}
	<p>Sorry, you haven't added anything to your basket.</p>
{% endif %}
{% if messages %}
	<script defer="defer" type="text/javascript">
		$(document).ready(function() {
			{% if messages.error is defined %}
				$("#basket-message-error-text").html("");
				{% for message in messages.error %}
					$("#basket-message-error-text").html($("#basket-message-error-text").html() + '{{ message|raw }}<br />');
				{% endfor %}
				$("#basket-message-error").fadeIn(function() {
					setTimeout('$("#basket-message-error").fadeOut()', 5000);
				});
			{% elseif messages.notice is defined %}
				$("#basket-message-notice-text").html("");
				{% for message in messages.notice %}
					$("#basket-message-notice-text").html($("#basket-message-notice-text").html() + '{{ message|raw }}<br />');
				{% endfor %}
				$("#basket-message-notice").fadeIn(function() {
					setTimeout('$("#basket-message-notice").fadeOut()', 5000);
				});
			{% elseif messages.success is defined %}
				$("#basket-message-success-text").html("");
				{% for message in messages.success %}
					$("#basket-message-success-text").html($("#basket-message-success-text").html() + '{{ message|raw }}<br />');
				{% endfor %}
				$("#basket-message-success").fadeIn(function() {
					setTimeout('$("#basket-message-success").fadeOut()', 5000);
				});
			{% endif %}
		});
	</script>
{% endif %}