<style>
    .action-update-delivery-options {
        position: absolute;
        top: 0;
        right: 0;
    }

    #your-delivery-section label {
        line-height: 14px;
    }

    .estimated-delivery {
        border: 1px solid #c5d2d6;
        background: #e4eaec;
        padding: 4px;
        margin: 10px 0 5px 0;
    }

    .estimated-delivery p span {
        line-height: 11px;
        font-size: 10px;
    }
</style>
<div class="clearfix mbm">
	<div class="clearfix">
		<div class="form-input">
			<select class="fill" name="delivery-country-code" id="form-delivery-country-code">
                <option value="GB"{% if basket.delivery.countryCode == 'GB' %} selected="selected"{% endif %}>Deliver to United Kingdom</option>
                <option value="GG"{% if basket.delivery.countryCode == 'GG' %} selected="selected"{% endif %}>Deliver to Guernsey</option>
                <option value="IM"{% if basket.delivery.countryCode == 'IM' %} selected="selected"{% endif %}>Deliver to Isle of Man</option>
                <option value="JE"{% if basket.delivery.countryCode == 'JE' %} selected="selected"{% endif %}>Deliver to Jersey</option>
                <option value="IE"{% if basket.delivery.countryCode == 'IE' %} selected="selected"{% endif %}>Deliver to Republic of Ireland</option>
			</select>
		</div>
	</div>
    <div id="delivery-post-zip-code-container" class="clearfix{% if basket.delivery.countryCode == 'IE' %} ui-helper-hidden{% endif %}">
        <div class="mtm form-input pr">
            <input class="fill" data-validation-type="postcode" placeholder="Delivery Postcode..." data-message="Invalid postcode" type="text" id="form-delivery-post-zip-code" name="delivery-post-zip-code" required="required" value="{% if basket.delivery.countryCode == 'IE' %}000{% else %}{{ basket.delivery.postZipCode|default('') }}{% endif %}" />
            <button type="button" class="action-update-delivery-options ui-corner-none-left button icon-grey" data-icon-only="true" data-icon-primary="icon-1113">Update Delivery Options</button>
        </div>
    </div>
</div>
<div class="clearfix">
	{% for deliveryOption in basket.delivery.deliveryOptions %}
        <div data-delivery-option="{{ loop.index }}" class="form-element mlm delivery-option widget-group clearfix">
            <span title="{{ deliveryOption.description|raw }}" class="form-helper pbn ui-button-icon-primary ui-icon-small icon-small-763"></span>
            <div class="widget radio-group man widget-1-of-1">
                <div class="clearfix">
                    <input{% if basket.delivery.service == deliveryOption.service %} checked="checked"{% endif %} type="radio" id="deliveryOption{{ loop.index }}" name="delivery-option" value="{{ deliveryOption.service }}" />
                    <label for="deliveryOption{{ loop.index }}">
                        <span class="delivery-service">{{ deliveryOption.service|replace({'FREE DELIVERY': '<span class="colour-green"><strong>FREE DELIVERY</strong></span>', 'Collection': 'Collection from Nottingham Shop'})|raw }}{% if deliveryOption.price != 0 %} - <span class="colour-red"><strong>{{ deliveryOption.price|currency('GBP', true, true, '')|raw }}</strong></span>{% endif %}</span>
                        {% if deliveryOption.surcharge > 0 %}
                            <br /><span class="colour-red">{{ deliveryOption.surchargeDescription|raw }}</span>
                        {% endif %}
                        <br /><span class="small"><em>{% if deliveryOption.estimatedDeliveryDaysStart > 0 %}({{ deliveryOption.estimatedDeliveryDaysStart }} - {{ deliveryOption.estimatedDeliveryDaysEnd }} working days){% else %}(We will contact you when your order is ready){% endif %}</em></span>
                    </label>
                </div>
            </div>
        </div>
	{% else %}
        <div class="message message-error">
            <span class="ui-button-icon-primary ui-icon icon-white icon-851"></span>
            <p>There are some item(s) in your basket that we are unable to deliver to this delivery area.</p>
        </div>
	{% endfor %}
</div>
<div id="basket-totals" class="tar clearfix ui-helper-hidden"></div>
<div id="voucher-code-membership-card-number" class="fl clearfix">
    <input class="fl ui-corner-none-right" size="26" type="text" id="form-voucher-code" name="voucher-code" placeholder="Enter Voucher Code..." value="{{ basket.voucherCodes[0] }}" />
    <a href="Javascript:void(0);" rel="nofollow" class="fl action-redeem-voucher-code button ui-corner-none-left">Apply</a>
    <div id="delete-voucher-code" class="fl {% if basket.voucherCodes[0] is not defined %}ui-helper-hidden{% endif %}">
        <a href="Javascript:void(0);"><img width="18" height="18" class="mtm mlm link action-delete-voucher-code" src="{{ asset('/bundles/kacshop/images/icons/error-small.png') }}" border="0" alt="Delete Voucher Code" /></a>
    </div>
</div>
{% if basket.delivery.service != '' %}<a href="{{ path('checkout_secure_checkout') }}" class="fr action-pay-securely-now button button-green icon-white uppercase" data-icon-secondary="icon-472">Pay With Card</a>{% endif %}
<div class="clear"></div>
<img src="{{ asset('bundles/kacsite/images/icons/small-cards.png') }}" class="fr mts" border="0" alt="Cards we accept" />
<div class="clear"></div>
{% if (basket.estimatedDeliveryDays.start is defined) and (basket.estimatedDeliveryDays.start != '') %}
	<div class="estimated-delivery ui-corner-all clearfix">
		<p class="tac mbn">
            <span><strong>Earliest Delivery From:</strong></span> <span class="colour-green">{{ basket.estimatedDeliveryDays.start }}</span>
        </p>
		<p class="colour-grey mbn tac small"><em>Estimated dates are subject to availability, selected delivery options and locations.</em></p>
	</div>
{% endif %}
<script defer="defer" type="text/javascript">
	$(document).ready(function() {
        generateButtons($("#basket-delivery-options"));
        generateFormElements($("#basket-delivery-options"));
        $("#form-delivery-post-zip-code").bind('keyup', function() {
			var $currentCaretPosition = $(this).caret();
	    	$(this).val($(this).val().toUpperCase());
	    	$(this).caret($currentCaretPosition);
		});
	});
</script>