<div id="basket-message-error" class="message message-error ui-helper-hidden">
    <span class="ui-button-icon-primary ui-icon icon-white icon-851"></span>
    <p id="basket-message-error-text"></p>
</div>
<div id="basket-message-notice" class="message message-notice ui-helper-hidden">
    <span id="basket-message-notice-text" class="ui-button-icon-primary ui-icon icon-white icon-703"></span>
    <p></p>
</div>
<div id="basket-message-success" class="message message-success ui-helper-hidden">
    <span class="ui-button-icon-primary ui-icon icon-white icon-1119"></span>
    <p id="basket-message-success-text"></p>
</div>
{% if basket.products|length > 0 %}
	<table class="data-table" width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>
			<th class="tal">Product</th>
			<th class="tac" colspan="2">Qty</th>
			<th class="tac" colspan="3">Price</th>
			<th width="62" class="tac">&nbsp;</th>
		</tr>
		{% for product in basket.products %}
			<tr>
				<td class="tal">
					<a class="uppercase{% if (product.deliveryBand == 6) and (basket.delivery.service == '') %} class="background-red colour-white"{% endif %}" href="{{ path('routing', {'url': product.url}) }}">{{ product.header }}</a>
					{% if product.selectedOptionLabels|length > 0 %}
						<br />
						{% for selectedOptionLabel in product.selectedOptionLabels %}
							{{ selectedOptionLabel|raw }}{% if not loop.last %}<br />{% endif %}
						{% endfor %}
					{% endif %}
				</td>
				<td width="63">
                    <div class="add-to-basket fr" data-product-id="{{ product.id }}" data-variant-id="{{ product.variant_ids[0] }}" data-basket-url="{{ path('basket_ajax_add_to_basket') }}">
                        <input id="quantity-{{ product.variantId }}" data-selected-options="{{ product.selectedOptions }}" data-product-id="{{ product.productId }}" data-variant-id="{{ product.variantId }}" class="quantity integer" type="number" value="{{ product.quantity }}" />
                        <button type="button" class="action-increase-quantity increase-quantity button button-small uppercase" data-quantity-object="quantity-{{ product.variantId }}">+</button>
                        <button type="button" class="action-decrease-quantity decrease-quantity button button-small uppercase" data-quantity-object="quantity-{{ product.variantId }}">-</button>
                    </div>
				</td>
				<td width="1" class="tac">&times;</td>
				<td width="1" class="tac">{% if product.recommendedRetailPrice > product.unitCost %}<span class="colour-red strikethrough">&pound;{{ product.recommendedRetailPrice|number_format(2) }}</span><br /><span class="colour-green"><strong>&pound;{{ product.unitCost|number_format(2) }}</strong></span>{% else %}&pound;{{ product.unitCost|number_format(2) }}{% endif %}</td>
				<td width="1" class="tac">=</td>
				<td width="1" class="tac">{{ product.subTotal|currency('GBP', true, true, '')|raw }}</td>
				<td width="62" class="tac"><button data-basket-item-id="{{ product.basketItemId }}" data-url="{{ path('basket_ajax_delete_basket_item') }}" class="button button-small link action-delete-basket-item">Remove</button></td>
			</tr>
			{% if (product.deliveryBand == 6) and (basket.delivery.service == '') %}
				<tr>
					<td colspan="8">
						<div class="info-message ui-status-highlight no-margin">
							<span class="info-message-icon ui-icon ui-icon-info"></span>
							<p>Sorry, we are currently unable to deliver large worktop products to your selected delivery area. We can deliver all our other products to your selected delivery area. Please remove products highlighted in <span clas="red">RED</span> to continue with your order for delivery.</p>
							<div class="clear"></div>
						</div>
					</td>
				</tr>
			{% endif %}
		{% endfor %}
	</table>
{% else %}
	<p>Sorry, you haven't added anything to your basket.</p>
{% endif %}
{% if messages %}
	<script defer="defer" type="text/javascript">
		$(document).ready(function() {
			{% if messages.error is defined %}
				$("#basket-message-error-text").html("");
				{% for message in messages.error %}
					$("#basket-message-error-text").html($("#basket-message-error-text").html() + '{{ message|raw }}<br />');
				{% endfor %}
				$("#basket-message-error").fadeIn(function() {
					setTimeout('$("#basket-message-error").fadeOut()', 5000);
				});
			{% elseif messages.notice is defined %}
				$("#basket-message-notice-text").html("");
				{% for message in messages.notice %}
					$("#basket-message-notice-text").html($("#basket-message-notice-text").html() + '{{ message|raw }}<br />');
				{% endfor %}
				$("#basket-message-notice").fadeIn(function() {
					setTimeout('$("#basket-message-notice").fadeOut()', 5000);
				});
			{% elseif messages.success is defined %}
				$("#basket-message-success-text").html("");
				{% for message in messages.success %}
					$("#basket-message-success-text").html($("#basket-message-success-text").html() + '{{ message|raw }}<br />');
				{% endfor %}
				$("#basket-message-success").fadeIn(function() {
					setTimeout('$("#basket-message-success").fadeOut()', 5000);
				});
			{% endif %}
		});
	</script>
{% endif %}