{% extends 'KACSiteBundle::base.html.twig' %}
{% block title %}Your Basket{% endblock %}
{% block body %}
	<header>
		<h1>Your Shopping Basket</h1>
	</header>
	<section class="clearfix">
        <div class="widget-group clearfix">
            <div class="widget widget-3-of-5">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Your Basket Contents</h2>
                    </header>
                    <section id="basket-contents-section" class="ui-widget-content widget-content ui-corner-bottom">
                        <div id="basket-contents-loading" class="clearfix">
                            <img class="fl" src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" />
                            <p>Loading your basket contents&hellip;</p>
                            <div class="clear"></div>
                        </div>
                        <div id="basket-contents" class="clearfix ui-helper-hidden"></div>
                        <div id="basket-totals-loading" class="clearfix">
                            <img class="fl" src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" />
                            <p>Loading the totals of your basket&hellip;</p>
                            <div class="clear"></div>
                        </div>
                        <div id="basket-totals" class="tar clearfix ui-helper-hidden"></div>
                        <div class="clear"></div>
                        <div class="clearfix">
                            <a href="Javascript:window.history.go(-1);" class="fl action-continue-shopping button button-small icon-grey" data-icon-primary="icon-473">Continue Shopping</a>
                            <a href="Javascript:void(0);" class="fl mlm action-clear-basket button button-small">Clear Basket</a>
                            {% if basket.delivery.service != '' %}<a href="{{ path('checkout_secure_checkout') }}" class="fr action-pay-securely-now button button-green icon-white uppercase" data-icon-secondary="icon-472">Pay Securely Now</a>{% endif %}
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </section>
                </div>
            </div>
            <div class="widget widget-2-of-5">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Your Delivery</h2>
                    </header>
                    <section id="your-delivery-section" class="ui-widget-content widget-content ui-corner-bottom">
                        <div id="basket-delivery-options-loading" class="tac clearfix">
                            <img src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" />
                            <p>Loading your delivery options&hellip;</p>
                            <div class="clear"></div>
                        </div>
                        <div id="basket-delivery-options" class="clearfix ui-helper-hidden"></div>
                    </section>
                </div>
            </div>
        </div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationShopBundle:Basket:indexScript.js.twig' with {'backUrl': backUrl, 'basket': basket} %}
{% endblock %}