{% extends ':Old:shop.html.twig' %}
{% block title %}Your Basket{% endblock %}
{% block body %}
	<header>
		<h1>Your Shopping Basket</h1>
	</header>
	<section class="container_6 clearfix">
		<div class="grid_4"> 
			<div class="portlet">
				<header>
	                <h2 id="products-found">Your Basket Contents</h2>
	            </header>
				<section id="basket-contents-section">
					<div class="clearfix separator">
						<a href="{{ backUrl }}" data-icon-primary="ui-icon-arrowthick-1-w" class="fl action-continue-shopping button ui-button-blue">Continue Shopping</a>
						{#<a href="Javascript:void(0);" data-icon-primary="ui-icon-refresh" class="fl button-margin action-update-basket button ui-button-orange">Update Basket</a>#}
						<a href="Javascript:void(0);" data-icon-primary="ui-icon-closethick" class="fl button-margin action-clear-basket button ui-button-red">Clear Basket</a>
						{% if basket.delivery.service != '' %}<a href="{{ path('checkout_secure_checkout') }}" data-icon-primary="ui-icon-locked" class="fr action-pay-securely-now button ui-button-green">Pay Securely Now</a>{% endif %}
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div id="basket-contents-loading" class="clearfix separator">
						<img class="fl" src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" />
						<p>Loading your basket contents&hellip;</p>
						<div class="clear"></div>
					</div>
					<div id="basket-contents" class="clearfix separator ui-helper-hidden"></div>
					<div id="basket-totals-loading" class="clearfix separator">
						<img class="fl" src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" />
						<p>Loading the totals of your basket&hellip;</p>
						<div class="clear"></div>
					</div>
					<div id="basket-totals" class="ar clearfix separator ui-helper-hidden"></div>
					<div class="clear"></div>
					<div class="clearfix">
						<a href="{{ backUrl }}" data-icon-primary="ui-icon-arrowthick-1-w" class="fl action-continue-shopping button ui-button-blue">Continue Shopping</a>
						{#<a href="Javascript:void(0);" data-icon-primary="ui-icon-refresh" class="fl button-margin action-update-basket button ui-button-orange">Update Basket</a>#}
						<a href="Javascript:void(0);" data-icon-primary="ui-icon-closethick" class="fl button-margin action-clear-basket button ui-button-red">Clear Basket</a>
						{% if basket.delivery.service != '' %}<a href="{{ path('checkout_secure_checkout') }}" data-icon-primary="ui-icon-locked" class="fr action-pay-securely-now button ui-button-green">Pay Securely Now</a>{% endif %}
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					{#<div id="membership-card-discount" class="ui-helper-hidden"></div>#}
				</section>
	        </div>
	    </div>
	    <div class="grid_2 fr"> 
			<div class="portlet">
				<header>
	                <h2>Your Delivery</h2>
	            </header>
				<section id="your-delivery-section">
					<div id="basket-delivery-options-loading" class="ac clearfix">
						<img src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" />
						<p>Loading your delivery options&hellip;</p>
						<div class="clear"></div>
					</div>
					<div id="basket-delivery-options" class="clearfix ui-helper-hidden"></div>
				</section>
	        </div>
	    </div>
	   	<div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationShopBundle:Basket:indexScript.js.twig' with {'backUrl': backUrl, 'basket': basket} %}
{% endblock %}