{% extends 'KACSiteBundle:Listing:index.html.twig' %}

{% block header %}{% endblock %}
{% block body %}
    <section class="product">
        <div class="widget-group clearfix mbm">
            <div class="widget widget-1-of-1">
                <ul class="breadcrumbs" itemprop="breadcrumb">
                    <li>Maia Worktops</li>
                    <li><a href="#">Solid Surface Worktop</a></li>
                    <li><a href="#">Kitchen Worktops</a></li>
                    <li><a href="#">Worktops & Splashbacks</a></li>
                </ul>
            </div>
        </div>
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <section class="ui-widget-content ui-corner-all clearfix">
                        <div class="slider-wrapper slider-gallery">
                            <ul class="slider">
                                <li><img src="{{ asset('/uploads/demo/maia-gallery-1.jpg') }}" alt="Maia Worktops in Vulcano" /></li>
                                <li><img src="{{ asset('/uploads/demo/maia-gallery-2.jpg') }}" alt="Maia Worktops in Vulcano" /></li>
                                <li><img src="{{ asset('/uploads/demo/maia-gallery-3.jpg') }}" alt="Maia Worktops in Vulcano" /></li>
                                <li><img src="{{ asset('/uploads/demo/maia-gallery-4.jpg') }}" alt="Maia Worktops in Vulcano" /></li>
                                <li><img src="{{ asset('/uploads/demo/maia-gallery-5.jpg') }}" alt="Maia Worktops in Vulcano" /></li>
                                <li><img src="{{ asset('/uploads/demo/maia-gallery-6.jpg') }}" alt="Maia Worktops in Vulcano" /></li>
                            </ul>
                            <h1>Maia Worktops</h1>
                        </div>
                        <div class="widget-group clearfix">
                            <div class="widget widget-1-of-1">
                                <section>
                                    <div class="tabs">
                                        <ul>
                                            <li><a href="#overview">Overview</a></li>
                                            <li><a href="#maiaCare">Maia Care</a></li>
                                            <li><a href="#maiaTechnology">Maia Technology</a></li>
                                        </ul>
                                        <div id="overview">
                                            <section>
                                                <div class="widget-group pam clearfix">
                                                    <div class="widget widget-2-of-3">
                                                        <p class="summary">Seamless joins and a silky smooth finish make maia’s designer worksurfaces a luxurious addition to your home. Available in a range of colours to suit every home, maia solid surfaces by Sylmar are both functional and beautiful.</p>
                                                        <p class="summary mbn">With six new colours inspired by the very latest in kitchen designs, all Maia worksurfaces are highly heat resistant, impenetrable to dust, dirt and bacteria and are easy to clean. With a variety of modular options, there's no limit to the flexibility of Maia's comprehensive worksurface range.</p>
                                                    </div>
                                                    <div class="widget widget-1-of-3">
                                                        <img class="content-image" width="100%" src="{{ asset('/uploads/images/brand/logo/maia-original-44989.png') }}" alt="Maia Worktops" />
                                                    </div>
                                            </section>
                                        </div>
                                        <div id="maiaCare">
                                            <section>
                                                <h3>Maia Care</h3>
                                                <p>Maia solid surfaces come with a ten-year guarantee<span class="colour-red">*</span>, and are supported by the FIRA Gold Award for product excellence – this is testimony to the fact we only use the most superior materials, and our products are constantly tested to ensure they are manufactured to the highest possible standards.<span class="colour-red">*</span> <em>Guarantee covers manufacturing, not installation.</em></p>
                                                <p>Maia has been developed to be used in the domestic environment - particularly the kitchen. Although no 'special' maintenance is needed we recommend the following is adhered to, as prevention is always better than cure.</p>
                                                <h3>Routine Cleaning</h3>
                                                <p>Maia does not require any specialist cleaning regimes – most dirt and light residue will easily wipe away with a damp cloth and soapy water. The worksurface should then be rinsed with clean water and wiped dry. Persistent marks can be removed by using a mild-abrasive cleaner, but harsh scouring powders should be avoided. If in doubt, consult our care and maintenance guide.</p>
                                                <h3>Heat</h3>
                                                <p>Maia's surfaces will withstand heat better than many alternative surface materials. However, all hot pots, pans and other heat generating devices should always be placed upon a trivet or worktop protector rods, to prevent extreme heat having prolonged and direct contact with the surface. Boiling water and cooking splashes do not harm the surface.</p>
                                                <h3>Staining</h3>
                                                <p>Maia, unlike marble and granite, will resist most household chemicals including alcohol and cosmetics however, some chemicals and strong dyes can cause damage and discolouration. If spillage occurs wipe off immediately and rinse area thoroughly.</p>
                                                <h3>Minor Scratching</h3>
                                                <p>Kitchen utensils and crockery (particularly the unglazed bases) can sometimes cause scratches that will be particularly evident on darker colours. The surface can be damaged by scratching or cutting with knives, so the use of a cutting board is essential. Don’t worry though, any minor scratches can easily be removed using a red abrasive pad and other items from the care kit, please refer to the care and maintenance guide.</p>
                                                <h3>Maia Care Kit</h3>
                                                <p>To help maintain your maia worksurface, a Care Kit is available from your retailer or online here. This kit contains all that you need to make minor repairs to the surface and a special polish that helps to maintain, protect and build up a lustre particularly on darker colours.</p>
                                            </section>
                                        </div>
                                        <div id="maiaTechnology">
                                            <section>
                                                <h3>Maia Technology</h3>
                                                <p class="mbn">Made from the finest of materials, maia's high technology surface consists of acrylic resin, two thirds aluminium hydroxide and colour pigments. The properties of these components combine to form a versatile practical material, with the appearance of real stone but without the associated cost or inherent drawbacks. In fact, maia's surface presents many benefits over stone such as its greater heat resistance, virtually inconspicuous joints, aesthetically appealing and smooth feel.</p>
                                            </section>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <header class="ui-widget-header ui-corner-top">
                        <h2>Maia Worktop Colours</h2>
                    </header>
                    <section class="ui-widget-content ui-corner-bottom clearfix">
                        <div class="widget-group pam clearfix">
                            {% for product in pagination %}
                            <div class="widget mbl widget-1-of-6">
                                <div class="product-listing">
                                    <a href="{{ product.url != '' ? path('routing', {'url': product.url}) : '' }}">
                                        <img width="127" height="127" src="{{ product.thumbnail_path | apply_filter('product_thumbnail') }}" alt="{{ product.header|raw }}" />
                                        <span class="name">{{ product.attr_feature_Colour[0]|raw }}</span>
                                        {% if product.new %}<span class="new">NEW</span>{% endif %}
                                    </a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
{% endblock %}