{% macro render_departments(departments, brandId, level) %}
    {% for department in departments %}
        <li{% if level == 1 %} id="root"{% endif %}>
            {% if brandId is null %}
                {% set url = get_listing_url('department', department.id) %}
                {% if not url%}
                    <a href="{{ path('listing_department', {'departmentId': department.id}|merge(app.request.query.all)) }}">{{ department.description.header }}</a>
                {% else %}
                    <a href="{{ path('routing', {'url': url}|merge(app.request.query.all)) }}">{{ department.description.header }}</a>
                {% endif %}
            {% else %}
                {% set url = get_listing_url('brand_with_department', brandId, department.id) %}
                {% if not url%}
                    <a href="{{ path('listing_department_brand', {'departmentId': department.id, 'brandId': brandId}|merge(app.request.query.all)) }}">{{ department.description.header }}</a>
                {% else %}
                    <a href="{{ path('routing', {'url': url}|merge(app.request.query.all)) }}">{{ department.description.header }}</a>
                {% endif %}
            {% endif %}
            {% if department.children|length > 0 %}
                <ul>
                    {{  _self.render_departments(department.children, brandId, level + 1) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}
{% if departments[0].children|length > 1 %}
    <div class="ui-widget pr mtm">
        <header class="ui-widget-header ui-corner-top">
            <h2>Department</h2>
        </header>
        <section class="ui-widget-content pan ui-corner-bottom">
            <div id="filterDepartment" class="filter pls prs department-filter">
                <ul>
                    {{  _self.render_departments(departments, brandId, 1) }}
                </ul>
            </div>
        </section>
        <div class="filter-header-buttons-container">
            <button type="button" data-filter="Department" class="fr button button-small button-grey icon-grey actionShowHideFilter" data-icon-primary="icon-467" data-icon-only="true">Hide</button>
        </div>
    </div>
{% endif %}
