{% extends 'KACSiteBundle::base.html.twig' %}

{% if department is not null and brand is null %}
    {% set title = department.description.pageTitle %}
{% elseif department is null and brand is not null %}
    {% set title = brand.description.pageTitle %}
{% elseif department is not null and brand is not null %}
    {% set title = department.description.pageTitle ~ ' | ' ~ brand.description.pageTitle %}
{% else %}
    {% set title = 'Products' %}
{% endif %}
{% block title %}{{ title }}{% endblock %}

{% block metatags %}
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="description" content="{{ department.metaDescription }}">
    <meta name="keywords" content="{{ department.metaKeywords }}">
    <meta name="fragment" content="!">
{% endblock %}

{% block admin_submenu %}
    {% if department is null and brand is null %}
        <div class="widget widget-1-of-4">
            <a class="fl" href="{{ path('listing_products') }}"><span class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-947"></span></a>
            <h3 class="pts pbs"><a href="{{ path('listing_products') }}">View Products</a></h3>
        </div>
        <div class="widget widget-1-of-4">
            <a class="fl" href="{{ path('products_new') }}"><span class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-1121"></span></a>
            <h3 class="pts pbs"><a href="{{ path('products_new') }}">New Product</a></h3>
        </div>
    {% elseif department is null and brand is not null %}
        <div class="widget widget-1-of-4">
            <a class="fl" href="{{ path('departments_index') }}"><span class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-947"></span></a>
            <h3 class="pts pbs"><a href="{{ path('departments_index') }}">View Departments</a></h3>
        </div>
        <div class="widget widget-1-of-4">
            <a class="fl" href="{{ path('departments_new') }}"><span class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-1121"></span></a>
            <h3 class="pts pbs"><a href="{{ path('departments_new') }}">New Department</a></h3>
        </div>
    {% elseif brand is null and department is not null %}
        {#<div class="widget widget-1-of-4">#}
            {#<a class="fl" href="{{ path('admin_brands') }}"><span class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-947"></span></a>#}
            {#<h3 class="pts pbs"><a href="{{ path('admin_brands') }}">View Brands</a></h3>#}
        {#</div>#}
        {#<div class="widget widget-1-of-4">#}
            {#<a class="fl" href="{{ path('admin_brands_add') }}"><span class="fl ui-button-icon-primary ui-icon-small icon-small-grey icon-small-1121"></span></a>#}
            {#<h3 class="pts pbs"><a href="{{ path('admin_brands_add') }}">New Brand</a></h3>#}
        {#</div>#}
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block header %}
    <div class="widget-group clearfix mbm">
        <div class="widget widget-7-of-8">
            <ul class="breadcrumbs mtn">
                <li style="z-index: {{ department.parents|length }};" itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a itemprop="url" href="{{ path('homepage') }}"><span itemprop="title">Kitchen Appliances</span></a></li>
                {% for parent in department.parents %}
                    {% if parent.parent != null and parent.level != 0  %}
                        {% if brand %}
                            <li style="z-index: {{ loop.revindex }};" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            {% set url = get_listing_url('brand_with_department', brand.id, parent.id) %}
                            {% if not url%}
                                <a href="{{ path('listing_department_brand', {'departmentId': department.id, 'brandId': brandId}|merge(app.request.query.all)) }}" itemprop="url"><span itemprop="title">{{ department.description.header }}</span></a>
                            {% else %}
                                <a href="{{ path('routing', {'url': url}|merge(app.request.query.all)) }}" itemprop="url"><span itemprop="title">{{ department.description.header }}</span></a>
                            {% endif %}
                            </li>
                        {% else %}
                            <li style="z-index: {{ loop.revindex }};" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                                <a href="{{ path('routing', {'url': parent.url}) }}" itemprop="url"><span itemprop="title">{{ parent.description.header }}</span></a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <li itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                    <span itemprop="title">{{ brand ? brand.description.header ~ " " : "" }}{{ department.description.header }}</span>
                </li>
            </ul>
        </div>
    </div>
    {% if department is not null and brand is null %}
        <h1>{{ department.description.header }}</h1>
    {% elseif department is null and brand is not null %}
        <h1>{{ brand.description.header }}</h1>
    {% elseif department is not null and brand is not null %}
        <h1>{{ brand.description.header }} {{ department.description.header }}</h1>
    {% else %}
        <h1>Products</h1>
    {% endif %}
    <div class="clear"></div>
    {% if app.request.query.get('q', '') is not empty %}
        <h2>Searching for "{{ app.request.query.get('q', '') }}"</h2>
    {% endif %}

{% endblock %}

{% block body %}
    <section class="clearfix">
        {% if pagination.totalItemCount is defined %}
            {% set totalItemCount = pagination.totalItemCount %}
        {% else %}
            {% set totalItemCount = 0 %}
        {% endif %}
        <div class="widget-group clearfix mbl">
            <div class="widget widget-1-of-1">
                <div class="ui-widget">
                    <section class="ui-widget-content ui-corner-all pbn clearfix">
                        {% if department is not null and brand is null and department.description.description %}
                            {% set overview = department.description.description %}
                        {% elseif department is null and brand is not null and brand.description.description %}
                            {% set overview = brand.description.description %}
                        {% elseif department is not null and brand is not null and (brand.description.description or department.description.description) %}
                            {% set overview = "" %}
                            {% if brand.description.description %}
                                {% set overview = overview ~ brand.description.description %}
                            {% endif %}
                            {% if department.description.description %}
                                {% set overview = overview ~ department.description.description %}
                            {% endif %}
                        {% else %}
                            {% set overview = "" %}
                        {% endif %}
                        {% if overview and overview != "" %}
                            <div class="mtm">{{ overview|raw }}</div>
                        {% endif %}
                        {% if brand %}
                            {{ render_esi(controller('KACSiteBundle:Listing:popularProducts', { 'departmentId': department.id, 'brandId': brand.id })) }}
                        {% else %}
                            {{ render_esi(controller('KACSiteBundle:Listing:popularProducts', { 'departmentId': department.id })) }}
                            {{ render_esi(controller('KACSiteBundle:Listing:popularBrands', { 'departmentId': department.id })) }}
                        {% endif %}
                    </section>
                </div>
            </div>
        </div>
        <div class="widget-group clearfix">
            <form id="formFilter" class="form" method="GET">
                <div class="widget widget-5-of-7 listing">
                    <div class="ui-widget">
                        <a name="viewNow"></a>
                        <section class="ui-widget-content ui-corner-all product">
                            <div class="widget-group product-sorting-container product-sorting-container-top mbn clearfix">
                                <div class="widget widget-1-of-1">
                                    <span class="fl">Sort By</span>
                                    <div class="fl prs">
                                        <select id="sortOrderTop" name="sort_order" class="fill fl">
                                            <option{% if app.request.get('sort_order') == 'header_sort:asc' %} selected="selected"{% endif %} value="header_sort:asc">Alphabetically: A-Z</option>
                                            <option{% if app.request.get('sort_order') == 'header_sort:desc' %} selected="selected"{% endif %} value="header_sort:desc">Alphabetically: Z-A</option>
                                            <option{% if app.request.get('sort_order') == 'low_price:asc' or app.request.get('sort_order') is not defined or app.request.get('sort_order') is null %} selected="selected"{% endif %} value="low_price:asc">Price: Lowest First</option>
                                            <option{% if app.request.get('sort_order') == 'high_price:desc' %} selected="selected"{% endif %} value="high_price:desc">Price: Highest First</option>
                                            <option{% if app.request.get('sort_order') == 'created_at:desc' %} selected="selected"{% endif %} value="created_at:desc">Latest</option>
                                        </select>
                                    </div>
                                    <span class="fl">Show</span>
                                    <div class="fl prs">
                                        <select id="limitTop" name="limit" class="fill fl">
                                            <option{% if app.request.get('limit') == '9' %} selected="selected"{% endif %} value="9">9</option>
                                            <option{% if app.request.get('limit') == '21' or app.request.get('limit') is not defined or app.request.get('limit') is null %} selected="selected"{% endif %} value="21">21</option>
                                            <option{% if app.request.get('limit') == '51' %} selected="selected"{% endif %} value="51">51</option>
                                            <option{% if app.request.get('limit') == '102' %} selected="selected"{% endif %} value="102">102</option>
                                            <option{% if app.request.get('limit') == '99999999' %} selected="selected"{% endif %} value="99999999">All</option>
                                        </select>
                                    </div>
                                    <span class="fl">of <strong>{{ totalItemCount }}</strong> Product{{ totalItemCount == 1 ? '' : 's' }}</span>
                                    <div class="fr">
                                        {{ knp_pagination_render(pagination) }}
                                    </div>
                                </div>
                            </div>
                            <div id="products">
                                <div class="widget-group product clearfix">
                                    {% for product in pagination %}
                                        {% block product_block %}
                                            <div itemscope itemtype="http://schema.org/Product" class="widget widget-1-of-3 product mtm">
                                                <div class="pr">
                                                    {% set bullets = "" %}
                                                    {% if product.attr_feature_Colour is defined and product.attr_feature_Colour|length > 0 %}
                                                        {% set bullets = bullets ~ "Colour: <strong>" ~ product.attr_feature_Colour[0] ~ "</strong><br />" %}
                                                    {% endif %}
                                                    {% for featureGroup in product.features|slice(0, 4) %}
                                                        {% set feature = product['attr_feature_'~featureGroup|replace({" ": ""})][0] %}
                                                        {% if feature != '' %}
                                                            {% set bullets = bullets ~ featureGroup ~ ": <strong>" ~ feature ~ "</strong><br />" %}
                                                        {% endif %}
                                                    {% endfor %}
                                                    <div class="product-image-container man">
                                                        <a href="{{ product.url != '' ? path('routing', {'url': product.url}) : '' }}">
                                                            {% if product.thumbnail_path %}
                                                                <img title="{{ bullets }}" class="product-image" itemprop="image" src="{{ asset(product.thumbnail_path | apply_filter('product_thumbnail')) }}" border="0" alt="{{ product.header|raw }}" width="100%" />
                                                            {% else  %}
                                                                <img title="{{ bullets }}" class="product-image" itemprop="image" src="{{ asset('images/no-image.jpg' | apply_filter('product_thumbnail')) }}" border="0" alt="{{ product.header|raw }}" width="100%" />
                                                            {% endif  %}
                                                        </a>
                                                    </div>
                                                    <div class="pts">
                                                        {% if not brand %}
                                                            {% if product.brand_logo != '' %}
                                                                <div class="fr">
                                                                    <img src="{{ asset(product.brand_logo | apply_filter('logo_thumbnail')) }}" alt="{{ product.brand|raw }}" height="25" />
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                        <div itemprop="offers" itemscope itemtype="{% if product.low_price == product.high_price %}http://schema.org/Offer{% else %}http://schema.org/AggregateOffer{% endif %}">
                                                            {% if product.hide_price == 0 or is_granted("ROLE_ADMIN") %}
                                                                {% if not is_granted("ROLE_ADMIN") %}
                                                                    <a href="{{ path('routing', {'url': product.url}) }}">
                                                                {% endif %}
                                                                    {% if product.variants_count == 1 and is_granted("ROLE_ADMIN") %}
                                                                        <input type="text" class="no-filter product-price-update" value="{{ product.low_price }}" />
                                                                    {% else %}
                                                                        {% if product.low_price != product.high_price %}
                                                                            <span class="price-small">
                                                                                <span class="currency-prefix">from </span>
                                                                            </span>
                                                                        {% endif %}
                                                                        <span itemprop="price" class="price-small">{{ product.low_price|currency('GBP', true, true, '')|raw }}</span>
                                                                        <br />
                                                                        <span class="price-small">
                                                                            <span class="currency-tax">(inc. VAT)</span>
                                                                        </span>
                                                                    {% endif %}
                                                                {% if not is_granted("ROLE_ADMIN") %}
                                                                    </a>
                                                                {% endif %}
                                                            {% else %}
                                                                <a href="{{ path('content_contact_us') }}">CONTACT US</a>
                                                            {% endif %}
                                                        </div>
                                                        <div class="product-listing-name mbs">
                                                            <a itemprop="name" href="{{ path('routing', {'url': product.url}) }}">{{ product.header|raw }}</a>
                                                        </div>
                                                        {% if is_granted("ROLE_ADMIN") %}
                                                            <div class="mbl">
                                                                <div><button type="button" class="button button-small icon-grey actionPriceUpdate" data-icon-primary="icon-701" data-id="{{ product.id }}" data-url="{{ path('api_products_post_price', {'id': product.id}) }}">Update Price</button></div>
                                                                <div><a href="{{ path('products_edit', {'productId': product.id}) }}" class="button button-small icon-grey" data-icon-primary="icon-94">Edit</a></div>
                                                                <div><a href="{{ path('products_delete', {'productId': product.id}) }}" class="button button-small button-red icon-white" data-icon-primary="icon-851">Delete</a></div>
                                                            </div>
                                                        {% else %}
                                                            <a class="button button-small icon-grey mbl" data-icon-secondary="icon-472" href="{{ product.url != '' ? path('routing', {'url': product.url}) : '' }}">View</a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endblock %}
                                    {% else %}
                                        <p class="no-products">Sorry, there are currently no products in this department.</p>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="widget-group product-sorting-container product-sorting-container-bottom mtn clearfix">
                                <div class="widget widget-1-of-1">
                                    <span class="fl">Sort By</span>
                                    <div class="fl prs">
                                        <select id="sortOrderBottom" class="fill fl">
                                            <option{% if app.request.get('sort_order') == 'header_sort:asc' %} selected="selected"{% endif %} value="header_sort:asc">Alphabetically: A-Z</option>
                                            <option{% if app.request.get('sort_order') == 'header_sort:desc' %} selected="selected"{% endif %} value="header_sort:desc">Alphabetically: Z-A</option>
                                            <option{% if app.request.get('sort_order') == 'low_price:asc' or app.request.get('sort_order') is not defined or app.request.get('sort_order') is null %} selected="selected"{% endif %} value="low_price:asc">Price: Lowest First</option>
                                            <option{% if app.request.get('sort_order') == 'high_price:desc' %} selected="selected"{% endif %} value="high_price:desc">Price: Highest First</option>
                                            <option{% if app.request.get('sort_order') == 'created_at:desc' %} selected="selected"{% endif %} value="created_at:desc">Latest</option>
                                        </select>
                                    </div>
                                    <span class="fl">Show</span>
                                    <div class="fl prs">
                                        <select id="limitBottom" class="fill fl">
                                            <option{% if app.request.get('limit') == '9' %} selected="selected"{% endif %} value="9">9</option>
                                            <option{% if app.request.get('limit') == '21' or app.request.get('limit') is not defined or app.request.get('limit') is null %} selected="selected"{% endif %} value="21">21</option>
                                            <option{% if app.request.get('limit') == '51' %} selected="selected"{% endif %} value="51">51</option>
                                            <option{% if app.request.get('limit') == '102' %} selected="selected"{% endif %} value="102">102</option>
                                            <option{% if app.request.get('limit') == '99999999' %} selected="selected"{% endif %} value="99999999">All</option>
                                        </select>
                                    </div>
                                    <span class="fl">of <strong>{{ totalItemCount }}</strong> Product{{ totalItemCount == 1 ? '' : 's' }}</span>
                                    <div class="fr">
                                        {{ knp_pagination_render(pagination) }}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="widget widget-2-of-7">
                    <div class="ui-widget mbn">
                        <section class="ui-widget-content ui-corner-all">
                            <div class="widget-group product-filtering-container clearfix">
                                <div class="widget widget-1-of-1">
                                    <span class="fl"><strong>Narrow Search By</strong></span>
                                    <button type="button" class="fr button button-grey icon-grey actionResetAllFilters" data-icon-primary="icon-1113">Reset All</button>

                                </div>
                            </div>
                            <div class="filters">
                                <div class="ui-widget pr mtm">
                                    <header class="ui-widget-header ui-corner-top">
                                        <h2>Price</h2>
                                    </header>
                                    <section class="ui-widget-content pan ui-corner-bottom">
                                        <div id="filterPrice" class="filter price-range-filter">
                                            <div class="range-slider-values">
                                                <span>&pound;</span>
                                                <input type="text" name="filter[low_price]" id="filterLowPrice" value="{{ app.request.get('filter[low_price]', '%.0f'|format(stats.getResult('low_price').min|default(0)), true) }}" />
                                                <span>&nbsp;-&nbsp;</span>
                                                <input type="text" name="filter[high_price]" id="filterHighPrice" value="{{ app.request.get('filter[high_price]', '%.0f'|format(stats.getResult('high_price').max|default(9999)), true) }}" />
                                            </div>
                                            <div id="priceRangeSlider" class="price-range pan"></div>
                                        </div>
                                    </section>
                                    <div class="filter-header-buttons-container">
                                        <button type="button" data-filter="Price" class="fr button button-small button-grey icon-grey actionShowHideFilter" data-icon-primary="icon-467" data-icon-only="true">Hide</button>
                                        <button type="button" data-filter="Price" class="fr button button-small button-grey icon-grey actionResetFilter" data-icon-primary="icon-1113" data-icon-only="true">Reset</button>
                                    </div>
                                </div>

                                {{ render_esi(controller('KACSiteBundle:Listing:departmentTree', {'departmentId': department.id, 'brandId': brand.id})) }}

                                {% if brand is null %}
                                    <div class="ui-widget pr mtm">
                                        <header class="ui-widget-header ui-corner-top">
                                            <h2>Brand</h2>
                                        </header>
                                        <section class="ui-widget-content pan ui-corner-bottom">
                                            <div id="filterBrand" class="filter">
                                                <ul>
                                                    {% for brand, count in facets.facet('brands') %}
                                                        <li>
                                                            <input{% if brand in app.request.get('filter[brand]', null, true) %} checked="checked"{% endif %} name="filter[brand][]" type="checkbox" value="{{ brand }}" id="filter-brand-{{ loop.index }}" />
                                                            <label for="filter-brand-{{ loop.index }}"><span class="fr">({{ count }})</span>{{ brand }}</label>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </section>
                                        <div class="filter-header-buttons-container">
                                            <button type="button" data-filter="Brand" class="fr button button-small button-grey icon-grey actionShowHideFilter" data-icon-primary="icon-467" data-icon-only="true">Hide</button>
                                            <button type="button" data-filter="Brand" class="fr button button-small button-grey icon-grey actionResetFilter" data-icon-primary="icon-1113" data-icon-only="true">Reset</button>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if featureGroups|length > 0 %}
                                    <div class="ui-widget pr mtm">
                                        <header class="ui-widget-header ui-corner-top">
                                            <h2>Features</h2>
                                        </header>
                                        <section class="ui-widget-content pan ui-corner-bottom">
                                            <div id="filterFeature" class="filter">
                                                <ul>
                                                    {% for featureGroup in featureGroups %}
                                                        {% if facets.facet('feature_'~featureGroup[0]) is not null and facets.facet('feature_'~featureGroup[0]).count > 0 %}
                                                            <li data-feature-group="{{ loop.index }}" class="filter-feature-group"><span class="ui-button-icon-primary ui-icon ui-icon-triangle-1-n"></span>{{ featureGroup[1] }}</li>
                                                            {% for feature, count in facets.facet('feature_'~featureGroup[0]) %}
                                                                <li>
                                                                    <input{% if feature in app.request.get('filter[attr_feature_'~featureGroup[0]~']', null, true) %} checked="checked"{% endif %} name="filter[attr_feature_{{ featureGroup[0] }}][]" type="checkbox" value="{{ feature }}" id="filter-{{ featureGroup[0] }}-{{ loop.index }}" />
                                                                    <label for="filter-{{ loop.index }}"><span class="fr">({{ count }})</span>{{ feature }}</label>
                                                                </li>
                                                            {% endfor %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                            <input type="hidden" name="filter-features" id="filter-features" value="{{ departmentListing.features }}" />
                                        </section>
                                        <div class="filter-header-buttons-container">
                                            <button type="button" data-filter="Feature" class="fr button button-small button-grey icon-grey actionShowHideFilter" data-icon-primary="icon-467" data-icon-only="true">Hide</button>
                                            <button type="button" data-filter="Feature" class="fr button button-small button-grey icon-grey actionResetFilter" data-icon-primary="icon-1113" data-icon-only="true">Reset</button>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        </section>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% include 'KACShopBundle:Departments:indexScript.js.twig' with {'noAjax': noAjax, 'url': url, 'brand': brand, 'group': group, 'departmentListing': departmentListing, 'department': department, 'level': 1} %}

    <script type="text/javascript">
        $(document).ready(function() {
            var $treeView = $("#filterDepartment");
            $treeView.jstree({
                "core": {
                    "initially_open": ["root"]
                },
                "plugins": ["themes", "html_data"],
                "themes": {
                    "theme": false,
                    "dots": true,
                    "icons": false
                }
            });

            {# If the user has selected a filter then scroll directly to the results #}
            {% if app.request.query.has('filter') %}
            var $target = $("a[name=viewNow]");
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            });
            {% endif %}


            $("#sortOrderBottom").live('change', function() {
                $("#sortOrderTop").val($("#sortOrderBottom").val());
                $.uniform.update("#sortOrderTop");
            });

            $("#limitBottom").live('change', function() {
                $("#limitTop").val($("#limitBottom").val());
                $.uniform.update("#limitTop");
            });

            $(":input:not(.no-filter)", "#formFilter").live('change', function() {
                $(this).closest("form").submit();
            });
            $(".actionResetAllFilters", "#formFilter").live("click", function() {
                $(".filter").each(function(key, el) {
                    resetFilterWithoutSubmit($(el));
                });
                $(this).closest("form").submit();
            });
            $(".actionResetFilter", "#formFilter").live("click", function() {
                resetFilter($("#filter"+$(this).data("filter")));
            });

            $(".actionShowHideFilter").live("click", function() {
                var $buttonIcon = $(this).find(".ui-icon");
                var $widget = $(this).closest(".filter-header-buttons-container").closest(".ui-widget");
                var $filterHeader = $widget.find("header");
                var $filter = $widget.find("section > div");
                if ($buttonIcon.hasClass("icon-467")) {
                    $filter.hide();
                    $buttonIcon.removeClass("icon-467");
                    $buttonIcon.addClass("icon-466");
                    $filterHeader.removeClass("ui-corner-top");
                    $filterHeader.addClass("ui-corner-all");
                } else {
                    $filter.show();
                    $buttonIcon.removeClass("icon-466");
                    $buttonIcon.addClass("icon-467");
                    $filterHeader.removeClass("ui-corner-all");
                    $filterHeader.addClass("ui-corner-top");
                }
            });
            $(document).on('click', '.actionPriceUpdate', function(e) {
                e.preventDefault();
                e.stopPropagation();
                var $el = $(this);
                $.ajax({
                    type: "POST",
                    url: $el.attr("data-url"),
                    data: {
                        price: $el.parent().parent().parent().find("input.product-price-update").val()
                    }
                });
            });

            $("#priceRangeSlider").slider({
                range: true,
                min: parseInt({{ stats.getResult('low_price').min|default(0) }}, 10),
                max: parseInt({{ stats.getResult('high_price').max|default(9999) }}, 10),
                values: [parseInt('{{ app.request.get('filter[low_price]', stats.getResult('low_price').min|default(0), true) }}', 10), parseInt('{{ app.request.get('filter[high_price]', stats.getResult('high_price').max|default(9999), true) }}', 10)],
                slide: function(event, ui) {
                    $("#filterLowPrice").val(ui.values[0]);
                    $("#filterHighPrice").val(ui.values[1]);
                },
                change: function(event, ui) {
                    $(this).closest("form").submit();
                }
            });

            function resetFilter($filterContainer)
            {
                resetFilterWithoutSubmit($filterContainer);
                $(this).closest("form").submit();
            }

            function resetFilterWithoutSubmit($filterContainer)
            {
                // Check if the filter is a price
                if ($filterContainer.attr("id") === "filterPrice") {
                    var $priceRangeSlider = $("#priceRangeSlider", $filterContainer);
                    var $filterLowPrice = $("#filterLowPrice", $filterContainer);
                    var $filterHighPrice = $("#filterHighPrice", $filterContainer);
                    $filterLowPrice.unbind("change");
                    $filterHighPrice.unbind("change");
                    $filterLowPrice.val($priceRangeSlider.slider("option", "min"));
                    $filterHighPrice.val($priceRangeSlider.slider("option", "max"));
                } else {
                    $(":input", $filterContainer)
                            .not(":button, :submit, :reset, :hidden")
                            .val("")
                            .removeAttr("checked")
                            .removeAttr("selected");
                }
            }
        });
    </script>
{% endblock %}