{% if brands|length > 0 %}
    <h3 class="separator">Shop by Popular Brand</h3>
    <div class="widget-group clearfix pbm">
        {% for item in brands %}
            {% set brand = item[0] %}
            {% if departmentId %}
                {% set url = get_listing_url('brand_with_department', brand.id, departmentId) %}
                {% if url %}
                    <div class="widget widget-1-of-{{ brands|length }} popular-item popular-brand tac">
                        <a href="{{ path('routing', {'url': url}|merge(app.request.query.all)) }}"><img src="{{ asset(brand.images.0.publicPath | apply_filter('logo_medium')) }}" border="0" alt="{{ brand.description.name|raw }}" width="75" /></a>
                    </div>
                {% else %}
                    <div class="widget widget-1-of-{{ brands|length }} popular-item popular-brand tac">
                        <a href="{{ path('listing_department_brand', {'brandId': brand.id, 'departmentId': departmentId}|merge(app.request.query.all)) }}"><img src="{{ asset(brand.images.0.publicPath | apply_filter('logo_medium')) }}" border="0" alt="{{ brand.description.name|raw }}" width="75" /></a>
                    </div>
                {% endif %}
            {% else %}
                {% set url = get_listing_url('brand', brand.id) %}
                {% if url %}
                    <div class="widget widget-1-of-{{ brands|length }} popular-item popular-brand tac">
                        <a href="{{ path('routing', {'url': url}|merge(app.request.query.all)) }}"><img src="{{ asset(brand.images.0.publicPath | apply_filter('logo_medium')) }}" border="0" alt="{{ brand.description.name|raw }}" width="75" /></a>
                    </div>
                {% else %}
                    <div class="widget widget-1-of-{{ brands|length }} popular-item popular-brand tac">
                        <a href="{{ path('listing_brand', {'brandId': brand.id}|merge(app.request.query.all)) }}"><img src="{{ asset(brand.images.0.publicPath | apply_filter('logo_medium')) }}" border="0" alt="{{ brand.description.name|raw }}" width="75" /></a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
