{% extends 'KACSiteBundle::base.html.twig' %}

{% if department is not null and brand is null %}
    {% set title = department.description.pageTitle %}
{% elseif department is null and brand is not null %}
    {% set title = brand.description.pageTitle %}
{% elseif department is not null and brand is not null %}
    {% set title = department.description.pageTitle ~ ' | ' ~ brand.description.pageTitle %}
{% else %}
    {% set title = 'Products' %}
{% endif %}
{% block title %}{{ title }}{% endblock %}

{% block metatags %}
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="description" content="{{ department.metaDescription }}">
    <meta name="keywords" content="{{ department.metaKeywords }}">
    <meta name="fragment" content="!">
{% endblock %}

{% block header %}
    <div class="widget-group clearfix mbl">
        <div class="widget widget-1-of-1">
            <div class="ui-widget">
                <section class="product-listing-header ui-widget-content ui-corner-all clearfix pbn">
                    <h1>Search Results</h1>
                    <div class="clear"></div>
                    {% if app.request.query.get('q', '') is not empty %}
                        <h2 class="pbm">Searching for "{{ app.request.query.get('q', '') }}"</h2>
                    {% endif %}
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <section class="clearfix">
        <div class="widget-group clearfix mbm">
        </div>
        {% if pagination.totalItemCount is defined %}
            {% set totalItemCount = pagination.totalItemCount %}
        {% else %}
            {% set totalItemCount = 0 %}
        {% endif %}
        <div class="widget-group clearfix">
            <form id="formFilter" class="form" method="GET">
                <input type="hidden" name="q" value="{{ app.request.query.get('q') }}" />
                <div class="widget widget-5-of-7 listing">
                    <div class="ui-widget">
                        <a name="viewNow"></a>
                        <section class="ui-widget-content ui-corner-all product">
                            <div class="widget-group product-sorting-container product-sorting-container-top mbn clearfix">
                                <div class="widget widget-1-of-1">
                                    <span class="fl">Show</span>
                                    <div class="fl prs">
                                        <select id="limitTop" name="limit" class="fill fl">
                                            <option{% if app.request.get('limit') == '10' %} selected="selected"{% endif %} value="10">10</option>
                                            <option{% if app.request.get('limit') == '20' or app.request.get('limit') is not defined or app.request.get('limit') is null %} selected="selected"{% endif %} value="20">20</option>
                                            <option{% if app.request.get('limit') == '50' %} selected="selected"{% endif %} value="50">50</option>
                                            <option{% if app.request.get('limit') == '100' %} selected="selected"{% endif %} value="100">100</option>
                                            <option{% if app.request.get('limit') == '99999999' %} selected="selected"{% endif %} value="99999999">All</option>
                                        </select>
                                    </div>
                                    <span class="fl">of <strong>{{ totalItemCount }}</strong> Product{{ totalItemCount == 1 ? '' : 's' }}</span>
                                    <div class="fr">
                                        {{ knp_pagination_render(pagination) }}
                                    </div>
                                </div>
                            </div>
                            <div id="products">
                                {% for product in pagination %}
                                    {% block product_block %}
                                        <div itemscope itemtype="http://schema.org/Product" class="product relative" data-product-id="{{ product.id }}" id="product-{{ product.id }}">
                                            <div class="widget-group border-bottom-separator ptm pbm clearfix">
                                                <div class="widget widget-3-of-4 pll prl border-right-separator">
                                                    <h4><a itemprop="name" href="{{ product.url != '' ? path('routing', {'url': product.url}) : '' }}">{{ product.header|raw }}</a></h4>
                                                    <div class="product-image-container fl">
                                                        <a itemprop="name" href="{{ product.url != '' ? path('routing', {'url': product.url}) : '' }}">
                                                            <img class="product-image" itemprop="image" src="{{ asset(product.thumbnail_path) }}" border="0" alt="{{ product.header|raw }}" width="150" />
                                                        </a>
                                                    </div>
                                                    <div>
                                                        <div class="product-information">
                                                            <ul>
                                                                {% if product.attr_feature_Colour is defined and product.attr_feature_Colour|length > 0 %}
                                                                    <li class="colour">
                                                                        {% spaceless %}
                                                                            {% if product.url != '' %}
                                                                                <a href="{{ path('routing', {'url': product.url}) }}">
                                                                            {% endif %}
                                                                            <strong>{{ product.attr_feature_Colour[0]|upper }}</strong>
                                                                            {% if product.url != '' %}
                                                                                </a>
                                                                            {% endif %}
                                                                        {% endspaceless %}
                                                                    </li>
                                                                {% endif %}
                                                                {% for featureGroup in product.features|slice(1, 4) %}
                                                                    {% set feature = product['attr_feature_'~featureGroup][0] %}
                                                                    {% if feature != '' %}
                                                                        <li>{{ featureGroup }}: <strong>{{ feature }}</strong></li>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="widget widget-1-of-4">
                                                    {% if product.brand_logo != '' %}
                                                        <div class="tar">
                                                           <img class="brand-logo-image" src="{{ asset(product.brand_logo) }}" border="0" alt="{{ product.brand|raw }}" height="30" />
                                                        </div>
                                                    {% endif %}
                                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                        <div class="tar product-price">
                                                            {% spaceless %}
                                                                {% if product.hide_price == 0 %}
                                                                    {% if product.url != '' %}
                                                                        <a href="{{ path('routing', {'url': product.url}) }}">
                                                                    {% endif %}
                                                                    {% if product.low_price == product.high_price %}
                                                                        <span itemprop="price" class="price">{{ product.low_price|currency('GBP', true, true, '')|raw }}</span>
                                                                    {% else %}
                                                                        <span class="price">
                                                                            <span class="currency-prefix">from only</span>
                                                                            <span itemprop="price">{{ product.low_price|currency('GBP', true, true, '')|raw }}</span>
                                                                        </span>
                                                                    {% endif %}
                                                                    {% if product.url != '' %}
                                                                        </a>
                                                                    {% endif %}
                                                                    <span class="price pbm">
                                                                        <span class="currency-tax">(inc. VAT)</span>
                                                                    </span>
                                                                {% else %}
                                                                    <a itemprop="price" href="{#{{ path('content_contact_us') }}#}">CONTACT US</a>
                                                                {% endif %}
                                                            {% endspaceless %}
                                                        </div>
                                                    </div>
                                                    {% if app.session.get('admin') == true %}
                                                        <a href="{{ path('products_delete', {'productId': product.id}) }}" class="fr button button-red">Delete</a>
                                                        <a href="{{ path('products_edit', {'productId': product.id}) }}" class="fr button button-blue">Edit</a>
                                                    {% else %}
                                                        <div class="add-to-basket fr">
                                                            <input class="quantity integer" type="number" value="1" />
                                                            <button type="button" class="actionIncreaseQuantity increase-quantity button button-small uppercase">+</button>
                                                            <button type="button" class="actionDecreaseQuantity decrease-quantity button button-small uppercase">-</button>
                                                            <button type="button" class="actionAddToBasket buy button button-green uppercase icon-white" data-icon-secondary="icon-472">Buy</button>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endblock %}
                                {% else %}
                                    <p class="no-products">Sorry, there are currently no products in this department.</p>
                                {% endfor %}
                                <div class="clear"></div>
                            </div>
                            <div class="widget-group product-sorting-container product-sorting-container-bottom mtn clearfix">
                                <div class="widget widget-1-of-1">
                                    <span class="fl">Sort By</span>
                                    <div class="fl prs">
                                        <select id="sortOrderBottom" class="fill fl">
                                            <option{% if app.request.get('sort_order') == 'header_sort:asc' %} selected="selected"{% endif %} value="header_sort:asc">Alphabetically: A-Z</option>
                                            <option{% if app.request.get('sort_order') == 'header_sort:desc' %} selected="selected"{% endif %} value="header_sort:desc">Alphabetically: Z-A</option>
                                            <option{% if app.request.get('sort_order') == 'low_price:asc' or app.request.get('sort_order') is not defined or app.request.get('sort_order') is null %} selected="selected"{% endif %} value="low_price:asc">Price: Lowest First</option>
                                            <option{% if app.request.get('sort_order') == 'high_price:desc' %} selected="selected"{% endif %} value="high_price:desc">Price: Highest First</option>
                                            <option{% if app.request.get('sort_order') == 'created_at:desc' %} selected="selected"{% endif %} value="created_at:desc">Latest</option>
                                        </select>
                                    </div>
                                    <span class="fl">Show</span>
                                    <div class="fl prs">
                                        <select id="limitBottom" class="fill fl">
                                            <option{% if app.request.get('limit') == '10' %} selected="selected"{% endif %} value="10">10</option>
                                            <option{% if app.request.get('limit') == '20' or app.request.get('limit') is not defined or app.request.get('limit') is null %} selected="selected"{% endif %} value="20">20</option>
                                            <option{% if app.request.get('limit') == '50' %} selected="selected"{% endif %} value="50">50</option>
                                            <option{% if app.request.get('limit') == '100' %} selected="selected"{% endif %} value="100">100</option>
                                            <option{% if app.request.get('limit') == '99999999' %} selected="selected"{% endif %} value="99999999">All</option>
                                        </select>
                                    </div>
                                    <span class="fl">of <strong>{{ totalItemCount }}</strong> Product{{ totalItemCount == 1 ? '' : 's' }}</span>
                                    <div class="fr">
                                        {{ knp_pagination_render(pagination) }}
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="widget widget-2-of-7">
                    <div class="ui-widget mbn">
                        <section class="ui-widget-content ui-corner-all">
                            <div class="widget-group product-filtering-container clearfix">
                                <div class="widget widget-1-of-1">
                                    <span class="fl"><strong>Narrow Search By</strong></span>
                                    <a class="button button-grey icon-grey fr" data-icon-primary="icon-1113" href="{# path('routing', {'url': department.url}) #}">Reset All</a>
                                </div>
                            </div>
                            <div class="filters">
                                <div class="ui-widget pr mtm">
                                    <header class="ui-widget-header ui-corner-top">
                                        <h2>Price</h2>
                                    </header>
                                    <section class="ui-widget-content pan ui-corner-bottom">
                                        <div id="filterPrice" class="price-range-filter">
                                            <div class="range-slider-values">
                                                <span>&pound;</span>
                                                <input type="text" name="filter[low_price]" id="filterLowPrice" value="{{ app.request.get('filter[low_price]', '%.0f'|format(stats.getResult('low_price').min|default(0)), true) }}" />
                                                <span>&nbsp;-&nbsp;</span>
                                                <input type="text" name="filter[high_price]" id="filterHighPrice" value="{{ app.request.get('filter[high_price]', '%.0f'|format(stats.getResult('high_price').max|default(9999)), true) }}" />
                                            </div>
                                            <div id="priceRangeSlider" class="price-range pan"></div>
                                        </div>
                                    </section>
                                    <div class="filter-header-buttons-container">
                                        <button type="button" data-filter="Price" class="fr button button-small button-grey icon-grey actionShowHideFilter" data-icon-primary="icon-467" data-icon-only="true">Hide</button>
                                        <button type="button" data-filter="Price" class="fr button button-small button-grey icon-grey actionResetFilter" data-icon-primary="icon-1113" data-icon-only="true">Reset</button>
                                    </div>
                                </div>

                                {% if facets.facet('departments')|length > 1 %}
                                    <div class="ui-widget pr mtm">
                                        <header class="ui-widget-header ui-corner-top">
                                            <h2>Department</h2>
                                        </header>
                                        <section class="ui-widget-content pan ui-corner-bottom">
                                            <div id="filterBrand" class="filter">
                                                <ul>
                                                    {% for department, count in facets.facet('departments') %}
                                                        <li>
                                                            <input{% if department in app.request.get('filter[department]', null, true) %} checked="checked"{% endif %} name="filter[department][]" type="checkbox" value="{{ department }}" id="filter-department-{{ loop.index }}" />
                                                            <label for="filter-department-{{ loop.index }}"><span class="fr">({{ count }})</span>{{ department }}</label>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </section>
                                        <div class="filter-header-buttons-container">
                                            <button type="button" data-filter="Brand" class="fr button button-small button-grey icon-grey actionShowHideFilter" data-icon-primary="icon-467" data-icon-only="true">Hide</button>
                                            <button type="button" data-filter="Brand" class="fr button button-small button-grey icon-grey actionResetFilter" data-icon-primary="icon-1113" data-icon-only="true">Reset</button>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if facets.facet('brands')|length > 1 %}
                                <div class="ui-widget pr mtm">
                                    <header class="ui-widget-header ui-corner-top">
                                        <h2>Brand</h2>
                                    </header>
                                    <section class="ui-widget-content pan ui-corner-bottom">
                                        <div id="filterBrand" class="filter">
                                            <ul>
                                                {% for brand, count in facets.facet('brands') %}
                                                    <li>
                                                        <input{% if brand in app.request.get('filter[brand]', null, true) %} checked="checked"{% endif %} name="filter[brand][]" type="checkbox" value="{{ brand }}" id="filter-brand-{{ loop.index }}" />
                                                        <label for="filter-brand-{{ loop.index }}"><span class="fr">({{ count }})</span>{{ brand }}</label>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </section>
                                    <div class="filter-header-buttons-container">
                                        <button type="button" data-filter="Brand" class="fr button button-small button-grey icon-grey actionShowHideFilter" data-icon-primary="icon-467" data-icon-only="true">Hide</button>
                                        <button type="button" data-filter="Brand" class="fr button button-small button-grey icon-grey actionResetFilter" data-icon-primary="icon-1113" data-icon-only="true">Reset</button>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </section>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            {# If the user has selected a filter then scroll directly to the results #}
            {% if app.request.query.has('filter') %}
            var $target = $("a[name=viewNow]");
            $('html, body').stop().animate({
                'scrollTop': $target.offset().top
            });
            {% endif %}
            $("#sortOrderBottom").live('change', function() {
                $("#sortOrderTop").val($("#sortOrderBottom").val());
                $.uniform.update("#sortOrderTop");
            });

            $("#limitBottom").live('change', function() {
                $("#limitTop").val($("#limitBottom").val());
                $.uniform.update("#limitTop");
            });

            $(":input", "#form-settings, #formFilter").live('change', function() {
                $(this).closest("form").submit();
            });

            $(".actionResetFilter").live("click", function() {
                // Check if the filter is a price
                if ($(this).data("filter") === "Price") {
                    var $priceRangeSlider = $("#priceRangeSlider");
                    var $filterLowPrice = $("#filterLowPrice");
                    var $filterHighPrice = $("#filterHighPrice");
                    $filterLowPrice.unbind("change");
                    $filterHighPrice.unbind("change");
                    $filterLowPrice.val($priceRangeSlider.slider("option", "min"));
                    $filterHighPrice.val($priceRangeSlider.slider("option", "max"));
                } else {
                    $(":input", "#filter"+$(this).data("filter"))
                        .not(":button, :submit, :reset, :hidden")
                        .val("")
                        .removeAttr("checked")
                        .removeAttr("selected");
                }
                $(this).closest("form").submit();
            });

            $(".actionShowHideFilter").live("click", function() {
                var $buttonIcon = $(this).find(".ui-icon");
                var $widget = $(this).closest(".filter-header-buttons-container").closest(".ui-widget");
                var $filterHeader = $widget.find("header");
                var $filter = $widget.find("section > div");
                if ($buttonIcon.hasClass("icon-467")) {
                    $filter.hide();
                    $buttonIcon.removeClass("icon-467");
                    $buttonIcon.addClass("icon-466");
                    $filterHeader.removeClass("ui-corner-top");
                    $filterHeader.addClass("ui-corner-all");
                } else {
                    $filter.show();
                    $buttonIcon.removeClass("icon-466");
                    $buttonIcon.addClass("icon-467");
                    $filterHeader.removeClass("ui-corner-all");
                    $filterHeader.addClass("ui-corner-top");
                }
            });

            $("#priceRangeSlider").slider({
                range: true,
                min: parseInt({{ stats.getResult('low_price').min|default(0) }}, 10),
                max: parseInt({{ stats.getResult('high_price').max|default(9999) }}, 10),
                values: [parseInt('{{ app.request.get('filter[low_price]', stats.getResult('low_price').min|default(0), true) }}', 10), parseInt('{{ app.request.get('filter[high_price]', stats.getResult('high_price').max|default(9999), true) }}', 10)],
                slide: function(event, ui) {
                    $("#filterLowPrice").val(ui.values[0]);
                    $("#filterHighPrice").val(ui.values[1]);
                },
                change: function(event, ui) {
                    $(this).closest("form").submit();
                }
            });
        });
    </script>
{% endblock %}