<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
	<channel>
		<title><![CDATA[Worktops, Charcoal Filters, Cooker Hoods, Built-in Microwaves, Integrated Dishwashers, Integrated Washing Machines, Refrigeration, Cleaning Products, Glass Splashbacks, Waste Disposer, Sinks, Taps, Plinth Heaters, Range Cookers, Ducting, Hobs, Ovens, Coffee Machines, Solid Surface Worktops, Kitchen Appliances]]></title>
		<link><![CDATA[http://www.kitchenappliancecentre.co.uk/]]></link>
		<description><![CDATA[Kitchen Appliance Centre - A wide selection of kitchen appliances including Kitchen Sinks, Range Cookers, Fridges, Freezers, Dishwashers, Washing Machines, Worktops, Ovens and Hobs, all at low affordable prices.]]></description>
		{% for item in result %}
            {% set product = item[0] %}
            Hello??
            {% if product.status == 'a' %}
                {% for variant in product.variants %}
                    {% if variant.status == 'a' %}
                        <item>
                            <title><![CDATA[{{ variant.description.pageTitle }}]]></title>
                            <link><![CDATA[{{ url('routing', {'url': product.url}) }}?utm_source=Google+Shopping&utm_medium=organic&utm_campaign=Google+Shopping]]></link>
                            <description><![CDATA[{{ variant.description.header }}{{ product.department.departmentPath|replace({'|': ', '})|replace({', ^, ': ', '}) }}{{ variant.productCode }}{% if variant.description.metaDescription %}, {{ variant.description.metaDescription }}{% endif %}]]></description>
                            <g:id>{{ variant.id }}</g:id>
                            <g:condition>new</g:condition>
                            <g:price>{{ variant.price.listPrice|number_format(2) }} GBP</g:price>
                            <g:availability>in stock</g:availability>
                            {% if variant.images|length > 0 %}<g:image_link><![CDATA[{{ asset(variant.images[0].publicPath) }}]]></g:image_link>{% endif %}
                            <g:shipping>
                                <g:country>GB</g:country>
                                <g:service>Standard Delivery</g:service>
                                <g:price>{{ variant.deliveryCost|number_format(2) }} GBP</g:price>
                            </g:shipping>
                            <g:shipping_weight>{{ variant.weight }} kg</g:shipping_weight>
                            <g:mpn><![CDATA[{{ variant.productCode }}]]></g:mpn>
                            <g:brand><![CDATA[{{ product.brand }}]]></g:brand>
                            <g:google_product_category><![CDATA[{{ product.department.department.description.googleDepartment.name }}]]></g:google_product_category>
                            <g:product_type><![CDATA[{{ product.department.department.description.name }}]]></g:product_type>
                        </item>
                    {% endif %}
                {% endfor %}
		    {% endif %}

            {{ product|detach }}
		{% endfor %}
	</channel>
</rss>