{% extends '::admin.html.twig' %}
{% block title %}Add New {{ settings.singleItemTitle }} | {{ parent() }}{% endblock %}
{% block headerscripts %}
	{{ parent() }}
	{% javascripts '@WebIlluminationAdminBundle/Resources/public/js/tinymce/jquery.tinymce.js' output='js/tinymce.js' filter='yui_js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %}
{% endblock %}
{% block leftmenu %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:Brands:leftMenu.html.twig' %}  
{% endblock %}
{% block header %}
	{{ parent() }}
	<h2>Add New {{ settings.singleItemTitle }}</h2>
{% endblock %}
{% block body %}
    <section class="container_6 clearfix">
        <div class="grid_6">
            <div class="portlet">
                <header>
                    <h2>{{ settings.singleItemTitle }} Information</h2>
                </header>
                <section>
                	<form class="form has-validation" id="form-add" method="post" action="{{ path('admin_'~settings.multipleItemsPath~'_add') }}">
						 <div class="clearfix">
					        <label for="form-brand-id" class="form-label"><em>*</em> Brand<small>Select a brand of the {{ settings.singleItemDescription }}</small></label>
					        <div class="form-input">
					        	<table width="100%">
									<tr>
										<td>
											<select id="form-brand-id" name="brand-id" class="no-margin full" required="required" data-message="Please select the brand of the {{ settings.singleItemDescription }}.">
												<option value="">- Please Select -</option>
												{% for brand in data.brands %}
													<option value="{{ brand.id }}">{{ brand.brand }}</option>				
												{% endfor %}
											</select>
										</td>
										<td width="10">&nbsp;</td>
										<td width="200">
											<div class="position-relative">
												<input placeholder="Find a brand&hellip;" type="text" id="search-brand" class="embedded-icon no-margin full" value="" />
												<span class="icon-embedded ui-button-icon-primary ui-icon ui-icon-search no-margin"></span>
											</div>
										</td>
									</tr>
								</table>
					        </div>
					    </div>
					    <div class="clearfix">
					        <label for="form-brand-id" class="form-label"><em>*</em> Department<small>Select a department of the {{ settings.singleItemDescription }}</small></label>
					        <div class="form-input">
					        	<table width="100%">
									<tr>
										<td>
											<select id="form-department-id" name="department-id" class="no-margin full" required="required" data-message="Please select the department of the {{ settings.singleItemDescription }}.">
												<option value="">- Please Select -</option>
												{% for department in data.departments %}
													<option value="{{ department.id }}">{% if department.level > 0 %}{% for level in 1..department.level %}&gt;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{% endfor %}{% endif %}{{ department.name }} ({{ department.productCount }})</option>				
												{% endfor %}
											</select>
										</td>
										<td width="10">&nbsp;</td>
										<td width="200">
											<div class="position-relative">
												<input placeholder="Find a department&hellip;" type="text" id="search-department" class="embedded-icon no-margin full" value="" />
												<span class="icon-embedded ui-button-icon-primary ui-icon ui-icon-search no-margin"></span>
											</div>
										</td>
									</tr>
								</table>
					        </div>
					    </div>
						<div class="clearfix">
					        <div class="form-input">
					        	<div class="ui-widget info-message">
									<div class="ui-state-highlight ui-corner-all">
										<span class="info-message-icon ui-icon ui-icon-info"></span>
										<p>Please DO NOT add the Brand or Department information to the {{ settings.singleItemDescription }}.</p>
									</div>
								</div>
					        </div>
					    </div>
						<div class="clearfix">
					        <label for="form-product" class="form-label">Extra Keywords<small>eg. Series 3, Classixx, MaxiSense, etc</small></label>
					        <div class="form-input"><input type="text" id="form-prefix" name="prefix" value="" /></div>
					    </div>
					    <div class="clearfix">
					        <label for="form-product" class="form-label">Key Message<small>eg. Min 0.3 Bar Pressure Required, No Handle, etc</small></label>
					        <div class="form-input"><input type="text" id="form-tagline" name="tagline" value="" /></div>
					    </div>
					    <div class="clearfix">
					        <label for="form-product-code" class="form-label"><em>*</em> Product Code<small>Enter your own unique {{ settings.singleItemDescription }} code</small></label>
					        <div class="form-input"><input type="text" id="form-product-code" name="product-code" class="uppercase" required="required" data-message="Please enter the code of the {{ settings.singleItemDescription }}." value="" /></div>
					    </div>
					    <div class="clearfix">
					        <label for="form-delivery-band" class="form-label"><em>*</em> Delivery Band<small>Select the delivery band</small></label>
					        <div class="form-input">
						        <select id="form-delivery-band" name="delivery-band" required="required" data-message="Please select the delivery band.">
							        <option value="1">Delivery Band 1</option>
							        <option value="2">Delivery Band 2</option>
							        <option value="3">Delivery Band 3</option>
							        <option value="4">Delivery Band 4</option>
							        <option value="5" selected="selected">Delivery Band 5</option>
						        </select>
					        </div>
					    </div>
					    <div class="clearfix">
					    	<label for="form-description" class="form-label">Description<small>Detailed description</small></label>
					        <div class="form-input">
					        	<div class="ac">
					                <div class="buttonset no-margin-right">
					                    <input type="radio" class="show-tinymce" rel="#form-description" name="tinymce-description" value="1" id="tinymce-description-1" checked="checked" /><label for="tinymce-description-1">Visual</label>
					                    <input type="radio" class="show-tinymce" rel="#form-description" name="tinymce-description" value="0" id="tinymce-description-0" /><label for="tinymce-description-0">HTML</label>
					                    <hr class="inset" />
					                </div>
					                <div class="leading">
					                    <textarea id="form-description" name="description" rows="3" class="tinymce-basic"></textarea>
					                </div>
					            </div>
					        </div>
					    </div>
					    <div class="clearfix">
					        <div class="form-input buttons no-margin-bottom">
					    		<button type="submit" class="button ui-button-green" data-icon-primary="ui-icon-check">Add New {{ settings.singleItemTitle }}</button>
					        </div>
					    </div>
					</form>
                </section>
            </div>
        </div>
	    <div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~settings.multipleItemsModel~':addScript.js.twig' with {'settings': settings, 'data': data} %}
{% endblock %}