<div class="info-message">
	<span class="info-message-icon ui-icon ui-icon-help"></span>
	<p>Please enter the available prices.</p>
	<div class="clear"></div>
</div>
<div class="clearfix">
	<input type="checkbox" id="reset-rrp-price" value="1" checked="checked" /> Reset RRP Price?
</div>
<div id="price-success-message" class="ui-widget message closeable ui-helper-hidden">
    <div class="ui-state-success ui-corner-all">
    	<span class="ui-icon ui-icon-circle-check"></span>
        <p><strong>SUCCESS:</strong> <span id="price-success-message-text"></span></p>
    </div>
</div>
<div id="price-error-message" class="ui-widget message closeable ui-helper-hidden">
    <div class="ui-state-error ui-corner-all">
    	<span class="ui-icon ui-icon-alert"></span>
        <p><strong>ERROR:</strong> <span id="price-error-message-text"></span></p>
    </div>
</div>
<div id="price-confirm-leave" class="ui-widget message ui-helper-hidden">
    <div class="ui-state-error ui-corner-all">
    	<span class="ui-icon ui-icon-help"></span>
        <p><strong>WARNING:</strong> You are about to leave this section and you have made changes without updating. Do you want to update before you leave?</p>
        <p>
        	<button class="button action-update-prices-and-leave ui-button-green" data-icon-primary="ui-icon-check">Update</button>
        	<button data-tab-index="" id="price-leave-prices-button" class="button ui-button-red action-leave-prices" data-icon-primary="ui-icon-closethick">Continue Without Updating</button>
        </p>
    </div>
</div>
<div id="price-confirm-delete" class="ui-widget message ui-helper-hidden">
    <div class="ui-state-error ui-corner-all"> 
        <span class="ui-icon ui-icon-help"></span>
        <p><strong>WARNING:</strong> Are you sure you want to delete the highlighted price?</p>
        <p>
        	<button data-index="" id="price-confirm-delete-button" class="button ui-button-red action-delete-price" data-icon-primary="ui-icon-closethick">Confirm Delete</button>
        	<button data-index="" id="price-cancel-delete-button" class="button ui-button-blue action-cancel-delete-price">Cancel</button>
        </p>
    </div>
</div>
<div id="price-confirm-deletes" class="ui-widget message ui-helper-hidden">
    <div class="ui-state-error ui-corner-all">
    	<span class="ui-icon ui-icon-help"></span>
        <p><strong>WARNING:</strong> Are you sure you want to delete the selected prices?</p>
        <p>
        	<button data-index="" id="price-confirm-deletes-button" class="button ui-button-red action-delete-prices" data-icon-primary="ui-icon-closethick">Confirm Delete</button>
        	<button data-index="" id="price-cancel-deletes-button" class="button ui-button-blue action-cancel-delete-prices">Cancel</button>
        </p>
    </div>
</div>
<div class="clearfix">
    <div class="form-input-long">
		<div class="prices-container">
			<input type="hidden" id="price-count" value="{% if prices|length > 1 %}{{ prices|length }}{% else %}1{% endif %}" />
			<ul class="list-fields" id="form-prices-container">
				{% for price in prices %}	
					<li class="price-container" data-index="{{ loop.index }}" id="price-{{ loop.index }}">
						<table width="100%">
							<tbody>
								<tr>
									<td width="9" rowspan="4">
										<img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
									</td>
									<td width="1" rowspan="4" class="select delete">
										<input data-index="{{ loop.index }}" type="checkbox" class="price-select" id="form-price-select-{{ loop.index }}" value="1" />
									</td>
									<td class="ac no-padding-bottom"><label for="form-price-cost-price-{{ loop.index }}">Cost (inc. VAT)</label></td>
									<td class="ac no-padding-bottom"><label for="form-price-recommended-retail-price-{{ loop.index }}">RRP (inc. VAT)</label></td>
									<td class="ac no-padding-bottom"><label for="form-price-markup-percentage-{{ loop.index }}">Markup (%)</label></td>
									<td class="ac no-padding-bottom"><label for="form-price-list-price-{{ loop.index }}">Price (inc. VAT)</label></td>
									<td class="ac no-padding-bottom"><label for="form-price-profit-{{ loop.index }}">Profit (inc. VAT)</label></td>
									<td width="1" rowspan="4">
										<input type="hidden" class="price-supplier-id" id="form-price-supplier-id-{{ loop.index }}" value="0" />
										<input type="hidden" class="price-currency-code" id="form-price-currency-code-{{ loop.index }}" value="GBP" />
										<input type="hidden" class="price-display-order" id="form-price-display-order-{{ loop.index }}" value="{{ loop.index }}" />
										<input type="hidden" data-index="{{ loop.index }}" class="price-requires-update" id="form-price-requires-update-{{ loop.index }}" value="0" />
										<input type="hidden" data-index="{{ loop.index }}" class="price-id" id="form-price-id-{{ loop.index }}" value="{{ price.id }}" />
										<button data-index="{{ loop.index }}" class="button ui-button-red action-confirm-delete-price" data-icon-primary="ui-icon-closethick">Delete</button>
									</td>
								</tr>
								<tr>									
									<td class="ac no-padding-bottom no-padding-top">
										<input data-index="{{ loop.index }}" type="text" required="required" data-message="Please enter a cost price." class="ac price-cost-price full" id="form-price-cost-price-{{ loop.index }}" placeholder="Cost (inc. VAT)" value="{{ price.costPrice|number_format(4) }}" />
									</td>
									<td class="ac no-padding-bottom no-padding-top">
										<input data-index="{{ loop.index }}" type="text" required="required" data-message="Please enter a recommended retail price." class="ac price-recommended-retail-price full" id="form-price-recommended-retail-price-{{ loop.index }}" placeholder="RRP (inc. VAT)" value="{{ price.recommendedRetailPrice|number_format(4) }}" />
									</td>
									<td class="ac no-padding-bottom no-padding-top">
										<input data-index="{{ loop.index }}" type="text" class="ac price-markup-percentage full {{ price.markupPercentageClass }}" id="form-price-markup-percentage-{{ loop.index }}" placeholder="Markup (%)" value="{{ price.markupPercentage|number_format(4) }}" />
									</td>
									<td class="ac no-padding-bottom no-padding-top">
										<input data-index="{{ loop.index }}" type="text" required="required" data-message="Please enter a list price." class="ac price-list-price full" id="form-price-list-price-{{ loop.index }}" placeholder="Price (inc. VAT)" value="{{ price.listPrice|number_format(4) }}" />
									</td>
									<td class="ac no-padding-bottom no-padding-top">
										<input data-index="{{ loop.index }}" type="text" class="ac price-profit full" id="form-price-profit-{{ loop.index }}" placeholder="Profit (inc. VAT)" value="{{ price.profit|number_format(4) }}" />
									</td>
								</tr>
								<tr>
									<td class="ac no-padding-bottom no-padding-top"><label for="form-price-cost-price-excluding-vat-{{ loop.index }}">Cost (ex. VAT)</label></td>
									<td class="ac no-padding-bottom no-padding-top"><label for="form-price-recommended-retail-price-excluding-vat-{{ loop.index }}">RRP (ex. VAT)</label></td>
									<td class="ac no-padding-bottom no-padding-top"><label for="form-price-profit-percentage-{{ loop.index }}">Profit (%)</label></td>
									<td class="ac no-padding-bottom no-padding-top"><label for="form-price-list-price-excluding-vat-{{ loop.index }}">Price (ex. VAT)</label></td>
									<td class="ac no-padding-bottom no-padding-top"><label for="form-price-profit-excluding-vat-{{ loop.index }}">Profit (ex. VAT)</label></td>
								</tr>
								<tr>									
									<td class="ac no-padding-top">
										<input data-index="{{ loop.index }}" type="text" class="ac price-cost-price-excluding-vat full" id="form-price-cost-price-excluding-vat-{{ loop.index }}" placeholder="Cost (ex. VAT)" value="{{ price.costPriceExcludingVat|number_format(4) }}" />
									</td>
									<td class="ac no-padding-top">
										<input data-index="{{ loop.index }}" type="text" class="ac price-recommended-retail-price-excluding-vat full" id="form-price-recommended-retail-price-excluding-vat-{{ loop.index }}" placeholder="RRP (ex. VAT)" value="{{ price.recommendedRetailPriceExcludingVat|number_format(4) }}" />
									</td>
									<td class="ac no-padding-top">
										<input data-index="{{ loop.index }}" type="text" class="ac price-profit-percentage full {{ price.profitPercentageClass }}" id="form-price-profit-percentage-{{ loop.index }}" placeholder="Profit (%)" value="{{ price.profitPercentage|number_format(4) }}" />
									</td>
									<td class="ac no-padding-top">
										<input data-index="{{ loop.index }}" type="text" class="ac price-list-price-excluding-vat full" id="form-price-list-price-excluding-vat-{{ loop.index }}" placeholder="Price (ex. VAT)" value="{{ price.listPriceExcludingVat|number_format(4) }}" />
									</td>
									<td class="ac no-padding-top">
										<input data-index="{{ loop.index }}" type="text" class="ac price-profit-excluding-vat full" id="form-price-profit-excluding-vat-{{ loop.index }}" placeholder="Profit (ex. VAT)" value="{{ price.profitExcludingVat|number_format(4) }}" />
									</td>
								</tr>
							</tbody>
						</table>
			        </li>
			    {% else %}
			    	<li class="price-container" data-index="1" id="price-1">
						<table width="100%">
							<tbody>
								<tr>
									<td width="9" rowspan="4">
										<img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
									</td>
									<td width="1" rowspan="4" class="select delete">
										<input data-index="1" type="checkbox" class="price-select" id="form-price-select-1" value="1" />
									</td>
									<td class="ac no-padding-bottom"><label for="form-price-cost-price-1">Cost (inc. VAT)</label></td>
									<td class="ac no-padding-bottom"><label for="form-price-recommended-retail-price-1">RRP (inc. VAT)</label></td>
									<td class="ac no-padding-bottom"><label for="form-price-markup-percentage-1">Markup (%)</label></td>
									<td class="ac no-padding-bottom"><label for="form-price-list-price-1">Price (inc. VAT)</label></td>
									<td class="ac no-padding-bottom"><label for="form-price-profit-1">Profit (inc. VAT)</label></td>
									<td width="1" rowspan="4">
										<input type="hidden" class="price-supplier-id" id="form-price-supplier-id-1" value="0" />
										<input type="hidden" class="price-currency-code" id="form-price-currency-code-1" value="GBP" />
										<input type="hidden" class="price-display-order" id="form-price-display-order-1" value="1" />
										<input type="hidden" data-index="1" class="price-requires-update" id="form-price-requires-update-1" value="0" />
										<input type="hidden" data-index="1" class="price-id" id="form-price-id-1" value="0" />
										<button data-index="1" class="button ui-button-red action-confirm-delete-price" data-icon-primary="ui-icon-closethick">Delete</button>
									</td>
								</tr>
								<tr>									
									<td class="ac no-padding-bottom no-padding-top">
										<input data-index="1" type="text" required="required" data-message="Please enter a cost price." class="ac price-cost-price full" id="form-price-cost-price-1" placeholder="Cost (inc. VAT)" value="0.0000" />
									</td>
									<td class="ac no-padding-bottom no-padding-top">
										<input data-index="1" type="text" required="required" data-message="Please enter a recommended retail price." class="ac price-recommended-retail-price full" id="form-price-recommended-retail-price-1" placeholder="RRP (inc. VAT)" value="0.0000" />
									</td>
									<td class="ac no-padding-bottom no-padding-top">
										<input data-index="1" type="text" class="ac price-markup-percentage full ui-state-error" id="form-price-markup-percentage-1" placeholder="Markup (%)" value="0.0000" />
									</td>
									<td class="ac no-padding-bottom no-padding-top">
										<input data-index="1" type="text" required="required" data-message="Please enter a list price." class="ac price-list-price full" id="form-price-list-price-1" placeholder="Price (inc. VAT)" value="0.0000" />
									</td>
									<td class="ac no-padding-bottom no-padding-top">
										<input data-index="1" type="text" class="ac price-profit full" id="form-price-profit-1" placeholder="Profit (inc. VAT)" value="0.0000" />
									</td>
								</tr>
								<tr>
									<td class="ac no-padding-bottom no-padding-top"><label for="form-price-cost-price-excluding-vat-1">Cost (ex. VAT)</label></td>
									<td class="ac no-padding-bottom no-padding-top"><label for="form-price-recommended-retail-price-excluding-vat-1">RRP (ex. VAT)</label></td>
									<td class="ac no-padding-bottom no-padding-top"><label for="form-price-profit-percentage-1">Profit (%)</label></td>
									<td class="ac no-padding-bottom no-padding-top"><label for="form-price-list-price-excluding-vat-1">Price (ex. VAT)</label></td>
									<td class="ac no-padding-bottom no-padding-top"><label for="form-price-profit-excluding-vat-1">Profit (ex. VAT)</label></td>
								</tr>
								<tr>									
									<td class="ac no-padding-top">
										<input data-index="1" type="text" class="ac price-cost-price-excluding-vat full" id="form-price-cost-price-excluding-vat-1" placeholder="Cost (ex. VAT)" value="0.0000" />
									</td>
									<td class="ac no-padding-top">
										<input data-index="1" type="text" class="ac price-recommended-retail-price-excluding-vat full" id="form-price-recommended-retail-price-excluding-vat-1" placeholder="RRP (ex. VAT)" value="0.0000" />
									</td>
									<td class="ac no-padding-top">
										<input data-index="1" type="text" class="ac price-profit-percentage full ui-state-error" id="form-price-profit-percentage-1" placeholder="Profit (%)" value="0.0000" />
									</td>
									<td class="ac no-padding-top">
										<input data-index="1" type="text" class="ac price-list-price-excluding-vat full" id="form-price-list-price-excluding-vat-1" placeholder="Price (ex. VAT)" value="0.0000" />
									</td>
									<td class="ac no-padding-top">
										<input data-index="1" type="text" class="ac price-profit-excluding-vat full" id="form-price-profit-excluding-vat-1" placeholder="Profit (ex. VAT)" value="0.0000" />
									</td>
								</tr>
							</tbody>
						</table>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<div class="clearfix">
    <div class="form-input-long buttons no-margin-bottom">
    	<button class="button ui-button-green action-update-prices" data-icon-primary="ui-icon-check">Update</button>
    	<button class="button ui-button-red action-confirm-delete-prices ui-helper-hidden" data-icon-primary="ui-icon-closethick">Delete</button>
    	<button class="button ui-button-blue action-add-new-price" data-icon-primary="ui-icon-plusthick">Add</button>
    	<button class="button ui-button-blue action-select-all-prices" data-icon-primary="ui-icon-radio-on">Select All</button>
    	<button class="button ui-button-blue action-unselect-all-prices ui-helper-hidden" data-icon-primary="ui-icon-bullet">Unselect All</button>
    	<input type="hidden" value="-1" id="prices-tab-to-redirect-to" />
    </div>
</div>