<section id="general" class="form">
	<h2>General</h2>
	<div id="general-confirm-leave" class="ui-widget message ui-helper-hidden">
	    <div class="ui-state-error ui-corner-all">
	    	<span class="ui-icon ui-icon-help"></span>
	        <p><strong>WARNING:</strong> You are about to leave this section and you have made changes without updating. Do you want to update before you leave?</p>
	        <p>
	        	<button class="button action-update-general-section ui-button-green" data-icon-primary="ui-icon-check">Update</button>
	        	<button class="button ui-button-red action-leave-general" data-icon-primary="ui-icon-closethick">Continue Without Updating</button>
	        	<input type="hidden" value="-1" id="general-tab-to-redirect-to" />
	        	<input type="hidden" value="0" id="general-requires-update" />
	        </p>
	    </div>
	    <div class="spacer"></div>
	</div>
	<div class="clearfix">
        <label for="form-status" class="form-label"><em>*</em> Status<small>Is the product available?</small></label>
        <div class="form-input status" id="form-status"><label><input type="radio" name="status" id="form-status-a" value="a"{% if data.product.status == 'a' %} checked="checked"{% endif %} /> Active</label> <label><input type="radio" name="status" id="form-status-h" value="h"{% if data.product.status == 'h' %} checked="checked"{% endif %} /> Hidden</label> <label><input type="radio" name="status" id="form-status-d" value="d"{% if data.product.status == 'd' %} checked="checked"{% endif %} /> Disabled</label></div>
    </div>
	 <div class="clearfix">
        <label for="form-brand-id" class="form-label"><em>*</em> Brand<small>Select a brand of the product</small></label>
        <div class="form-input">
        	<select id="form-brand-id" required="required" data-message="Please select the brand of the product.">
            	<option value="">Please Select</option>
        		{% for brand in data.brands %}
			        <option value="{{ brand.id }}"{% if data.product.brand.id == brand.id %} selected="selected"{% endif %}>{{ brand.brand }}</option>
			    {% endfor %}
        	</select>
        </div>
    </div>
    <div class="clearfix">
        <label for="form-available-for-purchase" class="form-label">Availble for Purchase<small>Is the product available to purchase?</small></label>
        <div class="form-input" id="form-available-for-purchase"><label><input type="radio" name="available-for-purchase" id="form-available-for-purchase-1" value="1"{% if data.product.availableForPurchase == 1 %} checked="checked"{% endif %} /> Yes</label> <label><input type="radio" name="available-for-purchase" id="form-available-for-purchase-0" value="0"{% if data.product.availableForPurchase == 0 %} checked="checked"{% endif %} /> No</label></div>
    </div>
    <div class="clearfix">
        <label for="form-product" class="form-label">Extra Keywords<small>eg. Series 3, Classixx, MaxiSense, etc</small></label>
        <div class="form-input"><input type="text" id="form-prefix" name="prefix" value="{{ data.product.prefix }}" /></div>
    </div>
    <div class="clearfix">
        <label for="form-product" class="form-label">Key Message<small>eg. Min 0.3 Bar Pressure Required, No Handle, etc</small></label>
        <div class="form-input"><input type="text" id="form-tagline" name="tagline" value="{{ data.product.tagline }}" /></div>
    </div>
    <div class="clearfix">
        <label for="form-product-code" class="form-label"><em>*</em> Product Code<small>Enter your own unique product code</small></label>
        <div class="form-input"><input type="text" id="form-product-code" class="uppercase" required="required" data-message="Please enter the code of the product." value="{{ data.product.productCode }}" /></div>
    </div>
    <div class="clearfix">
        <label for="form-delivery-band" class="form-label"><em>*</em> Delivery Band<small>Select the delivery band</small></label>
        <div class="form-input">
	        <select id="form-delivery-band" required="required" data-message="Please select the delivery band.">
		        <option value="1"{% if (data.product.deliveryBand == 1) %} selected="selected"{% endif %}>Delivery Band 1</option>
		        <option value="2"{% if (data.product.deliveryBand == 2) %} selected="selected"{% endif %}>Delivery Band 2</option>
		        <option value="3"{% if (data.product.deliveryBand == 3) %} selected="selected"{% endif %}>Delivery Band 3</option>
		        <option value="4"{% if (data.product.deliveryBand == 4) %} selected="selected"{% endif %}>Delivery Band 4</option>
		        <option value="5"{% if (data.product.deliveryBand == 5) or (data.product.deliveryBand < 1) %} selected="selected"{% endif %}>Delivery Band 5</option>
	        </select>
        </div>
    </div>
    <div class="clearfix">
        <label for="form-feature-comparison-1" class="form-label">Feature Comparison<small>Include in feature comparison?</small></label>
        <div class="form-input no-margin-bottom" id="form-feature-comparison"><label><input type="radio" name="feature-comparison" id="form-feature-comparison-1" value="1"{% if data.product.featureComparison == 1 %} checked="checked"{% endif %} /> Yes</label> <label><input type="radio" name="feature-comparison" id="form-feature-comparison-0" value="0"{% if data.product.featureComparison == 0 %} checked="checked"{% endif %} /> No</label></div>
    </div>
    <div class="clearfix">
        <label for="form-downloadable-1" class="form-label">Downloadable<small>Is the product a download?</small></label>
        <div class="form-input no-margin-bottom" id="form-downloadable"><label><input type="radio" name="downloadable" id="form-downloadable-1" value="1"{% if data.product.downloadable == 1 %} checked="checked"{% endif %} /> Yes</label> <label><input type="radio" name="downloadable" id="form-downloadable-0" value="0"{% if data.product.downloadable == 0 %} checked="checked"{% endif %} /> No</label></div>
    </div>
    <div class="clearfix">
        <label for="form-special-offer-1" class="form-label">Special Offer<small>Is the product a special offer?</small></label>
        <div class="form-input no-margin-bottom" id="form-special-offer"><label><input type="radio" name="special-offer" id="form-special-offer-1" value="1"{% if data.product.specialOffer == 1 %} checked="checked"{% endif %} /> Yes</label> <label><input type="radio" name="special-offer" id="form-special-offer-0" value="0"{% if data.product.specialOffer == 0 %} checked="checked"{% endif %} /> No</label></div>
    </div>
    <div class="clearfix">
        <label for="form-recommended-1" class="form-label">Recommended<small>Do you want to recommend?</small></label>
        <div class="form-input no-margin-bottom" id="form-recommended"><label><input type="radio" name="recommended" id="form-recommended-1" value="1"{% if data.product.recommended == 1 %} checked="checked"{% endif %} /> Yes</label> <label><input type="radio" name="recommended" id="form-recommended-0" value="0"{% if data.product.recommended == 0 %} checked="checked"{% endif %} /> No</label></div>
    </div>
    <div class="clearfix">
        <label for="form-accessory-1" class="form-label">Accessory<small>Is the product an accessory?</small></label>
        <div class="form-input no-margin-bottom" id="form-accessory"><label><input type="radio" name="accessory" id="form-accessory-1" value="1"{% if data.product.accessory == 1 %} checked="checked"{% endif %} /> Yes</label> <label><input type="radio" name="accessory" id="form-accessory-0" value="0"{% if data.product.accessory == 0 %} checked="checked"{% endif %} /> No</label></div>
    </div>
    <div class="clearfix">
        <label for="form-new-1" class="form-label">New<small>Is the product new?</small></label>
        <div class="form-input" id="form-new"><label><input type="radio" name="new" id="form-new-1" value="1"{% if data.product.new == 1 %} checked="checked"{% endif %} /> Yes</label> <label><input type="radio" name="new" id="form-new-0" value="0"{% if data.product.new == 0 %} checked="checked"{% endif %} /> No</label></div>
    </div>
    <div class="clearfix">
        <div class="form-input buttons no-margin-bottom">
    		<button class="button ui-button-green action-update-general-section" data-icon-primary="ui-icon-check">Update</button>
        </div>
    </div>
</section>