{% extends 'KACAdminBundle::admin.html.twig' %}
{% block title %}Products | {{ parent() }}{% endblock %}
{% block leftmenu %}
    {{ parent() }}
    {% include 'KACAdminBundle:Product:leftMenu.html.twig' %}
{% endblock %}
{% block header %}
    {{ parent() }}
    <form class="quick-search-container fr form " method="GET">
        <span>Quick Search</span>
        <input type="text" name="q" id="form-quick-search" value="{{ app.request.get('q') }}" />
        <button id="quick-search-button" class="button small ui-button-blue action-quick-search" data-icon-primary="ui-icon-search">Search</button>
    </form>
    <h2>Products</h2>
{% endblock %}
{% block body %}
    <section class="container_6 clearfix no-padding-top">
        <div class="grid_6">
            <div id="confirm-multiple-delete" class="ui-helper-hidden ui-widget following message confirmation-message no-margin no-padding">
                <div class="ui-state-highlight ui-corner-all no-margin no-padding">
                    <div class="fl no-margin no-padding">
                        <span class="ui-icon ui-icon-help"></span>
                        <p class="small-message"><strong>WARNING:</strong> Are you sure you want to delete the selected products below?</p>
                    </div>
                    <div class="fr no-margin no-padding">
                        <a href="Javascript:void(0);" class="fl button ui-corner-none ui-corner-tl ui-corner-bl ui-button-blue action-cancel-multiple-delete">Cancel</a>
                        <a href="Javascript:void(0);" class="fl button ui-corner-none ui-corner-tr ui-corner-br ui-button-red action-multiple-delete" data-icon-primary="ui-icon-closethick">Confirm Delete</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="portlet">
                <header>
                    {% if not searching %}
                        <button id="filter-button" class="button ui-button-blue fr action-show-hide-filter" data-icon-primary="ui-icon-triangle-1-s">Filter Results</button>
                    {% else %}
                        <a href="{{ path('listing_products') }}" id="button-go-back" class="fr ui-corner-all button ui-button-blue icon-set-white portlet-header-button" data-icon-primary="ui-icon-circle-arrow-left">Go Back</a>
                    {% endif %}
                    <h2 id="listing-count">Found {{ pagination.totalItemCount is defined ? pagination.totalItemCount : 0 }} Products</h2>
                </header>
                <section class="no-padding">
                    {% if not searching %}
                        <form id="form-filter" class="form" method="GET">
                            {% include 'KACAdminBundle:Product:indexFilter.html.twig' with {'pagination': pagination} %}
                            {% include 'KACAdminBundle:Product:indexSettings.html.twig' %}
                        </form>
                    {% endif %}
                    <div id="listing-pagination-top" class="listing-pagination">
                        {{ pagination.render()|raw }}
                    </div>
                    <div class="clear"></div>
                    <form id="form-listing" class="form" method="POST">
                        <div id="listing">
                            {% if pagination|length > 0 %}
                                <table class="data-table" id="data" width="100%">
                                    <thead>
                                    <tr>
                                        <th width="19" class="ac"><input type="checkbox" class="action-select-all" value="1" /></th>
                                        <th class="al" colspan="2">Product</th>
                                        <th class="ac">Code</th>
                                        <th class="ac">Brand</th>
                                        <th class="ac">Price</th>
                                        <th class="ac">Status</th>
                                        <th class="ac">&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in pagination %}
                                        <tr class="item {% include 'KACAdminBundle:Includes:statusColour.html.twig' with {'item': item} %}" id="item-{{ item.id }}">
                                            <td width="19" class="ac select">
                                                <input type="checkbox" class="listing-select" id="listing-select-{{ item.id }}" name="_selected[]" value="{{ item.id }}" />
                                            </td>
                                            <td width="50" class="al small white">
                                                <a href="{{ path('admin_products_edit', {'id': item.id}) }}">
                                                    <img src="{{ asset(item.thumbnail_path) }}" border="0" alt="{{ item.header }}" width="50" height="50">
                                                </a>
                                            </td>
                                            <td class="al small">
                                                <a href="{{ path('admin_products_edit', {'id': item.id}) }}" data-id="{{ item.id }}">{{ item.header }}</a>
                                                <br />
                                                <span class="small">
                                                    {{ item.department_path[0]|replace({'|': " > "}) }}
                                                </span>
                                            </td>
                                            <td class="ac small">{{ item.product_code[0] }}</td>
                                            <td class="ac small">{{ item.brand }}</td>
                                            <td class="ac small no-wrap">
                                                {% spaceless %}
                                                    <span>&pound;{{ item.low_price|number_format(2) }}</span>
                                                    {% if item.low_price != item.high_price %}
                                                        <br />
                                                        <span class="small">(&pound;{{ item.high_price|number_format(2) }})</span>
                                                    {% endif %}
                                                {% endspaceless %}
                                            </td>
                                            <td width="85" class="ac small {% include 'KACAdminBundle:Includes:statusColour.html.twig' with {'status': item.status} %}">
                                                {% if item.isDeleted %}
                                                    {% include 'KACAdminBundle:Includes:status.html.twig' with {'item': item} %}
                                                {% else %}
                                                    <select id="listing-status-{{ item.id }}" name="status[{{ item.id }}]" class="listing-status full">
                                                        <option{% if item.status == 'a' %} selected="selected"{% endif %} value="a">Active</option>
                                                        <option{% if item.status == 'h' %} selected="selected"{% endif %} value="h">Hidden</option>
                                                        <option{% if item.status == 'd' %} selected="selected"{% endif %} value="d">Disabled</option>
                                                    </select>
                                                {% endif %}
                                            </td>
                                            <td width="68" class="buttons-container ac no-wrap">
                                                <img id="buttons-spacer" src="{{ asset('bundles/kacadmin/images/blank.gif') }}" border="0" width="0" height="0" alt="" />
                                                <div class="clear"></div>
                                                {% if item.isDeleted %}
                                                    <a href="{{ path('admin_products_restore', {'id': item.id}) }}" class="ui-corner button ui-button-green">Restore</a>
                                                {% else %}
                                                    <a href="{{ path('admin_products_delete', {'id': item.id}) }}" class="ui-corner-right button ui-button-red action-confirm-delete" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</a>
                                                    <a href="{{ path('admin_products_edit', {'id': item.id}) }}" class="ui-corner-left button" data-icon-primary="ui-icon-pencil" data-icon-only="true">Update</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        <tr class="ui-helper-hidden more-information" id="more-information-{{ item.id }}">
                                            <td colspan="9" class="no-padding">
                                                <div class="more-information-container no-padding-top">
                                                    <button class="action-close-more-information button ui-button-red ui-corner-none ui-corner-bl ui-corner-br fr" data-icon-primary="ui-icon-closethick" data-icon-only="true">Close</button>
                                                    {% include 'KACAdminBundle:Product:listingConfirmDelete.html.twig' with {'item': item} %}
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p class="ac">Sorry, no results were found.</p>
                            {% endif %}
                        </div>
                        <div class="clear"></div>
                        <div id="listing-pagination-bottom" class="listing-pagination">
                            {{ pagination.render()|raw }}
                        </div>
                        <div class="clear"></div>
                        <div class="floating-buttons-toolbar">
                            <div class="floating-buttons-container">
                                <div class="floating-buttons">
                                    <div class="fr no-margin no-padding">
                                        <a href="{{ path('admin_products_new') }}" class="fl button ui-corner-none ui-corner-tl ui-corner-bl ui-button-green" data-icon-primary="ui-icon-plusthick">Add Product</a>
                                        <button class="fl button ui-corner-none ui-button-green action-multiple-update" data-icon-primary="ui-icon-check" name="_action" value="update">Update Selected</button>
                                        <button class="fl button ui-corner-none ui-corner-tr ui-corner-br ui-button-red action-confirm-multiple-delete" data-icon-primary="ui-icon-closethick" name="_action" value="delete">Delete Selected</button>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'KACAdminBundle:Product:indexScript.js.twig' with {'data': data} %}
{% endblock %}