<tr class="ui-helper-hidden guarantee-container" id="guarantee-{{ id }}">
	<td>
    	<select name="guarantee-type" id="form-guarantee-type-id-{{ id }}">
    		<option value="">- Select Type -</option>
    		{% for guarantee_type in guarantee_types %}
        		<option value="{{ guarantee_type.id }}">{{ guarantee_type.name }}</option>
    		{% endfor %}
    	</select>
    </td>
    <td>
    	<select name="guarantee-length" id="form-guarantee-length-id-{{ id }}">
    		<option value="">- Select Length -</option>
    		{% for guarantee_length in guarantee_lengths %}
        		<option value="{{ guarantee_length.id }}">{{ guarantee_length.name }}</option>
    		{% endfor %}
    	</select>
    </td>
    <td width="1"><a rel="{{ id }}" href="Javascript:void(0);" class="button ui-button-default action-save-guarantee">Save</a><input type="hidden" id="form-guarantee-id-{{ id }}" value="0" /></td>
    <td width="1" class="no-padding-right"><a rel="{{ id }}" href="Javascript:void(0);" class="button ui-button-delete action-delete-guarantee">Delete</a></td>
</tr>