<h3 class="ui-widget-header ui-corner-all no-margin">Visits Over the last 30 Days ({{ statistics.daily_visits_start_date|date("M j, Y") }} - {{ statistics.daily_visits_end_date|date("M j, Y") }})</h3>
<div id="chart-visits"></div>
<div class="clear"></div>

<h3 class="ui-widget-header ui-corner-all">Overiew</h3>
<table class="basic-display" id="data-statistics">
	<thead>
		<tr>
			<th class="left">Statistics</th>
			<th class="center">Yesterday</th>
			<th class="center">This Week</th>
			<th class="center">This Month</th>
			<th class="center">This Year</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="no-line-height"><strong>Visits</strong><br /><span class="metric-change">Last Year</span><br /><span class="metric-change">(Precentage Change %)</span></td>
			<td class="center no-line-height">{{ statistics.visits.yesterday.visits|default('N/A') }}<br />{{ statistics.visits.yesterday.visits_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.week_to_date.visits|default('N/A') }}<br />{{ statistics.visits.week_to_date.visits_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.month_to_date.visits|default('N/A') }}<br />{{ statistics.visits.month_to_date.visits_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.year_to_date.visits|default('N/A') }}<br />{{ statistics.visits.year_to_date.visits_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
		</tr>
		<tr>
			<td class="no-line-height"><strong>New Visits</strong><br /><span class="metric-change">Last Year</span><br /><span class="metric-change">(Precentage Change %)</span></td>
			<td class="center no-line-height">{{ statistics.visits.yesterday.newVisits|default('N/A') }}<br />{{ statistics.visits.yesterday.newVisits_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.week_to_date.newVisits|default('N/A') }}<br />{{ statistics.visits.week_to_date.newVisits_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.month_to_date.newVisits|default('N/A') }}<br />{{ statistics.visits.month_to_date.newVisits_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.year_to_date.newVisits|default('N/A') }}<br />{{ statistics.visits.year_to_date.newVisits_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
		</tr>
		<tr>
			<td class="no-line-height"><strong>Percentage of New Visits</strong><br /><span class="metric-change">Last Year</span><br /><span class="metric-change">(Precentage Change %)</span></td>
			<td class="center no-line-height">{{ statistics.visits.yesterday.percentNewVisits|default('N/A') }}<br />{{ statistics.visits.yesterday.percentNewVisits_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.week_to_date.percentNewVisits|default('N/A') }}<br />{{ statistics.visits.week_to_date.percentNewVisits_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.month_to_date.percentNewVisits|default('N/A') }}<br />{{ statistics.visits.month_to_date.percentNewVisits_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.year_to_date.percentNewVisits|default('N/A') }}<br />{{ statistics.visits.year_to_date.percentNewVisits_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
		</tr>
		<tr>
			<td class="no-line-height"><strong>Average Time on Page</strong><br /><span class="metric-change">Last Year</span><br /><span class="metric-change">(Precentage Change %)</span></td>
			<td class="center no-line-height">{{ statistics.visits.yesterday.avgTimeOnPage|default('N/A') }}<br />{{ statistics.visits.yesterday.avgTimeOnPage_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.week_to_date.avgTimeOnPage|default('N/A') }}<br />{{ statistics.visits.week_to_date.avgTimeOnPage_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.month_to_date.avgTimeOnPage|default('N/A') }}<br />{{ statistics.visits.month_to_date.avgTimeOnPage_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.year_to_date.avgTimeOnPage|default('N/A') }}<br />{{ statistics.visits.year_to_date.avgTimeOnPage_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
		</tr>
		<tr>
			<td class="no-line-height"><strong>Bounce Rate</strong><br /><span class="metric-change">Last Year</span><br /><span class="metric-change">(Precentage Change %)</span></td>
			<td class="center no-line-height">{{ statistics.visits.yesterday.visitBounceRate|default('N/A') }}<br />{{ statistics.visits.yesterday.visitBounceRate_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.week_to_date.visitBounceRate|default('N/A') }}<br />{{ statistics.visits.week_to_date.visitBounceRate_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.month_to_date.visitBounceRate|default('N/A') }}<br />{{ statistics.visits.month_to_date.visitBounceRate_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
			<td class="center no-line-height">{{ statistics.visits.year_to_date.visitBounceRate|default('N/A') }}<br />{{ statistics.visits.year_to_date.visitBounceRate_change|default('<span class="metric-change">N/A</span>')|raw }}</td>
		</tr>
	</tbody>
</table>

<script defer="defer" type="text/javascript">
	$(document).ready(function() {
		
		{# Load the table #}
		$("#data-statistics").dataTable({
            "bJQueryUI" : true,
            "bSort": false,
            "bPaginate": false,
            "bFilter": false,
            "bInfo": false,
            "bRetrieve": true, 
            "bDestroy": true
        }).fnDraw();
        		        
	});
	
		
	{# Load the charts #}
	google.load("visualization", "1", {"packages": ["corechart"], "callback": loadCharts});
		
	function loadCharts()
	{
		drawDailyVisitsChart();
	}
		
	function drawDailyVisitsChart()
	{
		var data = new google.visualization.DataTable();
        data.addColumn('string', 'Day');
		data.addColumn('number', 'Visits');
        data.addRows({{ statistics.daily_visits|length }});
        
        {% for visit in statistics.daily_visits %}
        	data.setValue({{ loop.index0 }}, 0, '{{ visit.day }}/{{ visit.month }}/{{ visit.year }}');
			data.setValue({{ loop.index0 }}, 1, {{ visit.visits }});
		{% endfor %}

		var chart = new google.visualization.AreaChart(document.getElementById('chart-visits'));
		chart.draw(data, {width: 633, height: 200, axisTitlesPosition: 'none', hAxis: {textPosition: 'none'}, lineWidth: 4, pointSize: 8, vAxis: {textPosition: 'in', textStyle: {fontSize: 12}}, chartArea:{left:10, top: 10, width:613, height:180}, legend: 'none', titlePosition: 'none', title: 'Daily Visits Over the Last 30 Days', colors: ['#61D1ED']});
	}
		  		
</script>