<tr class="ui-helper-hidden image-container" id="image-{{ id }}">
	<td><input type="file" id="form-image-{{ id }}" name="image-{{ id }}" /></td>
    <td><input type="text" id="form-image-alt-text-{{ id }}" name="image-alt-text-{{ id }}" /></td>
    <td>
    	<div class="image-container" id="image-container-{{ id }}">
    		<img class="fr action-delete-image" rel="{{ id }}" width="20" src="{{ asset('/bundles/webilluminationadmin/images/navicons/delete-object.png') }}" border="0" />
    		<div class="clear"></div>
    	</div>
    	<input type="hidden" id="form-image-id-{{ id }}" value="0" />
    </td>
</tr>