<section id="guarantee">
	<div class="info-message ui-status-highlight">
		<span class="info-message-icon ui-icon ui-icon-info"></span>
		<p>Providing guarantee information promotes trust in the brand of a product as the customer will feel confident that any problems with products of this brand will be covered by a manufacturers guarantee. Add any guarantees that are not covered by the standard manufacturers guarantee.</p>
		<div class="clear"></div>
	</div>
    <div class="clearfix">
        <label for="form-guarantee" class="form-label">Description<small>Short description of guarantee</small></label>
        <div class="form-input"><input type="text" id="form-guarantee" name="guarantee" value="" /></div>
    </div>
    <div class="clearfix">
        <label for="guarantee-description" class="form-label">Detailed Description<small>A detailed description of the guarantee</small></label>
        <div class="form-input">
        	<div class="ac">
                <div class="buttonset no-margin-right">
                    <input type="radio" class="show-tinymce" rel="#form-guarantee-description" name="tinymce-guarantee-description" value="1" id="tinymce-guarantee-description-1" checked="checked" /><label for="tinymce-guarantee-description-1">Visual</label>
                    <input type="radio" class="show-tinymce" rel="#form-guarantee-description" name="tinymce-guarantee-description" value="0" id="tinymce-guarantee-description-0" /><label for="tinymce-guarantee-description-0">HTML</label>
                    <hr class="inset" />
                </div>
                <div class="leading">
                    <textarea  id="form-guarantee-description" name="guarantee-description" rows="3" class="tinymce-basic"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix">
        <label class="form-label">Guarantees<small>The available guarantees</small></label>
        <div class="form-input">
			<div class="guarantee-container inner-table">
				<table width="100%" id="form-guarantees-container">
					{% for guarantee in guarantees %}	
						<tr class="guarantee-container" id="guarantee-{{ loop.index }}">
							<td>
					        	<select name="guarantee-type" id="form-guarantee-type-id-{{ loop.index }}">
					        		<option value="">- Select Type -</option>
					        		{% for guarantee_type in guarantee_types %}
				                		<option value="{{ guarantee_type.id }}"{% if (guarantee_type.id == guarantee.guaranteeTypeId) %} selected="selected"{% endif %}>{{ guarantee_type.name }}</option>
				            		{% endfor %}
					        	</select>
					        </td>
					        <td>
					        	<select name="guarantee-length" id="form-guarantee-length-id-{{ loop.index }}">
					        		<option value="">- Select Length -</option>
					        		{% for guarantee_length in guarantee_lengths %}
				                		<option value="{{ guarantee_length.id }}"{% if (guarantee_length.id == guarantee.guaranteeLengthId) %} selected="selected"{% endif %}>{{ guarantee_length.name }}</option>
				            		{% endfor %}
					        	</select>
					        </td>
					        <td width="1"><a rel="{{ loop.index }}" href="Javascript:void(0);" class="button ui-button-default action-save-guarantee">Save</a><input type="hidden" id="form-guarantee-id-{{ loop.index }}" value="{{ guarantee.id }}" /></td>
					        <td width="1" class="no-padding-right"><a rel="{{ loop.index }}" href="Javascript:void(0);" class="button ui-button-delete action-delete-guarantee">Delete</a></td>
				        </tr>
				    {% else %}
				    	<tr id="guarantee-1">
							<td>
					        	<select name="guarantee-type" id="form-guarantee-type-id-1">
					        		<option value="">- Select Type -</option>
					        		{% for guarantee_type in guarantee_types %}
				                		<option value="{{ guarantee_type.id }}">{{ guarantee_type.name }}</option>
				            		{% endfor %}
					        	</select>
					        </td>
					        <td>
					        	<select name="guarantee-length" id="form-guarantee-length-id-1">
					        		<option value="">- Select Length -</option>
					        		{% for guarantee_length in guarantee_lengths %}
				                		<option value="{{ guarantee_length.id }}">{{ guarantee_length.name }}</option>
				            		{% endfor %}
					        	</select>
					        </td>
					        <td width="1"><a rel="1" href="Javascript:void(0);" class="button ui-button-default action-save-guarantee">Save</a><input type="hidden" id="form-guarantee-id-1" value="0" /></td>
					        <td width="1" class="no-padding-right"><a rel="1" href="Javascript:void(0);" class="button ui-button-delete action-delete-guarantee">Delete</a></td>
				        </tr>
					{% endfor %}
				</table>
			</div>
		</div>
    </div>
    <div class="clearfix">
        <div class="form-input buttons no-margin-bottom">
        	<button class="button ui-button-default">Save</button>
        	<a class="button action-add-new-guarantee" href="Javascript:void(0);">Add New Guarantee</a>
        </div>
    </div>
    <script type="text/javascript">
		$(document).ready(function() {
			
			{# Add a new guarantee #}
			$(".action-add-new-guarantee").live('click', function() {
				loadNewGuarantee();
			});
			
			{# Save a guarantee #}
			$(".action-save-guarantee").live('click', function() {
				$("#ajax_loading").show();
				$.ajax({
			    	url: "{{ path('brands_ajax_save_guarantee') }}",
			      	type: "POST",
			      	data: {id: $("#form-guarantee-id-"+$(this).attr("rel")).val(), guarantee_type_id: $("#form-guarantee-type-id-"+$(this).attr("rel")).val(), guarantee_length_id: $("#form-guarantee-length-id-"+$(this).attr("rel")).val(), object_id: {{ product_description.productId }}},
			      	error: function(data) {
			        	alert('Sorry, there was a problem saving your guarantee. Please try again.');
			        	$("#ajax_loading").hide();
			      	},
			      	success: function(data) {
			        	if (isNaN(data))
			        	{
			        		alert(data);
			        	} else {
			        		$("#form-guarantee-id-"+$(this).attr("rel")).val(data);
			        		alert('Your guarantee was saved.');
			        	}
			        	$("#ajax_loading").hide();
			      	}
			   	});
				
			});
			
			{# Delete a guarantee #}
			$(".action-delete-guarantee").live('click', function() {
				$("#ajax_loading").show();
				$selected_row = $(this).attr("rel");				
				if ($("#form-guarantee-id-"+$selected_row).val() == "0")
				{
					$("#guarantee-"+$selected_row).fadeOut(function() {
	        			$("#guarantee-"+$selected_row).remove();
	        			if ($("tr.guarantee-container").length < 1)
	        			{
	        				loadNewGuarantee();
	        			}
	        			$("#ajax_loading").hide();
	        		});
				} else {
					if (confirm('Are you sure you want to delete this guarantee?'))
					{
						$.ajax({
					    	url: "{{ path('brands_ajax_delete_guarantee') }}",
					      	type: "POST",
					      	data: {id: $("#form-guarantee-id-"+$selected_row).val()},
					      	error: function(data) {
					        	alert('Sorry, there was a problem deleting your guarantee. Please try again.');
					        	$("#ajax_loading").hide();
					      	},
					      	success: function(data) {
					        	if (data == '1')
					        	{
					        		$("#guarantee-"+$selected_row).fadeOut(function() {
					        			$("#guarantee-"+$selected_row).remove();
					        			if ($("tr.guarantee-container").length < 1)
					        			{
					        				loadNewGuarantee();
					        			}
					        		});
					        	} else {
					        		alert(data);
					        	}
					        	$("#ajax_loading").hide();
					      	}
					   	});
					} else {
						$("#ajax_loading").hide();
					}
				}
			});
			
			{# Update the guarantee tab #}
			{% if ((guarantees|length < 1)) %}
				$("#tab-guarantee").addClass("ui-status-highlight");
			{% else %}
				$("#tab-guarantee").addClass("ui-status-success");
			{% endif %}
			$("#form-guarantee, #form-guarantee-description").change(function() {
				$("#tab-guarantee").removeClass("ui-status-success").removeClass("ui-status-highlight");
				if (($("#form-guarantee").val() == "") || ($("#form-guarantee-description").val() == "") || ($("tr.guarantee-container").length < 1))
				{
					$("#tab-seo").addClass("ui-status-highlight");
				} else {
					$("#tab-seo").addClass("ui-status-success");
				}
			});
			
			{# Function to load new guarantee #}
			function loadNewGuarantee()
			{
				$next_guarantee = $("tr.guarantee-container").length + 1;
				$.get("/products/ajaxAddGuarantee/"+$next_guarantee.toString(), function(data) {
	  				$("#form-guarantees-container").append(data);
	  				$("#guarantee-"+$next_guarantee.toString()+" :checkbox:not(.no-uniform), #guarantee-"+$next_guarantee.toString()+" :radio:not(.no-uniform), #guarantee-"+$next_guarantee.toString()+" select:not(.no-uniform), #guarantee-"+$next_guarantee.toString()+" :file:not(.no-uniform)").uniform();
	  				$("#guarantee-"+$next_guarantee.toString()+" .button").button();
	  				$("#guarantee-"+$next_guarantee.toString()).fadeIn();
				});
			}
		});
	</script>
</section>