<section id="unique-product-identifiers">
    <div class="info-message ui-status-highlight">
		<span class="info-message-icon ui-icon ui-icon-info"></span>
		<p>Unique product identifiers uniquely identify a product and are important for the search and comparison engines as it helps them place the product in the best positions. Unique product identifiers also allow users of the site to search for products without having to know your own product code.</p>
		<div class="clear"></div>
	</div>
    <div class="clearfix">
        <label for="form-manufacturer-part-number" title="Product code used by the manufacturer of a product if different to your product code" class="form-label">MPN<small>Manufacturer Part Number</small></label>
        <div class="form-input"><input type="text" id="form-mpn" class="uppercase" name="mpn" value="" /></div>
    </div>
    <div class="clearfix">
        <label for="form-ean" title="Used in Europe and is a 13 or 14 digit barcode" class="form-label">EAN<small>European Article Number</small></label>
        <div class="form-input"><input type="number" id="form-ean" class="uppercase integer" name="ean" value="" maxlength="14" /></div>
    </div>
    <div class="clearfix">
        <label for="form-upc" title="Used in North America a UPC and is a 12 digit barcode" class="form-label">UPC<small>Universal Product Code</small></label>
        <div class="form-input"><input type="number" id="form-upc" class="uppercase integer" name="upc" value="" maxlength="12" /></div>
    </div>
    <div class="clearfix">
        <label for="form-jan" title="Used in Japan only and is an 8 or 13 digit barcode" class="form-label">JAN<small>Japanese Article Number</small></label>
        <div class="form-input"><input type="number" id="form-jan" class="uppercase integer" name="jan" value="" maxlength="13" /></div>
    </div>
    <div class="clearfix">
        <label for="form-isbn" title="Used to identify books only and is a 10 or 13 digit number" class="form-label">ISBN<small>International Standard Book Number</small></label>
        <div class="form-input"><input type="number" id="form-isbn" class="uppercase integer" name="isbn" value="" maxlength="13" /></div>
    </div>
    <div class="clearfix">
        <div class="form-input buttons no-margin-bottom">
    		<button class="button ui-button-default">Save</button>
    		<a class="button action-lookup-unique-product-identifiers" href="Javascript:void(0);">Lookup Unique Product Identifiers</a>
        </div>
    </div>
    {# Dialog: Unique Product Identifiers #}
	<div id="dialog-unique-product-identifier" title="Lookup Unique Product Identifiers" class="ui-helper-hidden">
		<div class="info-message ui-status-highlight">
			<span class="info-message-icon ui-icon ui-icon-info"></span>
			<p>Below is a list of unique product identifiers being used by your competitors. If you would to like use one simply select what type of identifier you would like to use and click the "Use" button.</p>
			<div class="clear"></div>
		</div>
		{% if product_search|length > 0 %}
			<table class="display" id="data-unique-product-identifiers"> 
			    <thead> 
			        <tr> 
			            <th class="left">Competitor</th> 
			            <th>Unique Product Identifier</th> 
			            <th>Type</th> 
			            <th>&nbsp;</th> 
			        </tr> 
			    </thead> 
			    <tbody>
			    	{% for upi in product_search %}
			    		{% if upi.product.gtin is defined %}
				    		<tr>
				    			<td>{% if upi.product.author.name is defined %}{{ upi.product.author.name }}{% else %}Unknown{% endif %}</td>
				    			<td class="center"><input type="text" id="unique-product-identifier-{{ loop.index }}" value="{{ upi.product.gtin }}" /></td>
				    			<td class="center">
				    				<select id="unique-product-identifier-type-{{ loop.index }}">
				    					{% if (upi.product.gtin|length == 8) %}
					    					<option value="form-jan">JAN</option>
					    				{% elseif (upi.product.gtin|length == 10) %}
					    					<option value="form-isbn">ISBN</option>
					    				{% elseif (upi.product.gtin|length == 12) %}
					    					<option value="form-upc">UPC</option>
					    				{% elseif (upi.product.gtin|length == 13) %}
					    					<option value="form-ean">EAN</option>
					    					<option value="form-isbn">ISBN</option>
					    				{% elseif (upi.product.gtin|length == 14) %}
					    					<option value="form-ean">EAN</option>
					    				{% endif %}
					    				<option value="form-mpn">MPN</option>
				    				</select>
				    			</td>
				    			<td class="center"><button rel="{{ loop.index }}" class="button action-load-unique-product-identifier">Use</button></td>
				    		</tr>
			    		{% endif %}
					{% endfor %}
			    </tbody> 
			</table>
		{% else %}
		    <div class="product-warning ui-status-error no-margin-bottom">
				<span class="product-warning-icon ui-icon ui-icon-circle-close"></span>
				<p>Sorry, we could not find any Unique Product Identifiers on the Internet that match the product code for this product.<br />Please contact the supplier for this information.</p>
				<div class="clear"></div>
			</div>
		{% endif %}
	</div>
	<script type="text/javascript">
		$(document).ready(function() {
		
			{# Load a selected unique product identifier #}
			$(".action-load-unique-product-identifier").live('click', function() {
				$("#"+$("#unique-product-identifier-type-"+$(this).attr("rel")).val()).val($("#unique-product-identifier-"+$(this).attr("rel")).val());
				$("#dialog-unique-product-identifier").dialog("close");
			});
			
			{# Dialog: Lookup Unique Product Identifiers #}
			$("#dialog-unique-product-identifier").dialog({
				autoOpen: false,
				modal: true,
				width: 900,
				show: "fade",
				hide: "fade",
				buttons: [
    				{
        				text: "Close",
        				click: function() {
        					$(this).dialog("close");
        				}
    				}
				]
			}).parents('.ui-dialog').find(".ui-dialog-titlebar-close").after('<div/>');
			{% if product_search|length > 0 %}
				$('#data-unique-product-identifiers').dataTable().fnDestroy();
				$('#data-unique-product-identifiers').dataTable({
					"bJQueryUI": true,
					"sScrollY": "300px",
					"bPaginate": false,
					"aaSorting": [[ 0, "asc" ]],
					"aoColumns": [
						null,
						null,
						null,
						{ "bSortable": false }
					]
				});
			{% endif %}
				
			{# Action: Lookup Unique Product Identifiers #}
			$(".action-lookup-unique-product-identifiers").live('click', function() {
				$("#dialog-unique-product-identifier").dialog("open");
				{% if product_search|length > 0 %}
					{# Fix for datatable scrolling #}
					$('#data-unique-product-identifiers').dataTable().fnDraw();
					$("#dialog-unique-product-identifier").css("height", $("#dialog-unique-product-identifier").height() + 10);
					$('#data-unique-product-identifiers').dataTable().fnDraw();
				{% endif %}
				return false;
			});
			
			$("#form-mpn, #form-ean, #form-upc, #form-jan, #form-isbn").change(function() {
				$("#tab-unique-product-identifiers").removeClass("ui-status-success").removeClass("ui-status-highlight");
				if (($("#form-mpn").val() == "") && ($("#form-ean").val() == "") && ($("#form-upc").val() == "") && ($("#form-jan").val() == "") && ($("#form-isbn").val() == ""))
				{
					$("#tab-unique-product-identifiers").addClass("ui-status-highlight");
				} else {
					$("#tab-unique-product-identifiers").addClass("ui-status-success");
				}
			});
			
		});
	</script>
</section>