<table class="data-table" id="data" width="100%">
	<thead>
		<tr>
			<th width="19" class="ac"><input type="checkbox" class="action-select-all" value="1" /></th>
			<th class="ac">&nbsp;</th>
			<th class="ac">Code</th>
			<th class="al">Description</th>
			<th class="ac">Type</th>
			<th class="ac">Use</th>
			<th class="ac">MOV</th>
			<th class="ac">Available</th>
			<th class="ac">Creator</th>
			<th class="ac">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for voucherCode in voucherCodes %}	
			<tr class="order {{ voucherCode.activeColour }}" id="voucher-code-{{ voucherCode.id }}">
				<td width="19" class="ac select"><input data-id="{{ voucherCode.id }}" type="checkbox" class="action-select" id="voucher-code-id-{{ voucherCode.id }}" value="1" autocomplete="off" /></td>
				<td width="22" class="ac small {{ voucherCode.activeColour }}"><img data-id="{{ voucherCode.id }}" class="no-border action-update-active" src="{{ asset(voucherCode.activeIcon) }}" border="0" alt="Active" /></td>
				<td class="ac small"><a data-id="{{ voucherCode.id }}" class="action-view-voucher-code" href="Javascript:void(0);"><strong>{{ voucherCode.code }}</strong></a></td>
				<td class="al small">{{ voucherCode.description }}</td>
				<td class="ac small">{{ voucherCode.discountTypeName }}</td>
				<td class="ac small">{{ voucherCode.discountUseName }}</td>
				<td class="ac small">&pound;{{ voucherCode.minimumOrderValue|number_format(2) }}</td>
				<td class="ac small">{{ voucherCode.validFromDate|date("d/m/Y") }}<br />{{ voucherCode.expiryDate|date("d/m/Y") }}</td>
				<td class="ac small">{{ voucherCode.creator }}</td>
				<td class="ac no-wrap">
					<img class="action-buttons-spacer" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="1" height="0" alt="" />
					<div class="clear"></div>
					<button data-id="{{ voucherCode.id }}" class="ui-corner-none ui-corner-tr ui-corner-br button ui-button-red action-confirm-delete-voucher-code" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</button>
					<button data-id="{{ voucherCode.id }}" class="ui-corner-none action-view-report button" data-icon-primary="ui-icon-document" data-icon-only="true" data-notification="{{ voucherCode.numberUsed }}">Report</button>
					<button data-id="{{ voucherCode.id }}" class="ui-corner-none action-view-discounts button" data-icon-primary="ui-icon-tag" data-icon-only="true">Discounts</button>
					<button data-id="{{ voucherCode.id }}" class="ui-corner-none ui-corner-tl ui-corner-bl action-view-voucher-code button" data-icon-primary="ui-icon-gear" data-icon-only="true">Voucher Code</button>
				</td>
			</tr>
			<tr class="ui-helper-hidden more-information" id="more-information-{{ voucherCode.id }}">
				<td colspan="10" class="no-padding">
					<div class="more-information-container no-padding-top">
						<div class="spacer">
							<button class="action-close-more-information button ui-button-blue full ui-corner-none ui-corner-bl ui-corner-br" data-icon-primary="ui-icon-triangle-1-n" data-icon-secondary="ui-icon-triangle-1-n">CLOSE INFORMATION PANEL</button>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						{% include 'WebIlluminationAdminBundle:VoucherCodes:listingDiscounts.html.twig' with {'voucherCode': voucherCode, 'brands': brands, 'departments': departments, 'products': products} %}
						{% include 'WebIlluminationAdminBundle:VoucherCodes:listingVoucherCode.html.twig' with {'voucherCode': voucherCode, 'brands': brands, 'departments': departments, 'products': products} %}
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
	$(document).ready(function() {
		$("#data :checkbox:not(.no-uniform), #data :radio:not(.no-uniform), #data select:not(.no-uniform), #data :file:not(.no-uniform)").uniform();
			$("#data .button").each(function () {
            $(this).button({
            	icons: {
                	primary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-primary'):null, 
                    secondary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-secondary'):null
                }, 
               	text: $(this).attr('data-icon-only') === 'true'?false:true
        	});
        	var $dataNotification = $(this).attr("data-notification");
        	if (($(this).attr("data-notification") != "") && ($(this).attr("data-notification") != undefined))
        	{
        		$(this).prepend('<div class="button-notification">'+$(this).attr("data-notification")+'</div>');
        	}
        });
        $(".message.closeable").prepend('<span class="message-close ui-icon ui-icon-circle-close"></span>').find('.message-close').click(function () {
	    	$(this).parent().fadeOut();
	    });
	    
	    {# Set the widths of the action buttons #}
		var $actionButtonsWidth = 0;
		$actionButtonsWidth = $actionButtonsWidth + $("tr.order button.action-confirm-delete-voucher-code:eq(0)").outerWidth(true);
		$actionButtonsWidth = $actionButtonsWidth + $("tr.order button.action-view-report:eq(0)").outerWidth(true);
		$actionButtonsWidth = $actionButtonsWidth + $("tr.order button.action-view-discounts:eq(0)").outerWidth(true);
		$actionButtonsWidth = $actionButtonsWidth + $("tr.order button.action-view-voucher-code:eq(0)").outerWidth(true);
		$(".action-buttons-spacer").width($actionButtonsWidth).attr("width", $actionButtonsWidth);
	});
</script>