{% extends 'KACSiteBundle::base.html.twig' %}

{% block title %}Order {{ order.id }} - {{ order.firstName }} {{ order.lastName }} - {{ order.total|currency('GBP') }} | {{ parent() }}{% endblock %}

{% block header %}
    <header>
        {{ parent() }}
        <h1>Order {{ order.id }} - {{ order.firstName }} {{ order.lastName }} - {{ order.total|currency('GBP') }}</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
        <div class="widget-group clearfix">
            <div class="widget widget-1-of-1">
                <form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" {{ form_enctype(form) }}>
                    <div class="widget-group clearfix">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget mbl">
                                <header class="ui-widget-header ui-corner-top">
                                    <span class="nav-icon ui-button-icon-primary ui-icon icon-white icon-398"></span>
                                    <h2>Edit Order {{ order.id }}</h2>
                                </header>
                                <section class="ui-widget-content ui-corner-bottom">
                                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                                    <fieldset class="pbm">
                                        <legend>Billing Address</legend>
                                        <div class="clear"></div>
                                        {{ form_row(form.billingFirstName) }}
                                        {{ form_row(form.billingLastName) }}
                                        {{ form_row(form.billingOrganisationName) }}
                                        {{ form_row(form.billingAddressLine1) }}
                                        {{ form_row(form.billingAddressLine2) }}
                                        {{ form_row(form.billingTownCity) }}
                                        {{ form_row(form.billingCountyState) }}
                                        {{ form_row(form.billingPostZipCode) }}
                                        {{ form_row(form.billingCountryCode) }}
                                    </fieldset>
                                    <fieldset class="pbm">
                                        <legend>Delivery Address</legend>
                                        <div class="clear"></div>
                                        {{ form_row(form.deliveryFirstName) }}
                                        {{ form_row(form.deliveryLastName) }}
                                        {{ form_row(form.deliveryOrganisationName) }}
                                        {{ form_row(form.deliveryAddressLine1) }}
                                        {{ form_row(form.deliveryAddressLine2) }}
                                        {{ form_row(form.deliveryTownCity) }}
                                        {{ form_row(form.deliveryCountyState) }}
                                        {{ form_row(form.deliveryPostZipCode) }}
                                        {{ form_row(form.deliveryCountryCode) }}
                                    </fieldset>
                                    {{ form_rest(form) }}
                                    <div class="clearfix">
                                        <button type="submit" class="button button-green icon-white mlm fr" data-icon-secondary="icon-1118">Save</button>
                                        <a href="{{ path('orders_view', {'id': order.id}) }}" class="button button-blue icon-white mlm fr" data-icon-secondary="icon-1118">Back</a>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}