{% extends 'KACSiteBundle::base.html.twig' %}

{% block title %}Order {{ order.id }} - {{ order.firstName }} {{ order.lastName }} - {{ order.total|currency('GBP') }} | {{ parent() }}{% endblock %}

{% block header %}
    <header>
        {{ parent() }}
        <h1>Order {{ order.id }} - {{ order.firstName }} {{ order.lastName }} - {{ order.total|currency('GBP') }}</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
        <div class="widget-group clearfix">
            <div class="widget widget-1-of-1">
                <form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" {{ form_enctype(form) }}>
                    <div class="widget-group clearfix">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget mbl">
                                <header class="ui-widget-header ui-corner-top">
                                    <span class="nav-icon ui-button-icon-primary ui-icon icon-white icon-398"></span>
                                    <h2>Delivery Address</h2>
                                </header>
                                <section class="ui-widget-content ui-corner-bottom">
                                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                                    <fieldset class="pbm">

                                    </fieldset>
                                    <div class="clearfix">
                                        <button type="submit" class="button button-green icon-white mlm fr" data-icon-secondary="icon-1118">Save</button>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}