{% extends "KACSiteBundle::base.html.twig" %}

{% block header %}
    <header>
        {{ parent() }}
        <h1>Track Order</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget mbl">
                <header class="ui-widget-header ui-corner-top">
                    <h2>Track Order</h2>
                </header>
                <section class="ui-widget-content ui-corner-bottom">
                    <form class="form" method="get" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" {{ form_enctype(form) }}>
                        {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                        <fieldset>
                            {{ form_row(form.id) }}
                            {{ form_row(form.email) }}
                        </fieldset>
                        <div class="clearfix">
                            <button type="submit" class="button button-turquoise icon-white mlm fr" data-icon-secondary="icon-471">Find</button>
                        </div>

                        {{ form_rest(form) }}
                    </form>
                </section>
            </div>
        </div>
    </div>
    </section>{% endblock %}