{% extends "FOSUserBundle::layout.html.twig" %}
{% form_theme form 'WebIlluminationShopBundle::fields.html.twig' %}

{% block title %}Forgotten your password? | {{ parent() }}{% endblock %}
{% block page_header %}Forgotten your password?{% endblock %}

{% block fos_user_content %}
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form" id="form-change-password">
        <div class="clearfix">
            <div class="info-message ui-status-highlight">
                <span class="info-message-icon ui-icon ui-icon-info"></span>
                <p>If you have forgotten your password enter your email address and we will email you instructions on how to reset your password.</p>
                <div class="clear"></div>
            </div>
            <div class="clearfix">
                {{ form_label(form.email, 'Email Address', {'help': 'Enter a valid email address'}) }}
                {{ form_widget(form.email) }}
            </div>

            {{ form_rest(form) }}
            <div class="clearfix">
                <div class="form-input buttons no-margin-bottom">
                    <button type="submit" class="button action-reset-password ui-button-green" data-icon-primary="ui-icon-key">Reset Password</button>
                </div>
            </div>
    </form>
{% endblock fos_user_content %}
