<div id="department-discounts-container-{{ voucherCode.id }}" class="clearfix separator">
	{% if departmentDiscounts|length > 0 %}
		<table class="sub-data-table" width="100%">
			<tr>
				<th class="al">Department</th>
				<th class="ac">Discount ({{ voucherCode.discountTypeSymbol }})</th>
				<th class="ac" width="28">&nbsp;</th>
			</tr>
			{% for departmentDiscount in departmentDiscounts %}
				<tr id="department-discount-{{ departmentDiscount.departmentId }}">
					<td class="al">{{ departmentDiscount.department }}</td>
					<td class="ac">{{ departmentDiscount.discount|number_format(2) }}</td>
					<td class="ac" width="28"><button data-voucher-code-id="{{ voucherCode.id }}" data-department-id="{{ departmentDiscount.departmentId }}" class="button ui-button-red action-confirm-delete-department-discount" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</button></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p class="ac">There are no department discounts setup.</p>
	{% endif %}
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#department-discounts-container-{{ voucherCode.id }} :checkbox:not(.no-uniform), #department-discounts-container-{{ voucherCode.id }} :radio:not(.no-uniform), #department-discounts-container-{{ voucherCode.id }} select:not(.no-uniform), #department-discounts-container-{{ voucherCode.id }} :file:not(.no-uniform)").uniform();
			$("#department-discounts-container-{{ voucherCode.id }} .button").each(function () {
            $(this).button({
            	icons: {
                	primary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-primary'):null, 
                    secondary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-secondary'):null
                }, 
               	text: $(this).attr('data-icon-only') === 'true'?false:true
        	});
        });
	});
</script>