<div id="brand-discounts-container-{{ voucherCode.id }}" class="clearfix separator">
	{% if brandDiscounts|length > 0 %}
		<table class="sub-data-table" width="100%">
			<tr>
				<th class="al">Brand</th>
				<th class="ac">Discount ({{ voucherCode.discountTypeSymbol }})</th>
				<th class="ac" width="28">&nbsp;</th>
			</tr>
			{% for brandDiscount in brandDiscounts %}
				<tr id="brand-discount-{{ brandDiscount.brandId }}">
					<td class="al">{{ brandDiscount.brand }}</td>
					<td class="ac">{{ brandDiscount.discount|number_format(2) }}</td>
					<td class="ac" width="28"><button data-voucher-code-id="{{ voucherCode.id }}" data-brand-id="{{ brandDiscount.brandId }}" class="button ui-button-red action-confirm-delete-brand-discount" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</button></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p class="ac">There are no brand discounts setup.</p>
	{% endif %}
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#brand-discounts-container-{{ voucherCode.id }} :checkbox:not(.no-uniform), #brand-discounts-container-{{ voucherCode.id }} :radio:not(.no-uniform), #brand-discounts-container-{{ voucherCode.id }} select:not(.no-uniform), #brand-discounts-container-{{ voucherCode.id }} :file:not(.no-uniform)").uniform();
			$("#brand-discounts-container-{{ voucherCode.id }} .button").each(function () {
            $(this).button({
            	icons: {
                	primary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-primary'):null, 
                    secondary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-secondary'):null
                }, 
               	text: $(this).attr('data-icon-only') === 'true'?false:true
        	});
        });
	});
</script>