{% extends 'WebIlluminationSiteBundle:Listing:index.html.twig' %}

{% block header %}
    {{ parent() }}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path(app.request.get('_route')~'_admin', app.request.get('_route_params')|merge(app.request.query.all)) }}" class="fr button">Admin Mode</a>
    {% endif %}
    <div class="clear"></div>
{% endblock %}

{% block product_block %}
    <div itemscope itemtype="http://schema.org/Product" class="product relative" data-product-id="{{ product.id }}" id="product-{{ product.id }}">
        <div class="fl">
            <a href="{#{{ path('page_request', {'url': product.url}) }}#}"><img class="fl product-image" itemprop="image" src="{{ asset(product.thumbnail_path) }}" border="0" alt="{{ product.header|raw }}" width="150" height="150"></a>
        </div>
        <div>
            <h4><a itemprop="name" href="{#{{ path('page_request', {'url': product.url}) }}#}">{{ product.header|raw }}</a></h4>
            <div class="product-options">
                {% block product_prices %}
                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <p class="ar product-price">
                            {% spaceless %}
                                {% if product.hide_price == 0 %}
                                    {% if product.url != '' %}
                                        <a href="{#{{ path('page_request', {'url': url}) }}#}">
                                    {% endif %}
                                    {% if product.low_price == product.high_price %}
                                        <span itemprop="price">&pound;{{ product.low_price|number_format(2) }}</span>
                                    {% else %}
                                        <span itemprop="price">&pound;{{ product.low_price|number_format(2) }}</span>
                                        <em> - </em>
                                        <span itemprop="price">&pound;{{ product.high_price|number_format(2) }}</span>
                                    {% endif %}
                                    {% if product.url != '' %}
                                        </a>
                                    {% endif %}
                                    <span class="product-tax"> (inc. VAT)</span>
                                {% else %}
                                    <a itemprop="price" href="{#{{ path('content_contact_us') }}#}">CONTACT US</a>
                                {% endif %}
                            {% endspaceless %}
                        </p>
                    </div>
                {% endblock %}

                {% block product_options %}

                {% endblock %}

                {% block product_features %}

                {% endblock %}

                {% block product_controls %}
                    <a href="{#{{ path('page_request', {'url': product.url}) }}#}" class="fr button ui-button-blue margin-bottom-5">More Info</a>
                    <div class="buy-now">
                        {% if (product.availableForPurchase == 1) and (product.hide_price == 0) %}
                            <table class="fr no-padding no-border" align="right" cellpadding="0" cellspacing="0" border="0">
                                <tr>
                                    {% if product.productCode == '' %}
                                        <td class="out-of-stock">Out of Stock Until Further Notice</td>
                                    {% else %}
                                        <td class="no-padding no-border"><input id="quantity-{{ product.id }}" data-product-id="{{ product.productId }}" class="ui-corner-none ui-corner-left number quantity" width="20" type="text" value="1" />id
                                        <td class="no-padding no-border">
                                            <div class="quantity-buttons-container no-padding">
                                                <div class="ui-corner-none ui-corner-tr action-increase-quantity" data-quantity-object="quantity-{{ product.id }}">+</div>
                                                <div class="ui-corner-none ui-corner-br action-decrease-quantity" data-quantity-object="quantity-{{ product.id }}">-</div>
                                            </div>
                                        </td>
                                        <td>
                                            <button data-product-id="{{ product.id }}" class="action-add-to-basket button margin-left-5 ui-button-green">Add to Basket</button>
                                        </td>
                                    {% endif %}
                                </tr>
                            </table>
                            <input type="hidden" value="" id="selected-options-{{ product.id }}">
                        {% else %}
                            <a href="{#{{ path('content_contact_us') }}#}" class="fr button ui-button-green">Contact Us to Buy</a>
                        {% endif %}
                    </div>
                {% endblock %}
            </div>

            {% block product_description %}
                <div class="product-information">
                    {% if (product.description) %}
                        {{ product.description.description|raw }}
                    {% endif %}
                </div>
            {% endblock %}

            {% block product_misc %}
                {% if '|1034|1122|69|' in product.departmentIds %}
                    <div class="small-floating-offer small-floating-offer-top-left">
                        <p class="small-floating-offer-title">40% OFF</p>
                        <p class="small-floating-offer-description">Stellar<br />Pans</p>
                    </div>
                {% endif %}
                {% if product.brandId == '7' %}
                    <div class="medium-floating-offer medium-floating-offer-bottom-left">
                        <p class="medium-floating-offer-title">10% OFF</p>
                        <p class="medium-floating-offer-description">When you buy 3 or more CDA items</p>
                    </div>
                {% endif %}
            {% endblock %}
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}


