{% extends ':Old:admin.html.twig' %}
{% block title %}{{ data.settings.multipleTitle }}  | {{ parent() }}{% endblock %}
{% block leftmenu %}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':leftMenu.html.twig' %}  
{% endblock %}
{% block header %}
	{{ parent() }}
	<div class="quick-search-container fr">
		<span>Quick Search</span>
		<input type="text" id="form-quick-search" value="{{ data.listing.search }}" />
		{% if data.listing.search %}
			<button id="quick-search-button" class="button small ui-button-red action-clear-quick-search" data-icon-primary="ui-icon-closethick" data-icon-only="true">Clear</button>
		{% endif %}
		<button id="quick-search-button" class="button small ui-button-blue action-quick-search" data-icon-primary="ui-icon-search">Search</button>
	</div>
	<h2>{{ data.settings.multipleTitle }}</h2>
{% endblock %}
{% block body %}
    <section class="container_6 clearfix no-padding-top">
    	<div class="grid_6">
    		<div id="confirm-multiple-delete" class="info-message ui-helper-hidden">
				<div class="fr no-margin no-padding">
		        	<button class="fl button ui-corner-none ui-corner-tl ui-corner-bl ui-button-blue action-cancel-multiple-delete">Cancel</button>
		        	<button class="fl button ui-corner-none ui-corner-tr ui-corner-br ui-button-red action-multiple-delete" data-icon-primary="ui-icon-closethick">Confirm Delete</button>
		        </div>
				<span class="info-message-icon ui-icon ui-icon-help"></span>
				<p><strong>WARNING:</strong> Are you sure you want to delete the selected {{ data.settings.multipleDescription }} below?</p>
				<div class="clear"></div>
			</div>
			{% if data.statistics|length > 0 %}
				<div class="clearfix">
		    		<ul class="isotope-widgets isotope-container">
		    			{% for statistic in data.statistics %}
			                <li>
			                    <a data-update-object="{{ statistic.filterUpdateObject }}" data-filter-value="{{ statistic.filterValue }}" class="update-filter button-{{ statistic.colour }} ui-corner-all" href="Javascript:void(0);">
			                        <strong>{{ statistic.statistic }}</strong>
			                        <span>{{ statistic.description }}</span>
			                    </a>
			                </li>
			            {% endfor %}
		            </ul>
				</div>
			{% endif %}
    		<div class="portlet">
				<header>
					<button id="filter-button" class="button ui-button-blue fr action-show-hide-filter" data-icon-primary="ui-icon-triangle-1-{% if data.filter.empty > 0 %}s{% else %}n{% endif %}">Filter Results</button>
	                <h2>{% spaceless %}
		                {% if data.listing.itemCount > 0 %}
		                	{% if data.listing.itemCount == 1 %}
								Found 1 {{ data.settings.singleTitle }}                	
			                {% else %}
			                	Found {{ data.listing.itemCount }} {{ data.settings.multipleTitle }}
			                {% endif %}
		                {% else %}
		                	No {{ data.settings.multipleTitle }} Found
		                {% endif %}
	                {% endspaceless %}</h2>
	            </header>
				<section class="no-padding">
					<form id="form-update-listing" class="form" action="{{ path('admin_'~data.settings.multiplePath~'_update_listing') }}" method="post">
						<input type="hidden" id="update-listing-search" name="search" value="{{ data.listing.search }}" />
						<input type="hidden" id="update-listing-sort-order" name="sort-order" value="{{ data.listing.sortOrder }}" />
						<input type="hidden" id="update-listing-max-results" name="max-results" value="{{ data.listing.maxResults }}" />
						<input type="hidden" id="update-listing-current-page" name="current-page" value="{{ data.listing.currentPage }}" />
						<input type="hidden" id="update-listing-pagination" name="pagination" value="{{ data.listing.pagination }}" />
						<input type="hidden" id="update-listing-id" name="filters[id]" value="{{ data.filter.id }}" />
						<input type="hidden" id="update-listing-bug" name="filters[bug]" value="{{ data.filter.bug }}" />
						<input type="hidden" id="update-listing-date-from" name="filters[dateFrom]" value="{{ data.filter.dateFrom }}" />
						<input type="hidden" id="update-listing-date-to" name="filters[dateTo]" value="{{ data.filter.dateTo }}" />
						<input type="hidden" id="update-listing-date-from-formatted" name="filters[dateFromFormatted]" value="{{ data.filter.dateFromFormatted }}" />
						<input type="hidden" id="update-listing-date-to-formatted" name="filters[dateToFormatted]" value="{{ data.filter.dateToFormatted }}" />
						<input type="hidden" id="update-listing-statuses" name="filters[statuses]" value="{{ data.filter.statuses }}" />
						<input type="hidden" id="update-listing-priorities" name="filters[priorities]" value="{{ data.filter.priorities }}" />
						<input type="hidden" id="update-listing-assigned-to-contact-ids" name="filters[assignedToContactIds]" value="{{ data.filter.assignedToContactIds }}" />
						<input type="hidden" id="update-listing-owner-contact-ids" name="filters[ownerContactIds]" value="{{ data.filter.ownerContactIds }}" />
						<input type="hidden" id="update-listing-filter-empty" name="filters[empty]" value="{{ data.filter.empty }}" />
					</form>
					<div id="listing-filter" class="no-padding-bottom listing-filter{% if data.filter.empty > 0 %} ui-helper-hidden{% endif %}">
						<div class="separator">
							<table width="100%">
								<tr>
									<td class="label" width="20%"><label for="filter-id">Bug No:</label></td>
									<td width="30%"><input class="filter-text-box" type="text" id="filter-id" data-update-object="update-listing-id" value="{{ data.filter.id }} " /></td>
									<td class="label" width="20%"><label for="filter-bug">Bug:</label></td>
									<td width="30%"><input class="filter-text-box" type="text" id="filter-bug" data-update-object="update-listing-bug" value="{{ data.filter.bug }} " /></td>
								</tr>
							</table>
						</div>
						<div class="separator">
							<table width="100%">
								<tr>
									<td class="label" width="20%"><label for="filter-date-from">Date From:</label></td>
									<td width="30%"><input type="text" id="filter-date-from" value="{{ data.filter.dateFrom }}" /><input type="hidden" id="filter-date-from-formatted" value="{{ data.filter.dateFromFormatted }}" /></td>
									<td class="label" width="20%"><label for="filter-date-to">Date To:</label></td>
									<td width="30%"><input type="text" id="filter-date-to" value="{{ data.filter.dateTo }}" /><input type="hidden" id="filter-date-to-formatted" value="{{ data.filter.dateToFormatted }}" /></td>
								</tr>
							</table>
						</div>
						<div class="separator">
							<table width="100%">
								<tr>
									<td class="label" width="20%"><label class="al" for="filter-status">Status:</label></td>
									<td width="1%"><img class="fl" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="24" alt="" /></td>
									<td class="label" width="19%"><label class="al" for="filter-priority">Priority:</label></td>
									<td width="1%"><img class="fl" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="24" alt="" /></td>
									<td class="label" width="19%"><label class="al" for="filter-assigned-to-contact-id">Assigned To:</label></td>
									<td width="1%"><img class="fl" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="24" alt="" /></td>
									<td class="label" width="19%"><label class="al" for="filter-owner-contact-id">Owner:</label></td>
								</tr>
								<tr>
									<td width="20%" class="vat checkboxes">
										<div class="filter-checkbox">
											<input{% if '|1|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="1" type="checkbox" class="filter-status" value="1" />Not Started
										</div>
										<div class="filter-checkbox">
											<input{% if '|2|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="2" type="checkbox" class="filter-status" value="1" />More Information Required
										</div>
										<div class="filter-checkbox">
											<input{% if '|3|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="3" type="checkbox" class="filter-status" value="1" />In Progress
										</div>
										<div class="filter-checkbox">
											<input{% if '|4|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="4" type="checkbox" class="filter-status" value="1" />Ready for Testing
										</div>
										<div class="filter-checkbox no-margin-bottom">
											<input{% if '|5|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="5" type="checkbox" class="filter-status" value="1" />Closed
										</div>
									</td>
									<td width="1%" class="vat"><img class="fl" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="20" alt="" /></td>
									<td width="19%" class="vat checkboxes">
										<div class="filter-checkbox">
											<input{% if '|1|' in data.filter.priorities %} checked="checked"{% endif %} data-update-object="update-listing-priorities" data-filter-value="1" type="checkbox" class="filter-priority" value="1" />Trivial
										</div>
										<div class="filter-checkbox">
											<input{% if '|2|' in data.filter.priorities %} checked="checked"{% endif %} data-update-object="update-listing-priorities" data-filter-value="2" type="checkbox" class="filter-priority" value="1" />Minor
										</div>
										<div class="filter-checkbox">
											<input{% if '|3|' in data.filter.priorities %} checked="checked"{% endif %} data-update-object="update-listing-priorities" data-filter-value="3" type="checkbox" class="filter-priority" value="1" />Major
										</div>
										<div class="filter-checkbox no-margin-bottom">
											<input{% if '|4|' in data.filter.priorities %} checked="checked"{% endif %} data-update-object="update-listing-priorities" data-filter-value="4" type="checkbox" class="filter-priority" value="1" />Critical
										</div>
									</td>
									<td width="1%" class="vat"><img class="fl" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="20" alt="" /></td>
									<td width="19%" class="vat checkboxes">
										{% for administrator in data.administrators %}
											<div class="filter-checkbox{% if loop.last %} no-margin-bottom{% endif %}">
												<input{% if '|'~administrator.id~'|' in data.filter.assignedToContactIds %} checked="checked"{% endif %} data-update-object="update-listing-assigned-to-contact-ids" data-filter-value="{{ administrator.id }}" type="checkbox" class="filter-assigned-to-contact-id" value="1" />{{ administrator.firstName }} {{ administrator.lastName }}
											</div>
									    {% endfor %}
									</td>
									<td width="1%" class="vat"><img class="fl" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="20" alt="" /></td>
									<td width="19%" class="vat checkboxes">
										{% for administrator in data.administrators %}
											<div class="filter-checkbox{% if loop.last %} no-margin-bottom{% endif %}">
												<input{% if '|'~administrator.id~'|' in data.filter.ownerContactIds %} checked="checked"{% endif %} data-update-object="update-listing-owner-contact-ids" data-filter-value="{{ administrator.id }}" type="checkbox" class="filter-owner-contact-id" value="1" />{{ administrator.firstName }} {{ administrator.lastName }}
											</div>
									    {% endfor %}
									</td>
								</tr>
							</table>
						</div>
						<div class="ac">
							<button class="button bottom-button ui-button-green action-update-your-results" data-icon-primary="ui-icon-refresh">Update Your Results</button>
							<button class="button bottom-button ui-button-red action-clear-filters" data-icon-primary="ui-icon-closethick">Clear Filters</button>
						</div>
					</div>
					<form id="form-update" class="form" action="{{ path('admin_'~data.settings.multiplePath) }}" method="post">
						<div id="listing-settings">
							<div class="fl">
								<div class="listing-settings-title fl">Sort By</div>
								<select id="listing-sort-order" class="fl">
									<option{% if data.listing.sortOrder == 'displayOrder:ASC' %} selected="selected"{% endif %} value="displayOrder:ASC">Set Order</option>
									<option{% if data.listing.sortOrder == 'createdAt:DESC' %} selected="selected"{% endif %} value="createdAt:DESC">Latest</option>
									<option{% if data.listing.sortOrder == 'status:DESC' %} selected="selected"{% endif %} value="status:DESC">Status: Most Complete</option>
									<option{% if data.listing.sortOrder == 'status:ASC' %} selected="selected"{% endif %} value="status:ASC">Status: Least Complete</option>
									<option{% if data.listing.sortOrder == 'priority:DESC' %} selected="selected"{% endif %} value="priority:DESC">Priority: Highest First</option>
									<option{% if data.listing.sortOrder == 'priority:ASC' %} selected="selected"{% endif %} value="priority:ASC">Priority: Lowest First</option>
									<option{% if data.listing.sortOrder == 'bug:ASC' %} selected="selected"{% endif %} value="bug:ASC">Alphabetically: A-Z</option>
									<option{% if data.listing.sortOrder == 'bug:DESC' %} selected="selected"{% endif %} value="bug:DESC">Alphabetically: Z-A</option>
								</select>
							</div>
						    <div class="fr">
						    	<div class="listing-settings-title fl">Per Page</div>
						        <select class="fl" id="listing-max-results">
						        	{% if data.listing.sortable == false %}
										<option{% if data.listing.maxResults == '10' %} selected="selected"{% endif %} value="10">10</option>
										<option{% if data.listing.maxResults == '20' %} selected="selected"{% endif %} value="20">20</option>
										<option{% if data.listing.maxResults == '50' %} selected="selected"{% endif %} value="50">50</option>
										<option{% if data.listing.maxResults == '100' %} selected="selected"{% endif %} value="100">100</option>
									{% endif %}
									<option{% if data.listing.maxResults == '99999999' %} selected="selected"{% endif %} value="99999999">All</option>
								</select>
							</div>
						    <div class="clear"></div>
						</div>
						{% include 'WebIlluminationAdminBundle:System:listingPagination.html.twig' with {'data': data} %}
						<div class="clear"></div>
						<div id="listing" class="position-relative">
							{% if data.items|length > 0 %}
								<table class="data-table{% if data.listing.sortable %} sortable{% endif %}" id="data" width="100%">
									<thead>
										<tr>
											{% if data.listing.sortable %}
												<th>&nbsp;</th>
											{% endif %}
											<th width="19" class="ac"><input type="checkbox" class="action-select-all" value="1" /></th>
											<th class="al">Bug</th>
											<th class="ac">Status</th>
											<th class="ac">Priority</th>
											<th class="ac">Assigned To</th>
											<th width="1" class="ac">&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										{% for item in data.items %}
											<tr class="item {{ item.statusColour }}" id="item-{{ item.id }}">
												{% if data.listing.sortable %}
													<td width="17" class="ac"><img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" /></td>
												{% endif %}
												<td width="19" class="ac select"><input data-id="{{ item.id }}" type="checkbox" class="action-select" name="select[{{ item.id }}]" id="listing-select-{{ item.id }}" value="1" /></td>
												<td class="al small">
													<a class="tooltip-preview-left" data-tooltip-id="#tooltip-{{ item.id }}" href="{{ path('admin_'~data.settings.multiplePath~'_update', {'id': item.id}) }}"><strong>BUG #{{ item.id }} by {% for administrator in data.administrators %}{% if administrator.id == item.ownerContactId %}{{ administrator.firstName }} {{ administrator.lastName }}{% endif %}{% endfor %} on {{ item.createdAt|date("d/m/Y h:iA") }}</strong><br />{{ item.bug }}</a>
												</td>
												<td class="ac {{ item.statusColour }}">
													<select name="status[{{ item.id }}]" id="listing-status-{{ item.id }}" data-id="{{ item.id }}" class="listing-status full">
														<option{% if item.status == '1' %} selected="selected"{% endif %} value="1">Not Started</option>
														<option{% if item.status == '2' %} selected="selected"{% endif %} value="2">More Information Required</option>
														<option{% if item.status == '3' %} selected="selected"{% endif %} value="3">In Progress</option>
														<option{% if item.status == '4' %} selected="selected"{% endif %} value="4">Ready for Testing</option>
														<option{% if item.status == '5' %} selected="selected"{% endif %} value="5">Closed</option>
													</select>
												</td>
												<td class="ac {{ item.priorityColour }}">
													<select name="priority[{{ item.id }}]" id="listing-priority-{{ item.id }}" data-id="{{ item.id }}" class="listing-priority full">
														<option{% if item.priority == '1' %} selected="selected"{% endif %} value="1">Trivial</option>
														<option{% if item.priority == '2' %} selected="selected"{% endif %} value="2">Minor</option>
														<option{% if item.priority == '3' %} selected="selected"{% endif %} value="3">Major</option>
														<option{% if item.priority == '4' %} selected="selected"{% endif %} value="4">Critical</option>
													</select>
												</td>
												<td class="ac">
													<select name="assigned-to-contact-id[{{ item.id }}]" id="listing-assigned-to-contact-id-{{ item.id }}" data-id="{{ item.id }}" class="listing-assigned-to-contact-id full">
														{% for administrator in data.administrators %}
													        <option{% if administrator.id == item.assignedToContactId %} selected="selected"{% endif %} value="{{ administrator.id }}">{{ administrator.firstName }} {{ administrator.lastName }}</option>
													    {% endfor %}
													</select>
												</td>
												<td width="1" class="buttons-container ac no-wrap">
													<input type="hidden" class="listing-display-order" name="display-order[{{ item.id }}]" id="display-order-{{ item.id }}" data-id="{{ item.id }}" value="{{ item.displayOrder }}" />
													<img id="buttons-spacer" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="0" alt="" />
													<div class="clear"></div>
													<a href="{{ path('admin_'~data.settings.multiplePath~'_update', {'id': item.id}) }}" class="button ui-button-blue ui-corner-none ui-corner-tr ui-corner-br" data-icon-primary="ui-icon-pencil" data-icon-only="true">Update</a>
													<a href="Javascript:void(0);" class="button ui-button-blue ui-corner-none ui-corner-tl ui-corner-bl tooltip-preview-right" data-tooltip-id="#tooltip-{{ item.id }}" data-icon-primary="ui-icon-search" data-icon-only="true">Preview</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								{% for item in data.items %}
									<div id="tooltip-{{ item.id }}" class="tooltip">
										<table cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td class="label">Operating System</td>
												<td>{{ item.operatingSystem }}</td>
											</tr>
											<tr>
												<td class="label">Internet Browser</td>
												<td>{{ item.internetBrowser }}</td>
											</tr>
											{% if item.url %}
												<tr>
													<td class="label">Web Address</td>
													<td><a target="_blank" href="{{ item.url }}">{{ item.url }}</a></td>
												</tr>
											{% endif %}
											{% if item.testScenario %}
												<tr>
													<td class="label">Test Scenario</td>
													<td>{{ item.testScenario|raw }}</td>
												</tr>
											{% endif %}
										</table>
									</div>
								{% endfor %}
							{% else %}
								<p class="ac">Sorry, no results were found.</p>
							{% endif %}
						</div>
						<div class="clear"></div>
						{% include 'WebIlluminationAdminBundle:System:listingPagination.html.twig' with {'data': data} %}
			        	<div class="clear"></div>
			        	<div class="padding-15 padding-top-5">
				        	<div id="float-buttons" class="clearfix">
						        <div id="float-buttons-content" class="float-buttons clearfix buttons">
						        	<input type="hidden" value="0" id="form-delete" name="delete" />
						        	<button class="fr button ui-corner-none ui-corner-tr ui-corner-br ui-button-red action-confirm-multiple-delete" data-icon-primary="ui-icon-closethick">Delete Selected</button>
						        	<button type="submit" class="fr button ui-corner-none ui-button-green" data-icon-primary="ui-icon-check">Update Selected</button>
						        	<a href="{{ path('admin_'~data.settings.multiplePath~'_add') }}" class="fr button ui-corner-none ui-corner-tl ui-corner-bl ui-button-green" data-icon-primary="ui-icon-plusthick">Report a {{ data.settings.singleTitle }}</a>
							    </div>
							</div>
			        	</div>
					</form>
				</section>
	        </div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':indexScript.js.twig' with {'data': data} %}
{% endblock %}