<ul>
	{% for department in departments %}	
		<li><input class="filter-department" data-department-url="{{ department.url }}" type="checkbox" id="filter-department-{{ department.id }}" name="department-{{ department.id }}" value="1" /><label for="filter-department-{{ department.id }}"><span class="fr">({{ department.productCount }})</span><a href="{{ department.url }}">{{ department.name }}</a></label></li>
	{% endfor %}
</ul>
<script type="text/javascript">
	$(document).ready(function() {
		$("#filter-department :checkbox:not(.no-uniform)").uniform();
	});
</script>
