<div class="range-slider-values">
	<span>&pound;</span>
	<input id="filter-price-from" type="text" value="" />
	<span>&nbsp;-&nbsp;</span>
	<input id="filter-price-to" type="text" value="" />
</div>
<div class="price-range" id="price-range-slider"></div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#filter-price-from").val("{{ prices.cheapestPrice }}");
		$("#filter-price-to").val("{{ prices.mostExpensivePrice }}");
		$("#price-range-slider").slider({
			range: true,
			min: {{ prices.cheapestPrice }},
			max: {{ prices.mostExpensivePrice }},
			values: [{{ prices.cheapestPrice }}, {{ prices.mostExpensivePrice }}],
			slide: function(event, ui) {
				$("#filter-price-from").val(ui.values[0]);
				$("#filter-price-to").val(ui.values[1]);
			},
			change: function(event, ui) {
				$skipPriceFilter = true;
				loadDepartment();
			}
		});
		$("#filter-price-from, #filter-price-to").live('change', function() {
			$("#price-range-slider").slider("option", "values", [parseInt($("#filter-price-from").val()), parseInt($("#filter-price-to").val())]);
		});
	});
</script>
