<div itemscope itemtype="http://schema.org/Product" class="product relative" data-product-id="{{ product.productId }}" id="product-{{ product.productId }}">
	<div class="fl">
		<a href="{{ path('page_request', {'url': product.url}) }}"><img class="fl product-image" itemprop="image" src="{{ asset(product.mediumPath) }}" border="0" alt="{{ product.header|raw }}" width="150" height="150"></a>
	</div>
	<div>
		<div>
			{% if product.brandLogoThumbnailPath != '' %}
				<a href="{{ path('page_request', {'url': product.brandUrl}) }}"><img class="fr brand-logo-image" src="{{ asset(product.brandLogoThumbnailPath) }}" border="0" alt="{{ product.brand|raw }}" width="48" height="23"></a>
			{% endif %}
			<h4><a itemprop="name" href="{{ path('page_request', {'url': product.url}) }}">{{ product.header|raw }}</a></h4>
			{% for productFeature in product.productFeatures|explode('|') %}
				{% if 'COLOUR:' in productFeature|upper %}
					<p class="colour">{% spaceless %}
						{% if product.url != '' %}
							<a href="{{ path('page_request', {'url': product.url}) }}">
						{% endif %}
						<strong>{{ productFeature|upper|replace({'COLOUR:': ''}) }}</strong>
						{% if product.url != '' %}
							</a>
						{% endif %}
					{% endspaceless %}</p>
				{% endif %}
			{% endfor %}
		</div>
		<div class="product-options">
			{% include 'KACShopBundle:Products:price.html.twig' with {'url': product.url, 'productCode': product.productCode, 'recommendedRetailPrice': product.recommendedRetailPrice, 'listPrice': product.listPrice, 'savings': product.savings, 'membershipCardPrice': product.membershipCardPrice, 'hidePrice': product.hidePrice} %}
			<a href="{{ path('page_request', {'url': product.url}) }}" class="fr button ui-button-blue margin-bottom-5">More Info</a>
			{% include 'KACShopBundle:Products:buyNow.html.twig' with {'product': product} %}
			{% if (app.request.attributes.get('_route') == 'products_ajax_get_product_listing') %}
				{% if not group %}
					{% if product.productGroupCode %}
						<!--<a href="{{ path('department_with_group', {'group': product.productGroupId, 'url': product.url}) }}" class="fr padding-right-5 small button ui-button-blue">View Other Colours or Options for this product</a>-->
					{% endif %}
				{% endif %}
			{% endif %}
			{% if product.cheaperAlternativePrice is defined %}
				{% if (product.cheaperAlternativePrice > 0) and (product.cheaperAlternativeUrl != '') %}
					<a href="{{ path('page_request', {'url': product.cheaperAlternativeUrl}) }}" class="cheaper-alternative-listing">Cheaper Alternative <strong>&pound;{{ product.cheaperAlternativePrice|number_format(0) }}</strong></a>
				{% endif %}
			{% endif %}
		</div>
		<div class="product-information">
			{% if (product.description != '') %}
				{{ product.description|raw }}
			{% endif %}
		</div>
		{% if '|1034|1122|69|' in product.departmentIds %}
			<div class="small-floating-offer small-floating-offer-top-left">
				<p class="small-floating-offer-title">40% OFF</p>
				<p class="small-floating-offer-description">Stellar<br />Pans</p>
			</div>
		{% endif %}
		{% if product.brandId == '7' %}
			<div class="medium-floating-offer medium-floating-offer-bottom-left">
				<p class="medium-floating-offer-title">10% OFF</p>
				<p class="medium-floating-offer-description">When you buy 3 or more CDA items</p>
			</div>
		{% endif %}
		<div class="clear"></div>
	</div>
	<div class="clear"></div>
</div>