<script defer="defer" type="text/javascript">
	function checkEmailAddress()
	{
		var checkEmailAddressValidator = $("#register-your-email-address :input").validator({
			position : 'center right', 
			offset : [0, -250], 
			messageClass : 'form-error', 
    		message : '<div><span class="ui-icon ui-icon-closethick"></span></div>'
		});
		if (checkEmailAddressValidator.data("validator").checkValidity())
		{
			$.ajax({
   				type: "POST",
   				dataType: "json",
   				url: "{{ path('users_ajax_check_email_address') }}",
   				beforeSend: function() {
					$("#flash-messages .message").hide();
					$("#register-user").hide();
					$("#ajax-loading").show();
				},
   				data: {
   					emailAddress: $("#form-register-your-email-address-email-address").val()
   				},
   				error: function(data) {
   					$("#message-error-text").html('Sorry, there was a problem checking your email address. Please try again.');
   					$("#message-error").slideDown(function() {
   						setTimeout("resetMessages()", 5000);
   					});
		      		$("#ajax-loading").hide();
		      		$("#form-register-your-email-address-email-address").focus();
		      	},
   				success: function(data) {
   					if (data.response == 'success')
   					{
   						$("#register-your-email-address").hide();
   						if (data.userAccountExists == true)
   						{
   							$("#form-register-login-email-address").val($("#form-register-your-email-address-email-address").val());
   							$("#register-login").fadeIn(function() {
   								$("#form-register-login-password").focus();
   							});	
   						} else {
   							$("#form-register-create-user-email-address").val($("#form-register-your-email-address-email-address").val());
   							$("#register-create-user").fadeIn(function() {
   								$("#form-register-create-user-confirm-email-address").focus();
   							});
   						}
   						$("#ajax-loading").hide();
   					} else {
   						$("#message-error-text").html('Sorry, there was a problem checking your email address. Please try again.');
	   					$("#message-error").slideDown(function () {
	   						setTimeout("resetMessages()", 5000);
	   						$("#ajax-loading").hide();
			      			$("#form-register-your-email-address-email-address").focus();
	   					});
   					}
   				}
 			});
 		}
	}
	
	{# Create user account #}
	function createUserAccount()
	{
		var createUserValidator = $("#register-create-user :input").validator({
			position : 'center right', 
			offset : [0, -250], 
			messageClass : 'form-error', 
    		message : '<div><span class="ui-icon ui-icon-closethick"></span></div>'
		});
		if (createUserValidator.data("validator").checkValidity())
		{
			$.ajax({
   				type: "POST",
   				dataType: "json",
   				url: "{{ path('users_ajax_create_user') }}",
   				beforeSend: function() {
					$("#ajax-loading").show();
				},
   				data: {
   					emailAddress: $("#form-register-create-user-email-address").val(),
   					password: $("#form-register-create-user-password").val()
   				},
   				error: function(data) {
   					$("#message-error-text").html('Sorry, there was a problem creating your account. Please try again.');
   					$("#message-error").slideDown(function() {
   						setTimeout("resetMessages()", 5000);
   					});
		      		$("#ajax-loading").hide();
		      		$("#form-register-your-email-address-email-address").focus();
					$("#register-login").hide();
					$("#register-create-user").hide();
					$("#register-your-email-address").fadeIn(function() {
						$("#form-register-your-email-address-email-address").focus();
					});
		      	},
   				success: function(data) {
   					if (data.response == 'success')
   					{
						window.location = '{{ path('users_user') }}';
   					} else {
   						$("#message-error-text").html('Sorry, there was a problem creating your account. Please try again.');
	   					$("#message-error").slideDown(function() {
	   						setTimeout("resetMessages()", 5000);
	   					});
			      		$("#ajax-loading").hide();
			      		$("#form-register-your-email-address-email-address").focus();
			      		$("#ajax-loading").hide();
						$("#register-login").hide();
						$("#register-create-user").hide();
						$("#register-your-email-address").fadeIn(function() {
							$("#form-register-your-email-address-email-address").focus();
						});
   					}
   				}
 			});
 		}
	}
	
	$(document).ready(function() {
		{# Show and hide the forgotten your password section #}
		$(".action-forgotten-your-password").live('click', function() {
			$(".form-error").hide();
			$("#register-login").slideUp();
			$("#forgotten-your-password-container").slideDown(function() {
				$("#form-forgotten-your-password-email-address").focus();
			});
		});
		$(".action-secure-login").live('click', function() {
			$(".form-error").hide();
			$("#forgotten-your-password-container").slideUp();
			$("#register-login").slideDown(function() {
				$("#form-register-login-email-address").focus();
			});
		});
		
		{# Check the email address #}
		$("#form-register-your-email-address-email-address").live('keypress', function(event) {
			var $keyCode = event.keyCode || event.which;
			if ($keyCode == 13)
			{
				checkEmailAddress();
			}
		});
		$(".action-check-email-address").live('click', function() {
			checkEmailAddress();
		});
		$(".action-use-different-email-address").live('click', function() {
			$("#flash-messages .message").hide();
			$("#register-login").hide();
			$("#register-create-user").hide();
			$("#form-register-your-email-address-email-address").val("");
			$("#register-your-email-address").fadeIn(function() {
				$("#form-register-your-email-address-email-address").focus();
			});
		});
		
		{# Create your account #}
		$("#register-create-user input").live('keypress', function(event) {
			var $keyCode = event.keyCode || event.which;
			if ($keyCode == 13)
			{
				createUserAccount();
			}
		});
		$(".action-create-user").live('click', function() {
			createUserAccount();
		});
		
		{# Login #}
		$(".action-login").live('click', function() {
			var loginValidator = $("#register-login :input").validator({
    			position : 'center right', 
    			offset : [0, -250], 
    			messageClass : 'form-error', 
        		message : '<div><span class="ui-icon ui-icon-closethick"></span></div>'
			});
			if (loginValidator.data("validator").checkValidity())
			{
				$.ajax({
	   				type: "POST",
	   				dataType: "json",
	   				url: "{{ path('security_ajax_login') }}",
	   				beforeSend: function() {
						$("#ajax-loading").show();
					},
	   				data: {
	   					emailAddress: $("#form-register-login-email-address").val(),
	   					password: $("#form-register-login-password").val()
	   				},
	   				error: function(data) {
	   					$("#message-error-text").html('Sorry, there was a problem trying to log you in. Please try again.');
	   					$("#message-error").slideDown(function() {
	   						setTimeout("resetMessages()", 5000);
	   					});
			      		$("#ajax-loading").hide();
						$("#register-login").hide();
						$("#register-create-user").hide();
						$("#register-your-email-address").fadeIn(function() {
							$("#form-register-your-email-address-email-address").focus();
						});
			      	},
	   				success: function(data) {
	   					if (data.response == 'success')
	   					{
	   						window.location = '{{ path('users_user') }}';
	   					} else {
	   						$("#message-error-text").html(data.message);
	   						$("#message-error").slideDown(function() {
	   							setTimeout("resetMessages()", 5000);
	   						});
				      		$("#ajax-loading").hide();
				      		$("#form-checkout-login-password").val("").focus();
	   					}
	   				}
	 			});
	 		}
		});
		
		{# Reset password #}
		$(".action-reset-password").live('click', function() {
			var forgottenYourPasswordValidator = $("#forgotten-your-password :input").validator({
    			position : 'center right', 
    			offset : [0, -250], 
    			messageClass : 'form-error', 
        		message : '<div><span class="ui-icon ui-icon-closethick"></span></div>'
			});
			if (forgottenYourPasswordValidator.data("validator").checkValidity())
			{
				$.ajax({
	   				type: "POST",
	   				dataType: "json",
	   				url: "{{ path('security_ajax_forgotten_your_password') }}",
	   				beforeSend: function() {
	   					$("#ajax-loading").show();
	   					$("#secure-login-error").hide();
	   				},
	   				data: {
	   					emailAddress: $("#form-forgotten-your-password-email-address").val()
	   				},
	   				error: function(data) {
	   					$("#message-error-text").html('Sorry, there was a problem trying to reset your password. Please try again.');
	   					$("#message-error").slideDown(function() {
	   						setTimeout("resetMessages()", 5000);
	   					});
	   					$("#form-forgotten-your-password-email-address").focus();
			      		$("#ajax-loading").hide();
			      	},
	   				success: function(data) {
	   					if (data.response == 'success')
	   					{
	   						$("#message-success-text").html('An email was sent to your registered email address with instructions on how to reset your password.');
		   					$("#message-success").slideDown(function() {
		   						setTimeout("resetMessages()", 5000);
		   					});
				      		$("#ajax-loading").hide();
	   					} else {
	   						$("#message-error-text").html(data.message);
		   					$("#message-error").slideDown(function() {
		   						setTimeout("resetMessages()", 5000);
		   					});
		   					$("#form-forgotten-your-password-email-address").focus();
				      		$("#ajax-loading").hide();
	   					}
	   				}
	 			});
	 		}
		});
	});	
</script>