<table class="data-table" id="data" width="100%">
	<thead>
		<tr>
			<th width="19" class="ac"><input type="checkbox" class="action-select-all" value="1" /></th>
			<th width="22" class="ac">&nbsp;</th>
			<th class="ac">Membership Number</th>
			<th class="ac">Assigned</th>
			<th class="ac">Available</th>
			<th class="ac">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		{% for membershipCard in membershipCards %}	
			<tr class="membership-card {{ membershipCard.activeColour }}" id="membership-card-{{ membershipCard.id }}">
				<td width="19" class="ac select"><input data-id="{{ membershipCard.id }}" type="checkbox" class="action-select" id="membership-card-id-{{ membershipCard.id }}" value="1" autocomplete="off" /></td>
				<td width="22" class="ac small {{ membershipCard.activeColour }}"><img data-id="{{ membershipCard.id }}" class="no-border action-update-active" src="{{ asset(membershipCard.activeIcon) }}" border="0" alt="Active" /></td>
				<td class="ac small"><a data-id="{{ membershipCard.id }}" data-user-id="{{ membershipCard.userId }}" href="Javascript:void(0);"{% if membershipCard.userId > 0 %} class="action-view-customer"{% endif %}><strong>{{ membershipCard.membershipNumber }}</strong></td>
				<td class="ac small">{% if membershipCard.userId > 0 %}Yes{% else %}No{% endif %}</td>
				<td class="ac small">{{ membershipCard.validFromDate|date("d/m/Y") }} - {{ membershipCard.expiryDate|date("d/m/Y") }}</td>
				<td class="ac no-wrap">
					<img class="action-buttons-spacer" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="1" height="0" alt="" />
					<div class="clear"></div>
					<button data-id="{{ membershipCard.id }}" class="ui-corner-none ui-corner-tr ui-corner-br button ui-button-red action-confirm-delete-membership-card" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</button>
					<button data-id="{{ membershipCard.id }}" class="ui-corner-none action-view-report button" data-icon-primary="ui-icon-document" data-icon-only="true" data-notification="{{ membershipCard.items }}">Report</button>
					<button data-id="{{ membershipCard.id }}" class="ui-corner-none button{% if membershipCard.userId > 0 %} action-confirm-release-user ui-button-red{% endif %}" data-icon-primary="ui-icon-refresh" data-icon-only="true">Release Customer</button>
					<button data-id="{{ membershipCard.id }}" class="ui-corner-none button{% if membershipCard.userId == 0 %} action-assign-user ui-button-green{% endif %}" data-icon-primary="ui-icon-person" data-icon-only="true">Assign Customer</button>
					<button data-id="{{ membershipCard.id }}" data-user-id="{{ membershipCard.userId }}" class="ui-corner-none button{% if membershipCard.userId > 0 %} action-view-customer ui-button-green{% endif %}" data-icon-primary="ui-icon-contact" data-icon-only="true">Customer</button>
					<button data-id="{{ membershipCard.id }}" class="ui-corner-none ui-corner-tl ui-corner-bl action-view-membership-card button" data-icon-primary="ui-icon-gear" data-icon-only="true">Membership Card</button>
				</td>
			</tr>
			<tr class="ui-helper-hidden more-information" id="more-information-{{ membershipCard.id }}">
				<td colspan="10" class="no-padding">
					<div class="more-information-container no-padding-top">
						<div class="spacer">
							<button class="action-close-more-information button ui-button-blue full ui-corner-none ui-corner-bl ui-corner-br" data-icon-primary="ui-icon-triangle-1-n" data-icon-secondary="ui-icon-triangle-1-n">CLOSE INFORMATION PANEL</button>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
						{% include 'WebIlluminationAdminBundle:MembershipCards:listingMembershipCard.html.twig' with {'membershipCard': membershipCard} %}
						{% include 'WebIlluminationAdminBundle:MembershipCards:listingCustomer.html.twig' with {'membershipCard': membershipCard} %}
						{% include 'WebIlluminationAdminBundle:MembershipCards:listingAssignUser.html.twig' with {'contacts': contacts, 'membershipCard': membershipCard} %}
						{% include 'WebIlluminationAdminBundle:MembershipCards:listingConfirmReleaseUser.html.twig' with {'membershipCard': membershipCard} %}
						{% include 'WebIlluminationAdminBundle:MembershipCards:listingReport.html.twig' with {'membershipCard': membershipCard} %}
						{% include 'WebIlluminationAdminBundle:MembershipCards:listingConfirmDelete.html.twig' with {'membershipCard': membershipCard} %}
					</div>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
	$(document).ready(function() {
		$("#data :checkbox:not(.no-uniform), #data :radio:not(.no-uniform), #data select:not(.no-uniform), #data :file:not(.no-uniform)").uniform();
			$("#data .button").each(function () {
            $(this).button({
            	icons: {
                	primary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-primary'):null, 
                    secondary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-secondary'):null
                }, 
               	text: $(this).attr('data-icon-only') === 'true'?false:true
        	});
        	var $dataNotification = $(this).attr("data-notification");
        	if (($(this).attr("data-notification") != "") && ($(this).attr("data-notification") != undefined))
        	{
        		$(this).prepend('<div class="button-notification">'+$(this).attr("data-notification")+'</div>');
        	}
        });
        $(".message.closeable").prepend('<span class="message-close ui-icon ui-icon-circle-close"></span>').find('.message-close').click(function () {
	    	$(this).parent().fadeOut();
	    });
	    
	    {# Set the widths of the action buttons #}
		var $actionButtonsWidth = 0;
		$actionButtonsWidth = $actionButtonsWidth + $("tr.order button.action-confirm-delete-voucher-code:eq(0)").outerWidth(true);
		$actionButtonsWidth = $actionButtonsWidth + $("tr.order button.action-view-report:eq(0)").outerWidth(true);
		$actionButtonsWidth = $actionButtonsWidth + $("tr.order button.action-view-discounts:eq(0)").outerWidth(true);
		$actionButtonsWidth = $actionButtonsWidth + $("tr.order button.action-view-voucher-code:eq(0)").outerWidth(true);
		$(".action-buttons-spacer").width($actionButtonsWidth).attr("width", $actionButtonsWidth);
	});
</script>