<div class="ui-helper-hidden more-information-detail form" id="membership-card-assign-user-{{ membershipCard.id }}">
	<h5 class="no-margin-top">Assign a Customer</h5>
	<table width="100%">
		<tr>
			<td width="80" class="label"><label>Customer:</label></td>
			<td class="no-padding">
				<select id="user-id-{{ membershipCard.id }}" class="no-margin full" required="required" data-message="Please select a customer.">
					<option value="">- Please Select -</option>
					{% for contact in contacts %}
						<option value="{{ contact.objectId }}">{{ contact.firstName }} {% if contact.middleName != '' %}{{ contact.middleName }}{% endif %} {{ contact.lastName }}{% if contact.organisationName != '' %} ({{ contact.organisationName }}){% endif %}</option>				
					{% endfor %}
				</select>
			</td>
			<td width="200" class="no-padding">
				<div class="position-relative">
					<input placeholder="Find a customer&hellip;" type="text" id="user-search-{{ membershipCard.id }}" class="embedded-icon no-margin full" value="" />
					<span class="icon-embedded ui-button-icon-primary ui-icon ui-icon-search no-margin"></span>
				</div>
			</td>
		</tr>
	</table>
	<div class="buttons">
		<button data-id="{{ membershipCard.id }}" class="action-save-user button ui-button-green" data-icon-primary="ui-icon-check">Assign Customer</button>
		<div class="clear"></div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#user-search-{{ membershipCard.id }}").autocomplete({
			source: contacts,
			focus: function(event, ui) {
				$("#user-search-{{ membershipCard.id }}").val(ui.item.label);
				$("#uniform-user-id-{{ membershipCard.id }} span").html($("#user-id-{{ membershipCard.id }} option[value='"+ui.item.value+"']").text());
				$("#user-id-{{ membershipCard.id }} option").removeAttr("selected");
				$("#user-id-{{ membershipCard.id }} option[value='"+ui.item.value+"']").attr("selected", "selected");
				return false;
			},
			select: function(event, ui) {
				$("#user-search-{{ membershipCard.id }}").val("");
				return false;
			}
		});
	});
</script>