<li class="guarantee-container" data-index="{{ index }}" id="guarantee-{{ index }}">
	<div>
		<table width="100%">
			<tbody>
				<tr>
					<td width="9">
						<img class="draggable" width="9" height="17" src="{{ asset('bundles/webilluminationadmin/images/icons/draggable.png') }}" border="0" alt="Drag to re-order" />
					</td>
					<td width="1" class="delete">
						<input data-index="{{ index }}" type="checkbox" class="guarantee-select" id="form-guarantee-select-{{ index }}" value="1" />
					</td>
					<td>
						<select autocomplete="off" required="required" data-message="Please select a guarantee type." class="guarantee-type full" id="form-guarantee-type-id-{{ index }}">
			        		<option value="">- Select Type -</option>
			        		{% for guaranteeType in guaranteeTypes %}
		                		<option value="{{ guaranteeType.id }}"{% if data.guaranteeTypeId is defined %}{% if guaranteeType.id == data.guaranteeTypeId %} selected="selected"{% endif %}{% endif %}>{{ guaranteeType.guaranteeType|raw }}</option>
		            		{% endfor %}
			        	</select>
					</td>
					<td width="140">
			        	<select autocomplete="off" required="required" data-message="Please select a guarantee length." class="guarantee-length full" id="form-guarantee-length-id-{{ index }}">
			        		<option value="">- Select Length -</option>
			        		{% for guaranteeLength in guaranteeLengths %}
		                		<option value="{{ guaranteeLength.id }}"{% if data.guaranteeLengthId is defined %}{% if guaranteeLength.id == data.guaranteeLengthId %} selected="selected"{% endif %}{% endif %}>{{ guaranteeLength.guaranteeLength|raw }}</option>
		            		{% endfor %}
			        	</select>
					</td>
					<td width="1">
						<input type="hidden" class="guarantee-display-order" id="form-guarantee-display-order-{{ index }}" value="{{ index }}" />
						<input type="hidden" data-index="{{ index }}" class="guarantee-requires-update" id="form-guarantee-requires-update-{{ index }}" value="0" />
						<input type="hidden" data-index="{{ index }}" class="guarantee-id" id="form-guarantee-id-{{ index }}" value="{% if data.id is defined %}{{ data.id}}{% else %}0{% endif %}" />
						<button data-index="{{ index }}" class="button ui-button-red action-confirm-delete-guarantee" data-icon-primary="ui-icon-closethick">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</li>