{% if data.listing.pagination > 1 %}
	<div class="listing-pagination">
		<div class="pagination-container">
			<div class="fr">
				<ul class="pagination clearfix">
					{% if data.listing.currentPage > 1 %}
						<li class="page-navigation" data-page="1"><a href="Javascript:void(0);">First</a></li>
						<li class="page-navigation" data-page="{{ data.listing.previousPage }}"><a href="Javascript:void(0);">&laquo;</a></li>
					{% endif %}
					{% for listingPage in 1..data.listing.pagination %}
				    	<li data-page="{{ listingPage }}" class="page-navigation{% if data.listing.currentPage == listingPage %} current{% endif %}"><a href="Javascript:void(0);">{{ listingPage }}</a></li>
				    {% endfor %}
				    {% if data.listing.currentPage < data.listing.pagination %}
					    <li class="page-navigation" data-page="{{ data.listing.nextPage }}"><a href="Javascript:void(0);">&raquo;</a></li>
						<li class="page-navigation" data-page="{{ data.listing.pagination }}"><a href="Javascript:void(0);">&hellip;{{ data.listing.pagination }}</a></li>
					{% endif %}
				</ul>
			</div>	
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
{% endif %}