{% extends '::shop.html.twig' %}
{% block title %}Worktops, Charcoal Filters, Cooker Hoods, Built-in Microwaves, Integrated Dishwashers, Integrated Washing Machines, Refrigeration, Cleaning Products, Glass Splashbacks, Waste Disposer, Sinks, Taps, Plinth Heaters, Range Cookers, Ducting, Hobs, Ovens, Coffee Machines, Solid Surface Worktops, Kitchen Appliances{% endblock %}
{% block slider %}
	<div class="container_8 clearfix">
		<header>
			<div class="slider-gallery-container">
				<div class="slider-gallery">
					<div class="slider-element">
						<a href="{{ path('page_request', {'url': 'cda'}) }}"><img src="{{ asset('/bundles/kacshop/images/headers/cda-10pc-off-september-2012.jpg') }}" alt="10% OFF ALL CDA Appliances" /></a>
					</div>
					<!--<div class="slider-element">
						<a href="{{ path('page_request', {'url': 'steaming-instant-hot-water-tap-h3300c-chrome-hot-water-taps-insinkerator'}) }}"><img src="{{ asset('/bundles/kacshop/images/headers/insinkerator-offer-september-2012.jpg') }}" alt="Save £80 on the Insinkerator Instant Hot Water Tap H3300C" /></a>
					</div>-->
			    	<div class="slider-element">
			    		<a href="{{ path('department_with_brand', {'brand': 'insinkerator', 'url': 'sinks-and-taps/sink-waste-disposers'}) }}"><img src="{{ asset('/bundles/kacshop/images/headers/insinkerator-sink-waste-disposers-july-2012.jpg') }}" alt="Insinkerator Sink Waste Disposers" /></a>
			    		<h3 class="left">In Sink Erator Waste Disposals from &pound;79</h3>
			    		<p class="left">A food waste disposer is a simply must-have appliance for the modern kitchen. A waste disposer from InSinkErator doesn't just offer practical, contemporary convenience; it provides an environmentally responsible answer to the growing problem of food waste.</p>
			    		<a href="{{ path('department_with_brand', {'brand': 'insinkerator', 'url': 'sinks-and-taps/sink-waste-disposers'}) }}" class="button left ui-button-green">More Details</a>
			    	</div>
			    	<div class="slider-element">
						<a href="{{ path('page_request', {'url': 'caple'}) }}"><img src="{{ asset('/bundles/kacshop/images/headers/caple-10pc-off-september-2012.jpg') }}" alt="10% OFF ALL CAPLE APPLIANCES IN {{ "now"|date("F")|upper }}" /></a>
						<h3 class="right">10% OFF all Caple Appliances in {{ "now"|date("F") }}</h3>
						<p class="right">Grab yourself a bargain on all Caple Appliances this {{ "now"|date("F") }}, no spending limit, no strings, no upto’s just a straight 10% off.. Don’t miss out, this offer will not be on forever...</p>
						<a href="{{ path('page_request', {'url': 'caple'}) }}" class="button right ui-button-green">More Details</a>
					</div>
			    	<div class="slider-element">
				    	<a href="{{ path('department_with_brand', {'brand': 'sensio', 'url': 'kitchen-essentials/kitchen-electricals'}) }}"><img src="{{ asset('/bundles/kacshop/images/headers/sensio-powerpod-july-2012.jpg') }}" alt="Sensio Powerpod" /></a>
				    	<h3 class="left">Sensio Powerpod</a></h3>
				    	<p class="left">The Sensio Powerpod demonstrates Sensio's fresh approach to innovative kitchen power solutions, Offering far more than the average retractable socket the Sensio Powerpod boasts two USB ports in addition to three power sockets. It allows the user to charge their iPod or use other USB powered devices within the convenience of the kitchen.</p>
				    	<a href="{{ path('department_with_brand', {'brand': 'sensio', 'url': 'kitchen-essentials/kitchen-electricals'}) }}" class="button left ui-button-green">More Details</a>
				    </div>
				    <div class="slider-element">
						<a href="{{ path('department_with_brand', {'brand': 'neff', 'url': 'ovens-hobs/built-in-single-ovens/built-in-single-oven'}) }}"><img src="{{ asset('/bundles/kacshop/images/headers/neff-slideaway-built-in-single-oven-july-2012.gif') }}" alt="Neff SlideAway Built-in Single Oven" /></a>
						<h3 class="right">Neff Ovens with SlideAway Door</h3>
						<p class="right">The SlideAway door is unique to Neff, pulls down smoothly to be stored neatly under the oven cavity allowing better access and still maintaining a large 67 litre capacity, Great for kitchens where space is an issue...</p>
						<a href="{{ path('department_with_brand', {'brand': 'neff', 'url': 'ovens-hobs/built-in-single-ovens/built-in-single-oven'}) }}" class="button right ui-button-green">More Details</a>
					</div>
				</div>
				<div class="slider-navigation-container">
					<div id="slider_gallery_navigation" class="slider-navigation"></div>
				</div>
			</div>
		</header>
	</div>
{% endblock %}
{% block body %}
	<section class="container_6 clearfix no-padding-top">
		{#<div class="grid_6"> 
			<div class="portlet">
				<header>
	                <h2>This Weeks Special Offers...</h2>
	            </header>
				<section class="no-padding">
					<div class="slider-products-container">
						<div class="slider-products">
							{% for product in specialOffers %}
								{% if (loop.index % 3) == 1 %}
						        	<div class="special-offer-container">
						        {% endif %}
					        	<div itemscope itemtype="http://schema.org/Product" class="product{% if (loop.index % 3) == 0 %} no-margin{% endif %}" data-product-id="{{ product.productId }}" id="product-{{ product.productId }}">
									<h4><a itemprop="name" href="{{ path('page_request', {'url': product.url}) }}">{{ product.header }}</a></h4>
									<div class="product-information">
										<a href="{{ path('page_request', {'url': product.url}) }}"><img src="{{ asset(product.thumbnailPath) }}" border="0" alt="{{ product.header }}" width="100" height="100"></a>
										<div class="product-description">
											{% include 'KACShopBundle:Products:price.html.twig' with {'url': product.url,'productCode': product.productCode, 'recommendedRetailPrice': product.recommendedRetailPrice, 'listPrice': product.listPrice, 'savings': product.savings, 'membershipCardPrice': product.membershipCardPrice, 'hidePrice': product.hidePrice} %}
											{% include 'KACShopBundle:Products:buyNow.html.twig' with {'product': product} %}
										</div>
										<div class="clear"></div>
									</div>
									<div class="clear"></div>
								</div>
								{% if (loop.index % 3) == 0 %}
										<div class="clear"></div>
						        	</div>
						        {% endif %}
							{% endfor %}
						</div>
						<div class="slider-navigation-container">
							<div id="slider_products_navigation" class="slider-navigation"></div>
						</div>
					</div>
	            </section>
	        </div>
	    </div>
	   	<div class="clear"></div>
		<div class="grid_6 leading">#}
		<div class="grid_6 leading">
			<div class="portlet">
				<header>
	                <h2>Popular Departments</h2>
	            </header>
				<section class="no-padding-bottom">
					<div class="department">
		        		<h4><a href="{{ path('page_request', {'url': 'dishwashers-and-laundry'}) }}">Washing Machines and Dryers</a></h4>
		        		<a href="{{ path('page_request', {'url': 'dishwashers-and-laundry'}) }}"><img src="{{ asset('/bundles/kacshop/images/departments/washing-machines-and-dryers.jpg') }}" border="0" alt="Washing Machines and Dryers" width="191" height="191" /></a>
		        	</div>
		        	<div class="department">
		        		<h4><a href="{{ path('page_request', {'url': 'refrigeration-and-wine-coolers'}) }}">Fridges and Freezers</a></h4>
		        		<a href="{{ path('page_request', {'url': 'refrigeration-and-wine-coolers'}) }}"><img src="{{ asset('/bundles/kacshop/images/departments/fridges-and-freezers.jpg') }}" border="0" alt="Fridges and Freezers" width="191" height="191" /></a>
		        	</div>
		        	<div class="department">
		        		<h4><a href="{{ path('page_request', {'url': 'dishwashers-and-laundry/integrated-and-built-in-dishwashers-uk'}) }}">Dishwashers</a></h4>
		        		<a href="{{ path('page_request', {'url': 'dishwashers-and-laundry/integrated-and-built-in-dishwashers-uk'}) }}"><img src="{{ asset('/bundles/kacshop/images/departments/dishwashers.jpg') }}" border="0" alt="Dishwashers" width="191" height="191" /></a>
		        	</div>
		        	<div class="department no-margin-right">
		        		<h4><a href="{{ path('page_request', {'url': 'ovens-hobs'}) }}">Cookers and Ovens</a></h4>
		        		<a href="{{ path('page_request', {'url': 'ovens-hobs'}) }}"><img src="{{ asset('/bundles/kacshop/images/departments/cookers-and-ovens.jpg') }}" border="0" alt="Cookers and Ovens" width="191" height="191" /></a>
		        	</div>
		        	<div class="department">
		        		<h4><a href="{{ path('page_request', {'url': 'ovens-hobs'}) }}">Hobs</a></h4>
		        		<a href="{{ path('page_request', {'url': 'ovens-hobs'}) }}"><img src="{{ asset('/bundles/kacshop/images/departments/hobs.jpg') }}" border="0" alt="Hobs" width="191" height="191" /></a>
		        	</div>
		        	<div class="department">
		        		<h4><a href="{{ path('page_request', {'url': 'cooker-hoods'}) }}">Cooker Hoods</a></h4>
		        		<a href="{{ path('page_request', {'url': 'cooker-hoods'}) }}"><img src="{{ asset('/bundles/kacshop/images/departments/cooker-hoods.jpg') }}" border="0" alt="Cooker Hoods" width="191" height="191" /></a>
		        	</div>
		        	<div class="department">
		        		<h4><a href="{{ path('page_request', {'url': 'sinks-and-taps'}) }}">Sinks and Taps</a></h4>
		        		<a href="{{ path('page_request', {'url': 'sinks-and-taps'}) }}"><img src="{{ asset('/bundles/kacshop/images/departments/sinks-and-taps.jpg') }}" border="0" alt="Sinks and Taps" width="191" height="191" /></a>
		        	</div>
		        	<div class="department no-margin-right">
		        		<h4><a href="{{ path('page_request', {'url': 'compact-appliances'}) }}">Compact Appliances</a></h4>
		        		<a href="{{ path('page_request', {'url': 'compact-appliances'}) }}"><img src="{{ asset('/bundles/kacshop/images/departments/compact-appliances.jpg') }}" border="0" alt="Compact Appliances" width="191" height="191" /></a>
		        	</div>
		        	<div class="clear"></div>
				</section>
	        </div>
	    </div>
	   	<div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script defer="defer" type="text/javascript">
		$(document).ready(function() {
			$(".special-offer .features-link").click(function() {
				if ($(this).html() == '+ Show Features')
				{
					$(".special-offer .features-link").html('- Hide Features');
					$(".special-offer .features").slideDown();
				} else {
					$(".special-offer .features-link").html('+ Show Features');
					$(".special-offer .features").slideUp();
				}
			});
		});
	</script>
{% endblock %}