{% extends '::shop.html.twig' %}
{% block title %}Ride Direct Privilege Discount Card{% endblock %}
{% block metatags %}
	<meta name="description" content="Enjoy the benefits of the Ride Direct Privilege Card. 10% ongoing discount, Kawasaki test days, savings, free stickers and much more.">
	<meta name="keywords" content="ride direct, privilege card, test days, kawasaki, discount, savings, membership, member, card, offers, discount codes, voucher codes, benefits">
{% endblock %}
{% block slider %}
	<div class="container_8 clearfix">
		<header>
			<div class="slider-gallery-container">
				<div class="slider-gallery">
					<div class="slider-element">
						<img src="{{ asset('/bundles/webilluminationshop/images/headers/join-the-club.jpg') }}" alt="Join the Club!" />
						<h3 class="right">Join the Club!</h3>
						<div class="slogan right"><img width="500" height="60" src="{{ asset('/bundles/webilluminationshop/images/logos/ride-direct-slogan-white.png') }}" alt="Committed to giving riders more…" /></div>
					</div>
				</div>
			</div>
		</header>
	</div>
{% endblock %}
{% block body %}
	<header>
		<h1>Enjoy the Benefits of the Ride Direct Privilege Discount Card</h1>
	</header>
	<section class="container_6 clearfix">
		<div class="grid_4"> 
			<div class="portlet">
				<header>
	                <h2>What benefits do I receive with my card?</h2>
	            </header>
				<section id="privelege-card-benefits">
					<div class="clearfix">
						<img class="fr" src="{{ asset('/bundles/webilluminationshop/images/privilege-card.png') }}" alt="Ride Direct Privilege Card" />
						<ul class="no-margin-bottom">
							<li>10% Ongoing Discount Off Parts, Gear & Accessories (Off RRP price)</li>
							<li>Big Discounts Off New Kawasaki Motocross & Enduro Bikes</li>
							<li>Kawasaki Test Days</li>
							<li>Savings at <a target="_blank" href="http://www.stalkermx.com/">Stalker MX Practice Track</a></li>
							{#<li>Discount Off <a target="_blank" href="http://www.themotocrossschool.com/">Paul Malin Motocross Training School</a></li>#}
							<li>Monthly Exclusive Members Online Offers</li>
							<li>Free Stickers</li>
							<li>£50 Online Discount Vouchers</li>
							<li>More Members Benefit's &amp; Savings Coming Soon...</li>
						</ul>
					</div>
				</section>
	        </div>
	    </div>
	    <div class="grid_2"> 
			<div class="portlet">
				<header>
	                <h2 class="ac">Get your Privielege Card Now!</h2>
	            </header>
				<section id="privelege-card-get-now">
					<div class="clearfix">
						<h4 class="ac product-title">Special Offer<br />Ending Soon</h4>
						<div class="product-information">
							<div class="ac product-description">
								<p class="product-code">Code: <strong>PRIVILEGE</strong></p>
								<p class="product-was-price">RRP <span>&pound;10.00</span> save &pound;9.00</p>
								<p class="product-price">&pound;1.00</p>
								<p class="product-tax">(incl. VAT)</p>
								<div class="buy-now">
									<button class="action-add-membership-card-to-basket button ui-button-orange">Add to Basket</button>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</section>
	        </div>
	    </div>
	   	<div class="clear"></div>
	   	<div class="grid_6 leading"> 
			<div class="portlet">
				<section>
					<div class="ac clearfix">
						<a target="_blank" href="http://www.kawasaki.co.uk/"><img src="{{ asset('/bundles/webilluminationshop/images/logos/kawasaki-logo.jpg') }}" alt="Kawasaki" /></a>
						<a target="_blank" href="http://www.stalkermx.com/"><img src="{{ asset('/bundles/webilluminationshop/images/logos/stalker-mx-logo.jpg') }}" alt="Stalker MX" /></a>
						{#<a target="_blank" href="http://www.themotocrossschool.com/"><img src="{{ asset('/bundles/webilluminationshop/images/logos/the-mx-school-logo.jpg') }}" alt="The MX School" /></a>#}
					</div>
				</section>
	        </div>
	    </div>
	    <div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script defer="defer" type="text/javascript">
		$(document).ready(function() {
			$("#privelege-card-get-now").height($("#privelege-card-benefits").height());
			{# Add the privilege card to the basket #}
			$(".action-add-membership-card-to-basket").live('click', function() {
				$("#ajax-loading").show();
				$.ajax({
	   				type: "GET",
	   				url: "{{ path('basket_ajax_add_membership_card_to_basket') }}",
	   				error: function(data) {
			      		$("#message-error-text").html('Sorry, there was a problem adding The Ride Direct Privilege Card to your basket. Please try again.');
						$("#message-error").fadeIn(function() {
							$("html, body").animate({scrollTop: $("#message-error").offset().top - 15},'slow');
							$("#ajax-loading").hide();
						});
			      	},
	   				success: function(data) {
	   					getBasketSummary();
	   					$("#message-success-text").html('The Ride Direct Privilege Card was added to your basket.');
						$("#message-success").fadeIn(function() {
							$("html, body").animate({scrollTop: 0},'slow');
							$("#ajax-loading").hide();
						});
	   				}
	 			});
			});
		});
	</script>
{% endblock %}