{% extends ':Old:shop.html.twig' %}
{% block title %}Ride Direct Practice Day{% endblock %}
{% block metatags %}
	<meta name="description" content="The weekend saw the first Ride Direct practice weekend and it was a great success. The event took place at Stalkers MX and with sun, rain and even a little snow it was a good test of their excellent new all-weather track.">
	<meta name="keywords" content="ride direct, practice day, track day, kawasaki, stalker mx, bike, motocross, off-road, off road, gonerby moor, chris walker, plutoline oil, michelin tyres">
{% endblock %}
{% block slider %}
	<div class="container_8 clearfix">
		<header>
			<div class="slider-gallery-container">
				<div class="slider-gallery">
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-track.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-1.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-2.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-3.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-4.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-5.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-6.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-7.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-8.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-9.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-10.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-11.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-12.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-13.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-14.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-15.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-16.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-17.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-18.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-19.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
					<div class="slider-element"><img src="{{ asset('/bundles/webilluminationshop/images/headers/practice-day/stalker-mx-20.jpg') }}" alt="Ride Direct Practice Weekend" /></div>
				</div>
				<div class="slider-navigation-container">
					<div id="slider_gallery_navigation" class="slider-navigation"></div>
				</div>
			</div>
		</header>
	</div>
{% endblock %}
{% block body %}
	<header>
        <h1>Ride Direct Practice and Test Day was a Great Success!</h1>
    </header>
	<section class="container_6 clearfix">
		<div class="grid_4"> 
			<div class="portlet">
				<header>
	                <h2>Ride Direct Practice Weekend</h2>
	            </header>
				<section id="track-day-details">
					<p class="no-margin-top"><strong>Ride Direct enjoyed their first practice weekend on Saturday 3rd and Sunday 4th March.</strong></p>
					<p>The weekend saw the first Ride Direct practice weekend and it was a great success. The event took place at Stalkers MX and with sun, rain and even a little snow it was a good test of their excellent new all-weather track.</p>
					<p>Riders were given the opportinity to test ride new 2012 KXF250's & KXF450's with riders giving us some great feedback on both the bikes and the track. We would like to take this opportunity to thank all the riders that attended and hope you all had as much fun as we did.</p>
					<p>The LPE Kawasaki race team was also in attendance and we would like to thank them and their mechanics for all their hard work over this weekend. We had support from Kawasaki, Acerbis, Michelin, Putoline, Scott, Madison, CI Sport, Apico and Maxxis and we must send out a big thank you to Chris Walker for hosting the event at his track and his fantastic support.</p>
				</section>
	        </div>
	    </div>
	    <div class="grid_2"> 
			<div class="portlet">
				<header>
	                <h2 class="ac">Get your Privielege Card Now!</h2>
	            </header>
				<section id="track-day-privielege-card">
					<div class="clearfix">
						<h4 class="ac product-title">Special Offer<br />Ending Soon</h4>
						<div class="product-information">
							<div class="ac product-description">
								<p class="product-code">Code: <strong>PRIVILEGE</strong></p>
								<p class="product-was-price">RRP <span>&pound;10.00</span> save &pound;9.00</p>
								<p class="product-price">&pound;1.00</p>
								<p class="product-tax">(incl. VAT)</p>
								<div class="buy-now">
									<button class="action-add-membership-card-to-basket button ui-button-orange">Add to Basket</button>
								</div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</section>
	        </div>
	    </div>
	    <div class="clear"></div>
		<div class="grid_6 leading"> 
			<div class="portlet">
				<header>
	                <h2>Register for the Ride Direct Practice Day</h2>
	            </header>
				<section id="track-day-registration">
					<div class="clearfix">
						<div class="info-message ui-status-highlight no-margin-bottom">
							<span class="info-message-icon ui-icon ui-icon-info"></span>
							<p>The practice day has now finished and was a great success. Thank you to all those who took part.</p>
							<p>Please check the site again soon for information on our next practice day weekend.</p>
							<div class="clear"></div>
						</div>
						{#<div class="info-message ui-status-highlight">
							<span class="info-message-icon ui-icon ui-icon-info"></span>
							<p>To register for the Ride Direct practice day please enter your details below.</p>
							<p><strong>PLEASE NOTE:</strong> You will need to have a Ride Direct Privilege Card to register. <a href="{{ path('content_privilege_card') }}">Click here</a> if you need to sign up.</p>
							<div class="clear"></div>
						</div>
						<form id="form-track-day-register" method="post" action="{{ path('content_track_day') }}" class="form has-validation">
							<div class="clearfix">
						        <label for="form-membership-number" class="form-label"><em>*</em> Your Membership Number<small>Your Privilege Card Number</small></label>
						        <div class="form-input"><input class="full" data-message="Please enter your Ride Direct Privilege Card membership number." type="text" id="form-membership-number" name="membership-number" required="required" value="{% if basket.discounts.membershipCardNumber > 1 %}{{ basket.discounts.membershipCardNumber }}{% endif %}" /></div>
						    </div>
							<div class="clearfix">
						        <label for="form-name" class="form-label"><em>*</em> Your Name<small>Enter your full name</small></label>
							    <div class="form-input no-margin-bottom"><input class="full" data-message="Please enter your full name." type="text" id="form-name" name="name" required="required" value="{% if (order.firstName != '') and (order.lastName != '') %}{{ order.firstName }} {{ order.lastName }}{% endif %}" /></div>
						    </div>
						    <div class="clearfix">
						        <label for="form-email-address" class="form-label"><em>*</em> Your Email Address<small>Enter a valid email address</small></label>
						        <div class="form-input no-margin-bottom"><input class="full email" data-message="Please enter a valid email address." type="email" id="form-email-address" name="email-address" required="required" value="{{ order.emailAddress }}" /></div>
						    </div>
						    <div class="clearfix">
						        <label for="form-contact-number" class="form-label"><em>*</em> Your Contact Number<small>Enter a contact number</small></label>
						        <div class="form-input no-margin-bottom"><input class="full telephone" data-validation-type="telephone" data-message="Please enter a contact number." type="text" id="form-contact-number" name="contact-number" required="required" value="{{ order.telephoneDaytime }}" /></div>
						    </div>
							<div class="clearfix">
						        <label for="form-post-zip-code" class="form-label"><em>*</em> Your Post Code<small>Enter your Post Code</small></label>
						        <div class="form-input"><input class="full uppercase" data-validation-type="postcode" data-message="Please enter a Post Code." type="text" id="form-post-zip-code" name="post-zip-code" required="required" value="{{ order.billingPostZipCode }}" /></div>
						    </div>
						    <div class="clearfix">
						        <label for="form-age-range" class="form-label"><em>*</em> Age Range<small>How old are you?</small></label>
						        <div class="form-input no-margin-bottom">
						        	<label><input type="radio" name="age-range" checked="checked" id="form-age-range-adult" value="Adult (18+)" /> Adult (18+)</label>
						        	<label><input type="radio" name="age-range" id="form-age-range-youth" value="Youth (17 or under)" /> Youth (17 or under)</label>
						        	<label><input type="radio" name="age-range" id="form-age-range-kid" value="Kid (6 and over)" /> Kids Track (6 and over)</label>
							    </div>
						    </div>
						    <div class="clearfix">
						        <label for="form-day-attending" class="form-label"><em>*</em> Day Attending<small>What day will you be attending?</small></label>
						        <div class="form-input no-margin-bottom">
						        	<label><input type="radio" name="day-attending" checked="checked" id="form-days-attending-saturday" value="Saturday 3rd" /> Saturday 3rd</label>
						        	<label><input type="radio" name="day-attending" id="form-day-attending-sunday" value="Sunday 4th" /> Sunday 4th</label>
							    </div>
						    </div>
							<div class="clearfix">
						        <label for="form-bike-details" class="form-label"><em>*</em> Bike Make, Model and CC<small>e.g. Kawasaki KX 125</small></label>
						        <div class="form-input"><input class="full" data-message="Please enter you bike details." type="text" id="form-bike-details" name="bike-details" required="required" value="" /></div>
						    </div>
						    <div class="clearfix">
						        <div class="form-input buttons no-margin-bottom">
						    		<button type="submit" class="button action-save-about-you ui-button-orange" data-icon-primary="ui-icon-circle-check">Register</button>
						        </div>
						    </div>
						</form>#}
					</div>
				</section>
	        </div>
	    </div>
	    <div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script defer="defer" type="text/javascript">
		$(document).ready(function() {
			$(".selector").addClass("full");
			$("#track-day-privielege-card").height($("#track-day-details").height());
			$("#form-track-day-register").validator({
    			position : 'bottom left', 
    			offset : [0, 250], 
    			messageClass : 'form-error', 
        		message : '<div><em/></div>'
			});
			{# Add the privilege card to the basket #}
			$(".action-add-membership-card-to-basket").live('click', function() {
				$("#ajax-loading").show();
				$.ajax({
	   				type: "GET",
	   				url: "{{ path('basket_ajax_add_membership_card_to_basket') }}",
	   				error: function(data) {
			      		$("#message-error-text").html('Sorry, there was a problem adding The Ride Direct Privilege Card to your basket. Please try again.');
						$("#message-error").fadeIn(function() {
							$("html, body").animate({scrollTop: $("#message-error").offset().top - 15},'slow');
							$("#ajax-loading").hide();
						});
			      	},
	   				success: function(data) {
	   					getBasketSummary();
	   					$("#message-success-text").html('The Ride Direct Privilege Card was added to your basket.');
						$("#message-success").fadeIn(function() {
							$("html, body").animate({scrollTop: 0},'slow');
							$("#ajax-loading").hide();
						});
	   				}
	 			});
			});
		});
	</script>
{% endblock %}