{% extends '::email.html.twig' %}
{% block title %}Your Ride Direct Practice Day Registration{% endblock %}
{% block body %}
	<table cellspacing="0" border="0" style="background-color: #DDDDDD;" cellpadding="0" width="100%">
		<tr>
			<td valign="top" style="padding: 20px 0;">
				<table cellspacing="0" border="0" align="center" style="background: #FFFFFF; border: 1px solid #CCCCCC;" cellpadding="0" width="600">
					<tr>
						<td valign="top">
							<table cellspacing="0" border="0" cellpadding="0" width="600">
								<tr>
									<td valign="top" style="padding: 20px;" width="560">
										<p style="padding: 0; margin: 0; text-align: center;"><img width="500" height="150" alt="Committed to Giving Riders More" border="0" src="http://www.ridedirect.co.uk/bundles/kacshop/images/logos/ride-direct-email-logo-and-slogan.gif" /></p>
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 10px 0 10px 0; margin: 0; line-height: 120%;"><strong>Thank you for registering to join us at the Ride Direct Practice Day at the all new, all-weather practice track.</strong></p>
										<p style="font-family: 'Arial Black', Arial; text-align: center; font-size: 24px; color: #5FA729; padding: 0 0 10px 0; margin: 0; line-height: 120%;">RIDE DIRECT VOUCHER: &pound;10 ONLY</p>
										<p style="text-align: center; font-family: Arial; font-size: 10px; color: #999999; padding: 0 0 10px 0; margin: 0; line-height: 120%;"><em>This Discounted Price is Only Valid with Your Ride Direct Privilege Membership Card.</em></p>
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 0 0 10px 0; margin: 0; line-height: 120%;">Please make sure you read all details below and make sure you bring this voucher and your membership card with you:</p>
										<table style="border-collapse: collapse; border: 1px solid #CCC;" cellspacing="0" border="0" cellpadding="0" width="560">
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>Name:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">{{ name }}</td>
											</tr>
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>Membership Number:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">{{ membershipNumber }}</td>
											</tr>
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>Your Email Address:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">{{ emailAddress }}</td>
											</tr>
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>Your Contact Number:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">{{ contactNumber }}</td>
											</tr>
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>Your Post Code:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">{{ postZipCode }}</td>
											</tr>
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>Age Selected:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">{{ ageRange }}</td>
											</tr>
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>Day Selected:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">{{ dayAttending }}</td>
											</tr>
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>Time:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">10am till 4pm</td>
											</tr>
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>Bike Make, Model and CC:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">{{ bikeDetails }}</td>
											</tr>
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>Venue Address:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">Stalker MX Track Gonerby Moor, Great Gonerby, Grantham, Lincolnshire, NG32 2AB</td>
											</tr>
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>Contact Number Before Event:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">Ride Direct on 01332 365 913</td>
											</tr>
											<tr>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #DDDDDD; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px; font-weight: bold;" width="180"><strong>Contact Numbers on Event:</strong></td>
												<td valign="top" align="left" style="border: 1px solid #CCC; line-height: 120%; background: #FFFFFF; color: #000; font-size: 11px; font-family: Arial; padding: 5px 10px;">07940 585 505 or 07785 425 499</td>
											</tr>
										</table>
										<p style="font-family: Arial; font-size: 11px; color: #000000; padding: 10px 0 0 0; margin: 0; line-height: 120%;"><strong>SPECIAL NOTE</strong>: Weather-permitting, please check our website the day before.</p>
										{% include '::emailFooter.html.twig' %}
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
{% endblock %}