<div id="staff-notes-container-{{ order.orderNumber }}" class="clearfix separator">
	{% if order.staffNotes|length > 0 %}
		<table class="sub-data-table" width="100%">
			<tr>
				<th class="al">Note</th>
				<th class="ac">Creator</th>
				<th class="ac">Date</th>
				<th class="ac" width="28">&nbsp;</th>
			</tr>
			{% for note in order.staffNotes %}
				<tr id="note-{{ note.id }}">
					<td class="al">{{ note.note|nl2br }}</td>
					<td class="ac">{{ note.creator }}</td>
					<td class="ac">{{ note.createdAt|date("d/m/Y h:iA") }}</td>
					<td class="ac" width="28"><button data-order-id="{{ note.orderId }}" data-note-id="{{ note.id }}" class="button ui-button-red action-confirm-delete-note" data-icon-primary="ui-icon-closethick" data-icon-only="true">Delete</button></td>
				</tr>
			{% endfor %}
		</table>
	{% else %}
		<p class="ac">There are no staff notes for this order.</p>
	{% endif %}
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#staff-notes-container-{{ order.orderNumber }} :checkbox:not(.no-uniform), #staff-notes-container-{{ order.orderNumber }} :radio:not(.no-uniform), #staff-notes-container-{{ order.orderNumber }} select:not(.no-uniform), #customer-notes-container-{{ order.orderNumber }} :file:not(.no-uniform)").uniform();
			$("#staff-notes-container-{{ order.orderNumber }} .button").each(function () {
            $(this).button({
            	icons: {
                	primary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-primary'):null, 
                    secondary: $(this).attr('data-icon-primary')?$(this).attr('data-icon-secondary'):null
                }, 
               	text: $(this).attr('data-icon-only') === 'true'?false:true
        	});
        });
	});
</script>