<h3>Notes</h3>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td width="1" class="ar label">&nbsp;</td>
		<td width="1" class="ac label">Type</td>
		<td class="ac label">Creator</td>
		<td class="ac label">Date</td>
		<td class="al label">Note</td>
		<td width="1" class="ac label">Notified?</td>
	</tr>
	{% for note in data.notes %}
		<tr>
			<td width="1" class="ar small">{{ loop.index }}</td>
			<td width="1" class="ac filterable small{% if note.noteType == 'staff' %} gradient-background-blue{% endif %}">{{ (note.noteType == 'customer'?'Customer':'Staff') }}</td>
			<td class="ac"><strong>{{ note.creator }}</strong></td>
			<td class="ac small">{{ note.createdAt|date("d/m/Y h:iA") }}</td>
			<td class="al small">{{ note.note|raw|nl2br }}</td>
			<td width="1" class="ac small{% if note.noteType == 'customer' %} gradient-background-{{ (note.notified > 0?'orange':'green') }}{% endif %}">{% if note.noteType == 'customer' %}{{ (note.notified > 0?'YES':'NO') }}{% else %}-{% endif %}</td>
		</tr>
	{% endfor %}
</table>