<h3><h3>{% if data.item.deliveryType == 'Collection' %}Collection{% else %}Delivery{% endif %} Information</h3></h3>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
	<tr>
		<td class="label">Estimated {% if data.item.deliveryType == 'Collection' %}Collection{% else %}Delivery{% endif %}</td>
		<td>Estimated {% if data.item.deliveryType == 'Collection' %}collection available{% else %}Delivery{% endif %} between <strong class="important">{{ data.item.estimatedDeliveryDaysStart }}</strong> and <strong class="important">{{ data.item.estimatedDeliveryDaysEnd }}</strong> subject to availability.</td>
	</tr>
	<tr>
		<td class="label">Delivery Type</td>
		<td{% if data.item.deliveryType == 'Collection' %} class="gradient-background-red"{% endif %}>{% if data.item.deliveryType == 'Collection' %}<strong>COLLECTION</strong>{% else %}{{ data.item.deliveryType }}{% endif %}</td>
	</tr>
	{% if data.item.deliveryType != 'Collection' %}
		<tr>
			<td class="label">Delivery Charge</td>
			<td{% if data.item.deliveryCharge == 0 %} class="gradient-background-green"{% endif %}>{% if data.item.deliveryCharge > 0 %}&pound;{{ data.item.deliveryCharge|number_format(2) }}{% else %}FREE{% endif %}</td>
		</tr>
		<tr>
			<td class="label">Courier</td>
			<td>{{ data.item.courier|default('Not Assigned Yet') }}</td>
		</tr>
		<tr>
			<td class="label">No. of Packages</td>
			<td>{{ (data.item.numberOfPackages > 0?item.numberOfPackages:'1') }}</td>
		</tr>
		{% if data.item.trackingNumber != '' %}
			<tr>
				<td class="label">Tracking Number</td>
				<td>{{ data.item.trackingNumber|default('-') }}</td>
			</tr>
		{% endif %}
		<tr>
			<td class="label">Courier labels printed?</td>
			<td class="gradient-background-{{ (data.item.labelsPrinted > 0?'green':'orange') }}">{{ (data.item.labelsPrinted > 0?'YES':'NO') }}</td>
		</tr>
		<tr>
			<td class="label">Deliver To</td>
			<td>{% spaceless %}
				{{ data.item.deliveryFirstName|upper }} {{ data.item.deliveryLastName|upper }}<br />
				{% if data.item.deliveryOrganisationName != '' %}
					{{ data.item.deliveryOrganisationName|upper }}<br />
				{% endif %}
				{{ data.item.deliveryAddressLine1|upper }}<br />
				{% if data.item.deliveryAddressLine2 != '' %}
					{{ data.item.deliveryAddressLine2|upper }}<br />
				{% endif %}
				{{ data.item.deliveryTownCity|upper }}<br />
				{% if data.item.deliveryCountyState != '' %}
					{{ data.item.deliveryCountyState|upper }}<br />
				{% endif %}
				{{ data.item.deliveryPostZipCode|upper }}
			{% endspaceless %}</td>
		</tr>
	{% endif %}
</table>