<script type="text/javascript" defer="defer">
	{# Check all elements are loaded #}
	var $listingCountLoaded = false;
	var $listingLoaded = false;
	var $listingPaginationLoaded = false;
	var $ignoreFilterChange = false;
	
	{% include 'WebIlluminationAdminBundle:'~settings.multipleItemsModel~':indexFunctions.js.twig' with {'settings': settings, 'data': data} %}	
	
	$(document).ready(function() {
		{# Show the order documents #}
		$("#item-document").dialog({
			modal: true,
			autoOpen: false,
			width: 800,
			buttons: {
				Close: function() {
					$("#item-document > iframe").attr("src", "");
					$(this).dialog("close");
				}
			}
		});
		
        {# Show the payment information #}
        $(".action-view-payment-information").live('click', function() {
        	showMoreInformation($(this).attr("data-id"), 'payment-information', $("tr#item-"+$(this).attr("data-id")+" button.action-view-payment-information"));
        });
        
        {# Show the delivery information #}
        $(".action-view-delivery-information").live('click', function() {
	        	showMoreInformation($(this).attr("data-id"), 'delivery-information', $("tr#item-"+$(this).attr("data-id")+" button.action-view-delivery-information"));
        });
        
        {# Show the customer #}
        $(".action-view-customer").live('click', function() {
        	showMoreInformation($(this).attr("data-id"), 'customer', $("tr#item-"+$(this).attr("data-id")+" button.action-view-customer"));
        });
        
        {# Show the discounts #}
        $(".action-view-discounts").live('click', function() {
        	showMoreInformation($(this).attr("data-id"), 'discounts', $("tr#item-"+$(this).attr("data-id")+" button.action-view-discounts"));
        });
        
        {# Show the order items #}
        $(".action-view-order-items").live('click', function() {
        	var $id = $(this).attr("data-id");
        	$("#item-information-details-"+$(this).attr("data-id")).hide().html("");
        	$("#item-information-details-loading-"+$(this).attr("data-id")).show();
        	showMoreInformation($(this).attr("data-id"), 'order-items', $("tr#item-"+$(this).attr("data-id")+" button.action-view-order-items"));
        	$.ajax({
   				type: "GET",
   				url: "{{ path(settings.multipleItemsPath~'_ajax_get_order_information') }}",
   				data: {
   					id: $id
	   			},
   				error: function(data) {
   					$("#item-information-details-loading-"+$id).hide();
   					$("#item-information-details-"+$id).html('<p class="ac">Sorry, no results were found.</p>').show();
		      	},
   				success: function(data) {
   					$("#item-information-details-loading-"+$id).hide();
   					$("#item-information-details-"+$id).html(data).show();
   				}
 			});
        });
        
        {# Show the documents #}
        $(".action-view-documents").live('click', function() {
        	showMoreInformation($(this).attr("data-id"), 'documents', $("tr#item-"+$(this).attr("data-id")+" button.action-view-documents"));
        });
        $(".action-print-order, .action-print-delivery-note").live('click', function() {
        	$(this).removeClass("ui-button-red").addClass("ui-button-green");
        	var $id = $(this).attr("data-id");
        	var $orderPrinted = 0;
        	if ($("#documents-"+$id+" .action-print-order").hasClass("ui-button-green"))
        	{
        		$orderPrinted = 1;
        	}
        	var $deliveryNotePrinted = 0;
        	if ($("#documents-"+$id+" .action-print-delivery-note").hasClass("ui-button-green"))
        	{
        		$deliveryNotePrinted = 1;
        	}
        	if ($orderPrinted > 0)
        	{
        		$("tr#item-"+$id+" .action-view-documents").removeClass("ui-button-yellow").addClass("ui-button-green");
        	}
        	$.ajax({
				type: "GET",
				dataType: "json",
				url: "{{ path(settings.multipleItemsPath~'_ajax_update_print_flags') }}",
				data: {
					id: $id,
					orderPrinted: $orderPrinted,
					deliveryNotePrinted: $deliveryNotePrinted
				},
				success: function(data) {
					if (data.response == 'success')
					{
						if (data.orderPrinted > 0)
						{
							$("#documents-"+data.id+" .action-print-order").removeClass("ui-button-red").addClass("ui-button-green");
						} else {
							$("#documents-"+data.id+" .action-print-order").removeClass("ui-button-green").addClass("ui-button-red");
						}
						if (data.deliveryNotePrinted > 0)
						{
							$("#documents-"+data.id+" .action-print-delivery-note").removeClass("ui-button-red").addClass("ui-button-green");
						} else {
							$("#documents-"+data.id+" .action-print-delivery-note").removeClass("ui-button-green").addClass("ui-button-red");
						}
						if ($("#form-item-status-"+data.id).val() == 'Payment Received')
						{
							$("#form-item-status-"+data.id+" option:selected").removeAttr("selected");
							$("#form-item-status-"+data.id+" option[value='Processing Your Order']").attr("selected", "selected");
							$("#uniform-form-item-status-"+data.id+" > span").html("Processing Your Order");
							$("#uniform-form-item-status-"+data.id).parent().removeClass("green").addClass("yellow");
							$("tr#item-"+data.id).removeClass("green").addClass("yellow");
						}
					}
				}
			});
        	
        });
        $(".action-send-invoice").live('click', function() {
        	$("#ajax_loading").show();
        	$.ajax({
				type: "GET",
				dataType: "json",
				url: "{{ path(settings.multipleItemsPath~'_ajax_send_invoice') }}",
				data: {
					id: $(this).attr("data-id")
				},
				error: function(data) {
					$("#ajax_loading").hide();
	      		},
				success: function(data) {
					$("#ajax_loading").hide();
				}
			});
        });
        
        {# Show the notes #}
        $(".action-view-notes").live('click', function() {
        	var $id = $(this).attr("data-id");
        	loadCustomerNotes($id);
        	loadStaffNotes($id);
        	showMoreInformation($id, 'notes', $("tr#item-"+$id+" button.action-view-notes"));
        });
        $(".action-view-add-customer-note").live('click', function() {
        	$addCustomerNoteObject = $("#add-customer-note-"+$(this).attr("data-id"));
        	if ($addCustomerNoteObject.is(":hidden"))
        	{
        		$addCustomerNoteObject.slideDown();
        		$(this).find("span.ui-icon").removeClass("ui-icon-plusthick").addClass("ui-icon-minusthick");
        	} else {
        		$addCustomerNoteObject.slideUp();
        		$(this).find("span.ui-icon").removeClass("ui-icon-minusthick").addClass("ui-icon-plusthick");
        	}
        });
        $(".action-add-customer-note").live('click', function() {
        	$("#ajax_loading").show();
        	var $notified = 0;
        	var $orderId = $(this).attr("data-id");
        	if ($("#note-notify-customer-"+$orderId).is(":checked"))
        	{
        		$notified = 1;
        	}
        	$.ajax({
				type: "GET",
				dataType: "json",
				url: "{{ path(settings.multipleItemsPath~'_ajax_add_customer_note') }}",
				data: {
					orderId: $orderId,
	    			note: $("#note-customer-note-"+$orderId).val(),
		    		notified: $notified
				},
				error: function(data) {
					$("#notes-error-message-text-"+$orderId).html('Sorry, there was a problem adding the note. Make sure you have filled in all fields and try again.');
		      		$("#notes-error-message-"+$orderId).show();
					$("#ajax_loading").hide();
		      	},
				success: function(data) {
					if (data.response == 'error')
					{
						$("#notes-error-message-text-"+$orderId).html('Sorry, there was a problem adding the note. Make sure you have filled in all fields and try again.');
			      		$("#notes-error-message-"+$orderId).show();
						$("#ajax_loading").hide();
					} else {
						loadCustomerNotes($orderId);
						if ($notified > 0)
						{
							$("#notes-success-message-text-"+$orderId).html('The customer note was successfully added and the customer has been notified.');
						} else {
							$("#notes-success-message-text-"+$orderId).html('The customer note was successfully added.');
						}
			      		$("#notes-success-message-"+$orderId).show();
			      		$("#note-customer-note-"+$orderId).val("");
			      		$("#note-notify-customer-"+$orderId).attr("checked", false);
			      		$("#uniform-note-notify-customer-"+$orderId+" span").removeClass("checked");
			      		$("#add-customer-note-"+$orderId).slideUp();
	        			$("#item-notes-"+$orderId+" button.action-view-add-customer-note span.ui-icon").removeClass("ui-icon-minusthick").addClass("ui-icon-plusthick");
						$("#ajax_loading").hide();
					}
				}
			});
        });
        $(".action-view-add-staff-note").live('click', function() {
        	$addStaffNoteObject = $("#add-staff-note-"+$(this).attr("data-id"));
        	if ($addStaffNoteObject.is(":hidden"))
        	{
        		$addStaffNoteObject.slideDown();
        		$(this).find("span.ui-icon").removeClass("ui-icon-plusthick").addClass("ui-icon-minusthick");
        	} else {
        		$addStaffNoteObject.slideUp();
        		$(this).find("span.ui-icon").removeClass("ui-icon-minusthick").addClass("ui-icon-plusthick");
        	}
        });
        $(".action-add-staff-note").live('click', function() {
        	$("#ajax_loading").show();
        	var $notified = 0;
        	var $orderId = $(this).attr("data-id");
        	$.ajax({
				type: "GET",
				dataType: "json",
				url: "{{ path(settings.multipleItemsPath~'_ajax_add_staff_note') }}",
				data: {
					orderId: $orderId,
	    			note: $("#note-staff-note-"+$orderId).val(),
		    		notified: $notified
				},
				error: function(data) {
					$("#notes-error-message-text-"+$orderId).html('Sorry, there was a problem adding the note. Make sure you have filled in all fields and try again.');
		      		$("#notes-error-message-"+$orderId).show();
					$("#ajax_loading").hide();
		      	},
				success: function(data) {
					if (data.response == 'error')
					{
						$("#notes-error-message-text-"+$orderId).html('Sorry, there was a problem adding the note. Make sure you have filled in all fields and try again.');
			      		$("#notes-error-message-"+$orderId).show();
						$("#ajax_loading").hide();
					} else {
						loadStaffNotes($orderId);
						$("#notes-success-message-text-"+$orderId).html('The staff note was successfully added.');
			      		$("#notes-success-message-"+$orderId).show();
			      		$("#note-staff-note-"+$orderId).val("");
			      		$("#add-staff-note-"+$orderId).slideUp();
	        			$("#item-notes-"+$orderId+" button.action-view-add-staff-note span.ui-icon").removeClass("ui-icon-minusthick").addClass("ui-icon-plusthick");
						$("#ajax_loading").hide();
					}
				}
			});
        });
        $(".action-confirm-delete-note").live('click', function() {
        	var $noteId = $(this).attr("data-note-id");
        	var $orderId = $(this).attr("data-order-id");
        	$("#notes-confirm-delete-button-"+$orderId).attr("data-note-id", $noteId).attr("data-order-id", $orderId);
        	$("#notes-cancel-delete-button-"+$orderId).attr("data-note-id", $noteId).attr("data-order-id", $orderId);
        	$("tr#more-information-"+$orderId+" .selected").removeClass("selected");
        	$("#note-"+$noteId).addClass("selected");
        	$("#notes-confirm-delete-"+$orderId).show();
        	$("html, body").animate({scrollTop: $("#notes-confirm-delete-"+$orderId).offset().top - 50},'slow');
        });
        $(".action-cancel-delete-note").live('click', function() {
        	var $noteId = $(this).attr("data-note-id");
        	var $orderId = $(this).attr("data-order-id");
        	$("#notes-confirm-delete-button-"+$orderId).attr("data-note-id", "").attr("data-order-id", "");
        	$("#notes-cancel-delete-button-"+$orderId).attr("data-note-id", "").attr("data-order-id", "");
        	$("#note-"+$noteId).removeClass("selected");
        	$("#notes-confirm-delete-"+$orderId).hide();
        	$("html, body").animate({scrollTop: $("tr#item-"+$orderId+" button.action-view-notes").offset().top - 50},'slow');
        });
        $(".action-delete-note").live('click', function() {
        	$("#ajax_loading").show();
        	var $noteId = $(this).attr("data-note-id");
        	var $orderId = $(this).attr("data-order-id");
        	$("#notes-confirm-delete-"+$orderId).hide();
        	$("#notes-confirm-delete-button-"+$orderId).attr("data-note-id", "").attr("data-order-id", "");
        	$("#notes-cancel-delete-button-"+$orderId).attr("data-note-id", "").attr("data-order-id", "");
			$.ajax({
		    	url: "{{ path(settings.multipleItemsPath~'_ajax_delete_note') }}",
		      	type: "GET",
		      	dataType: "json",
		      	data: {
		      		id: $noteId
		      	},
		      	error: function(data) {
		      		$("#notes-error-message-text-"+$orderId).html('Sorry, there was a problem deleting the note. Please try again.');
			      	$("#notes-error-message-"+$orderId).show();
			      	$("#notes-confirm-delete-"+$orderId).hide();
			      	$("html, body").animate({scrollTop: $("tr#item-"+$orderId+" button.action-view-notes").offset().top - 50},'slow');
					$("#ajax_loading").hide();
		      	},
		      	success: function(data) {
		      		loadCustomerNotes($orderId);
		      		loadStaffNotes($orderId);
					$("#notes-success-message-text-"+$orderId).html('The note was successfully deleted.');
		      		$("#notes-success-message-"+$orderId).show();
        			$("html, body").animate({scrollTop: $("tr#item-"+$orderId+" button.action-view-notes").offset().top - 50},'slow');
					$("#ajax_loading").hide();
		      	}
		   	});
        });
        
        {# Delete orders #}
        $(".action-confirm-delete-order").live('click', function() {
        	showMoreInformation($(this).attr("data-id"), 'confirm-delete', $("tr#item-"+$(this).attr("data-id")+" button.action-confirm-delete-order"));
        });
        $(".action-delete-order").live('click', function() {
        	$("#flash_messages .message").hide();
        	$("#ajax_loading").show();
        	var $id = $(this).attr("data-id");
			$.ajax({
		    	url: "{{ path(settings.multipleItemsPath~'_ajax_delete_order') }}",
		      	type: "GET",
		      	dataType: "json",
		      	data: {
		      		id: $id
		      	},
		      	error: function(data) {
			      	loadNotificationMessage("message-error", "Sorry, there was a problem deleting the order. Please try again.");
					$("#ajax_loading").hide();
		      	},
		      	success: function(data) {
		      		$("#form-current-page").val('1');
		      		$(".more-information, .more-information-detail").hide();
					$("tr.order td").removeAttr("style");
					$("tr.order button").removeClass("ui-button-blue");
					$.mask.close();
					loadResults();
			      	loadNotificationMessage("message-success", "The order has been successfully deleted.");
					$("#ajax_loading").hide();
		      	}
		   	});
        });
         $(".action-confirm-delete-orders").live('click', function() {
        	if ($(".action-select:checked").length > 0)
			{
	    		$("#confirm-multiple-delete").show();
	    		$("html, body").animate({scrollTop: $("#confirm-multiple-delete").offset().top - 50},'slow');
	    	}
        });
        $(".action-cancel-multiple-delete").live('click', function() {
        	$("#item-confirm-delete-orders").hide();
        });
        $(".action-multiple-delete").live('click', function() {
        	$("#flash_messages .message").hide();
        	if ($(".action-select:checked").length > 0)
			{
	        	$("#ajax_loading").show();
	        	$("#confirm-multiple-delete").hide();
				var $numberOfOrdersToDelete = $(".action-select:checked").length;
				var $numberOfOrdersDeleted = 0;
				if ($numberOfOrdersToDelete > 0)
				{
					$(".action-select:checked").each(function() {
						var $id = $(this).attr("data-id");
						$.ajax({
							type: "GET",
							url: "{{ path(settings.multipleItemsPath~'_ajax_delete_order') }}",
							data: {
								id: $id
							},
							error: function(data) {
								$numberOfOrdersDeleted = $numberOfOrdersDeleted + 1;
						      	loadNotificationMessage("message-error", "Sorry, there was a problem deleting the selected orders. Please try again.");
						      	if ($numberOfOrdersDeleted >= $numberOfOrdersToDelete)
						      	{
									$("#ajax_loading").hide();
									$("#form-current-page").val('1');
									loadResults();
								}
				      		},
							success: function(data) {
								$numberOfOrdersDeleted = $numberOfOrdersDeleted + 1;
						      	loadNotificationMessage("message-success", "The orders were successfully deleted.");
								if ($numberOfOrdersDeleted >= $numberOfOrdersToDelete)
						      	{
									$("#ajax_loading").hide();
									$("#form-current-page").val('1');
									loadResults();
								}
							}
						});
					});
				} else {
					$("#flash_messages .message").hide();
			      	loadNotificationMessage("message-error", "Sorry, you did not select any orders to delete.");
					$("#ajax_loading").hide();
				}
			}
        });
        
        {# Print the orders #}
        $(".action-print-orders").live('click', function() {
        	$("#flash_messages .message").hide();
        	if ($(".action-select:checked").length > 0)
			{
				$("#ajax_loading").show();
				loadNotificationMessage("message-notice", "A PDF of the selected orders will be generated and opened in a new window. If nothing loads, please make sure your Browser allows pop-ups.");
				$("html, body").animate({scrollTop: $("#message-notice").offset().top - 50},'slow');
        		var $orders = new Array();
				$(".action-select:checked").each(function(index) {
					var $orderId = $(this).attr("data-id");
					if ($("tr#item-"+$orderId).hasClass("green") || $("tr#item-"+$orderId).hasClass("yellow") || $("tr#item-"+$orderId).hasClass("grey"))
					{
						$orders[$orders.length] = $orderId;
					}
				});
				if ($orders.length > 0)
				{
					$.ajax({
				    	url: "{{ path(settings.multipleItemsPath~'_ajax_bulk_print_orders') }}",
				      	type: "GET",
				      	dataType: "json",
				      	data: {
				      		ids: $orders.join(",")
				      	},
				      	error: function(data) {
				      		$("#flash_messages .message").hide();
					      	loadNotificationMessage("message-error", "Sorry, there was a problem generating the orders. Please try again.");
							$("#ajax_loading").hide();
				      	},
				      	success: function(data) {
				      		$("#load-selected-orders-for-print").attr("action", data.ordersDocument);
				      		$(".action-select:checked").each(function(index) {
				      			var $orderId = $(this).attr("data-id");
				      			$(this).attr("checked", false);
								$(this).parent().removeClass("checked");
								$("tr#item-"+$orderId).removeClass("selected")
								if ($("tr#item-"+$orderId).hasClass("green") || $("tr#item-"+$orderId).hasClass("yellow") || $("tr#item-"+$orderId).hasClass("grey"))
								{
									$("tr#more-information-"+$orderId+" .action-print-order").removeClass("ui-button-red").addClass("ui-button-green");
						        	var $orderPrinted = 0;
						        	if ($("#documents-"+$orderId+" .action-print-order").hasClass("ui-button-green"))
						        	{
						        		$orderPrinted = 1;
						        	}
						        	var $deliveryNotePrinted = 0;
						        	if ($("#documents-"+$orderId+" .action-print-delivery-note").hasClass("ui-button-green"))
						        	{
						        		$deliveryNotePrinted = 1;
						        	}
						        	if ($orderPrinted > 0)
						        	{
						        		$("tr#item-"+$orderId+" .action-view-documents").removeClass("ui-button-yellow").addClass("ui-button-green");
						        	}
						        	$.ajax({
										type: "GET",
										dataType: "json",
										url: "{{ path(settings.multipleItemsPath~'_ajax_update_print_flags') }}",
										data: {
											id: $orderId,
											orderPrinted: $orderPrinted,
											deliveryNotePrinted: $deliveryNotePrinted
										},
										success: function(data) {
											if (data.response == 'success')
											{
												if (data.orderPrinted > 0)
												{
													$("#documents-"+data.id+" .action-print-order").removeClass("ui-button-red").addClass("ui-button-green");
												} else {
													$("#documents-"+data.id+" .action-print-order").removeClass("ui-button-green").addClass("ui-button-red");
												}
												if (data.deliveryNotePrinted > 0)
												{
													$("#documents-"+data.id+" .action-print-delivery-note").removeClass("ui-button-red").addClass("ui-button-green");
												} else {
													$("#documents-"+data.id+" .action-print-delivery-note").removeClass("ui-button-green").addClass("ui-button-red");
												}
												if ($("#form-item-status-"+data.id).val() == 'Payment Received')
												{
													$("#form-item-status-"+data.id+" option:selected").removeAttr("selected");
													$("#form-item-status-"+data.id+" option[value='Processing Your Order']").attr("selected", "selected");
													$("#uniform-form-item-status-"+data.id+" > span").html("Processing Your Order");
													$("#uniform-form-item-status-"+data.id).parent().removeClass("green").addClass("yellow");
													$("tr#item-"+data.id).removeClass("green").addClass("yellow");
												}
											}
										}
									});
								}
							});
				      		$("#ajax_loading").hide();
				      		$("#load-selected-orders-for-print").submit();
				      	}
				   	});
				} else {
					$("#flash_messages .message").hide();
			      	loadNotificationMessage("message-error", "Sorry, you did not select any orders or the orders you selected are not available for printing due to their current order status.");
					$("#ajax_loading").hide();
				}
			}
        });
        
        {# Print the invoices #}
        $(".action-print-invoices").live('click', function() {
        	$("#flash_messages .message").hide();
        	if ($(".action-select:checked").length > 0)
			{
				$("#ajax_loading").show();
				loadNotificationMessage("message-notice", "A PDF of the selected invoices will be generated and opened in a new window. If nothing loads, please make sure your Browser allows pop-ups.");
				$("html, body").animate({scrollTop: $("#message-notice").offset().top - 50},'slow');
        		var $orders = new Array();
				$(".action-select:checked").each(function(index) {
					var $orderId = $(this).attr("data-id");
					if ($("tr#item-"+$orderId).hasClass("green") || $("tr#item-"+$orderId).hasClass("yellow") || $("tr#item-"+$orderId).hasClass("grey"))
					{
						$orders[$orders.length] = $orderId;
					}
				});
				if ($orders.length > 0)
				{
					$.ajax({
				    	url: "{{ path(settings.multipleItemsPath~'_ajax_bulk_print_invoices') }}",
				      	type: "GET",
				      	dataType: "json",
				      	data: {
				      		ids: $orders.join(",")
				      	},
				      	error: function(data) {
				      		$("#flash_messages .message").hide();
					      	loadNotificationMessage("message-error", "Sorry, there was a problem generating the invoices. Please try again.");
							$("#ajax_loading").hide();
				      	},
				      	success: function(data) {
				      		$("#load-selected-orders-for-print").attr("action", data.invoicesDocument);
				      		$(".action-select:checked").each(function(index) {
				      			var $orderId = $(this).attr("data-id");
				      			$(this).attr("checked", false);
								$(this).parent().removeClass("checked");
								$("tr#item-"+$orderId).removeClass("selected")
								if ($("tr#item-"+$orderId).hasClass("green") || $("tr#item-"+$orderId).hasClass("amber"))
								{
									$("tr#more-information-"+$orderId+" .action-print-invoice").removeClass("ui-button-red").addClass("ui-button-green");
						        	var $orderPrinted = 0;
						        	if ($("#item-documents-"+$orderId+" .action-print-invoice").hasClass("ui-button-green"))
						        	{
						        		$orderPrinted = 1;
						        	}
						        	var $deliveryNotePrinted = 0;
						        	if ($("#item-documents-"+$orderId+" .action-print-delivery-note").hasClass("ui-button-green"))
						        	{
						        		$deliveryNotePrinted = 1;
						        	}
						        	if (($orderPrinted > 0) && ($deliveryNotePrinted > 0))
						        	{
						        		$("tr#item-"+$orderId+" .action-view-documents").removeClass("ui-button-yellow").addClass("ui-button-green");
						        	}
						        	$.ajax({
										type: "GET",
										dataType: "json",
										url: "{{ path(settings.multipleItemsPath~'_ajax_update_print_flags') }}",
										data: {
											id: $orderId,
											orderPrinted: $orderPrinted,
											deliveryNotePrinted: $deliveryNotePrinted
										}
									});
								}
							});
				      		$("#ajax_loading").hide();
				      		$("#load-selected-orders-for-print").submit();
				      	}
				   	});
				} else {
					$("#flash_messages .message").hide();
			      	loadNotificationMessage("message-error", "Sorry, you did not select any orders or the orders you selected are not available for printing due to their current order status.");
					$("#ajax_loading").hide();
				}
			}
        });
        
        {# Print the delivery notes #}
        $(".action-print-delivery-notes").live('click', function() {
        	$("#flash_messages .message").hide();
        	if ($(".action-select:checked").length > 0)
			{
				$("#ajax_loading").show();
				loadNotificationMessage("message-notice", "A PDF of the selected delivery notes will be generated and opened in a new window. If nothing loads, please make sure your Browser allows pop-ups.");
        		var $orders = new Array();
				$(".action-select:checked").each(function(index) {
					var $orderId = $(this).attr("data-id");
					if ($("tr#item-"+$orderId).hasClass("green") || $("tr#item-"+$orderId).hasClass("yellow") || $("tr#item-"+$orderId).hasClass("grey"))
					{
						$orders[$orders.length] = $orderId;
					}
				});
				if ($orders.length > 0)
				{
					$.ajax({
				    	url: "{{ path(settings.multipleItemsPath~'_ajax_bulk_print_delivery_notes') }}",
				      	type: "GET",
				      	dataType: "json",
				      	data: {
				      		ids: $orders.join(",")
				      	},
				      	error: function(data) {
				      		$("#flash_messages .message").hide();
					      	loadNotificationMessage("message-error", "Sorry, there was a problem generating the delivery notes. Please try again.");
							$("#ajax_loading").hide();
				      	},
				      	success: function(data) {
				      		$("#load-selected-orders-for-print").attr("action", data.invoicesDocument);
				      		$(".action-select:checked").each(function(index) {
				      			var $orderId = $(this).attr("data-id");
				      			$(this).attr("checked", false);
								$(this).parent().removeClass("checked");
								$("tr#item-"+$orderId).removeClass("selected")
								if ($("tr#item-"+$orderId).hasClass("green") || $("tr#item-"+$orderId).hasClass("amber"))
								{
									$("tr#more-information-"+$orderId+" .action-print-delivery-note").removeClass("ui-button-red").addClass("ui-button-green");
						        	var $orderPrinted = 0;
						        	if ($("#item-documents-"+$orderId+" .action-print-invoice").hasClass("ui-button-green"))
						        	{
						        		$orderPrinted = 1;
						        	}
						        	var $deliveryNotePrinted = 0;
						        	if ($("#item-documents-"+$orderId+" .action-print-delivery-note").hasClass("ui-button-green"))
						        	{
						        		$deliveryNotePrinted = 1;
						        	}
						        	if (($orderPrinted > 0) && ($deliveryNotePrinted > 0))
						        	{
						        		$("tr#item-"+$orderId+" .action-view-documents").removeClass("ui-button-yellow").addClass("ui-button-green");
						        	}
						        	$.ajax({
										type: "GET",
										dataType: "json",
										url: "{{ path(settings.multipleItemsPath~'_ajax_update_print_flags') }}",
										data: {
											id: $orderId,
											orderPrinted: $orderPrinted,
											deliveryNotePrinted: $deliveryNotePrinted
										}
									});
								}
							});
				      		$("#ajax_loading").hide();
				      		$("#load-selected-orders-for-print").submit();
				      	}
				   	});
				} else {
					$("#flash_messages .message").hide();
			      	loadNotificationMessage("message-error", "Sorry, you did not select any orders or the orders you selected are not available for printing due to their current order status.");
					$("#ajax_loading").hide();
				}
			}
        });
            
		{# Update check boxes #}
		$(".order-status").live('click', function() {
			var $statuses = new Array();
			$(".order-status:checked").each(function(index) {
				$statuses[$statuses.length] = $(this).attr("data-status");
			});
			$("#form-statuses").val($statuses.join("|"));
			if (!$ignoreFilterChange)
			{
				loadResults();
			}
		});
		$(".order-payment-type").live('click', function() {
			var $paymentTypes = new Array();
			$(".order-payment-type:checked").each(function(index) {
				$paymentTypes[$paymentTypes.length] = $(this).attr("data-payment-type");
			});
			$("#form-payment-types").val($paymentTypes.join("|"));
			if (!$ignoreFilterChange)
			{
				loadResults();
			}
		});
		$(".order-delivery-type").live('click', function() {
			var $deliveryTypes = new Array();
			$(".order-delivery-type:checked").each(function(index) {
				$deliveryTypes[$deliveryTypes.length] = $(this).attr("data-delivery-type");
			});
			$("#form-delivery-types").val($deliveryTypes.join("|"));
			if (!$ignoreFilterChange)
			{
				loadResults();
			}
		});
		
		{# Select orders #}
		$(".action-select-all").live('click', function() {
			if ($(".action-select-all").is(":checked"))
			{
				$(".action-select").attr("checked", "checked");
				$(".action-select").parent().addClass("checked");
				$("tr.order").addClass("selected");
			} else {
				$(".action-select").attr("checked", false);
				$(".action-select").parent().removeClass("checked");
				$("tr.order").removeClass("selected");
			}
		});
        $(".action-select").live('click', function() {
        	var $id = $(this).attr("data-id");
        	if ($(this).is(":checked"))
        	{
        		$("#item-"+$id).addClass("selected");
        	} else {
        		$("#item-"+$id).removeClass("selected");
        	}
        });
		$(".action-order-status").live('change', function() {
			var $id = $(this).attr("data-id");
			$("#listing-select-"+$id).attr("checked", "checked");
			$("#listing-select-"+$id).parent().addClass("checked");
			$("tr#item-"+$id).addClass("selected");
		});
		
		{# Update orders #}
		$(".action-update-orders").live('click', function() {
			if ($(".action-select:checked").length > 0)
			{	
				$("#ajax_loading").show();
				var $numberOfOrdersToUpdate = $(".action-select:checked").length;
				var $numberOfOrdersUpdated = 0;
				$(".action-select:checked").each(function() {
					var $id = $(this).attr("data-id");
					var $notifyCustomer = 0;
					if ($("#form-notify-customer").is(":checked"))
					{
						$notifyCustomer = 1;
					}
					$.ajax({
						type: "GET",
						url: "{{ path(settings.multipleItemsPath~'_ajax_update_order_status') }}",
						data: {
							id: $id,
							orderStatus: $("#form-item-status-"+$id).val(),
							notifyCustomer: $notifyCustomer
						},
						error: function(data) {
							$numberOfOrdersUpdated = $numberOfOrdersUpdated + 1;
							loadNotificationMessage("message-error", "Sorry, there was a problem updating the orders. Please try again.");
					      	if ($numberOfOrdersUpdated >= $numberOfOrdersToUpdate)
					      	{
								$("#ajax_loading").hide();
								$("#form-current-page").val('1');
								loadResults();
							}
			      		},
						success: function(data) {
							$numberOfOrdersUpdated = $numberOfOrdersUpdated + 1;
					      	loadNotificationMessage("message-success", "The orders were successfully updated.");
							if ($numberOfOrdersUpdated >= $numberOfOrdersToUpdate)
					      	{
								$("#ajax_loading").hide();
								$("#form-current-page").val('1');
								loadResults();
							}
						}
					});
				});
			}
		});
		
		{# Close the more information panels #}
		$(".action-close-more-information").live('click', function() {
			$(".more-information, .more-information-detail").hide();
			$("tr.order td").removeAttr("style");
			$("tr.order button").removeClass("ui-button-blue");
			$.mask.close();
		});
		
		{# Setup date pickers #}
		$("#form-date-from").datepicker({
			changeMonth: true,
			changeYear: true,
			dateFormat: "dd/mm/yy",
			altField: "#form-date-from-formatted",
			altFormat: "yy-mm-dd",
			onSelect: function(dateText, inst) {
				if (!$ignoreFilterChange)
				{
					$("#form-current-page").val('1');
					loadResults();
				}
			}
		});
		$("#form-date-to").datepicker({
			changeMonth: true,
			changeYear: true,
			dateFormat: "dd/mm/yy",
			altField: "#form-date-to-formatted",
			altFormat: "yy-mm-dd",
			onSelect: function(dateText, inst) {
				if (!$ignoreFilterChange)
				{
					$("#form-current-page").val('1');
					loadResults();
				}
			}
		});
	
		{# Setup total range #}
		$("#total-range").slider({
			range: true,
			min: 0,
			max: 10000,
			values: [0, 10000],
			slide: function(event, ui) {
				$("#total-range-amount").html("&pound;"+ui.values[0]+" - &pound;"+ui.values[1]);
			},
			change: function(event, ui) {
				if (!$ignoreFilterChange)
				{
					$("#form-current-page").val('1');
					loadResults();
				}
			}
		});
		$("#total-range-amount").html("&pound;"+$("#total-range").slider("values", 0)+" - &pound;"+$("#total-range").slider("values", 1));
				
		{# Quick search #}
		$(".action-quick-search").live('click', function() {
			quickSearch();
		});
		$("#form-quick-search").live('keypress', function(event) {
			var $keyCode = event.keyCode || event.which;
			if ($keyCode == 13)
			{
				quickSearch();
			}
		});
					
		{# Update filters #}
		$(".action-update-your-results").live('click', function() {
			if (!$ignoreFilterChange)
			{
				$("#form-current-page").val('1');
				loadResults();
			}
		});
		$("#form-status, #form-payment-type, #form-delivery-type, #form-date-from-formatted, #form-date-to-formatted").live('change', function() {
			if (!$ignoreFilterChange)
			{
				$("#form-current-page").val('1');
				loadResults();
			}
		});
		$("#listing-filter input").live('keypress', function(event) {
			var $keyCode = event.keyCode || event.which;
			if ($keyCode == 13)
			{
				$("#form-current-page").val('1');
				loadResults();
			}
		});
		
		{# Clear the filters #}
		$(".action-clear-filters").live('click', function() {
			resetFilters();
			loadResults();
		});
		
		$("#form-current-page").val('1');
		loadResults();
		
		$("#form-sort-order, #form-max-results").live('change', function() {
			$("#form-current-page").val('1');
			loadResults();
		});
		
		{# Change the page number #}
		$(".page, .page-navigation").live('click', function() {
			$("#form-current-page").val($(this).attr("data-page"));
			loadResults();
		});
	});
</script>