{% extends '::admin.html.twig' %}
{% block title %}{{ data.settings.multipleTitle }}  | {{ parent() }}{% endblock %}
{% block leftmenu %}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':leftMenu.html.twig' with {'data': data} %}
{% endblock %}
{% block header %}
	{{ parent() }}
	<div class="quick-search-container fr">
		<span class="fl padding-right-10">Quick Search</span>
		<input class="fl ui-corner-left no-margin" type="text" id="form-quick-search" value="{{ data.listing.search }}" />
		{% if data.listing.search %}
			<button type="button" class="fl ui-button button ui-corner-none ui-button-red icon-set-white action-clear-quick-search" data-icon-primary="ui-icon-circle-cross" data-icon-only="true">Clear</button>
		{% endif %}
		<button type="button" id="quick-search-button" class="fl ui-corner-right ui-button button icon-set-white ui-button-black action-quick-search" data-icon-primary="ui-icon-magnifying-glass">Search</button>
	</div>
	<h2>Orders</h2>
	<div class="clear"></div>
{% endblock %}
{% block body %}
    <section class="container_6 clearfix no-padding-top">
    	<div class="grid_6">
    		{% if data.statistics.new.count > 0 %}
    			<div class="new-orders margin-bottom-10"><strong>NEW ORDERS</strong> - <strong>Orders:</strong> {{ data.statistics.new.count }} | <strong>Orders Total:</strong> &pound;{{ data.statistics.new.total|number_format(0) }} (&pound;{{ data.statistics.new.totalNett|number_format(0) }}) | <strong>Average Order:</strong> &pound;{{ data.statistics.new.averageOrderValue|number_format(0) }} (&pound;{{ data.statistics.new.averageOrderValueNett|number_format(0) }})<button type="button" class="button ui-corner-right ui-button-green icon-set-white action-view-new-orders" data-icon-primary="ui-icon-credit-card-back">View New Orders</button></div>
    		{% endif %}
    		<div id="confirm-multiple-delete" class="info-message ui-helper-hidden">
    			<div class="fr no-margin no-padding">
		        	<button class="fl button ui-corner-left ui-button-black action-cancel-multiple-delete">Cancel</button>
		        	<button class="fl button ui-corner-right icon-set-white ui-button-red action-multiple-delete" data-icon-primary="ui-icon-circle-cross">Confirm Delete</button>
		        </div>
				<span class="info-message-icon ui-icon ui-icon-help"></span>
				<p><strong class="important">WARNING:</strong> Are you sure you want to delete the selected {{ data.settings.multipleDescription }} below?</p>
				<div class="clear"></div>
			</div>
			{% if data.document != '' %}
				<div class="info-message">
	    			<div class="fr no-margin no-padding">
			        	<a target="_blank" href="{{ asset('/uploads/documents/order/'~data.document~'.pdf') }}" class="fl auto-click button ui-button-black icon-set-white" data-icon-primary="ui-icon-document">Open Document</a>
			        </div>
					<span class="info-message-icon ui-icon ui-icon-help"></span>
					<p>The requested document has been generated and now ready to print. The document will now automatically load.</p>
					<p><strong class="important">PLEASE NOTE:</strong> If the document does't load automatically please check your pop-up blocker or use the "Open Document" button.</p>
					<div class="clear"></div>
				</div>
			{% endif %}
    		<div class="portlet">
				<header>
					<button type="button" id="filter-button" class="button ui-button icon-set-black fr action-show-hide-filter" data-icon-primary="ui-icon-arrow-{% if data.filter.empty > 0 %}down{% else %}up{% endif %}">Filter Results</button>
					<button type="button" id="statistics-button" class="button ui-button icon-set-black fr action-show-hide-statistics" data-icon-primary="ui-icon-arrow-down">Statistics</button>
	                <h2>{{ data.settings.multipleTitle }} Found ({{ data.listing.itemCount }})</h2>
	            </header>
				<section class="no-padding">
					<form id="form-update-listing" class="form" action="{{ path('admin_'~data.settings.multiplePath~'_update_listing') }}" method="post">
						<input type="hidden" id="update-listing-search" name="search" value="{{ data.listing.search }}" />
						<input type="hidden" id="update-listing-sort-order" name="sort-order" value="{{ data.listing.sortOrder }}" />
						<input type="hidden" id="update-listing-max-results" name="max-results" value="{{ data.listing.maxResults }}" />
						<input type="hidden" id="update-listing-current-page" name="current-page" value="{{ data.listing.currentPage }}" />
						<input type="hidden" id="update-listing-pagination" name="pagination" value="{{ data.listing.pagination }}" />
						<input type="hidden" id="update-listing-id" name="filters[id]" value="{{ data.filter.id }}" />
						<input type="hidden" id="update-listing-customer" name="filters[customer]" value="{{ data.filter.customer }}" />
						<input type="hidden" id="update-listing-email-address" name="filters[emailAddress]" value="{{ data.filter.emailAddress }}" />
						<input type="hidden" id="update-listing-statuses" name="filters[statuses]" value="{{ data.filter.statuses }}" />
						<input type="hidden" id="update-listing-payment-types" name="filters[paymentTypes]" value="{{ data.filter.paymentTypes }}" />
						<input type="hidden" id="update-listing-delivery-types" name="filters[deliveryTypes]" value="{{ data.filter.deliveryTypes }}" />
						<input type="hidden" id="update-listing-total-from" name="filters[totalFrom]" value="{{ data.filter.totalFrom }}" />
						<input type="hidden" id="update-listing-total-to" name="filters[totalTo]" value="{{ data.filter.totalTo }}" />						
						<input type="hidden" id="update-listing-date-from" name="filters[dateFrom]" value="{{ data.filter.dateFrom }}" />
						<input type="hidden" id="update-listing-date-from-formatted" name="filters[dateFromFormatted]" value="{{ data.filter.dateFromFormatted }}" />
						<input type="hidden" id="update-listing-date-to" name="filters[dateTo]" value="{{ data.filter.dateTo }}" />
						<input type="hidden" id="update-listing-date-to-formatted" name="filters[dateToFormatted]" value="{{ data.filter.dateToFormatted }}" />
						<input type="hidden" id="update-listing-filter-empty" name="filters[empty]" value="{{ data.filter.empty }}" />
					</form>
					<div id="listing-statistics" class="ui-helper-hidden embedded-stats listing">
						{# <h3 class="no-margin-top">Orders</h3>
						<table width="100%" class="data-table">
							<thead>
								<tr>
									<th width="15%" class="blank">&nbsp;</th>
									<th width="17%">Today</th>
									<th width="17%">This Week</th>
									<th width="17%">This Month</th>
									<th width="17%">This Quarter</th>
									<th width="17%">This Year</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td width="15%" class="ar small sub-header"><strong>Successful Orders</strong></td>
									<td width="17%" class="ac small">{{ data.statistics.today.count|number_format(0) }}</td>
									<td width="17%" class="ac small">{{ data.statistics.week.count|number_format(0) }}</td>
									<td width="17%" class="ac small">{{ data.statistics.month.count|number_format(0) }}</td>
									<td width="17%" class="ac small">{{ data.statistics.quarter.count|number_format(0) }}</td>
									<td width="17%" class="ac small">{{ data.statistics.year.count|number_format(0) }}</td>
								</tr>
								<tr>
									<td width="15%" class="ar small sub-header"><strong>Orders Total</strong></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.today.total|number_format(0) }} <em>(&pound;{{ data.statistics.today.totalNett|number_format(0) }})</em></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.week.total|number_format(0) }} <em>(&pound;{{ data.statistics.week.totalNett|number_format(0) }})</em></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.month.total|number_format(0) }} <em>(&pound;{{ data.statistics.month.totalNett|number_format(0) }})</em></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.quarter.total|number_format(0) }} <em>(&pound;{{ data.statistics.quarter.totalNett|number_format(0) }})</em></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.year.total|number_format(0) }} <em>(&pound;{{ data.statistics.year.totalNett|number_format(0) }})</em></td>
								</tr>
								<tr>
									<td width="15%" class="ar small sub-header"><strong>Average Order</strong></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.today.averageOrderValue|number_format(0) }} <em>(&pound;{{ data.statistics.today.averageOrderValueNett|number_format(0) }})</em></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.week.averageOrderValue|number_format(0) }} <em>(&pound;{{ data.statistics.week.averageOrderValueNett|number_format(0) }})</em></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.month.averageOrderValue|number_format(0) }} <em>(&pound;{{ data.statistics.month.averageOrderValueNett|number_format(0) }})</em></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.quarter.averageOrderValue|number_format(0) }} <em>(&pound;{{ data.statistics.quarter.averageOrderValueNett|number_format(0) }})</em></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.year.averageOrderValue|number_format(0) }} <em>(&pound;{{ data.statistics.year.averageOrderValueNett|number_format(0) }})</em></td>
								</tr>
								<tr>
									<td width="15%" class="ar small sub-header"><strong>Projected Total</strong></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.today.projectedTotal|number_format(0) }} <em>(&pound;{{ data.statistics.today.projectedTotalNett|number_format(0) }})</em></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.week.projectedTotal|number_format(0) }} <em>(&pound;{{ data.statistics.week.projectedTotalNett|number_format(0) }})</em></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.month.projectedTotal|number_format(0) }} <em>(&pound;{{ data.statistics.month.projectedTotalNett|number_format(0) }})</em></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.quarter.projectedTotal|number_format(0) }} <em>(&pound;{{ data.statistics.quarter.projectedTotalNett|number_format(0) }})</em></td>
									<td width="17%" class="ac small">&pound;{{ data.statistics.year.projectedTotal|number_format(0) }} <em>(&pound;{{ data.statistics.year.projectedTotalNett|number_format(0) }})</em></td>
								</tr>
							</tbody>
						</table>
						<h3>Top Brands by Quantity Ordered</h3>
						<table width="100%" class="data-table">
							<thead>
								<tr>
									<th width="5%" class="blank">&nbsp;</th>
									<th width="19%">Today</th>
									<th width="19%">This Week</th>
									<th width="19%">This Month</th>
									<th width="19%">This Quarter</th>
									<th width="19%">This Year</th>
								</tr>
							</thead>
							<tbody>
								{% for count in 1..5 %}
									<tr>
										<td width="5%" class="ar small sub-header"><strong>{{ count }}</strong></td>
										<td width="19%" class="ac small">
											{% if data.statistics.today.topBrandsByQuantity[count] is defined %}
												{{ data.statistics.today.topBrandsByQuantity[count]['brand'] }}<br /><em>({{ data.statistics.today.topBrandsByQuantity[count]['quantity']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.week.topBrandsByQuantity[count] is defined %}
												{{ data.statistics.week.topBrandsByQuantity[count]['brand'] }}<br /><em>({{ data.statistics.week.topBrandsByQuantity[count]['quantity']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.month.topBrandsByQuantity[count] is defined %}
												{{ data.statistics.month.topBrandsByQuantity[count]['brand'] }}<br /><em>({{ data.statistics.month.topBrandsByQuantity[count]['quantity']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.quarter.topBrandsByQuantity[count] is defined %}
												{{ data.statistics.quarter.topBrandsByQuantity[count]['brand'] }}<br /><em>({{ data.statistics.quarter.topBrandsByQuantity[count]['quantity']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.year.topBrandsByQuantity[count] is defined %}
												{{ data.statistics.year.topBrandsByQuantity[count]['brand'] }}<br /><em>({{ data.statistics.year.topBrandsByQuantity[count]['quantity']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<h3>Top Brands by Total Ordered</h3>
						<table width="100%" class="data-table">
							<thead>
								<tr>
									<th width="5%" class="blank">&nbsp;</th>
									<th width="19%">Today</th>
									<th width="19%">This Week</th>
									<th width="19%">This Month</th>
									<th width="19%">This Quarter</th>
									<th width="19%">This Year</th>
								</tr>
							</thead>
							<tbody>
								{% for count in 1..5 %}
									<tr>
										<td width="5%" class="ar small sub-header"><strong>{{ count }}</strong></td>
										<td width="19%" class="ac small">
											{% if data.statistics.today.topBrandsByTotal[count] is defined %}
												{{ data.statistics.today.topBrandsByTotal[count]['brand'] }}<br /><em>(&pound;{{ data.statistics.today.topBrandsByTotal[count]['total']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.week.topBrandsByTotal[count] is defined %}
												{{ data.statistics.week.topBrandsByTotal[count]['brand'] }}<br /><em>(&pound;{{ data.statistics.week.topBrandsByTotal[count]['total']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.month.topBrandsByTotal[count] is defined %}
												{{ data.statistics.month.topBrandsByTotal[count]['brand'] }}<br /><em>(&pound;{{ data.statistics.month.topBrandsByTotal[count]['total']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.quarter.topBrandsByTotal[count] is defined %}
												{{ data.statistics.quarter.topBrandsByTotal[count]['brand'] }}<br /><em>(&pound;{{ data.statistics.quarter.topBrandsByTotal[count]['total']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.year.topBrandsByTotal[count] is defined %}
												{{ data.statistics.year.topBrandsByTotal[count]['brand'] }}<br /><em>(&pound;{{ data.statistics.year.topBrandsByTotal[count]['total']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<h3>Top Products by Quantity Ordered</h3>
						<table width="100%" class="data-table">
							<thead>
								<tr>
									<th width="5%" class="blank">&nbsp;</th>
									<th width="19%">Today</th>
									<th width="19%">This Week</th>
									<th width="19%">This Month</th>
									<th width="19%">This Quarter</th>
									<th width="19%">This Year</th>
								</tr>
							</thead>
							<tbody>
								{% for count in 1..5 %}
									<tr>
										<td width="5%" class="ar small sub-header"><strong>{{ count }}</strong></td>
										<td width="19%" class="ac small">
											{% if data.statistics.today.topProductsByQuantity[count] is defined %}
												{{ data.statistics.today.topProductsByQuantity[count]['product'] }}<br /><em>({{ data.statistics.today.topProductsByQuantity[count]['quantity']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.week.topProductsByQuantity[count] is defined %}
												{{ data.statistics.week.topProductsByQuantity[count]['product'] }}<br /><em>({{ data.statistics.week.topProductsByQuantity[count]['quantity']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.month.topProductsByQuantity[count] is defined %}
												{{ data.statistics.month.topProductsByQuantity[count]['product'] }}<br /><em>({{ data.statistics.month.topProductsByQuantity[count]['quantity']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.quarter.topProductsByQuantity[count] is defined %}
												{{ data.statistics.quarter.topProductsByQuantity[count]['product'] }}<br /><em>({{ data.statistics.quarter.topProductsByQuantity[count]['quantity']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.year.topProductsByQuantity[count] is defined %}
												{{ data.statistics.year.topProductsByQuantity[count]['product'] }}<br /><em>({{ data.statistics.year.topProductsByQuantity[count]['quantity']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
						<h3>Top Products by Total Ordered</h3>
						<table width="100%" class="data-table">
							<thead>
								<tr>
									<th width="5%" class="blank">&nbsp;</th>
									<th width="19%">Today</th>
									<th width="19%">This Week</th>
									<th width="19%">This Month</th>
									<th width="19%">This Quarter</th>
									<th width="19%">This Year</th>
								</tr>
							</thead>
							<tbody>
								{% for count in 1..5 %}
									<tr>
										<td width="5%" class="ar small sub-header"><strong>{{ count }}</strong></td>
										<td width="19%" class="ac small">
											{% if data.statistics.today.topProductsByTotal[count] is defined %}
												{{ data.statistics.today.topProductsByTotal[count]['product'] }}<br /><em>(&pound;{{ data.statistics.today.topProductsByTotal[count]['total']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.week.topProductsByTotal[count] is defined %}
												{{ data.statistics.week.topProductsByTotal[count]['product'] }}<br /><em>(&pound;{{ data.statistics.week.topProductsByTotal[count]['total']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.month.topProductsByTotal[count] is defined %}
												{{ data.statistics.month.topProductsByTotal[count]['product'] }}<br /><em>(&pound;{{ data.statistics.month.topProductsByTotal[count]['total']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.quarter.topProductsByTotal[count] is defined %}
												{{ data.statistics.quarter.topProductsByTotal[count]['product'] }}<br /><em>(&pound;{{ data.statistics.quarter.topProductsByTotal[count]['total']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
										<td width="19%" class="ac small">
											{% if data.statistics.year.topProductsByTotal[count] is defined %}
												{{ data.statistics.year.topProductsByTotal[count]['product'] }}<br /><em>(&pound;{{ data.statistics.year.topProductsByTotal[count]['total']|number_format(0) }})</em>
											{% else %}
												-
											{% endif %}
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table> #}
					</div>
					<div id="listing-filter" class="no-padding-bottom listing-filter{% if data.filter.empty > 0 %} ui-helper-hidden{% endif %}">
						<div class="separator">
							<table width="100%">
								<tr>
									<td class="label" width="12%"><label for="filter-id">Order No:</label></td>
									<td width="14%">
										<input class="filter-text-box" type="text" id="filter-id" data-update-object="update-listing-id" value="{{ data.filter.id }}" />
									</td>
									<td class="label" width="15%"><label for="filter-customer">Customer:</label></td>
									<td width="22%">
										<input class="filter-text-box" type="text" id="filter-customer" data-update-object="update-listing-customer" value="{{ data.filter.customer }}" />
									</td>
									<td class="label" width="15%"><label for="filter-email-address">Email Address:</label></td>
									<td width="22%">
										<input class="filter-text-box" type="text" id="filter-email-address" data-update-object="update-listing-email-address" value="{{ data.filter.emailAddress }}" />
									</td>
								</tr>
							</table>
						</div>
						<div class="separator">
							<table width="100%">
								<tr>
									<td class="label" width="32%"><label class="al" for="filter-status">Order Status:</label></td>
									<td width="1%"><img class="fl" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="24" alt="" /></td>
									<td class="label" width="32%"><label class="al" for="filter-payment-type">Payment Type:</label></td>
									<td width="1%"><img class="fl" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="24" alt="" /></td>
									<td class="label" width="34%"><label class="al" for="filter-delivery-type">Delivery Type:</label></td>
								</tr>								
								<tr>
									<td width="32%" class="vat checkboxes">
										<div class="filter-checkbox">
											<input{% if '|Open Payment|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="Open Payment" type="checkbox" value="1" />Open Payment
										</div>
										<div class="filter-checkbox">
											<input{% if '|Payment Failed|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="Payment Failed" type="checkbox" value="1" />Payment Failed
										</div>
										<div class="filter-checkbox">
											<input{% if '|Cancelled|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="Cancelled" type="checkbox" value="1" />Cancelled
										</div>
										<div class="filter-checkbox">
											<input{% if '|Payment Received|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="Payment Received" type="checkbox" value="1" />Payment Received
										</div>
										<div class="filter-checkbox">
											<input{% if '|Processing Your Order|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="Processing Your Order" type="checkbox" value="1" />Processing Your Order
										</div>
										<div class="filter-checkbox">
											<input{% if '|Back Ordered|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="Back Ordered" type="checkbox" value="1" />Back Ordered
										</div>
										<div class="filter-checkbox">
											<input{% if '|Part Delivered|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="Part Delivered" type="checkbox" value="1" />Part Delivered
										</div>
										<div class="filter-checkbox">
											<input{% if '|Order Ready for Collection|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="Order Ready for Collection" type="checkbox" value="1" />Order Ready for Collection
										</div>
										<div class="filter-checkbox">
											<input{% if '|Order with Delivery Company|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="Order with Delivery Company" type="checkbox" value="1" />Order with Delivery Company
										</div>
										<div class="filter-checkbox no-margin-bottom">
											<input{% if '|Order Completed|' in data.filter.statuses %} checked="checked"{% endif %} data-update-object="update-listing-statuses" data-filter-value="Order Completed" type="checkbox" value="1" />Order Completed
										</div>
									</td>
									<td width="1%"><img class="fl" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="20" alt="" /></td>
									<td width="32%" class="vat checkboxes">
										<div class="filter-checkbox">
											<input{% if '|Google Wallet|' in data.filter.paymentTypes %} checked="checked"{% endif %} data-update-object="update-listing-payment-types" data-filter-value="Google Wallet" type="checkbox" value="1" />Google Wallet
										</div>
										<div class="filter-checkbox">
											<input{% if '|PayPal|' in data.filter.paymentTypes %} checked="checked"{% endif %} data-update-object="update-listing-payment-types" data-filter-value="PayPal" type="checkbox" value="1" />PayPal
										</div>
										<div class="filter-checkbox">
											<input{% if '|PayPal through SagePay|' in data.filter.paymentTypes %} checked="checked"{% endif %} data-update-object="update-listing-payment-types" data-filter-value="PayPal through SagePay" type="checkbox" value="1" />PayPal through SagePay
										</div>
										<div class="filter-checkbox no-margin-bottom">
											<input{% if '|SagePay|' in data.filter.paymentTypes %} checked="checked"{% endif %} data-update-object="update-listing-payment-types" data-filter-value="SagePay" type="checkbox" value="1" />SagePay
										</div>
									</td>
									<td width="1%"><img class="fl" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="20" alt="" /></td>
									<td width="34%" class="vat checkboxes">
										<div class="filter-checkbox">
											<input{% if '|Royal Mail 1st Class|' in data.filter.deliveryTypes %} checked="checked"{% endif %} data-update-object="update-listing-delivery-types" data-filter-value="Royal Mail 1st Class" type="checkbox" value="1" />Royal Mail 1st Class
										</div>
										<div class="filter-checkbox">
											<input{% if '|Royal Mail Economy|' in data.filter.deliveryTypes %} checked="checked"{% endif %} data-update-object="update-listing-delivery-types" data-filter-value="Royal Mail Economy" type="checkbox" value="1" />Royal Mail Economy
										</div>
										<div class="filter-checkbox">
											<input{% if '|FREE DELIVERY Parcel Express|' in data.filter.deliveryTypes %} checked="checked"{% endif %} data-update-object="update-listing-delivery-types" data-filter-value="FREE DELIVERY Parcel Express" type="checkbox" value="1" />FREE DELIVERY Parcel Express
										</div>
										<div class="filter-checkbox">
											<input{% if '|Parcel Delivery Express|' in data.filter.deliveryTypes %} checked="checked"{% endif %} data-update-object="update-listing-delivery-types" data-filter-value="Parcel Delivery Express" type="checkbox" value="1" />Parcel Delivery Express
										</div>
										<div class="filter-checkbox">
											<input{% if '|Parcel Delivery Economy|' in data.filter.deliveryTypes %} checked="checked"{% endif %} data-update-object="update-listing-delivery-types" data-filter-value="Parcel Delivery Economy" type="checkbox" value="1" />Parcel Delivery Economy
										</div>
										<div class="filter-checkbox">
											<input{% if '|FREE DELIVERY Pallet Express|' in data.filter.deliveryTypes %} checked="checked"{% endif %} data-update-object="update-listing-delivery-types" data-filter-value="FREE DELIVERY Pallet Express" type="checkbox" value="1" />FREE DELIVERY Pallet Express
										</div>
										<div class="filter-checkbox">
											<input{% if '|Pallet Delivery Express|' in data.filter.deliveryTypes %} checked="checked"{% endif %} data-update-object="update-listing-delivery-types" data-filter-value="Pallet Delivery Express" type="checkbox" value="1" />Pallet Delivery Express
										</div>
										<div class="filter-checkbox">
											<input{% if '|Pallet Delivery Economy|' in data.filter.deliveryTypes %} checked="checked"{% endif %} data-update-object="update-listing-delivery-types" data-filter-value="Pallet Delivery Economy" type="checkbox" value="1" />Pallet Delivery Economy
										</div>
										<div class="filter-checkbox no-margin-bottom">
											<input{% if '|Home Delivery Service|' in data.filter.deliveryTypes %} checked="checked"{% endif %} data-update-object="update-listing-delivery-types" data-filter-value="Home Delivery Service" type="checkbox" value="1" />Home Delivery Service
										</div>
									</td>
								</tr>
							</table>
						</div>
						<div class="separator">
							<table width="100%">
								<tr>
									<td class="label" width="30%"><label for="filter-total-from">Total From (&pound;):</label></td>
									<td width="20%">
										<input class="filter-text-box integer" type="text" id="filter-total-from" data-update-object="update-listing-total-from" value="{{ data.filter.totalFrom|default('1')|number_format(0, '', '') }}" />
									</td>
									<td class="label" width="30%"><label for="filter-total-to">Total To (&pound;):</label></td>
									<td width="20%">
										<input class="filter-text-box integer" type="text" id="filter-total-to" data-update-object="update-listing-total-to" value="{{ data.filter.totalTo|default('10000')|number_format(0, '', '') }}" />
									</td>
								</tr>
								<tr>
									<td colspan="4" width="100%">
										<div data-min="1" data-max="10000" data-from-value="{{ data.filter.totalFrom|default('1')|number_format(0, '', '') }}" data-to-value="{{ data.filter.totalTo|default('10000')|number_format(0, '', '') }}" data-from-object="#filter-total-from" data-to-object="#filter-total-to" id="filter-total" class="range-slider filter"></div>
									</td>
								</tr>
							</table>
						</div>
						<div>
							<table width="100%">
								<tr>
									<td class="label" width="20%"><label for="filter-date-from">Date From:</label></td>
									<td width="30%">
										<input class="filter-text-box date-picker" data-alt-field="#filter-date-from-formatted" data-update-object="update-listing-date-from" type="text" id="filter-date-from" value="{{ data.filter.dateFrom }}" />
										<input class="filter-text-box" data-update-object="update-listing-date-from-formatted" type="hidden" id="filter-date-from-formatted" value="{{ data.filter.dateFromFormatted }}" />
									</td>
									<td class="label" width="20%"><label for="filter-date-to">Date To:</label></td>
									<td width="30%">
										<input class="filter-text-box date-picker" data-alt-field="#filter-date-to-formatted" data-update-object="update-listing-date-to" type="text" id="filter-date-to" value="{{ data.filter.dateTo }}" />
										<input class="filter-text-box" data-update-object="update-listing-date-to-formatted" type="hidden" id="filter-date-to-formatted" value="{{ data.filter.dateToFormatted }}" />
									</td>
								</tr>
							</table>
						</div>
						<div class="ac">
							<button class="button bottom-button icon-set-white ui-button-green action-update-your-results" data-icon-primary="ui-icon-refresh">Update Your Results</button>
							<button class="button bottom-button icon-set-white ui-button-red action-clear-filters" data-icon-primary="ui-icon-circle-cross">Clear Filters</button>
						</div>
					</div>
					<form id="form-update" class="form" action="{{ path('admin_'~data.settings.multiplePath) }}" method="post">
						<div class="quick-stats"><strong>QUICK STATS</strong> - <strong>Successful Orders:</strong> {{ data.statistics.selected.count }} | <strong>Orders Total:</strong> &pound;{{ data.statistics.selected.total|number_format(0) }} (&pound;{{ data.statistics.selected.totalNett|number_format(0) }}) | <strong>Average Order:</strong> &pound;{{ data.statistics.selected.averageOrderValue|number_format(0) }} (&pound;{{ data.statistics.selected.averageOrderValueNett|number_format(0) }})</div>
						<div id="listing-settings">
							<div class="fl">
								<div class="listing-settings-title fl">Sort By</div>
								<select id="listing-sort-order" class="fl">
									<option{% if data.listing.sortOrder == 'createdAt:DESC' %} selected="selected"{% endif %} value="createdAt:DESC">Latest Orders</option>
									<option{% if data.listing.sortOrder == 'id:DESC' %} selected="selected"{% endif %} value="id:DESC">Order Number: Last Orders Placed First</option>
									<option{% if data.listing.sortOrder == 'id:ASC' %} selected="selected"{% endif %} value="id:ASC">Order Number: First Orders Placed First</option>
									<option{% if data.listing.sortOrder == 'total:DESC' %} selected="selected"{% endif %} value="total:DESC">Order Total: Highest First</option>
									<option{% if data.listing.sortOrder == 'total:ASC' %} selected="selected"{% endif %} value="total:ASC">Order Total: Lowest First</option>
									<option{% if data.listing.sortOrder == 'firstName:ASC' %} selected="selected"{% endif %} value="firstName:ASC">First Name: Alphabetically (A-Z)</option>
									<option{% if data.listing.sortOrder == 'firstName:DESC' %} selected="selected"{% endif %} value="firstName:DESC">First Name: Alphabetically (Z-A)</option>
									<option{% if data.listing.sortOrder == 'firstName:ASC' %} selected="selected"{% endif %} value="firstName:ASC">Last Name: Alphabetically (A-Z)</option>
									<option{% if data.listing.sortOrder == 'lastName:DESC' %} selected="selected"{% endif %} value="lastName:DESC">Last Name: Alphabetically (Z-A)</option>
								</select>
							</div>
						    <div class="fr">
						    	<div class="listing-settings-title fl">Per Page</div>
						        <select class="fl" id="listing-max-results">
									<option{% if data.listing.maxResults == '10' %} selected="selected"{% endif %} value="10">10</option>
									<option{% if data.listing.maxResults == '20' %} selected="selected"{% endif %} value="20">20</option>
									<option{% if data.listing.maxResults == '50' %} selected="selected"{% endif %} value="50">50</option>
									<option{% if data.listing.maxResults == '100' %} selected="selected"{% endif %} value="100">100</option>
									<option{% if data.listing.maxResults == '99999999' %} selected="selected"{% endif %} value="99999999">All</option>
								</select>
							</div>
						    <div class="clear"></div>
						</div>
						{% include 'WebIlluminationAdminBundle:System:listingPagination.html.twig' with {'data': data} %}
						<div class="clear"></div>
						<div id="listing" class="position-relative">
							{% if data.items|length > 0 %}
								<table class="data-table" id="data" width="100%">
									<thead>
										<tr>
											<th width="19" class="ac"><input type="checkbox" class="action-select-all" value="1" /></th>
											<th class="ac">Order</th>
											<th class="ac">Total</th>
											<th class="ac">Customer</th>
											<th class="ac">Date</th>
											<th class="ac">Status</th>
											<th width="1" class="ac">&nbsp;</th>
										</tr>
									</thead>
									<tbody>
										{% for item in data.items %}
											<tr class="item {{ item.statusColour }} no-row-colour" id="item-{{ item.id }}">
												<td width="19" class="ac select"><input data-id="{{ item.id }}" type="checkbox" class="action-select" name="select[{{ item.id }}]" id="listing-select-{{ item.id }}" value="1" /></td>
												<td class="ac">
													<a href="{{ path('admin_'~data.settings.multiplePath~'_update', {'id': item.id}) }}"><strong>{{ item.id }}</strong></a>
												</td>
												<td class="ac">
													<a href="{{ path('admin_'~data.settings.multiplePath~'_update', {'id': item.id}) }}">&pound;{{ item.total|number_format(2)|default('0.00') }}</a>
												</td>
												<td class="ac">
													<a href="{{ path('admin_'~data.settings.multiplePath~'_update', {'id': item.id}) }}" class="tooltip-preview-left" data-tooltip-id="#tooltip-customer-{{ item.id }}">{{ item.firstName|upper }} {{ item.lastName|upper }}</a>
													
												</td>
												<td class="ac small">
													<a href="{{ path('admin_'~data.settings.multiplePath~'_update', {'id': item.id}) }}">{{ item.createdAt|date("d/m/Y") }} {{ item.createdAt|date("h:iA") }}</a>
												</td>
												<td width="90" class="ac {{ item.statusColour }}">
													<select name="status[{{ item.id }}]" id="listing-status-{{ item.id }}" data-id="{{ item.id }}" class="listing-status full">
														<option{% if item.status == 'Open Payment' %} selected="selected"{% endif %} value="Open Payment">Open Payment</option>
														<option{% if item.status == 'Payment Failed' %} selected="selected"{% endif %} value="Payment Failed">Payment Failed</option>
														<option{% if item.status == 'Cancelled' %} selected="selected"{% endif %} value="Cancelled">Cancelled</option>
														<option{% if item.status == 'Payment Received' %} selected="selected"{% endif %} value="Payment Received">Payment Received</option>
														<option{% if item.status == 'Processing Your Order' %} selected="selected"{% endif %} value="Processing Your Order">Processing Your Order</option>
														<option{% if item.status == 'Back Ordered' %} selected="selected"{% endif %} value="Back Ordered">Back Ordered</option>
														<option{% if item.status == 'Part Delivered' %} selected="selected"{% endif %} value="Part Delivered">Part Delivered</option>
														<option{% if item.status == 'Order Ready for Collection' %} selected="selected"{% endif %} value="Order Ready for Collection">Order Ready for Collection</option>
														<option{% if item.status == 'Order with Delivery Company' %} selected="selected"{% endif %} value="Order with Delivery Company">Order with Delivery Company</option>
														<option{% if item.status == 'Order Completed' %} selected="selected"{% endif %} value="Order Completed">Order Completed</option>
													</select>
												</td>
												<td width="1" class="buttons-container ac no-wrap">
													{% if item.displayOrder is defined %}
														<input type="hidden" class="listing-display-order" name="display-order[{{ item.id }}]" id="display-order-{{ item.id }}" data-id="{{ item.id }}" value="{{ item.displayOrder }}" />
													{% endif %}
													<img class="buttons-spacer" src="{{ asset('bundles/webilluminationadmin/images/blank.gif') }}" border="0" width="0" height="0" alt="" />
													<div class="clear"></div>
													
													<a data-id="{{ item.id }}" href="/uploads/documents/order/order-{{ item.id }}.pdf" target="_blank" class="button icon-set-white ui-button-{{ (item.orderPrinted == 1?'green':'red') }} action-print-order ui-corner-right tooltip-preview-right" data-icon-primary="ui-icon-document" data-icon-only="true" data-tooltip-id="#tooltip-documents-{{ item.id }}">Order</a>
																										
													<a{% if (item.trackingNumber != '') and (item.courier != '') %} target="_blank"{% endif %} href="{% if (item.trackingNumber != '') and (item.courier != '') %}{% if item.courier == 'Royal Mail' %}http://track2.royalmail.com/portal/rm/track?trackNumber={{ item.trackingNumber }}{% elseif item.courier == 'DPD' %}http://www.dpd.co.uk/service/tracking?parcel={{ item.trackingNumber }}{% endif %}{% else %}{{ path('admin_'~data.settings.multiplePath~'_update', {'id': item.id}) }}{% endif %}" class="button icon-set-white ui-button-{% if item.deliveryType == 'Collection' %}red{% elseif item.deliveryCharge == 0 %}green{% else %}black{% endif %} ui-corner-none tooltip-preview-right" data-icon-primary="ui-icon-delivery-truck" data-icon-only="true" data-tooltip-id="#tooltip-delivery-information-{{ item.id }}">Delivery Information</a>
													
													<a href="{{ path('admin_'~data.settings.multiplePath~'_update', {'id': item.id}) }}" class="button icon-set-white ui-button-{% if item.paymentType == '' %}red{% else %}{{ item.paymentResponseFraudColour }}{% endif %} ui-corner-none tooltip-preview-right" data-icon-primary="ui-icon-credit-card-back" data-icon-only="true" data-tooltip-id="#tooltip-payment-information-{{ item.id }}">Payment Information</a>
													
													<a href="{{ path('admin_'~data.settings.multiplePath~'_update_notes', {'id': item.id}) }}" class="button icon-set-white ui-button-black ui-corner-none" data-icon-primary="ui-icon-written-speech-bubble" data-icon-only="true"{% if item.notesCount > 0 %} data-notification="{{ item.notesCount }}"{% endif %}>Customer Notes</a>
													
													<a href="{{ path('admin_'~data.settings.multiplePath~'_update', {'id': item.id}) }}" class="button icon-set-white ui-button-black ui-corner-none tooltip-preview-right" data-icon-primary="ui-icon-shopping-basket" data-icon-only="true" data-notification="{{ item.items }}" data-tooltip-id="#tooltip-order-{{ item.id }}">Shopping Basket</a>
													
													<a href="{{ path('admin_'~data.settings.multiplePath~'_update', {'id': item.id}) }}" class="button icon-set-white ui-button-black ui-corner-left" data-icon-primary="ui-icon-pencil" data-icon-only="true">Edit</a>
												</td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								{% for item in data.items %}
									<div id="tooltip-order-{{ item.id }}" class="tooltip">
										<h3>Order</h3>
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td class="label">Subtotal before Delivery Charges (inc. VAT)</td>
												<td>&pound;{{ item.subTotal|number_format(2) }}</td>
											</tr>
											<tr>
												<td class="label">Delivery Charge (inc. VAT)</td>
												<td{% if item.deliveryCharge == 0 %} class="gradient-background-green"{% endif %}>{% if item.deliveryCharge > 0 %}&pound;{{ item.deliveryCharge|number_format(2) }}{% else %}FREE{% endif %}</td>
											</tr>
											{% if item.discount > 0 %}
												<tr>
													<td class="label">Discount</td>
													<td class="gradient-background-green">&pound;{{ item.discount|number_format(2) }}</td>
												</tr>
											{% endif %}
											<tr>
												<td class="label">VAT (20%)</td>
												<td>&pound;{{ item.vat|number_format(2) }}</td>
											</tr>
											<tr>
												<td class="label">Total Paid (inc. VAT)</td>
												<td><strong>&pound;{{ item.total|number_format(2) }}</strong></td>
											</tr>
										</table>
									</div>
									<div id="tooltip-customer-{{ item.id }}" class="tooltip">
										<h3>Customer</h3>
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td class="label">Name</td>
												<td>{{ item.firstName|upper }} {{ item.lastName|upper }}</td>
											</tr>
											<tr>
												<td class="label">Email Address</td>
												<td><a href="mailto:{{ item.emailAddress|lower }}">{{ item.emailAddress|lower }}</a></td>
											</tr>
											{% if item.telephoneDaytime != '' %}
												<tr>
													<td class="label">Telephone (Daytime)</td>
													<td>{{ item.telephoneDaytime }}</td>
												</tr>
											{% endif %}
											{% if item.telephoneEvening != '' %}
												<tr>
													<td class="label">Telephone (Evening)</td>
													<td>{{ item.telephoneEvening }}</td>
												</tr>
											{% endif %}
											{% if item.mobile != '' %}
												<tr>
													<td class="label">Mobile</td>
													<td>{{ item.mobile }}</td>
												</tr>
											{% endif %}
											<tr>
												<td class="label">Billing Address</td>
												<td>{% spaceless %}
													{{ item.billingFirstName|upper }} {{ item.billingLastName|upper }}<br />
													{% if item.billingOrganisationName != '' %}
														{{ item.billingOrganisationName|upper }}<br />
													{% endif %}
													{{ item.billingAddressLine1|upper }}<br />
													{% if item.billingAddressLine2 != '' %}
														{{ item.billingAddressLine2|upper }}<br />
													{% endif %}
													{{ item.billingTownCity|upper }}<br />
													{% if item.billingCountyState != '' %}
														{{ item.billingCountyState|upper }}<br />
													{% endif %}
													{{ item.billingPostZipCode|upper }}
												{% endspaceless %}</td>
											</tr>
											<tr>
												<td class="label">Delivery Address</td>
												<td>{% spaceless %}
													{{ item.deliveryFirstName|upper }} {{ item.deliveryLastName|upper }}<br />
													{% if item.deliveryOrganisationName != '' %}
														{{ item.deliveryOrganisationName|upper }}<br />
													{% endif %}
													{{ item.deliveryAddressLine1|upper }}<br />
													{% if item.deliveryAddressLine2 != '' %}
														{{ item.deliveryAddressLine2|upper }}<br />
													{% endif %}
													{{ item.deliveryTownCity|upper }}<br />
													{% if item.deliveryCountyState != '' %}
														{{ item.deliveryCountyState|upper }}<br />
													{% endif %}
													{{ item.deliveryPostZipCode|upper }}
												{% endspaceless %}</td>
											</tr>
										</table>
									</div>
									<div id="tooltip-payment-information-{{ item.id }}" class="tooltip">
										<h3>Payment Information</h3>
										<table class="margin-bottom-10" cellpadding="0" cellspacing="0" border="0" width="100%">
											{% if item.paymentType != '' %}
												<tr>
													<td class="label">Payment Type</td>
													<td>{% if item.paymentType == '' %}&nbsp;-&nbsp;{% else %}<img class="no-border" src="{{ asset(item.paymentTypeLogo) }}" border="0" alt="{{ item.paymentType }}" />{% endif %}</td>
												</tr>
											{% endif %}
											<tr>
												<td class="label">Total Amount</td>
												<td>&pound;{{ item.total|number_format(2)|default('0.00') }}</td>
											</tr>
											{% if item.paymentResponse != '' %}
												<tr>
													<td class="label">Transaction Status</td>
													<td{% if item.paymentResponse.Status is defined %} class="gradient-background-{% if item.paymentResponse.Status|upper == 'SUCCESS' %}green{% else %}red{% endif %}"{% endif %}>{{ (item.paymentResponse.Status is defined?item.paymentResponse.Status|default('-'):'-') }}</td>
												</tr>
												{% if item.paymentResponse.TxAuthNo is defined %}
													<tr>
														<td class="label">Authorisation Code</td>
														<td>{{ item.paymentResponse.TxAuthNo|default('-') }}</td>
													</tr>
												{% endif %}
												{% if item.paymentResponse.StatusDetail is defined %}
													<tr>
														<td class="label">Status Information</td>
														<td>{{ item.paymentResponse.StatusDetail|default('-') }}</td>
													</tr>
												{% endif %}
												{% if item.paymentResponse.VPSTxId is defined %}
													<tr>
														<td class="label">Unique Transaction ID</td>
														<td>{{ item.paymentResponse.VPSTxId|default('-') }}</td>
													</tr>
												{% endif %}
											{% else %}
												<tr>
													<td class="label">Transaction Status</td>
													<td class="gradient-background-red">NO PAYMENT TAKEN</td>
												</tr>
											{% endif %}
										</table>
										<h3>Standard Fraud Checks</h3>
										<table{% if (item.paymentType == 'PayPal through SagePay') or (item.paymentType == 'SagePay') %} class="margin-bottom-10"{% endif %} cellpadding="0" cellspacing="0" border="0" width="100%">
											<tr>
												<td class="label">Has customer ordered before?</td>
												<td class="ac gradient-background-{{ (item.fraudCheckCustomerOrdered == 1?'green':'orange') }}">{{ (item.fraudCheckCustomerOrdered == 1?'YES':'NO') }}</td>
											</tr>
											<tr>
												<td class="label">Is the billing and delivery address the same?</td>
												<td class="ac gradient-background-{{ (item.fraudCheckAddressMatch == 1?'green':'orange') }}">{{ (item.fraudCheckAddressMatch == 1?'YES':'NO') }}</td>
											</tr>
											<tr>
												<td class="label">Name found on a different order?</td>
												<td class="ac gradient-background-{{ (item.fraudCheckNameUsedOnDifferentOrder == 1?'red':'green') }}">{{ (item.fraudCheckNameUsedOnDifferentOrder == 1?'YES':'NO') }}</td>
											</tr>
											<tr>
												<td class="label">Postcode found on a different order?</td>
												<td class="ac gradient-background-{{ (item.fraudCheckPostZipCodeUsedOnDifferentOrder == 1?'red':'green') }}">{{ (item.fraudCheckPostZipCodeUsedOnDifferentOrder == 1?'YES':'NO') }}</td>
											</tr>
											<tr>
												<td class="label">Telephone found on a different order?</td>
												<td class="ac gradient-background-{{ (item.fraudCheckTelephoneUsedOnDifferentOrder == 1?'red':'green') }}">{{ (item.fraudCheckTelephoneUsedOnDifferentOrder == 1?'YES':'NO') }}</td>
											</tr>
										</table>
										{% if item.paymentType == 'PayPal through SagePay' %}
											{% if (item.paymentResponse.AddressStatus is defined) or (item.paymentResponse.PayerStatus is defined) %}
												<h3>PayPal Fraud Checks</h3>
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													{% if item.paymentResponse.AddressStatus is defined %}
														<tr>
															<td class="label">Address Status</td>
															<td class="gradient-background-{% if item.paymentResponse.AddressStatus == 'CONFIRMED' %}green{% elseif item.paymentResponse.AddressStatus == 'UNCONFIRMED' %}red{% else %}orange{% endif %}">{{ item.paymentResponse.AddressStatus|default('-') }}</td>
														</tr>
													{% endif %}
													{% if item.paymentResponse.PayerStatus is defined %}
														<tr>
															<td class="label">Payer Status</td>
															<td class="gradient-background-{% if item.paymentResponse.PayerStatus == 'VERIFIED' %}green{% else %}red{% endif %}">{{ item.paymentResponse.PayerStatus|default('-') }}</td>
														</tr>
													{% endif %}
												</table>
											{% endif %}
										{% elseif item.paymentType == 'SagePay' %}
											{% if (item.paymentResponse.CardType is defined) or (item.paymentResponse.Last4Digits is defined) or (item.paymentResponse.AddressResult is defined) or (item.paymentResponse.PostCodeResult is defined) or (item.paymentResponse.AVSCV2 is defined) or (item.paymentResponse.CV2Result is defined) or (item.paymentResponse['3DSecureStatus'] is defined) %}
												<h3>SagePay Fraud Checks</h3>
												<table cellpadding="0" cellspacing="0" border="0" width="100%">
													{% if item.paymentResponse.CardType is defined %}
														<tr>
															<td class="label">Card Type</td>
															<td>{{ item.paymentResponse.CardType|default('-') }}</td>
														</tr>
													{% endif %}
													{% if item.paymentResponse.Last4Digits is defined %}
														<tr>
															<td class="label">Card Number</td>
															<td>{% if item.paymentResponse.Last4Digits > 0 %}**** **** **** {{ item.paymentResponse.Last4Digits|default('-') }}{% else %}-{% endif %}</td>
														</tr>
													{% endif %}
													{% if item.paymentResponse.AddressResult is defined %}
														<tr>
															<td class="label">Address Check</td>
															<td class="gradient-background-{% if item.paymentResponse.AddressResult == 'MATCHED' %}green{% elseif item.paymentResponse.AddressResult == 'NOTMATCHED' %}red{% else %}orange{% endif %}">{{ item.paymentResponse.AddressResult|default('-') }}</td>
														</tr>
													{% endif %}
													{% if item.paymentResponse.PostCodeResult is defined %}
														<tr>
															<td class="label">Postcode Check</td>
															<td class="gradient-background-{% if item.paymentResponse.PostCodeResult == 'MATCHED' %}green{% elseif item.paymentResponse.PostCodeResult == 'NOTMATCHED' %}red{% else %}orange{% endif %}">{{ item.paymentResponse.PostCodeResult|default('-') }}</td>
														</tr>
													{% endif %}
													{% if item.paymentResponse.AVSCV2 is defined %}
														<tr>
															<td class="label">AVS/CV2 Check</td>
															<td class="gradient-background-{% if item.paymentResponse.AVSCV2 == 'ALL MATCH' %}green{% elseif item.paymentResponse.AVSCV2 == 'NO DATA MATCHES' %}red{% else %}orange{% endif %}">{{ item.paymentResponse.AVSCV2|default('-') }}</td>
														</tr>
													{% endif %}
													{% if item.paymentResponse.CV2Result is defined %}
														<tr>
															<td class="label">CV2 Result</td>
															<td class="gradient-background-{% if item.paymentResponse.CV2Result == 'MATCHED' %}green{% elseif item.paymentResponse.CV2Result == 'NOTMATCHED' %}red{% else %}orange{% endif %}">{{ item.paymentResponse.CV2Result|default('-') }}</td>
														</tr>
													{% endif %}
													{% if item.paymentResponse['3DSecureStatus'] is defined %}
														<tr>
															<td class="label">3D Secure Status</td>
															<td class="gradient-background-{% if item.paymentResponse['3DSecureStatus'] == 'OK' %}green{% else %}red{% endif %}">{{ item.paymentResponse['3DSecureStatus']|default('-') }}</td>
														</tr>
													{% endif %}
												</table>
											{% endif %}
										{% endif %}
									</div>
									<div id="tooltip-delivery-information-{{ item.id }}" class="tooltip">
										<h3>{% if item.deliveryType == 'Collection' %}Collection{% else %}Delivery{% endif %} Information</h3>
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td class="label">Estimated {% if item.deliveryType == 'Collection' %}Collection{% else %}Delivery{% endif %}</td>
												<td>Estimated {% if item.deliveryType == 'Collection' %}collection available{% else %}Delivery{% endif %} between <strong class="important">{{ item.estimatedDeliveryDaysStart }}</strong> and <strong class="important">{{ item.estimatedDeliveryDaysEnd }}</strong> subject to availability.</td>
											</tr>
											<tr>
												<td class="label">Delivery Type</td>
												<td{% if item.deliveryType == 'Collection' %} class="gradient-background-red"{% endif %}>{% if item.deliveryType == 'Collection' %}<strong>COLLECTION</strong>{% else %}{{ item.deliveryType }}{% endif %}</td>
											</tr>
											{% if item.deliveryType != 'Collection' %}
												<tr>
													<td class="label">Delivery Charge</td>
													<td{% if item.deliveryCharge == 0 %} class="gradient-background-green"{% endif %}>{% if item.deliveryCharge > 0 %}&pound;{{ item.deliveryCharge|number_format(2) }}{% else %}FREE{% endif %}</td>
												</tr>
												<tr>
													<td class="label">Courier</td>
													<td>{{ item.courier|default('Not Assigned Yet') }}</td>
												</tr>
												<tr>
													<td class="label">No. of Packages</td>
													<td>{{ (item.numberOfPackages > 0?item.numberOfPackages:'1') }}</td>
												</tr>
												{% if item.trackingNumber != '' %}
													<tr>
														<td class="label">Tracking Number</td>
														<td>{{ item.trackingNumber|default('-') }}</td>
													</tr>
												{% endif %}
												<tr>
													<td class="label">Courier labels printed?</td>
													<td class="gradient-background-{{ (item.labelsPrinted > 0?'green':'orange') }}">{{ (item.labelsPrinted > 0?'YES':'NO') }}</td>
												</tr>
												<tr>
													<td class="label">Deliver To</td>
													<td>{% spaceless %}
														{{ item.deliveryFirstName|upper }} {{ item.deliveryLastName|upper }}<br />
														{% if item.deliveryOrganisationName != '' %}
															{{ item.deliveryOrganisationName|upper }}<br />
														{% endif %}
														{{ item.deliveryAddressLine1|upper }}<br />
														{% if item.deliveryAddressLine2 != '' %}
															{{ item.deliveryAddressLine2|upper }}<br />
														{% endif %}
														{{ item.deliveryTownCity|upper }}<br />
														{% if item.deliveryCountyState != '' %}
															{{ item.deliveryCountyState|upper }}<br />
														{% endif %}
														{{ item.deliveryPostZipCode|upper }}
													{% endspaceless %}</td>
												</tr>
											{% endif %}
										</table>
									</div>
									<div id="tooltip-order-information-{{ item.id }}" class="tooltip">
										<h3>Order Information</h3>
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td class="label">Subtotal before Delivery Charges (inc. VAT)</td>
												<td>&pound;{{ item.subTotal|number_format(2) }}</td>
											</tr>

											</tr>
											{% if item.telephoneDaytime != '' %}
												<tr>
													<td class="label">Telephone (Daytime)</td>
													<td>{{ item.telephoneDaytime }}</td>
												</tr>
											{% endif %}
											{% if item.telephoneEvening != '' %}
												<tr>
													<td class="label">Telephone (Evening)</td>
													<td>{{ item.telephoneEvening }}</td>
												</tr>
											{% endif %}
											{% if item.mobile != '' %}
												<tr>
													<td class="label">Mobile</td>
													<td>{{ item.mobile }}</td>
												</tr>
											{% endif %}
											<tr>
												<td class="label">Billing Address</td>
												<td>{% spaceless %}
													{{ item.billingFirstName|upper }} {{ item.billingLastName|upper }}<br />
													{% if item.billingOrganisationName != '' %}
														{{ item.billingOrganisationName|upper }}<br />
													{% endif %}
													{{ item.billingAddressLine1|upper }}<br />
													{% if item.billingAddressLine2 != '' %}
														{{ item.billingAddressLine2|upper }}<br />
													{% endif %}
													{{ item.billingTownCity|upper }}<br />
													{% if item.billingCountyState != '' %}
														{{ item.billingCountyState|upper }}<br />
													{% endif %}
													{{ item.billingPostZipCode|upper }}
												{% endspaceless %}</td>
											</tr>
											<tr>
												<td class="label">Delivery Address</td>
												<td>{% spaceless %}
													{{ item.deliveryFirstName|upper }} {{ item.deliveryLastName|upper }}<br />
													{% if item.deliveryOrganisationName != '' %}
														{{ item.deliveryOrganisationName|upper }}<br />
													{% endif %}
													{{ item.deliveryAddressLine1|upper }}<br />
													{% if item.deliveryAddressLine2 != '' %}
														{{ item.deliveryAddressLine2|upper }}<br />
													{% endif %}
													{{ item.deliveryTownCity|upper }}<br />
													{% if item.deliveryCountyState != '' %}
														{{ item.deliveryCountyState|upper }}<br />
													{% endif %}
													{{ item.deliveryPostZipCode|upper }}
												{% endspaceless %}</td>
											</tr>
										</table>
									</div>
									<div id="tooltip-documents-{{ item.id }}" class="tooltip">
										<h3>Documents</h3>
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td class="label">Order printed?</td>
												<td class="gradient-background-{% if item.orderPrinted > 0 %}green{% else %}red{% endif %}">{{ (item.orderPrinted > 0?'YES':'NO') }}</td>
											</tr>
											<tr>
												<td class="label">Delivery note printed?</td>
												<td class="gradient-background-{% if item.deliveryNotePrinted > 0 %}green{% else %}orange{% endif %}">{{ (item.deliveryNotePrinted > 0?'YES':'NO') }}</td>
											</tr>
										</table>
									</div>
								{% endfor %}
							{% else %}
								<p class="no-results">Sorry, no {{ data.settings.multipleDescription }} were found.</p>
							{% endif %}
						</div>
						<div class="clear"></div>
						{% include 'WebIlluminationAdminBundle:System:listingPagination.html.twig' with {'data': data} %}
			        	<div class="clear"></div>
			        	<div class="padding-15 padding-top-5">
				        	<div id="float-buttons" class="clearfix">
						        <div id="float-buttons-content" class="float-buttons clearfix buttons">
						        	<input type="hidden" value="0" id="form-delete" name="delete" />
						        	<input type="hidden" name="extra-action" id="form-extra-action" value="" />
						        	{% if data.items|length > 0 %}
							        	<select class="extra-action" class="fr">
							        		<option value="">- Choose Bulk Action -</option>
							        		<option value="printOrders">Print Orders</option>
							        		<option value="printCopyOrders">Print Copy Orders</option>
							        		<option value="printDeliveryNotes">Print Delivery Notes</option>
							        		<option value="printCustomerInvoices">Print Customer Invoices</option>
							        		<option value="emailCustomerInvoices">Email Customers a Copy Invoice</option>
						        		</select>
						        		<label class="fr">or</label>						        									        
							        	<button class="fr button ui-corner-right icon-set-white ui-button-red action-confirm-multiple-delete" data-icon-primary="ui-icon-circle-cross">Delete Selected</button>
							        	<button type="submit" class="fr icon-set-white button ui-corner-left ui-button-green" data-icon-primary="ui-icon-circle-tick">Update Selected</button>
						        	{% endif %}
						        	<!--<a href="{{ path('admin_'~data.settings.multiplePath~'_add') }}" class="fr button icon-set-white{% if data.items|length > 0 %} ui-corner-left{% endif %} ui-button-green" data-icon-primary="ui-icon-circle-plus">Add an {{ data.settings.singleTitle }}</a>-->
							    </div>
							</div>
			        	</div>
					</form>
				</section>
	        </div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':indexScript.js.twig' with {'data': data} %}
{% endblock %}