{% extends '::admin.html.twig' %}
{% block title %}Order {{ data.item.id }} - Customer | {{ parent() }}{% endblock %}
{% block leftmenu %}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemLeftMenu.html.twig' with {'data': data} %}
{% endblock %}
{% block header %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemHeader.html.twig' with {'data': data} %}
{% endblock %}
{% block body %}
    <section class="container_6 clearfix">
    	<form class="form has-validation" id="form-update" method="post" action="{{ data.formAction }}">
	    	<div class="grid_6">
	    		<div class="portlet">
					<header>
	           			{% if data.mode == 'update' %}
	            			<h2>Customer</h2>
	            		{% else %}
		                	<h2>Add a Customer</h2>
		                {% endif %}
	                </header>
					<section>
						<form class="form has-validation" id="form-{{ data.mode }}" method="post" action="{{ data.formAction }}">
							<div class="form-element clearfix no-margin-top">
						    	<span data-help-container="name" class="info-message-icon ui-icon ui-icon-help"></span>
						        <label for="form-name" class="form-label"><em>*</em> Name</label>
						        <div class="form-input">
						        	<table class="no-padding" width="100%">
										<tr>
											<td width="50%"><input class="ui-corner-left" placeholder="First Name *" type="text" id="form-first-name" name="first-name" value="{{ data.item.firstName|default('') }}" required="required" data-message="Enter the first name" /></td>
											<td width="50%"><input class="ui-corner-right" placeholder="Last Name *" type="text" id="form-last-name" name="last-name" value="{{ data.item.lastName|default('') }}" required="required" data-message="Enter the last name" /></td>
										</tr>
									</table>
						        </div>
						    </div>
						    <div id="form-help-name" class="form-help ui-helper-hidden">
						    	<p>Enter the first name and last name of the person placing the order.</p>
						    </div>
						    <div class="form-element clearfix">
						    	<span data-help-container="email-address" class="info-message-icon ui-icon ui-icon-help"></span>
						        <label for="form-email-address" class="form-label"><em>*</em> Email Address</label>
						        <div class="form-input">
						        	<table class="no-padding" width="100%">
										<tr>
											<td><input placeholder="Email Address *" type="email" class="ui-corner-left email-address" id="form-email-address" name="email-address" value="{{ data.item.emailAddress|default('') }}" required="required" data-message="Enter the email address" /></td>
											<td width="1"><a href="mailto:{{ data.item.emailAddress|default('') }}" target="_blank" class="fr button ui-corner-right icon-set-white ui-button-black" data-icon-only="true" data-icon-primary="ui-icon-email">Email</a></td>
										</tr>
									</table>
						        </div>
						    </div>
						    <div id="form-help-email-address" class="form-help ui-helper-hidden">
						    	<p>Enter the email address of the person placing the order.</p>
						    </div>
						    
						    <div class="form-element clearfix">
						    	<span data-help-container="telephone-daytime" class="info-message-icon ui-icon ui-icon-help"></span>
						        <label for="form-telephone-daytime" class="form-label"><em>*</em> Telephone (Daytime)</label>
						        <div class="form-input"><input data-validation-type="telephone" class="telephone" placeholder="Telephone (Daytime) *" type="text" id="form-telephone-daytime" name="telephone-daytime" value="{{ data.item.telephoneDaytime|default('') }}" required="required" data-message="Enter the telephone (daytime)" /></div>
						    </div>
						    <div id="form-help-telephone-daytime" class="form-help ui-helper-hidden">
						    	<p>Enter the daytime telephone number of the person placing the order.</p>
						    </div>
						    <div class="form-element clearfix no-margin-top">
						    	<span data-help-container="telephone-evening" class="info-message-icon ui-icon ui-icon-help"></span>
						        <label for="form-telephone-evening" class="form-label">Telephone (Evening)</label>
						        <div class="form-input"><input data-validation-type="telephone" class="telephone" placeholder="Telephone (Evening)" type="text" id="form-telephone-evening" name="telephone-evening" value="{{ data.item.telephoneEvening|default('') }}" /></div>
						    </div>
						    <div id="form-help-telephone-evening" class="form-help ui-helper-hidden">
						    	<p>Enter the evening telephone number of the person placing the order.</p>
						    </div>
						    <div class="form-element clearfix no-margin-top">
						    	<span data-help-container="mobile" class="info-message-icon ui-icon ui-icon-help"></span>
						        <label for="form-mobile" class="form-label">Mobile</label>
						        <div class="form-input"><input data-validation-type="mobile" class="telephone" placeholder="Mobile" type="text" id="form-mobile" name="mobile" value="{{ data.item.mobile|default('') }}" /></div>
						    </div>
						    <div id="form-help-mobile" class="form-help ui-helper-hidden">
						    	<p>Enter the mobile number of the person placing the order.</p>
						    </div>
						    
						    <div id="billing-address-container" class="form-element clearfix">
						    	<span data-help-container="billing-address" class="info-message-icon ui-icon ui-icon-help"></span>
						        <label for="form-name" class="form-label">
						        	<em>*</em> Billing Address
						        	<div class="padding-left-5 fr">
							        	<button type="button" class="fr action-use-delivery-address ui-corner-top full button icon-set-white ui-button-black ar" data-icon-primary="ui-icon-delivery-truck">Use Delivery Address</button>
							        	<button type="button" class="fr action-clear-billing-address full button icon-set-white ui-button-red ui-corner-bottom ar" data-icon-primary="ui-icon-circle-cross">Clear Address</button>
							        	<textarea id="billing-address-preview" rows="9" class="full ac margin-top-5"></textarea>
						        	</div>
						        </label>
						        <div class="form-input">
						        	<table class="no-padding" width="100%">
										<tr>
											<td width="50%"><input class="ui-corner-tl" placeholder="First Name *" type="text" id="form-billing-first-name" name="billing-first-name" value="{{ data.item.billingFirstName|default('') }}" required="required" data-message="Enter the first name" /></td>
											<td width="50%"><input class="ui-corner-tr" placeholder="Last Name *" type="text" id="form-billing-last-name" name="billing-last-name" value="{{ data.item.billingLastName|default('') }}" required="required" data-message="Enter the last name" /></td>
										</tr>
										<tr>
											<td colspan="2"><input class="ui-corner-none" placeholder="Company" type="text" id="form-billing-organisation-name" name="billing-organisation-name" value="{{ data.item.billingOrganisationName|default('') }}" /></td>
										</tr>
										<tr>
											<td colspan="2">
												<select class="ui-corner-none" id="form-billing-country-code" name="billing-country-code" required="required" data-message="Select a Country">
													<option{% if data.item is defined %}{% if data.item.billingCountryCode == 'GB' %} selected="selected"{% endif %}{% else %} selected="selected"{% endif %} value="GB">United Kingdom</option>
													<option{% if data.item is defined %}{% if data.item.billingCountryCode == 'IE' %} selected="selected"{% endif %}{% endif %} value="IE">Republic of Ireland</option>
												</select>
											</td>
										</tr>
										<tr>
											<td colspan="2"><input class="ui-corner-none" required="required" data-message="Enter an address" placeholder="Address Line 1 *" type="text" id="form-billing-address-line-1" name="billing-address-line-1" value="{{ data.item.billingAddressLine1|default('') }}" /></td>
										</tr>
										<tr>
											<td colspan="2"><input class="ui-corner-none" placeholder="Address Line 2" type="text" id="form-billing-address-line-2" name="billing-address-line-2" value="{{ data.item.billingAddressLine2|default('') }}" /></td>
										</tr>
										<tr>
											<td colspan="2"><input class="ui-corner-none" required="required" data-message="Enter a town or city" placeholder="Town/City *" type="text" id="form-billing-town-city" name="billing-town-city" value="{{ data.item.billingTownCity|default('') }}" /></td>
										</tr>
										<tr>
											<td colspan="2"><input class="ui-corner-none" placeholder="County" type="text" id="form-billing-county-state" name="billing-county-state" value="{{ data.item.billingCountyState|default('') }}" /></td>
										</tr>
										<tr>
											<td colspan="2"><input class="ui-corner-bottom" required="required" data-message="Enter a post code" placeholder="Post Code *" type="text" id="form-billing-post-zip-code" name="billing-post-zip-code" value="{{ data.item.billingPostZipCode|upper|default('') }}" /></td>
										</tr>
									</table>
						        </div>
						        <div class="clear"></div>
						        {% if data.item.paymentType == 'SagePay' %}
							        {% if data.item.paymentResponse.AddressResult is defined %}
							        	<div class="padding-bottom-10">
											<div class="padding-5 ui-corner-all ac gradient-background-{% if data.item.paymentResponse.AddressResult == 'MATCHED' %}green{% elseif data.item.paymentResponse.AddressResult == 'NOTMATCHED' %}red{% else %}orange{% endif %}">SAGEPAY ADDRESS CHECK: {{ data.item.paymentResponse.AddressResult|upper|default('-') }}</div>
							        	</div>
									{% endif %}
								{% elseif data.item.paymentType == 'PayPal through SagePay' %}
									{% if data.item.paymentResponse.AddressStatus is defined %}
							        	<div class="padding-bottom-10">
											<div class="padding-5 ui-corner-all ac gradient-background-{% if data.item.paymentResponse.AddressStatus == 'CONFIRMED' %}green{% elseif data.item.paymentResponse.AddressStatus == 'UNCONFIRMED' %}red{% else %}orange{% endif %}">PAYPAL ADDRESS STATUS: {{ data.item.paymentResponse.AddressStatus|upper|default('-') }}</div>
										</div>
									{% endif %}
								{% endif %}
						    </div>
						    <div id="form-help-billing-address" class="form-help ui-helper-hidden">
						    	<p>Enter the billing address for the order.</p>
						    </div>
						    
						    <div id="delivery-address-container" class="form-element clearfix">
						    	<span data-help-container="delivery-address" class="info-message-icon ui-icon ui-icon-help"></span>
						        <label for="form-name" class="form-label">
						        	<em>*</em> Delivery Address
						        	<div class="padding-left-5 fr">
							        	<button type="button" class="fr action-use-billing-address ui-corner-top full button icon-set-white ui-button-black ar" data-icon-primary="ui-icon-credit-card-back">Use Billing Address</button>
							        	<button type="button" class="fr action-clear-delivery-address full button icon-set-white ui-button-red ui-corner-bottom ar" data-icon-primary="ui-icon-circle-cross">Clear Address</button>
							        	<textarea id="delivery-address-preview" rows="9" class="full ac margin-top-5"></textarea>
						        	</div>
						        </label>
						        <div class="form-input">
						        	<table class="no-padding" width="100%">
										<tr>
											<td width="50%"><input class="ui-corner-tl" placeholder="First Name *" type="text" id="form-delivery-first-name" name="delivery-first-name" value="{{ data.item.deliveryFirstName|default('') }}" required="required" data-message="Enter the first name" /></td>
											<td width="50%"><input class="ui-corner-tr" placeholder="Last Name *" type="text" id="form-delivery-last-name" name="delivery-last-name" value="{{ data.item.deliveryLastName|default('') }}" required="required" data-message="Enter the last name" /></td>
										</tr>
										<tr>
											<td colspan="2"><input class="ui-corner-none" placeholder="Company" type="text" id="form-delivery-organisation-name" name="delivery-organisation-name" value="{{ data.item.deliveryOrganisationName|default('') }}" /></td>
										</tr>
										<tr>
											<td colspan="2">
												<select class="ui-corner-none" id="form-delivery-country-code" name="delivery-country-code" required="required" data-message="Select a Country">
													<option{% if data.item is defined %}{% if data.item.deliveryCountryCode == 'GB' %} selected="selected"{% endif %}{% else %} selected="selected"{% endif %} value="GB">United Kingdom</option>
													<option{% if data.item is defined %}{% if data.item.deliveryCountryCode == 'IE' %} selected="selected"{% endif %}{% endif %} value="IE">Republic of Ireland</option>
												</select>
											</td>
										</tr>
										<tr>
											<td colspan="2"><input class="ui-corner-none" required="required" data-message="Enter an address" placeholder="Address Line 1 *" type="text" id="form-delivery-address-line-1" name="delivery-address-line-1" value="{{ data.item.deliveryAddressLine1|default('') }}" /></td>
										</tr>
										<tr>
											<td colspan="2"><input class="ui-corner-none" placeholder="Address Line 2" type="text" id="form-delivery-address-line-2" name="delivery-address-line-2" value="{{ data.item.deliveryAddressLine2|default('') }}" /></td>
										</tr>
										<tr>
											<td colspan="2"><input class="ui-corner-none" required="required" data-message="Enter a town or city" placeholder="Town/City *" type="text" id="form-delivery-town-city" name="delivery-town-city" value="{{ data.item.deliveryTownCity|default('') }}" /></td>
										</tr>
										<tr>
											<td colspan="2"><input class="ui-corner-none" placeholder="County" type="text" id="form-delivery-county-state" name="delivery-county-state" value="{{ data.item.deliveryCountyState|default('') }}" /></td>
										</tr>
										<tr>
											<td colspan="2"><input class="ui-corner-bottom" required="required" data-message="Enter a post code" placeholder="Post Code *" type="text" id="form-delivery-post-zip-code" name="delivery-post-zip-code" value="{{ data.item.deliveryPostZipCode|upper|default('') }}" /></td>
										</tr>
									</table>
						        </div>
						    </div>
						    <div id="form-help-delivery-address" class="form-help ui-helper-hidden">
						    	<p>Enter the delivery address for the order.</p>
						    </div>
						

						    <div id="float-buttons" class="clearfix">
						        <div id="float-buttons-content" class="float-buttons clearfix buttons">
						        	{% if data.mode == 'update' %}
						        		<input type="hidden" value="0" id="form-go-back" name="go-back" />
						        		<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': data.item.parentId}) }}" id="button-go-back" class="fr ui-corner-right button ui-button-black icon-set-white" data-icon-primary="ui-icon-circle-arrow-left">Go Back</a>			        		
						        		<button id="button-update-go-back" type="submit" class="fr button ui-corner-none icon-set-white ui-button-green" data-icon-primary="ui-icon-circle-tick">Update &amp; Go Back</button>
						        		<button id="button-update" type="submit" class="fr button ui-corner-left icon-set-white ui-button-green" data-icon-primary="ui-icon-circle-tick">Update</button>
						        	{% elseif data.mode == 'add' %}
							        	<input type="hidden" value="0" id="form-add-another" name="add-another" />
							        	<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': data.parentId}) }}" id="button-go-back" class="fr ui-corner-right icon-set-white button ui-button-black" data-icon-primary="ui-icon-circle-arrow-left">Go Back</a>
							        	<button type="submit" class="fr button ui-corner-none ui-button-green icon-set-white " data-icon-primary="ui-icon-circle-tick">Add &amp; Update</button>
							        	<button id="button-add" type="submit" class="fr button ui-corner-left ui-button-green icon-set-white " data-icon-primary="ui-icon-circle-tick">Add &amp; Go Back</button>
							        {% endif %}
							    </div>
							</div>
						</form>
					</section>
		        </div>
			</div>
		</form>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':itemScript.js.twig' with {'data': data} %}
{% endblock %}