{% extends ':Old:admin.html.twig' %}
{% block title %}Process Deliveries  | {{ parent() }}{% endblock %}
{% block leftmenu %}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':leftMenu.html.twig' with {'data': data} %}
{% endblock %}
{% block header %}
	{{ parent() }}
	<a href="{{ path('admin_'~data.settings.multiplePath) }}" class="fr button icon-set-white ui-button-black" data-icon-primary="ui-icon-circle-arrow-left">Go Back</a>
	<h2>Process Deliveries</h2>
	<div class="clear"></div>
{% endblock %}
{% block body %}
    <section class="container_6 clearfix no-padding-top">
    	<div class="grid_6">
    		<div class="info-message">
				<span class="info-message-icon ui-icon ui-icon-info"></span>
				<p>Select the orders you want to process for delivery and make any updates as required before processing the selected orders.</p>
				<p><strong class="important">IMPORTANT NOTE:</strong> Please ensure you check the selected orders as the order is completed and the customer notified as part of the process.</p>
				<div class="clear"></div>
			</div>
    		<div class="portlet">
				<header>
	                <h2 id="listing-title-orders">{{ data.settings.multipleTitle }} to Process ({{ data.items|length }})</h2>
	            </header>
				<section class="no-padding">
					<form id="form-update" class="form" action="{{ path('admin_'~data.settings.multiplePath~'_process_deliveries') }}" method="post">
						<div id="listing" class="position-relative">
							<div class="listing-settings">
								<div class="fl">
									<div class="listing-settings-title fl">Quick Filter</div>
									<input type="text" class="fl quick-filter" data-listing-title="{{ data.settings.multipleTitle }} to Process" data-listing-object="orders" value="" placeholder="Search..." />
								</div>
								<div class="fr filter-listing-container">
									<div class="listing-settings-title fl">Delivery</div>
									<select class="filter-listing full fl" data-filter="delivery-type" data-listing-title="{{ data.settings.multipleTitle }} to Process" data-listing-object="orders">
						        		<option value="">All Delivery Types</option>
						        		<option value="mail">Mail Delivery Service</option>
						        		<option value="parcel">Parcel Delivery Service</option>
								        <option value="pallet">Pallet Delivery Service</option>
								        <option value="home">Home Delivery Service</option>
						        	</select>
								</div>
							    <div class="clear"></div>
							</div>
							{% if data.items|length > 0 %}
								<table class="data-table" id="listing-orders" width="100%">
									<thead>
										<tr>
											<th width="19" class="ac"><input type="checkbox" class="action-select-all" value="1" /></th>
											<th width="1" class="ac">Order</th>
											<th class="al">Delivery</th>
											<th width="1" class="al">Courier</th>
											<th width="77" class="ac">Packages</th>
											<th class="ac">Tracking Information</th>
											<th class="ac">Review?</th>
										</tr>
									</thead>
									<tbody>
										{% for item in data.items %}										
											<tr data-delivery-type="{% if 'Royal Mail' in item.deliveryType %}mail{% elseif 'Parcel' in item.deliveryType %}parcel{% elseif 'Pallet' in item.deliveryType %}pallet{% elseif 'Home Delivery' in item.deliveryType %}home{% endif %}" class="item" id="item-{{ item.id }}">
												<td width="19" class="ac select"><input data-id="{{ item.id }}" type="checkbox" class="action-select" name="select[{{ item.id }}]" id="listing-select-{{ item.id }}" value="1" /></td>
												<td width="1" class="ac filterable">
													<a target="_blank" href="{{ path('admin_'~data.settings.multiplePath~'_update', {'id': item.id}) }}" class="tooltip-preview-left" data-tooltip-id="#tooltip-order-information-{{ item.id }}"><strong>{{ item.id }}</strong></a>
												</td>
												<td class="al">{{ item.deliveryType|replace({'FREE DELIVERY ': ''}) }}<br />{% if item.deliveryCharge > 0 %}&pound;{{ item.deliveryCharge|number_format(2) }}{% else %}<strong class="green">FREE</strong>{% endif %}</td>
												<td width="1" class="al">
													{% if 'Royal Mail' in item.deliveryType %}
														<table class="no-border">
															<tr class="no-row-colour">
																<td><input data-id="{{ item.id }}" type="radio" name="courier[{{ item.id }}]" id="listing-courier-royal-mail-{{ item.id }}" value="Royal Mail" checked="checked" /></td>
																<td class="no-wrap"><label class="pointer" for="listing-courier-royal-mail-{{ item.id }}"><img class="pointer border" src="{{ asset('bundles/webilluminationadmin/images/logos/royal-mail-small.png') }}" border="0" alt="Royal Mail" /></label></td>
															</tr>
														</table>
													{% elseif 'Parcel' in item.deliveryType %}
														<table class="no-border">
															<tr class="no-row-colour">
																<td><input data-id="{{ item.id }}" type="radio" name="courier[{{ item.id }}]" id="listing-courier-dpd-{{ item.id }}" value="DPD"{% if (item.courier == 'DPD') or (item.courier == '') %} checked="checked"{% endif %} /></td>
																<td class="no-wrap"><label class="pointer" for="listing-courier-dpd-{{ item.id }}"><img class="pointer border" src="{{ asset('bundles/webilluminationadmin/images/logos/dpd-small.png') }}" border="0" alt="DPD" /></label></td>
																<td><input data-id="{{ item.id }}" type="radio" name="courier[{{ item.id }}]" id="listing-courier-parcelforce-{{ item.id }}" value="Parcelforce"{% if item.courier == 'Parcelforce' %} checked="checked"{% endif %} /></td>
																<td class="no-wrap"><label class="pointer" for="listing-courier-parcelforce-{{ item.id }}"><img class="pointer border" src="{{ asset('bundles/webilluminationadmin/images/logos/parcelforce-small.png') }}" border="0" alt="Parcelforce" /></label></td>
															</tr>
														</table>
													{% elseif 'Pallet' in item.deliveryType %}
														<table class="no-border">
															<tr class="no-row-colour">
																<td><input data-id="{{ item.id }}" type="radio" name="courier[{{ item.id }}]" id="listing-courier-palletways-{{ item.id }}" value="Palletways" checked="checked" /></td>
																<td class="no-wrap"><label class="pointer" for="listing-courier-palletways-{{ item.id }}"><img class="pointer border" src="{{ asset('bundles/webilluminationadmin/images/logos/palletways-small.png') }}" border="0" alt="Palletways" /></label></td>
															</tr>
														</table>
													{% elseif 'Home Delivery' in item.deliveryType %}
														<table class="no-border">
															<tr class="no-row-colour">
																<td><input data-id="{{ item.id }}" type="radio" name="courier[{{ item.id }}]" id="listing-courier-ghd-{{ item.id }}" value="GHD Transport" checked="checked" /></td>
																<td class="no-wrap"><label class="pointer" for="listing-courier-ghd-{{ item.id }}">G H D Transport</label></td>
															</tr>
														</table>
													{% else %}
														<table class="no-border">
															<tr class="no-row-colour">
																<td><input data-id="{{ item.id }}" type="radio" name="courier[{{ item.id }}]" id="listing-courier-royal-mail-{{ item.id }}" value="Royal Mail"{% if item.courier == 'Royal Mail' %} checked="checked"{% endif %} /></td>
																<td class="no-wrap"><label class="pointer" for="listing-courier-royal-mail-{{ item.id }}"><img class="pointer border" src="{{ asset('bundles/webilluminationadmin/images/logos/royal-mail-small.png') }}" border="0" alt="Royal Mail" /></label></td>
																<td><input data-id="{{ item.id }}" type="radio" name="courier[{{ item.id }}]" id="listing-courier-dpd-{{ item.id }}" value="DPD"{% if (item.courier == 'DPD') or (item.courier == '') %} checked="checked"{% endif %} /></td>
																<td class="no-wrap"><label class="pointer" for="listing-courier-dpd-{{ item.id }}"><img class="pointer border" src="{{ asset('bundles/webilluminationadmin/images/logos/dpd-small.png') }}" border="0" alt="DPD" /></label></td>
																<td><input data-id="{{ item.id }}" type="radio" name="courier[{{ item.id }}]" id="listing-courier-parcelforce-{{ item.id }}" value="Parcelforce"{% if item.courier == 'Parcelforce' %} checked="checked"{% endif %} /></td>
																<td class="no-wrap"><label class="pointer" for="listing-courier-parcelforce-{{ item.id }}"><img class="pointer border" src="{{ asset('bundles/webilluminationadmin/images/logos/parcelforce-small.png') }}" border="0" alt="Parcelforce" /></label></td>
																<td><input data-id="{{ item.id }}" type="radio" name="courier[{{ item.id }}]" id="listing-courier-palletways-{{ item.id }}" value="Palletways"{% if item.courier == 'Palletways' %} checked="checked"{% endif %} /></td>
																<td class="no-wrap"><label class="pointer" for="listing-courier-palletways-{{ item.id }}"><img class="pointer border" src="{{ asset('bundles/webilluminationadmin/images/logos/palletways-small.png') }}" border="0" alt="Palletways" /></label></td>
																<td><input data-id="{{ item.id }}" type="radio" name="courier[{{ item.id }}]" id="listing-courier-ghd-{{ item.id }}" value="GHD Transport"{% if item.courier == 'GHD Transport' %} checked="checked"{% endif %} /></td>
																<td class="no-wrap"><label class="pointer" for="listing-courier-ghd-{{ item.id }}">GHD Transport</label></td>
															</tr>
														</table>
													{% endif %}
												</td>
												<td width="77" class="ac">
													<table class="no-border" align="center">
														<tr>
															<td class="no-padding"><input name="number-of-packages[{{ item.id }}]" id="listing-number-of-packages-{{ item.id }}" data-id="{{ item.id }}" class="ui-corner-none ui-corner-left number quantity" width="20" type="text" value="{{ (item.numberOfPackages > 0?item.numberOfPackages:'1') }}" /></td>
															<td class="no-padding">
																<div class="quantity-buttons-container no-padding">
																	<div class="ui-corner-tr action-increase-quantity" data-id="{{ item.id }}" data-quantity-object="listing-number-of-packages-{{ item.id }}">+</div>
																	<div class="ui-corner-br action-decrease-quantity" data-id="{{ item.id }}" data-quantity-object="listing-number-of-packages-{{ item.id }}">-</div>
																</div>
															</td>
														</tr>
													</table>
												</td>
												<td>
													{% if ('Royal Mail' in item.deliveryType) or ('Parcel' in item.deliveryType) %}
														<input placeholder="Enter tracking number..." type="text" name="tracking-number[{{ item.id }}]" id="listing-tracking-number-{{ item.id }}" data-id="{{ item.id }}" value="{{ item.trackingNumber|default('') }}" class="uppercase full" />
													{% elseif 'Pallet' in item.deliveryType %}
														<table class="no-border" width="100%">
															<tr class="no-row-colour">
																<td width="19"><input class="delivery-service" data-id="{{ item.id }}" type="radio" name="delivery-service[{{ item.id }}]" id="listing-delivery-service-{{ item.id }}" value="Economy" checked="checked" /></td>
																<td width="50%" class="no-wrap"><label class="pointer full ac" for="listing-delivery-service-{{ item.id }}">Economy</label></td>
																<td width="19"><input class="delivery-service" data-id="{{ item.id }}" type="radio" name="delivery-service[{{ item.id }}]" id="listing-delivery-service-{{ item.id }}" value="Arranged" /></td>
																<td width="50%" class="no-wrap"><label class="pointer full ac" for="listing-delivery-service-{{ item.id }}">Arranged</label></td>
															</tr>
														</table>
														<table id="listing-delivery-dates-{{ item.id }}" class="no-border ui-helper-hidden" width="100%">
															<tr class="no-row-colour">
																<td width="50%"><input placeholder="DATE FROM..." type="text" name="delivery-date-from[{{ item.id }}]" id="listing-delivery-date-from-{{ item.id }}" data-id="{{ item.id }}" value="" class="date-picker ac" /></td>
																<td width="50%"><input placeholder="DATE TO..." type="text" name="delivery-date-to[{{ item.id }}]" id="listing-delivery-date-to-{{ item.id }}" data-id="{{ item.id }}" value="" class="date-picker ac" /></td>
															</tr>
														</table>
													{% else %}
														&nbsp;
													{% endif %}
												</td>
												<td class="ac"><input data-id="{{ item.id }}" type="checkbox" name="send-review-request[{{ item.id }}]" id="listing-send-review-request-{{ item.id }}" value="1"{% if item.sendReviewRequest > 0 %} checked="checked" {% endif %} /></td>
											</tr>
										{% endfor %}
									</tbody>
								</table>
								{% for item in data.items %}
									<div id="tooltip-order-information-{{ item.id }}" class="tooltip">
										<h3>Order Information</h3>
										<table width="100%" cellpadding="0" cellspacing="0" border="0">
											<tr>
												<td class="label">Name</td>
												<td>{{ item.firstName|upper }} {{ item.lastName|upper }}</td>
											</tr>
											<tr>
												<td class="label">Email Address</td>
												<td><a href="mailto:{{ item.emailAddress|lower }}">{{ item.emailAddress|lower }}</a></td>
											</tr>
											{% if item.telephoneDaytime != '' %}
												<tr>
													<td class="label">Telephone (Daytime)</td>
													<td>{{ item.telephoneDaytime }}</td>
												</tr>
											{% endif %}
											{% if item.telephoneEvening != '' %}
												<tr>
													<td class="label">Telephone (Evening)</td>
													<td>{{ item.telephoneEvening }}</td>
												</tr>
											{% endif %}
											{% if item.mobile != '' %}
												<tr>
													<td class="label">Mobile</td>
													<td>{{ item.mobile }}</td>
												</tr>
											{% endif %}
											<tr>
												<td class="label">Delivery Address</td>
												<td>{% spaceless %}
													{{ item.deliveryFirstName|upper }} {{ item.deliveryLastName|upper }}<br />
													{% if item.deliveryOrganisationName != '' %}
														{{ item.deliveryOrganisationName|upper }}<br />
													{% endif %}
													{{ item.deliveryAddressLine1|upper }}<br />
													{% if item.deliveryAddressLine2 != '' %}
														{{ item.deliveryAddressLine2|upper }}<br />
													{% endif %}
													{{ item.deliveryTownCity|upper }}<br />
													{% if item.deliveryCountyState != '' %}
														{{ item.deliveryCountyState|upper }}<br />
													{% endif %}
													{{ item.deliveryPostZipCode|upper }}
												{% endspaceless %}</td>
											</tr>
											{% if item.paymentType != '' %}
												<tr>
													<td class="label">Payment Type</td>
													<td>{% if item.paymentType == '' %}&nbsp;-&nbsp;{% else %}<img class="no-border" src="{{ asset(item.paymentTypeLogo) }}" border="0" alt="{{ item.paymentType }}" />{% endif %}</td>
												</tr>
											{% endif %}
											<tr>
												<td class="label">Estimated {% if item.deliveryType == 'Collection' %}Collection{% else %}Delivery{% endif %}</td>
												<td>Estimated {% if item.deliveryType == 'Collection' %}collection available{% else %}Delivery{% endif %} between <strong class="important">{{ item.estimatedDeliveryDaysStart }}</strong> and <strong class="important">{{ item.estimatedDeliveryDaysEnd }}</strong> subject to availability.</td>
											</tr>
											<tr>
												<td class="label">Delivery Type</td>
												<td{% if item.deliveryType == 'Collection' %} class="gradient-background-red"{% endif %}>{% if item.deliveryType == 'Collection' %}<strong>COLLECTION</strong>{% else %}{{ item.deliveryType }}{% endif %}</td>
											</tr>
											<tr>
												<td class="label">Subtotal before Delivery Charges (inc. VAT)</td>
												<td>&pound;{{ item.subTotal|number_format(2) }}</td>
											</tr>
											<tr>
												<td class="label">Delivery Charge (inc. VAT)</td>
												<td{% if item.deliveryCharge == 0 %} class="gradient-background-green"{% endif %}>{% if item.deliveryCharge > 0 %}&pound;{{ item.deliveryCharge|number_format(2) }}{% else %}FREE{% endif %}</td>
											</tr>
											{% if item.discount > 0 %}
												<tr>
													<td class="label">Discount</td>
													<td class="gradient-background-green">&pound;{{ item.discount|number_format(2) }}</td>
												</tr>
											{% endif %}
											<tr>
												<td class="label">VAT (20%)</td>
												<td>&pound;{{ item.vat|number_format(2) }}</td>
											</tr>
											<tr>
												<td class="label">Total Paid (inc. VAT)</td>
												<td><strong>&pound;{{ item.total|number_format(2) }}</strong></td>
											</tr>
										</table>
									</div>
								{% endfor %}
							{% else %}
								<p class="no-results">Sorry, no {{ data.settings.multipleDescription }} were found that need processing.</p>
							{% endif %}
						</div>
						<div class="clear"></div>
			        	<div class="padding-15 padding-top-5">
				        	<div id="float-buttons" class="clearfix">
						        <div id="float-buttons-content" class="float-buttons clearfix buttons">
						        	<a href="{{ path('admin_'~data.settings.multiplePath) }}" class="fr button ui-corner-right icon-set-white ui-button-black" data-icon-primary="ui-icon-circle-arrow-left">Go Back</a>
						        	<button type="submit" class="fr button ui-corner-left icon-set-white ui-button-green" data-icon-primary="ui-icon-circle-tick">Process Selected</button>
							    </div>
							</div>
			        	</div>
					</form>
				</section>
	        </div>
		</div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:'~data.settings.multipleModel~':processDeliveriesScript.js.twig' with {'data': data} %}
{% endblock %}