<div class="toolbar-buttons">    		
	<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': data.item.departmentId}) }}" class="fl small button ui-corner-none ui-corner-tl ui-corner-bl" data-icon-primary="ui-icon-folder-open">View {{ data.settings.multipleTitle }} ({{ data.item.departmentCount }})</a>
	<a href="{{ path('admin_'~data.settings.multiplePath~'_add', {'parentId': data.item.parentId}) }}" class="fl small button ui-corner-none" data-icon-primary="ui-icon-plusthick">Add a {{ data.settings.singleTitle }}</a>
	<a href="{{ path('admin_'~data.settings.multiplePath, {'parentId': data.item.departmentId}) }}" class="fl small button ui-corner-none " data-icon-primary="ui-icon-cart">View Products ({{ data.item.productCount }})</a>
	<a href="{{ path('admin_'~data.settings.multiplePath~'_add', {'parentId': data.item.parentId}) }}" class="fl small button ui-corner-none" data-icon-primary="ui-icon-plusthick">Add Product</a>
	<div class="clear"></div>
</div>
<div class="clear"></div>