{% extends '::shop.html.twig' %}
{% block title %}{{ brand.pageTitle }} | {{ parent() }}{% endblock %}
{% block metatags %}
	<meta name="description" content="{{ brand.metaDescription }}">
	<meta name="keywords" content="{{ brand.metaKeywords }}">
{% endblock %}
{% block slider %}
	{% if brand.images|length > 0 %}
		<div class="container_8 clearfix">
			<header>
				<div class="slider-gallery-container">
					<div class="slider-gallery">
						{% for image in brand.images %}
							<div class="slider-element">
								{% if image.link %}<a href="{{ image.link }}">{% endif %}<img src="{{ asset(image.largePath) }}" alt="{{ image.title }}" />{% if image.link %}</a>{% endif %}
								<h3 class="{{ image.alignment|default('left') }}">{{ image.title|raw }}</h3>
								{% if image.description %}
									<p class="{{ image.alignment|default('left') }}">{{ image.description|raw }}</p>
								{% endif %}
								{% if image.link %}<a href="{{ image.link }}" class="button left ui-button-yellow">More Details</a>{% endif %}
							</div>
						{% endfor %}
					</div>
					<div class="slider-navigation-container">
						<div id="slider_gallery_navigation" class="slider-navigation"></div>
					</div>
				</div>
			</header>
		</div>
	{% endif %}
{% endblock %}
{% block body %}
	<header>
		<h1>{{ brand.header }}</h1>
	</header>
	<section class="container_6 clearfix">
		<div class="grid_2">
			<div class="portlet">
				<section>
					<h3 class="no-margin-top">Departments</h3>
					{% if brand.departments|length > 0 %}
						<ul class="brand-department">
							{% for department in brand.departments %}
								<li><a{% if loop.last %} class="no-margin-bottom"{% endif %} href="{{ path('department_with_brand', {'brand': brand.url, 'url': department.url}) }}">{{ department.name }} ({{ department.productCount }})</a></li>
							{% endfor %}
						</ul>
					{% else %}
						<p>There are currently no departments available for {{ brand.brand }}.</p>
					{% endif %}
					<div class="clear"></div>
				</section>
			</div>
		</div>
		<div class="grid_4">
			<div class="portlet">
				<section>
					<div class="brand-image">
						{% if brand.logo %}
							<img class="border" src="{{ asset(brand.logo.largePath) }}" border="0" alt="{{ brand.logo.title }}" width="300" height="150" />
						{% endif %}
						{% if brand.contact is defined %}
							{% if brand.contact.addresses is defined %}
								{% for address in brand.contact.addresses %}
									<p class="brand-address">
										<strong>{{ address.displayName }}</strong><br />
										{{ address.addressLine1 }}<br />
										{% if address.addressLine2 %}{{ address.addressLine2 }}<br />{% endif %}
										{% if address.addressLine3 %}{{ address.addressLine3 }}<br />{% endif %}
										{{ address.townCity }}<br />
										{% if address.countyState %}{{ address.countyState }}<br />{% endif %}
										{{ address.postZipCode }}
									</p>
								{% endfor %}
							{% endif %}
							{% if brand.contact.webAddresses is defined %}
								{% for webAddress in brand.contact.webAddresses %}
									<p><strong>{{ webAddress.contactWebAddressType }}:</strong> <a target="_blank" href="{{ webAddress.url }}">{{ webAddress.displayName }}</a></p>
								{% endfor %}
							{% endif %}
							{% if brand.contact.numbers is defined %}
								{% for number in brand.contact.numbers %}
									<p><strong>{{ number.contactNumberType }}:</strong> {{ number.number }}</p>
								{% endfor %}
							{% endif %}
							{% if brand.contact.email_addresses is defined %}
								{% for emailAddress in brand.contact.emailAddresss %}
									<p><strong>{{ emailAddress.contactEmailAddressType }}:</strong> <a target="_blank" href="mailto:{{ emailAddress.email }}">{{ emailAddress.displayName }}</a></p>
								{% endfor %}
							{% endif %}
							{% if brand.files|length > 0 %}
								<div class="brand-downloads">
									<h3>{{ brand.brand }} Downloads</h3>
									{% for file in brand.files %}
										<div class="brand-download">
											<a target="_blank" href="{{ asset(file.path) }}}"><img src="{{ asset('/bundles/webilluminationshop/images/icons/file-types/pdf.png') }}" border="0" alt="{{ file.displayName }}" height="40" /></a>
											<p><a target="_blank" href="{{ asset(file.path) }}">{{ file.displayName|raw }}</a><br />({{ file.fileSize }})</p>
										</div>
										<div class="clear"></div>
									{% endfor %}
								</div>
							{% endif %}
						{% endif %}
					</div>
					<div class="brand-description">
						{{ brand.description|raw }}
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
					<div class="brand-guarantees">
						<h3>{{ brand.brand }} Guarantees</h3>
						{% for guarantee in brand.guarantees %}
							<div class="brand-guarantee">
								<div class="brand-guarantee-year-number">{{ guarantee.guaranteeLength|raw }}</div>
								<div class="brand-guarantee-years">{{ guarantee.guaranteeTitle|raw }}</div>
								<div class="brand-guarantee-description-background"></div>
								<div class="brand-guarantee-description">{{ guarantee.guaranteeType|raw }}</div>
							</div>
						{% else %}
							<p>There is not a standard guarantee for {{ brand.brand }}. Please refer to the individual products for information on specific guarantees.</p>
						{% endfor %}
						<div class="clear"></div>
						<p class="small">The guarantees above are standard guarantees. Some products may have specific guarantees. Check product for details.</p>
					</div>
					<div class="clear"></div>
				</section>
	        </div>
	    </div>
	   	<div class="clear"></div>
	   	{% if brand.about or brand.history or brand.moreInformation %}
		   	<div class="grid_6 leading">
	            <div class="portlet">
	                <header>
	                    <h2>More About {{ brand.header }}</h2>
	                </header>
	                <section>
	                    <div class="sidebar-tabs" style="min-height: 112px">
	                        <ul>
	                        	{% if brand.about %}<li id="tab-about"><a href="#about">About Us</a></li>{% endif %}
	                            {% if brand.history %}<li id="tab-history"><a href="#history">History</a></li>{% endif %}
	                            {% if brand.moreInformation %}<li id="tab-more-information"><a href="#more-information">More Information</a></li>{% endif %}
	                        </ul>
	                        {% if brand.about %}
		                        <div id="about">
		                        	{{ brand.about|raw }}
		                        </div>
		                    {% endif %}
		                    {% if brand.history %}
		                        <div id="history">
		                        	{{ brand.history|raw }}
		                        </div>
		                    {% endif %}
		                    {% if brand.moreInformation %}
		                        <div id="more_information">
		                        	{{ brand.moreInformation|raw }}
		                        </div>
		                    {% endif %}
	                    </div>
	                </section>
	            </div>
	        </div>
	        <div class="clear"></div>
		{% endif %}
	</section>
{% endblock %}