{% extends '::base.html.twig' %}
{% block title %}Add New Brand | {{ parent() }}{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% javascripts '@WebIlluminationAdminBundle/Resources/public/js/tinymce/jquery.tinymce.js' output='js/tinymce.js' filter='yui_js' %}
		<script src="{{ asset_url }}" type="text/javascript"></script>
	{% endjavascripts %} 
{% endblock %}
{% block leftmenu %}
	{{ parent() }}
	{% include 'WebIlluminationAdminBundle:Brands:leftMenu.html.twig' %}  
{% endblock %}
{% block header %}
	{{ parent() }}
	<h2>Add New Brand</h2>
{% endblock %}
{% block body %}
    <section class="container_6 clearfix">
    	<form action="{{ path('brands_add') }}" method="post" enctype="multipart/form-data" class="form has-validation">
	    	<div class="grid_3"> 
				<div class="portlet">
					<header>
		                <h2>Brand Information</h2>
	                </header>
	                <pre>{{ image|print_r }}</pre>
					<section>
	                    <div class="clearfix">
	                        <label for="form-name" class="form-label"><em>*</em> Name<small>Enter the brand name</small></label>
	                        <div class="form-input"><input type="text" id="form-name" name="name" required="required" value="" /></div>
	                    </div>
	                    <div class="clearfix">
	                        <label for="form-logo-image" class="form-label">Logo Image<small>Format: jpg, png or gif</small></label>
	                        <div class="form-input"><input type="file" id="form-logo-image" name="logo-image" /></div>
	                    </div>
						<div class="clearfix">
	                        <label for="form-request-a-brochure" class="form-label">Request a Brochure<small>Available through the site?</small></label>
	                        <div class="form-input"><label><input type="radio" name="request-a-brochure" id="form-request-a-brochure-1" value="1" /> Yes</label> <label><input type="radio" name="request-a-brochure" id="form-request-a-brochure-0" value="0" checked="checked" /> No</label></div>
	                    </div>
	                    <div id="brochure-web-address-container" class="clearfix">
	                        <label for="form-brochure-web-address" class="form-label">Brochure Web Address<small>Include the "http://"</small></label>
	                        <div class="form-input"><input class="url" type="url" id="form-brochure-web-address" name="brochure-web-address" value="" /></div>
	                    </div>
	                    <div class="clearfix">
	                        <label for="form-request-a-sample" class="form-label">Request a Sample<small>Available through the site?</small></label>
	                        <div class="form-input" id="form-request-a-sample-container"><label><input type="radio" name="request-a-sample" id="form-request-a-sample-1" value="1" /> Yes</label> <label><input type="radio" name="request-a-sample" id="form-request-a-sample-0" value="0" checked="checked" /> No</label></div>
	                    </div>
	                    <div id="sample-web-address-container" class="clearfix">
	                        <label for="form-sample-web-address" class="form-label">Sample Web Address<small>Include the "http://"</small></label>
	                        <div class="form-input no-margin-bottom"><input class="url" type="url" id="form-sample-web-address" name="sample-web-address" value="" /></div>
	                    </div>
	                    <div><input type="submit" value="Save" /></div>
		            </section>
		        </div>
		    </div>
	        <div class="grid_3">
	            <div class="portlet">
	                <header>
	                    <h2>Brand Description</h2>
	                </header>
	                <section>
	                	<div class="clearfix">
	                        <div class="form-input no-margin-left no-margin-bottom">
	                        	<div class="ac">
	                                <div class="buttonset no-margin-right">
	                                    <input type="radio" class="show-tinymce" rel="#form-description" name="tinymce-description" value="1" id="tinymce-description-1" checked="checked" /><label for="tinymce-description-1">Visual</label>
	                                    <input type="radio" class="show-tinymce" rel="#form-description" name="tinymce-description" value="0" id="tinymce-description-0" /><label for="tinymce-description-0">HTML</label>
	                                    <hr class="inset" />
	                                </div>
	                                <div class="leading">
	                                	<textarea id="form-description" name="description" rows="5" class="tinymce-basic"></textarea>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                </scetion>
	            </div>
	        </div>
		        
		   	<div class="clear"></div>
		        
	        <div class="grid_6 leading">
	            <div class="portlet">
	                <header>
	                    <h2>Additional Information</h2>
	                </header>
	                <section>
	                    <div class="sidebar-tabs" style="min-height: 405px">
	                        <ul>
	                            <li><a href="#seo">SEO</a></li>
	                            <li><a href="#contact-information">Contact Information</a></li>
	                            <li><a href="#pricing-discounts">Pricing &amp; Discounts</a></li>
	                            <li><a href="#suppliers">Suppliers</a></li>
	                            <li><a href="#warranty-and-guarantee">Warranty &amp; Guarantee</a></li>
	                            <li><a href="#gallery">Gallery</a></li>
	                            <li><a href="#attachments">Attachments</a></li>
	                            <li><a href="#statistics">Statistics</a></li>
	                            <li><a href="#trends">Trends</a></li>
	                            <li><a href="#competitors">Competitors</a></li>
	                            <li><a href="#history">History</a></li>
	                        </ul>
	                        <section id="seo">
	                            <div class="clearfix">
		                        	<label for="form-url" class="form-label"><em>*</em> URL<small>The internal web address</small></label>
			                        <div class="form-input"><input class="seo-url" type="text" id="form-url" name="url" required="required" /></div>
			                    </div>
			                    <div class="clearfix">
			                        <label for="form-page-title" class="form-label"><em>*</em> Page Title<small>Title used by the Browser</small></label>
			                        <div class="form-input"><input type="text" id="form-page-title" name="page-title" required="required" /></div>
			                    </div>
			                    <div class="clearfix">
			                        <label for="form-header" class="form-label"><em>*</em> Header<small>Main header on the page</small></label>
			                        <div class="form-input"><input type="text" id="form-header" name="header" required="required" /></div>
			                    </div>
			                    <div class="clearfix">
			                        <label for="form-meta-description" class="form-label">Meta Description<small>Description used by search engines</small></label>
			                        <div class="form-input"><textarea id="form-meta-description" name="meta-description" rows="3"></textarea></div>
			                    </div>
			                    <div class="clearfix">
			                        <label for="form-meta-keywords" class="form-label">Meta Keywords<small>Keywords used by some search engines</small></label>
			                        <div class="form-input"><textarea id="form-meta-keywords" name="meta-keywords" rows="2" class="items"></textarea></div>
			                    </div>
			                    <div class="clearfix">
			                        <label for="form-search-words" class="form-label">Search Words<small>Alternative words visitors can find this page by</small></label>
			                        <div class="form-input no-margin-bottom"><textarea id="form-search-words" name="search-words" rows="2" class="items"></textarea></div>
			                    </div>
		                    </section>
		                    <section id="contact-information">
	                            <div class="clearfix">
			                        <label for="form-telephone-number" class="form-label">Telephone Number<small>Support or Care Line</small></label>
			                        <div class="form-input"><input class="numbers" type="text" id="form-telephone-number" name="telephone-number" value="" /></div>
			                    </div>
	                            <div class="clearfix">
			                        <label for="form-fax-number" class="form-label">Fax Number</label>
			                        <div class="form-input"><input class="numbers" type="text" id="form-fax-number" name="fax-number" value="" /></div>
			                    </div>
			                    <div class="clearfix">
			                        <label for="form-web-address" class="form-label">Web Address<small>Include the "http://"</small></label>
			                        <div class="form-input"><input class="url" type="url" id="form-web-address" name="web-address" value="" /></div>
			                    </div>
	                            <div class="clearfix">
			                        <label for="form-address" class="form-label">Address<small>Postal address</small></label>
			                        <div class="form-input no-margin-bottom"><textarea id="form-address" name="address" rows="3"></textarea></div>
			                    </div>
	                        </section>
	                        <section id="pricing-discounts">
	                        	<h3 class="ui-widget-header ui-corner-all no-margin-top">Pricing</h3>
	                            <div class="clearfix">
			                        <label for="form-hide-prices" class="form-label">Hide Prices<small>Hide any prices for this brand?</small></label>
			                        <div class="form-input"><label><input type="radio" name="hide-prices" id="form-hide-prices-1" value="1" /> Yes</label> <label><input type="radio" name="hide-prices" id="form-hide-prices-0" value="0" checked="checked" /> No</label></div>
			                    </div>
			                    <div id="show-prices-out-of-hours-container" class="clearfix">
			                        <label for="form-show-prices-out-of-hours" class="form-label">Show Prices Out of Hours<small>Show prices out of hours?</small></label>
			                        <div class="form-input"><label><input type="radio" name="show-prices-out-of-hours" id="form-show-prices-out-of-hours-1" value="1" /> Yes</label> <label><input type="radio" name="show-prices-out-of-hours" id="form-show-prices-out-of-hours-0" value="0" checked="checked" /> No</label></div>
			                    </div>
			                    <h3 class="ui-widget-header ui-corner-all">Discounts</h3>
	                        </section>
	                        <section id="warranty-and-guarantee">
	                        	<h3 class="ui-widget-header ui-corner-all no-margin-top">Warranty</h3>
	                            <div class="clearfix">
			                        <label for="form-warranty" class="form-label">Warranty<small>Brief warranty description</small></label>
			                        <div class="form-input"><input type="text" id="form-warranty" name="warranty" /></div>
			                    </div>
			                    <div class="clearfix">
			                        <label for="form-warranty-description" class="form-label">Warranty Description<small>A description of the warranty</small></label>
			                        <div class="form-input">
			                        	<div class="ac">
			                                <div class="buttonset no-margin-right">
			                                    <input type="radio" class="show-tinymce" rel="#form-warranty-description" name="tinymce-warranty-description" value="1" id="tinymce-warranty-description-1" checked="checked" /><label for="tinymce-warranty-description-1">Visual</label>
			                                    <input type="radio" class="show-tinymce" rel="#form-warranty-description" name="tinymce-warranty-description" value="0" id="tinymce-warranty-description-0" /><label for="tinymce-warranty-description-0">HTML</label>
			                                    <hr class="inset" />
			                                </div>
			                                <div class="leading">
				                                <textarea id="form-warranty-description" name="warranty-description" rows="3" class="tinymce-basic"></textarea>
				                            </div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="clearfix">
			                        <label for="form-warranty-image" class="form-label">Warranty Image<small>Format: jpg, png or gif</small></label>
			                        <div class="form-input"><input type="file" id="form-warranty-image" /></div>
			                    </div>
			                    <h3 class="ui-widget-header ui-corner-all">Guarantee</h3>
			                    <div class="clearfix">
			                        <label for="form-guarantee" class="form-label">Warranty<small>Brief guarantee description</small></label>
			                        <div class="form-input"><input type="text" id="form-guarantee" name="guarantee" /></div>
			                    </div>
			                    <div class="clearfix">
			                        <label for="guarantee-description" class="form-label">Guarantee Description<small>A description of the guarantee</small></label>
			                        <div class="form-input no-margin-bottom">
			                        	<div class="ac">
			                                <div class="buttonset no-margin-right">
			                                    <input type="radio" class="show-tinymce" rel="#form-guarantee-description" name="tinymce-guarantee-description" value="1" id="tinymce-guarantee-description-1" checked="checked" /><label for="tinymce-guarantee-description-1">Visual</label>
			                                    <input type="radio" class="show-tinymce" rel="#form-guarantee-description" name="tinymce-guarantee-description" value="0" id="tinymce-guarantee-description-0" /><label for="tinymce-guarantee-description-0">HTML</label>
			                                    <hr class="inset" />
			                                </div>
			                                <div class="leading">
				                                <textarea  id="form-guarantee-description" name="guarantee-description" rows="3" class="tinymce-basic"></textarea>
				                            </div>
			                            </div>
			                        </div>
			                    </div>
			                    <div class="clearfix">
			                        <label for="form-guarantee-image" class="form-label">Guarantee Image<small>Format: jpg, png or gif</small></label>
			                        <div class="form-input"><input type="file" id="form-guarantee-image" /></div>
			                    </div>
	                        </section>
	                        <section id="gallery">
	                        	<div id="gallery-image-container-0">
		                            <div class="clearfix">
				                        <label for="form-gallery-image-1" class="form-label">Gallery Image<small>Format: jpg, png or gif</small></label>
				                        <div class="form-input"><input type="file" id="form-gallery-image-1" /></div>
				                    </div>
				                    <div class="clearfix">
				                        <label for="logo-alt-text" class="form-label">Alt Text<small>A description of the image</small></label>
				                        <div class="form-input"><input type="text" id="form-logo-alt-text" name="logo-alt-text" /></div>
				                    </div>
				            	</div>
	                        </section>
	                        <section id="attachments">
	                        	<div id="gallery-image-container-0">
		                            <div class="clearfix">
				                        <label for="form-gallery-image-1" class="form-label">Attachment<small>Format: pdf, doc, els, ppt</small></label>
				                        <div class="form-input"><input type="file" id="form-gallery-image-1" /></div>
				                    </div>
				                    <div class="clearfix">
				                        <label for="logo-alt-text" class="form-label">Description<small>A description of the image</small></label>
				                        <div class="form-input"><input type="text" id="form-logo-alt-text" name="logo-alt-text" /></div>
				                    </div>
				            	</div>
	                        </section>
	                        <section id="statistics">
	                            <p>A list of statistics will go here.</p>
	                        </section>
	                        <section id="trends">
	                            <p>A list of trends will go here.</p>
	                        </section>
	                        <section id="competitors">
	                            <p>A list of competitors will go here.</p>
	                        </section>
	                        <section id="suppliers">
	                            <p>A list of supplier options will go here.</p>
	                        </section>
	                        <section id="history">
	                            <p>A list of history will go here.</p>
	                        </section>
	                    </div>
	                </section>
	            </div>
	        </div>
	    </form>
	</section>
	<script type="text/javascript">
		$(document).ready(function() {
			{# Disable tabs not in use #}
			$(".sidebar-tabs").tabs("option", "disabled", [7, 8, 9, 10]);
			{# Brochure web address #}
	        $("#brochure-web-address-container").hide();
			$("input[name=request-a-brochure]").change(function() {
		        if ($(this).val()==='1') {
		            $("#brochure-web-address-container").show();
		        } else {
		            $("#brochure-web-address-container").hide();
		        }
		    });
		    {# Sample web address #}
	        $("#sample-web-address-container").hide();
	        $("#form-request-a-sample-container").addClass('no-margin-bottom');
			$("input[name=request-a-sample]").change(function() {
		        if ($(this).val()==='1') {
		            $("#sample-web-address-container").show();
		            $("#form-request-a-sample-container").removeClass('no-margin-bottom');
		        } else {
		            $("#sample-web-address-container").hide();
		            $("#form-request-a-sample-container").addClass('no-margin-bottom');
		        }
		    });
		    {# Show prices out of hours #}
		    $("#show-prices-out-of-hours-container").hide();
		    $("input[name=hide-prices]").change(function() {
		        if ($(this).val()==='1') {
		            $("#show-prices-out-of-hours-container").show();
		        } else {
		            $("#show-prices-out-of-hours-container").hide();
		        }
		    });
		});
	</script>
{% endblock %}