<section id="images">
	<div class="info-message ui-status-highlight">
		<span class="info-message-icon ui-icon ui-icon-info"></span>
		<p>"An image says a thousand words". Images of a product are a good way to show off the product.</p>
		<div class="clear"></div>
	</div>
    <div class="clearfix">
        <label class="form-label">Images<small>Format: jpg, png or gif</small></label>
        <div class="form-input">
			<div class="images-container inner-table">
				<table width="100%" id="form-images-container">
					{% for image in images %}
						<tr class="images-container" id="image-f-{{ image.id }}">
							<td><input type="text" id="form-image-alt-text-{{ loop.index }}" name="image-alt-text-{{ loop.index }}" placeholder="Short description..." value="{{ image.name }}" /></td>
						    <td><input type="file" id="form-image-{{ loop.index }}" name="image-{{ loop.index }}" /></td>
						    <td class="no-padding-right">
						    	<a rel="{{ image.id }}" href="Javascript:void(0);" class="button ui-button-delete action-delete-multi-image">Delete</a>
						    	<input type="hidden" id="form-image-id-{{ loop.index }}" name="image-id-{{ loop.index }}" value="{{ image.id }}" />
						    </td>
						</tr>
						{% if image.thumbnailPath is defined %}
							<tr id="image-i-{{ image.id }}" class="no-padding-right">
							    <td colspan="3">
							    	<div class="image-container" id="image-container-{{ loop.index }}">
							    		<img alt="{{ image.name }}" class="fr thumbnail action-image-popup"{% if image.largePath is defined %} rel="{{ image.largePath }}"{% endif %} src="{{ asset(image.thumbnailPath) }}" border="0" />
							    		<div class="clear"></div>
							    	</div>
							    	<input type="hidden" id="form-image-id-{{ loop.index }}" name="image-id-{{ loop.index }}" value="{{ image.id }}" />
							    </td>
							</tr>
			        	{% endif %}
				    {% else %}
				    	<tr class="images-container" id="image-f-1">
				    		<td><input type="text" id="form-image-alt-text-1" name="image-alt-text-1" placeholder="Short description..." /></td>
						    <td><input type="file" id="form-image-1" name="image-1" /></td>
						    <td class="no-padding-right">
						    	<a rel="1" href="Javascript:void(0);" class="button ui-button-delete action-cancel-image">Delete</a>
						    	<input type="hidden" id="form-image-id-1" name="image-id-1" value="0" />
						    </td>
				        </tr>
					{% endfor %}
				</table>
			</div>
			<input type="hidden" id="form-number-of-images" name="number-of-images" value="{% if (images|length > 0) %}{{ images|length }}{% else %}1{% endif %}" />
		</div>
    </div>
    <div class="clearfix">
        <div class="form-input buttons no-margin-bottom">
        	<button class="button ui-button-default">Save</button>
        	<a class="button action-add-new-guarantee" href="Javascript:void(0);">Add New Image</a>
        </div>
    </div>
    <script type="text/javascript">
		$(document).ready(function() {
			
			
		});
	</script>
</section>