{% extends 'KACSiteBundle::base.html.twig' %}

{% block title %}Prices | {{ variant.description.pageTitle }}{% endblock %}

{% block body %}
    <div class="widget-group clearfix">
        <div class="widget widget-2-of-7">
            {% include 'KACSiteBundle:Variant:editLeftMenu.html.twig' %}
        </div>
        <div class="widget widget-5-of-7">
            <section>
                <form class="form" id="form-edit" method="post" action="{{ path(app.request.attributes.get('_route'), {'productId': variant.product.id, 'variantId': variant.id}) }}" {{ form_enctype(form) }}>
                    <div class="widget-group clearfix">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget">
                                <header class="ui-widget-header ui-corner-top">
                                    <span class="ui-button-icon-primary ui-icon icon-white icon-276"></span>
                                    <h2>Price</h2>
                                </header>
                                <section class="ui-widget-content ui-corner-all">
                                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}

                                    <fieldset class="pbm">
                                        <table class="data-table" id="price-list" data-prototype="{{ form_widget(form.prices.vars.prototype) | e }}">
                                            <thead>
                                            <tr>
                                                <th>Cost Price</th>
                                                <th>RRP</th>
                                                <th>List Price</th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for row in form.prices %}
                                                <tr>
                                                    {{ form_widget(row) }}
                                                </tr>
                                            {% endfor %}
                                            {{ form_rest(form) }}
                                            </tbody>
                                        </table>
                                    </fieldset>
                                    <div class="clearfix">
                                        <button type="submit" class="button button-green icon-white fr" data-icon-secondary="icon-1118">Save Variant</button>                                        <button type="button" data-table-object="price-list" class="actionAddFormRow mrm fr button button-green icon-white" data-icon-secondary="icon-1120">Add Price</button>

                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}