{% extends 'KACSiteBundle::base.html.twig' %}

{% block title %}Dimensions | {{ variant.description.pageTitle }}{% endblock %}

{% block body %}
    <div class="widget-group clearfix">
        <div class="widget widget-2-of-7">
            {% include 'KACSiteBundle:Variant:editLeftMenu.html.twig' %}
        </div>
        <div class="widget widget-5-of-7">
            <section>
                <form class="form" id="form-edit" method="post" action="{{ path(app.request.attributes.get('_route'), {'productId': variant.product.id, 'variantId': variant.id}) }}" {{ form_enctype(form) }}>
                    <div class="widget-group clearfix">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget">
                                <header class="ui-widget-header ui-corner-top">
                                    <span class="ui-button-icon-primary ui-icon icon-white icon-276"></span>
                                    <h2>Dimensions</h2>
                                </header>
                                <section class="ui-widget-content ui-corner-all">
                                    {% include 'KACSiteBundle:Variant:newErrors.html.twig' %}

                                    <fieldset>
                                        {{ form_row(form.weight, {'label': 'Weight', 'help': ''}) }}
                                        {{ form_row(form.length, {'label': 'Length', 'help': ''}) }}
                                        {{ form_row(form.width, {'label': 'Width', 'help': ''}) }}
                                        {{ form_row(form.height, {'label': 'Height', 'help': ''}) }}
                                    </fieldset>

                                    {{ form_rest(form) }}
                                    <div class="clearfix">
                                        <button type="submit" class="button button-green icon-white fr" data-icon-secondary="icon-1118">Save Variant</button>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
{% endblock %}