<form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge ({'productId': product.id, }) | craue_removeDynamicStepNavigationParameter(flow)) }}" {{ form_enctype(form) }}>
    <div class="widget-group clearfix">
        <div class="widget widget-1-of-1">
            <div class="ui-widget mbl">
                <header class="ui-widget-header ui-corner-top">
                    <span class="nav-icon ui-button-icon-primary ui-icon icon-white icon-398"></span>
                    <h2>2. Features</h2>
                </header>
                <section class="ui-widget-content ui-corner-bottom">
                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                    <fieldset class="pbm">
                        <table class="form-table mbm">
                            <thead>
                            <tr>
                                <th width="1">&nbsp;</th>
                                <th title="The selected feature group.">Group</th>
                                <th title="Select a corresponding feature.">Feature</th>
                                <th width="1">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for row in form.features %}
                                <tr>
                                    <td width="1" class="row-count tar">{{ loop.index }}</td>
                                    <td{% if row.featureGroup.vars.valid is sameas(false) %} class="error"{% endif %}>{{ form_widget(row.featureGroup) }}</td>
                                    <td{% if row.feature.vars.valid is sameas(false) %} class="error"{% endif %}>{{ form_widget(row.feature, { 'attr': {'data-apply-to-all': 'feature'} }) }}</td>
                                    <td width="1" class="tar"><button type="button" title="Click to apply the selected feature across all other variants." data-apply-to-all-field="feature" class="actionApplyToAll button icon-grey" data-icon-primary="icon-751" data-icon-only="true">Apply to All</button></td>
                                </tr>
                            {% endfor %}
                            {{ form_rest(form) }}
                            </tbody>
                        </table>
                    </fieldset>
                    {% include 'CraueFormFlowBundle:FormFlow:stepField.html.twig' %}
                    {% include 'KACSiteBundle:Variant:newControls.html.twig' %}
                </section>
            </div>
        </div>
    </div>
</form>