<section id="unique-product-identifiers" class="form ui-helper-hidden">
	<h2>Unique Product Identifiers</h2>
	<div id="unique-product-identifiers-confirm-leave" class="ui-widget message ui-helper-hidden">
	    <div class="ui-state-error ui-corner-all">
	    	<span class="ui-icon ui-icon-help"></span>
	        <p><strong>WARNING:</strong> You are about to leave this section and you have made changes without updating. Do you want to update before you leave?</p>
	        <p>
	        	<button class="button action-update-unique-product-identifiers-section ui-button-green" data-icon-primary="ui-icon-check">Update</button>
	        	<button class="button ui-button-red action-leave-unique-product-identifiers" data-icon-primary="ui-icon-closethick">Continue Without Updating</button>
	        	<input type="hidden" value="-1" id="unique-product-identifiers-tab-to-redirect-to" />
	        	<input type="hidden" value="0" id="unique-product-identifiers-requires-update" />
	        </p>
	    </div>
	    <div class="spacer"></div>
	</div>
	<div class="ui-widget info-message">
		<div class="ui-state-highlight ui-corner-all">
			<span class="info-message-icon ui-icon ui-icon-info"></span>
			<p>Unique product identifiers uniquely identify a product and are important for the search and comparison engines as it helps them place the product in the best positions. Unique product identifiers also allow users of the site to search for products without having to know your own product code.</p>
		</div>
	</div>
	<div class="clearfix">
        <label for="form-manufacturer-part-number" title="Product code used by the manufacturer of a product if different to your product code" class="form-label">MPN<small>Manufacturer Part Number</small></label>
        <div class="form-input"><input type="text" id="form-mpn" class="uppercase" name="mpn" value="{{ data.product.mpn }}" /></div>
    </div>
    <div class="clearfix">
        <label for="form-ean" title="Used in Europe and is a 13 or 14 digit barcode" class="form-label">EAN<small>European Article Number</small></label>
        <div class="form-input"><input type="text" id="form-ean" class="uppercase integer" name="ean" value="{{ data.product.ean }}" maxlength="14" /></div>
    </div>
    <div class="clearfix">
        <label for="form-upc" title="Used in North America a UPC and is a 12 digit barcode" class="form-label">UPC<small>Universal Product Code</small></label>
        <div class="form-input"><input type="text" id="form-upc" class="uppercase integer" name="upc" value="{{ data.product.upc }}" maxlength="12" /></div>
    </div>
    <div class="clearfix">
        <label for="form-jan" title="Used in Japan only and is an 8 or 13 digit barcode" class="form-label">JAN<small>Japanese Article Number</small></label>
        <div class="form-input"><input type="text" id="form-jan" class="uppercase integer" name="jan" value="{{ data.product.jan }}" maxlength="13" /></div>
    </div>
    <div class="clearfix">
        <label for="form-isbn" title="Used to identify books only and is a 10 or 13 digit number" class="form-label">ISBN<small>International Standard Book Number</small></label>
        <div class="form-input"><input type="text" id="form-isbn" class="uppercase integer" name="isbn" value="{{ data.product.isbn }}" maxlength="13" /></div>
    </div>
    <div class="clearfix">
        <div class="form-input buttons no-margin-bottom">
        	<button class="button ui-button-green action-update-unique-product-identifiers-section" data-icon-primary="ui-icon-check">Update</button>
        	<button class="button ui-button-blue action-lookup-unique-product-identifiers" data-icon-primary="ui-icon-note">Lookup Unique Product Identifiers</button>
        </div>
    </div>
    <div id="dialog-unique-product-identifier" title="Lookup Unique Product Identifiers" class="ui-helper-hidden">
    	<div class="ui-widget info-message">
			<div class="ui-state-highlight ui-corner-all">
				<span class="info-message-icon ui-icon ui-icon-info"></span>
				<p>Below is a list of unique product identifiers being used by your competitors. If you would to like use one simply select what type of identifier you would like to use and click the "Use" button.</p>
			</div>
		</div>
		<div id="unique-product-identifier-error-message" class="ui-widget message ui-helper-hidden">
		    <div class="ui-state-error ui-corner-all">
		    	<span class="ui-icon ui-icon-alert"></span>
		        <p>Sorry, we could not find any Unique Product Identifiers on the Internet that match this product. Please contact the manufacturer or supplier for this information.</p>
		    </div>
		</div>	
		{% if data.productSearch|length > 0 %}
			<div id="listing-unique-product-identifiers" class="listing ui-helper-hidden">
				<table width="100%" class="data-table" id="data-unique-product-identifiers"> 
				    <thead> 
				        <tr> 
				            <th class="al">Competitor</th> 
				            <th class="ac">Unique Product Identifier</th> 
				            <th class="ac">Type</th> 
				            <th width="1" class="ac">&nbsp;</th> 
				        </tr> 
				    </thead> 
				    <tbody>
				    	{% for upi in data.productSearch %}
				    		{% if upi.product.gtin is defined %}
					    		<tr>
					    			<td class="al"><strong>{% if upi.product.author.name is defined %}{{ upi.product.author.name }}{% else %}Unknown{% endif %}</strong>{% if upi.product.title is defined %}<br />{{ upi.product.title }}{% endif %}</td>
					    			<td class="ac"><input class="ac" type="text" id="unique-product-identifier-{{ loop.index }}" value="{{ upi.product.gtin }}" /></td>
					    			<td class="ac">
					    				<select class="ac" id="unique-product-identifier-type-{{ loop.index }}">
					    					{% if (upi.product.gtin|length == 8) %}
						    					<option value="form-jan">JAN</option>
						    				{% elseif (upi.product.gtin|length == 10) %}
						    					<option value="form-isbn">ISBN</option>
						    				{% elseif (upi.product.gtin|length == 12) %}
						    					<option value="form-upc">UPC</option>
						    				{% elseif (upi.product.gtin|length == 13) %}
						    					<option value="form-ean">EAN</option>
						    					<option value="form-isbn">ISBN</option>
						    				{% elseif (upi.product.gtin|length == 14) %}
						    					<option value="form-ean">EAN</option>
						    				{% endif %}
						    				<option value="form-mpn">MPN</option>
					    				</select>
					    			</td>
					    			<td width="1" class="ac"><button rel="{{ loop.index }}" class="button ui-button-blue action-load-unique-product-identifier" data-icon-primary="ui-icon-tag">Use</button></td>
					    		</tr>
				    		{% endif %}
						{% endfor %}
				    </tbody> 
				</table>
			</div>
		{% endif %}
	</div>
</section>