{% extends 'KACSiteBundle::base.html.twig' %}

{% block title %}Secure Checkout | {{ parent() }}{% endblock %}

{% block header %}
    <header>
        {{ parent() }}
        <h1>Secure Checkout</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
        <form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all) }}" {{ form_enctype(form) }}>
            <div class="checkout_breadcrumb">

            </div>
            <div class="widget-group clearfix">
                <div class="widget widget-3-of-5">
                    <div class="widget-group clearfix">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget">
                                <header class="ui-widget-header ui-corner-top">
                                    <span class="ui-button-icon-primary ui-icon icon-white icon-946"></span>
                                    <h2>Billing</h2>
                                </header>
                                <section class="ui-widget-content ui-corner-all">
                                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                                    <fieldset>
                                        {{ form_row(form.paymentType) }}
                                        {{ form_row(form.card.number) }}
                                        {{ form_row(form.card.expiryMonth) }}
                                        {{ form_row(form.card.expiryYear) }}
                                        {{ form_row(form.card.cvv) }}
                                        {{ form_row(form.card.issueNumber) }}
                                    </fieldset>
                                    <div class="clearfix">
                                        <a href="{{ path('checkout_delivery') }}" class="button button-small mrm fl">Back</a>
                                        <a href="{{ path('checkout_cancel') }}" class="button button-small mrm fl">Cancel</a>
                                        <button type="submit" class="button button-turquoise icon-white mlm fr" data-icon-secondary="icon-471">Continue</button>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-2-of-5">
                    <div class="ui-widget mbl">
                        <header class="ui-widget-header ui-corner-top">
                            <h2>Your Order</h2>
                            <a class="button button-grey icon-grey fr" data-icon-primary="icon-1113" data-icon-only="true"
                               href="{{ path('checkout_refresh', {'url': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}) }}"></a>
                        </header>
                        <section class="ui-widget-content ui-corner-bottom">
                            <div id="basket-contents" class="clearfix">
                                {% if basket.items|length > 0 %}
                                    <table class="data-table">
                                        {% for item in basket.items %}
                                            <tr>
                                                <td class="product-page-title" colspan="6">
                                                    <a href="{{ path('routing', {'url': item.product.url}) }}">{{ item.variant.description.header }}</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="ac">{{ item.quantity }}</td>
                                                <td class="ac">&times;</td>
                                                <td class="ac"><strong>{{ item.variant.productCode }}</strong></td>
                                                <td class="ac">{% if item.recommendedRetailPrice > item.unitCost %}<span class="red strikethrough">&pound;{{ item.recommendedRetailPrice|number_format(2) }}</span><br /><span class="green"><strong>&pound;{{ item.unitCost|number_format(2) }}</strong></span>{% else %}&pound;{{ item.unitCost|number_format(2) }}{% endif %}</td>
                                                <td class="ac">=</td>
                                                <td class="ar">&pound;{{ item.totalCost|number_format(2) }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                            </div>
                            <div id="basket-totals" class="clearfix">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td class="al uppercase font-size-13"><strong>Total to Pay (inc. VAT):</strong></td>
                                        <td width="1" class="price ar font-size-13"><strong>&pound;{{ basket.totalCost|number_format(2) }}</strong></td>
                                    </tr>
                                </table>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="widget widget-2-of-5">
                    <div class="ui-widget mbl">
                        <header class="ui-widget-header ui-corner-top">
                            <h2>Delivery Options</h2>
                        </header>
                        <section class="ui-widget-content ui-corner-bottom">
                            <div id="delivery-options" class="clearfix">
                                {% if form.deliveryType|length > 0 %}
                                    {% set deliveryInfo = null %}

                                    {% for field in form.deliveryType %}
                                        {% for deliveryOption in basket.delivery.deliveryOptions %}
                                            {% if field.vars.value == deliveryOption.service %}
                                                {% set deliveryInfo = deliveryOption %}
                                            {% endif %}
                                        {% endfor %}

                                        <div class="delivery-option clearfix{% if loop.first %} no-margin-top{% endif %}">
                                            <span class="form-helper ui-button-icon-primary ui-icon-small icon-small-762"></span>
                                            <label>
                                                {{ form_widget(field) }}
                                                <span class="delivery-service">
                                                        {{ deliveryInfo.service|replace({'FREE DELIVERY': '<span class="free"><strong>FREE DELIVERY</strong></span>', 'Collection': 'Collection from Nottingham Shop'})|raw }}
                                                    {% if deliveryInfo.price != 0 %}
                                                        - <span class="delivery-price">&pound;{{ deliveryInfo.price|number_format(2) }}</span>
                                                    {% endif %}
                                                    </span>
                                                {% if deliveryInfo.estimatedDeliveryDaysStart > 0 %}
                                                    <br /><span class="delivery-timeframes"><em>({{ deliveryInfo.estimatedDeliveryDaysStart }} - {{ deliveryInfo.estimatedDeliveryDaysEnd }} working days)</em></span>
                                                {% endif %}
                                            </label>
                                        </div>
                                        <div class="ui-helper-hidden delivery-option-description{% if loop.last %} no-margin-bottom{% endif %}">
                                            {{ deliveryInfo.description|raw }}
                                        </div>
                                    {% endfor %}
                                    <div class="clearfix">
                                        <button type="submit" name="{{ form.updateDelivery.vars.full_name }}" class="button button-turquoise icon-white mlm fr" data-icon-secondary="icon-471">Update</button>
                                        {% do form.updateDelivery.setRendered() %}
                                    </div>
                                {% else %}
                                    <div class="delivery-option no-margin-top">
                                        <label>
                                            <span class="no-padding delivery-service"><strong>There are no delivery options available.</strong></span>
                                        </label>
                                    </div>
                                {% endif %}
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </section>
{% endblock %}