{% extends 'KACSiteBundle::base.html.twig' %}

{% block title %}Secure Checkout | {{ parent() }}{% endblock %}

{% block header %}
    <header>
        {{ parent() }}
        <h1>Secure Checkout</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
        <form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all) }}" {{ form_enctype(form) }}>
            <div class="checkout_breadcrumb">
            </div>
            <div class="widget-group clearfix">
                <div class="widget widget-3-of-5">
                    <div class="widget-group clearfix">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget">
                                <header class="ui-widget-header ui-corner-top">
                                    <span class="ui-button-icon-primary ui-icon icon-white icon-946"></span>
                                    <h2>About You</h2>
                                </header>
                                <section class="ui-widget-content ui-corner-all">
                                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                                    <fieldset>
                                        {{ form_row(form.emailAddress.first) }}
                                        {{ form_row(form.emailAddress.second) }}
                                        {{ form_row(form.telephoneDaytime) }}
                                        {{ form_row(form.telephoneEvening) }}
                                        {{ form_row(form.mobile) }}
                                    </fieldset>
                                    <div class="clearfix">
                                        {% if app.request.get('guest') %}
                                            <a href="{{ path('checkout_login') }}" class="button button-small mrm fl">Back</a>
                                        {% endif %}
                                        <a href="{{ path('checkout_cancel') }}" class="button button-small mrm fl">Cancel</a>
                                        <button type="submit" class="button button-turquoise icon-white mlm fr" data-icon-secondary="icon-471">Continue</button>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'KACSiteBundle:Checkout:orderSummary.html.twig' with {'order': order, 'basket': basket, 'form': form} %}
            </div>
            {{ form_rest(form) }}
        </form>
    </section>
{% endblock %}