{% extends 'KACSiteBundle::base.html.twig' %}

{% block title %}Secure Checkout | {{ parent() }}{% endblock %}

{% block header %}
    <header>
        {{ parent() }}
        <h1>Secure Checkout</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
        <form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all) }}" {{ form_enctype(form) }}>
            <div class="checkout_breadcrumb">
            </div>
            <div class="widget-group clearfix">
                <div class="widget widget-3-of-5">
                    <div class="widget-group clearfix">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget">
                                <header class="ui-widget-header ui-corner-top">
                                    <span class="ui-button-icon-primary ui-icon icon-white icon-946"></span>
                                    <h2>Billing</h2>
                                </header>
                                <section class="ui-widget-content ui-corner-all">
                                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                                    <fieldset>
                                        {{ form_row(form.billingFirstName) }}
                                        {{ form_row(form.billingLastName) }}
                                        {{ form_row(form.billingOrganisationName) }}
                                        {{ form_row(form.billingAddressLine1) }}
                                        {{ form_row(form.billingAddressLine2) }}
                                        {{ form_row(form.billingTownCity) }}
                                        {{ form_row(form.billingCountyState) }}
                                        {{ form_row(form.billingPostZipCode) }}
                                        {{ form_row(form.billingCountryCode) }}
                                        {{ form_row(form.useBillingAsDelivery) }}
                                    </fieldset>
                                    <div class="clearfix">
                                        <a href="{{ path('checkout_cancel') }}" class="button button-small mrm fl">Cancel</a>
                                        <button type="submit" class="button button-turquoise icon-white mlm fr" data-icon-secondary="icon-471">Continue</button>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                {% include 'KACSiteBundle:Checkout:orderSummary.html.twig' with {'order': order, 'basket': basket, 'form': form} %}
                {% include 'KACSiteBundle:Checkout:deliveryOptions.html.twig' with {'order': order, 'basket': basket, 'form': form} %}
            </div>
            {{ form_rest(form) }}
        </form>
    </section>
{% endblock %}