{% extends 'KACSiteBundle::base.html.twig' %}

{% block title %}Secure Checkout | {{ parent() }}{% endblock %}

{% block header %}
    <header>
        {{ parent() }}
        <h1>Secure Checkout</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
        <form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all) }}" {{ form_enctype(form) }}>
            <div class="checkout_breadcrumb">
            </div>
            <div class="widget-group clearfix">
                <div class="widget widget-3-of-5">
                    <div class="widget-group clearfix">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget">
                                <header class="ui-widget-header ui-corner-top">
                                    <span class="ui-button-icon-primary ui-icon icon-white icon-946"></span>
                                    <h2>About You</h2>
                                </header>
                                <section class="ui-widget-content ui-corner-all">
                                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                                    <fieldset>
                                        {{ form_row(form.emailAddress.first) }}
                                        {{ form_row(form.emailAddress.second) }}
                                        {{ form_row(form.telephoneDaytime) }}
                                        {{ form_row(form.telephoneEvening) }}
                                        {{ form_row(form.mobile) }}
                                    </fieldset>
                                    <fieldset>
                                        <legend>Payment Type</legend>
                                        <div class="clear"></div>
                                        {{ form_row(form.paymentType) }}
                                    </fieldset>
                                    <fieldset class="pbm billing-address">
                                        <legend>Billing Address</legend>
                                        <div class="clear"></div>
                                        {{ form_row(form.billingFirstName) }}
                                        {{ form_row(form.billingLastName) }}
                                        {{ form_row(form.billingOrganisationName) }}
                                        {{ form_row(form.billingAddressLine1) }}
                                        {{ form_row(form.billingAddressLine2) }}
                                        {{ form_row(form.billingTownCity) }}
                                        {{ form_row(form.billingCountyState) }}
                                        {{ form_row(form.billingPostZipCode) }}
                                        {{ form_row(form.billingCountryCode) }}
                                        {{ form_row(form.useBillingAsDelivery) }}
                                    </fieldset>
                                    <fieldset class="pbm delivery-address {% if form.vars.value.useBillingAsDelivery %}ui-helper-hidden{% endif %}">
                                        <legend>Delivery Address</legend>
                                        <div class="clear"></div>
                                        {{ form_row(form.deliveryFirstName) }}
                                        {{ form_row(form.deliveryLastName) }}
                                        {{ form_row(form.deliveryOrganisationName) }}
                                        {{ form_row(form.deliveryAddressLine1) }}
                                        {{ form_row(form.deliveryAddressLine2) }}
                                        {{ form_row(form.deliveryTownCity) }}
                                        {{ form_row(form.deliveryCountyState) }}
                                        {{ form_row(form.deliveryPostZipCode) }}
                                        {{ form_row(form.deliveryCountryCode) }}
                                    </fieldset>
                                    <fieldset class="card-details {% if form.paymentType.vars.value != "sagepay" and form.paymentType.vars.value != "" %}ui-helper-hidden{% endif %}">
                                        <legend>Card Details</legend>
                                        <div class="clear"></div>
                                        {{ form_row(form.card.number) }}
                                        {{ form_row(form.card.expiryMonth) }}
                                        {{ form_row(form.card.expiryYear) }}
                                        {{ form_row(form.card.cvv) }}
                                        {{ form_row(form.card.issueNumber) }}
                                    </fieldset>
                                    <div class="clearfix">
                                        {% if app.request.get('guest') %}
                                            <a href="{{ path('checkout_login') }}" class="button button-small mrm fl">Back</a>
                                        {% endif %}
                                        <a href="{{ path('checkout_cancel') }}" class="button button-small mrm fl">Cancel</a>
                                        <button type="submit" class="button button-turquoise icon-white mlm fr" data-icon-secondary="icon-471">Continue</button>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget widget-2-of-5">
                    <div class="ui-widget mbl">
                        <header class="ui-widget-header ui-corner-top">
                            <h2>Your Order</h2>
                        </header>
                        <section class="ui-widget-content ui-corner-bottom">
                            <div id="basket-contents" class="clearfix">
                                {% if order.products|length > 0 %}
                                    <table class="data-table">
                                        {% for item in order.products %}
                                            <tr class="even">
                                                <th class="product-page-title" colspan="6">
                                                    <a href="{{ path('routing', {'url': item.url}) }}">{{ item.header }}</a>
                                                </th>
                                            </tr>
                                            <tr class="odd">
                                                <td class="ac">{{ item.quantity }}</td>
                                                <td class="ac">&times;</td>
                                                <td class="ac"><strong>{{ item.productCode }}</strong></td>
                                                <td class="ac">{% if item.recommendedRetailPrice > item.unitCost %}<span class="red strikethrough">&pound;{{ item.recommendedRetailPrice|number_format(2) }}</span><br /><span class="green"><strong>&pound;{{ item.unitCost|number_format(2) }}</strong></span>{% else %}&pound;{{ item.unitCost|number_format(2) }}{% endif %}</td>
                                                <td class="ac">=</td>
                                                <td class="ar">&pound;{{ item.subTotal|number_format(2) }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                {% endif %}
                            </div>
                            <div id="basket-totals" class="clearfix">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td class="al"><strong>Subtotal before Delivery:</strong><br /><span class="small">(inc. VAT)</span></td>
                                        <td width="150" class="colour-red tar"><strong>{{ order.subTotal|currency('GBP', true, true, '')|raw }}</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="al"><strong>Delivery Charge:</strong><br /><span class="small">(inc. VAT)</span></td>
                                        <td width="150" class="tar">{{ order.deliveryCharge|currency('GBP', true, true, '')|raw }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            {{ render(controller("KACSiteBundle:Checkout:deliveryOptions", {'form': name, 'country': order.deliveryCountryCode, 'postcode': order.deliveryPostZipCode})) }}
                                        </td>
                                    </tr>
                                    {% if basket.savings > 0 %}
                                        <tr>
                                            <td class="tal"><strong>You Save:</strong></td>
                                            <td width="150" class="nowarp colour-green tar">{{ basket.savings|currency('GBP', true, true, '')|raw }}</td>
                                        </tr>
                                    {% endif %}
                                    <tr class="product">
                                        <td class="tal"><strong>TOTAL TO PAY:<br /></strong><span class="small">(inc. VAT)</span></td>
                                        <td width="150" class="nowrap price tar"><strong>{{ order.total|currency('GBP', true, true, '')|raw }}</strong></td>
                                    </tr>
                                </table>
                            </div>
                        </section>
                        <div class="header-buttons-container">
                            <a class="button button-small button-grey icon-grey fr" data-icon-primary="icon-1113" data-icon-only="true"
                               href="{{ path('checkout_refresh', {'url': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}) }}"></a>
                        </div>
                    </div>
                </div>
            </div>
            {{ form_rest(form) }}
        </form>
    </section>
    <script>
        $(document).ready(function() {
            $(".billing-as-delivery-input").change(function() {
                if($(this).is(':checked')) {
                    $(".delivery-address").hide();

                    // Replace all values with the values from the billing address
                    for(var i=1;i<9;i++) {
                        var $billingInput   = $(".billing-address > :eq(" + i + ") :input"),
                                $deliveryInput   = $(".delivery-address > :eq(" + i + ") :input");

                        $deliveryInput.val($billingInput.val());
                    }
                } else {
                    $(".delivery-address").show();
                    generateFormElements($(".delivery-address"));
                }
            });
            $(".billing-address :input").change(function() {
                if($(".billing-as-delivery-input").is(':checked')) {
                    // Get index of changed field
                    var index = $(this).parent().parent().index(),
                    // Get related delivery address field
                            $el   = $(".delivery-address > :eq(" + index + ")").find(":input");

                    // Update field with the value from the billing address
                    $el.val($(this).val());
                }
            });

            $("#checkout_paymentType").change(function() {
                if($(this).val() == 'sagepay')
                {
                    $(".card-details").show();
                } else {
                    $(".card-details").hide();
                }
            });
        });
    </script>
{% endblock %}