{% extends 'KACSiteBundle::base.html.twig' %}

{% block title %}Secure Checkout | {{ parent() }}{% endblock %}

{% block header %}
    <header>
        {{ parent() }}
        <h1>Secure Checkout</h1>
    </header>
{% endblock %}
{% block body %}
    <section>
        <div class="checkout_breadcrumb">

        </div>
        <div class="widget-group clearfix">
            <div class="widget widget-1-of-1">
                <form class="form" method="post" novalidate="novalidate" action="{{ path(app.request.attributes.get('_route'), app.request.query.all) }}" {{ form_enctype(form) }}>
                    <div class="widget-group clearfix">
                        <div class="widget widget-1-of-1">
                            <div class="ui-widget">
                                <header class="ui-widget-header ui-corner-top">
                                    <span class="ui-button-icon-primary ui-icon icon-white icon-946"></span>
                                    <h2>Billing</h2>
                                </header>
                                <section class="ui-widget-content ui-corner-all">
                                    {% include 'KACSiteBundle:Includes:formErrors.html.twig' %}
                                    <table class="data-table">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Product Code</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for item in order.products %}
                                            {% set variant = item.variant %}
                                            {% set product = item.product %}
                                            <tr>
                                                <td>{{ loop.index }}</td>
                                                <td>
                                                    <a href="{{ path('routing', {'url': variant.url}) }}">{{ variant.productCode }}</a>
                                                </td>
                                                <td>
                                                    <p>
                                                        <a href="{{ path('routing', {'url': variant.url}) }}">{{ variant.description.header }}</a>
                                                    </p>
                                                </td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ item.unitCost|currency }}</td>
                                                <td>{{ item.subTotal|currency }}</td>
                                            </tr>
                                        {% else %}
                                            <tr>
                                                <td colspan="6">
                                                    <div class="message message-help mas">
                                                        <span class="ui-button-icon-primary ui-icon-small icon-small-yellow icon-small-383"></span>
                                                        <p>There are no product in this order.</p>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="6">
                                                <span class="fr"><strong>Sub-Total</strong>: {{ order.subTotal|currency }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <span class="fr"><strong>Delivery Charge</strong>: {{ order.deliveryCharge|currency }}</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="">
                                                <span class="fr"><strong>Discount</strong>: {{ order.discount|currency }}</span>
                                            </td>
                                        </tr>
                                        <tr style="background-color: #f1f1f1;">
                                            <td colspan="6">
                                                <span class="fr"><strong>Total</strong>: {{ order.total|currency }}</span>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                    <div class="clearfix mtm">
                                        <a href="{{ path('checkout_payment') }}" class="button button-small mrm fl">Back</a>
                                        <a href="{{ path('checkout_cancel') }}" class="button button-small mrm fl">Cancel</a>
                                        <button name="{{ form.buy.vars.full_name }}" type="submit" class="button button-turquoise icon-white mlm fr" data-icon-secondary="icon-471">Buy</button>
                                        {% do form.buy.setRendered(true) %}
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </section>
{% endblock %}