{% for field in form.deliveryType %}
    {% set method = methods[loop.index0] %}
    {% set price = method.calculateCost(basket.delivery.zone, basket.delivery.band, basket.items) %}
    <div class="form-element mlm delivery-option widget-group clearfix" data-name="{{ method.name }}" data-price="{{ price|currency('GBP', true, true, '') }}">
        <span title="{{ method.description|raw }}" class="form-helper pbn ui-button-icon-primary ui-icon-small icon-small-763"></span>
        <div class="widget radio-group man widget-1-of-1">
            <div class="clearfix">
                {{ form_widget(field) }}
                <label for="{{ field.vars.full_name }}">
                    <span class="delivery-service">
                        {{ method.name|replace({'FREE DELIVERY': '<span class="colour-green"><strong>FREE DELIVERY</strong></span>', 'Collection': 'Collection from Nottingham Shop'})|raw }}
                        {% if price != 0 %} - <span class="colour-red"><strong>{{ price|currency('GBP', true, true, '')|raw }}</strong></span>{% endif %}
                    </span>
                    <br />
                    <span class="small">
                        <em>
                            {% set estimatedDeliveryDays = method.calculateEstimatedDeliveryDays(basket.delivery.zone, basket.delivery.band) %}
                            {% if estimatedDeliveryDays.start > 0 %}
                                ({{ estimatedDeliveryDays.start }} - {{ estimatedDeliveryDays.end }} working days)
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </em>
                    </span>
                </label>
            </div>
        </div>
    </div>
{% else %}
    <div class="message message-warning">
        <span class="ui-button-icon-primary ui-icon icon-yellow icon-695"></span>
        <p>Sorry, there are no delivery options available.</p>
    </div>
{% endfor %}