<div class="widget widget-2-of-5">
    <div class="ui-widget mbl">
        <header class="ui-widget-header ui-corner-top">
            <h2>Your Order</h2>
            <a class="button button-grey icon-grey fr" data-icon-primary="icon-1113" data-icon-only="true"
               href="{{ path('checkout_refresh', {'url': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}) }}"></a>
        </header>
        <section class="ui-widget-content ui-corner-bottom">
            <div id="basket-contents" class="clearfix">
                {% if basket.items|length > 0 %}
                    <table class="data-table">
                        {% for item in basket.items %}
                            <tr>
                                <td class="product-page-title" colspan="6">
                                    <a href="{{ path('routing', {'url': item.product.url}) }}">{{ item.variant.description.header }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="ac">{{ item.quantity }}</td>
                                <td class="ac">&times;</td>
                                <td class="ac"><strong>{{ item.variant.productCode }}</strong></td>
                                <td class="ac">{% if item.recommendedRetailPrice > item.unitCost %}<span class="red strikethrough">&pound;{{ item.recommendedRetailPrice|number_format(2) }}</span><br /><span class="green"><strong>&pound;{{ item.unitCost|number_format(2) }}</strong></span>{% else %}&pound;{{ item.unitCost|number_format(2) }}{% endif %}</td>
                                <td class="ac">=</td>
                                <td class="ar">&pound;{{ item.totalCost|number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            <div id="basket-totals" class="clearfix">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td class="al uppercase font-size-13"><strong>Total to Pay (inc. VAT):</strong></td>
                        <td width="1" class="price ar font-size-13"><strong>&pound;{{ basket.totalCost|number_format(2) }}</strong></td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</div>