<div class="widget widget-2-of-5">
    <div class="ui-widget mbl">
        <header class="ui-widget-header ui-corner-top">
            <h2>Your Order</h2>
        </header>
        <section class="ui-widget-content ui-corner-bottom">
            <div id="basket-contents" class="clearfix">
                {% if order.products|length > 0 %}
                    <table class="data-table">
                        {% for item in order.products %}
                            <tr class="even">
                                <th class="product-page-title" colspan="6">
                                    <a href="{{ path('routing', {'url': item.url}) }}">{{ item.header }}</a>
                                </th>
                            </tr>
                            <tr class="odd">
                                <td class="ac">{{ item.quantity }}</td>
                                <td class="ac">&times;</td>
                                <td class="ac"><strong>{{ item.productCode }}</strong></td>
                                <td class="ac">{% if item.recommendedRetailPrice > item.unitCost %}<span class="red strikethrough">&pound;{{ item.recommendedRetailPrice|number_format(2) }}</span><br /><span class="green"><strong>&pound;{{ item.unitCost|number_format(2) }}</strong></span>{% else %}&pound;{{ item.unitCost|number_format(2) }}{% endif %}</td>
                                <td class="ac">=</td>
                                <td class="ar">&pound;{{ item.subTotal|number_format(2) }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
            <div id="basket-totals" class="clearfix">
                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td class="al"><strong>Subtotal before Delivery:</strong><br /><span class="small">(inc. VAT)</span></td>
                        <td width="150" class="colour-red tar"><strong>{{ order.subTotal|currency('GBP', true, true, '')|raw }}</strong></td>
                    </tr>
                    <tr>
                        <td class="al"><strong>Delivery Charge:</strong><br /><span class="small">(inc. VAT)</span></td>
                        <td width="150" class="tar">{{ order.deliveryCharge|currency('GBP', true, true, '')|raw }}</td>
                    </tr>
                    {% if basket.savings > 0 %}
                        <tr>
                            <td class="tal"><strong>You Save:</strong></td>
                            <td width="150" class="nowarp colour-green tar">{{ basket.savings|currency('GBP', true, true, '')|raw }}</td>
                        </tr>
                    {% endif %}
                    <tr class="product">
                        <td class="tal"><strong>TOTAL TO PAY:<br /></strong><span class="small">(inc. VAT)</span></td>
                        <td width="150" class="nowrap price tar"><strong>{{ order.total|currency('GBP', true, true, '')|raw }}</strong></td>
                    </tr>
                </table>
            </div>
        </section>
        <div class="header-buttons-container">
            <a class="button button-small button-grey icon-grey fr" data-icon-primary="icon-1113" data-icon-only="true"
               href="{{ path('checkout_refresh', {'url': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params'))}) }}"></a>
        </div>
    </div>
</div>