{% extends 'WebIlluminationSiteBundle::base.html.twig' %}

{% if department is not null and brand is null %}
    {% set title = department.description.pageTitle %}
{% elseif department is null and brand is not null %}
    {% set title = brand.description.pageTitle %}
{% elseif department is not null and brand is not null %}
    {% set title = department.description.pageTitle ~ ' | ' ~ brand.description.pageTitle %}
{% else %}
    {% set title = 'Products' %}
{% endif %}
{% block title %}{{ title }}{% endblock %}

{% block metatags %}
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <meta name="description" content="{{ department.metaDescription }}">
    <meta name="keywords" content="{{ department.metaKeywords }}">
    <meta name="fragment" content="!">
    {#{% if departmentListing.brandId > 0 %}#}
    {#<link rel="canonical" href="{{ asset(path('department_with_brand_view_all', {'url': url, 'brand': departmentListing.brand}), 'nocdn') }}" />#}
    {#{% else %}#}
    {#<link rel="canonical" href="{{ asset(path('department_view_all', {'url': url}), 'nocdn') }}" />#}
    {#{% endif %}#}
{% endblock %}

{% block header %}
    {% if department is not null and brand is null %}
        <h1>{{ department.description.header }}</h1>
    {% elseif department is null and brand is not null %}
        <h1>{{ brand.description.header }}</h1>
    {% elseif department is not null and brand is not null %}
        <h1>{{ brand.description.header }} {{ department.description.header }}</h1>
    {% else %}
        <h1>Products</h1>
    {% endif %}

    {% if app.request.query.get('q', '') is not empty %}
        <h2>Searching for "{{ app.request.query.get('q', '') }}"</h2>
    {% endif %}

    {% if department.parents|length > 0 %}
        <div class="breadcrumb-trail no-margin" itemprop="breadcrumb">
            {% for parent in department.parents %}
                <a href="{{ path('listing_department', {'departmentId': parent.id}) }}">{{ parent.description.header }}</a> >
            {% endfor %}
            <a href="{{ path('listing_department', {'departmentId': department.id}) }}">{{ department.description.header }}</a>
        </div>
    {% endif %}

    {% if department is not null and brand is null and brand.description.description%}
        <div class="department-description">
            {{ department.description.description|raw }}
        </div>
    {% elseif department is null and brand is not null and department.description.description %}
        <div class="department-description">
            {{ brand.description.description|raw }}
        </div>
    {% elseif department is not null and brand is not null and (brand.description.description or department.description.description) %}
        <div class="department-description">
            {% if brand.description.description %}
                {{ brand.description.description|raw }}
            {% endif %}
            {% if department.description.description %}
                {{ brand.description.description|raw }}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}


{% block body %}
    <section class="container_6 clearfix">
        <form id="form-filter" class="form" method="GET" action="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge(app.request.query.all)) }}">
            <div class="grid_4 grid-listings">
                <div class="portlet">
                    <header>
                        <h2 id="product-count">Found {{ pagination.totalItemCount is defined ? pagination.totalItemCount : 0 }} Products</h2>
                    </header>
                    <section class="clearfix no-padding-right no-padding-bottom">
                        <div id="product-sorting">
                            <div class="fl">
                                <div class="product-sorting-title fl">Sort By</div>
                                <select name="sort_order" id="listing-sort-order" class="fl">
                                    <option{% if app.request.get('sort_order') == 'header_sort:asc' %} selected="selected"{% endif %} value="header_sort:asc">Alphabetically: A-Z</option>
                                    <option{% if app.request.get('sort_order') == 'header_sort:desc' %} selected="selected"{% endif %} value="header_sort:desc">Alphabetically: Z-A</option>
                                    <option{% if app.request.get('sort_order') == 'low_price:asc' %} selected="selected"{% endif %} value="low_price:asc">Price: Lowest First</option>
                                    <option{% if app.request.get('sort_order') == 'high_price:desc' %} selected="selected"{% endif %} value="high_price:desc">Price: Highest First</option>
                                    <option{% if app.request.get('sort_order') == 'created_at:desc' %} selected="selected"{% endif %} value="created_at:desc">Latest</option>
                                </select>
                            </div>
                            <div class="fr">
                                <div class="product-sorting-title fl">Per Page</div>
                                <select name="limit" class="fl" id="listing-max-results">
                                    <option{% if app.request.get('limit') == '10' %} selected="selected"{% endif %} value="10">10</option>
                                    <option{% if app.request.get('limit') == '20' %} selected="selected"{% endif %} value="20">20</option>
                                    <option{% if app.request.get('limit') == '50' %} selected="selected"{% endif %} value="50">50</option>
                                    <option{% if app.request.get('limit') == '100' %} selected="selected"{% endif %} value="100">100</option>
                                    <option{% if app.request.get('limit') == '99999999' %} selected="selected"{% endif %} value="99999999">All</option>
                                </select>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div id="product-pagination-top" class="padding-bottom-15 padding-right-15">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                        <div id="products">
                            {% for product in pagination %}
                                {% block product_block %}
                                    <div itemscope itemtype="http://schema.org/Product" class="product relative" data-product-id="{{ product.id }}" id="product-{{ product.id }}">
                                        <div class="fl">
                                            <a href="{#{{ path('page_request', {'url': product.url}) }}#}"><img class="fl product-image" itemprop="image" src="{{ asset(product.thumbnail_path) }}" border="0" alt="{{ product.header|raw }}" width="150" height="150"></a>
                                        </div>
                                        <div>
                                            <h4><a itemprop="name" href="{#{{ path('page_request', {'url': product.url}) }}#}">{{ product.header|raw }}</a></h4>

                                            {% block product_information %}
                                                <div class="product-information">
                                                    <p class="product-code uppercase">
                                                        {% spaceless %}
                                                            {% if product.url != '' %}<a itemprop="model" class="ellipsis uppercase" href="{{ path('page_request', {'url': product.url}) }}">{% endif %}
                                                            PRODUCT CODE: <strong>{{ product.product_code[0] }}</strong>
                                                            {% if product.url != '' %}</a>{% endif %}
                                                        {% endspaceless %}
                                                    </p>
                                                    {% if (product.productFeatures != '') or (product.tagline != '') %}
                                                        {% if 'ENERGY RATING:' in product.tagline|upper %}
                                                            <p class="energy-rating">{{ product.tagline|replace({':': ': '})|replace({'Rated': ''})|raw|upper }}</p>
                                                        {% endif %}
                                                        <ul>
                                                            {% if (product.tagline != '') and ('ENERGY RATING:' not in product.tagline|upper) %}
                                                                <li>{{ product.tagline|raw }}</li>
                                                            {% endif %}
                                                        </ul>
                                                    {% endif %}
                                                    <div class="clear"></div>
                                                </div>
                                            {% endblock %}

                                            <div class="product-options">
                                                {% block product_prices %}
                                                    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                                                        <p class="ar product-price">
                                                            {% spaceless %}
                                                                {% if product.hide_price == 0 %}
                                                                    {% if product.url != '' %}
                                                                        <a href="{#{{ path('page_request', {'url': url}) }}#}">
                                                                    {% endif %}
                                                                    {% if product.low_price == product.high_price %}
                                                                        <span itemprop="price">&pound;{{ product.low_price|number_format(2) }}</span>
                                                                    {% else %}
                                                                        <span itemprop="price">&pound;{{ product.low_price|number_format(2) }}</span>
                                                                        <em> - </em>
                                                                        <span itemprop="price">&pound;{{ product.high_price|number_format(2) }}</span>
                                                                    {% endif %}
                                                                    {% if product.url != '' %}
                                                                        </a>
                                                                    {% endif %}
                                                                    <span class="product-tax"> (inc. VAT)</span>
                                                                {% else %}
                                                                    <a itemprop="price" href="{#{{ path('content_contact_us') }}#}">CONTACT US</a>
                                                                {% endif %}
                                                            {% endspaceless %}
                                                        </p>
                                                    </div>
                                                {% endblock %}

                                                {% block product_options %}

                                                {% endblock %}

                                                {% block product_features %}

                                                {% endblock %}

                                                {% block product_controls %}
                                                    <a href="{#{{ path('page_request', {'url': product.url}) }}#}" class="fr button ui-button-blue margin-bottom-5">More Info</a>
                                                    <div class="buy-now">
                                                        {% if (product.availableForPurchase == 1) and (product.hide_price == 0) %}
                                                            <table class="fr no-padding no-border" align="right" cellpadding="0" cellspacing="0" border="0">
                                                                <tr>
                                                                    {% if product.productCode == '' %}
                                                                        <td class="out-of-stock">Out of Stock Until Further Notice</td>
                                                                    {% else %}
                                                                        <td class="no-padding no-border"><input id="quantity-{{ product.id }}" data-product-id="{{ product.productId }}" class="ui-corner-none ui-corner-left number quantity" width="20" type="text" value="1" />id
                                                                        <td class="no-padding no-border">
                                                                            <div class="quantity-buttons-container no-padding">
                                                                                <div class="ui-corner-none ui-corner-tr action-increase-quantity" data-quantity-object="quantity-{{ product.id }}">+</div>
                                                                                <div class="ui-corner-none ui-corner-br action-decrease-quantity" data-quantity-object="quantity-{{ product.id }}">-</div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <button data-product-id="{{ product.id }}" class="action-add-to-basket button margin-left-5 ui-button-green">Add to Basket</button>
                                                                        </td>
                                                                    {% endif %}
                                                                </tr>
                                                            </table>
                                                            <input type="hidden" value="" id="selected-options-{{ product.id }}">
                                                        {% else %}
                                                            <a href="{#{{ path('content_contact_us') }}#}" class="fr button ui-button-green">Contact Us to Buy</a>
                                                        {% endif %}
                                                    </div>
                                                {% endblock %}
                                            </div>

                                            {% block product_misc %}
                                                {% if '|1034|1122|69|' in product.departmentIds %}
                                                    <div class="small-floating-offer small-floating-offer-top-left">
                                                        <p class="small-floating-offer-title">40% OFF</p>
                                                        <p class="small-floating-offer-description">Stellar<br />Pans</p>
                                                    </div>
                                                {% endif %}
                                                {% if product.brandId == '7' %}
                                                    <div class="medium-floating-offer medium-floating-offer-bottom-left">
                                                        <p class="medium-floating-offer-title">10% OFF</p>
                                                        <p class="medium-floating-offer-description">When you buy 3 or more CDA items</p>
                                                    </div>
                                                {% endif %}
                                            {% endblock %}
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                {% endblock %}
                            {% else %}
                                <p class="no-products">Sorry, there are currently no products in this department.</p>
                            {% endfor %}
                            <div class="clear"></div>
                        </div>
                        <div id="product-pagination-bottom" class="padding-bottom-15 padding-right-15">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                        <div class="clear"></div>
                    </section>
                </div>
            </div>

            <div class="grid_2 grid-filters">
                <div class="portlet">
                    <header>
                        <h2 class="ac">Refine Search By</h2>
                    </header>
                    <section class="no-padding">
                        <div id="filters">
                            <h5 id="filter-price-header" class="no-margin no-border-top">
                                {% spaceless %}
                                    Price
                                    <button data-filter="price" class="ui-corner-none ui-corner-right small button ui-button-dark-grey fr action-show-hide-filter" data-icon-primary="ui-icon-triangle-1-n" data-icon-only="true">Filter</button>
                                    <button data-filter="price" class="ui-corner-none ui-corner-left small button ui-button-dark-grey fr action-reset-filter" data-icon-primary="ui-icon-refresh" data-icon-only="true">Reset</button>
                                {% endspaceless %}
                            </h5>
                            <div id="filter-price-container">
                                <div id="filter-price" class="filter price-range-filter">
                                    <div class="range-slider-values">
                                        <span>&pound;</span>
                                        <input type="text" name="filter[low_price]" id="filter-low-price" value="{{ app.request.get('filter[low_price]', stats.getResult('low_price').min|default(0)|number_format(0), true) }}" />
                                        <span>&nbsp;-&nbsp;</span>
                                        <input type="text" name="filter[high_price]" id="filter-high-price" value="{{ app.request.get('filter[high_price]', stats.getResult('high_price').max|default(9999)|number_format(0), true) }}" />
                                    </div>
                                    <div class="price-range" id="price-range-slider"></div>
                                </div>
                            </div>

                            {% if departments|length > 0 %}
                                <h5 id="filter-brand-header" class="no-margin">
                                    {% spaceless %}
                                        Department
                                        <button data-filter="department" class="ui-corner-none ui-corner-right small button ui-button-dark-grey fr action-show-hide-filter" data-icon-primary="ui-icon-triangle-1-n" data-icon-only="true">Filter</button>
                                        <button data-filter="department" class="ui-corner-none ui-corner-left small button ui-button-dark-grey fr action-reset-filter" data-icon-primary="ui-icon-refresh" data-icon-only="true">Reset</button>
                                    {% endspaceless %}
                                </h5>
                                <div id="filter-department-container">
                                    <div id="filter-department" class="filter">
                                        <ul>
                                            {% include 'WebIlluminationSiteBundle:Listing:Includes/departmentTree.html.twig' with {'rootDepartment': department, 'departments': departments, 'brand': brand} %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}

                            {% if brand is null %}
                                <h5 id="filter-brand-header" class="no-margin">
                                    {% spaceless %}
                                        Brands
                                        <button data-filter="brand" class="ui-corner-none ui-corner-right small button ui-button-dark-grey fr action-show-hide-filter" data-icon-primary="ui-icon-triangle-1-n" data-icon-only="true">Filter</button>
                                        <button data-filter="brand" class="ui-corner-none ui-corner-left small button ui-button-dark-grey fr action-reset-filter" data-icon-primary="ui-icon-refresh" data-icon-only="true">Reset</button>
                                    {% endspaceless %}
                                </h5>
                                <div id="filter-brand-container">
                                    <div id="filter-brand" class="filter">
                                        <ul>
                                            {% for brand, count in facets.facet('brands') %}
                                                <li>
                                                    <input{% if brand in app.request.get('filter[brand]', null, true) %} checked="checked"{% endif %} name="filter[brand][]" type="checkbox" value="{{ brand }}" id="filter-brand-{{ loop.index }}" />
                                                    <label for="filter-brand-{{ loop.index }}"><span class="fr">({{ count }})</span>{{ brand }}</label>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                            {% if featureGroups|length > 0 %}
                                <h5 id="filter-feature-header" class="no-margin">
                                    {% spaceless %}
                                        Features
                                        <button data-filter="feature" class="ui-corner-none ui-corner-right small button ui-button-dark-grey fr action-show-hide-filter" data-icon-primary="ui-icon-triangle-1-n" data-icon-only="true">Filter</button>
                                        <button data-filter="feature" class="ui-corner-none ui-corner-left small button ui-button-dark-grey fr action-reset-filter" data-icon-primary="ui-icon-refresh" data-icon-only="true">Reset</button>
                                    {% endspaceless %}
                                </h5>
                                <div id="filter-feature-container">
                                    <div id="filter-feature" class="filter">
                                        <ul>
                                            {% for featureGroup in featureGroups %}
                                                {% if facets.facet('feature_'~featureGroup|replace({' ': ''})) is not null and facets.facet('feature_'~featureGroup|replace({' ': ''})).count > 0 %}
                                                    <li data-feature-group="{{ loop.index }}" class="filter-feature-group"><span class="ui-button-icon-primary ui-icon ui-icon-triangle-1-n"></span>{{ featureGroup }}</li>
                                                    {% for feature, count in facets.facet('feature_'~featureGroup|replace({' ': ''})) %}
                                                        <li>
                                                            <input{% if feature in app.request.get('filter[attr_feature_'~featureGroup~']', null, true) %} checked="checked"{% endif %} name="filter[attr_feature_{{ featureGroup }}][]" type="checkbox" value="{{ feature }}" id="filter-{{ featureGroup }}-{{ loop.index }}" />
                                                            <label for="filter-{{ loop.index }}"><span class="fr">({{ count }})</span>{{ feature }}</label>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <input type="hidden" name="filter-features" id="filter-features" value="{{ departmentListing.features }}" />
                                </div>
                            {% endif %}
                        </div>
                    </section>
                </div>
            </div>
            <div class="clear"></div>
        </form>
    </section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationShopBundle:Departments:indexScript.js.twig' with {'noAjax': noAjax, 'url': url, 'brand': brand, 'group': group, 'departmentListing': departmentListing, 'department': department, 'level': 1} %}

    <script type="text/javascript">
        $(document).ready(function() {
            $("#filter-department").jstree({
                "plugins" : ["themes","html_data"],
                "themes" : {
                    "theme" : "default",
                    "dots" : false,
                    "icons" : false
                }
            });
            $(":input", "#form-settings, #form-filter").live('change', function() {
                $(this).closest("form").submit();
            });
            $(".action-reset-filter").click(function() {
                // If the price filter is being reset then reset value to min/max
                if($(this).data('filter') === "price") {
                    var slider = $("#price-range-slider"),
                        lowField = $("#filter-low-price"),
                        highField = $("#filter-high-price");

                    lowField.unbind('change');
                    highField.unbind('change');

                    lowField.val(slider.slider("option", "min"));
                    highField.val(slider.slider("option", "max"));
                    console.log(":(");

                    $(this).closest("form").submit();
                } else {
                    $(":input", "#filter-"+$(this).data('filter'))
                        .not(':button, :submit, :reset, :hidden')
                        .val('')
                        .removeAttr('checked')
                        .removeAttr('selected');
                }
            });
            $("#price-range-slider").slider({
                range: true,
                min: parseInt({{ stats.getResult('low_price').min|default(0) }}, 10),
                max: parseInt({{ stats.getResult('high_price').max|default(9999) }}, 10),
                values: [parseInt('{{ app.request.get('filter[low_price]', stats.getResult('low_price').min|default(0), true) }}', 10), parseInt('{{ app.request.get('filter[high_price]', stats.getResult('high_price').max|default(9999), true) }}', 10)],
                slide: function(event, ui) {
                    $("#filter-low-price").val(ui.values[0]);
                    $("#filter-high-price").val(ui.values[1]);
                },
                change: function(event, ui) {
                    $(this).closest("form").submit();
                }
            });
        });
    </script>
{% endblock %}