{% extends '::shop.html.twig' %}
{% block title %}{{ department.pageTitle }}{% endblock %}
{% block metatags %}
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="-1">
	<meta name="description" content="{{ department.metaDescription }}">
	<meta name="keywords" content="{{ department.metaKeywords }}">
	<meta name="fragment" content="!">
	{% if departmentListing.brandId > 0 %}
		<link rel="canonical" href="{{ asset(path('department_with_brand_view_all', {'url': url, 'brand': departmentListing.brand}), 'nocdn') }}" />
	{% else %}
		<link rel="canonical" href="{{ asset(path('department_view_all', {'url': url}), 'nocdn') }}" />
	{% endif %}
{% endblock %}
{% block body %}
	<header>
		<h1 class="uppercase">{{ department.header }}</h1>
		{% if department.departmentPaths|length > 1 %}
			<div class="breadcrumb-trail no-margin" itemprop="breadcrumb">
				{% for departmentPath in department.departmentPaths %}
					<a href="{{ departmentPath.routing }}">{{ departmentPath.department }}</a>{% if not loop.last %}&nbsp;&nbsp;&gt;&nbsp;&nbsp;{% endif %}
				{% endfor %}
			</div>
		{% endif %}
		{% if department.description %}
			<div class="department-description">
				{{ department.description|raw }}
			</div>
		{% endif %}
	</header>
	<section class="container_6 clearfix">
		<div class="grid_4 grid-listings"> 
			<div class="portlet">
				<header>
	                <h2 id="product-count">
	                	{% if noAjax > 0 %}
							{% render "WebIlluminationShopBundle:Products:getProductListingCount" with {'url': url, 'departmentBrand': brand, 'departmentGroup': group, 'department': department, 'productListingSettings': productListingSettings, 'departmentListing': departmentListing} %}
						{% else %}
							<img src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" /> Loading&hellip;
	                	{% endif %}
	                </h2>
	            </header>
				<section class="clearfix no-padding-right no-padding-bottom">
					<div id="product-sorting">
						<div class="fl">
							<div class="buttonset-title fl">Sort By</div>
							<select name="sort-order" id="sort-order">
								<option{% if productListingSettings.sortOrder == 'listPrice:ASC' %} selected="selected"{% endif %} value="listPrice:ASC">Price: Lowest First</option>
								<option{% if productListingSettings.sortOrder == 'listPrice:DESC' %} selected="selected"{% endif %} value="listPrice:DESC">Price: Highest First</option>
								<option{% if productListingSettings.sortOrder == 'savings:DESC' %} selected="selected"{% endif %} value="savings:DESC">Special Offers: Biggest Savings First</option>
								<option{% if productListingSettings.sortOrder == 'discount:DESC' %} selected="selected"{% endif %} value="discount:DESC">Special Offers: Biggest Discounts First</option>
								<option{% if productListingSettings.sortOrder == 'product:ASC' %} selected="selected"{% endif %} value="product:ASC">Alphabetically: A-Z</option>
								<option{% if productListingSettings.sortOrder == 'product:DESC' %} selected="selected"{% endif %} value="product:DESC">Alphabetically: Z-A</option>
								<option{% if productListingSettings.sortOrder == 'createdAt:DESC' %} selected="selected"{% endif %} value="createdAt:DESC">Latest</option>
							</select>
						</div>
                        <div class="fr">
                        	<div class="buttonset-title fl">Per Page</div>
	                        <select class="fl" id="results-per-page">
								<option{% if productListingSettings.maxResults == '10' %} selected="selected"{% endif %} value="10">10</option>
								<option{% if productListingSettings.maxResults == '20' %} selected="selected"{% endif %} value="20">20</option>
								<option{% if productListingSettings.maxResults == '50' %} selected="selected"{% endif %} value="50">50</option>
								<option{% if productListingSettings.maxResults == '100' %} selected="selected"{% endif %} value="100">100</option>
								<option{% if productListingSettings.maxResults == '99999999' %} selected="selected"{% endif %} value="99999999">All</option>
							</select>
							<input type="hidden" name="form-current-page" id="current-page" value="{{ departmentListing.page }}" />
						</div>
                        <div class="clear"></div>
					</div>
					<div id="product-pagination-top" class="padding-bottom-15 padding-right-15{% if noAjax < 1 %} ui-helper-hidden{% endif %}">
						{% if noAjax > 0 %}
							{% render "WebIlluminationShopBundle:Products:getProductListingPagination" with {'url': url, 'departmentBrand': brand, 'departmentGroup': group, 'department': department, 'productListingSettings': productListingSettings, 'departmentListing': departmentListing} %}
						{% endif %}
					</div>
					<div id="products"{% if noAjax < 1 %} class="ui-helper-hidden"{% endif %}>
						{% if noAjax > 0 %}
							{% render "WebIlluminationShopBundle:Products:getProductListing" with {'url': url, 'departmentBrand': brand, 'departmentGroup': group, 'department': department, 'productListingSettings': productListingSettings, 'departmentListing': departmentListing} %}
						{% endif %}
					</div>
					<div id="products-loading" class="loading-container{% if noAjax > 0 %} ui-helper-hidden{% endif %}">
						<p><img src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" /></p>
						<p>Loading Products&hellip;</p>
					</div>
					<div id="product-pagination-bottom" class="padding-bottom-15 padding-right-15{% if noAjax < 1 %} ui-helper-hidden{% endif %}">
						{% if noAjax > 0 %}
							{% render "WebIlluminationShopBundle:Products:getProductListingPagination" with {'url': url, 'departmentBrand': brand, 'departmentGroup': group, 'department': department, 'productListingSettings': productListingSettings, 'departmentListing': departmentListing} %}
						{% endif %}
					</div>
		        	<div class="clear"></div>
				</section>
	        </div>
	    </div>
		<div class="grid_2 grid-filters">
			<div class="portlet">
				<header>
	                <h2 class="ac">Refine Search By</h2>
	            </header>
				<section class="no-padding">
					<div id="filters">
						<input type="hidden" name="filter-group" id="filter-group" value="{{ departmentListing.group }}" />
						<h5 id="filter-price-header" class="no-margin no-border-top">{% spaceless %}
							Price
							<button data-filter="price" class="ui-corner-none ui-corner-right small button ui-button-dark-grey fr action-show-hide-filter" data-icon-primary="ui-icon-triangle-1-n" data-icon-only="true">Filter</button>
							<button data-filter="price" class="ui-corner-none ui-corner-left small button ui-button-dark-grey fr action-reset-filter" data-icon-primary="ui-icon-refresh" data-icon-only="true">Reset</button>
						{% endspaceless %}</h5>
						<div id="filter-price-container">
							<div id="filter-price-loading" class="loading-container{% if noAjax > 0 %} ui-helper-hidden{% endif %}">
								<p><img src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" /></p>
								<p>Loading Price Range&hellip;</p>
							</div>
							<div id="filter-price" class="filter price-range-filter{% if noAjax < 1 %} ui-helper-hidden{% endif %}">
								{% if noAjax > 0 %}
									{% render "WebIlluminationShopBundle:Products:getProductListingPriceFilter" with {'url': url, 'departmentBrand': brand, 'departmentGroup': group, 'department': department, 'productListingSettings': productListingSettings, 'departmentListing': departmentListing} %}
								{% endif %}
							</div>
							<input type="hidden" name="filter-price-reset-from" id="filter-price-reset-from" value="{{ departmentListing.priceFrom }}" />
							<input type="hidden" name="filter-price-reset-to" id="filter-price-reset-to" value="{{ departmentListing.priceTo }}" />
						</div>
						<h5 id="filter-department-header" class="no-margin">{% spaceless %}
							Department
							<button data-filter="department" class="ui-corner-none ui-corner-right small button ui-button-dark-grey fr action-show-hide-filter" data-icon-primary="ui-icon-triangle-1-n" data-icon-only="true">Filter</button>
							<button data-filter="department" class="ui-corner-none ui-corner-left small button ui-button-dark-grey fr action-reset-filter" data-icon-primary="ui-icon-refresh" data-icon-only="true">Reset</button>
						{% endspaceless %}</h5>
						<div id="filter-department-container">
							<div id="filter-department-loading" class="loading-container no-margin{% if noAjax > 0 %} ui-helper-hidden{% endif %}">
								<p><img src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" /></p>
								<p>Loading Available Departments&hellip;</p>
							</div>
							<div id="filter-department" class="filter{% if noAjax < 1 %} ui-helper-hidden{% endif %}">
								{% if noAjax > 0 %}
									{% render "WebIlluminationShopBundle:Products:getProductListingDepartmentFilter" with {'url': url, 'departmentBrand': brand, 'departmentGroup': group, 'department': department, 'productListingSettings': productListingSettings, 'departmentListing': departmentListing} %}
								{% endif %}
							</div>
						</div>
						{% if departmentListing.brandId > 0 %}
							<input type="hidden" name="filter-brands" id="filter-brands" value="{{ departmentListing.brandId }}" />
						{% else %}
							<h5 id="filter-brand-header" class="no-margin">{% spaceless %}
								Brands
								<button data-filter="brand" class="ui-corner-none ui-corner-right small button ui-button-dark-grey fr action-show-hide-filter" data-icon-primary="ui-icon-triangle-1-n" data-icon-only="true">Filter</button>
								<button data-filter="brand" class="ui-corner-none ui-corner-left small button ui-button-dark-grey fr action-reset-filter" data-icon-primary="ui-icon-refresh" data-icon-only="true">Reset</button>
							{% endspaceless %}</h5>
							<div id="filter-brand-container">
								<div id="filter-brand-loading" class="loading-container{% if noAjax > 0 %} ui-helper-hidden{% endif %}">
									<p><img src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" /></p>
									<p>Loading Available Brands&hellip;</p>
								</div>
								<div id="filter-brand" class="filter{% if noAjax < 1 %} ui-helper-hidden{% endif %}">
									{% if noAjax > 0 %}
										{% render "WebIlluminationShopBundle:Products:getProductListingBrandFilter" with {'url': url, 'departmentBrand': brand, 'departmentGroup': group, 'department': department, 'productListingSettings': productListingSettings, 'departmentListing': departmentListing} %}
									{% endif %}
								</div>
								<input type="hidden" name="filter-brands" id="filter-brands" value="{{ departmentListing.brands }}" />
							</div>
						{% endif %}
						<h5 id="filter-feature-header" class="no-margin">{% spaceless %}
							Features
							<button data-filter="feature" class="ui-corner-none ui-corner-right small button ui-button-dark-grey fr action-show-hide-filter" data-icon-primary="ui-icon-triangle-1-n" data-icon-only="true">Filter</button>
							<button data-filter="feature" class="ui-corner-none ui-corner-left small button ui-button-dark-grey fr action-reset-filter" data-icon-primary="ui-icon-refresh" data-icon-only="true">Reset</button>
						{% endspaceless %}</h5>
						<div id="filter-feature-container">
							<div id="filter-feature-loading" class="loading-container{% if noAjax > 0 %} ui-helper-hidden{% endif %}">
								<p><img src="{{ asset('bundles/webilluminationshop/images/loaders/ajax-bars-loader.gif') }}" border="0" alt="Loading" /></p>
								<p>Loading Available Feature&hellip;</p>
							</div>
							<div id="filter-feature" class="filter{% if noAjax < 1 %} ui-helper-hidden{% endif %}">
								{% if noAjax > 0 %}
									{% render "WebIlluminationShopBundle:Products:getProductListingFeatureFilter" with {'url': url, 'departmentBrand': brand, 'departmentGroup': group, 'department': department, 'productListingSettings': productListingSettings, 'departmentListing': departmentListing} %}
								{% endif %}
							</div>
							<input type="hidden" name="filter-features" id="filter-features" value="{{ departmentListing.features }}" />
						</div>
					</div>
				</section>
	        </div>
	    </div>
	   	<div class="clear"></div>
	</section>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{% include 'WebIlluminationShopBundle:Departments:indexScript.js.twig' with {'noAjax': noAjax, 'url': url, 'brand': brand, 'group': group, 'departmentListing': departmentListing, 'department': department} %}
{% endblock %}